---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-Nh84JNElLXzE-list"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_xnaLOatuiyXnjX0C","name":"tf-acc-test-update-Nh84JNElLXzE-list","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c4ef1e98e35f7dc12adc42f057a1d0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_xnaLOatuiyXnjX0C
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_xnaLOatuiyXnjX0C","name":"tf-acc-test-update-Nh84JNElLXzE-list","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c4ef1e98e35f7dc12adc42f057a1d0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_xnaLOatuiyXnjX0C"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-update-Nh84JNElLXzE-entry"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_kM32gz12fTC9gQUn","address":"1.1.1.1","name":"tf-acc-test-update-Nh84JNElLXzE-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ed4fdd04ce60e91b2c5f490a48fbee1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_kM32gz12fTC9gQUn
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_kM32gz12fTC9gQUn","address":"1.1.1.1","name":"tf-acc-test-update-Nh84JNElLXzE-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ed4fdd04ce60e91b2c5f490a48fbee1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_kM32gz12fTC9gQUn"},"properties":{"address":"8.8.8.8","name":"tf-acc-test-update-Nh84JNElLXzE-entry-updated"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: PATCH
  response:
    body: '{"address_list_entry":{"id":"adlste_kM32gz12fTC9gQUn","address":"8.8.8.8","name":"tf-acc-test-update-Nh84JNElLXzE-entry-updated"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"371c3c5ee79450c3df5e7c6d111d396d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_xnaLOatuiyXnjX0C"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_xnaLOatuiyXnjX0C","name":"tf-acc-test-update-Nh84JNElLXzE-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cebd525e907afefb78226e9a039212f7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_kM32gz12fTC9gQUn
    method: GET
  response:
    body: '{"error":{"code":"address_list_entry_not_found","description":"No address
      list entry was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 404 Not Found
    code: 404
    duration: ""
