---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-M7a8YjVwA2nU-list"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_bIZkqSajghZSbBsE","name":"tf-acc-test-update-M7a8YjVwA2nU-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80a279e68344b28e74d7fcb61641af56"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_bIZkqSajghZSbBsE
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_bIZkqSajghZSbBsE","name":"tf-acc-test-update-M7a8YjVwA2nU-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80a279e68344b28e74d7fcb61641af56"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_bIZkqSajghZSbBsE"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-update-M7a8YjVwA2nU-entry"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_aQWwQjzXPWAY5GJT","address":"1.1.1.1","name":"tf-acc-test-update-M7a8YjVwA2nU-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06013bdedee39ed6d2d8ae8801820538"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_aQWwQjzXPWAY5GJT
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_aQWwQjzXPWAY5GJT","address":"1.1.1.1","name":"tf-acc-test-update-M7a8YjVwA2nU-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06013bdedee39ed6d2d8ae8801820538"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_aQWwQjzXPWAY5GJT"},"properties":{"address":"8.8.8.8","name":"tf-acc-test-update-M7a8YjVwA2nU-entry-updated"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: PATCH
  response:
    body: '{"address_list_entry":{"id":"adlste_aQWwQjzXPWAY5GJT","address":"8.8.8.8","name":"tf-acc-test-update-M7a8YjVwA2nU-entry-updated"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4532875e5f84d5cba8045ac4a3781f5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_bIZkqSajghZSbBsE"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_bIZkqSajghZSbBsE","name":"tf-acc-test-update-M7a8YjVwA2nU-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80a279e68344b28e74d7fcb61641af56"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_aQWwQjzXPWAY5GJT
    method: GET
  response:
    body: '{"error":{"code":"address_list_entry_not_found","description":"No address
      list entry was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 404 Not Found
    code: 404
    duration: ""
