---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-OK7zuCv4RbpF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_w4YdsWDb33iWR1V2","name":"tf-acc-test-minimal-OK7zuCv4RbpF","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3145f68526dfb3c50e215541f23888c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_w4YdsWDb33iWR1V2
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_w4YdsWDb33iWR1V2","name":"tf-acc-test-minimal-OK7zuCv4RbpF","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3145f68526dfb3c50e215541f23888c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_w4YdsWDb33iWR1V2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/:address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_w4YdsWDb33iWR1V2","name":"tf-acc-test-minimal-OK7zuCv4RbpF","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3145f68526dfb3c50e215541f23888c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_w4YdsWDb33iWR1V2
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 404 Not Found
    code: 404
    duration: ""
