---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-qZXImEllHyVf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_zmWx7jsZpU7F8vGC","name":"tf-acc-test-update-qZXImEllHyVf","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"286bc807ab5424ebd5e2e552173df121"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_zmWx7jsZpU7F8vGC
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_zmWx7jsZpU7F8vGC","name":"tf-acc-test-update-qZXImEllHyVf","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"286bc807ab5424ebd5e2e552173df121"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_zmWx7jsZpU7F8vGC"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-update-5FYyWtiMdrUP"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/:address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_czd1j7sTAQzH86cU","address":"1.1.1.1","name":"tf-acc-test-update-5FYyWtiMdrUP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c9662c5c0766587176c75c29fda3f91"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/:address_list_entry?address_list_entry%5Bid%5D=adlste_czd1j7sTAQzH86cU
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_czd1j7sTAQzH86cU","address":"1.1.1.1","name":"tf-acc-test-update-5FYyWtiMdrUP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c9662c5c0766587176c75c29fda3f91"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_czd1j7sTAQzH86cU"},"properties":{"address":"8.8.8.8","name":"tf-acc-test-update-5FYyWtiMdrUP-updated"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/:address_list_entry
    method: PATCH
  response:
    body: '{"address_list_entry":{"id":"adlste_czd1j7sTAQzH86cU","address":"8.8.8.8","name":"tf-acc-test-update-5FYyWtiMdrUP-updated"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"63c08ab96c0df714faabd8099ae48007"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_zmWx7jsZpU7F8vGC"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/:address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_zmWx7jsZpU7F8vGC","name":"tf-acc-test-update-qZXImEllHyVf","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"286bc807ab5424ebd5e2e552173df121"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/:address_list_entry?address_list_entry%5Bid%5D=adlste_czd1j7sTAQzH86cU
    method: GET
  response:
    body: '{"error":{"code":"address_list_entry_not_found","description":"No address
      list entry was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 404 Not Found
    code: 404
    duration: ""
