---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-qNMxS5sAjYrv-list"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_Pvbau3oc3Qtjqlu8","name":"tf-acc-test-minimal-qNMxS5sAjYrv-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b017368660056aa0d2abe4d47a429d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_Pvbau3oc3Qtjqlu8
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_Pvbau3oc3Qtjqlu8","name":"tf-acc-test-minimal-qNMxS5sAjYrv-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b017368660056aa0d2abe4d47a429d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_Pvbau3oc3Qtjqlu8"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-minimal-qNMxS5sAjYrv-entry"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_NjH4uCZvaQNzPE3c","address":"1.1.1.1","name":"tf-acc-test-minimal-qNMxS5sAjYrv-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cccac3fddc7cd35542e2d31201844c34"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_NjH4uCZvaQNzPE3c
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_NjH4uCZvaQNzPE3c","address":"1.1.1.1","name":"tf-acc-test-minimal-qNMxS5sAjYrv-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cccac3fddc7cd35542e2d31201844c34"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_NjH4uCZvaQNzPE3c"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_NjH4uCZvaQNzPE3c","address":"1.1.1.1","name":"tf-acc-test-minimal-qNMxS5sAjYrv-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cccac3fddc7cd35542e2d31201844c34"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_Pvbau3oc3Qtjqlu8"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_Pvbau3oc3Qtjqlu8","name":"tf-acc-test-minimal-qNMxS5sAjYrv-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b017368660056aa0d2abe4d47a429d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_NjH4uCZvaQNzPE3c
    method: GET
  response:
    body: '{"error":{"code":"address_list_entry_not_found","description":"No address
      list entry was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 404 Not Found
    code: 404
    duration: ""
