---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-0j3Bp9DIxwcs"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_O6TSIic4Wp7vmr1g","name":"tf-acc-test-update-0j3Bp9DIxwcs","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"18b1a39b5cf6fb8a34083fb17e61c2b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_O6TSIic4Wp7vmr1g
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_O6TSIic4Wp7vmr1g","name":"tf-acc-test-update-0j3Bp9DIxwcs","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"18b1a39b5cf6fb8a34083fb17e61c2b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_O6TSIic4Wp7vmr1g"},"properties":{"name":"tf-acc-test-update-0j3Bp9DIxwcs-updated"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/:address_list
    method: PATCH
  response:
    body: '{"address_list":{"id":"adlst_O6TSIic4Wp7vmr1g","name":"tf-acc-test-update-0j3Bp9DIxwcs-updated","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"643e17886715ae98b095aaee37333626"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_O6TSIic4Wp7vmr1g
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 404 Not Found
    code: 404
    duration: ""
