---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-4guQCMLRv9Z4-list"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_UU9bDkGxZxHQvMQS","name":"tf-acc-test-minimal-4guQCMLRv9Z4-list","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"793ad66a28d4e00d005657afd9a86052"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_UU9bDkGxZxHQvMQS
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_UU9bDkGxZxHQvMQS","name":"tf-acc-test-minimal-4guQCMLRv9Z4-list","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"793ad66a28d4e00d005657afd9a86052"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_UU9bDkGxZxHQvMQS"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-minimal-4guQCMLRv9Z4-entry"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_kVMpa1Ok4U8n69WR","address":"1.1.1.1","name":"tf-acc-test-minimal-4guQCMLRv9Z4-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1618ded3556ad06c2fd32f332e34539"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_kVMpa1Ok4U8n69WR
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_kVMpa1Ok4U8n69WR","address":"1.1.1.1","name":"tf-acc-test-minimal-4guQCMLRv9Z4-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1618ded3556ad06c2fd32f332e34539"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_kVMpa1Ok4U8n69WR"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_kVMpa1Ok4U8n69WR","address":"1.1.1.1","name":"tf-acc-test-minimal-4guQCMLRv9Z4-entry"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1618ded3556ad06c2fd32f332e34539"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_UU9bDkGxZxHQvMQS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_UU9bDkGxZxHQvMQS","name":"tf-acc-test-minimal-4guQCMLRv9Z4-list","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"255edaa1debb32bf84e39c74a5e692fa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_kVMpa1Ok4U8n69WR
    method: GET
  response:
    body: '{"error":{"code":"address_list_entry_not_found","description":"No address
      list entry was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 404 Not Found
    code: 404
    duration: ""
