---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-W4CXndaus82X"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_ZTHqEI2yzMQxYAVD","name":"tf-acc-test-minimal-W4CXndaus82X","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c57e3de3b62dd86081566e44976f3e70"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_ZTHqEI2yzMQxYAVD
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_ZTHqEI2yzMQxYAVD","name":"tf-acc-test-minimal-W4CXndaus82X","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c57e3de3b62dd86081566e44976f3e70"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_ZTHqEI2yzMQxYAVD"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-minimal-eMc3U7nd35e7"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/:address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_RBx3691WGZ1PJ3Oj","address":"1.1.1.1","name":"tf-acc-test-minimal-eMc3U7nd35e7"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b01ec82aa6259baebe3887e2d51c4d5e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/:address_list_entry?address_list_entry%5Bid%5D=adlste_RBx3691WGZ1PJ3Oj
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_RBx3691WGZ1PJ3Oj","address":"1.1.1.1","name":"tf-acc-test-minimal-eMc3U7nd35e7"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b01ec82aa6259baebe3887e2d51c4d5e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_RBx3691WGZ1PJ3Oj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/:address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_RBx3691WGZ1PJ3Oj","address":"1.1.1.1","name":"tf-acc-test-minimal-eMc3U7nd35e7"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b01ec82aa6259baebe3887e2d51c4d5e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_ZTHqEI2yzMQxYAVD"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/:address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_ZTHqEI2yzMQxYAVD","name":"tf-acc-test-minimal-W4CXndaus82X","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c57e3de3b62dd86081566e44976f3e70"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/:address_list_entry?address_list_entry%5Bid%5D=adlste_RBx3691WGZ1PJ3Oj
    method: GET
  response:
    body: '{"error":{"code":"address_list_entry_not_found","description":"No address
      list entry was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 404 Not Found
    code: 404
    duration: ""
