---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-qopt7g2ua18w","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_urAgMAemdiK1HC3D","name":"tf-acc-test-data-source-by-id-qopt7g2ua18w","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd1896d91d740d0cecbde3c1416b4a58"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "758"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_urAgMAemdiK1HC3D
    method: GET
  response:
    body: '{"security_group":{"id":"sg_urAgMAemdiK1HC3D","name":"tf-acc-test-data-source-by-id-qopt7g2ua18w","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd1896d91d740d0cecbde3c1416b4a58"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "756"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["93.89.203.0/24"],"notes":"Trusted SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_urAgMAemdiK1HC3D/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_cDHuiAQalZ1ZkaXg","security_group":{"id":"sg_urAgMAemdiK1HC3D","name":"tf-acc-test-data-source-by-id-qopt7g2ua18w"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["93.89.203.0/24"],"notes":"Trusted
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"91efb9e69000524dff12b701751c4c29"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "755"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_cDHuiAQalZ1ZkaXg
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_cDHuiAQalZ1ZkaXg","security_group":{"id":"sg_urAgMAemdiK1HC3D","name":"tf-acc-test-data-source-by-id-qopt7g2ua18w"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["93.89.203.0/24"],"notes":"Trusted
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"91efb9e69000524dff12b701751c4c29"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "754"
    status: 200 OK
    code: 200
    duration: ""
[...]
