---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
