---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/network_speed_profiles?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":4,"per_page":30,"large_set":false},"network_speed_profiles":[{"id":"nsp_OJRYLIcdw01g7apm","name":"500Mbps","upload_speed_in_mbit":500,"download_speed_in_mbit":500,"permalink":"500mbps"},{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","upload_speed_in_mbit":1000,"download_speed_in_mbit":null,"permalink":"1gbps"},{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","upload_speed_in_mbit":10000,"download_speed_in_mbit":null,"permalink":"10gbps"},{"id":"nsp_81Ah8cbAbaA9zGzX","name":"Unrestricted","upload_speed_in_mbit":null,"download_speed_in_mbit":null,"permalink":"unrestricted"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87701fa689a1c7fc50d5136dcffb72fd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/network_speed_profiles?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=200
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":4,"per_page":200,"large_set":false},"network_speed_profiles":[{"id":"nsp_OJRYLIcdw01g7apm","name":"500Mbps","upload_speed_in_mbit":500,"download_speed_in_mbit":500,"permalink":"500mbps"},{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","upload_speed_in_mbit":1000,"download_speed_in_mbit":null,"permalink":"1gbps"},{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","upload_speed_in_mbit":10000,"download_speed_in_mbit":null,"permalink":"10gbps"},{"id":"nsp_81Ah8cbAbaA9zGzX","name":"Unrestricted","upload_speed_in_mbit":null,"download_speed_in_mbit":null,"permalink":"unrestricted"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38d9e03dd84d9d9e41eb6d85aada026a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
