---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-basic-nBJ44HOmP2Lm","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_5loH5wI78sG8ZVKx","name":"tf-acc-test-data-source-basic-nBJ44HOmP2Lm","segregate":true,"auto_segregate":false,"created_at":1778511745}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3d771b2efcba6b3ef52590b92081bb8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_5loH5wI78sG8ZVKx
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_5loH5wI78sG8ZVKx","name":"tf-acc-test-data-source-basic-nBJ44HOmP2Lm","segregate":true,"auto_segregate":false,"created_at":1778511745}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3d771b2efcba6b3ef52590b92081bb8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_5loH5wI78sG8ZVKx"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_5loH5wI78sG8ZVKx","name":"tf-acc-test-data-source-basic-nBJ44HOmP2Lm","segregate":true,"auto_segregate":false,"created_at":1778511745}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3d771b2efcba6b3ef52590b92081bb8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_5loH5wI78sG8ZVKx
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
