---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0-group","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_i1X5eW9GA0kvuLJj","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0-group","segregate":true,"auto_segregate":false,"created_at":1778245103}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9ce090eb920aaa78846cc7e7a32a70b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_i1X5eW9GA0kvuLJj
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_i1X5eW9GA0kvuLJj","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0-group","segregate":true,"auto_segregate":false,"created_at":1778245103}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9ce090eb920aaa78846cc7e7a32a70b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"185-53-57-146.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b6bb5b520ad29fbeac3bd173fdedbe2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_HkxhtyjL6oxik5Tm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"185-53-57-146.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2937504c4355622ec64b3205024c9106"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkIn[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_yXdh9FTcCgmYy8c1
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_yXdh9FTcCgmYy8c1","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: '{"properties":{"tag_names":["public","web"]},"virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0","hostname":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host","fqdn":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778245113,"initial_root_password":"acR9TzE37SRL6vgC","state":"allocating","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_i1X5eW9GA0kvuLJj","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0-group","segregate":true,"auto_segregate":false,"created_at":1778245103},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_CDE9AhgMvuTOOBoK","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b917855f1a057cf90e938906c3cfc789"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_CDE9AhgMvuTOOBoK
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0","hostname":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host","fqdn":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terraform-acc-test.katapult.cloud","description":"A
      web server.",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_CDE9AhgMvuTOOBoK
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_RoGd6SFSzPm4ndDN","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.53.57.146/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5362e46fa089813faf106276610f324"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_RoGd6SFSzPm4ndDN
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_RoGd6SFSzPm4ndDN","virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:59:ad:61:19:7c","state":"attached","ip_addresses":[{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"77b456e4310b9ce69c20c57e8b1263cb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_CDE9AhgMvuTOOBoK
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_v7PpyHZ8plXQN5yu","name":"System
      Disk","size_in_gb":25,"wwn":"0b1af5b349da4d9d","state":"built","created_at":1778245114},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0ac6bd074001fd38976326ca110ecc57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0","hostname":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host","fqdn":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terra[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_HkxhtyjL6oxik5Tm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_CDE9AhgMvuTOOBoK","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_CDE9AhgMvuTOOBoK","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7bcc7d4473a5ec2d45181addf9dab9d8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_kK7YLEUnOmLKUcXQ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e226a32117444e57be4de0dfdc436399"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_kK7YLEUnOmLKUcXQ
    method: GET
  response:
    body: '{"task":{"id":"task_kK7YLEUnOmLKUcXQ","name":"Stop virtual machine","status":"pending","created_at":1778245149,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c5b28178601dba04b716f109ce43a720"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_zsppYOcsvRHWXSOR","keep_until":1778417977,"object_id":"vm_CDE9AhgMvuTOOBoK","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_CDE9AhgMvuTOOBoK","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0","hostname":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host","fqdn":"tf-acc-test-data-source-by-fqdn-sailvpnvymx0-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778245113,"initial_root_password":"acR9TzE37SRL6vgC","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_zsppYOcsvRHWXSOR"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_p2JVIdwdmdh7Ng7r","name":"Purge items from trash","status":"pending","created_at":1778245177,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df4d493eff91c8f4146655a65e9eaac5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_zsppYOcsvRHWXSOR
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_zsppYOcsvRHWXSOR","keep_until":1778417977,"object_id":"vm_CDE9AhgMvuTOOBoK","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57fdb48279faa35eac98eca78bcf337a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_zsppYOcsvRHWXSOR
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_i1X5eW9GA0kvuLJj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_i1X5eW9GA0kvuLJj","name":"tf-acc-test-data-source-by-fqdn-saiLVPnVYmX0-group","segregate":true,"auto_segregate":false,"created_at":1778245103}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9ce090eb920aaa78846cc7e7a32a70b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_CDE9AhgMvuTOOBoK
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
