---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "171"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_OdBBUm8jw8o1gJQe","address":"185.53.57.235","reverse_dns":"185-53-57-235.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.235/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d466748a7d0a417cd867c44aa02e0e5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_OdBBUm8jw8o1gJQe
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_OdBBUm8jw8o1gJQe","address":"185.53.57.235","reverse_dns":"185-53-57-235.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.235/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74d4d9544d79ad9d435f5b119808068d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Baddress%5D=185.53.57.235
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_OdBBUm8jw8o1gJQe","address":"185.53.57.235","reverse_dns":"185-53-57-235.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.235/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74d4d9544d79ad9d435f5b119808068d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "136"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_OdBBUm8jw8o1gJQe
    method: GET
  response:
    body: '{"error":{"code":"ip_address_not_found","description":"No IP addresses
      were found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "101"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
