---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_CyG9WoN6qklT89yj","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e2c687869d2b91bb6df6da418e960418"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_CyG9WoN6qklT89yj
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_CyG9WoN6qklT89yj","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e2c687869d2b91bb6df6da418e960418"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_CyG9WoN6qklT89yj"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ-entry-one"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_J2SXHEDiybWnySLL","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ab2d75d4af29b65aeb500ba55658019f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_J2SXHEDiybWnySLL
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_J2SXHEDiybWnySLL","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ab2d75d4af29b65aeb500ba55658019f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_lr7cUxOX9bNupous
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_lr7cUxOX9bNupous","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ-entry-two"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86b9860bbe8167f8ed550f8bca34434c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries?address_list%5Bid%5D=adlst_CyG9WoN6qklT89yj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"address_list_entries":[{"id":"adlste_J2SXHEDiybWnySLL","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ-entry-one"},{"id":"adlste_lr7cUxOX9bNupous","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ-entry-two"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"479afe238837fbbea4bf6996a2b14e17"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_lr7cUxOX9bNupous"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_lr7cUxOX9bNupous","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ-entry-two"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86b9860bbe8167f8ed550f8bca34434c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "925"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_CyG9WoN6qklT89yj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_CyG9WoN6qklT89yj","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"039649ca9b0ac66c3c547e558a328b71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_CyG9WoN6qklT89yj
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 404 Not Found
    code: 404
    duration: ""
