---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-yMVTPVJYxtV4","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_8vPSZP3cfvmt73NL","name":"tf-acc-test-data-source-minimal-yMVTPVJYxtV4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3178c3e18d8a7447fa952fbacee8ca7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_8vPSZP3cfvmt73NL
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_8vPSZP3cfvmt73NL","name":"tf-acc-test-data-source-minimal-yMVTPVJYxtV4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"603c9fab0afd0aa2a5c69883e820948a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_8vPSZP3cfvmt73NL
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_RIh8rQ0q2Qfmep9g","keep_until":1704974292,"object_id":"fsv_8vPSZP3cfvmt73NL","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_8vPSZP3cfvmt73NL","name":"tf-acc-test-data-source-minimal-yMVTPVJYxtV4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_8vPSZP3cfvmt73NL","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0ec0a6c1c52b8c3fe326e2c181aef2c4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_8vPSZP3cfvmt73NL
    method: DELETE
  response:
    body: '{"task":{"id":"task_W7QBaPVd1TXvbWuY","name":"Purge items from trash","status":"pending","created_at":1704801492,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8bf845c9259bcd7946aeee9faccef2c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_8vPSZP3cfvmt73NL
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
