---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_zg5Qk6BQgheKodCi","address":"185.44.252.135","reverse_dns":"185-44-252-135.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.135/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7779521f5426c80bafae863ba7a0e13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_zg5Qk6BQgheKodCi
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_zg5Qk6BQgheKodCi","address":"185.44.252.135","reverse_dns":"185-44-252-135.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.135/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28ef10ed7e2ac53710367be119460718"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_zg5Qk6BQgheKodCi\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-data-source-associations-e5povvb4do0n-web\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_gtRl1OckT8yXSxiv","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_nc3y4pvWOAtvYs3Z","state":"pending"},"virtual_machine_build":{"id":"vmbuild_nc3y4pvWOAtvYs3Z","state":"pending"},"hostname":"tf-acc-test-data-source-associations-e5povvb4do0n-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e2fa2da87c4565776c1f465c2c6a3cd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_nc3y4pvWOAtvYs3Z
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_nc3y4pvWOAtvYs3Z","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.135\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-data-source-associations-e5povvb4do0n-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1778512559},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33ad0f570df7b7913b9dfda21b510ff2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_3G7nsuWNKi3BCSlt
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_3G7nsuWNKi3BCSlt","name":"tf-acc-test-data-source-associations-e5povvb4do0n-web","hostname":"tf-acc-test-data-source-associations-e5povvb4do0n-web","fqdn":"tf-acc-test-data-source-associations-e5povvb4do0n-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1778512564,"initial_root_password":"G8rxpwqKpTDgP7Uu","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_zg5Qk6BQgheKodCi","address":"185.44.252.135","reverse_dns":"tf-acc-test-data-source-associations-e5povvb4do0n-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.135/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_3G7nsuWNKi3BCSlt","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3fb58d2be154ef3a4c66129d0a0a7b3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_3G7nsuWNKi3BCSlt
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_240mlap0ox9Jasd9","name":"Public
      Network on tf-acc-test-data-source-associations-e5povvb4do0n-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_zg5Qk6BQgheKodCi","address":"185.44.252.135","reverse_dns":"tf-acc-test-data-source-associations-e5povvb4do0n-web.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.135/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be5fe94ff4cfbd885b917062ec30a17b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_240mlap0ox9Jasd9
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_240mlap0ox9Jasd9","virtual_machine":{"id":"vm_3G7nsuWNKi3BCSlt","name":"tf-acc-test-data-source-associations-e5povvb4do0n-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-e5povvb4do0n-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:73:d0:0a:52:ff","state":"attached","ip_addresses":[{"id":"ip_zg5Qk6BQgheKodCi","address":"185.44.252.135"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e213074f9668a47aec33b93c888afd0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_3G7nsuWNKi3BCSlt
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_nWker5zcGq5jtgSX","name":"System
      Disk","size_in_gb":25,"wwn":"0b8367f6f89a2370","state":"built","created_at":1778512564},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"91ea1f70bde84afec407d018e0e1d812"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_3G7nsuWNKi3BCSlt"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-associations-e5povvb4do0n"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_ijirFiDJ4OJXQKVP","name":"tf-acc-test-data-source-associations-e5povvb4do0n","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_3G7nsuWNKi3BCSlt"],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f21551b6405e2bb1d047fd32abf91b7b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_ijirFiDJ4OJXQKVP
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_ijirFiDJ4OJXQKVP","name":"tf-acc-test-data-source-associations-e5povvb4do0n","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_3G7nsuWNKi3BCSlt"],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f06709b18f6b3991bc747f2da194ba7d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_zg5Qk6BQgheKodCi
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_zg5Qk6BQgheKodCi","address":"185.44.252.135","reverse_dns":"tf-acc-test-data-source-associations-e5povvb4do0n-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.135/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_3G7nsuWNKi3BCSlt","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_3G7nsuWNKi3BCSlt","name":"tf-acc-test-data-source-associations-e5povvb4do0n-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70cabb95628578b97f0adbd9f42e50e8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_wEzMJT6CPXqZ6ePJ
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_wEzMJT6CPXqZ6ePJ","address":"185.44.252.144","reverse_dns":"185-44-252-144.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.144/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4735bfc0e6e8f6680d9d0c82dfff70c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "926"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_CAGZKYgl46XA1iZa
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_CAGZKYgl46XA1iZa","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"per[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_aLeWcG66UToezJFj
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_aLeWcG66UToezJFj","name":"tf-acc-test-data-source-associations-e5povvb4do0n-db","hostname":"tf-acc-test-data-source-associations-e5povvb4do0n-db","fqdn":"tf-acc-test-data-source-associations-e5povvb4do0n-db.terraform-acc-test.katapult.cloud","description":null,"cr[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_aLeWcG66UToezJFj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_fR88337QFdzpU2Dt","name":"Public
      Network on tf-acc-test-data-source-associations-e5povvb4do0n-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_wEzMJT6CPXqZ6ePJ","address":"185.44.252.144","reverse_dns":"tf-acc-test-data-source-associations-e5povvb4do0n-db.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.144/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4183a2bcf255244a6efaf9c68e6908fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_fR88337QFdzpU2Dt
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_fR88337QFdzpU2Dt","virtual_machine":{"id":"vm_aLeWcG66UToezJFj","name":"tf-acc-test-data-source-associations-e5povvb4do0n-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-e5povvb4do0n-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:e3:b3:52:0b:3e","state":"attached","ip_addresses":[{"id":"ip_wEzMJT6CPXqZ6ePJ","address":"185.44.252.144"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc448c01b041970157bfa01ba6c290be"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_aLeWcG66UToezJFj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_YVPvzd9WyELFU1SI","name":"System
      Disk","size_in_gb":25,"wwn":"085b4dfc1176cd25","state":"built","created_at":1778512624},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1625c378b14680a723d9d60ab2048a7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_ijirFiDJ4OJXQKVP"},"properties":{"associations":["vm_3G7nsuWNKi3BCSlt","vm_aLeWcG66UToezJFj"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_ijirFiDJ4OJXQKVP","name":"tf-acc-test-data-source-associations-e5povvb4do0n","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_3G7nsuWNKi3BCSlt","vm_aLeWcG66UToezJFj"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_ijirFiDJ4OJXQKVP","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba3eaab28ad6decb90bc8a8800dd65f1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_ijirFiDJ4OJXQKVP"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_YY7e9QLcZ1DYx3XQ","keep_until":1778685484,"object_id":"fsv_ijirFiDJ4OJXQKVP","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_ijirFiDJ4OJXQKVP","name":"tf-acc-test-data-source-associations-e5povvb4do0n","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_3G7nsuWNKi3BCSlt","vm_aLeWcG66UToezJFj"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_ijirFiDJ4OJXQKVP","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fcb623262c582ed40629be32dd2cd0b8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_ijirFiDJ4OJXQKVP"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_wvDZijrvaMyD4Qgq","name":"Purge items from trash","status":"pending","created_at":1778512684,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d76f959069144a4ab012d60b76ee082e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_ijirFiDJ4OJXQKVP
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_YY7e9QLcZ1DYx3XQ","keep_until":1778685484,"object_id":"fsv_ijirFiDJ4OJXQKVP","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"31e12b0e432848a8e1b0af0efb24cd26"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_ijirFiDJ4OJXQKVP
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_aLeWcG66UToezJFj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_NPLd24iYg9tZ7mQi","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c661e0fe8c28e12df2b95c0c08d2e27"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_NPLd24iYg9tZ7mQi
    method: GET
  response:
    body: '{"task":{"id":"task_NPLd24iYg9tZ7mQi","name":"Stop virtual machine","status":"running","created_at":1778512721,"started_at":1778512721,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98814a3bc329edbbfe166e196c738269"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_ZFDCYg1FyeWmv3Wr
    method: GET
  response:
    body: '{"task":{"id":"task_ZFDCYg1FyeWmv3Wr","name":"Stop virtual machine","status":"running","created_at":1778512721,"started_at":1778512721,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee2de0a2a5218b134f0f54f1f372a2f5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_aLeWcG66UToezJFj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_qynlIRAEEmlQZi4G","keep_until":1778685528,"object_id":"vm_aLeWcG66UToezJFj","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_aLeWcG66UToezJFj","name":"tf-acc-test-data-source-associations-e5povvb4do0n-d[...]
[...]
- request:
    body: '{"ip_address":{"id":"ip_zg5Qk6BQgheKodCi"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_svkT7vpc7WYTO0Um
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_svkT7vpc7WYTO0Um","keep_until":1778685528,"object_id":"vm_3G7nsuWNKi3BCSlt","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"643c0d95fe88f256f83f0e26728aa186"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_qynlIRAEEmlQZi4G
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_qynlIRAEEmlQZi4G","keep_until":1778685528,"object_id":"vm_aLeWcG66UToezJFj","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7904915b8327ad4341cefa5368cdf09"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_zg5Qk6BQgheKodCi"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
