---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"color":"green","name":"tf-acc-test-data-source-minimal-v31yo2ceasdl"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_lH0b7sExyAEG0n9P","name":"tf-acc-test-data-source-minimal-v31yo2ceasdl","color":"green","created_at":1777920023}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f14852bca52476e1beb83222a17677e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "795"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/tag?tag%5Bid%5D=tag_lH0b7sExyAEG0n9P
    method: GET
  response:
    body: '{"tag":{"id":"tag_lH0b7sExyAEG0n9P","name":"tf-acc-test-data-source-minimal-v31yo2ceasdl","color":"green","created_at":1777920023}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f14852bca52476e1beb83222a17677e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "790"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/tags?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=200
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":7,"per_page":200,"large_set":false},"tags":[{"id":"tag_mlIpqWdqnStbSOtr","name":"app","color":"pastel_yellow"},{"id":"tag_9l9FNBjBpuBbCMFc","name":"lb","color":"light_gray"},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink"},{"id":"tag_fhQDyDKLEetQBnSL","name":"test","color":"pastel_red"},{"id":"tag_5f1M8MrcOwVsQS8S","name":"tf-acc-test-data-source-minimal-bnsguxuvsnc0","color":"pastel_light_brown"},{"id":"tag_lH0b7sExyAEG0n9P","name":"tf-acc-test-data-source-minimal-v31yo2ceasdl","color":"green"},{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ddec4472782fafbcef84df61a0d3ee15"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "762"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tag":{"id":"tag_lH0b7sExyAEG0n9P"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/tag
    method: DELETE
  response:
    body: '{"tag":{"id":"tag_lH0b7sExyAEG0n9P","name":"tf-acc-test-data-source-minimal-v31yo2ceasdl","color":"green","created_at":1777920023}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f14852bca52476e1beb83222a17677e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "730"
    status: 200 OK
    code: 200
    duration: ""
