---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"185-199-222-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_97h4iW9GotktZKZ8","address":"185.199.222.0","gateway":"185.199.222.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64cf239d96f1ecf35a38f31abf9fcef9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_JyPBDIGzofRKxbDQ
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"185-199-222-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_97h4iW9GotktZKZ8","address":"185.199.222.0","gateway":"185.199.222.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b2bc067bd20faefb81457553174066d2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_JyPBDIGzofRKxbDQ\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-data-source-associations-zkn0xered9ow-web\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_lJ6dELNrjBbIKY6K","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_guCEDjEPeQx3v7nT","state":"pending"},"virtual_machine_build":{"id":"vmbuild_guCEDjEPeQx3v7nT","state":"pending"},"hostname":"tf-acc-test-data-source-associations-zkn0xered9ow-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0105ce12516fb01a1fa54271eb25903d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_guCEDjEPeQx3v7nT
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_guCEDjEPeQx3v7nT","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.195\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-data-source-associations-zkn0xered9ow-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1788793813},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44411fa14eee20339b0a1ecf7aea2336"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_r9bYMelAoq0EegYv
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1788793820,"description":null,"fqdn":"tf-acc-test-data-source-associations-zkn0xered9ow-web.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-data-source-associations-zkn0xered9ow-web","id":"vm_r9bYMelAoq0EegYv","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.222.195","address_with_mask":"185.199.222.195/24","allocation_id":"vm_r9bYMelAoq0EegYv","allocation_type":"VirtualMachine","id":"ip_JyPBDIGzofRKxbDQ","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-data-source-associations-zkn0xered9ow-web.terraform-acc-test.katapult.cloud","subnet":{"address":"185.199.222.0","billable":true,"gateway":"185.199.222.1","id":"sbnt_97h4iW9GotktZKZ8","mask":24,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-data-source-associations-zkn0xered9ow-web","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"C-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"started","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1cd08bac4901592bcf9d79771187969b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_r9bYMelAoq0EegYv
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_bzYrOaIKTzJaJ0Hv","name":"System
      Disk","size_in_gb":25,"wwn":"05cab1814d4a17fc","state":"built","created_at":1788793820},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca52b5c182c71a0bf9862377f4df0efd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_bzYrOaIKTzJaJ0Hv
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1788793820,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_bzYrOaIKTzJaJ0Hv","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-18-04"},"number":1,"stable":true},"id":"dinst_pKtqgdD74GogQ9tL"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":25,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"attached","virtual_machine":{"fqdn":"tf-acc-test-data-source-associations-zkn0xered9ow-web.terraform-acc-test.katapult.cloud","id":"vm_r9bYMelAoq0EegYv"}},"wwn":"05cab1814d4a17fc"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c60f34fdce788c405330e514c7084841"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_r9bYMelAoq0EegYv
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_XqXhk41YBLelyO4g","name":"Public
      Network on tf-acc-test-data-source-associations-zkn0xered9ow-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"tf-acc-test-data-source-associations-zkn0xered9ow-web.terraform-acc-test.katapult.cloud","address_with_mask":"185.199.222.195/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"163700f4a43e97ef9d110ebb6943ee9a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_XqXhk41YBLelyO4g
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_XqXhk41YBLelyO4g","virtual_machine":{"id":"vm_r9bYMelAoq0EegYv","name":"tf-acc-test-data-source-associations-zkn0xered9ow-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-zkn0xered9ow-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:37:1e:a6:d0:5a","state":"attached","ip_addresses":[{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b4083f99d21f277f40bd707c75bf6dd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_r9bYMelAoq0EegYv"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-associations-zkn0xered9ow"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_GQWRVlGyMXs7j3d5","name":"tf-acc-test-data-source-associations-zkn0xered9ow","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_r9bYMelAoq0EegYv"],"state":"pending","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ca6b10ade86ebfaaf6be497d7d04398"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_GQWRVlGyMXs7j3d5
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_GQWRVlGyMXs7j3d5","name":"tf-acc-test-data-source-associations-zkn0xered9ow","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_r9bYMelAoq0EegYv"],"state":"configuring","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64b83f6b7ec4b380e7cbc27406854aee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_JyPBDIGzofRKxbDQ
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"tf-acc-test-data-source-associations-zkn0xered9ow-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_97h4iW9GotktZKZ8","address":"185.199.222.0","gateway":"185.199.222.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_r9bYMelAoq0EegYv","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_r9bYMelAoq0EegYv","name":"tf-acc-test-data-source-associations-zkn0xered9ow-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a538327f54a7c17955f7de575d888b43"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_235rZDQbmeXCYO9T
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_235rZDQbmeXCYO9T","address":"77.72.7.190","reverse_dns":"77-72-7-190.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.190/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28d066db8cb984650ab0fb4c5cecb985"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_pCNwPr5zSSiwwZ1g
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_pCNwPr5zSSiwwZ1g","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"per[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_xUaEtg4a2DDAUXDb
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1788793903,"description":null,"fqdn":"tf-acc-test-data-source-associations-zkn0xered9ow-db.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-data-source-associat[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_xUaEtg4a2DDAUXDb
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_MLoqdgOtCstssvOh","name":"System
      Disk","size_in_gb":25,"wwn":"07199945965f6c68","state":"built","created_at":1788793904},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d866f0779be2c03367c07926b232c167"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_MLoqdgOtCstssvOh
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1788793904,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_MLoqdgOtCstssvOh","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_xUaEtg4a2DDAUXDb
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_F9ZhZ4QuXeuTv99Z","name":"Public
      Network on tf-acc-test-data-source-associations-zkn0xered9ow-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_235rZDQbmeXCYO9T","address":"77.72.7.190","reverse_dns":"tf-acc-test-data-source-associations-zkn0xered9ow-db.terraform-acc-test.katapult.cloud","address_with_mask":"77.72.7.190/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c700cc2794e84d53d891649eae2ade0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_F9ZhZ4QuXeuTv99Z
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_F9ZhZ4QuXeuTv99Z","virtual_machine":{"id":"vm_xUaEtg4a2DDAUXDb","name":"tf-acc-test-data-source-associations-zkn0xered9ow-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-zkn0xered9ow-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:de:fd:e8:22:3f","state":"attached","ip_addresses":[{"id":"ip_235rZDQbmeXCYO9T","address":"77.72.7.190"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"280dd822dfc836181f04f7a2d9593f8d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_GQWRVlGyMXs7j3d5"},"properties":{"associations":["vm_r9bYMelAoq0EegYv","vm_xUaEtg4a2DDAUXDb"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_GQWRVlGyMXs7j3d5","name":"tf-acc-test-data-source-associations-zkn0xered9ow","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_r9bYMelAoq0EegYv","vm_xUaEtg4a2DDAUXDb"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_GQWRVlGyMXs7j3d5","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ab479257a016fa5ca435ce518560774"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_GQWRVlGyMXs7j3d5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_D3GnWJx1KmQQwigO","keep_until":1788966779,"object_id":"fsv_GQWRVlGyMXs7j3d5","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_GQWRVlGyMXs7j3d5","name":"tf-acc-test-data-source-associations-zkn0xered9ow","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_r9bYMelAoq0EegYv","vm_xUaEtg4a2DDAUXDb"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_GQWRVlGyMXs7j3d5","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"569a1a7e59ca9d7e58ebf233366ea31e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_GQWRVlGyMXs7j3d5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_tY5jXrbPft9NDpYR","name":"Purge items from trash","status":"pending","created_at":1788793980,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"892f1f762775348607e53b4e5377e43d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_GQWRVlGyMXs7j3d5
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_D3GnWJx1KmQQwigO","keep_until":1788966779,"object_id":"fsv_GQWRVlGyMXs7j3d5","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b3fb6e78b0d9b74ebd06531f3ef3d0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_GQWRVlGyMXs7j3d5
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_r9bYMelAoq0EegYv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_rb7DY8KGxgjedZPT","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"60b372f0fc9f4097d8a149c196337af7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_rb7DY8KGxgjedZPT
    method: GET
  response:
    body: '{"task":{"id":"task_rb7DY8KGxgjedZPT","name":"Stop virtual machine","status":"running","created_at":1788794026,"started_at":1788794027,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05ed4ab65d67bba98a655b5f00f992e3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_nJdrmrgp3wq9Wdbw
    method: GET
  response:
    body: '{"task":{"id":"task_nJdrmrgp3wq9Wdbw","name":"Stop virtual machine","status":"running","created_at":1788794026,"started_at":1788794027,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c99b1509474d0b69f14fd5461786774b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_r9bYMelAoq0EegYv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
[...]
