---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_CIPh1hirGi9KqJ8Z","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d66f5ca44e93cb219a6cb62fe3872606"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_CIPh1hirGi9KqJ8Z
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_CIPh1hirGi9KqJ8Z","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d66f5ca44e93cb219a6cb62fe3872606"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_CIPh1hirGi9KqJ8Z"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f-entry-one"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_LOxazovCwtWgrdiQ","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12bf7f9ea6c70417336ce6f41521e1e9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_LOxazovCwtWgrdiQ
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_LOxazovCwtWgrdiQ","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12bf7f9ea6c70417336ce6f41521e1e9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_LOxazovCwtWgrdiQ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_LOxazovCwtWgrdiQ","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12bf7f9ea6c70417336ce6f41521e1e9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "927"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_CIPh1hirGi9KqJ8Z"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_CIPh1hirGi9KqJ8Z","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ba5cf26646650d3553837d345c86e86"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_CIPh1hirGi9KqJ8Z
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 404 Not Found
    code: 404
    duration: ""
