---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"color":"green","name":"tf-acc-test-data-source-minimal-zlfp5xg1hizb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_d93jtFjsKT9bxwnw","name":"tf-acc-test-data-source-minimal-zlfp5xg1hizb","color":"green","created_at":1723462551}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f45b73ad79871a93b049dec66c166b03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/tag?tag%5Bid%5D=tag_d93jtFjsKT9bxwnw
    method: GET
  response:
    body: '{"tag":{"id":"tag_d93jtFjsKT9bxwnw","name":"tf-acc-test-data-source-minimal-zlfp5xg1hizb","color":"green","created_at":1723462551}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f45b73ad79871a93b049dec66c166b03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/tags?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=200
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":6,"per_page":200,"large_set":false},"tags":[{"id":"tag_mlIpqWdqnStbSOtr","name":"app","color":"pastel_yellow"},{"id":"tag_9l9FNBjBpuBbCMFc","name":"lb","color":"light_gray"},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink"},{"id":"tag_fhQDyDKLEetQBnSL","name":"test","color":"pastel_red"},{"id":"tag_d93jtFjsKT9bxwnw","name":"tf-acc-test-data-source-minimal-zlfp5xg1hizb","color":"green"},{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f2ecdde92b0ad00c43bdd69ccaf361d9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tag":{"id":"tag_d93jtFjsKT9bxwnw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/tag
    method: DELETE
  response:
    body: '{"tag":{"id":"tag_d93jtFjsKT9bxwnw","name":"tf-acc-test-data-source-minimal-zlfp5xg1hizb","color":"green","created_at":1723462551}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f45b73ad79871a93b049dec66c166b03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
