---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY-group","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_oCV3jLf2jbQg582U","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY-group","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5d3d439174ceef9e630d6a71208788c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_oCV3jLf2jbQg582U
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_oCV3jLf2jbQg582U","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY-group","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5d3d439174ceef9e630d6a71208788c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_murvey5glK4EQaeV","address":"77.72.7.66","reverse_dns":"77-72-7-66.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9985f4310a45cd3b173888e5791f312c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_murvey5glK4EQaeV
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_murvey5glK4EQaeV","address":"77.72.7.66","reverse_dns":"77-72-7-66.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd63b1cf954899c32147c9ac43122361"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkIn[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_Q0STl90RLQM7Y5wN
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Q0STl90RLQM7Y5wN","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: '{"properties":{"tag_names":["public","web"]},"virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY","hostname":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host","fqdn":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778178822,"initial_root_password":"J8qRk7hTYKY6xf9M","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_oCV3jLf2jbQg582U","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY-group","segregate":true,"auto_segregate":false,"created_at":1778178808},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_murvey5glK4EQaeV","address":"77.72.7.66","reverse_dns":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"77.72.7.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_Gc6aKZDDgFMFrtkV","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ab399a62c324d201a716de1ef37fd82"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_Gc6aKZDDgFMFrtkV
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY","hostname":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host","fqdn":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terraform-acc-test.katapult.cloud","description":"A
      web server.",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_Gc6aKZDDgFMFrtkV
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ZO44jX4AOYqNZ7t8","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_murvey5glK4EQaeV","address":"77.72.7.66","reverse_dns":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terraform-acc-test.katapult.cloud","address_with_mask":"77.72.7.66/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c7215273f224c97b91d2f7a322a955c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_ZO44jX4AOYqNZ7t8
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_ZO44jX4AOYqNZ7t8","virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:db:05:01:1a:70","state":"attached","ip_addresses":[{"id":"ip_murvey5glK4EQaeV","address":"77.72.7.66"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33662032f21a0a0661ac80c96a897f53"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY","hostname":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host","fqdn":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terra[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_murvey5glK4EQaeV
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_murvey5glK4EQaeV","address":"77.72.7.66","reverse_dns":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"77.72.7.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_Gc6aKZDDgFMFrtkV","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Gc6aKZDDgFMFrtkV","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1993d64993b367fc24369c2c9be635a1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_aP9tdec6jsTflpj9","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99e6b3045912ef64a14d89fe4414e586"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_aP9tdec6jsTflpj9
    method: GET
  response:
    body: '{"task":{"id":"task_aP9tdec6jsTflpj9","name":"Stop virtual machine","status":"pending","created_at":1778178859,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abd4df0ebd8e561db11b46a01c12317f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_DiZpTOhRS7nFu3Hz","keep_until":1778351706,"object_id":"vm_Gc6aKZDDgFMFrtkV","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Gc6aKZDDgFMFrtkV","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY","hostname":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host","fqdn":"tf-acc-test-data-source-by-fqdn-huhhloqikwzy-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778178822,"initial_root_password":"J8qRk7hTYKY6xf9M","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: '{"ip_address":{"id":"ip_murvey5glK4EQaeV"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_DiZpTOhRS7nFu3Hz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_LhQZUNnK5BbLozXa","name":"Purge items from trash","status":"pending","created_at":1778178908,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"106d845811072e1f6e927591fd6472b4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_DiZpTOhRS7nFu3Hz
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_DiZpTOhRS7nFu3Hz","keep_until":1778351706,"object_id":"vm_Gc6aKZDDgFMFrtkV","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7e26859e64c82d319bca504a7538c0ef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_DiZpTOhRS7nFu3Hz
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "880"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_oCV3jLf2jbQg582U"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_oCV3jLf2jbQg582U","name":"tf-acc-test-data-source-by-fqdn-HuhhlOqIKWZY-group","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5d3d439174ceef9e630d6a71208788c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_murvey5glK4EQaeV"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_Gc6aKZDDgFMFrtkV
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "875"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
