---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists?page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":9,"per_page":30,"large_set":false},"address_lists":[{"id":"adlst_li49JQdb6jVf9DIM","name":"Amazon
      Cloudfront","global":true},{"id":"adlst_TxEoD90spV3KJxvP","name":"Cloudflare","global":true},{"id":"adlst_VCpeUVrKoi1epIAY","name":"BunnyCDN","global":true},{"id":"adlst_j9xCrZFAUbUcKpO1","name":"Pingdom","global":true},{"id":"adlst_qQcQ3IA3o5S0oDQO","name":"Katapult
      Load Balancers (London)","global":true},{"id":"adlst_h05bcN7ebfjLK5dy","name":"Stripe
      Webhooks","global":true},{"id":"adlst_nd9LBE2LjGo2igjL","name":"KEFS LON","global":true},{"id":"adlst_bL7sHSNl9iOKOm8r","name":"DeployHQ","global":true},{"id":"adlst_FFwBHZI3Uuo1K4RO","name":"UptimeRobot","global":true}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a314fb54bfe37bef93d196f77188c09d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
