---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-IsJddJLAymoN"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_32y1LIW1EKhl0aIv","name":"tf-acc-test-data-source-minimal-IsJddJLAymoN","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"48f21f1c2bf013c3e60c06b99973200a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_32y1LIW1EKhl0aIv
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_32y1LIW1EKhl0aIv","name":"tf-acc-test-data-source-minimal-IsJddJLAymoN","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"48f21f1c2bf013c3e60c06b99973200a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_32y1LIW1EKhl0aIv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_32y1LIW1EKhl0aIv","name":"tf-acc-test-data-source-minimal-IsJddJLAymoN","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6fd9c9788c48a5801d05ea71bea173fa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_32y1LIW1EKhl0aIv
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
