---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=nl-ams-01
    method: GET
  response:
    body: '{"data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"449578c72d35035c7dbf76508b9d7604"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bid%5D=dc_Wm37yAq0BHhKXsPa
    method: GET
  response:
    body: '{"network":{"id":"netw_gnlxBcgtF7xyMslK","name":"Public Network - AMS","permalink":"eu-ams-01","default":true,"data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"24a8a063dc39dc90e812091249782427"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/networks/network?network%5Bid%5D=netw_gnlxBcgtF7xyMslK
    method: GET
  response:
    body: '{"network":{"id":"netw_gnlxBcgtF7xyMslK","name":"Public Network - AMS","permalink":"eu-ams-01","default":true,"data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5bca2fd5aaa0fb7764e945035a7bbeef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
