---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_5LaZrjPmkMFVWbhj","address":"185.44.254.54","reverse_dns":"185-44-254-54.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.54/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"495d9fcf030a2efedc1b895d1ae0c395"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_5LaZrjPmkMFVWbhj
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_5LaZrjPmkMFVWbhj","address":"185.44.254.54","reverse_dns":"185-44-254-54.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.54/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"192e191c97bece0ece8c42d22626fc3c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_5LaZrjPmkMFVWbhj\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-data-source-associations-q1lj3gwrjcdk-web\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_YCgNMB0OxvXxCfFZ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_Guu5PKozNpzlUdSS","state":"pending"},"virtual_machine_build":{"id":"vmbuild_Guu5PKozNpzlUdSS","state":"pending"},"hostname":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43b6fddbe1ecc6923fd7bee420b6e2ab"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_Guu5PKozNpzlUdSS
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Guu5PKozNpzlUdSS","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.254.54\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-data-source-associations-q1lj3gwrjcdk-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786624369},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"105b06cd1f14bc8ee421db8598ff4535"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_Vh7aEwWwqnI2eFuf
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786624373,"description":null,"fqdn":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web","id":"vm_Vh7aEwWwqnI2eFuf","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.254.54","address_with_mask":"185.44.254.54/22","allocation_id":"vm_Vh7aEwWwqnI2eFuf","allocation_type":"VirtualMachine","id":"ip_5LaZrjPmkMFVWbhj","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web.terraform-acc-test.katapult.cloud","subnet":{"address":"185.44.252.0","billable":true,"gateway":"185.44.255.254","id":"sbnt_9FYjp2bT20hooq9u","mask":22,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"starting","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bdf98158dbe61e9300609efed817ba84"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_Vh7aEwWwqnI2eFuf
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_6jjuPolAqrDDsZOT","name":"Public
      Network on tf-acc-test-data-source-associations-q1lj3gwrjcdk-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_5LaZrjPmkMFVWbhj","address":"185.44.254.54","reverse_dns":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.254.54/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aeb38074a8e2193cd6f50580e84f7bdd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_6jjuPolAqrDDsZOT
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_6jjuPolAqrDDsZOT","virtual_machine":{"id":"vm_Vh7aEwWwqnI2eFuf","name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-q1lj3gwrjcdk-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:07:ea:81:e8:eb","state":"attached","ip_addresses":[{"id":"ip_5LaZrjPmkMFVWbhj","address":"185.44.254.54"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76823ce4fa8e0194b7809c2cdeba1fa9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_Vh7aEwWwqnI2eFuf"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_yQukT3A5kIhRmJrB","name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_Vh7aEwWwqnI2eFuf"],"state":"pending","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a78d697dbb64ddaa1a7553f94acd5c42"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_yQukT3A5kIhRmJrB
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_yQukT3A5kIhRmJrB","name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_Vh7aEwWwqnI2eFuf"],"state":"configuring","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9bb40d4ef53e64b909cfd10a948ab49"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_5LaZrjPmkMFVWbhj
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_5LaZrjPmkMFVWbhj","address":"185.44.254.54","reverse_dns":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.54/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_Vh7aEwWwqnI2eFuf","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Vh7aEwWwqnI2eFuf","name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c5b8a1852106fb9ad7a601fad3fbf5b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_aY3IRDx8wxOxkW5J
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_aY3IRDx8wxOxkW5J","address":"185.44.252.195","reverse_dns":"185-44-252-195.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.195/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f9fa2100f4844b0260ffd4e0feda5db5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_ndmmROFFW9ZsshRJ
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_ndmmROFFW9ZsshRJ","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"per[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_q3WWNaWr863OedtM
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786624428,"description":null,"fqdn":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-db.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-data-source-associat[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_q3WWNaWr863OedtM
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_XgQQXQ5gCuU9YTMM","name":"Public
      Network on tf-acc-test-data-source-associations-q1lj3gwrjcdk-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_aY3IRDx8wxOxkW5J","address":"185.44.252.195","reverse_dns":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-db.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.195/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33216d04cc8387dfd6fe0847fbeb3b90"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_XgQQXQ5gCuU9YTMM
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_XgQQXQ5gCuU9YTMM","virtual_machine":{"id":"vm_q3WWNaWr863OedtM","name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-q1lj3gwrjcdk-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:38:bb:be:48:86","state":"attached","ip_addresses":[{"id":"ip_aY3IRDx8wxOxkW5J","address":"185.44.252.195"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c7b44b2fcd1720c66b7b86570a9b3da"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_yQukT3A5kIhRmJrB"},"properties":{"associations":["vm_Vh7aEwWwqnI2eFuf","vm_q3WWNaWr863OedtM"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_yQukT3A5kIhRmJrB","name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_Vh7aEwWwqnI2eFuf","vm_q3WWNaWr863OedtM"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_yQukT3A5kIhRmJrB","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d24e0f451b353ca1d580154c1109ed30"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_yQukT3A5kIhRmJrB"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_hc45hGsA99AHljcY","keep_until":1786797288,"object_id":"fsv_yQukT3A5kIhRmJrB","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_yQukT3A5kIhRmJrB","name":"tf-acc-test-data-source-associations-q1lj3gwrjcdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_Vh7aEwWwqnI2eFuf","vm_q3WWNaWr863OedtM"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_yQukT3A5kIhRmJrB","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"25b94c15eb3eb4b9adfbd44718100b77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_yQukT3A5kIhRmJrB"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_G8q7Ovd2fuscTBjV","name":"Purge items from trash","status":"pending","created_at":1786624488,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d278ed9572c05e1d218e60c403b651d5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_yQukT3A5kIhRmJrB
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_hc45hGsA99AHljcY","keep_until":1786797288,"object_id":"fsv_yQukT3A5kIhRmJrB","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4afb3614355f0a916b2a1fd4a08315d5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_yQukT3A5kIhRmJrB
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_q3WWNaWr863OedtM"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_ocXORtI0Vf5AnfC9","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57812a904587187026a17ba357221008"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_ocXORtI0Vf5AnfC9
    method: GET
  response:
    body: '{"task":{"id":"task_ocXORtI0Vf5AnfC9","name":"Stop virtual machine","status":"running","created_at":1786624514,"started_at":1786624515,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"62b6d2c621466cf6407099ee8b284201"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_XZE5WSn9U22ZWcCX
    method: GET
  response:
    body: '{"task":{"id":"task_XZE5WSn9U22ZWcCX","name":"Stop virtual machine","status":"running","created_at":1786624514,"started_at":1786624515,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f4f46ffd11618f7a1d0caaf804650a7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_q3WWNaWr863OedtM"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_LbdI89dQXRNUKMYQ","keep_until":1786797322,"object_id":"vm_q3WWNaWr863OedtM","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786624428,"description":null,"fqdn":"t[...]
[...]
- request:
    body: '{"ip_address":{"id":"ip_aY3IRDx8wxOxkW5J"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_LbdI89dQXRNUKMYQ
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_LbdI89dQXRNUKMYQ","keep_until":1786797322,"object_id":"vm_q3WWNaWr863OedtM","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"457e62bc4f8022a8ee001186f4a4afd3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_0uEUZxVONzL9K6xh
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_0uEUZxVONzL9K6xh","keep_until":1786797322,"object_id":"vm_Vh7aEwWwqnI2eFuf","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a358557cbac8107072489a6a29b9ced8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_aY3IRDx8wxOxkW5J"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
