---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-minimal-Zg0xPvWlYoAa"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_prVKGhUeT9Srg1rz","name":"tf-acc-test-data-source-minimal-Zg0xPvWlYoAa","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"408bb0d92ec3ac89ee4a79d93698768a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_prVKGhUeT9Srg1rz
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_prVKGhUeT9Srg1rz","name":"tf-acc-test-data-source-minimal-Zg0xPvWlYoAa","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"446808dca7751c9d7d675e3736a84686"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_prVKGhUeT9Srg1rz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_yyeH6thtLwb8xEdY","keep_until":1720628970,"object_id":"fsv_prVKGhUeT9Srg1rz","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_prVKGhUeT9Srg1rz","name":"tf-acc-test-data-source-minimal-Zg0xPvWlYoAa","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_prVKGhUeT9Srg1rz","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"75e9838b520b014a3f866c0488e07a7e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_prVKGhUeT9Srg1rz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_eLebvpC5ty5yAzeQ","name":"Purge items from trash","status":"pending","created_at":1720456170,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d73b04f57dc8c3b46cfc5b3f409b715f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_prVKGhUeT9Srg1rz
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_yyeH6thtLwb8xEdY","keep_until":1720628970,"object_id":"fsv_prVKGhUeT9Srg1rz","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f7ae64dfb71d0db729e3bcaa06c0771"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_prVKGhUeT9Srg1rz
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
