---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-data-source-full-Wx8qdu6I1djx","resource_ids":[],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_peoDz9RSRD2nOskh","name":"tf-acc-test-data-source-full-Wx8qdu6I1djx","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_i17EymblhLqWaNEW","address":"185.44.255.132"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfcGVvRHo5UlNSRDJuT3NraC5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQx\nMjEyMTU0NzMxWhgPMjA3NDEyMTIxNTQ3MzFaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9wZW9EejlSU1JEMm5Pc2toLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_peoDz9RSRD2nOskh
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_peoDz9RSRD2nOskh","name":"tf-acc-test-data-source-full-Wx8qdu6I1djx","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_i17EymblhLqWaNEW","address":"185.44.255.132"},"https_redirect":false,"backend_certificate":[...]
- request:
    body: '{"load_balancer":{"id":"lb_peoDz9RSRD2nOskh"},"properties":{"algorithm":"round_robin","backend_ssl":true,"certificates":[],"check_enabled":false,"check_fall":3,"check_http_statuses":"23","check_interval":30,"check_path":"/healthz","check_protocol":"HTTP","check_rise":3,"check_timeout":15,"destination_port":8080,"listen_port":80,"passthrough_ssl":false,"protocol":"HTTP","proxy_protocol":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_wMCbP11nU8TAC5Ef","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":true,"certificates":[],"backend_ssl":true,"passthrough_ssl":false,"check_enabled":false,"check_fall":3,"check_interval":30,"check_path":"/healthz","check_protocol":"HTTP","check_rise":3,"check_timeout":15,"check_http_statuses":"23","load_balancer":{"id":"lb_peoDz9RSRD2nOskh","name":"tf-acc-test-data-source-full-Wx8qdu6I1djx"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf79a6e7330aa1912a39218713dc6167"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule?load_balancer_rule%5Bid%5D=lbrule_wMCbP11nU8TAC5Ef
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_wMCbP11nU8TAC5Ef","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":true,"certificates":[],"backend_ssl":true,"passthrough_ssl":false,"check_enabled":false,"check_fall":3,"check_interval":30,"check_path":"/healthz","check_protocol":"HTTP","check_rise":3,"check_timeout":15,"check_http_statuses":"23","load_balancer":{"id":"lb_peoDz9RSRD2nOskh","name":"tf-acc-test-data-source-full-Wx8qdu6I1djx"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf79a6e7330aa1912a39218713dc6167"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "906"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer/rules?load_balancer%5Bid%5D=lb_peoDz9RSRD2nOskh&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"load_balancer_rules":[{"id":"lbrule_wMCbP11nU8TAC5Ef","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","certificates":[],"check_enabled":false}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b66d179c88d535f848092662cd38fd45"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"load_balancer_rule":{"id":"lbrule_wMCbP11nU8TAC5Ef"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule
    method: DELETE
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_wMCbP11nU8TAC5Ef"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99a4de4027658030d997636f31bcb3f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"load_balancer":{"id":"lb_peoDz9RSRD2nOskh"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_peoDz9RSRD2nOskh","name":"tf-acc-test-data-source-full-Wx8qdu6I1djx","api_reference":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d54fa3563efc0ab1a37fedef07a22e6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "886"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_peoDz9RSRD2nOskh
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 404 Not Found
    code: 404
    duration: ""
