---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ji1JyRuVifs2YgJj","name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","segregate":true,"created_at":1679595240}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df5369615077ded5fefeb735fbdc06bf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_Ji1JyRuVifs2YgJj
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ji1JyRuVifs2YgJj","name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","segregate":true,"created_at":1679595240}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df5369615077ded5fefeb735fbdc06bf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","associations":["vmgrp_Ji1JyRuVifs2YgJj"],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_XNVRkdDaSmDvBGH6","name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_Ji1JyRuVifs2YgJj"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8604cbd685a26f593f4d03374aec71c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_XNVRkdDaSmDvBGH6/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_I8S5pafStJoQA32l","security_group":{"id":"sg_XNVRkdDaSmDvBGH6","name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f85fb8b1c51e8949ee719e7260424f62"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_XNVRkdDaSmDvBGH6
    method: GET
  response:
    body: '{"security_group":{"id":"sg_XNVRkdDaSmDvBGH6","name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_Ji1JyRuVifs2YgJj"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8604cbd685a26f593f4d03374aec71c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_XNVRkdDaSmDvBGH6
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_I8S5pafStJoQA32l","direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"},{"id":"sgr_pZ3tIl1k1Ertaynk","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"},{"id":"sgr_pK3iQXKmy3NibenV","direction":"inbound","protocol":"TCP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"HTTPS"},{"id":"sgr_0vkJFZRZgwbMSn5b","direction":"inbound","protocol":"ICMP","ports":null,"targets":["219.185.152.0/24"],"notes":"ping"},{"id":"sgr_ilzlIxOvDSfh4Hb7","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"88a39cb5c1bc420467980faa80a199f9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_Ji1JyRuVifs2YgJj
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ji1JyRuVifs2YgJj","name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","segregate":true,"created_at":1679595240}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df5369615077ded5fefeb735fbdc06bf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_XNVRkdDaSmDvBGH6
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
