---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-basic-JizjPcGRXwho","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Hqwd4Hs7eKaU0nDJ","name":"tf-acc-test-data-source-basic-JizjPcGRXwho","segregate":true,"auto_segregate":false,"created_at":1777920023}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a7e22391e9dc5c5c5f80a0b015cac85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "805"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_Hqwd4Hs7eKaU0nDJ
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Hqwd4Hs7eKaU0nDJ","name":"tf-acc-test-data-source-basic-JizjPcGRXwho","segregate":true,"auto_segregate":false,"created_at":1777920023}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a7e22391e9dc5c5c5f80a0b015cac85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_Hqwd4Hs7eKaU0nDJ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Hqwd4Hs7eKaU0nDJ","name":"tf-acc-test-data-source-basic-JizjPcGRXwho","segregate":true,"auto_segregate":false,"created_at":1777920023}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a7e22391e9dc5c5c5f80a0b015cac85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "761"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_Hqwd4Hs7eKaU0nDJ
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "754"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
