---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-8ygRcGP5byOD","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_0gqOV2qRRpQ6xkAp","name":"tf-acc-test-data-source-8ygRcGP5byOD","size_in_gb":20,"wwn":"05b6b7835d816653","state":"not_built","created_at":1786789236,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_Y2PMj29QUKlmPn1s","name":"Build
      disk","status":"pending","created_at":1786789236,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f69cbf869c2a51ecfd12d8a5d1b70783"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_Y2PMj29QUKlmPn1s
    method: GET
  response:
    body: '{"task":{"id":"task_Y2PMj29QUKlmPn1s","name":"Build disk","status":"completed","created_at":1786789236,"started_at":1786789237,"finished_at":1786789237,"progress":100}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c6773b0151b0a1812aa65f56ba4f42c1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_0gqOV2qRRpQ6xkAp
    method: GET
  response:
    body: '{"disk":{"id":"disk_0gqOV2qRRpQ6xkAp","name":"tf-acc-test-data-source-8ygRcGP5byOD","size_in_gb":20,"wwn":"05b6b7835d816653","state":"built","created_at":1786789236,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"56dc4a259d7c830e68217fd9aeb258e0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_0gqOV2qRRpQ6xkAp"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_0gqOV2qRRpQ6xkAp","name":"tf-acc-test-data-source-8ygRcGP5byOD","size_in_gb":20,"wwn":"05b6b7835d816653","state":"built","created_at":1786789236,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_ES4qkwIydUtXUK7M","keep_until":1786962038,"object_id":"disk_0gqOV2qRRpQ6xkAp","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eaa29107be6be93eae67361e55da6b24"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_ES4qkwIydUtXUK7M"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_OA4HkOvR2zOXC8rP","name":"Purge items from trash","status":"pending","created_at":1786789238,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"14c9438a7d4efb645a82c35a54872c0a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_ES4qkwIydUtXUK7M
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_ES4qkwIydUtXUK7M","keep_until":1786962038,"object_id":"disk_0gqOV2qRRpQ6xkAp","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28762bf47d912388b97deefd7eeeb119"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_ES4qkwIydUtXUK7M
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_0gqOV2qRRpQ6xkAp
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
