---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-k2NWa8bK0Rd0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_Bt8w2lZ49VhI9h9L","name":"tf-acc-test-data-source-minimal-k2NWa8bK0Rd0","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3261deae6641e96c5c5500a8f16071e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_Bt8w2lZ49VhI9h9L
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_Bt8w2lZ49VhI9h9L","name":"tf-acc-test-data-source-minimal-k2NWa8bK0Rd0","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3261deae6641e96c5c5500a8f16071e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_r40loNLW9ivxYVeN
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_r40loNLW9ivxYVeN","name":"tf-acc-test-data-source-minimal-k2NWa8bK0Rd0-alt","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"adccaafb49f80516c933f5cc5f633992"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/:organization/address_lists?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"address_lists":[{"id":"adlst_0s3SPmQtqGT3QJtc","name":"Public
      DNS Servers","global":false},{"id":"adlst_Bt8w2lZ49VhI9h9L","name":"tf-acc-test-data-source-minimal-k2NWa8bK0Rd0","global":false},{"id":"adlst_r40loNLW9ivxYVeN","name":"tf-acc-test-data-source-minimal-k2NWa8bK0Rd0-alt","global":false}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f54163d647d930d4812547258edef6f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_r40loNLW9ivxYVeN"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/:address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_r40loNLW9ivxYVeN","name":"tf-acc-test-data-source-minimal-k2NWa8bK0Rd0-alt","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"adccaafb49f80516c933f5cc5f633992"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/:address_list?address_list%5Bid%5D=adlst_r40loNLW9ivxYVeN
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
