---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/disk_templates?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"disk_templates":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4a4a5d8f32a54cf38640ccde4ad9a9b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/disk_templates?include_universal=true&organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":18,"per_page":30,"large_set":false},"disk_templates":[{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux
      8","description":"A clean installation of AlmaLinux 8.","permalink":"templates/almalinux8","universal":true,"size_in_gb":10,"latest_version":{"id":"dtv_z2bhjWLhK52C6hWA","number":12},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux"}},{"id":"dtpl_kdthc4p4sChJADmC","name":"AlmaLinux
      9","description":"A clean installation of AlmaLinux 9.","permalink":"templates/almalinux9","universal":true,"size_in_gb":10,"latest_version":{"id":"dtv_T5OD4pfx5r5GfQ2j","number":3},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux"}},{"id":"dtpl_KRg9XxUaTJMLs5Ej","name":"AlmaLinux
      9 - Cloud","description":"AlmaLinux 9 built from a standard cloud image.","permalink":"templa[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disk_templates/_?disk_template%5Bpermalink%5D=templates%2Falmalinux8
    method: GET
  response:
    body: '{"disk_template":{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux 8","description":"A
      clean installation of AlmaLinux 8.","permalink":"templates/almalinux8","universal":true,"end_of_life":1874880000,"size_in_gb":10,"latest_version":{"id":"dtv_z2bhjWLhK52C6hWA"},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux","badge":{"url":"https://cloud.krystal.io/attachment/26b65889-452c-484d-a771-c5451ea06b5a/almalinux.png"}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ea577a2a5d71d38749e2285ec69ab8f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disk_templates/_?disk_template%5Bid%5D=dtpl_HFSqTSuYzkgfqDm1
    method: GET
  response:
    body: '{"disk_template":{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux 8","description":"A
      clean installation of AlmaLinux 8.","permalink":"templates/almalinux8","universal":true,"end_of_life":1874880000,"size_in_gb":10,"latest_version":{"id":"dtv_z2bhjWLhK52C6hWA"},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux","badge":{"url":"https://cloud.krystal.io/attachment/26b65889-452c-484d-a771-c5451ea06b5a/almalinux.png"}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ea577a2a5d71d38749e2285ec69ab8f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/disk_templates?include_universal=false&organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=100
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":100,"large_set":false},"disk_templates":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a23aa3afee7b309e0fb1de24948b78da"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/disk_templates?include_universal=true&organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=100
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":18,"per_page":100,"large_set":false},"disk_templates":[{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux
      8","description":"A clean installation of AlmaLinux 8.","permalink":"tem[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disk_templates/disk_template?disk_template%5Bpermalink%5D=templates%2Falmalinux8
    method: GET
  response:
    body: '{"disk_template":{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux 8","description":"A
      clean installation of AlmaLinux 8.","permalink":"templates/almalinux8","universal":true,"end_of_life":1874880000,"size_in_gb":10,"latest_version":{"id":"dtv_z2bhjWLhK52C6hWA"},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux","badge":{"url":"https://cloud.krystal.io/attachment/26b65889-452c-484d-a771-c5451ea06b5a/almalinux.png"}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ea577a2a5d71d38749e2285ec69ab8f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disk_templates/disk_template?disk_template%5Bid%5D=dtpl_HFSqTSuYzkgfqDm1
    method: GET
  response:
    body: '{"disk_template":{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux 8","description":"A
      clean installation of AlmaLinux 8.","permalink":"templates/almalinux8","universal":true,"end_of_life":1874880000,"size_in_gb":10,"latest_version":{"id":"dtv_z2bhjWLhK52C6hWA"},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux","badge":{"url":"https://cloud.krystal.io/attachment/26b65889-452c-484d-a771-c5451ea06b5a/almalinux.png"}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ea577a2a5d71d38749e2285ec69ab8f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disk_template_versions/disk_template_version?disk_template_version%5Bid%5D=dtv_z2bhjWLhK52C6hWA
    method: GET
  response:
    body: '{"disk_template_version":{"id":"dtv_z2bhjWLhK52C6hWA","number":12,"stable":true,"size_in_gb":10,"disk_template":{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux
      8","permalink":"templates/almalinux8"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"602d550fc91bc9c7fe9136e5ad3db7ca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
