---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"color":"green","name":"tf-acc-test-data-source-minimal-vtnwjnz6lqwi"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_6oxEEjyMPJ3jfzqe","name":"tf-acc-test-data-source-minimal-vtnwjnz6lqwi","color":"green","created_at":1778511745}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5631dbf9cc3c7393712c58793143410"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/tag?tag%5Bid%5D=tag_6oxEEjyMPJ3jfzqe
    method: GET
  response:
    body: '{"tag":{"id":"tag_6oxEEjyMPJ3jfzqe","name":"tf-acc-test-data-source-minimal-vtnwjnz6lqwi","color":"green","created_at":1778511745}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5631dbf9cc3c7393712c58793143410"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/tags?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=200
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":6,"per_page":200,"large_set":false},"tags":[{"id":"tag_mlIpqWdqnStbSOtr","name":"app","color":"pastel_yellow"},{"id":"tag_9l9FNBjBpuBbCMFc","name":"lb","color":"light_gray"},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink"},{"id":"tag_fhQDyDKLEetQBnSL","name":"test","color":"pastel_red"},{"id":"tag_6oxEEjyMPJ3jfzqe","name":"tf-acc-test-data-source-minimal-vtnwjnz6lqwi","color":"green"},{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38adf46cb4514a3a4dfdd11e41169122"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tag":{"id":"tag_6oxEEjyMPJ3jfzqe"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/tag
    method: DELETE
  response:
    body: '{"tag":{"id":"tag_6oxEEjyMPJ3jfzqe","name":"tf-acc-test-data-source-minimal-vtnwjnz6lqwi","color":"green","created_at":1778511745}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5631dbf9cc3c7393712c58793143410"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
