---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_missing
    method: GET
  response:
    body: '{"error":{"code":"disk_not_found","description":"No disk was found matching
      any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-mKu5JbeLhav3","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_I4Bu3elhTjuAg16W","name":"tf-acc-test-data-source-mKu5JbeLhav3","size_in_gb":20,"wwn":"080643a44c133d4c","state":"not_built","created_at":1786810364,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_CkH4RRbnv0A8YE2u","name":"Build
      disk","status":"pending","created_at":1786810364,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb18007163459ae84811414276eada4a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_CkH4RRbnv0A8YE2u
    method: GET
  response:
    body: '{"task":{"id":"task_CkH4RRbnv0A8YE2u","name":"Build disk","status":"running","created_at":1786810364,"started_at":1786810364,"finished_at":null,"progress":37}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3d50e3e092605c73fd4c012c493b996"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_I4Bu3elhTjuAg16W
    method: GET
  response:
    body: '{"disk":{"id":"disk_I4Bu3elhTjuAg16W","name":"tf-acc-test-data-source-mKu5JbeLhav3","size_in_gb":20,"wwn":"080643a44c133d4c","state":"built","created_at":1786810364,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aed9665e0e5d5c5ac4cd66d33013eea6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_I4Bu3elhTjuAg16W"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_I4Bu3elhTjuAg16W","name":"tf-acc-test-data-source-mKu5JbeLhav3","size_in_gb":20,"wwn":"080643a44c133d4c","state":"built","created_at":1786810364,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_xa81uxUKltgrEmRE","keep_until":1786983171,"object_id":"disk_I4Bu3elhTjuAg16W","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6b28d525398b925757ed60f4b876bb0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_xa81uxUKltgrEmRE"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_OiVcic0Mqj0mfpjm","name":"Purge items from trash","status":"pending","created_at":1786810371,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"710e6228ebc4f611c1ef7beafc5264a2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_xa81uxUKltgrEmRE
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_xa81uxUKltgrEmRE","keep_until":1786983171,"object_id":"disk_I4Bu3elhTjuAg16W","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1c4039d3b7872aaacd1e38f48acd351"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_I4Bu3elhTjuAg16W
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
