---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP-group","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vAUVr6HxCpS5RX5N","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP-group","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d112dd53eff256ca1e17364b0ae0a01"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_vAUVr6HxCpS5RX5N
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vAUVr6HxCpS5RX5N","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP-group","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d112dd53eff256ca1e17364b0ae0a01"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_mRV9HMHBkcRBmzOC","address":"185.44.252.221","reverse_dns":"185-44-252-221.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4422640e93783bad3187662401313a48"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_mRV9HMHBkcRBmzOC
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_mRV9HMHBkcRBmzOC","address":"185.44.252.221","reverse_dns":"185-44-252-221.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c48f0dbcefe0497174b3775544808f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkIn[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_Zd34h3Q7oRFUIRur
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Zd34h3Q7oRFUIRur","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: '{"properties":{"tag_names":["public","web"]},"virtual_machine":{"id":"vm_Cw1imlQaHtLlEc2Y"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_Cw1imlQaHtLlEc2Y","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP","hostname":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host","fqdn":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778178842,"initial_root_password":"AWxIyUED88KFbi2M","state":"allocating","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_vAUVr6HxCpS5RX5N","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP-group","segregate":true,"auto_segregate":false,"created_at":1778178808},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_mRV9HMHBkcRBmzOC","address":"185.44.252.221","reverse_dns":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_Cw1imlQaHtLlEc2Y","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"183749bed29d852c302a706cae011eeb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "842"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_Cw1imlQaHtLlEc2Y
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Cw1imlQaHtLlEc2Y","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP","hostname":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host","fqdn":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","creat[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_Cw1imlQaHtLlEc2Y
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_0EXE1nZ1GHC7cQhf","name":"Public
      Network on tf-acc-test-data-source-by-id-Z1KFEYXwTAVP","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_mRV9HMHBkcRBmzOC","address":"185.44.252.221","reverse_dns":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.221/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0740727f4993ca1d91bd8e7426474021"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "794"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_0EXE1nZ1GHC7cQhf
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_0EXE1nZ1GHC7cQhf","virtual_machine":{"id":"vm_Cw1imlQaHtLlEc2Y","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP"},"name":"Public
      Network on tf-acc-test-data-source-by-id-Z1KFEYXwTAVP","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:6b:6f:a5:c8:a8","state":"detached","ip_addresses":[{"id":"ip_mRV9HMHBkcRBmzOC","address":"185.44.252.221"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d25734c8475ac0c91caf5821bc1baefe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "793"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_mRV9HMHBkcRBmzOC
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_mRV9HMHBkcRBmzOC","address":"185.44.252.221","reverse_dns":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_Cw1imlQaHtLlEc2Y","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Cw1imlQaHtLlEc2Y","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7156ffd7ac18672979f6f3bcf1eab7db"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "775"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Cw1imlQaHtLlEc2Y"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_WpO9BxSpqOGYeX6q","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"546bd1d621020af7caea16e7bce72ef4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "757"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_WpO9BxSpqOGYeX6q
    method: GET
  response:
    body: '{"task":{"id":"task_WpO9BxSpqOGYeX6q","name":"Stop virtual machine","status":"pending","created_at":1778178894,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f7a3e85f6a4dd364ef55ad5241439387"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "739"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Cw1imlQaHtLlEc2Y"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_d7jggD8pJamntwM8","keep_until":1778351731,"object_id":"vm_Cw1imlQaHtLlEc2Y","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Cw1imlQaHtLlEc2Y","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP","hostname":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host","fqdn":"tf-acc-test-data-source-by-id-z1kfeyxwtavp-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778178842,"initial_root_password":"AWxIyUED88KFbi2M","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: '{"ip_address":{"id":"ip_mRV9HMHBkcRBmzOC"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "904"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_d7jggD8pJamntwM8"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_RJMC8kTRrQqxBNpF","name":"Purge items from trash","status":"pending","created_at":1778178932,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dc1537275f6dce71818d0b2fc7bf5daa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "903"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_d7jggD8pJamntwM8
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_d7jggD8pJamntwM8","keep_until":1778351731,"object_id":"vm_Cw1imlQaHtLlEc2Y","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b0360707c8b03f9a221a21d7efb43f7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "902"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_d7jggD8pJamntwM8
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_vAUVr6HxCpS5RX5N"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vAUVr6HxCpS5RX5N","name":"tf-acc-test-data-source-by-id-Z1KFEYXwTAVP-group","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d112dd53eff256ca1e17364b0ae0a01"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_mRV9HMHBkcRBmzOC"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_Cw1imlQaHtLlEc2Y
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
