---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":[],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-minimal-eRu6nEYC3QvD"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_T5UKENZNrXQgmavz","name":"tf-acc-test-data-source-minimal-eRu6nEYC3QvD","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f09765081fe9c0708e93177e38d0b23d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_T5UKENZNrXQgmavz
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_T5UKENZNrXQgmavz","name":"tf-acc-test-data-source-minimal-eRu6nEYC3QvD","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4fd883716884ec96576585da1f08e89"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_T5UKENZNrXQgmavz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_VBZHMTMLgvnyrM2I","keep_until":1778685377,"object_id":"fsv_T5UKENZNrXQgmavz","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_T5UKENZNrXQgmavz","name":"tf-acc-test-data-source-minimal-eRu6nEYC3QvD","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_T5UKENZNrXQgmavz","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4e539ffd8a415d3943438e7abec211e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_T5UKENZNrXQgmavz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_TKLvyShised2u4qx","name":"Purge items from trash","status":"pending","created_at":1778512577,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b3d13ba8ca9d911cc79ba5a3d86e3c9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_T5UKENZNrXQgmavz
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_VBZHMTMLgvnyrM2I","keep_until":1778685377,"object_id":"fsv_T5UKENZNrXQgmavz","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b99235d50a7c324bd42389819a273d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_T5UKENZNrXQgmavz
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
