---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","default":true,"data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}},{"id":"netw_NONCdbcLHfrIeloe","name":"Public
      Network - AZP","permalink":"us-azp-01","default":true,"data_center":{"id":"dc_U3UVcwL8GKXJdsgw","name":"Phoenix","permalink":"us-azp-01"}},{"id":"netw_gnlxBcgtF7xyMslK","name":"Public
      Network - AMS","permalink":"eu-ams-01","default":true,"data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5aa89e45794e9244ef35efef8f42312d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
