---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=nl-ams-01
    method: GET
  response:
    body: '{"data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"449578c72d35035c7dbf76508b9d7604"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data_center":{"permalink":"uk-lon-01"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-all-giuZ8jyey5c4-backbone"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_networks
    method: POST
  response:
    body: '{"virtual_network":{"id":"vnet_zlsTx8Xkr5N1bNCP","name":"tf-acc-test-data-source-all-giuZ8jyey5c4-backbone","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58f9dfc462bb86ed73116330103cd4f0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"virtual_networks":[{"id":"vnet_hnhPMcdsNNXjlUHu","name":"tf-acc-test-update-name-AxrYRFEsgKpx","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},{"id":"vnet_ril3ReI89om79anc","name":"tf-acc-test-update-data-center-id-0IujM55SNCyX","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_zlsTx8Xkr5N1bNCP
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_zlsTx8Xkr5N1bNCP","name":"tf-acc-test-data-source-all-giuZ8jyey5c4-backbone","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58f9dfc462bb86ed73116330103cd4f0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_GCazNh3QKMVqO9hF
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_GCazNh3QKMVqO9hF","name":"tf-acc-test-data-source-all-giuZ8jyey5c4-fallback","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b22db64bba93612c3bda0bc9582de3c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "891"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_Zy3JCiIvw4jhJ3H0
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_Zy3JCiIvw4jhJ3H0","name":"tf-acc-test-data-source-all-giuZ8jyey5c4-backbone-ams","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f5ecd1759636a6447cf0876a98764da"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_network":{"id":"vnet_Zy3JCiIvw4jhJ3H0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network
    method: DELETE
  response:
    body: '{"virtual_network":{"id":"vnet_Zy3JCiIvw4jhJ3H0","name":"tf-acc-test-data-source-all-giuZ8jyey5c4-backbone-ams","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f5ecd1759636a6447cf0876a98764da"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "852"
    status: 200 OK
    code: 200
    duration: ""
[...]
