---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_dUs3oqQxht3f8F4y","address":"185.44.253.193","reverse_dns":"185-44-253-193.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.193/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6586f89cfb68650b0621626ecbde995"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-disk-nGOntyCVzlk0","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf","name":"tf-acc-test-disk-nGOntyCVzlk0","size_in_gb":20,"wwn":"0f5cf3049b69ba1a","state":"not_built","created_at":1778496112,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_HrUzg7Iw8SqDjsqK","name":"Build
      disk","status":"pending","created_at":1778496112,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"96030337085d953b389fc55f82194ed7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_dUs3oqQxht3f8F4y
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_dUs3oqQxht3f8F4y","address":"185.44.253.193","reverse_dns":"185-44-253-193.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.193/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c452c009cf381550db1e4313891d022d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_HrUzg7Iw8SqDjsqK
    method: GET
  response:
    body: '{"task":{"id":"task_HrUzg7Iw8SqDjsqK","name":"Build disk","status":"pending","created_at":1778496112,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c721261d61908f53867082006fc5fd9d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_P8IXCfwrwnDQhrcf
    method: GET
  response:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf","name":"tf-acc-test-disk-nGOntyCVzlk0","size_in_gb":20,"wwn":"0f5cf3049b69ba1a","state":"built","created_at":1778496112,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"950b06acce07db958163c419e3469948"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_dUs3oqQxht3f8F4y\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-popular-brave-bobcat\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_PkquQai9E49Pygyi","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_XJOOrZeEaYUC1Gqd","state":"pending"},"virtual_machine_build":{"id":"vmbuild_XJOOrZeEaYUC1Gqd","state":"pending"},"hostname":"tf-acc-test-popular-brave-bobcat","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"977554c516870ec2a2a790ed6262db12"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_XJOOrZeEaYUC1Gqd
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_XJOOrZeEaYUC1Gqd","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.193\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-popular-brave-bobcat\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1778496128},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7e8ee374f1b0faf71698af23983e2a1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_Gi6LGZka1XLlVhVw
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw","name":"tf-acc-test-popular-brave-bobcat","hostname":"tf-acc-test-popular-brave-bobcat","fqdn":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud","description":null,"created_at":1778496132,"initial_root_password":"ghMtigRBWlKBL2cN","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_dUs3oqQxht3f8F4y","address":"185.44.253.193","reverse_dns":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.193/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_Gi6LGZka1XLlVhVw","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba5862406f82dc9fdbab6a1145175ec8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_Gi6LGZka1XLlVhVw
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_FZaQY1tcfzPKVEOr","name":"System
      Disk","size_in_gb":25,"wwn":"003d27ffbb994664","state":"built","created_at":1778496132},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3eed357bb027548f693acb73bd01ea30"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf"},"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/assign
    method: POST
  response:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf","name":"tf-acc-test-disk-nGOntyCVzlk0","size_in_gb":20,"wwn":"0f5cf3049b69ba1a","state":"built","created_at":1778496112,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw","fqdn":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff8b90018dc5225d8fdaf07cae277dd2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/attach
    method: POST
  response:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf","name":"tf-acc-test-disk-nGOntyCVzlk0","size_in_gb":20,"wwn":"0f5cf3049b69ba1a","state":"built","created_at":1778496112,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw","fqdn":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null},"task":{"id":"task_u94HHG8FFeLFtIfn","name":"Attach
      disk to virtual machine","status":"pending","created_at":1778496168,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"144ef8574c1a837b690a75e8583f0c7f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_u94HHG8FFeLFtIfn
    method: GET
  response:
    body: '{"task":{"id":"task_u94HHG8FFeLFtIfn","name":"Attach disk to virtual machine","status":"pending","created_at":1778496168,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c2046a30f167ff819a133d2a04eb4aa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_Gi6LGZka1XLlVhVw
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_05D20Uh1be4qqmKG","name":"Public
      Network on tf-acc-test-popular-brave-bobcat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_dUs3oqQxht3f8F4y","address":"185.44.253.193","reverse_dns":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.253.193/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4094639413f0979862c6564bc948077c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_05D20Uh1be4qqmKG
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_05D20Uh1be4qqmKG","virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw","name":"tf-acc-test-popular-brave-bobcat"},"name":"Public
      Network on tf-acc-test-popular-brave-bobcat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:82:02:6e:ad:dc","state":"attached","ip_addresses":[{"id":"ip_dUs3oqQxht3f8F4y","address":"185.44.253.193"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a087f2ac9742e999677f983934d17de2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_FZaQY1tcfzPKVEOr
    method: GET
  response:
    body: '{"disk":{"id":"disk_FZaQY1tcfzPKVEOr","name":"System Disk","size_in_gb":25,"wwn":"003d27ffbb994664","state":"built","created_at":1778496132,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw","fqdn":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":true,"state":"attached"},"installation":{"id":"dinst_8dhnisngRjyGPO9u","disk_template_version":{"number":1,"stable":true,"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","permalink":"templates/ubuntu-18-04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"}}},"attributes":[{"key":"root_password","label":"Root
      password","value":"ghMtigRBWlKBL2cN","description":"This is the password we
      have set for your root user.\nYou should change this.","protect":true}]}},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"507fa63f52391e8823eb18253885492f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_dUs3oqQxht3f8F4y
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_dUs3oqQxht3f8F4y","address":"185.44.253.193","reverse_dns":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.193/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_Gi6LGZka1XLlVhVw","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Gi6LGZka1XLlVhVw","name":"tf-acc-test-popular-brave-bobcat"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"521aa28c2f18423d9f9fc11da807b14a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf","name":"tf-acc-test-disk-nGOntyCVzlk0","size_in_gb":20,"wwn":"0f5cf3049b69ba1a","state":"built","created_at":1778496112,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw","fqdn":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"attached"},"installation":null},"task":{"id":"task_9NjqsaaZCKKalbna","name":"Detach
      disk from virtual machine","status":"pending","created_at":1778496185,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f826206456c1e577216217ed3efa5b6f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_9NjqsaaZCKKalbna
    method: GET
  response:
    body: '{"task":{"id":"task_9NjqsaaZCKKalbna","name":"Detach disk from virtual
      machine","status":"running","created_at":1778496185,"started_at":1778496186,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7bf9a7aa7a1f58b5ab32d7abab57cfe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf","name":"tf-acc-test-disk-nGOntyCVzlk0","size_in_gb":20,"wwn":"0f5cf3049b69ba1a","state":"built","created_at":1778496112,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d12f43717e4d947ce971499cc3b78ee9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_2Gl9pcf7PF0VUVbH","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59703755accf3d2d74e8dc908fff07d9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_2Gl9pcf7PF0VUVbH
    method: GET
  response:
    body: '{"task":{"id":"task_2Gl9pcf7PF0VUVbH","name":"Stop virtual machine","status":"running","created_at":1778496192,"started_at":1778496192,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1794f247c17423810a2c66625e66851c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_s4otVg2ponJSIPxO","keep_until":1778668999,"object_id":"vm_Gi6LGZka1XLlVhVw","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Gi6LGZka1XLlVhVw","name":"tf-acc-test-popular-brave-bobcat","hostname":"tf-acc-test-popular-brave-bobcat","fqdn":"tf-acc-test-popular-brave-bobcat.terraform-acc-test.katapult.cloud","description":null,"created_at":1778496132,"initial_root_password":"ghMtigRBWlKBL2cN","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country[...]
- request:
    body: '{"ip_address":{"id":"ip_dUs3oqQxht3f8F4y"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_s4otVg2ponJSIPxO"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_ZXblWTG9H9HpIqQu","name":"Purge items from trash","status":"pending","created_at":1778496200,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"10690f4277925595f44888aef901a5b3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_s4otVg2ponJSIPxO
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_s4otVg2ponJSIPxO","keep_until":1778668999,"object_id":"vm_Gi6LGZka1XLlVhVw","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59b7669a2f723ae0d841d9dd633578dc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_s4otVg2ponJSIPxO
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_dUs3oqQxht3f8F4y"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_P8IXCfwrwnDQhrcf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
[...]
