---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":[],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-minimal-y8gCs6b3ErRY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_ig1mSgxGemAuY7O6","name":"tf-acc-test-data-source-minimal-y8gCs6b3ErRY","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dd491c204b31b6a5eec955916cb10e59"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_ig1mSgxGemAuY7O6
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_ig1mSgxGemAuY7O6","name":"tf-acc-test-data-source-minimal-y8gCs6b3ErRY","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"03059a640038df28ea75cd0afcef746f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "753"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_ig1mSgxGemAuY7O6"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_R1QbcGdVldoBQAaf","keep_until":1778092839,"object_id":"fsv_ig1mSgxGemAuY7O6","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_ig1mSgxGemAuY7O6","name":"tf-acc-test-data-source-minimal-y8gCs6b3ErRY","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_ig1mSgxGemAuY7O6","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8d91642ee36af79d38d907266734bf6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "613"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_ig1mSgxGemAuY7O6"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_J39k0fwXsSM0mCHY","name":"Purge items from trash","status":"pending","created_at":1777920039,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9b43c17ee075529f461122e898194865"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "611"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_ig1mSgxGemAuY7O6
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_R1QbcGdVldoBQAaf","keep_until":1778092839,"object_id":"fsv_ig1mSgxGemAuY7O6","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb6fcba1d57f8839380e0e419f68ca17"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "609"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_ig1mSgxGemAuY7O6
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
