---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-default-Ic1xd6g70cmP-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_zA7hSCE29SB9X1Oo","name":"tf-acc-test-data-source-default-Ic1xd6g70cmP-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"390479d2cd2c2de7a756e2abff1683b4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_zA7hSCE29SB9X1Oo
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_zA7hSCE29SB9X1Oo","name":"tf-acc-test-data-source-default-Ic1xd6g70cmP-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0566c6dfd89a534a89570d802e0d6b85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_yftyazoXTBgGvUPW
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_yftyazoXTBgGvUPW","name":"tf-acc-test-data-source-default-Ic1xd6g70cmP-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5978b0eeda581eaf9b9f286592a9940"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"file_storage_volumes":[{"id":"fsv_zA7hSCE29SB9X1Oo","name":"tf-acc-test-data-source-default-Ic1xd6g70cmP-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_zA7hSCE29SB9X1Oo","size":0},{"id":"fsv_yftyazoXTBgGvUPW","name":"tf-acc-test-data-source-default-Ic1xd6g70cmP-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_yftyazoXTBgGvUPW","size":0}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c06e0f7dd30a91995ea8eb4a4f3f8f68"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_yftyazoXTBgGvUPW"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_wfeHJpSUKgDQ2FbA","keep_until":1720635279,"object_id":"fsv_yftyazoXTBgGvUPW","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_yftyazoXTBgGvUPW","name":"tf-acc-test-data-source-default-Ic1xd6g70cmP-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_yftyazoXTBgGvUPW","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9a47925c7578eedbdcc44b50f388f9aa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_yftyazoXTBgGvUPW"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_lTSPDj8OcZ6cbeiu","name":"Purge items from trash","status":"pending","created_at":1720462479,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9cac415934d38a3954a3bf7539034a51"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_yftyazoXTBgGvUPW
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_wfeHJpSUKgDQ2FbA","keep_until":1720635279,"object_id":"fsv_yftyazoXTBgGvUPW","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d2909e989691b387feb67a6a5e394174"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_yftyazoXTBgGvUPW
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_zA7hSCE29SB9X1Oo
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_alWshKn918xL0TYE","keep_until":1720635306,"object_id":"fsv_zA7hSCE29SB9X1Oo","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6403d124da92f0f4e5c8c1a374ba01e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
