---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/networks/:network?network%5Bid%5D=netw_gnlxBcgtF7xyMslK
    method: GET
  response:
    body: '{"network":{"id":"netw_gnlxBcgtF7xyMslK","name":"Public Network - AMS","permalink":"eu-ams-01","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6091c7ee8f20013f30ecc668801ba9b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bid%5D=dc_Wm37yAq0BHhKXsPa
    method: GET
  response:
    body: '{"network":{"id":"netw_gnlxBcgtF7xyMslK","name":"Public Network - AMS","permalink":"eu-ams-01","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b45b1522397a20ffb1b5858b6b307b69"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
