---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_siQFG0DnNEmvE6Us","name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f9443f6515abe6d0b6c14f75cc36588"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "742"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_siQFG0DnNEmvE6Us
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_siQFG0DnNEmvE6Us","name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f9443f6515abe6d0b6c14f75cc36588"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "739"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_siQFG0DnNEmvE6Us"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u-entry-one"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_hk3szSIqspLGjEn2","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f30b4c5ccc1849c4b5c416c6d6825f48"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "736"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_hk3szSIqspLGjEn2
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_hk3szSIqspLGjEn2","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f30b4c5ccc1849c4b5c416c6d6825f48"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "732"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_hk3szSIqspLGjEn2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_hk3szSIqspLGjEn2","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f30b4c5ccc1849c4b5c416c6d6825f48"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "699"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_siQFG0DnNEmvE6Us"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_siQFG0DnNEmvE6Us","name":"tf-acc-test-data-source-minimal-urfYF1NlYu1u","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7373a29eff3e40342a8eda619900cff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "698"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_siQFG0DnNEmvE6Us
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "697"
    status: 404 Not Found
    code: 404
    duration: ""
