---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"185-53-57-214.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7a432557baf4aff30fa933df06ce38af"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_eVBlIcr0HXACL80t
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"185-53-57-214.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09d34feb415c5902c29be8d54609d8ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_eVBlIcr0HXACL80t\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-data-source-associations-fb1vcsbnaehv-web\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_7DpYRiMqUe0Mo6AY","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_qlLglzww0efcICx1","state":"pending"},"virtual_machine_build":{"id":"vmbuild_qlLglzww0efcICx1","state":"pending"},"hostname":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d692a06230ca43f085df2599654b52ec"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_qlLglzww0efcICx1
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_qlLglzww0efcICx1","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.214\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-data-source-associations-fb1vcsbnaehv-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1778243999},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa21e6248331f8500e1f4ac8f983199f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_XYARZ2Y8UmuaXizm
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_XYARZ2Y8UmuaXizm","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web","hostname":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web","fqdn":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1778244006,"initial_root_password":"BM3WD67MCYRAPYq3","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_XYARZ2Y8UmuaXizm","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"11b43bea57f7d2366d3cb042cdf89586"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_XYARZ2Y8UmuaXizm
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_XZLMRNf3mqQnuJdT","name":"Public
      Network on tf-acc-test-data-source-associations-fb1vcsbnaehv-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web.terraform-acc-test.katapult.cloud","address_with_mask":"185.53.57.214/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"14c660165819a35a7c4319e45017ecfd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_XZLMRNf3mqQnuJdT
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_XZLMRNf3mqQnuJdT","virtual_machine":{"id":"vm_XYARZ2Y8UmuaXizm","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-fb1vcsbnaehv-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:85:58:1a:3a:bc","state":"attached","ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d85eadd44c7ae4ec1849d69513ace90"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_XYARZ2Y8UmuaXizm
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_L1Hz9tOvK3ze35Bi","name":"System
      Disk","size_in_gb":25,"wwn":"066739c7c2e2be9e","state":"built","created_at":1778244006},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"633df39b88f01e294e8d46869907ba89"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_XYARZ2Y8UmuaXizm"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-associations-fb1vcsbnaehv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_YO8t0GG9ahk8hrKF","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_XYARZ2Y8UmuaXizm"],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0f616957796c2928499664bbe2266e53"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_YO8t0GG9ahk8hrKF
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_YO8t0GG9ahk8hrKF","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_XYARZ2Y8UmuaXizm"],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d5d203afc613f6714db2836a4a611ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_eVBlIcr0HXACL80t
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_XYARZ2Y8UmuaXizm","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_XYARZ2Y8UmuaXizm","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71b6a9fc902803aac7719b1a5690587a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_HkxhtyjL6oxik5Tm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"185-53-57-146.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2937504c4355622ec64b3205024c9106"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_MI0pKW7iw50PIezi
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_MI0pKW7iw50PIezi","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"per[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_EBuSWA2QKV3lCc6W
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_EBuSWA2QKV3lCc6W","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv-db","hostname":"tf-acc-test-data-source-associations-fb1vcsbnaehv-db","fqdn":"tf-acc-test-data-source-associations-fb1vcsbnaehv-db.terraform-acc-test.katapult.cloud","description":null,"cr[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_EBuSWA2QKV3lCc6W
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_3J2rVryij9gy133d","name":"Public
      Network on tf-acc-test-data-source-associations-fb1vcsbnaehv-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"tf-acc-test-data-source-associations-fb1vcsbnaehv-db.terraform-acc-test.katapult.cloud","address_with_mask":"185.53.57.146/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8130299460563f7129e9845c173f2c0d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_3J2rVryij9gy133d
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_3J2rVryij9gy133d","virtual_machine":{"id":"vm_EBuSWA2QKV3lCc6W","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-fb1vcsbnaehv-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:9e:c0:ae:0c:9f","state":"attached","ip_addresses":[{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ffe7647e1573e6cdb4c678b8a3a39c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_EBuSWA2QKV3lCc6W
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_KYZSITkPPMCkuauK","name":"System
      Disk","size_in_gb":25,"wwn":"0bbeccf444e9b9f4","state":"built","created_at":1778244069},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87af13ae0abf0ad42b9b2a4849e4521b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_YO8t0GG9ahk8hrKF"},"properties":{"associations":["vm_EBuSWA2QKV3lCc6W","vm_XYARZ2Y8UmuaXizm"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_YO8t0GG9ahk8hrKF","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_XYARZ2Y8UmuaXizm","vm_EBuSWA2QKV3lCc6W"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_YO8t0GG9ahk8hrKF","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c460d6a3194dcb5d7b1debd5a8779f7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_YO8t0GG9ahk8hrKF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_ngdPS2jCwrv40qsI","keep_until":1778416925,"object_id":"fsv_YO8t0GG9ahk8hrKF","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_YO8t0GG9ahk8hrKF","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_XYARZ2Y8UmuaXizm","vm_EBuSWA2QKV3lCc6W"],"state":"configuring","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_YO8t0GG9ahk8hrKF","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5b971b2a68087b75e1caec6c7848309"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_YO8t0GG9ahk8hrKF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_t88fG748FFOAEb9v","name":"Purge items from trash","status":"pending","created_at":1778244125,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d95403b73d27e948156d10c7a4f689d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_YO8t0GG9ahk8hrKF
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_ngdPS2jCwrv40qsI","keep_until":1778416925,"object_id":"fsv_YO8t0GG9ahk8hrKF","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"001334bf29d4396fbe7b693fd55a7ec1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_YO8t0GG9ahk8hrKF
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_EBuSWA2QKV3lCc6W"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_6qyilEgHMZ1cTmIy","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4864faf73cc232aec2a3f002d6285f97"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_6qyilEgHMZ1cTmIy
    method: GET
  response:
    body: '{"task":{"id":"task_6qyilEgHMZ1cTmIy","name":"Stop virtual machine","status":"running","created_at":1778244161,"started_at":1778244162,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e287730623b3fcc5f4d2570932ba3bd5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_ZyvSqBV7r7u4BTid
    method: GET
  response:
    body: '{"task":{"id":"task_ZyvSqBV7r7u4BTid","name":"Stop virtual machine","status":"running","created_at":1778244161,"started_at":1778244162,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"450188384e67e4b089d3efc03479a850"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_XYARZ2Y8UmuaXizm"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_Op0CC2VNfxQaf32Y","keep_until":1778416968,"object_id":"vm_XYARZ2Y8UmuaXizm","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_XYARZ2Y8UmuaXizm","name":"tf-acc-test-data-source-associations-fb1vcsbnaehv-w[...]
[...]
- request:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_Op0CC2VNfxQaf32Y
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_Op0CC2VNfxQaf32Y","keep_until":1778416968,"object_id":"vm_XYARZ2Y8UmuaXizm","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abf2bc9b30d784595a6f29ad3a4dc01d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_zAmwpJfTEUmqwhNu
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_zAmwpJfTEUmqwhNu","keep_until":1778416968,"object_id":"vm_EBuSWA2QKV3lCc6W","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6dbc6d1f45eede756ba4d22db9777fa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
