---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-x6mjxzeiiblk"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_et2vCiuPqWJxbcVQ","name":"tf-acc-test-data-source-minimal-x6mjxzeiiblk","color":"pastel_brown","created_at":1723462058}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3d9220e3a105d2b97ed88ab4e9533cc3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/tag?tag%5Bid%5D=tag_et2vCiuPqWJxbcVQ
    method: GET
  response:
    body: '{"tag":{"id":"tag_et2vCiuPqWJxbcVQ","name":"tf-acc-test-data-source-minimal-x6mjxzeiiblk","color":"pastel_brown","created_at":1723462058}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3d9220e3a105d2b97ed88ab4e9533cc3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tag":{"id":"tag_et2vCiuPqWJxbcVQ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/tag
    method: DELETE
  response:
    body: '{"tag":{"id":"tag_et2vCiuPqWJxbcVQ","name":"tf-acc-test-data-source-minimal-x6mjxzeiiblk","color":"pastel_brown","created_at":1723462058}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3d9220e3a105d2b97ed88ab4e9533cc3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
