---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-c30oKrfksBtK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_u5f6rKFVFXR02vuj","name":"tf-acc-test-data-source-minimal-c30oKrfksBtK","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1aa1bad60049a20b646a23cf98b42373"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_u5f6rKFVFXR02vuj
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_u5f6rKFVFXR02vuj","name":"tf-acc-test-data-source-minimal-c30oKrfksBtK","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1aa1bad60049a20b646a23cf98b42373"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_DJdqkOKynz7oqPik
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_DJdqkOKynz7oqPik","name":"tf-acc-test-data-source-minimal-c30oKrfksBtK-alt","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e10f3cb775066f991431aa95afcfbe25"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"address_lists":[{"id":"adlst_CIPh1hirGi9KqJ8Z","name":"tf-acc-test-data-source-minimal-8CNPn5gJPx6f","global":false},{"id":"adlst_u5f6rKFVFXR02vuj","name":"tf-acc-test-data-source-minimal-c30oKrfksBtK","global":false},{"id":"adlst_CyG9WoN6qklT89yj","name":"tf-acc-test-data-source-minimal-6piGErOZbOmZ","global":false},{"id":"adlst_ktPah63o8ztcjeyW","name":"tf-acc-test-data-source-minimal-c6sXoxLed8OU","global":false},{"id":"adlst_DJdqkOKynz7oqPik","name":"tf-acc-test-data-source-minimal-c30oKrfksBtK-alt","global":false}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b74a3c7d507df565b4cce93d31e864fc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_DJdqkOKynz7oqPik"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_DJdqkOKynz7oqPik","name":"tf-acc-test-data-source-minimal-c30oKrfksBtK-alt","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7719ec851048451db447b637071aeb56"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_DJdqkOKynz7oqPik
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
