---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231","reverse_dns":"185-44-252-231.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.231/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be95a97f968359ea6edd68f030e35e04"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_VY1yFEi3yDSPQG6i
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231","reverse_dns":"185-44-252-231.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.231/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7bb9a8eee5f97e1526185c41fc94db1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_VY1yFEi3yDSPQG6i
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231","reverse_dns":"185-44-252-231.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.231/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7bb9a8eee5f97e1526185c41fc94db1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_VY1yFEi3yDSPQG6i</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-associations-plrbpq3gzvdk-web</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_IjBYDFonreDWBm5F","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_KWeRzaglw1mWkyra","state":"pending"},"virtual_machine_build":{"id":"vmbuild_KWeRzaglw1mWkyra","state":"pending"},"hostname":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f0093ab157063a11cac9b645200b7e2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_KWeRzaglw1mWkyra
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_KWeRzaglw1mWkyra","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.231\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-data-source-associations-plrbpq3gzvdk-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738863620},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"093b315bcac2019156521712b9a5f13b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_bOPHwyaA5dGKhMp9
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_bOPHwyaA5dGKhMp9","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web","hostname":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web","fqdn":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1738863628,"initial_root_password":"Ha7JooBGjwW0zHQF","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231","reverse_dns":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.231/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_bOPHwyaA5dGKhMp9","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c6286c3a13bf7597cf2a7abcfe4f50d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_bOPHwyaA5dGKhMp9
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_o5KdjMHTdv3aO9Um","name":"Public
      Network on tf-acc-test-data-source-associations-plrbpq3gzvdk-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e6da4f588f07c6d79ee7ac19188c2a2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_o5KdjMHTdv3aO9Um
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_o5KdjMHTdv3aO9Um","virtual_machine":{"id":"vm_bOPHwyaA5dGKhMp9","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-plrbpq3gzvdk-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:a7:00:b1:35:7e","state":"attached","ip_addresses":[{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74d2a7eb4896e83cde22b8337545ef14"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_o5KdjMHTdv3aO9Um
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_o5KdjMHTdv3aO9Um","virtual_machine":{"id":"vm_bOPHwyaA5dGKhMp9","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-plrbpq3gzvdk-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:a7:00:b1:35:7e","state":"attached","ip_addresses":[{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74d2a7eb4896e83cde22b8337545ef14"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_bOPHwyaA5dGKhMp9"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-associations-plrbpq3gzvdk"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_CEsxz9k1LKCtL3Hn","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bOPHwyaA5dGKhMp9"],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b1807f92337ac0144331ab2735f3d2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_CEsxz9k1LKCtL3Hn
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_CEsxz9k1LKCtL3Hn","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bOPHwyaA5dGKhMp9"],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a0e5316f378cb75af84d782029e65590"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_VY1yFEi3yDSPQG6i
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231","reverse_dns":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.231/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_bOPHwyaA5dGKhMp9","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_bOPHwyaA5dGKhMp9","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"55591b4f4e516fad7b43f26c87849ad3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_kI5YFBN4RnPoCm57
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_kI5YFBN4RnPoCm57","address":"185.44.255.71","reverse_dns":"185-44-255-71.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.71/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ea9d16c4a58037a42cd9ef97cd93b0c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_kI5YFBN4RnPoCm57
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_kI5YFBN4RnPoCm57","address":"185.44.255.71","reverse_dns":"185-44-255-71.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.71/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ea9d16c4a58037a42cd9ef97cd93b0c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_VhVaZnlni6Tykhcf
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_VhVaZnlni6Tykhcf","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_40qRE38nJBIWBJKs
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_40qRE38nJBIWBJKs","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk-db","hostname":"tf-acc-test-data-source-associations-plrbpq3gzvdk-db","fqdn":"tf-acc-test-data-source-associations-plrbpq3gzvdk-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1738[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_40qRE38nJBIWBJKs
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_GOkSXjJbTuMdnrwP","name":"Public
      Network on tf-acc-test-data-source-associations-plrbpq3gzvdk-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_kI5YFBN4RnPoCm57","address":"185.44.255.71"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bf1847d4c09991ca06eb187ab3a517e7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_GOkSXjJbTuMdnrwP
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_GOkSXjJbTuMdnrwP","virtual_machine":{"id":"vm_40qRE38nJBIWBJKs","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-plrbpq3gzvdk-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:4f:c3:58:26:10","state":"attached","ip_addresses":[{"id":"ip_kI5YFBN4RnPoCm57","address":"185.44.255.71"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49b6b5895a332cf32e3971de4f44522c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_GOkSXjJbTuMdnrwP
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_GOkSXjJbTuMdnrwP","virtual_machine":{"id":"vm_40qRE38nJBIWBJKs","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-plrbpq3gzvdk-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:4f:c3:58:26:10","state":"attached","ip_addresses":[{"id":"ip_kI5YFBN4RnPoCm57","address":"185.44.255.71"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49b6b5895a332cf32e3971de4f44522c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_CEsxz9k1LKCtL3Hn"},"properties":{"associations":["vm_40qRE38nJBIWBJKs","vm_bOPHwyaA5dGKhMp9"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_CEsxz9k1LKCtL3Hn","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bOPHwyaA5dGKhMp9","vm_40qRE38nJBIWBJKs"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_CEsxz9k1LKCtL3Hn","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aaf34a45bb04a612d045c7b572a41e3e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_CEsxz9k1LKCtL3Hn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_o5RmK3r8rS1v7vKl","keep_until":1739036529,"object_id":"fsv_CEsxz9k1LKCtL3Hn","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_CEsxz9k1LKCtL3Hn","name":"tf-acc-test-data-source-associations-plrbpq3gzvdk","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bOPHwyaA5dGKhMp9","vm_40qRE38nJBIWBJKs"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_CEsxz9k1LKCtL3Hn","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"271f3bb2b97ee4b5dd0860b71f58d8f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_CEsxz9k1LKCtL3Hn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_BK9hg5vxXLWH3lPa","name":"Purge items from trash","status":"pending","created_at":1738863730,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d98f1dbb734614b3e149394da6a6112"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_CEsxz9k1LKCtL3Hn
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_o5RmK3r8rS1v7vKl","keep_until":1739036529,"object_id":"fsv_CEsxz9k1LKCtL3Hn","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c89507a8d7744491d36de216e3018bd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_CEsxz9k1LKCtL3Hn
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_bOPHwyaA5dGKhMp9
    method: POST
  response:
    body: '{"task":{"id":"task_VKmqCj0AenaPhpLu","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ebf0132893af3a2916106c3c22b409c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_40qRE38nJBIWBJKs
    method: POST
  response:
    body: '{"task":{"id":"task_NauyhFfPHP6gg2Ev","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"436f41120acb898c91a2a7825dfc9bea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_VKmqCj0AenaPhpLu
    method: GET
  response:
    body: '{"task":{"id":"task_VKmqCj0AenaPhpLu","name":"Stop virtual machine","status":"running","created_at":1738863766,"started_at":1738863767,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebb574719fabe415ebe407cd3bfeb9f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_NauyhFfPHP6gg2Ev
    method: GET
  response:
    body: '{"task":{"id":"task_NauyhFfPHP6gg2Ev","name":"Stop virtual machine","status":"running","created_at":1738863766,"started_at":1738863767,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"95911265fcc668a434ec763399f7a194"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_VY1yFEi3yDSPQG6i
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_bOPHwyaA5dGKhMp9
    method: DELETE
  response:
    body: '{"task":{"id":"task_4qNR9MXZEu4TDuM4","name":"Purge items from trash","status":"pending","created_at":1738863774,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f97004bef425540fb48b7d620b8b3e57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
[...]
