---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-9EuxeH3PdA86"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_65QRbJ7atRUUAmeT","name":"tf-acc-test-data-source-minimal-9EuxeH3PdA86","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"406c2081500aa35aab7ec0b2910e8239"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "813"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_65QRbJ7atRUUAmeT
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_65QRbJ7atRUUAmeT","name":"tf-acc-test-data-source-minimal-9EuxeH3PdA86","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"406c2081500aa35aab7ec0b2910e8239"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "810"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_65QRbJ7atRUUAmeT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_65QRbJ7atRUUAmeT","name":"tf-acc-test-data-source-minimal-9EuxeH3PdA86","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e0632cf2bb483c282f260090de5609d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "738"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_65QRbJ7atRUUAmeT
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "734"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
