---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":[],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-default-MoqozPbAKq4Y-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_gQN8ZjTTUrzg3WYT","name":"tf-acc-test-data-source-default-MoqozPbAKq4Y-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a5b69d7e25907d45da1d26ce858b3e44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_gQN8ZjTTUrzg3WYT
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_gQN8ZjTTUrzg3WYT","name":"tf-acc-test-data-source-default-MoqozPbAKq4Y-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d14f6981e669b8574921138899ac49e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "752"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_Go7UH5IrkrrNe8Fi
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_Go7UH5IrkrrNe8Fi","name":"tf-acc-test-data-source-default-MoqozPbAKq4Y-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"46f89c1d33e693dd9f6a80e4783c106a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "608"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":6,"per_page":30,"large_set":false},"file_storage_volumes":[{"id":"fsv_THmSM1bwufRDl6km","name":"tf-acc-test-update-name-Na9d8AGCsxXs","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_THmSM1bwufRDl6km","size":0},{"id":"fsv_jRFuRchlK3U2QM1Z","name":"tf-acc-test-minimal-0fZpSjPcZJKz","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.stora[...]
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_Go7UH5IrkrrNe8Fi"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_dJTjKtyQO5cQpdvB","keep_until":1778092856,"object_id":"fsv_Go7UH5IrkrrNe8Fi","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_Go7UH5IrkrrNe8Fi","name":"tf-acc-test-data-source-default-MoqozPbAKq4Y-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_Go7UH5IrkrrNe8Fi","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fb79b808a22ba629d3c0d573b465c17a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "592"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_Go7UH5IrkrrNe8Fi"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_kWQJiKBMfJQmdnGb","name":"Purge items from trash","status":"pending","created_at":1777920057,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c9ad69c2f2b110340141f209b5d9ae1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "591"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_Go7UH5IrkrrNe8Fi
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_dJTjKtyQO5cQpdvB","keep_until":1778092856,"object_id":"fsv_Go7UH5IrkrrNe8Fi","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8fbdd4b9aff8f2a51a7a4c8db5291d93"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "590"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_Go7UH5IrkrrNe8Fi
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "909"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_gQN8ZjTTUrzg3WYT
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_tOJNlfYbvJKI2Sao","keep_until":1778092893,"object_id":"fsv_gQN8ZjTTUrzg3WYT","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2389720e046539207684780a71f37560"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "895"
    status: 200 OK
    code: 200
    duration: ""
[...]
