---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-Dj2hXUq8jzQF-1","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_XHyMwDWA9qhiEPhJ","name":"tf-acc-test-data-source-default-Dj2hXUq8jzQF-1","segregate":true,"auto_segregate":false,"created_at":1777920021}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fdbbf83dc492d752b09069812996c005"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_XHyMwDWA9qhiEPhJ
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_XHyMwDWA9qhiEPhJ","name":"tf-acc-test-data-source-default-Dj2hXUq8jzQF-1","segregate":true,"auto_segregate":false,"created_at":1777920021}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fdbbf83dc492d752b09069812996c005"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_TWxVGDU7c727XGWt
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_TWxVGDU7c727XGWt","name":"tf-acc-test-data-source-default-Dj2hXUq8jzQF-2","segregate":false,"auto_segregate":false,"created_at":1777920021}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"73331b1b2e58ba95781643a5056a53a9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"virtual_machine_groups":[{"id":"vmgrp_v3V4fzVGrp7gESJR","name":"lb-test","segregate":true,"auto_segregate":false,"created_at":1697026200},{"id":"vmgrp_idT2JL9HTll0Yy7C","name":"web","segregate":true,"auto_segregate":false,"created_at":1699006350},{"id":"vmgrp_bLyxHLu0Sb140W9F","name":"monitoring","segregate":true,"auto_segregate":false,"created_at":1699006350},{"id":"vmgrp_rzbx38BTaKaqGaYK","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1699006350},{"id":"vmgrp_JdTZLsOsNGQ9NA5w","name":"web","seg[...]
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_TWxVGDU7c727XGWt"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_TWxVGDU7c727XGWt","name":"tf-acc-test-data-source-default-Dj2hXUq8jzQF-2","segregate":false,"auto_segregate":false,"created_at":1777920021}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"73331b1b2e58ba95781643a5056a53a9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "821"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_XHyMwDWA9qhiEPhJ
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "815"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
