---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-z2Y0YeQnqkSg"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_SkqjTdwb95gNEgUX","name":"tf-acc-test-data-source-minimal-z2Y0YeQnqkSg","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ace286d66ae0e1a09c10de194c569c76"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_SkqjTdwb95gNEgUX
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_SkqjTdwb95gNEgUX","name":"tf-acc-test-data-source-minimal-z2Y0YeQnqkSg","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ace286d66ae0e1a09c10de194c569c76"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_OFU6LMHKqxFnhqsr
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_OFU6LMHKqxFnhqsr","name":"tf-acc-test-data-source-minimal-z2Y0YeQnqkSg-alt","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6214df8fd29709986c4863116cf2603b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"address_lists":[{"id":"adlst_0s3SPmQtqGT3QJtc","name":"Public
      DNS Servers","global":false},{"id":"adlst_SkqjTdwb95gNEgUX","name":"tf-acc-test-data-source-minimal-z2Y0YeQnqkSg","global":false},{"id":"adlst_OFU6LMHKqxFnhqsr","name":"tf-acc-test-data-source-minimal-z2Y0YeQnqkSg-alt","global":false}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa631126f058ce6311964a23fb22b379"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_OFU6LMHKqxFnhqsr"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_OFU6LMHKqxFnhqsr","name":"tf-acc-test-data-source-minimal-z2Y0YeQnqkSg-alt","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6214df8fd29709986c4863116cf2603b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_OFU6LMHKqxFnhqsr
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
