---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_e5DKStLdEpnbB7XY","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee393db54a0837064063e7cf79d3efc2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_e5DKStLdEpnbB7XY
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_e5DKStLdEpnbB7XY","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee393db54a0837064063e7cf79d3efc2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_e5DKStLdEpnbB7XY"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0-entry-one"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_DiWm2qcG5MoNYPYC","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8a6aba8588b572db55fec427c3ad2b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_DiWm2qcG5MoNYPYC
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_DiWm2qcG5MoNYPYC","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8a6aba8588b572db55fec427c3ad2b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_a8pIHYBtCvZzSuCk
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_a8pIHYBtCvZzSuCk","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0-entry-two"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7cd8e7cb06041086d3a4e02e6e835026"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries?address_list%5Bid%5D=adlst_e5DKStLdEpnbB7XY
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"address_list_entries":[{"id":"adlste_a8pIHYBtCvZzSuCk","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0-entry-two"},{"id":"adlste_DiWm2qcG5MoNYPYC","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0-entry-one"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1c35ea671a95217719847504dcea3e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_DiWm2qcG5MoNYPYC"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_DiWm2qcG5MoNYPYC","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8a6aba8588b572db55fec427c3ad2b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_e5DKStLdEpnbB7XY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_e5DKStLdEpnbB7XY","name":"tf-acc-test-data-source-minimal-fFyG0vs2rTk0","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee393db54a0837064063e7cf79d3efc2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_e5DKStLdEpnbB7XY
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 404 Not Found
    code: 404
    duration: ""
