---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_2x2LjnNIJrjYDjCI","name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6002a4199540ad4edd3b2f973b1ab914"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_2x2LjnNIJrjYDjCI
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_2x2LjnNIJrjYDjCI","name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6002a4199540ad4edd3b2f973b1ab914"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_2x2LjnNIJrjYDjCI"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK-entry-one"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_ICHLN1ln24Ko57eY","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f80e5590404c1e306781635971f62415"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_ICHLN1ln24Ko57eY
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_ICHLN1ln24Ko57eY","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f80e5590404c1e306781635971f62415"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_ICHLN1ln24Ko57eY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_ICHLN1ln24Ko57eY","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f80e5590404c1e306781635971f62415"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_2x2LjnNIJrjYDjCI"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_2x2LjnNIJrjYDjCI","name":"tf-acc-test-data-source-minimal-nZxsv3tWDQQK","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6002a4199540ad4edd3b2f973b1ab914"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_2x2LjnNIJrjYDjCI
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 404 Not Found
    code: 404
    duration: ""
