---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Yu4vIT6oQW6R4CUD","address":"185.44.255.149","reverse_dns":"185-44-255-149.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.149/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8806fb2a6b398c96202430ac427d161c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_Yu4vIT6oQW6R4CUD
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Yu4vIT6oQW6R4CUD","address":"185.44.255.149","reverse_dns":"185-44-255-149.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.149/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d9e3cfbd6f5577dfcacd381e3746980"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_Yu4vIT6oQW6R4CUD\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-data-source-associations-wznvanny8gul-web\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_rO16gyK7uK8JLuQ9","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_R8q0oeXaNhq3gLgs","state":"pending"},"virtual_machine_build":{"id":"vmbuild_R8q0oeXaNhq3gLgs","state":"pending"},"hostname":"tf-acc-test-data-source-associations-wznvanny8gul-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"008895e4eb5ea63de2d5a800880517d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "910"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_R8q0oeXaNhq3gLgs
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_R8q0oeXaNhq3gLgs","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.255.149\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-data-source-associations-wznvanny8gul-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"pending","virtual_machine":null,"created_at":1778239728},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f04c9c8a911d6cbf6ad8e947a9ff0e72"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_fZ0eMpI02NNsugHD
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_fZ0eMpI02NNsugHD","name":"tf-acc-test-data-source-associations-wznvanny8gul-web","hostname":"tf-acc-test-data-source-associations-wznvanny8gul-web","fqdn":"tf-acc-test-data-source-associations-wznvanny8gul-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1778239742,"initial_root_password":"Hr6ft0jsSu8lhni2","state":"allocating","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_Yu4vIT6oQW6R4CUD","address":"185.44.255.149","reverse_dns":"tf-acc-test-data-source-associations-wznvanny8gul-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.149/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_fZ0eMpI02NNsugHD","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df8a81ce0737ca827b1c61a34dfec388"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "828"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_fZ0eMpI02NNsugHD
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_rqb4ul5HvhTVCZ3D","name":"Public
      Network on tf-acc-test-data-source-associations-wznvanny8gul-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_Yu4vIT6oQW6R4CUD","address":"185.44.255.149","reverse_dns":"tf-acc-test-data-source-associations-wznvanny8gul-web.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.255.149/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1545b7856c498c8bf485ab6b79ac55fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "508"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_rqb4ul5HvhTVCZ3D
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_rqb4ul5HvhTVCZ3D","virtual_machine":{"id":"vm_fZ0eMpI02NNsugHD","name":"tf-acc-test-data-source-associations-wznvanny8gul-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-wznvanny8gul-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:dc:ca:3e:4c:9b","state":"attached","ip_addresses":[{"id":"ip_Yu4vIT6oQW6R4CUD","address":"185.44.255.149"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f73da884389dcde959f625c44ae067dd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "507"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_fZ0eMpI02NNsugHD
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_tvFt0Yuteqhg9doM","name":"System
      Disk","size_in_gb":25,"wwn":"0a282e653294da57","state":"built","created_at":1778239745},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"85855a2789e7e97290a07b4a1ae7e039"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "506"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_fZ0eMpI02NNsugHD"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-associations-wznvanny8gul"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_m0y99nVmM2xxM7A4","name":"tf-acc-test-data-source-associations-wznvanny8gul","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_fZ0eMpI02NNsugHD"],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5e74af05a6604eab01cc04475177663"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "504"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_m0y99nVmM2xxM7A4
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_m0y99nVmM2xxM7A4","name":"tf-acc-test-data-source-associations-wznvanny8gul","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_fZ0eMpI02NNsugHD"],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5e74af05a6604eab01cc04475177663"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "498"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_Yu4vIT6oQW6R4CUD
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Yu4vIT6oQW6R4CUD","address":"185.44.255.149","reverse_dns":"tf-acc-test-data-source-associations-wznvanny8gul-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.149/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_fZ0eMpI02NNsugHD","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_fZ0eMpI02NNsugHD","name":"tf-acc-test-data-source-associations-wznvanny8gul-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38ea2ef4a8c7150b5067dc699a7062df"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "906"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"error":{"code":"unhandled_exception","description":null,"detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
    status: 500 Internal Server Error
    code: 500
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_eVBlIcr0HXACL80t
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"185-53-57-214.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09d34feb415c5902c29be8d54609d8ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_WhwGriwepXtgwDD4
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_WhwGriwepXtgwDD4","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"per[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_OjEIrqUAvEig7OI2
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_OjEIrqUAvEig7OI2","name":"tf-acc-test-data-source-associations-wznvanny8gul-db","hostname":"tf-acc-test-data-source-associations-wznvanny8gul-db","fqdn":"tf-acc-test-data-source-associations-wznvanny8gul-db.terraform-acc-test.katapult.cloud","description":null,"cr[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_OjEIrqUAvEig7OI2
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_6vKwSxCCLAatmc3o","name":"Public
      Network on tf-acc-test-data-source-associations-wznvanny8gul-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"tf-acc-test-data-source-associations-wznvanny8gul-db.terraform-acc-test.katapult.cloud","address_with_mask":"185.53.57.214/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c70a815385e11c760df530ca9c04f20"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_6vKwSxCCLAatmc3o
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_6vKwSxCCLAatmc3o","virtual_machine":{"id":"vm_OjEIrqUAvEig7OI2","name":"tf-acc-test-data-source-associations-wznvanny8gul-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-wznvanny8gul-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8b:b4:69:83:23","state":"attached","ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ff40af9387ead32be17cdf03d957342"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_OjEIrqUAvEig7OI2
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_i2YXT8PMhUjVBmND","name":"System
      Disk","size_in_gb":25,"wwn":"00d7d4bad0e83111","state":"built","created_at":1778240138},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"440ebc55665b882a2740720e226d5f82"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_m0y99nVmM2xxM7A4"},"properties":{"associations":["vm_OjEIrqUAvEig7OI2","vm_fZ0eMpI02NNsugHD"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_m0y99nVmM2xxM7A4","name":"tf-acc-test-data-source-associations-wznvanny8gul","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_fZ0eMpI02NNsugHD","vm_OjEIrqUAvEig7OI2"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_m0y99nVmM2xxM7A4","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4da84dedf7a0ceded865fab4ca74d2d0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_m0y99nVmM2xxM7A4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_HAiLIqmkmwZMzjBl","keep_until":1778412995,"object_id":"fsv_m0y99nVmM2xxM7A4","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_m0y99nVmM2xxM7A4","name":"tf-acc-test-data-source-associations-wznvanny8gul","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_fZ0eMpI02NNsugHD","vm_OjEIrqUAvEig7OI2"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_m0y99nVmM2xxM7A4","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d9a2e90aeda2db8537192daeba27c11c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_m0y99nVmM2xxM7A4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_qhT9g0O58xqeRUF7","name":"Purge items from trash","status":"pending","created_at":1778240196,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c5d817703060afc71ff8064911bfaac2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_m0y99nVmM2xxM7A4
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_HAiLIqmkmwZMzjBl","keep_until":1778412995,"object_id":"fsv_m0y99nVmM2xxM7A4","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"757dc65d30095d73a27d1d46bd965cf8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_fZ0eMpI02NNsugHD"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_LsWiK6z4V7tBDVM4","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"352cfeb3d1be78dfde279fb31680b38c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_LsWiK6z4V7tBDVM4
    method: GET
  response:
    body: '{"task":{"id":"task_LsWiK6z4V7tBDVM4","name":"Stop virtual machine","status":"running","created_at":1778240232,"started_at":1778240232,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"21b65fd3bdbc0c736ac47530b88fc758"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_tpVg3vBSB44IGhLb
    method: GET
  response:
    body: '{"task":{"id":"task_tpVg3vBSB44IGhLb","name":"Stop virtual machine","status":"running","created_at":1778240232,"started_at":1778240232,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6410cc9a075e1bd592a83eee43970927"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_OjEIrqUAvEig7OI2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_WDFvw3WwSfbVAXgn","keep_until":1778413039,"object_id":"vm_OjEIrqUAvEig7OI2","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_OjEIrqUAvEig7OI2","name":"tf-acc-test-data-source-associations-wznvanny8gul-d[...]
[...]
- request:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_WDFvw3WwSfbVAXgn
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_WDFvw3WwSfbVAXgn","keep_until":1778413039,"object_id":"vm_OjEIrqUAvEig7OI2","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e035e2184a9a55edef868e7235b7d9d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_ZTmYcPka0KKhW17L
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_ZTmYcPka0KKhW17L","keep_until":1778413039,"object_id":"vm_fZ0eMpI02NNsugHD","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3226bf30be48f8f83d0efa1bfbbd148"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
[...]
