---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"185-44-253-145.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c97003c95e16e652920b56f287a7fc39"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_2SfId867ZYhs8OSr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"185-44-253-145.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"032eeaf2675618bc4df377740d44af93"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_2SfId867ZYhs8OSr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"185-44-253-145.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"032eeaf2675618bc4df377740d44af93"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_2SfId867ZYhs8OSr</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-associations-8lrwsfiruiaw-web</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_kUmbECNQGyyL1LyN","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_8upBWtmwUgc4Krth","state":"pending"},"virtual_machine_build":{"id":"vmbuild_8upBWtmwUgc4Krth","state":"pending"},"hostname":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e23d007e58d3d74c241b77e778a29cc6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_8upBWtmwUgc4Krth
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_8upBWtmwUgc4Krth","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.145</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-acc-test-data-source-associations-8lrwsfiruiaw-web</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1720457743}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9a3041ad60f1afca60074008a63694b7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_8upBWtmwUgc4Krth
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_8upBWtmwUgc4Krth","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.145</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-acc-test-data-source-associations-8lrwsfiruiaw-web</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_bISJP06YNp8CtF0M","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web","hostname":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web","fqdn":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1720457743}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e23975bfac2e919d6e61cf674898cf13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_bISJP06YNp8CtF0M
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_bISJP06YNp8CtF0M","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web","hostname":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web","fqdn":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1720457745,"initial_root_password":"SFHVEey4tcbUkbn0","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_bISJP06YNp8CtF0M","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6487d4a0a02060c4ed2fc52c0192a40c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_bISJP06YNp8CtF0M
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_YyWeiQXDVpeIMjpY","name":"Public
      Network on tf-acc-test-data-source-associations-8lrwsfiruiaw-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"545ddaffab05bfba75ccce7949db4718"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_YyWeiQXDVpeIMjpY
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_YyWeiQXDVpeIMjpY","virtual_machine":{"id":"vm_bISJP06YNp8CtF0M","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-8lrwsfiruiaw-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a7:76:98:dd:69","state":"attached","ip_addresses":[{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e64b978764b713f2c0e4bad7c96d634f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_bISJP06YNp8CtF0M"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-associations-8lrwsfiruiaw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_WxyecxOduFwmYuF9","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bISJP06YNp8CtF0M"],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e54112caca9f501642a421de6188b1ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_WxyecxOduFwmYuF9
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_WxyecxOduFwmYuF9","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bISJP06YNp8CtF0M"],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b91b524a8407ff7eac191659cde614ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_2SfId867ZYhs8OSr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_bISJP06YNp8CtF0M","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_bISJP06YNp8CtF0M","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a987fbc5e6eb758a226ca98626b46c6f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_jUvDuhsEWp4BqS60
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_jUvDuhsEWp4BqS60","address":"185.44.252.42","reverse_dns":"185-44-252-42.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.42/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3df3845ecb2cc67e73320fc67d992d71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_jUvDuhsEWp4BqS60
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_jUvDuhsEWp4BqS60","address":"185.44.252.42","reverse_dns":"185-44-252-42.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.42/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3df3845ecb2cc67e73320fc67d992d71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_78Q1B364eM0CqMji
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_78Q1B364eM0CqMji","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTempl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TbIHr17zdtHzwdoT
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_TbIHr17zdtHzwdoT","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw-db","hostname":"tf-acc-test-data-source-associations-8lrwsfiruiaw-db","fqdn":"tf-acc-test-data-source-associations-8lrwsfiruiaw-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1720[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_TbIHr17zdtHzwdoT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_V7VOPvhAlOL2eJMT","name":"Public
      Network on tf-acc-test-data-source-associations-8lrwsfiruiaw-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_jUvDuhsEWp4BqS60","address":"185.44.252.42"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e27a044ff89a0cd7e21a88340baa6d4b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_V7VOPvhAlOL2eJMT
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_V7VOPvhAlOL2eJMT","virtual_machine":{"id":"vm_TbIHr17zdtHzwdoT","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-8lrwsfiruiaw-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:0e:75:e9:4f:c5","state":"attached","ip_addresses":[{"id":"ip_jUvDuhsEWp4BqS60","address":"185.44.252.42"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0935c494fa117af29dc7950b17d0fe2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_WxyecxOduFwmYuF9"},"properties":{"associations":["vm_TbIHr17zdtHzwdoT","vm_bISJP06YNp8CtF0M"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_WxyecxOduFwmYuF9","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bISJP06YNp8CtF0M","vm_TbIHr17zdtHzwdoT"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_WxyecxOduFwmYuF9","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"95b5128de86f6e6f1f39e233183aa183"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_WxyecxOduFwmYuF9"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_PLW5MhQj1YAaVVSM","keep_until":1720630652,"object_id":"fsv_WxyecxOduFwmYuF9","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_WxyecxOduFwmYuF9","name":"tf-acc-test-data-source-associations-8lrwsfiruiaw","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_bISJP06YNp8CtF0M","vm_TbIHr17zdtHzwdoT"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_WxyecxOduFwmYuF9","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41d2872996db169fda340504dc9f1bfd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_WxyecxOduFwmYuF9"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_X0rqSn4hFVE4vbgc","name":"Purge items from trash","status":"pending","created_at":1720457852,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1ec57ebcb2f7c855f7389c6a695e06d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_WxyecxOduFwmYuF9
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_PLW5MhQj1YAaVVSM","keep_until":1720630652,"object_id":"fsv_WxyecxOduFwmYuF9","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"84519893263e0cde5ff1babac40f1301"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_WxyecxOduFwmYuF9
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_TbIHr17zdtHzwdoT
    method: POST
  response:
    body: '{"task":{"id":"task_3Ia81NKlPkmpj73I","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"37889597ba7daa83de8402197b561a18"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_bISJP06YNp8CtF0M
    method: POST
  response:
    body: '{"task":{"id":"task_DL5YxLrM2PqiXafM","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a84436f6428dcc999ba2fbebb842dcc2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_3Ia81NKlPkmpj73I
    method: GET
  response:
    body: '{"task":{"id":"task_3Ia81NKlPkmpj73I","name":"Stop virtual machine","status":"running","created_at":1720457889,"started_at":1720457890,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f9af2ab91dcee7ebe86dfbcc0c55d5d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_DL5YxLrM2PqiXafM
    method: GET
  response:
    body: '{"task":{"id":"task_DL5YxLrM2PqiXafM","name":"Stop virtual machine","status":"running","created_at":1720457889,"started_at":1720457890,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed3cd9b762585315a88d8d0d0c446db6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_jUvDuhsEWp4BqS60
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_2SfId867ZYhs8OSr
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_TbIHr17zdtHzwdoT
    method: DELETE
  response:
    body: '{"task":{"id":"task_ZXLrmCpkF8W3eoPl","name":"Purge items from trash","status":"pending","created_at":1720457897,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74daa0eb0b8461cda64665c508f3f4e9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_bISJP06YNp8CtF0M
    method: DELETE
  response:
    body: '{"task":{"id":"task_BahixhG9y1AdYDI0","name":"Purge items from trash","status":"pending","created_at":1720457897,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"efed7cd210a4c231e23847bc05806db7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_jUvDuhsEWp4BqS60"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
[...]
