---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-collection-IkRYiWaNrV8I","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_Eb8INAK4quHcSCfG","name":"tf-acc-test-collection-IkRYiWaNrV8I","size_in_gb":20,"wwn":"0241d34fbadbba33","state":"not_built","created_at":1786789350,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_6MCb0ZGhKXVEtUeR","name":"Build
      disk","status":"pending","created_at":1786789350,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a710758d1af0f913b027fd29ffc0c7f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_6MCb0ZGhKXVEtUeR
    method: GET
  response:
    body: '{"task":{"id":"task_6MCb0ZGhKXVEtUeR","name":"Build disk","status":"running","created_at":1786789350,"started_at":1786789351,"finished_at":null,"progress":37}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6afa4b438b02ca1f838785969cbd4ad9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_Eb8INAK4quHcSCfG
    method: GET
  response:
    body: '{"disk":{"id":"disk_Eb8INAK4quHcSCfG","name":"tf-acc-test-collection-IkRYiWaNrV8I","size_in_gb":20,"wwn":"0241d34fbadbba33","state":"built","created_at":1786789350,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f9f8deb835a96d2dc19b71f6c599ec45"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/disks?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=200
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":200,"large_set":false},"disk":[{"id":"disk_Eb8INAK4quHcSCfG","name":"tf-acc-test-collection-IkRYiWaNrV8I","size_in_gb":20,"wwn":"0241d34fbadbba33","state":"built","virtual_machine_disk":null}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f82fe89f8d950931a51a0209f94acd21"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_Eb8INAK4quHcSCfG"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_Eb8INAK4quHcSCfG","name":"tf-acc-test-collection-IkRYiWaNrV8I","size_in_gb":20,"wwn":"0241d34fbadbba33","state":"built","created_at":1786789350,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_jTMuiKwDtjLG0wjJ","keep_until":1786962157,"object_id":"disk_Eb8INAK4quHcSCfG","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fcb8dadb632f3b5964d13f91b8c22b81"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_jTMuiKwDtjLG0wjJ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_njfVMTfhtMDUjw0t","name":"Purge items from trash","status":"pending","created_at":1786789357,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7ff589f64bf19a068bab9876a655b15"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_jTMuiKwDtjLG0wjJ
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_jTMuiKwDtjLG0wjJ","keep_until":1786962157,"object_id":"disk_Eb8INAK4quHcSCfG","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f0ac716b6ac046bf536d265fda6b921"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_jTMuiKwDtjLG0wjJ
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_Eb8INAK4quHcSCfG
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 404 Not Found
    code: 404
    duration: ""
