---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-data-source-minimal-VrDkk3rv5PUZ","resource_ids":[],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_ukhwmQasmgeuH7pw","name":"tf-acc-test-data-source-minimal-VrDkk3rv5PUZ","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_uTRJcM6ONMIku0UI","address":"185.44.252.176"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfdWtod21RYXNtZ2V1SDdwdy5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQx\nMjEyMTU0NzMxWhgPMjA3NDEyMTIxNTQ3MzFaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl91a2h3bVFhc21nZXVIN3B3LmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_ukhwmQasmgeuH7pw
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_ukhwmQasmgeuH7pw","name":"tf-acc-test-data-source-minimal-VrDkk3rv5PUZ","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_uTRJcM6ONMIku0UI","address":"185.44.252.176"},"https_redirect":false,"backend_certificat[...]
- request:
    body: '{"load_balancer":{"id":"lb_ukhwmQasmgeuH7pw"},"properties":{"algorithm":"round_robin","backend_ssl":false,"certificates":[],"check_enabled":false,"check_fall":2,"check_http_statuses":"2","check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"destination_port":8080,"listen_port":80,"passthrough_ssl":false,"protocol":"HTTP","proxy_protocol":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_djPnJhm5OSbg3z4h","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_ukhwmQasmgeuH7pw","name":"tf-acc-test-data-source-minimal-VrDkk3rv5PUZ"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"678c12742b125e556e34698fd564de02"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule?load_balancer_rule%5Bid%5D=lbrule_djPnJhm5OSbg3z4h
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_djPnJhm5OSbg3z4h","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_ukhwmQasmgeuH7pw","name":"tf-acc-test-data-source-minimal-VrDkk3rv5PUZ"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"678c12742b125e556e34698fd564de02"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "894"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"load_balancer_rule":{"id":"lbrule_djPnJhm5OSbg3z4h"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule
    method: DELETE
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_djPnJhm5OSbg3z4h"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e0a4d5b6ed02d3b3262c08efd4bc1a3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "880"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"load_balancer":{"id":"lb_ukhwmQasmgeuH7pw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_ukhwmQasmgeuH7pw","name":"tf-acc-test-data-source-minimal-VrDkk3rv5PUZ","api_reference":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d300d9eca21de65c0b8b73464ff1cb8d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_ukhwmQasmgeuH7pw
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 404 Not Found
    code: 404
    duration: ""
