---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-bnsguxuvsnc0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_5f1M8MrcOwVsQS8S","name":"tf-acc-test-data-source-minimal-bnsguxuvsnc0","color":"pastel_light_brown","created_at":1777920022}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"294155fbec02da072a7c888a44d9c64b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "810"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/tag?tag%5Bid%5D=tag_5f1M8MrcOwVsQS8S
    method: GET
  response:
    body: '{"tag":{"id":"tag_5f1M8MrcOwVsQS8S","name":"tf-acc-test-data-source-minimal-bnsguxuvsnc0","color":"pastel_light_brown","created_at":1777920022}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"294155fbec02da072a7c888a44d9c64b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "807"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tag":{"id":"tag_5f1M8MrcOwVsQS8S"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/tag
    method: DELETE
  response:
    body: '{"tag":{"id":"tag_5f1M8MrcOwVsQS8S","name":"tf-acc-test-data-source-minimal-bnsguxuvsnc0","color":"pastel_light_brown","created_at":1777920022}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"294155fbec02da072a7c888a44d9c64b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "764"
    status: 200 OK
    code: 200
    duration: ""
