---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-x79tO8qWExUS-1","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_pDpQNY8RxV3rFiOL","name":"tf-acc-test-data-source-default-x79tO8qWExUS-1","segregate":true,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"62701f94d101ef6ceb409a5975f214e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_pDpQNY8RxV3rFiOL
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_pDpQNY8RxV3rFiOL","name":"tf-acc-test-data-source-default-x79tO8qWExUS-1","segregate":true,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"62701f94d101ef6ceb409a5975f214e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_zbtdKvv1hBpVZupC
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zbtdKvv1hBpVZupC","name":"tf-acc-test-data-source-default-x79tO8qWExUS-2","segregate":false,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"17d33e28da504fa62df2503b762a5fc8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"virtual_machine_groups":[{"id":"vmgrp_v3V4fzVGrp7gESJR","name":"lb-test","segregate":true,"auto_segregate":false,"created_at":1697026200},{"id":"vmgrp_idT2JL9HTll0Yy7C","name":"web","segregate":true,"auto_segregate":false,"created_at":1699006350},{"id":"vmgrp_bLyxHLu0Sb140W9F","name":"monitoring","segregate":true,"auto_segregate":false,"created_at":1699006350},{"id":"vmgrp_rzbx38BTaKaqGaYK","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1699006350},{"id":"vmgrp_JdTZLsOsNGQ9NA5w","name":"web","seg[...]
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_zbtdKvv1hBpVZupC"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zbtdKvv1hBpVZupC","name":"tf-acc-test-data-source-default-x79tO8qWExUS-2","segregate":false,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"17d33e28da504fa62df2503b762a5fc8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_pDpQNY8RxV3rFiOL
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
