---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-not-segregated-CsBiX4qWfv1G","segregate":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wNGAcVsZoBKYDS6X","name":"tf-acc-test-data-source-not-segregated-CsBiX4qWfv1G","segregate":false,"auto_segregate":false,"created_at":1777920022}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b9f76c7cb7fe427b8c56144fd0796f1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "808"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_wNGAcVsZoBKYDS6X
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wNGAcVsZoBKYDS6X","name":"tf-acc-test-data-source-not-segregated-CsBiX4qWfv1G","segregate":false,"auto_segregate":false,"created_at":1777920022}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b9f76c7cb7fe427b8c56144fd0796f1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "804"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_wNGAcVsZoBKYDS6X"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wNGAcVsZoBKYDS6X","name":"tf-acc-test-data-source-not-segregated-CsBiX4qWfv1G","segregate":false,"auto_segregate":false,"created_at":1777920022}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b9f76c7cb7fe427b8c56144fd0796f1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "765"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_wNGAcVsZoBKYDS6X
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "757"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
