---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_jvhFAhRayeKIz2cX","address":"185.44.255.241","reverse_dns":"185-44-255-241.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.241/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be6117ad7a5de8894eab52c3b589c3f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_jvhFAhRayeKIz2cX
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_jvhFAhRayeKIz2cX","address":"185.44.255.241","reverse_dns":"185-44-255-241.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.241/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f3d2c78b81967727648fab2630882e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-disk-2YvwalkQ6quF","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF","name":"tf-acc-test-disk-2YvwalkQ6quF","size_in_gb":20,"wwn":"02084689f8097858","state":"not_built","created_at":1786623965,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_h3sNUIV8hPZkVP2d","name":"Build
      disk","status":"pending","created_at":1786623965,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5e92f52176b7b7e76950b2e92652bab"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_h3sNUIV8hPZkVP2d
    method: GET
  response:
    body: '{"task":{"id":"task_h3sNUIV8hPZkVP2d","name":"Build disk","status":"pending","created_at":1786623965,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e325c5652b52224159a5d3bc572717c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_0Yje93JUiLH7NjLF
    method: GET
  response:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF","name":"tf-acc-test-disk-2YvwalkQ6quF","size_in_gb":20,"wwn":"02084689f8097858","state":"built","created_at":1786623965,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"11c039c27d062c8587b55d1a30a9ccd0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_jvhFAhRayeKIz2cX\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-blue-hushed-chiffchaff\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_aROx9QEUSO4OC8EY","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_kGFFKLYPwcixKuqr","state":"pending"},"virtual_machine_build":{"id":"vmbuild_kGFFKLYPwcixKuqr","state":"pending"},"hostname":"tf-acc-test-blue-hushed-chiffchaff","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3b957ad48144ede034b8707d5576e3a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_kGFFKLYPwcixKuqr
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_kGFFKLYPwcixKuqr","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.255.241\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-blue-hushed-chiffchaff\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786623972},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f974b2be2bb3a3d5101ea849e0dec027"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_uZVU3U3y24bX3DCT
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786623978,"description":null,"fqdn":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-blue-hushed-chiffchaff","id":"vm_uZVU3U3y24bX3DCT","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.255.241","address_with_mask":"185.44.255.241/22","allocation_id":"vm_uZVU3U3y24bX3DCT","allocation_type":"VirtualMachine","id":"ip_jvhFAhRayeKIz2cX","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud","subnet":{"address":"185.44.252.0","billable":true,"gateway":"185.44.255.254","id":"sbnt_9FYjp2bT20hooq9u","mask":22,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-blue-hushed-chiffchaff","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"started","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eaa37807a29bfe1a44f09b81049afaca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_uZVU3U3y24bX3DCT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_E5KLikoxpc1m1j4P","name":"System
      Disk","size_in_gb":25,"wwn":"0c59e9dd4e7ccb9d","state":"built","created_at":1786623979},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0d26cf778d59a8ef3a192a6c97206e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF"},"virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/assign
    method: POST
  response:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF","name":"tf-acc-test-disk-2YvwalkQ6quF","size_in_gb":20,"wwn":"02084689f8097858","state":"built","created_at":1786623965,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT","fqdn":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b0364bb58edcc20827bd0d2b8b1d9517"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/attach
    method: POST
  response:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF","name":"tf-acc-test-disk-2YvwalkQ6quF","size_in_gb":20,"wwn":"02084689f8097858","state":"built","created_at":1786623965,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT","fqdn":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null},"task":{"id":"task_FgMcHSpIXfvfL1YY","name":"Attach
      disk to virtual machine","status":"pending","created_at":1786624011,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8adb7d61d82cf2f1627f25de9ffe2dbc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_FgMcHSpIXfvfL1YY
    method: GET
  response:
    body: '{"task":{"id":"task_FgMcHSpIXfvfL1YY","name":"Attach disk to virtual machine","status":"pending","created_at":1786624011,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b02c72f18ee76522582c032f500f4a3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_uZVU3U3y24bX3DCT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_X0VMwZTk3HqNeKo7","name":"Public
      Network on tf-acc-test-blue-hushed-chiffchaff","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_jvhFAhRayeKIz2cX","address":"185.44.255.241","reverse_dns":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.255.241/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e33ad1a4ec98e25ef37281cd1c648d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_X0VMwZTk3HqNeKo7
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_X0VMwZTk3HqNeKo7","virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT","name":"tf-acc-test-blue-hushed-chiffchaff"},"name":"Public
      Network on tf-acc-test-blue-hushed-chiffchaff","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:ee:4f:3c:d1:5b","state":"attached","ip_addresses":[{"id":"ip_jvhFAhRayeKIz2cX","address":"185.44.255.241"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5223774bba4520bf69385d6168604ea5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_E5KLikoxpc1m1j4P
    method: GET
  response:
    body: '{"disk":{"id":"disk_E5KLikoxpc1m1j4P","name":"System Disk","size_in_gb":25,"wwn":"0c59e9dd4e7ccb9d","state":"built","created_at":1786623979,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT","fqdn":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":true,"state":"attached"},"installation":{"id":"dinst_B0z9TQ56sy5PaVzW","disk_template_version":{"number":1,"stable":true,"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","permalink":"templates/ubuntu-18-04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"}}},"attributes":[{"key":"root_password","label":"Root
      password","value":"0MRBpUvV2Z8zayzl","description":"This is the password we
      have set for your root user.\nYou should change this.","protect":true}]}},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0df05aa918ca58cdb2b40614a6518855"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_jvhFAhRayeKIz2cX
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_jvhFAhRayeKIz2cX","address":"185.44.255.241","reverse_dns":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.241/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_uZVU3U3y24bX3DCT","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_uZVU3U3y24bX3DCT","name":"tf-acc-test-blue-hushed-chiffchaff"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc0c636f2d24b030a78d962f9b1a68ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF","name":"tf-acc-test-disk-2YvwalkQ6quF","size_in_gb":20,"wwn":"02084689f8097858","state":"built","created_at":1786623965,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT","fqdn":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"attached"},"installation":null},"task":{"id":"task_yqzCON9I4shrXmiz","name":"Detach
      disk from virtual machine","status":"pending","created_at":1786624029,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3ba02e0630f645d52aa78835e476504"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_yqzCON9I4shrXmiz
    method: GET
  response:
    body: '{"task":{"id":"task_yqzCON9I4shrXmiz","name":"Detach disk from virtual
      machine","status":"pending","created_at":1786624029,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dc3a3334a6b1acfe5d6190ebad284558"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF","name":"tf-acc-test-disk-2YvwalkQ6quF","size_in_gb":20,"wwn":"02084689f8097858","state":"built","created_at":1786623965,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abb808ebfdbb8e4ca3110ccade98f85a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_oND7rPvhsYsVcgVN","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5ff8720feadb93a6137de7ca4181d9d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_oND7rPvhsYsVcgVN
    method: GET
  response:
    body: '{"task":{"id":"task_oND7rPvhsYsVcgVN","name":"Stop virtual machine","status":"running","created_at":1786624035,"started_at":1786624036,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"39075c164b174eaa5bb7fd40ce67afe7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_uZVU3U3y24bX3DCT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_5u8ZkPqd15HjuWtR","keep_until":1786796842,"object_id":"vm_uZVU3U3y24bX3DCT","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786623978,"description":null,"fqdn":"tf-acc-test-blue-hushed-chiffchaff.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-blue-hushed-chiffchaff","id":"vm_uZVU3U3y24bX3DCT","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.255.241","address_with_mask":"185.44.255.241/22","allocation_id":"vm_uZVU3U3y24bX3DCT","allocation_type":"VirtualMachine",[...]
- request:
    body: '{"ip_address":{"id":"ip_jvhFAhRayeKIz2cX"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_5u8ZkPqd15HjuWtR"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_NdvtOqLOWb2fTFBU","name":"Purge items from trash","status":"pending","created_at":1786624043,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4824e19d784473e48599fa14e5ccadb7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_5u8ZkPqd15HjuWtR
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_5u8ZkPqd15HjuWtR","keep_until":1786796842,"object_id":"vm_uZVU3U3y24bX3DCT","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43a83eed56ecde3b6ae6940a2b59e3d9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_5u8ZkPqd15HjuWtR
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_jvhFAhRayeKIz2cX"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_0Yje93JUiLH7NjLF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
[...]
