---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-B70HyPhWuB7V"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_wjNQxuYK4tahsVfx","name":"tf-acc-test-data-source-minimal-B70HyPhWuB7V","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"643e87941f3fe952ba1f1af6ac3f808e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_wjNQxuYK4tahsVfx
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_wjNQxuYK4tahsVfx","name":"tf-acc-test-data-source-minimal-B70HyPhWuB7V","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"643e87941f3fe952ba1f1af6ac3f808e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_i0OhGElXVwHfkqJQ
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_i0OhGElXVwHfkqJQ","name":"tf-acc-test-data-source-minimal-B70HyPhWuB7V-alt","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0cef45346446cfd90a967732f795d469"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"address_lists":[{"id":"adlst_wjNQxuYK4tahsVfx","name":"tf-acc-test-data-source-minimal-B70HyPhWuB7V","global":false},{"id":"adlst_MlHnvJeGoVhLD9Pk","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw","global":false},{"id":"adlst_i0OhGElXVwHfkqJQ","name":"tf-acc-test-data-source-minimal-B70HyPhWuB7V-alt","global":false}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c47136f95a7c81549d4a6a302410d57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "908"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_i0OhGElXVwHfkqJQ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_i0OhGElXVwHfkqJQ","name":"tf-acc-test-data-source-minimal-B70HyPhWuB7V-alt","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a37c1b32892aa626b7cedc55ca87867"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "835"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_i0OhGElXVwHfkqJQ
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "826"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
