---
version: 1
interactions:
- request:
    body: '{"data_center":{"permalink":"uk-lon-01"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-J6qbdMRWNp1G"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_networks
    method: POST
  response:
    body: '{"virtual_network":{"id":"vnet_h3iIjVyuGI6iCV8c","name":"tf-acc-test-data-source-by-id-J6qbdMRWNp1G","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b208bc94ccae01071516e7d10084d483"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "889"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_h3iIjVyuGI6iCV8c
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_h3iIjVyuGI6iCV8c","name":"tf-acc-test-data-source-by-id-J6qbdMRWNp1G","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b208bc94ccae01071516e7d10084d483"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "884"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_network":{"id":"vnet_h3iIjVyuGI6iCV8c"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network
    method: DELETE
  response:
    body: '{"virtual_network":{"id":"vnet_h3iIjVyuGI6iCV8c","name":"tf-acc-test-data-source-by-id-J6qbdMRWNp1G","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b208bc94ccae01071516e7d10084d483"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "825"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_h3iIjVyuGI6iCV8c
    method: GET
  response:
    body: '{"error":{"code":"virtual_network_not_found","description":"No virtual
      network was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "819"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
