---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","associations":[],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_pCUakUcbx8xzFh74","name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c036adec969441f4fae53a635bc614ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "906"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_pCUakUcbx8xzFh74/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_I0bgfLvJeGFRV1iQ","security_group":{"id":"sg_pCUakUcbx8xzFh74","name":"tf-acc-test-data-source-rules-2yvz49wuc3ln"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a15a6d824c9dfa647b24d8f00a390524"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_pCUakUcbx8xzFh74
    method: GET
  response:
    body: '{"security_group":{"id":"sg_pCUakUcbx8xzFh74","name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c036adec969441f4fae53a635bc614ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "901"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_pCUakUcbx8xzFh74
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_I0bgfLvJeGFRV1iQ","direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"},{"id":"sgr_HfDOA2iwy618t7MW","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5669e7a76dab5a64501e9a7e5e86005"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "899"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zRhFtcoiuECoc4Ah","name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","segregate":true,"created_at":1679595245}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76d36011cfa29b2546683c843d1aa1f7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "872"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_zRhFtcoiuECoc4Ah
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zRhFtcoiuECoc4Ah","name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","segregate":true,"created_at":1679595245}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76d36011cfa29b2546683c843d1aa1f7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "871"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_pCUakUcbx8xzFh74"},"properties":{"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_pCUakUcbx8xzFh74","name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06c91c441c1cce222ddc3dc9a41dfcc7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "870"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_I0bgfLvJeGFRV1iQ
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "799"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_HfDOA2iwy618t7MW
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "797"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_zRhFtcoiuECoc4Ah
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zRhFtcoiuECoc4Ah","name":"tf-acc-test-data-source-rules-2yvz49wuc3ln","segregate":true,"created_at":1679595245}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76d36011cfa29b2546683c843d1aa1f7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "762"
    status: 200 OK
    code: 200
    duration: ""
[...]
