---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-data-source-default-8nX0Od6QEZ7A-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_LUCoRi4C8dOi7YZl","name":"tf-acc-test-data-source-default-8nX0Od6QEZ7A-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"768ddc33967f168b24a6198cd8ea5b48"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_LUCoRi4C8dOi7YZl
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_LUCoRi4C8dOi7YZl","name":"tf-acc-test-data-source-default-8nX0Od6QEZ7A-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"967e47dc34f441ab204a1627adc69359"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_bPUS7fN2feKfLnnj
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_bPUS7fN2feKfLnnj","name":"tf-acc-test-data-source-default-8nX0Od6QEZ7A-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c46a7455e69da87a32f75ba45e73c628"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"file_storage_volumes":[{"id":"fsv_LUCoRi4C8dOi7YZl","name":"tf-acc-test-data-source-default-8nX0Od6QEZ7A-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_LUCoRi4C8dOi7YZl","size":0},{"id":"fsv_bPUS7fN2feKfLnnj","name":"tf-acc-test-data-source-default-8nX0Od6QEZ7A-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_bPUS7fN2feKfLnnj","size":0}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"95b74114b9ec74a8634e24ce050e07d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_bPUS7fN2feKfLnnj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_Kgw51JcDI1quYpva","keep_until":1734882779,"object_id":"fsv_bPUS7fN2feKfLnnj","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_bPUS7fN2feKfLnnj","name":"tf-acc-test-data-source-default-8nX0Od6QEZ7A-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_bPUS7fN2feKfLnnj","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"048d3983fdca25d374a6a8bd70132245"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_bPUS7fN2feKfLnnj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_Ers5q29FxDmvec7T","name":"Purge items from trash","status":"pending","created_at":1734709979,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a40fe4a4a8804ed80c7f68156ccd27e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_bPUS7fN2feKfLnnj
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_Kgw51JcDI1quYpva","keep_until":1734882779,"object_id":"fsv_bPUS7fN2feKfLnnj","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97d3f922b8c2ea56769036603eb51e80"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_bPUS7fN2feKfLnnj
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_LUCoRi4C8dOi7YZl
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_blAkRDjvnEXyzttD","keep_until":1734882815,"object_id":"fsv_LUCoRi4C8dOi7YZl","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b91e6b100c7fa5412e5765953fcb424f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
