---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/address_lists
    method: POST
  response:
    body: '{"address_list":{"id":"adlst_MlHnvJeGoVhLD9Pk","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58ef67dbdba1e47b482085e9be4879b3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_MlHnvJeGoVhLD9Pk
    method: GET
  response:
    body: '{"address_list":{"id":"adlst_MlHnvJeGoVhLD9Pk","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw","global":false,"entries":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58ef67dbdba1e47b482085e9be4879b3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"address_list":{"id":"adlst_MlHnvJeGoVhLD9Pk"},"properties":{"address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw-entry-one"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries
    method: POST
  response:
    body: '{"address_list_entry":{"id":"adlste_WgFNU5xAmyT5C1Qm","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c0fc9d0dbbf2e1a5e0e82f02e3e86c01"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_WgFNU5xAmyT5C1Qm
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_WgFNU5xAmyT5C1Qm","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw-entry-one"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c0fc9d0dbbf2e1a5e0e82f02e3e86c01"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry?address_list_entry%5Bid%5D=adlste_MYQP93vfHhV8Rxhj
    method: GET
  response:
    body: '{"address_list_entry":{"id":"adlste_MYQP93vfHhV8Rxhj","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw-entry-two"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b19deeb51fc101e5c6b9bd0060c171bb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list/entries?address_list%5Bid%5D=adlst_MlHnvJeGoVhLD9Pk
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"address_list_entries":[{"id":"adlste_WgFNU5xAmyT5C1Qm","address":"1.1.1.1","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw-entry-one"},{"id":"adlste_MYQP93vfHhV8Rxhj","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw-entry-two"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e666deff6626903bae648d45535f94fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list_entry":{"id":"adlste_MYQP93vfHhV8Rxhj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_list_entries/address_list_entry
    method: DELETE
  response:
    body: '{"address_list_entry":{"id":"adlste_MYQP93vfHhV8Rxhj","address":"8.8.8.8","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw-entry-two"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b19deeb51fc101e5c6b9bd0060c171bb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "814"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"address_list":{"id":"adlst_MlHnvJeGoVhLD9Pk"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/address_lists/address_list
    method: DELETE
  response:
    body: '{"address_list":{"id":"adlst_MlHnvJeGoVhLD9Pk","name":"tf-acc-test-data-source-minimal-Fl1U9XyS7yDw","global":false,"entries":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8aadfe3e56410c5b7bdfe91d9f9671e3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "806"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/address_lists/address_list?address_list%5Bid%5D=adlst_MlHnvJeGoVhLD9Pk
    method: GET
  response:
    body: '{"error":{"code":"address_list_not_found","description":"No address list
      was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "799"
    status: 404 Not Found
    code: 404
    duration: ""
