---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_xS9cvqckey5amiNX","address":"185.44.252.95","reverse_dns":"185-44-252-95.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.95/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a8e10244daceba2f8034305d68e7bd3e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_xS9cvqckey5amiNX
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_xS9cvqckey5amiNX","address":"185.44.252.95","reverse_dns":"185-44-252-95.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.95/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e2b8f494d97797c9c4442c2814f39c59"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_xS9cvqckey5amiNX"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "861"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_xS9cvqckey5amiNX
    method: GET
  response:
    body: '{"error":{"code":"ip_address_not_found","description":"No IP addresses
      were found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "839"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
