---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-Zr9iaMVkkET4-1","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_C70U7J6sWQVpXUd1","name":"tf-acc-test-data-source-default-Zr9iaMVkkET4-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee7b8f2fd9a95fe5c9310381f21753d0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_C70U7J6sWQVpXUd1
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_C70U7J6sWQVpXUd1","name":"tf-acc-test-data-source-default-Zr9iaMVkkET4-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6764db4980ba00e18dc0b45485c85906"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_HfDNgaGfacc8ionA
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_HfDNgaGfacc8ionA","name":"tf-acc-test-data-source-default-Zr9iaMVkkET4-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"31927501a257868f785105855a0d1721"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"file_storage_volumes":[{"id":"fsv_C70U7J6sWQVpXUd1","name":"tf-acc-test-data-source-default-Zr9iaMVkkET4-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_C70U7J6sWQVpXUd1","size":0},{"id":"fsv_HfDNgaGfacc8ionA","name":"tf-acc-test-data-source-default-Zr9iaMVkkET4-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_HfDNgaGfacc8ionA","size":0}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bddb2bac1ad9d5a76cbc142341575ebc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_HfDNgaGfacc8ionA
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_EGWZFlBOsKgBIn0S","keep_until":1704968969,"object_id":"fsv_HfDNgaGfacc8ionA","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_HfDNgaGfacc8ionA","name":"tf-acc-test-data-source-default-Zr9iaMVkkET4-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_HfDNgaGfacc8ionA","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b2479c19b00feb002f4dc8a17eb212f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_HfDNgaGfacc8ionA
    method: DELETE
  response:
    body: '{"task":{"id":"task_WvBuAEd7Gvm2OIlJ","name":"Purge items from trash","status":"pending","created_at":1704796169,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38b5c3156742626f57e0b14ef6b31a41"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_HfDNgaGfacc8ionA
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_C70U7J6sWQVpXUd1
    method: DELETE
  response:
    body: '{"task":{"id":"task_ZPU48oYaAoWFDIec","name":"Purge items from trash","status":"pending","created_at":1704796185,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a14d2b7d93db411f0ff49a5e088f5d2d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 200 OK
    code: 200
    duration: ""
[...]
