---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=nl-ams-01
    method: GET
  response:
    body: '{"data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"449578c72d35035c7dbf76508b9d7604"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data_center":{"permalink":"uk-lon-01"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-backbone"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_networks
    method: POST
  response:
    body: '{"virtual_network":{"id":"vnet_WTHJnuEVXF9xKiAw","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-backbone","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca7b31d9c6d6706d4ff657fbc8f68cd0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"virtual_networks":[{"id":"vnet_WTHJnuEVXF9xKiAw","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-backbone","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},{"id":"vnet_W63NxXybMopiPnHT","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-fallback","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},{"id":"vnet_IJntdp8LuwcJfc0v","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-backbone-ams","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"facaa38779f033b0d541f509b79660aa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_WTHJnuEVXF9xKiAw
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_WTHJnuEVXF9xKiAw","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-backbone","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca7b31d9c6d6706d4ff657fbc8f68cd0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_W63NxXybMopiPnHT
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_W63NxXybMopiPnHT","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-fallback","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9582985e1892baf7f12b81b8a8944e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_IJntdp8LuwcJfc0v
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_IJntdp8LuwcJfc0v","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-backbone-ams","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7467651738ef06463a690cf4a8ff1d15"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_network":{"id":"vnet_IJntdp8LuwcJfc0v"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network
    method: DELETE
  response:
    body: '{"virtual_network":{"id":"vnet_IJntdp8LuwcJfc0v","name":"tf-acc-test-data-source-all-QGZg9LXzjI4u-backbone-ams","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7467651738ef06463a690cf4a8ff1d15"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
