---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages?page=1&per_page=100
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":31,"per_page":100,"large_set":false},"virtual_machine_packages":[{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},{"id":"vmpkg_0QAY8AjExSXOlwSQ","name":"ROCK-1 (Dedicated)","permalink":"rock-1-dedicated","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":true,"group":{"id":"vmpkgrp_VelzGvgICX9DcX00","name":"Dedicated
      vCPU"}},{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memo[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/virtual_machine_package?virtual_machine_package%5Bid%5D=vmpkg_dhG25G5SX3HrA5j5
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"858692638091f36cd41151d389dfdb44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/virtual_machine_package?virtual_machine_package%5Bpermalink%5D=rock-1
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"858692638091f36cd41151d389dfdb44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
