---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"bus_type":"virtio","data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-update-gt4jtvYunf4v","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs","name":"tf-acc-test-update-gt4jtvYunf4v","size_in_gb":20,"wwn":"0bf22cc53b611a50","state":"not_built","created_at":1778133992,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"virtio","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_QSAyuNwlnT0q89y2","name":"Build
      disk","status":"pending","created_at":1778133993,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed34edd27bf0b63801fb192e05391183"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_QSAyuNwlnT0q89y2
    method: GET
  response:
    body: '{"task":{"id":"task_QSAyuNwlnT0q89y2","name":"Build disk","status":"running","created_at":1778133993,"started_at":1778133993,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a5d27c94a1f7fe3fe77fc4350f4ee26"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_u3GIvlr7FHZcOhZs
    method: GET
  response:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs","name":"tf-acc-test-update-gt4jtvYunf4v","size_in_gb":20,"wwn":"0bf22cc53b611a50","state":"built","created_at":1778133992,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"virtio","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19395950f6d13190f515462221bfe493"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs"},"properties":{"bus_type":"scsi","name":"tf-acc-test-update-gt4jtvYunf4v-updated"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: PATCH
  response:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs","name":"tf-acc-test-update-gt4jtvYunf4v-updated","size_in_gb":20,"wwn":"0bf22cc53b611a50","state":"built","created_at":1778133992,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"62349403edd364ce018486b2c38700f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"error":{"code":"unassigned_disk","description":"Disk is not assigned
      to a virtual machine.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs","name":"tf-acc-test-update-gt4jtvYunf4v-updated","size_in_gb":20,"wwn":"0bf22cc53b611a50","state":"built","created_at":1778133992,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cad1d2d1f667ad0225a34de8e3fb238a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_u3GIvlr7FHZcOhZs","name":"tf-acc-test-update-gt4jtvYunf4v-updated","size_in_gb":20,"wwn":"0bf22cc53b611a50","state":"built","created_at":1778133992,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_uvkLQBSxzgI4wlGE","keep_until":1778306800,"object_id":"disk_u3GIvlr7FHZcOhZs","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e25bde3ce95e9ec3dc9728a8df9c427e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_uvkLQBSxzgI4wlGE"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_t7FP9bDFUr6kwZne","name":"Purge items from trash","status":"pending","created_at":1778134000,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bde9e59b6c80dd06dd234bb88172c867"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "925"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_uvkLQBSxzgI4wlGE
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_uvkLQBSxzgI4wlGE","keep_until":1778306800,"object_id":"disk_u3GIvlr7FHZcOhZs","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b7eae8c9c5a962b646228b94783d9c4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "911"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_u3GIvlr7FHZcOhZs
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 404 Not Found
    code: 404
    duration: ""
