---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-storage-speed-nvme-5BA5UL5czwzZ","size_in_gb":20,"storage_speed":"nvme"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_YbsxaDRRO3HHxogW","name":"tf-acc-test-storage-speed-nvme-5BA5UL5czwzZ","size_in_gb":20,"wwn":"032dd82130d4db2e","state":"not_built","created_at":1786810180,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_YgaBtnero6Stcp4j","name":"Build
      disk","status":"pending","created_at":1786810180,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f16d7dea288790a4a72d28c77f789803"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_YgaBtnero6Stcp4j
    method: GET
  response:
    body: '{"task":{"id":"task_YgaBtnero6Stcp4j","name":"Build disk","status":"running","created_at":1786810180,"started_at":1786810181,"finished_at":null,"progress":37}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e07a9b143f2c229c847094d132e8748"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_YbsxaDRRO3HHxogW
    method: GET
  response:
    body: '{"disk":{"id":"disk_YbsxaDRRO3HHxogW","name":"tf-acc-test-storage-speed-nvme-5BA5UL5czwzZ","size_in_gb":20,"wwn":"032dd82130d4db2e","state":"built","created_at":1786810180,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d09a59335c5df39408f4628b9d336df"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_YbsxaDRRO3HHxogW"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_YbsxaDRRO3HHxogW","name":"tf-acc-test-storage-speed-nvme-5BA5UL5czwzZ","size_in_gb":20,"wwn":"032dd82130d4db2e","state":"built","created_at":1786810180,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_Zz3eKav4W0VT8aaC","keep_until":1786982987,"object_id":"disk_YbsxaDRRO3HHxogW","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"161f28938c23c39959211ec4919ade53"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_Zz3eKav4W0VT8aaC"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_Pgoou0SZXSr1SJu9","name":"Purge items from trash","status":"pending","created_at":1786810187,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e3ed55e7cd698b09ebbf4fe2215b46b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_Zz3eKav4W0VT8aaC
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_Zz3eKav4W0VT8aaC","keep_until":1786982987,"object_id":"disk_YbsxaDRRO3HHxogW","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f43ea5386837216d91ced823542fb80"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_Zz3eKav4W0VT8aaC
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_YbsxaDRRO3HHxogW
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 404 Not Found
    code: 404
    duration: ""
