---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-resize-r0HCFuFDNxrK","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou","name":"tf-acc-test-resize-r0HCFuFDNxrK","size_in_gb":20,"wwn":"00f3da1246288a04","state":"not_built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_rf6rVwNYSKETDWvn","name":"Build
      disk","status":"pending","created_at":1778133993,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ffa4f40c6a368380495f7f621ec7a657"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_rf6rVwNYSKETDWvn
    method: GET
  response:
    body: '{"task":{"id":"task_rf6rVwNYSKETDWvn","name":"Build disk","status":"running","created_at":1778133993,"started_at":1778133993,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"453e79748db1142a0cf7181fecb09d8e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_dq9VdX0nDlU3Rdou
    method: GET
  response:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou","name":"tf-acc-test-resize-r0HCFuFDNxrK","size_in_gb":20,"wwn":"00f3da1246288a04","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8a1bc63da5490144df8867d32168874"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou"},"resize_method":"offline","size_in_gb":30}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/resize
    method: PUT
  response:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou","name":"tf-acc-test-resize-r0HCFuFDNxrK","size_in_gb":20,"wwn":"00f3da1246288a04","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_OGSWlg82teYzoEfm","name":"Grow
      disk","status":"pending","created_at":1778133999,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"10e078bf0d6a0c846bfa7264edbb6f4c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_OGSWlg82teYzoEfm
    method: GET
  response:
    body: '{"task":{"id":"task_OGSWlg82teYzoEfm","name":"Grow disk","status":"running","created_at":1778133999,"started_at":1778134000,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c120812abb83656585ea60582c5c883a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"error":{"code":"unassigned_disk","description":"Disk is not assigned
      to a virtual machine.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "901"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou","name":"tf-acc-test-resize-r0HCFuFDNxrK","size_in_gb":30,"wwn":"00f3da1246288a04","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3856246357ba1944f5bd8f71844c0cd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_dq9VdX0nDlU3Rdou","name":"tf-acc-test-resize-r0HCFuFDNxrK","size_in_gb":30,"wwn":"00f3da1246288a04","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_d5f7LxGPZkzSkgZF","keep_until":1778306806,"object_id":"disk_dq9VdX0nDlU3Rdou","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06b46fb84387e8143b06ebcf228f5d11"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "897"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_d5f7LxGPZkzSkgZF"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_BIkEv8goUll3AAZ0","name":"Purge items from trash","status":"pending","created_at":1778134006,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc91b3817fb5156e7ff17dde1ba2fafa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "894"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_d5f7LxGPZkzSkgZF
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_d5f7LxGPZkzSkgZF","keep_until":1778306806,"object_id":"disk_dq9VdX0nDlU3Rdou","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69b4ee2b1df813d5429b4ebe0c080cbc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "889"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_dq9VdX0nDlU3Rdou
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 404 Not Found
    code: 404
    duration: ""
