---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-storage-speed-nvme-TTgb8TIYF0XP","size_in_gb":20,"storage_speed":"nvme"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_3vguAjxFlI5npCA4","name":"tf-acc-test-storage-speed-nvme-TTgb8TIYF0XP","size_in_gb":20,"wwn":"05ee048fc0321a43","state":"not_built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_8vDMVu7D0WCbwXml","name":"Build
      disk","status":"pending","created_at":1778133993,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cc631f3ed0eda63ffc34190fd09bd23"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_8vDMVu7D0WCbwXml
    method: GET
  response:
    body: '{"task":{"id":"task_8vDMVu7D0WCbwXml","name":"Build disk","status":"running","created_at":1778133993,"started_at":1778133994,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3258ba2fcca3b567868b0b6e8b67e78c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_3vguAjxFlI5npCA4
    method: GET
  response:
    body: '{"disk":{"id":"disk_3vguAjxFlI5npCA4","name":"tf-acc-test-storage-speed-nvme-TTgb8TIYF0XP","size_in_gb":20,"wwn":"05ee048fc0321a43","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ef8b168874c7de4788a3ce3aec3aabde"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_3vguAjxFlI5npCA4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"error":{"code":"unassigned_disk","description":"Disk is not assigned
      to a virtual machine.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "922"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"disk":{"id":"disk_3vguAjxFlI5npCA4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_3vguAjxFlI5npCA4","name":"tf-acc-test-storage-speed-nvme-TTgb8TIYF0XP","size_in_gb":20,"wwn":"05ee048fc0321a43","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d2920ede5764531928e61d134f04e6bd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "921"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_3vguAjxFlI5npCA4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_3vguAjxFlI5npCA4","name":"tf-acc-test-storage-speed-nvme-TTgb8TIYF0XP","size_in_gb":20,"wwn":"05ee048fc0321a43","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_3Pg8So5v5sz81cLL","keep_until":1778306800,"object_id":"disk_3vguAjxFlI5npCA4","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3daca5cdf6d8e9e5f060958e13b20c4a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_3Pg8So5v5sz81cLL"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_Chj0w8nvTm8bJNei","name":"Purge items from trash","status":"pending","created_at":1778134000,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5fe151aea0f8eb4b7b357112a5acf0b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_3Pg8So5v5sz81cLL
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_3Pg8So5v5sz81cLL","keep_until":1778306800,"object_id":"disk_3vguAjxFlI5npCA4","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a97ba15e3f920732d3aac728ae9f40d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "909"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_3vguAjxFlI5npCA4
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 404 Not Found
    code: 404
    duration: ""
