---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"initial_file_system":"ext4","name":"tf-acc-test-shrink-RBYMEIGn8hN4","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_Guugoj68ZHjU7tC7","name":"tf-acc-test-shrink-RBYMEIGn8hN4","size_in_gb":20,"wwn":"03aeeac499dd1392","state":"not_built","created_at":1786896810,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_gaXgxU4BlZQzrzqh","name":"Build
      disk","status":"pending","created_at":1786896810,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69600f85be6cca52080feb6b2ced37a4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_gaXgxU4BlZQzrzqh
    method: GET
  response:
    body: '{"task":{"id":"task_gaXgxU4BlZQzrzqh","name":"Build disk","status":"running","created_at":1786896810,"started_at":1786896811,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ecf90c9ff2078d607c1f247762384b12"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_Guugoj68ZHjU7tC7
    method: GET
  response:
    body: '{"disk":{"id":"disk_Guugoj68ZHjU7tC7","name":"tf-acc-test-shrink-RBYMEIGn8hN4","size_in_gb":20,"wwn":"03aeeac499dd1392","state":"built","created_at":1786896810,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6d91b534ce35438a172bd750e368c85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_Guugoj68ZHjU7tC7"},"resize_method":"offline","size_in_gb":10}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/resize
    method: PUT
  response:
    body: '{"disk":{"id":"disk_Guugoj68ZHjU7tC7","name":"tf-acc-test-shrink-RBYMEIGn8hN4","size_in_gb":20,"wwn":"03aeeac499dd1392","state":"built","created_at":1786896810,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_Fc9U5eFzaQd5zaft","name":"Shrink
      disk","status":"pending","created_at":1786896828,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e9552a31dca2c68efafae1a024f48cbb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_Fc9U5eFzaQd5zaft
    method: GET
  response:
    body: '{"task":{"id":"task_Fc9U5eFzaQd5zaft","name":"Shrink disk","status":"pending","created_at":1786896828,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2257702c68e96eda6956208399afa6a1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_Guugoj68ZHjU7tC7"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_Guugoj68ZHjU7tC7","name":"tf-acc-test-shrink-RBYMEIGn8hN4","size_in_gb":10,"wwn":"03aeeac499dd1392","state":"built","created_at":1786896810,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_MhbrIzSS7dkbmrAH","keep_until":1787069646,"object_id":"disk_Guugoj68ZHjU7tC7","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a718707d05717e3f4be720d3c9fc35c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_MhbrIzSS7dkbmrAH"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_pOpD3zjRANZMZrKQ","name":"Purge items from trash","status":"pending","created_at":1786896846,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be364302f9e173af61537011de7e317b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_MhbrIzSS7dkbmrAH
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_MhbrIzSS7dkbmrAH","keep_until":1787069646,"object_id":"disk_Guugoj68ZHjU7tC7","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"631571a0ed3ea70bda60cabfaa757e11"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_MhbrIzSS7dkbmrAH
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_Guugoj68ZHjU7tC7
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 404 Not Found
    code: 404
    duration: ""
