---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/disk_io_profiles?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=200
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":200,"large_set":false},"disk_io_profiles":[{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a0b49cc62de08150bf35e4d9fe3517a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"bus_type":"virtio","data_center":{"permalink":"uk-lon-01"},"io_profile":{"id":"diop_slvkma43oVxjJcRk"},"name":"tf-acc-test-update-Yk6Eir835yp1","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1","name":"tf-acc-test-update-Yk6Eir835yp1","size_in_gb":20,"wwn":"0e70d4e89b906ed6","state":"not_built","created_at":1786810333,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"virtio","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_WWU6voQprY34Fbmp","name":"Build
      disk","status":"pending","created_at":1786810333,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"080fab51b2cf0cdd9c26f443a849355d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_WWU6voQprY34Fbmp
    method: GET
  response:
    body: '{"task":{"id":"task_WWU6voQprY34Fbmp","name":"Build disk","status":"completed","created_at":1786810333,"started_at":1786810334,"finished_at":1786810334,"progress":100}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1fccef6ba5db350473c7ea68c7b03fc9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_frqOwiKzHkw3EyA1
    method: GET
  response:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1","name":"tf-acc-test-update-Yk6Eir835yp1","size_in_gb":20,"wwn":"0e70d4e89b906ed6","state":"built","created_at":1786810333,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"virtio","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71753c4f26e10ef57096f2a453d0bc96"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1"},"properties":{"bus_type":"scsi","name":"tf-acc-test-update-Yk6Eir835yp1-updated"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: PATCH
  response:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1","name":"tf-acc-test-update-Yk6Eir835yp1-updated","size_in_gb":20,"wwn":"0e70d4e89b906ed6","state":"built","created_at":1786810333,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d021779e118a3af4860b9881fa620ca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1"},"io_profile":{"id":"diop_i39iT7k0RYAdQP48"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/io_profile
    method: PUT
  response:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1","name":"tf-acc-test-update-Yk6Eir835yp1-updated","size_in_gb":20,"wwn":"0e70d4e89b906ed6","state":"built","created_at":1786810333,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_7gGNQ5zYz9KMHLaQ","name":"Change
      disk IO profile","status":"pending","created_at":1786810335,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e943f500be366b48c574b3e9630d476c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_7gGNQ5zYz9KMHLaQ
    method: GET
  response:
    body: '{"task":{"id":"task_7gGNQ5zYz9KMHLaQ","name":"Change disk IO profile","status":"running","created_at":1786810335,"started_at":1786810336,"finished_at":null,"progress":53}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ab9c0e7a42db9749d3c1b31ededb166"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_frqOwiKzHkw3EyA1","name":"tf-acc-test-update-Yk6Eir835yp1-updated","size_in_gb":20,"wwn":"0e70d4e89b906ed6","state":"built","created_at":1786810333,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_fLmxchYaWswwMDWi","keep_until":1786983142,"object_id":"disk_frqOwiKzHkw3EyA1","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"15c29870f259092ad1e476862ffcf456"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_fLmxchYaWswwMDWi"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_QIaWptQep4qZeHt5","name":"Purge items from trash","status":"pending","created_at":1786810342,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eaa16c69bd1575acd956b116a963886d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_fLmxchYaWswwMDWi
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_fLmxchYaWswwMDWi","keep_until":1786983142,"object_id":"disk_frqOwiKzHkw3EyA1","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f1546b3922fddcc7e9e7706f9be0df7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_fLmxchYaWswwMDWi
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_frqOwiKzHkw3EyA1
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 404 Not Found
    code: 404
    duration: ""
