---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/disk_io_profiles?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=200
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":200,"large_set":false},"disk_io_profiles":[{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a0b49cc62de08150bf35e4d9fe3517a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"bus_type":"virtio","data_center":{"permalink":"uk-lon-01"},"io_profile":{"id":"diop_slvkma43oVxjJcRk"},"name":"tf-acc-test-update-8wez2dUssFoX","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU","name":"tf-acc-test-update-8wez2dUssFoX","size_in_gb":20,"wwn":"0f33252f9ccde9f6","state":"not_built","created_at":1786976639,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"virtio","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_TZDcVvx1OXMSWtzN","name":"Build
      disk","status":"pending","created_at":1786976639,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e9fd3795596b815b59c92aef987d0e64"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_TZDcVvx1OXMSWtzN
    method: GET
  response:
    body: '{"task":{"id":"task_TZDcVvx1OXMSWtzN","name":"Build disk","status":"pending","created_at":1786976639,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7e9e1ef3c194b0d1e49cfeee8187e286"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_85IHDqEUTxvyK6RU
    method: GET
  response:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU","name":"tf-acc-test-update-8wez2dUssFoX","size_in_gb":20,"wwn":"0f33252f9ccde9f6","state":"built","created_at":1786976639,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"virtio","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c15c46951311d5ea1a7335d33f03c6b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU"},"properties":{"name":"tf-acc-test-update-8wez2dUssFoX-updated"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: PATCH
  response:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU","name":"tf-acc-test-update-8wez2dUssFoX-updated","size_in_gb":20,"wwn":"0f33252f9ccde9f6","state":"built","created_at":1786976639,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"virtio","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"723c18961fae5aac3ea644186aaefb39"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU"},"io_profile":{"id":"diop_i39iT7k0RYAdQP48"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/io_profile
    method: PUT
  response:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU","name":"tf-acc-test-update-8wez2dUssFoX-updated","size_in_gb":20,"wwn":"0f33252f9ccde9f6","state":"built","created_at":1786976639,"storage_speed":"nvme","io_profile":{"id":"diop_slvkma43oVxjJcRk","name":"100k","permalink":"100k","speed_in_mb":2000,"iops":100000},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_peejTXkpIAUY2aSw","name":"Change
      disk IO profile","status":"pending","created_at":1786976657,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"051083a9bc3aefd456e477af129c6a36"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_peejTXkpIAUY2aSw
    method: GET
  response:
    body: '{"task":{"id":"task_peejTXkpIAUY2aSw","name":"Change disk IO profile","status":"running","created_at":1786976657,"started_at":1786976658,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"85df8ea427984a02f28c6e8e6b078ed9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_85IHDqEUTxvyK6RU","name":"tf-acc-test-update-8wez2dUssFoX-updated","size_in_gb":20,"wwn":"0f33252f9ccde9f6","state":"built","created_at":1786976639,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_DqFMYpHmUfXbI3X4","keep_until":1787149464,"object_id":"disk_85IHDqEUTxvyK6RU","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f25a018562411b391568e413c580701c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_DqFMYpHmUfXbI3X4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_D2g2LLOV1RwBzbVL","name":"Purge items from trash","status":"pending","created_at":1786976664,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5fb88ffe14f55fb54f82734d08de88af"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_DqFMYpHmUfXbI3X4
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_DqFMYpHmUfXbI3X4","keep_until":1787149464,"object_id":"disk_85IHDqEUTxvyK6RU","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32ac2a2e622445bb774416104f7a5b66"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_DqFMYpHmUfXbI3X4
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_85IHDqEUTxvyK6RU
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 404 Not Found
    code: 404
    duration: ""
