---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-basic-PErUlZDxySjr","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_0YGiCOwxwWTr5Goj","name":"tf-acc-test-basic-PErUlZDxySjr","size_in_gb":20,"wwn":"0e56285e17c7ce88","state":"not_built","created_at":1778134617,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_nzM5DQyRjycJaaCL","name":"Build
      disk","status":"pending","created_at":1778134618,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa9c01177ac9f1034f3c1ba2d56e04fd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_nzM5DQyRjycJaaCL
    method: GET
  response:
    body: '{"task":{"id":"task_nzM5DQyRjycJaaCL","name":"Build disk","status":"pending","created_at":1778134618,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"619b6b420dc9ffeadc65cc35492c3464"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_0YGiCOwxwWTr5Goj
    method: GET
  response:
    body: '{"disk":{"id":"disk_0YGiCOwxwWTr5Goj","name":"tf-acc-test-basic-PErUlZDxySjr","size_in_gb":20,"wwn":"0e56285e17c7ce88","state":"built","created_at":1778134617,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"efa30bc89efb17ae8b7142a8e0db01af"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_0YGiCOwxwWTr5Goj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"error":{"code":"unassigned_disk","description":"Disk is not assigned
      to a virtual machine.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: '{"disk":{"id":"disk_0YGiCOwxwWTr5Goj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_0YGiCOwxwWTr5Goj","name":"tf-acc-test-basic-PErUlZDxySjr","size_in_gb":20,"wwn":"0e56285e17c7ce88","state":"built","created_at":1778134617,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"739b020a333df5387189e09cc8d6c589"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_0YGiCOwxwWTr5Goj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_0YGiCOwxwWTr5Goj","name":"tf-acc-test-basic-PErUlZDxySjr","size_in_gb":20,"wwn":"0e56285e17c7ce88","state":"built","created_at":1778134617,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_qw1rAdgpfWUa9Drg","keep_until":1778307424,"object_id":"disk_0YGiCOwxwWTr5Goj","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89f2d0082d44461f2ecb7eb3702033c9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_qw1rAdgpfWUa9Drg"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_MP38xmeSh9PFSpzc","name":"Purge items from trash","status":"pending","created_at":1778134624,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d408215104549ae95ba247ba9c8f5b7f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_qw1rAdgpfWUa9Drg
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_qw1rAdgpfWUa9Drg","keep_until":1778307424,"object_id":"disk_0YGiCOwxwWTr5Goj","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"15a770a03937f2006fb20156a2bbf1fc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_0YGiCOwxwWTr5Goj
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 404 Not Found
    code: 404
    duration: ""
