---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-resize-UDw5MhqLCsdd","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_U6bHFe4D9aSrMTYJ","name":"tf-acc-test-resize-UDw5MhqLCsdd","size_in_gb":20,"wwn":"0dc56ac3258f2402","state":"not_built","created_at":1786733123,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_EoIbyLsyCwz8wZQK","name":"Build
      disk","status":"pending","created_at":1786733123,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a45cf097c5b77b465957658a7aadc9c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_EoIbyLsyCwz8wZQK
    method: GET
  response:
    body: '{"task":{"id":"task_EoIbyLsyCwz8wZQK","name":"Build disk","status":"running","created_at":1786733123,"started_at":1786733124,"finished_at":null,"progress":37}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41bbab523414edd5b5806393e3f8e557"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_U6bHFe4D9aSrMTYJ
    method: GET
  response:
    body: '{"disk":{"id":"disk_U6bHFe4D9aSrMTYJ","name":"tf-acc-test-resize-UDw5MhqLCsdd","size_in_gb":20,"wwn":"0dc56ac3258f2402","state":"built","created_at":1786733123,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a0673825d841b2fc6cfa13f865a04cf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_U6bHFe4D9aSrMTYJ"},"resize_method":"offline","size_in_gb":30}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/resize
    method: PUT
  response:
    body: '{"disk":{"id":"disk_U6bHFe4D9aSrMTYJ","name":"tf-acc-test-resize-UDw5MhqLCsdd","size_in_gb":20,"wwn":"0dc56ac3258f2402","state":"built","created_at":1786733123,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_uX8GLjdc8l2XN3zK","name":"Grow
      disk","status":"pending","created_at":1786733130,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d421fc587bfca8c959f87c52d0c39d03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_uX8GLjdc8l2XN3zK
    method: GET
  response:
    body: '{"task":{"id":"task_uX8GLjdc8l2XN3zK","name":"Grow disk","status":"running","created_at":1786733130,"started_at":1786733131,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1b51f65e788796474c4115091218c91"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_U6bHFe4D9aSrMTYJ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_U6bHFe4D9aSrMTYJ","name":"tf-acc-test-resize-UDw5MhqLCsdd","size_in_gb":30,"wwn":"0dc56ac3258f2402","state":"built","created_at":1786733123,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_eqfixNxL4fRRknln","keep_until":1786905938,"object_id":"disk_U6bHFe4D9aSrMTYJ","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e014487dfebded32f3118223743cf7b3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_eqfixNxL4fRRknln"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_sK6fP2v76tTOvE2L","name":"Purge items from trash","status":"pending","created_at":1786733138,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9bd63bbf9f2a51493e174392b0b50bbf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_eqfixNxL4fRRknln
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_eqfixNxL4fRRknln","keep_until":1786905938,"object_id":"disk_U6bHFe4D9aSrMTYJ","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c0b9fb33eca93a2434f91671fe8e684c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_eqfixNxL4fRRknln
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_U6bHFe4D9aSrMTYJ
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 404 Not Found
    code: 404
    duration: ""
