---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"initial_file_system":"ext4","name":"tf-acc-test-shrink-QIuUtUTFplzZ","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_2xUoIfkIapBOgLla","name":"tf-acc-test-shrink-QIuUtUTFplzZ","size_in_gb":20,"wwn":"0412278da894db3f","state":"not_built","created_at":1786892225,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_izDPTtc8Ap7lJXKf","name":"Build
      disk","status":"pending","created_at":1786892225,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"335b4e0c0adf1ee1b181df7e7e1ef488"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_izDPTtc8Ap7lJXKf
    method: GET
  response:
    body: '{"task":{"id":"task_izDPTtc8Ap7lJXKf","name":"Build disk","status":"running","created_at":1786892225,"started_at":1786892226,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c772db8b4274b1a0e7c653edcb3ab472"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_2xUoIfkIapBOgLla
    method: GET
  response:
    body: '{"disk":{"id":"disk_2xUoIfkIapBOgLla","name":"tf-acc-test-shrink-QIuUtUTFplzZ","size_in_gb":20,"wwn":"0412278da894db3f","state":"built","created_at":1786892225,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"455d028ed1a304816ff9d1ba5bc17fcd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_2xUoIfkIapBOgLla"},"resize_method":"offline","size_in_gb":10}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/resize
    method: PUT
  response:
    body: '{"disk":{"id":"disk_2xUoIfkIapBOgLla","name":"tf-acc-test-shrink-QIuUtUTFplzZ","size_in_gb":20,"wwn":"0412278da894db3f","state":"built","created_at":1786892225,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_ROCkDVXdDSEAvH6E","name":"Shrink
      disk","status":"pending","created_at":1786892242,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c51bfe5bba3803a872f795c0e51d786"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_ROCkDVXdDSEAvH6E
    method: GET
  response:
    body: '{"task":{"id":"task_ROCkDVXdDSEAvH6E","name":"Shrink disk","status":"running","created_at":1786892242,"started_at":1786892243,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ab279b1ad74eb6792ad102ad28f1ec8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_2xUoIfkIapBOgLla"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_2xUoIfkIapBOgLla","name":"tf-acc-test-shrink-QIuUtUTFplzZ","size_in_gb":10,"wwn":"0412278da894db3f","state":"built","created_at":1786892225,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_6XPlfJiXBccn7qRO","keep_until":1787065061,"object_id":"disk_2xUoIfkIapBOgLla","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"88f20f309748f597f5bbd3497305b775"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_6XPlfJiXBccn7qRO"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_GKj4CU8VktbJr2bp","name":"Purge items from trash","status":"pending","created_at":1786892261,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"303cfe3ab8b7f2d0dc27045eae36a1ee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_6XPlfJiXBccn7qRO
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_6XPlfJiXBccn7qRO","keep_until":1787065061,"object_id":"disk_2xUoIfkIapBOgLla","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d89bb02b84df3957bba31776470dbe9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_6XPlfJiXBccn7qRO
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=disk_2xUoIfkIapBOgLla
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 404 Not Found
    code: 404
    duration: ""
