---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-minimal-laNcWNHiClTz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_hbfwQLcdZDvcQsxM","name":"tf-acc-test-minimal-laNcWNHiClTz","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32b9c9e4b51bf19ae2aaf498f45ee010"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_hbfwQLcdZDvcQsxM
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_hbfwQLcdZDvcQsxM","name":"tf-acc-test-minimal-laNcWNHiClTz","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0948f0d569d52a04b6aa8d17f215f25e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_hbfwQLcdZDvcQsxM"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_NNl6JqFg5XuoNdkE","keep_until":1730399147,"object_id":"fsv_hbfwQLcdZDvcQsxM","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_hbfwQLcdZDvcQsxM","name":"tf-acc-test-minimal-laNcWNHiClTz","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_hbfwQLcdZDvcQsxM","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7f0711ee853ae1ca72936109550ba1b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_hbfwQLcdZDvcQsxM"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_qQnJLSiO6fF7kaas","name":"Purge items from trash","status":"pending","created_at":1730226347,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4534ea53dc59475de252f23b708d128b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_hbfwQLcdZDvcQsxM
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_NNl6JqFg5XuoNdkE","keep_until":1730399147,"object_id":"fsv_hbfwQLcdZDvcQsxM","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32a6aad69c73484baf16c205f8e7f08e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_hbfwQLcdZDvcQsxM
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
