---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-minimal-L04g37qHfMba"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_gMFDMEaz7uHXdxeL","name":"tf-acc-test-minimal-L04g37qHfMba","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"afb55b157fc22034801f9fe7e36f5d03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_gMFDMEaz7uHXdxeL
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_gMFDMEaz7uHXdxeL","name":"tf-acc-test-minimal-L04g37qHfMba","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"75f1f025e2544cbc2d719dde76402a2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_gMFDMEaz7uHXdxeL"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_zMUAuIhJNzMKTtWC","keep_until":1720635417,"object_id":"fsv_gMFDMEaz7uHXdxeL","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_gMFDMEaz7uHXdxeL","name":"tf-acc-test-minimal-L04g37qHfMba","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_gMFDMEaz7uHXdxeL","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"04b7b2953f3de3983679cecf3b63374a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_gMFDMEaz7uHXdxeL"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_5rC0T2jfBt1PCeVc","name":"Purge items from trash","status":"pending","created_at":1720462617,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e9dee134ef3a90bec93194833642a59"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_gMFDMEaz7uHXdxeL
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_zMUAuIhJNzMKTtWC","keep_until":1720635417,"object_id":"fsv_gMFDMEaz7uHXdxeL","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2db9ee07548575e844b417a695d0654f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_gMFDMEaz7uHXdxeL
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
