---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_nDnX563gTEODBoQl","address":"185.44.253.30","reverse_dns":"185-44-253-30.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.30/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0899eb7c2fc4f429270a1abe8162285d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_nDnX563gTEODBoQl
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_nDnX563gTEODBoQl","address":"185.44.253.30","reverse_dns":"185-44-253-30.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.30/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebca84788420915256c142cb6bb030de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_nDnX563gTEODBoQl\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-associations-mbecsxp41xye-web\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_KAl5sPRaH4WU70Sa","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_BBbv0gAqOlzSFsgn","state":"pending"},"virtual_machine_build":{"id":"vmbuild_BBbv0gAqOlzSFsgn","state":"pending"},"hostname":"tf-acc-test-associations-mbecsxp41xye-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66066e9c3d1c62b1af6ad6dcfa3f91c2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_BBbv0gAqOlzSFsgn
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_BBbv0gAqOlzSFsgn","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.30\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-associations-mbecsxp41xye-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786624707},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"afc20b72bd565ae04c8297547de46580"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_JLOJZNWBFB0AsS2t
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786624713,"description":null,"fqdn":"tf-acc-test-associations-mbecsxp41xye-web.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-associations-mbecsxp41xye-web","id":"vm_JLOJZNWBFB0AsS2t","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.253.30","address_with_mask":"185.44.253.30/22","allocation_id":"vm_JLOJZNWBFB0AsS2t","allocation_type":"VirtualMachine","id":"ip_nDnX563gTEODBoQl","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-associations-mbecsxp41xye-web.terraform-acc-test.katapult.cloud","subnet":{"address":"185.44.252.0","billable":true,"gateway":"185.44.255.254","id":"sbnt_9FYjp2bT20hooq9u","mask":22,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-associations-mbecsxp41xye-web","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"started","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c121ba360f05aaca6822b954d604dc4c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_JLOJZNWBFB0AsS2t
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_XTRnInuRfS7YEkAv","name":"Public
      Network on tf-acc-test-associations-mbecsxp41xye-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_nDnX563gTEODBoQl","address":"185.44.253.30","reverse_dns":"tf-acc-test-associations-mbecsxp41xye-web.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.253.30/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"661469513a3c5e027a9a018c19acc741"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_XTRnInuRfS7YEkAv
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_XTRnInuRfS7YEkAv","virtual_machine":{"id":"vm_JLOJZNWBFB0AsS2t","name":"tf-acc-test-associations-mbecsxp41xye-web"},"name":"Public
      Network on tf-acc-test-associations-mbecsxp41xye-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:51:e8:aa:84:7f","state":"attached","ip_addresses":[{"id":"ip_nDnX563gTEODBoQl","address":"185.44.253.30"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e5d9d96011da728197f2689a4807562"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_JLOJZNWBFB0AsS2t"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-associations-mbecsxp41xye"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_GSWwo8V1LVNjg4Hf","name":"tf-acc-test-associations-mbecsxp41xye","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_JLOJZNWBFB0AsS2t"],"state":"pending","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5249e802ff42103a9d9a420b79f83b7b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_GSWwo8V1LVNjg4Hf
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_GSWwo8V1LVNjg4Hf","name":"tf-acc-test-associations-mbecsxp41xye","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_JLOJZNWBFB0AsS2t"],"state":"configuring","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e31798cf741971f5635da2c93290701"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_vOjO985PBpkVSjoT
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_vOjO985PBpkVSjoT","name":"tf-acc-test-associations-mbecsxp41xye-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a3fa202d0f21b9e19dc2d138c3e64d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_nDnX563gTEODBoQl
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_nDnX563gTEODBoQl","address":"185.44.253.30","reverse_dns":"tf-acc-test-associations-mbecsxp41xye-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.30/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_JLOJZNWBFB0AsS2t","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_JLOJZNWBFB0AsS2t","name":"tf-acc-test-associations-mbecsxp41xye-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a0d8b0ecc5353470578cb523e3feaf7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_vOjO985PBpkVSjoT"},"properties":{"associations":["vm_JLOJZNWBFB0AsS2t"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_vOjO985PBpkVSjoT","name":"tf-acc-test-associations-mbecsxp41xye-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_JLOJZNWBFB0AsS2t"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_vOjO985PBpkVSjoT","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3ed5dca79a9d14845320f053855df003"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_qjblQtt46tin1GMv
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_qjblQtt46tin1GMv","address":"185.44.253.218","reverse_dns":"185-44-253-218.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.218/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cbe017cca042e5cd4d297b07757b08f6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_QWbegLesG5HZeVS7
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_QWbegLesG5HZeVS7","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"per[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_vD1QfgK1FnoYjcoT
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786624818,"description":null,"fqdn":"tf-acc-test-associations-mbecsxp41xye-db.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-associations-mbecsxp41xye-db","i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_vD1QfgK1FnoYjcoT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_aLlVfp40CKlI7Lyh","name":"Public
      Network on tf-acc-test-associations-mbecsxp41xye-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_qjblQtt46tin1GMv","address":"185.44.253.218","reverse_dns":"tf-acc-test-associations-mbecsxp41xye-db.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.253.218/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e087c76562f3cc6cb417ff361c625ee2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_aLlVfp40CKlI7Lyh
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_aLlVfp40CKlI7Lyh","virtual_machine":{"id":"vm_vD1QfgK1FnoYjcoT","name":"tf-acc-test-associations-mbecsxp41xye-db"},"name":"Public
      Network on tf-acc-test-associations-mbecsxp41xye-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:cf:27:cd:ee:cd","state":"attached","ip_addresses":[{"id":"ip_qjblQtt46tin1GMv","address":"185.44.253.218"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fae8613dfb391713d1dbcbbaacd5efc5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_vD1QfgK1FnoYjcoT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_CGu5jE6DFWJpViOB","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6c656602976dee4a020482638d4ed11"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_GSWwo8V1LVNjg4Hf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_4ml1VRUMIXToYB9G","keep_until":1786797760,"object_id":"fsv_GSWwo8V1LVNjg4Hf","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_GSWwo8V1LVNjg4Hf","name":"tf-acc-test-associations-mbecsxp41xye","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_GSWwo8V1LVNjg4Hf","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c11e87ebca64e4e8be05e5d37e2f70a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"trash_object":{"object_id":"fsv_GSWwo8V1LVNjg4Hf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_5euy8gQ84k3yuOYQ","name":"Purge items from trash","status":"pending","created_at":1786624960,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"90e2354f6d565ee97bd7e66e09c15d9c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_CGu5jE6DFWJpViOB
    method: GET
  response:
    body: '{"task":{"id":"task_CGu5jE6DFWJpViOB","name":"Stop virtual machine","status":"running","created_at":1786624960,"started_at":1786624961,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bda0e89e66334603c36fe601b5336431"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_jlOFalXeMmbhxrnj
    method: GET
  response:
    body: '{"task":{"id":"task_jlOFalXeMmbhxrnj","name":"Stop virtual machine","status":"running","created_at":1786624960,"started_at":1786624960,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"338f113b45b7005030a28bf3c543d2aa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_GSWwo8V1LVNjg4Hf
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_4ml1VRUMIXToYB9G","keep_until":1786797760,"object_id":"fsv_GSWwo8V1LVNjg4Hf","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4ee37ce3d20f2788206caaa52c077e7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_vOjO985PBpkVSjoT
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_4tyMcQ1rJAeUPRW6","keep_until":1786797760,"object_id":"fsv_vOjO985PBpkVSjoT","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"874f46718fa94abee4fddc1de46bf044"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_vD1QfgK1FnoYjcoT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_AZaGyhijrLQyrzBu","keep_until":1786797767,"object_id":"vm_vD1QfgK1FnoYjcoT","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786624818,"description":null,"fqdn":"t[...]
[...]
- request:
    body: '{"ip_address":{"id":"ip_qjblQtt46tin1GMv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_AZaGyhijrLQyrzBu
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_AZaGyhijrLQyrzBu","keep_until":1786797767,"object_id":"vm_vD1QfgK1FnoYjcoT","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"93b2bdc8b6de503cebf4de39238a4f3e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_T3xSpuqDZOCjMfBS
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_T3xSpuqDZOCjMfBS","keep_until":1786797767,"object_id":"vm_JLOJZNWBFB0AsS2t","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c8b2c8bacbc0362c8e2dbed2f3ae6a8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_GSWwo8V1LVNjg4Hf
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_qjblQtt46tin1GMv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
[...]
