---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-name-AoODbd1q5p4N","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_CyAensYbfwr81UBG","name":"tf-acc-test-update-name-AoODbd1q5p4N","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"794bced71887d43794cdd2cbd287975e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_CyAensYbfwr81UBG
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_CyAensYbfwr81UBG","name":"tf-acc-test-update-name-AoODbd1q5p4N","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f661f32aa248ca6194e8b8c761ad85fe"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"file_storage_volume":{"id":""},"properties":{"name":"tf-acc-test-update-name-AoODbd1q5p4N-foobar"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/_
    method: PATCH
  response:
    body: '{"error":{"code":"file_storage_volume_not_found","description":"No file
      storage volume was found matching any of the criteria provided in the arguments.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_CyAensYbfwr81UBG
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_GVuHb1oR9Iy176HS","keep_until":1704896143,"object_id":"fsv_CyAensYbfwr81UBG","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_CyAensYbfwr81UBG","name":"tf-acc-test-update-name-AoODbd1q5p4N","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_CyAensYbfwr81UBG","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f49dee9be6fbc328c270cd5789e2702"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_CyAensYbfwr81UBG
    method: DELETE
  response:
    body: '{"task":{"id":"task_dlTfrYYkbkuxqPY5","name":"Purge items from trash","status":"pending","created_at":1704723343,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf0995132a1824533b099cf6f555fa6f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
[...]
