---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-update-name-Q2gZFp2ghJ6h"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_v5jYAorROEju3g9D","name":"tf-acc-test-update-name-Q2gZFp2ghJ6h","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d397730ad6d1e74874bc08c5e359057"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_v5jYAorROEju3g9D
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_v5jYAorROEju3g9D","name":"tf-acc-test-update-name-Q2gZFp2ghJ6h","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e2575a9befffe797d7c3e7f5707d8a8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_v5jYAorROEju3g9D"},"properties":{"name":"tf-acc-test-update-name-Q2gZFp2ghJ6h-foobar"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_v5jYAorROEju3g9D","name":"tf-acc-test-update-name-Q2gZFp2ghJ6h-foobar","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_v5jYAorROEju3g9D","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38b1b0249bb258b3223945c1d6424788"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_v5jYAorROEju3g9D"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_iHSu0VLChX8ZsCq3","keep_until":1734880806,"object_id":"fsv_v5jYAorROEju3g9D","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_v5jYAorROEju3g9D","name":"tf-acc-test-update-name-Q2gZFp2ghJ6h-foobar","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_v5jYAorROEju3g9D","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dfec4bb43296cbf6cd5191cc983b41b7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_v5jYAorROEju3g9D"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_fzDyYJ13TsqCAbcx","name":"Purge items from trash","status":"pending","created_at":1734708006,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df1da7837a23d3c956a32d0bac57aea1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_v5jYAorROEju3g9D
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_iHSu0VLChX8ZsCq3","keep_until":1734880806,"object_id":"fsv_v5jYAorROEju3g9D","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1efd725f4e04f06ecabaeb2a807e7e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_v5jYAorROEju3g9D
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
