---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55","reverse_dns":"185-44-252-55.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ecf5061aaa0374d3f8175eeefccdf5f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_t1CqlATVR28s9DHn
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55","reverse_dns":"185-44-252-55.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"986310eb78eeb757b1abd0ff47473cfe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_t1CqlATVR28s9DHn
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55","reverse_dns":"185-44-252-55.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"986310eb78eeb757b1abd0ff47473cfe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_t1CqlATVR28s9DHn</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-associations-jnucksep5xjz-web</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_ffnQP2qS0ezVW70p","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_tX41AyicqV4Se0eK","state":"pending"},"virtual_machine_build":{"id":"vmbuild_tX41AyicqV4Se0eK","state":"pending"},"hostname":"tf-acc-test-associations-jnucksep5xjz-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b185420231ac66868af795252599941"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_tX41AyicqV4Se0eK
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_tX41AyicqV4Se0eK","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.55\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-associations-jnucksep5xjz-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738863809},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65544a38541dc924d59aa3ab4ef63b13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_7tOuR5eK7zhFKEO2
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_7tOuR5eK7zhFKEO2","name":"tf-acc-test-associations-jnucksep5xjz-web","hostname":"tf-acc-test-associations-jnucksep5xjz-web","fqdn":"tf-acc-test-associations-jnucksep5xjz-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1738863814,"initial_root_password":"MnyzUnCRoneaDXM6","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55","reverse_dns":"tf-acc-test-associations-jnucksep5xjz-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_7tOuR5eK7zhFKEO2","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8d324408d136ca4ad97a12b5797a0660"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_7tOuR5eK7zhFKEO2
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_xNRPb2tWSjPPLLI8","name":"Public
      Network on tf-acc-test-associations-jnucksep5xjz-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0bf52c7b206398cb852b208d2a1351f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_xNRPb2tWSjPPLLI8
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_xNRPb2tWSjPPLLI8","virtual_machine":{"id":"vm_7tOuR5eK7zhFKEO2","name":"tf-acc-test-associations-jnucksep5xjz-web"},"name":"Public
      Network on tf-acc-test-associations-jnucksep5xjz-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:34:81:46:5d:95","state":"attached","ip_addresses":[{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c06a8a2f2cdd3ce2be7a094a6f4c134"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_xNRPb2tWSjPPLLI8
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_xNRPb2tWSjPPLLI8","virtual_machine":{"id":"vm_7tOuR5eK7zhFKEO2","name":"tf-acc-test-associations-jnucksep5xjz-web"},"name":"Public
      Network on tf-acc-test-associations-jnucksep5xjz-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:34:81:46:5d:95","state":"attached","ip_addresses":[{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c06a8a2f2cdd3ce2be7a094a6f4c134"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_7tOuR5eK7zhFKEO2"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-associations-jnucksep5xjz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_zkK3RvT5cksonXSo","name":"tf-acc-test-associations-jnucksep5xjz","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_7tOuR5eK7zhFKEO2"],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6235e0830e363f7a5236ec3bed08c66d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_zkK3RvT5cksonXSo
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_zkK3RvT5cksonXSo","name":"tf-acc-test-associations-jnucksep5xjz","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_7tOuR5eK7zhFKEO2"],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b03138922f877da0b54b6e0437878483"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_Q38cCtYhTiJW4I4t
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_Q38cCtYhTiJW4I4t","name":"tf-acc-test-associations-jnucksep5xjz-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"615a333acb04885d22c73b288eb50be2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_t1CqlATVR28s9DHn
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_t1CqlATVR28s9DHn","address":"185.44.252.55","reverse_dns":"tf-acc-test-associations-jnucksep5xjz-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_7tOuR5eK7zhFKEO2","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_7tOuR5eK7zhFKEO2","name":"tf-acc-test-associations-jnucksep5xjz-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"690c6d4153dd750f9e64f9d16c9c0953"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_Q38cCtYhTiJW4I4t"},"properties":{"associations":["vm_7tOuR5eK7zhFKEO2"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_Q38cCtYhTiJW4I4t","name":"tf-acc-test-associations-jnucksep5xjz-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_7tOuR5eK7zhFKEO2"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_Q38cCtYhTiJW4I4t","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d940ab9d34543f358c6435e7d7b5d2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_uvIewAo5cCiax5V9
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_uvIewAo5cCiax5V9","address":"185.44.253.157","reverse_dns":"185-44-253-157.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.157/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09801b24f90a1af197cd59dce0ad2de9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_uvIewAo5cCiax5V9
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_uvIewAo5cCiax5V9","address":"185.44.253.157","reverse_dns":"185-44-253-157.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.157/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09801b24f90a1af197cd59dce0ad2de9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_w10qmbNrBvqJ1GPu
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_w10qmbNrBvqJ1GPu","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Cl2BRgFD3HyC4QzB
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Cl2BRgFD3HyC4QzB","name":"tf-acc-test-associations-jnucksep5xjz-db","hostname":"tf-acc-test-associations-jnucksep5xjz-db","fqdn":"tf-acc-test-associations-jnucksep5xjz-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1738863914,"initial_root_password":"U3fT[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_Cl2BRgFD3HyC4QzB
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_3PSsUvmKzyrUWwPs","name":"Public
      Network on tf-acc-test-associations-jnucksep5xjz-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_uvIewAo5cCiax5V9","address":"185.44.253.157"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2caeb44a45bdd3e1b9ca725597e11d89"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_3PSsUvmKzyrUWwPs
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_3PSsUvmKzyrUWwPs","virtual_machine":{"id":"vm_Cl2BRgFD3HyC4QzB","name":"tf-acc-test-associations-jnucksep5xjz-db"},"name":"Public
      Network on tf-acc-test-associations-jnucksep5xjz-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:cd:7a:e7:97:d6","state":"attached","ip_addresses":[{"id":"ip_uvIewAo5cCiax5V9","address":"185.44.253.157"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"290fb2ef68921dea4cd40e7364cfe32e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_3PSsUvmKzyrUWwPs
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_3PSsUvmKzyrUWwPs","virtual_machine":{"id":"vm_Cl2BRgFD3HyC4QzB","name":"tf-acc-test-associations-jnucksep5xjz-db"},"name":"Public
      Network on tf-acc-test-associations-jnucksep5xjz-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:cd:7a:e7:97:d6","state":"attached","ip_addresses":[{"id":"ip_uvIewAo5cCiax5V9","address":"185.44.253.157"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"290fb2ef68921dea4cd40e7364cfe32e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_7tOuR5eK7zhFKEO2
    method: POST
  response:
    body: '{"task":{"id":"task_ITaIA5jE2xjlc6f5","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0983e5094dd434d8735e6705e9c2163a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Cl2BRgFD3HyC4QzB
    method: POST
  response:
    body: '{"task":{"id":"task_iXMUlAtVIZRI0522","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0d3769996d0d8b72ce7baa1f0fd18df"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_zkK3RvT5cksonXSo"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_b85RghgcXHezFXSL","keep_until":1739036828,"object_id":"fsv_zkK3RvT5cksonXSo","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_zkK3RvT5cksonXSo","name":"tf-acc-test-associations-jnucksep5xjz","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_zkK3RvT5cksonXSo","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0374df0bcbb6a85e1fbec5017b0c06c6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"trash_object":{"object_id":"fsv_zkK3RvT5cksonXSo"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_J4agUHXSVzda5yx9","name":"Purge items from trash","status":"pending","created_at":1738864028,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9c08d3a87b2fe0c029b539f663e7f18"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_iXMUlAtVIZRI0522
    method: GET
  response:
    body: '{"task":{"id":"task_iXMUlAtVIZRI0522","name":"Stop virtual machine","status":"running","created_at":1738864028,"started_at":1738864029,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2dc81984430416f530f262127a04ee32"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ITaIA5jE2xjlc6f5
    method: GET
  response:
    body: '{"task":{"id":"task_ITaIA5jE2xjlc6f5","name":"Stop virtual machine","status":"running","created_at":1738864028,"started_at":1738864029,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3dafce5f10b86c1c09c77e72520da5e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_zkK3RvT5cksonXSo
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_b85RghgcXHezFXSL","keep_until":1739036828,"object_id":"fsv_zkK3RvT5cksonXSo","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c758da3b7fb2c04d24bca85204b5a60f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_Q38cCtYhTiJW4I4t
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_8TZ83BHEtbHE4MFp","keep_until":1739036828,"object_id":"fsv_Q38cCtYhTiJW4I4t","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"534e64785fa70956229d83030ebb2c48"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_t1CqlATVR28s9DHn
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_uvIewAo5cCiax5V9
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
[...]
