---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_KZzoEfq36DJnjoOm","address":"185.44.254.38","reverse_dns":"185-44-254-38.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.38/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4351958576cabf3558c314443b7254dc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_KZzoEfq36DJnjoOm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_KZzoEfq36DJnjoOm","address":"185.44.254.38","reverse_dns":"185-44-254-38.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.38/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff96a4a688d028fd9be0ef9614f294b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_KZzoEfq36DJnjoOm\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-associations-y4gbjedkw8ld-web\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_qKvn6c3Ik8qCvK2x","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_maQQM9wCUC7kwMbs","state":"pending"},"virtual_machine_build":{"id":"vmbuild_maQQM9wCUC7kwMbs","state":"pending"},"hostname":"tf-acc-test-associations-y4gbjedkw8ld-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19e134a18ed883892ff95fb6a6c77889"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_maQQM9wCUC7kwMbs
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_maQQM9wCUC7kwMbs","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.254.38\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-associations-y4gbjedkw8ld-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1788791910},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7c04854412210d17d52e2db3e5272b3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_fpMM3cUJOIJqEyzS
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1788791915,"description":null,"fqdn":"tf-acc-test-associations-y4gbjedkw8ld-web.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-associations-y4gbjedkw8ld-web","id":"vm_fpMM3cUJOIJqEyzS","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.254.38","address_with_mask":"185.44.254.38/22","allocation_id":"vm_fpMM3cUJOIJqEyzS","allocation_type":"VirtualMachine","id":"ip_KZzoEfq36DJnjoOm","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-associations-y4gbjedkw8ld-web.terraform-acc-test.katapult.cloud","subnet":{"address":"185.44.252.0","billable":true,"gateway":"185.44.255.254","id":"sbnt_9FYjp2bT20hooq9u","mask":22,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-associations-y4gbjedkw8ld-web","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"C-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"starting","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fd61ec9ad6502667bd92ffd08fc16d6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_fpMM3cUJOIJqEyzS
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_YzSjqI0eirXRFZVw","name":"System
      Disk","size_in_gb":25,"wwn":"09706783cb4ff9db","state":"built","created_at":1788791915},"attach_on_boot":true,"boot":true,"state":"detached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"220b1390c515aa1cc38d96de72364a85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_YzSjqI0eirXRFZVw
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1788791915,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_YzSjqI0eirXRFZVw","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-18-04"},"number":1,"stable":true},"id":"dinst_h2lUD1ypkZj3kDdF"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":25,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"detached","virtual_machine":{"fqdn":"tf-acc-test-associations-y4gbjedkw8ld-web.terraform-acc-test.katapult.cloud","id":"vm_fpMM3cUJOIJqEyzS"}},"wwn":"09706783cb4ff9db"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abeb9a5fb2f5fb5bdb31d3dd5a3b7aa7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_fpMM3cUJOIJqEyzS
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_nzGqGxCfADRC132i","name":"Public
      Network on tf-acc-test-associations-y4gbjedkw8ld-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_KZzoEfq36DJnjoOm","address":"185.44.254.38","reverse_dns":"tf-acc-test-associations-y4gbjedkw8ld-web.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.254.38/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f93597bd3c97b754d81302fe29de49c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_nzGqGxCfADRC132i
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_nzGqGxCfADRC132i","virtual_machine":{"id":"vm_fpMM3cUJOIJqEyzS","name":"tf-acc-test-associations-y4gbjedkw8ld-web"},"name":"Public
      Network on tf-acc-test-associations-y4gbjedkw8ld-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8a:a8:d8:c6:71","state":"detached","ip_addresses":[{"id":"ip_KZzoEfq36DJnjoOm","address":"185.44.254.38"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4cbbdeb1c61b23966cec8314c80d517a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":["vm_fpMM3cUJOIJqEyzS"],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-associations-y4gbjedkw8ld"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_zaU9aNNqVCmfHvu2","name":"tf-acc-test-associations-y4gbjedkw8ld","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_fpMM3cUJOIJqEyzS"],"state":"pending","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e896af33e883d059d0bbc6450cf2f8a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_zaU9aNNqVCmfHvu2
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_zaU9aNNqVCmfHvu2","name":"tf-acc-test-associations-y4gbjedkw8ld","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_fpMM3cUJOIJqEyzS"],"state":"configuring","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c88b3aff13ce67020fd173d1803f9c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_Y7VB2bYRQ9vczflv
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_Y7VB2bYRQ9vczflv","name":"tf-acc-test-associations-y4gbjedkw8ld-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e572753df0d5638bb849b62c43b54df6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_KZzoEfq36DJnjoOm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_KZzoEfq36DJnjoOm","address":"185.44.254.38","reverse_dns":"tf-acc-test-associations-y4gbjedkw8ld-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.38/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_fpMM3cUJOIJqEyzS","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_fpMM3cUJOIJqEyzS","name":"tf-acc-test-associations-y4gbjedkw8ld-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64733990fb675ef3ad92c11a6e24115d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "856"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_Y7VB2bYRQ9vczflv"},"properties":{"associations":["vm_fpMM3cUJOIJqEyzS"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_Y7VB2bYRQ9vczflv","name":"tf-acc-test-associations-y4gbjedkw8ld-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_fpMM3cUJOIJqEyzS"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_Y7VB2bYRQ9vczflv","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae78e21906266dd86f1761b1201976d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "830"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_JyPBDIGzofRKxbDQ
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"185-199-222-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_97h4iW9GotktZKZ8","address":"185.199.222.0","gateway":"185.199.222.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b2bc067bd20faefb81457553174066d2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_9SNx0xIwyQyUgjRb
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_9SNx0xIwyQyUgjRb","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"per[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_51CtnXmAuHcYLFuu
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1788792012,"description":null,"fqdn":"tf-acc-test-associations-y4gbjedkw8ld-db.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-associations-y4gbjedkw8ld-db","i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_51CtnXmAuHcYLFuu
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_IUrIoz4utxjikHwU","name":"System
      Disk","size_in_gb":25,"wwn":"0c5d3ea37c69a7c7","state":"built","created_at":1788792012},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fb953cd14cef2b025d61f0e523e94a0f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_IUrIoz4utxjikHwU
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1788792012,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_IUrIoz4utxjikHwU","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_51CtnXmAuHcYLFuu
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_1iXBMoExIT65AYhz","name":"Public
      Network on tf-acc-test-associations-y4gbjedkw8ld-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"tf-acc-test-associations-y4gbjedkw8ld-db.terraform-acc-test.katapult.cloud","address_with_mask":"185.199.222.195/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42b0d395fe3b6c5f69208e5091bb2d13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_1iXBMoExIT65AYhz
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_1iXBMoExIT65AYhz","virtual_machine":{"id":"vm_51CtnXmAuHcYLFuu","name":"tf-acc-test-associations-y4gbjedkw8ld-db"},"name":"Public
      Network on tf-acc-test-associations-y4gbjedkw8ld-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:41:24:eb:51:8e","state":"attached","ip_addresses":[{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"635e35eb1f14f5d71fcad19321683034"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_fpMM3cUJOIJqEyzS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_U8JbZiNmPgxw5qj0","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8492bf01491af2f90f34111f21602280"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "902"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_zaU9aNNqVCmfHvu2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_RdUjcn4Ht2RKH4by","keep_until":1788964964,"object_id":"fsv_zaU9aNNqVCmfHvu2","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_zaU9aNNqVCmfHvu2","name":"tf-acc-test-associations-y4gbjedkw8ld","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_zaU9aNNqVCmfHvu2","size":0,"technology_generation":1,"atime_update":null,"nfs_root_squash":null,"nfs_all_squash":null,"nfs_anon_uid":null,"nfs_anon_gid":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f307f6d3780761c2b4647a3e9af4ad44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"trash_object":{"object_id":"fsv_zaU9aNNqVCmfHvu2"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_Smr1iz7YXmW2vtBB","name":"Purge items from trash","status":"pending","created_at":1788792164,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"40216fdfbc6e1d28974c0530ad35fc7c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_U8JbZiNmPgxw5qj0
    method: GET
  response:
    body: '{"task":{"id":"task_U8JbZiNmPgxw5qj0","name":"Stop virtual machine","status":"running","created_at":1788792164,"started_at":1788792165,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b36810964dc30f746ca592f456640787"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "898"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_48ndMXEHYbCK5D2j
    method: GET
  response:
    body: '{"task":{"id":"task_48ndMXEHYbCK5D2j","name":"Stop virtual machine","status":"running","created_at":1788792164,"started_at":1788792165,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"352f2fa1a97a36d1f198b863e8042ed8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "897"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_zaU9aNNqVCmfHvu2
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_RdUjcn4Ht2RKH4by","keep_until":1788964964,"object_id":"fsv_zaU9aNNqVCmfHvu2","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6d4ccc7114bb70634c7c64a9d5cc6bc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_Y7VB2bYRQ9vczflv
    method: GET
  response:
[...]
