---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-associations-E40KM2qjI9E5","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_nfdqQUrJBi9mgggc","name":"tf-acc-test-associations-E40KM2qjI9E5","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e5b9cad68b389d9d445ebd4fdf5f553"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_nfdqQUrJBi9mgggc
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_nfdqQUrJBi9mgggc","name":"tf-acc-test-associations-E40KM2qjI9E5","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"51a107b46dd8b3609f2d369a89f0957c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
