---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":[],"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-minimal-WEn3aHQtKKQf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_dVAFUDKnqjmyu5xA","name":"tf-acc-test-minimal-WEn3aHQtKKQf","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00c92b89313a79cc93774b356b0b148c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume?file_storage_volume%5Bid%5D=fsv_dVAFUDKnqjmyu5xA
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_dVAFUDKnqjmyu5xA","name":"tf-acc-test-minimal-WEn3aHQtKKQf","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9de423c249675d22114cdab22c9626d5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_dVAFUDKnqjmyu5xA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_U4JeKjS2AsqA0NrK","keep_until":1778092420,"object_id":"fsv_dVAFUDKnqjmyu5xA","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_dVAFUDKnqjmyu5xA","name":"tf-acc-test-minimal-WEn3aHQtKKQf","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_dVAFUDKnqjmyu5xA","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3dd367483f7bc0f424490b6c052d87d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_dVAFUDKnqjmyu5xA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_YWduvTC3WG5Tc223","name":"Purge items from trash","status":"pending","created_at":1777919620,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c83122659043001407d64be4e42fb0f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_dVAFUDKnqjmyu5xA
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_U4JeKjS2AsqA0NrK","keep_until":1778092420,"object_id":"fsv_dVAFUDKnqjmyu5xA","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"260b246e4937c610c43006c85c834512"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=fsv_dVAFUDKnqjmyu5xA
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
