---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-associations-bse7h8qiyqz9"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_WPOCXXZINAHuSEZ0","name":"tf-acc-test-associations-bse7h8qiyqz9","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99abf6a02dccbe140e91073d56202465"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_WPOCXXZINAHuSEZ0
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_WPOCXXZINAHuSEZ0","name":"tf-acc-test-associations-bse7h8qiyqz9","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4aed1d6f1f6f9c17d47ceab0c1848d75"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_XE5goNZDjPDMhtMm","address":"185.44.253.27","reverse_dns":"185-44-253-27.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.27/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2cf8a1a045e7b2de3aa7a3e2ab280377"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_XE5goNZDjPDMhtMm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_XE5goNZDjPDMhtMm","address":"185.44.253.27","reverse_dns":"185-44-253-27.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.27/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3ae04c65b4c32c4c4a98cb87a734bea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_XE5goNZDjPDMhtMm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_XE5goNZDjPDMhtMm","address":"185.44.253.27","reverse_dns":"185-44-253-27.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.27/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3ae04c65b4c32c4c4a98cb87a734bea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_XE5goNZDjPDMhtMm</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-associations-bse7h8qiyqz9-web</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_2rC3Sd5ogVMN1Odh","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_I56IQhbdIGFkDCp1","state":"pending"},"virtual_machine_build":{"id":"vmbuild_I56IQhbdIGFkDCp1","state":"pending"},"hostname":"tf-acc-test-associations-bse7h8qiyqz9-web"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b2f42d4077b47f53a0f08e53b458381f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_I56IQhbdIGFkDCp1
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_I56IQhbdIGFkDCp1","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.27</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-acc-test-associations-bse7h8qiyqz9-web</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1720463015}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"492bdae7bea7c72fd6d34b82f4e4e30e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_I56IQhbdIGFkDCp1
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_I56IQhbdIGFkDCp1","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.27</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-acc-test-associations-bse7h8qiyqz9-web</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_xYOOm0ANMtUBL0Hz","name":"tf-acc-test-associations-bse7h8qiyqz9-web","hostname":"tf-acc-test-associations-bse7h8qiyqz9-web","fqdn":"tf-acc-test-associations-bse7h8qiyqz9-web.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1720463015}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d9f938a6b37e55d09b7322f7b73f290"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_xYOOm0ANMtUBL0Hz
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_xYOOm0ANMtUBL0Hz","name":"tf-acc-test-associations-bse7h8qiyqz9-web","hostname":"tf-acc-test-associations-bse7h8qiyqz9-web","fqdn":"tf-acc-test-associations-bse7h8qiyqz9-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1720463017,"initial_root_password":"hTfPZGW4UcmSoJTR","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_XE5goNZDjPDMhtMm","address":"185.44.253.27","reverse_dns":"tf-acc-test-associations-bse7h8qiyqz9-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.27/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_xYOOm0ANMtUBL0Hz","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"88245629b75b49d4a33392b1893bb562"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_xYOOm0ANMtUBL0Hz
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Q7O1SeITElvQZTHJ","name":"Public
      Network on tf-acc-test-associations-bse7h8qiyqz9-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_XE5goNZDjPDMhtMm","address":"185.44.253.27"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dfaccd7d5d96f824ea4d5309978137ca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Q7O1SeITElvQZTHJ
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Q7O1SeITElvQZTHJ","virtual_machine":{"id":"vm_xYOOm0ANMtUBL0Hz","name":"tf-acc-test-associations-bse7h8qiyqz9-web"},"name":"Public
      Network on tf-acc-test-associations-bse7h8qiyqz9-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:77:d3:8b:dc:58","state":"attached","ip_addresses":[{"id":"ip_XE5goNZDjPDMhtMm","address":"185.44.253.27"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bfd7264f659b015e3544e3838acc31be"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"file_storage_volume":{"id":"fsv_WPOCXXZINAHuSEZ0"},"properties":{"associations":["vm_xYOOm0ANMtUBL0Hz"]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_WPOCXXZINAHuSEZ0","name":"tf-acc-test-associations-bse7h8qiyqz9","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_xYOOm0ANMtUBL0Hz"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_WPOCXXZINAHuSEZ0","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"275c17c5e1dffdae8a5b804987e20980"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_QNB2fLsohTRTo7pV
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_QNB2fLsohTRTo7pV","name":"tf-acc-test-associations-bse7h8qiyqz9-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_xYOOm0ANMtUBL0Hz"],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5706cd872c63c605a0f183c6f3759c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_XE5goNZDjPDMhtMm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_XE5goNZDjPDMhtMm","address":"185.44.253.27","reverse_dns":"tf-acc-test-associations-bse7h8qiyqz9-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.27/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_xYOOm0ANMtUBL0Hz","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_xYOOm0ANMtUBL0Hz","name":"tf-acc-test-associations-bse7h8qiyqz9-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2aac43474011c1e9825025fe2ae5cd12"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_AgU6sjBn5U7NuDXY
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_AgU6sjBn5U7NuDXY","address":"185.44.254.116","reverse_dns":"185-44-254-116.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.116/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3f2c66e4e6867f0e0fc175cf88acc4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_AgU6sjBn5U7NuDXY
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_AgU6sjBn5U7NuDXY","address":"185.44.254.116","reverse_dns":"185-44-254-116.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.116/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3f2c66e4e6867f0e0fc175cf88acc4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_vU57IwBApnI19ADB
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_vU57IwBApnI19ADB","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTempl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_26tiSJpt15iMW7ut
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_26tiSJpt15iMW7ut","name":"tf-acc-test-associations-bse7h8qiyqz9-db","hostname":"tf-acc-test-associations-bse7h8qiyqz9-db","fqdn":"tf-acc-test-associations-bse7h8qiyqz9-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1720463072,"initial_root_password":"xrPJ[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_26tiSJpt15iMW7ut
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_dvWiR5V0Vk90avo8","name":"Public
      Network on tf-acc-test-associations-bse7h8qiyqz9-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_AgU6sjBn5U7NuDXY","address":"185.44.254.116"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f3a1a8c6202e34a48fb09f73b9247e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_dvWiR5V0Vk90avo8
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_dvWiR5V0Vk90avo8","virtual_machine":{"id":"vm_26tiSJpt15iMW7ut","name":"tf-acc-test-associations-bse7h8qiyqz9-db"},"name":"Public
      Network on tf-acc-test-associations-bse7h8qiyqz9-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:80:91:36:96:82","state":"attached","ip_addresses":[{"id":"ip_AgU6sjBn5U7NuDXY","address":"185.44.254.116"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"47f450514d4f3664ff8bb907e5dc78d0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_26tiSJpt15iMW7ut
    method: POST
  response:
    body: '{"task":{"id":"task_EMwLan1m7soamRyf","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e0a44c97fb8d1d556a60915438551f3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_EMwLan1m7soamRyf
    method: GET
  response:
    body: '{"task":{"id":"task_EMwLan1m7soamRyf","name":"Stop virtual machine","status":"running","created_at":1720463127,"started_at":1720463128,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"945d16db0c2ad7e154606a7d9879b2ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_26tiSJpt15iMW7ut
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_UMTd8OF41ZD3rEMq","keep_until":1720635934,"object_id":"vm_26tiSJpt15iMW7ut","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_26tiSJpt15iMW7ut","name":"tf-acc-test-associations-bse7h8qiyqz9-db","hostname":"tf-acc-test-associations-bse7h8qiyqz9-db","fqdn":"tf-acc-test-associations-bse7h8qiyqz9-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1720463072,"initial_root_password":"xrPJBHfmRe7U37T3","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permali[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_AgU6sjBn5U7NuDXY
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_26tiSJpt15iMW7ut
    method: DELETE
  response:
    body: '{"task":{"id":"task_5wlPA0t3MRXW26R1","name":"Purge items from trash","status":"pending","created_at":1720463135,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a569b185eb9e5cbcd9e6df1e262c818"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_26tiSJpt15iMW7ut
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_AgU6sjBn5U7NuDXY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_xYOOm0ANMtUBL0Hz
    method: POST
  response:
    body: '{"task":{"id":"task_gsHTT9c7rrEG8y04","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"692355df1fd63bab8f1b03a70e2508d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_gsHTT9c7rrEG8y04
    method: GET
  response:
    body: '{"task":{"id":"task_gsHTT9c7rrEG8y04","name":"Stop virtual machine","status":"running","created_at":1720463161,"started_at":1720463162,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e8384330bc8247fda7cda8273f8f14d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_XE5goNZDjPDMhtMm
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_xYOOm0ANMtUBL0Hz
    method: DELETE
  response:
    body: '{"task":{"id":"task_cXZ3iMLzRQR9I6Lm","name":"Purge items from trash","status":"pending","created_at":1720463169,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae746c440da88679ce84b4d809beb05d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"trash_object":{"object_id":"fsv_QNB2fLsohTRTo7pV"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_ecsRucRm152gOFCQ","name":"Purge items from trash","status":"pending","created_at":1720463183,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a2413f1aeda3aef5bd463a3fbab2ec68"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
[...]
