---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-Baj7MDRigaqv","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_7zfZrqzYOcNTuT0N","name":"tf-acc-test-minimal-Baj7MDRigaqv","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"269ea505250d4fb01c2d496202b40b30"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_7zfZrqzYOcNTuT0N
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_7zfZrqzYOcNTuT0N","name":"tf-acc-test-minimal-Baj7MDRigaqv","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9eb7a69d90dfbc8227ac2c66f31b4f05"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_7zfZrqzYOcNTuT0N
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_wYOpjCPdT7zhiHQb","keep_until":1704895155,"object_id":"fsv_7zfZrqzYOcNTuT0N","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_7zfZrqzYOcNTuT0N","name":"tf-acc-test-minimal-Baj7MDRigaqv","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_7zfZrqzYOcNTuT0N","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a67efee91e26a7adcd164a44d8831b81"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_7zfZrqzYOcNTuT0N
    method: DELETE
  response:
    body: '{"task":{"id":"task_Tc3FIqeEUFGXkeQh","name":"Purge items from trash","status":"pending","created_at":1704722355,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"417d006fed60f00d11cbe6c445bbcd7a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_7zfZrqzYOcNTuT0N
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
