---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"associations":null,"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-update-name-HTzY6Zzn6n6N"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_MhHLD4mACbr0vWb0","name":"tf-acc-test-update-name-HTzY6Zzn6n6N","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f83573c6b0b67b550a07e54d23d256d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume?file_storage_volume%5Bid%5D=fsv_MhHLD4mACbr0vWb0
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_MhHLD4mACbr0vWb0","name":"tf-acc-test-update-name-HTzY6Zzn6n6N","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"282bbe84f22bdbec0bd3938a5384139a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_MhHLD4mACbr0vWb0"},"properties":{"name":"tf-acc-test-update-name-HTzY6Zzn6n6N-foobar"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_MhHLD4mACbr0vWb0","name":"tf-acc-test-update-name-HTzY6Zzn6n6N-foobar","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_MhHLD4mACbr0vWb0","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a74df3879c8af6ade79113d7cd98812b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"file_storage_volume":{"id":"fsv_MhHLD4mACbr0vWb0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/:file_storage_volume
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_lI57M3fKVTZXBgxh","keep_until":1720635516,"object_id":"fsv_MhHLD4mACbr0vWb0","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_MhHLD4mACbr0vWb0","name":"tf-acc-test-update-name-HTzY6Zzn6n6N-foobar","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_MhHLD4mACbr0vWb0","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df23a0d9a4d03a5df6d56d3ebd79257a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"object_id":"fsv_MhHLD4mACbr0vWb0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_0s3zaIICjkAjnbnn","name":"Purge items from trash","status":"pending","created_at":1720462716,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f1d66515abf97fbdde2792e957c4d31"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_MhHLD4mACbr0vWb0
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_lI57M3fKVTZXBgxh","keep_until":1720635516,"object_id":"fsv_MhHLD4mACbr0vWb0","object_type":"FileStorageVolume"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed69725eee93c3f30d75e7887efd003d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/:trash_object?trash_object%5Bobject_id%5D=fsv_MhHLD4mACbr0vWb0
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
