---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_fi0ZTsRBk0GxQNgE","address":"77.72.7.109","reverse_dns":"77-72-7-109.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.109/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cfedbd7988facb047b13bd6a2a5f7416"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_fi0ZTsRBk0GxQNgE
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fi0ZTsRBk0GxQNgE","address":"77.72.7.109","reverse_dns":"77-72-7-109.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.109/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bcae199af840ee344794331cafc5b609"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "155"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_fi0ZTsRBk0GxQNgE"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "147"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_fi0ZTsRBk0GxQNgE
    method: GET
  response:
    body: '{"error":{"code":"ip_address_not_found","description":"No IP addresses
      were found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "146"
    status: 404 Not Found
    code: 404
    duration: ""
