---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"label":"tf-acc-test-vip-Mkfi03vyLiKm","network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4","vip":true}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_TE2T1p1a6olFP0IK","address":"77.72.7.131","reverse_dns":"77-72-7-131.rdns.katapult.io","vip":true,"label":"tf-acc-test-vip-Mkfi03vyLiKm","address_with_mask":"77.72.7.131/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3bb0af4909d7f2c1549564d41a60ab0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_TE2T1p1a6olFP0IK
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_TE2T1p1a6olFP0IK","address":"77.72.7.131","reverse_dns":"77-72-7-131.rdns.katapult.io","vip":true,"label":"tf-acc-test-vip-Mkfi03vyLiKm","address_with_mask":"77.72.7.131/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"726934df435b9fa49cd303ce3e49d1ad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_TE2T1p1a6olFP0IK
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_TE2T1p1a6olFP0IK","address":"77.72.7.131","reverse_dns":"77-72-7-131.rdns.katapult.io","vip":true,"label":"tf-acc-test-vip-Mkfi03vyLiKm","address_with_mask":"77.72.7.131/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"726934df435b9fa49cd303ce3e49d1ad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_TE2T1p1a6olFP0IK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_TE2T1p1a6olFP0IK
    method: GET
  response:
    body: '{"error":{"code":"ip_address_not_found","description":"No IP addresses
      were found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 404 Not Found
    code: 404
    duration: ""
