---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2f4VA5KNP8nx6SZS","name":"web","segregate":true,"auto_segregate":false,"created_at":1777915719}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"458c68314ffbebbf67b90e6cf063620d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_2f4VA5KNP8nx6SZS
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2f4VA5KNP8nx6SZS","name":"web","segregate":true,"auto_segregate":false,"created_at":1777915719}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"458c68314ffbebbf67b90e6cf063620d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_3agiUgGm42Ujztj0","address":"185.44.252.158","reverse_dns":"185-44-252-158.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.158/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02b8b9095a43ebc27f463ca97f6cf4a1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_3agiUgGm42Ujztj0
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3agiUgGm42Ujztj0","address":"185.44.252.158","reverse_dns":"185-44-252-158.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.158/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bf2dfc7ba089b758368d1cb15cc86145"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-22-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_3agiUgGm42Ujztj0\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-witty-clever-van\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003cTags\u003e\u003cTag\u003eweb\u003c/Tag\u003e\u003c/Tags\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_afiD8n8JspJ8AI13","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_ZQFQH0FCwviGlMHD","state":"pending"},"virtual_machine_build":{"id":"vmbuild_ZQFQH0FCwviGlMHD","state":"pending"},"hostname":"tf-acc-test-witty-clever-van","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89f62d02c9d359b82305abb74706f70a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_ZQFQH0FCwviGlMHD
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_ZQFQH0FCwviGlMHD","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-22-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.158\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-witty-clever-van\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n  \u003cTags\u003e\n    \u003cTag\u003eweb\u003c/Tag\u003e\n  \u003c/Tags\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1777915720},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b0551915c19b27fcbdb497121b611e17"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"tag_names":["web"]},"virtual_machine":{"id":"vm_S4tjRHlpdK5X2dl5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_S4tjRHlpdK5X2dl5","name":"tf-acc-test-witty-clever-van","hostname":"tf-acc-test-witty-clever-van","fqdn":"tf-acc-test-witty-clever-van.terraform-acc-test.katapult.cloud","description":null,"created_at":1777915729,"initial_root_password":"qz9XLKjqDc7lbhga","state":"allocating","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329}],"tag_names":["web"],"ip_addresses":[{"id":"ip_3agiUgGm42Ujztj0","address":"185.44.252.158","reverse_dns":"tf-acc-test-witty-clever-van.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.158/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_S4tjRHlpdK5X2dl5","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"37fa8d84f6b8e85b220bd4c117127937"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_S4tjRHlpdK5X2dl5
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_S4tjRHlpdK5X2dl5","name":"tf-acc-test-witty-clever-van","hostname":"tf-acc-test-witty-clever-van","fqdn":"tf-acc-test-witty-clever-van.terraform-acc-test.katapult.cloud","description":null,"created_at":1777915729,"initial_root_password":"qz9XLKjqDc7lbhga","state":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_S4tjRHlpdK5X2dl5
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_W33R6Mv3F2mg0Bdi","name":"Public
      Network on tf-acc-test-witty-clever-van","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_3agiUgGm42Ujztj0","address":"185.44.252.158","reverse_dns":"tf-acc-test-witty-clever-van.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.158/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92be70149ac50311a2d818a3fe322543"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "870"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_W33R6Mv3F2mg0Bdi
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_W33R6Mv3F2mg0Bdi","virtual_machine":{"id":"vm_S4tjRHlpdK5X2dl5","name":"tf-acc-test-witty-clever-van"},"name":"Public
      Network on tf-acc-test-witty-clever-van","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:b5:58:dd:98:13","state":"attached","ip_addresses":[{"id":"ip_3agiUgGm42Ujztj0","address":"185.44.252.158"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e99686656bc76dc6ef64190a533ebeb5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "868"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-resource-type-change-n28gXekF3bwh","resource_ids":["vm_S4tjRHlpdK5X2dl5"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_rptoy842jv235RK1","name":"tf-acc-test-resource-type-change-n28gXekF3bwh","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_S4tjRHlpdK5X2dl5","name":"tf-acc-test-witty-clever-van","hostname":"tf-acc-test-witty-clever-van","fqdn":"tf-acc-test-witty-clever-van.terraform-acc-test.katapult.cloud","description":null,"created_at":1777915729,"initial_root_password":"qz9XLKjqDc7lbhga","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
 [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_rptoy842jv235RK1
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_rptoy842jv235RK1","name":"tf-acc-test-resource-type-change-n28gXekF3bwh","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_S4tjRHlpdK5X2dl5","name":"tf-acc-test-witty-clever-van","hostname":"tf-acc-test-witty-c[...]
[...]
- request:
    body: '{"load_balancer":{"id":"lb_rptoy842jv235RK1"},"properties":{"resource_ids":["vmgrp_2f4VA5KNP8nx6SZS"],"resource_type":"virtual_machine_groups"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_rptoy842jv235RK1","name":"tf-acc-test-resource-type-change-n28gXekF3bwh","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_2f4VA5KNP8nx6SZS","name":"web","segregate":true,"auto_segregate":false,"created_at":1777915719}}],"resource_ids":["vmgrp_2f4VA5KNP8nx6SZS"],"ip_address":{"id":"ip_K4kjSAFB3yvPvnsd","address":"185.44.253.62"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfcnB0b3k4NDJqdjIzNVJLMS5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjYw\nNTA0MTcyOTU4WhgPMjA3NjA1MDQxNzI5NThaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9ycHRveTg0Mmp2MjM1UksxLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_2f4VA5KNP8nx6SZS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2f4VA5KNP8nx6SZS","name":"web","segregate":true,"auto_segregate":false,"created_at":1777915719}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"458c68314ffbebbf67b90e6cf063620d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_S4tjRHlpdK5X2dl5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_DJgoTAd30cTT9PBQ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ec00759b8d23d0e6f41c1ea5114c4fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_DJgoTAd30cTT9PBQ
    method: GET
  response:
    body: '{"task":{"id":"task_DJgoTAd30cTT9PBQ","name":"Stop virtual machine","status":"running","created_at":1777915802,"started_at":1777915802,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"605d0ef7a1cbd6b130d19b5370000b5f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_S4tjRHlpdK5X2dl5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_gGSFnRGNWtAJNGV4","keep_until":1778088609,"object_id":"vm_S4tjRHlpdK5X2dl5","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_S4tjRHlpdK5X2dl5","name":"tf-acc-test-witty-clever-van","hostname":"tf-acc-test-witty-clever-van","fqdn":"tf-acc-test-witty-clever-van.terraform-acc-test.katapult.cloud","description":null,"created_at":1777915729,"initial_root_password":"qz9XLKjqDc7lbhga","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctr[...]
- request:
    body: '{"ip_address":{"id":"ip_3agiUgGm42Ujztj0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "926"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_gGSFnRGNWtAJNGV4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_PihtrW8z0DI1cGOq","name":"Purge items from trash","status":"pending","created_at":1777915810,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1400ed918a1f45827430708c9f7f94f8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_gGSFnRGNWtAJNGV4
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_gGSFnRGNWtAJNGV4","keep_until":1778088609,"object_id":"vm_S4tjRHlpdK5X2dl5","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7513a99436885d2a50792f004fa134c4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "921"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_gGSFnRGNWtAJNGV4
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "897"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_3agiUgGm42Ujztj0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "896"
    status: 200 OK
    code: 200
    duration: ""
[...]
