---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_onuxHn6avgdMye6C","name":"web","segregate":true,"auto_segregate":false,"created_at":1718792076}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dce76369b4cfcb3c559ef1f8d7d116fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_onuxHn6avgdMye6C
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_onuxHn6avgdMye6C","name":"web","segregate":true,"auto_segregate":false,"created_at":1718792076}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dce76369b4cfcb3c559ef1f8d7d116fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"185-199-222-149.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e169e924e7d7b02f396f8098151191b0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_tCKFoNSN2b9rosEo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"185-199-222-149.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_m1dx4cL0VZEIPpP5","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49058c55cd47a5355941e8a47c73f718"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_tCKFoNSN2b9rosEo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"185-199-222-149.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49058c55cd47a5355941e8a47c73f718"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_tCKFoNSN2b9rosEo</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-cooing-icy-woodpecker</Hostname></Hostname><Group>vmgrp_onuxHn6avgdMye6C</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_FqdN0B9aArZh5jeq","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_qjIIEZhMLg3cJ6xP","state":"pending"},"virtual_machine_build":{"id":"vmbuild_qjIIEZhMLg3cJ6xP","state":"pending"},"hostname":"tf-cooing-icy-woodpecker"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5e19f38f4b9cc824430b636dda1fa5f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_qjIIEZhMLg3cJ6xP
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_qjIIEZhMLg3cJ6xP","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.199.222.149</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-cooing-icy-woodpecker</Hostname>\n  </Hostname>\n  <Group>vmgrp_onuxHn6avgdMye6C</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1718792076}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3f3d0b8aec600d5199e89d315e71ccf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vm-group-sVbPLm8FwJv6","resource_type":"virtual_machine_groups","resource_ids":["vmgrp_onuxHn6avgdMye6C"],"https_redirect":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_MsunyBBfq27S98sU","name":"tf-acc-test-vm-group-sVbPLm8FwJv6","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_onuxHn6avgdMye6C","name":"web","segregate":true,"auto_segregate":false,"created_at":1718792076}}],"resource_ids":["vmgrp_onuxHn6avgdMye6C"],"ip_address":{"id":"ip_gp4pUsuYcLTVS6Qb","address":"185.44.252.96"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfTXN1bnlCQmZxMjdTOThzVS5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjE5MTAxNDQyWhgPMjA3NDA2MTkxMDE0NDJaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9Nc3VueUJCZnEyN1M5OHNVLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_MsunyBBfq27S98sU
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_MsunyBBfq27S98sU","name":"tf-acc-test-vm-group-sVbPLm8FwJv6","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_onuxHn6avgdMye6C","name":"web","segregate":true,"auto_segregate":false,"created_at":1718792076}}][...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_qjIIEZhMLg3cJ6xP
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_qjIIEZhMLg3cJ6xP","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.199.222.149</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-cooing-icy-woodpecker</Hostname>\n  </Hostname>\n  <Group>vmgrp_onuxHn6avgdMye6C</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_hvAbluh9zg31Wn3w","name":"tf-cooing-icy-woodpecker","hostname":"tf-cooing-icy-woodpecker","fqdn":"tf-cooing-icy-woodpecker.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1718792076}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a686c28ce59b19e8f84fda66554a9de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_hvAbluh9zg31Wn3w
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_hvAbluh9zg31Wn3w","name":"tf-cooing-icy-woodpecker","hostname":"tf-cooing-icy-woodpecker","fqdn":"tf-cooing-icy-woodpecker.terraform-acc-test.katapult.cloud","description":null,"created_at":1718792079,"initial_root_password":"xbdDaRbAWS7JfBqH","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_onuxHn6avgdMye6C","name":"web","segregate":true,"auto_segregate":false,"created_at":1718792076},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"tf-cooing-icy-woodpecker.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_hvAbluh9zg31Wn3w","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7dede9c33b158dda40e06f5dcc929aad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_hvAbluh9zg31Wn3w
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_OJs91KKJ5zvJlJIv","name":"Public
      Network on tf-cooing-icy-woodpecker","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a9d870fb12330bdf0bcd4b79bae4954"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_OJs91KKJ5zvJlJIv
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_OJs91KKJ5zvJlJIv","virtual_machine":{"id":"vm_hvAbluh9zg31Wn3w","name":"tf-cooing-icy-woodpecker"},"name":"Public
      Network on tf-cooing-icy-woodpecker","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:f4:3f:a8:22:9b","state":"attached","ip_addresses":[{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33a6748dc7a2b63232905aa1eb578ff1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_hvAbluh9zg31Wn3w
    method: POST
  response:
    body: '{"task":{"id":"task_jMnEHFIqv4afXUVZ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26ce1027471c3158c1d3321beb3d9a6d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_jMnEHFIqv4afXUVZ
    method: GET
  response:
    body: '{"task":{"id":"task_jMnEHFIqv4afXUVZ","name":"Stop virtual machine","status":"pending","created_at":1718792103,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3265562db2bf75ac21286e48fcd8fba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_hvAbluh9zg31Wn3w
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_mc2PzBdcnLKL7fjC","keep_until":1718964931,"object_id":"vm_hvAbluh9zg31Wn3w","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_hvAbluh9zg31Wn3w","name":"tf-cooing-icy-woodpecker","hostname":"tf-cooing-icy-woodpecker","fqdn":"tf-cooing-icy-woodpecker.terraform-acc-test.katapult.cloud","description":null,"created_at":1718792079,"initial_root_password":"xbdDaRbAWS7JfBqH","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugv[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_tCKFoNSN2b9rosEo
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_hvAbluh9zg31Wn3w
    method: DELETE
  response:
    body: '{"task":{"id":"task_3B5nlDw3YsmFWQ1V","name":"Purge items from trash","status":"pending","created_at":1718792131,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"37595e12c9cdcc9c5a89a1f2a491c7a1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_hvAbluh9zg31Wn3w
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_liVaPQ9oonXcs7EM"}}'
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_onuxHn6avgdMye6C
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_onuxHn6avgdMye6C","name":"web","segregate":true,"auto_segregate":false,"created_at":1718792076}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dce76369b4cfcb3c559ef1f8d7d116fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
