---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-basicWithRules-5vdCBI70wHfR","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_bgruTN1Jrq10m5MT","name":"tf-acc-test-basicWithRules-5vdCBI70wHfR","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_KGR3kDK4nuOgvy4V","address":"77.72.7.71"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfYmdydVROMUpycTEwbTVNVC5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nMzIxMTMzODU0WhgPMjA3NDAzMjExMzM4NTRaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9iZ3J1VE4xSnJxMTBtNU1ULmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: |
      {"properties":{"algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"backend_ssl":false,"passthrough_ssl":false,"certificates":[],"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/lb_bgruTN1Jrq10m5MT/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_0VrP4yuf11ftVLzn","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_bgruTN1Jrq10m5MT","name":"tf-acc-test-basicWithRules-5vdCBI70wHfR"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54a7c7dfefc1d0a27cbbeb01de9eb9ed"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_bgruTN1Jrq10m5MT
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_bgruTN1Jrq10m5MT","name":"tf-acc-test-basicWithRules-5vdCBI70wHfR","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_KGR3kDK4nuOgvy4V","address":"77.72.7.71"},"https_redirect":false,"backend_certificate":"-----BEGIN
      [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_/rules?load_balancer%5Bid%5D=lb_bgruTN1Jrq10m5MT&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"load_balancer_rules":[{"id":"lbrule_0VrP4yuf11ftVLzn","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","certificates":[],"check_enabled":false},{"id":"lbrule_RhB7tlbmBzNIHIx5","algorithm":"round_robin","destination_port":8443,"listen_port":443,"protocol":"HTTPS","certificates":[],"check_enabled":false}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e001f811c9f4c5ade0681a1e4d068c32"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/rules/_?load_balancer_rule%5Bid%5D=lbrule_0VrP4yuf11ftVLzn
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_0VrP4yuf11ftVLzn","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_bgruTN1Jrq10m5MT","name":"tf-acc-test-basicWithRules-5vdCBI70wHfR"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54a7c7dfefc1d0a27cbbeb01de9eb9ed"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/rules/_?load_balancer_rule%5Bid%5D=lbrule_RhB7tlbmBzNIHIx5
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_RhB7tlbmBzNIHIx5","algorithm":"round_robin","destination_port":8443,"listen_port":443,"protocol":"HTTPS","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":true,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_bgruTN1Jrq10m5MT","name":"tf-acc-test-basicWithRules-5vdCBI70wHfR"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"52daa0bb6f6645ad717927bfb0407ba3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_bgruTN1Jrq10m5MT
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "168"
    status: 404 Not Found
    code: 404
    duration: ""
