---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"185-44-253-145.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0ad1a07b920c51f43d28acc0e5808398"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_2SfId867ZYhs8OSr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"185-44-253-145.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26856f01a086a305ef8e839391a4508b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_2SfId867ZYhs8OSr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"185-44-253-145.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26856f01a086a305ef8e839391a4508b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_2SfId867ZYhs8OSr</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-careful-resonant-swan</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_7TzkBIGEPEZo3lWD","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_rcHJmIl6HxmJCFx2","state":"pending"},"virtual_machine_build":{"id":"vmbuild_rcHJmIl6HxmJCFx2","state":"pending"},"hostname":"tf-careful-resonant-swan","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7b669313243d9570cbbc66bb70f0d57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "922"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_rcHJmIl6HxmJCFx2
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_rcHJmIl6HxmJCFx2","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-22-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.145\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-careful-resonant-swan\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738863465},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"751a2de4bf35a1694de65c9243ee29c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_4YIRpjLSwOyFQYWQ
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_4YIRpjLSwOyFQYWQ","name":"tf-careful-resonant-swan","hostname":"tf-careful-resonant-swan","fqdn":"tf-careful-resonant-swan.terraform-acc-test.katapult.cloud","description":null,"created_at":1738863474,"initial_root_password":"zWx4lB3i9vgnBFpI","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145","reverse_dns":"tf-careful-resonant-swan.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.145/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_4YIRpjLSwOyFQYWQ","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b47c4c9efdea7a506dbd2c27237b6810"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_4YIRpjLSwOyFQYWQ
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_xgLewL5DsePoEyju","name":"Public
      Network on tf-careful-resonant-swan","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a49709208d9c79843d031a40ba907e6d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_xgLewL5DsePoEyju
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_xgLewL5DsePoEyju","virtual_machine":{"id":"vm_4YIRpjLSwOyFQYWQ","name":"tf-careful-resonant-swan"},"name":"Public
      Network on tf-careful-resonant-swan","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:ce:4c:5b:6b:ff","state":"attached","ip_addresses":[{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6db05fe11596b2021c580fbe3aaf84bc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_xgLewL5DsePoEyju
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_xgLewL5DsePoEyju","virtual_machine":{"id":"vm_4YIRpjLSwOyFQYWQ","name":"tf-careful-resonant-swan"},"name":"Public
      Network on tf-careful-resonant-swan","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:ce:4c:5b:6b:ff","state":"attached","ip_addresses":[{"id":"ip_2SfId867ZYhs8OSr","address":"185.44.253.145"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6db05fe11596b2021c580fbe3aaf84bc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "938"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-vms-update-e86wUNCgQvF4","resource_ids":["vm_4YIRpjLSwOyFQYWQ"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_tuVWgQC14K7wcEkO","name":"tf-acc-test-vms-update-e86wUNCgQvF4","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_4YIRpjLSwOyFQYWQ","name":"tf-careful-resonant-swan","hostname":"tf-careful-resonant-swan","fqdn":"tf-careful-resonant-swan.terraform-acc-test.katapult.cloud","description":null,"created_at":1738863474,"initial_root_password":"zWx4lB3i9vgnBFpI","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_tuVWgQC14K7wcEkO
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_tuVWgQC14K7wcEkO","name":"tf-acc-test-vms-update-e86wUNCgQvF4","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_4YIRpjLSwOyFQYWQ","name":"tf-careful-resonant-swan","hostname":"tf-careful-resonant-swan","fqdn":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_VY1yFEi3yDSPQG6i
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231","reverse_dns":"185-44-252-231.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.231/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7bb9a8eee5f97e1526185c41fc94db1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_VY1yFEi3yDSPQG6i
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231","reverse_dns":"185-44-252-231.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.231/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7bb9a8eee5f97e1526185c41fc94db1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_MydGDDFC2B6tB884
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_MydGDDFC2B6tB884","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_dwioBSDpMRbpwXlw
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_dwioBSDpMRbpwXlw","name":"tf-odd-hissing-zinc","hostname":"tf-odd-hissing-zinc","fqdn":"tf-odd-hissing-zinc.terraform-acc-test.katapult.cloud","description":null,"created_at":1738863515,"initial_root_password":"20KuXwlefMxkWLUP","state":"started","zone":{"id":"zone_SIfjBnlL8Qox[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_dwioBSDpMRbpwXlw
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Z9lzxfQcLid5XztI","name":"Public
      Network on tf-odd-hissing-zinc","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fe1cd598f8e5cb20933f2ab51b46db32"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "856"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_Z9lzxfQcLid5XztI
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Z9lzxfQcLid5XztI","virtual_machine":{"id":"vm_dwioBSDpMRbpwXlw","name":"tf-odd-hissing-zinc"},"name":"Public
      Network on tf-odd-hissing-zinc","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:1b:fd:b1:1a:b8","state":"detached","ip_addresses":[{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eae8d55da522c2ea96f36a6ae3e27483"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "855"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Z9lzxfQcLid5XztI
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Z9lzxfQcLid5XztI","virtual_machine":{"id":"vm_dwioBSDpMRbpwXlw","name":"tf-odd-hissing-zinc"},"name":"Public
      Network on tf-odd-hissing-zinc","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:1b:fd:b1:1a:b8","state":"detached","ip_addresses":[{"id":"ip_VY1yFEi3yDSPQG6i","address":"185.44.252.231"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eae8d55da522c2ea96f36a6ae3e27483"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "854"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"load_balancer":{"id":"lb_tuVWgQC14K7wcEkO"},"properties":{"resource_ids":["vm_4YIRpjLSwOyFQYWQ","vm_dwioBSDpMRbpwXlw"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_tuVWgQC14K7wcEkO","name":"tf-acc-test-vms-update-e86wUNCgQvF4","api_reference":null,"resource_type":"virtual_m[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_dwioBSDpMRbpwXlw
    method: POST
  response:
    body: '{"task":{"id":"task_OyeJu0cEslimQiIr","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e77e3b6e6501323f17bdf19356b2485f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_4YIRpjLSwOyFQYWQ
    method: POST
  response:
    body: '{"task":{"id":"task_qUxGsrgEhDNFY5vS","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba1af0f620707bc12a04c96b3debd064"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_OyeJu0cEslimQiIr
    method: GET
  response:
    body: '{"task":{"id":"task_OyeJu0cEslimQiIr","name":"Stop virtual machine","status":"pending","created_at":1738863541,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9b08afa3d739b6b38d0df5cc7ecce3df"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_qUxGsrgEhDNFY5vS
    method: GET
  response:
    body: '{"task":{"id":"task_qUxGsrgEhDNFY5vS","name":"Stop virtual machine","status":"running","created_at":1738863541,"started_at":1738863542,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b4d8a931f7369332521b4da25fcc5126"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_4YIRpjLSwOyFQYWQ
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_BXakxyiY66oxF6f2","keep_until":1739036348,"object_id":"vm_4YIRpjLSwOyFQYWQ","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_4YIRpjLSwOyFQYWQ","name":"tf-careful-resonant-swan","hostname":"tf-careful-resonant-swan","fqdn":"tf-careful-resonant-swan.terraform-acc-test.katapult.cloud","description":null,"created_at":1738863474,"initial_root_password":"zWx4lB3i9vgnBFpI","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugv[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_2SfId867ZYhs8OSr
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_4YIRpjLSwOyFQYWQ
    method: DELETE
  response:
    body: '{"task":{"id":"task_z5X47U8Br5Ci6tsU","name":"Purge items from trash","status":"pending","created_at":1738863549,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b4f4830b888103bd6cc07c2b199650c1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_VY1yFEi3yDSPQG6i
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_dwioBSDpMRbpwXlw
    method: DELETE
  response:
    body: '{"task":{"id":"task_d5KfBo2qFqvy1ZOy","name":"Purge items from trash","status":"pending","created_at":1738863569,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"78772f68c89f6eac64ee305718fdf97b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_4YIRpjLSwOyFQYWQ
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_2SfId867ZYhs8OSr"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
