---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_y7BDCSI9d9CfFVju","name":"web","segregate":true,"auto_segregate":false,"created_at":1718798279}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28e4d056bff2f1c81028a5b9448eb012"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_y7BDCSI9d9CfFVju
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_y7BDCSI9d9CfFVju","name":"web","segregate":true,"auto_segregate":false,"created_at":1718798279}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28e4d056bff2f1c81028a5b9448eb012"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"185-199-222-149.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e169e924e7d7b02f396f8098151191b0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_tCKFoNSN2b9rosEo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"185-199-222-149.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49058c55cd47a5355941e8a47c73f718"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_tCKFoNSN2b9rosEo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"185-199-222-149.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49058c55cd47a5355941e8a47c73f718"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_tCKFoNSN2b9rosEo</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-prompt-savory-car</Hostname></Hostname><Group>vmgrp_y7BDCSI9d9CfFVju</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_ubvp1NcwyK0Qs3Iv","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_8dMGc9YrWsdgdgFX","state":"pending"},"virtual_machine_build":{"id":"vmbuild_8dMGc9YrWsdgdgFX","state":"pending"},"hostname":"tf-prompt-savory-car"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"112221f344deb0f17d99037d2f9c8beb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_8dMGc9YrWsdgdgFX
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_8dMGc9YrWsdgdgFX","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.199.222.149</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-prompt-savory-car</Hostname>\n  </Hostname>\n  <Group>vmgrp_y7BDCSI9d9CfFVju</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1718798280}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0af558cac8b3b1335acc1bcee3a814d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-vm-group-HOxOutDSkceT","resource_ids":["vmgrp_y7BDCSI9d9CfFVju"],"resource_type":"virtual_machine_groups"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_hS1eTKKnDXxMVGYS","name":"tf-acc-test-vm-group-HOxOutDSkceT","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_y7BDCSI9d9CfFVju","name":"web","segregate":true,"auto_segregate":false,"created_at":1718798279}}],"resource_ids":["vmgrp_y7BDCSI9d9CfFVju"],"ip_address":{"id":"ip_uYslfokfjyUFOxxd","address":"185.44.255.231"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfaFMxZVRLS25EWHhNVkdZUy5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjE5MTE1ODAxWhgPMjA3NDA2MTkxMTU4MDFaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9oUzFlVEtLbkRYeE1WR1lTLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer?load_balancer%5Bid%5D=lb_hS1eTKKnDXxMVGYS
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_hS1eTKKnDXxMVGYS","name":"tf-acc-test-vm-group-HOxOutDSkceT","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_y7BDCSI9d9CfFVju","name":"web","segregate":true,"auto_segregate":false,"created_at":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_8dMGc9YrWsdgdgFX
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_8dMGc9YrWsdgdgFX","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.199.222.149</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-prompt-savory-car</Hostname>\n  </Hostname>\n  <Group>vmgrp_y7BDCSI9d9CfFVju</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_ETiqdRiQQAZXyeDV","name":"tf-prompt-savory-car","hostname":"tf-prompt-savory-car","fqdn":"tf-prompt-savory-car.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1718798280}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"81d6ddf27307d91b81e363a083c86c57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ETiqdRiQQAZXyeDV
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_ETiqdRiQQAZXyeDV","name":"tf-prompt-savory-car","hostname":"tf-prompt-savory-car","fqdn":"tf-prompt-savory-car.terraform-acc-test.katapult.cloud","description":null,"created_at":1718798283,"initial_root_password":"8tLr9lHlHtDUelHK","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_y7BDCSI9d9CfFVju","name":"web","segregate":true,"auto_segregate":false,"created_at":1718798279},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149","reverse_dns":"tf-prompt-savory-car.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.149/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ETiqdRiQQAZXyeDV","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d97494d199f9f5e0c1462b8d270e2cf9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_ETiqdRiQQAZXyeDV
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_TgTYyWWkAJeRFIZF","name":"Public
      Network on tf-prompt-savory-car","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"744aa5964c8d10aee10425e99e777c6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_TgTYyWWkAJeRFIZF
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_TgTYyWWkAJeRFIZF","virtual_machine":{"id":"vm_ETiqdRiQQAZXyeDV","name":"tf-prompt-savory-car"},"name":"Public
      Network on tf-prompt-savory-car","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:4c:0b:21:9a:9c","state":"attached","ip_addresses":[{"id":"ip_tCKFoNSN2b9rosEo","address":"185.199.222.149"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ee600313a8012b4426859bcb3a2066e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_ETiqdRiQQAZXyeDV
    method: POST
  response:
    body: '{"task":{"id":"task_p1yzN8MwPYaToMrd","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7752f8619db018b921e3a38d5822adea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"load_balancer":{"id":"lb_hS1eTKKnDXxMVGYS"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_hS1eTKKnDXxMVGYS","name":"tf-acc-test-vm-group-HOxOutDSkceT","api_reference":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7ed286cb03cc763c64539b1ee2f343bc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_p1yzN8MwPYaToMrd
    method: GET
  response:
    body: '{"task":{"id":"task_p1yzN8MwPYaToMrd","name":"Stop virtual machine","status":"running","created_at":1718798311,"started_at":1718798312,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3fb07797a986af6559032d80e9a90b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ETiqdRiQQAZXyeDV
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_69WALyKxqNLfAx7I","keep_until":1718971119,"object_id":"vm_ETiqdRiQQAZXyeDV","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_ETiqdRiQQAZXyeDV","name":"tf-prompt-savory-car","hostname":"tf-prompt-savory-car","fqdn":"tf-prompt-savory-car.terraform-acc-test.katapult.cloud","description":null,"created_at":1718798283,"initial_root_password":"8tLr9lHlHtDUelHK","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","nam[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_tCKFoNSN2b9rosEo
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_ETiqdRiQQAZXyeDV
    method: DELETE
  response:
    body: '{"task":{"id":"task_8XmnqxcSfgaYC7lL","name":"Purge items from trash","status":"pending","created_at":1718798319,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"300bec6a5735232d4aadfe4427770a41"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_ETiqdRiQQAZXyeDV
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_y7BDCSI9d9CfFVju
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_y7BDCSI9d9CfFVju","name":"web","segregate":true,"auto_segregate":false,"created_at":1718798279}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28e4d056bff2f1c81028a5b9448eb012"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_tCKFoNSN2b9rosEo"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
