---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "819"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_vqlsEGzCvZxt09fO","address":"185.44.253.140","reverse_dns":"185-44-253-140.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"83b7487f9f52c40c49fa2464751f0ebc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "814"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_vqlsEGzCvZxt09fO
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_vqlsEGzCvZxt09fO","address":"185.44.253.140","reverse_dns":"185-44-253-140.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8387124f24b176dc214a109c26e10b3a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "797"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_vqlsEGzCvZxt09fO
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_vqlsEGzCvZxt09fO","address":"185.44.253.140","reverse_dns":"185-44-253-140.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8387124f24b176dc214a109c26e10b3a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "796"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_vqlsEGzCvZxt09fO</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-magnificent-alive-osprey</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_mcJwKAfKQxLMtGYw","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_ugKrOrD229TKzoIc","state":"pending"},"virtual_machine_build":{"id":"vmbuild_ugKrOrD229TKzoIc","state":"pending"},"hostname":"tf-magnificent-alive-osprey","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"08eacf7b935fa2769202d1555d5efae1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "795"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_ugKrOrD229TKzoIc
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_ugKrOrD229TKzoIc","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-22-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.140\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-magnificent-alive-osprey\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1734018468},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb48c35696e75aa1b6261838cff73958"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "757"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_3V58clxL17but24x
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_3V58clxL17but24x","name":"tf-magnificent-alive-osprey","hostname":"tf-magnificent-alive-osprey","fqdn":"tf-magnificent-alive-osprey.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018476,"initial_root_password":"Ft5BxQ8dG2BmsDGe","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_vqlsEGzCvZxt09fO","address":"185.44.253.140","reverse_dns":"tf-magnificent-alive-osprey.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_3V58clxL17but24x","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89069197a65914cac489dd06dbf2b0a0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_3V58clxL17but24x
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_QKMYSf3QvHmz1I6a","name":"Public
      Network on tf-magnificent-alive-osprey","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_vqlsEGzCvZxt09fO","address":"185.44.253.140"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8304c88d0734ac469e4b52a907dd300"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_QKMYSf3QvHmz1I6a
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_QKMYSf3QvHmz1I6a","virtual_machine":{"id":"vm_3V58clxL17but24x","name":"tf-magnificent-alive-osprey"},"name":"Public
      Network on tf-magnificent-alive-osprey","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:a3:9d:1f:bf:01","state":"attached","ip_addresses":[{"id":"ip_vqlsEGzCvZxt09fO","address":"185.44.253.140"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4aa81ae3ec8cd752f12afd12e6d28845"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-vms-update-oa8iPZZyidim","resource_ids":["vm_3V58clxL17but24x"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_4OBxn4uHNqxb0jgZ","name":"tf-acc-test-vms-update-oa8iPZZyidim","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_3V58clxL17but24x","name":"tf-magnificent-alive-osprey","hostname":"tf-magnificent-alive-osprey","fqdn":"tf-magnificent-alive-osprey.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018476,"initial_root_password":"Ft5BxQ8dG2BmsDGe","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
    [...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_4OBxn4uHNqxb0jgZ
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_4OBxn4uHNqxb0jgZ","name":"tf-acc-test-vms-update-oa8iPZZyidim","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_3V58clxL17but24x","name":"tf-magnificent-alive-osprey","hostname":"tf-magnificent-alive-osprey","[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_EsiISUR4sV7GRkbC
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_EsiISUR4sV7GRkbC","address":"185.44.255.129","reverse_dns":"185-44-255-129.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.129/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f8167f96bf80fc4a5ed91b723b0f2ddc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_EsiISUR4sV7GRkbC
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_EsiISUR4sV7GRkbC","address":"185.44.255.129","reverse_dns":"185-44-255-129.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.129/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f8167f96bf80fc4a5ed91b723b0f2ddc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "887"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_mpV0AEAEcY3QwsR3
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_mpV0AEAEcY3QwsR3","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_cRggrlhECop1JzP7
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_cRggrlhECop1JzP7","name":"tf-bitter-howling-steel","hostname":"tf-bitter-howling-steel","fqdn":"tf-bitter-howling-steel.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018515,"initial_root_password":"Dred5fLFzzjd3uWJ","state":"started","zone":{"id":"zone_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_cRggrlhECop1JzP7
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_jXUtrsSHIhNWmOZQ","name":"Public
      Network on tf-bitter-howling-steel","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_EsiISUR4sV7GRkbC","address":"185.44.255.129"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abdc42d8dda0b2466c22169ff727c269"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_jXUtrsSHIhNWmOZQ
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_jXUtrsSHIhNWmOZQ","virtual_machine":{"id":"vm_cRggrlhECop1JzP7","name":"tf-bitter-howling-steel"},"name":"Public
      Network on tf-bitter-howling-steel","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:65:e4:99:4d:8b","state":"attached","ip_addresses":[{"id":"ip_EsiISUR4sV7GRkbC","address":"185.44.255.129"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b6253e6d17d12722ca053e2932cabc69"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"load_balancer":{"id":"lb_4OBxn4uHNqxb0jgZ"},"properties":{"resource_ids":["vm_3V58clxL17but24x","vm_cRggrlhECop1JzP7"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_4OBxn4uHNqxb0jgZ","name":"tf-acc-test-vms-update-oa8iPZZyidim","api_reference":null,"resource_type":"virtual_m[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_cRggrlhECop1JzP7
    method: POST
  response:
    body: '{"task":{"id":"task_9g7bVmRzO3mEDEaO","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f6cb9ad6290492cd4c8b70e3176469d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_3V58clxL17but24x
    method: POST
  response:
    body: '{"task":{"id":"task_k7tBCWlXPiJL337A","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f7a2ad84b58e047dcc22245a5c85647"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_9g7bVmRzO3mEDEaO
    method: GET
  response:
    body: '{"task":{"id":"task_9g7bVmRzO3mEDEaO","name":"Stop virtual machine","status":"pending","created_at":1734018543,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ab645fac5f4bb24dc2ab931b02648f0f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_k7tBCWlXPiJL337A
    method: GET
  response:
    body: '{"task":{"id":"task_k7tBCWlXPiJL337A","name":"Stop virtual machine","status":"running","created_at":1734018543,"started_at":1734018543,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5cfd43b9df007129e25f4ceba0ac7622"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_3V58clxL17but24x
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_W8HbjMHBMqywN2Vc","keep_until":1734191350,"object_id":"vm_3V58clxL17but24x","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_3V58clxL17but24x","name":"tf-magnificent-alive-osprey","hostname":"tf-magnificent-alive-osprey","fqdn":"tf-magnificent-alive-osprey.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018476,"initial_root_password":"Ft5BxQ8dG2BmsDGe","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_vqlsEGzCvZxt09fO
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_3V58clxL17but24x
    method: DELETE
  response:
    body: '{"task":{"id":"task_NdZPIQt63j7efLYh","name":"Purge items from trash","status":"pending","created_at":1734018551,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"808c2d64e0083ab9f10a0820dfecff17"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_3V58clxL17but24x
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_vqlsEGzCvZxt09fO"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_EsiISUR4sV7GRkbC
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_cRggrlhECop1JzP7
    method: DELETE
  response:
    body: '{"task":{"id":"task_mQVqqDBX0GwMIxB2","name":"Purge items from trash","status":"pending","created_at":1734018571,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ed6a8f54694541e84bda686b2f23658"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
[...]
