---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "831"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_D3LXSzEp2R1V4jM3","name":"web","segregate":true,"auto_segregate":false,"created_at":1734018468}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"284f789e4a5a63b6991dce0700a9f2c4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "830"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_D3LXSzEp2R1V4jM3
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_D3LXSzEp2R1V4jM3","name":"web","segregate":true,"auto_segregate":false,"created_at":1734018468}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"284f789e4a5a63b6991dce0700a9f2c4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "813"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_BqJchqR47wHzFhNA","address":"185.44.253.75","reverse_dns":"185-44-253-75.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.75/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8216ab6c9850b6ba206281f2a3793771"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "818"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_BqJchqR47wHzFhNA
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_BqJchqR47wHzFhNA","address":"185.44.253.75","reverse_dns":"185-44-253-75.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.75/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7141a7f657c5d0543d144c71d7d41ee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "808"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_BqJchqR47wHzFhNA
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_BqJchqR47wHzFhNA","address":"185.44.253.75","reverse_dns":"185-44-253-75.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.75/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7141a7f657c5d0543d144c71d7d41ee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "805"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_BqJchqR47wHzFhNA</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-famous-faint-magnesium</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Mu5jCsyX62Pv5KwF","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_aXhJoJWG0qGNDiTg","state":"pending"},"virtual_machine_build":{"id":"vmbuild_aXhJoJWG0qGNDiTg","state":"pending"},"hostname":"tf-famous-faint-magnesium","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9feebe68b6f421eca9090773f69e5479"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "804"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_aXhJoJWG0qGNDiTg
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_aXhJoJWG0qGNDiTg","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-22-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.75\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-famous-faint-magnesium\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n  \u003cTags\u003e\n    \u003cTag\u003eweb\u003c/Tag\u003e\n  \u003c/Tags\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1734018468},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9edbb712c5e36d61981cd074bb1b9916"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "769"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_TyVIL6hMyuhHAu3t"},"properties":{"tag_names":["web"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_TyVIL6hMyuhHAu3t","name":"tf-famous-faint-magnesium","hostname":"tf-famous-faint-magnesium","fqdn":"tf-famous-faint-magnesium.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018474,"initial_root_password":"CIQVRzSyonp15sm0","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329}],"tag_names":["web"],"ip_addresses":[{"id":"ip_BqJchqR47wHzFhNA","address":"185.44.253.75","reverse_dns":"tf-famous-faint-magnesium.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.75/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_TyVIL6hMyuhHAu3t","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d1e9631b9051f34fd8be9c41f4fd049"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TyVIL6hMyuhHAu3t
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_TyVIL6hMyuhHAu3t","name":"tf-famous-faint-magnesium","hostname":"tf-famous-faint-magnesium","fqdn":"tf-famous-faint-magnesium.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018474,"initial_root_password":"CIQVRzSyonp15sm0","state":"starting","zone":{"id"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_TyVIL6hMyuhHAu3t
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_XjFK7exQxUz2z20y","name":"Public
      Network on tf-famous-faint-magnesium","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_BqJchqR47wHzFhNA","address":"185.44.253.75"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bf4b7d45601d7505fc12c70f660f0d0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "880"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_XjFK7exQxUz2z20y
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_XjFK7exQxUz2z20y","virtual_machine":{"id":"vm_TyVIL6hMyuhHAu3t","name":"tf-famous-faint-magnesium"},"name":"Public
      Network on tf-famous-faint-magnesium","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:86:ee:ca:1e:6c","state":"attached","ip_addresses":[{"id":"ip_BqJchqR47wHzFhNA","address":"185.44.253.75"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a632093adda4d3199d1803244f423cf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-resource-type-change-OYC6mUzBtm1V","resource_ids":["vm_TyVIL6hMyuhHAu3t"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_ViGQazEckMMYoGap","name":"tf-acc-test-resource-type-change-OYC6mUzBtm1V","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_TyVIL6hMyuhHAu3t","name":"tf-famous-faint-magnesium","hostname":"tf-famous-faint-magnesium","fqdn":"tf-famous-faint-magnesium.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018474,"initial_root_password":"CIQVRzSyonp15sm0","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      King[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_ViGQazEckMMYoGap
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_ViGQazEckMMYoGap","name":"tf-acc-test-resource-type-change-OYC6mUzBtm1V","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_TyVIL6hMyuhHAu3t","name":"tf-famous-faint-magnesium","hostname":"tf-famous-faint-magnes[...]
[...]
- request:
    body: '{"load_balancer":{"id":"lb_ViGQazEckMMYoGap"},"properties":{"resource_ids":["vmgrp_D3LXSzEp2R1V4jM3"],"resource_type":"virtual_machine_groups"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_ViGQazEckMMYoGap","name":"tf-acc-test-resource-type-change-OYC6mUzBtm1V","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_D3LXSzEp2R1V4jM3","name":"web","segregate":true,"auto_segregate":false,"created_at":1734018468}}],"resource_ids":["vmgrp_D3LXSzEp2R1V4jM3"],"ip_address":{"id":"ip_0wAGxyzH9zWywXgF","address":"185.44.254.125"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfVmlHUWF6RWNrTU1Zb0dhcC5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQx\nMjEyMTU0ODM0WhgPMjA3NDEyMTIxNTQ4MzRaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9WaUdRYXpFY2tNTVlvR2FwLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_D3LXSzEp2R1V4jM3
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_D3LXSzEp2R1V4jM3","name":"web","segregate":true,"auto_segregate":false,"created_at":1734018468}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"284f789e4a5a63b6991dce0700a9f2c4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "824"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_TyVIL6hMyuhHAu3t
    method: POST
  response:
    body: '{"task":{"id":"task_vcLsg9Z8AbaBkUJ4","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd6a83b694fd141b962273e699642ad4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "820"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_vcLsg9Z8AbaBkUJ4
    method: GET
  response:
    body: '{"task":{"id":"task_vcLsg9Z8AbaBkUJ4","name":"Stop virtual machine","status":"running","created_at":1734018517,"started_at":1734018517,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dd08eb399dfb01719cc0ebe4ba73da7f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "803"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TyVIL6hMyuhHAu3t
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_FyXtk2sTjNVOWwXm","keep_until":1734191324,"object_id":"vm_TyVIL6hMyuhHAu3t","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_TyVIL6hMyuhHAu3t","name":"tf-famous-faint-magnesium","hostname":"tf-famous-faint-magnesium","fqdn":"tf-famous-faint-magnesium.terraform-acc-test.katapult.cloud","description":null,"created_at":1734018474,"initial_root_password":"CIQVRzSyonp15sm0","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYY[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_BqJchqR47wHzFhNA
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "782"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_TyVIL6hMyuhHAu3t
    method: DELETE
  response:
    body: '{"task":{"id":"task_o8FjBJZxujCFrYe1","name":"Purge items from trash","status":"pending","created_at":1734018525,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80797481e8a84c0a40dda76fd5008877"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "781"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_TyVIL6hMyuhHAu3t
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "776"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_BqJchqR47wHzFhNA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "775"
    status: 200 OK
    code: 200
    duration: ""
[...]
