---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_f9ySGy5bQgpKWyWQ","name":"web","segregate":true,"auto_segregate":false,"created_at":1718357878}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"091aec9ad99fcb7070d1904c87aac7eb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_f9ySGy5bQgpKWyWQ
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_f9ySGy5bQgpKWyWQ","name":"web","segregate":true,"auto_segregate":false,"created_at":1718357878}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"091aec9ad99fcb7070d1904c87aac7eb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_kaEqelKl87WyZYeo","address":"185.44.253.170","reverse_dns":"185-44-253-170.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.170/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41679bcf754c28d13ad5ed120a185928"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_kaEqelKl87WyZYeo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_kaEqelKl87WyZYeo","address":"185.44.253.170","reverse_dns":"185-44-253-170.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.170/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43bc595349357fbf0f28ad9fd1d55521"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_kaEqelKl87WyZYeo</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-itchy-gifted-ship</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_TrElK7IA41kKnVWs","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_nzemIZLWxiHR2Sls","state":"pending"},"virtual_machine_build":{"id":"vmbuild_nzemIZLWxiHR2Sls","state":"pending"},"hostname":"tf-itchy-gifted-ship"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fdae49f6f709146600a55e724f5ce00a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_nzemIZLWxiHR2Sls
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_nzemIZLWxiHR2Sls","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.170</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-itchy-gifted-ship</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n  <Tags>\n    <Tag>web</Tag>\n  </Tags>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1718357879}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c81cc784b351df525268b97076e1231"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_nzemIZLWxiHR2Sls
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_nzemIZLWxiHR2Sls","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.170</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-itchy-gifted-ship</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n  <Tags>\n    <Tag>web</Tag>\n  </Tags>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_jDqLd2ck3UNffRzU","name":"tf-itchy-gifted-ship","hostname":"tf-itchy-gifted-ship","fqdn":"tf-itchy-gifted-ship.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1718357879}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b4b6f2321f7f21e55a48ad48feecdaf2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_jDqLd2ck3UNffRzU"},"properties":{"tag_names":["web"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_jDqLd2ck3UNffRzU","name":"tf-itchy-gifted-ship","hostname":"tf-itchy-gifted-ship","fqdn":"tf-itchy-gifted-ship.terraform-acc-test.katapult.cloud","description":null,"created_at":1718357882,"initial_root_password":"uj1LhG33gohnlaFY","state":"allocating","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329}],"tag_names":["web"],"ip_addresses":[{"id":"ip_kaEqelKl87WyZYeo","address":"185.44.253.170","reverse_dns":"tf-itchy-gifted-ship.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.170/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_jDqLd2ck3UNffRzU","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f281f3725395a5c760724edcf58e460"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jDqLd2ck3UNffRzU
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_jDqLd2ck3UNffRzU","name":"tf-itchy-gifted-ship","hostname":"tf-itchy-gifted-ship","fqdn":"tf-itchy-gifted-ship.terraform-acc-test.katapult.cloud","description":null,"created_at":1718357882,"initial_root_password":"uj1LhG33gohnlaFY","state":"starting","zone":{"id":"zone_7Uuz6wzE[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_jDqLd2ck3UNffRzU
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_cdYvrKSuBxuM7h2Z","name":"Public
      Network on tf-itchy-gifted-ship","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_kaEqelKl87WyZYeo","address":"185.44.253.170"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c473746afc1f2515b52cef8968664c4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_cdYvrKSuBxuM7h2Z
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_cdYvrKSuBxuM7h2Z","virtual_machine":{"id":"vm_jDqLd2ck3UNffRzU","name":"tf-itchy-gifted-ship"},"name":"Public
      Network on tf-itchy-gifted-ship","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:08:00:37:17:4a","state":"attached","ip_addresses":[{"id":"ip_kaEqelKl87WyZYeo","address":"185.44.253.170"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9c15ace4bf65be70a54d11f07bc24b0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-resource-type-change-QlFp9fn4dJ3X","resource_type":"virtual_machines","resource_ids":["vm_jDqLd2ck3UNffRzU"],"https_redirect":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_5mqkS9a6bGlf0VRw","name":"tf-acc-test-resource-type-change-QlFp9fn4dJ3X","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_jDqLd2ck3UNffRzU","name":"tf-itchy-gifted-ship","hostname":"tf-itchy-gifted-ship","fqdn":"tf-itchy-gifted-ship.terraform-acc-test.katapult.cloud","description":null,"created_at":1718357882,"initial_root_password":"uj1LhG33gohnlaFY","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_5mqkS9a6bGlf0VRw
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_5mqkS9a6bGlf0VRw","name":"tf-acc-test-resource-type-change-QlFp9fn4dJ3X","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_jDqLd2ck3UNffRzU","name":"tf-itchy-gifted-ship","hostname":"tf-itchy-gifted-ship","fqdn":"tf-itchy-[...]
[...]
- request:
    body: |
      {"load_balancer":{"id":"lb_5mqkS9a6bGlf0VRw"},"properties":{"resource_type":"virtual_machine_groups","resource_ids":["vmgrp_f9ySGy5bQgpKWyWQ"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_5mqkS9a6bGlf0VRw","name":"tf-acc-test-resource-type-change-QlFp9fn4dJ3X","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_f9ySGy5bQgpKWyWQ","name":"web","segregate":true,"auto_segregate":false,"created_at":1718357878}}],"resource_ids":["vmgrp_f9ySGy5bQgpKWyWQ"],"ip_address":{"id":"ip_fgcY5dBeanoaIZ9E","address":"185.44.253.143"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfNW1xa1M5YTZiR2xmMFZSdy5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjE0MDkzODI4WhgPMjA3NDA2MTQwOTM4MjhaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl81bXFrUzlhNmJHbGYwVlJ3LmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_f9ySGy5bQgpKWyWQ
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_f9ySGy5bQgpKWyWQ","name":"web","segregate":true,"auto_segregate":false,"created_at":1718357878}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"091aec9ad99fcb7070d1904c87aac7eb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_jDqLd2ck3UNffRzU
    method: POST
  response:
    body: '{"task":{"id":"task_nZ6n4lj5lxM58aP5","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"543efedc5f451a1cc6d95fe185872ed2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_nZ6n4lj5lxM58aP5
    method: GET
  response:
    body: '{"task":{"id":"task_nZ6n4lj5lxM58aP5","name":"Stop virtual machine","status":"running","created_at":1718357914,"started_at":1718357914,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"35b594075da896bef0f89c99a26a5efc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jDqLd2ck3UNffRzU
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_gSrTy1At1k7x60Xi","keep_until":1718530721,"object_id":"vm_jDqLd2ck3UNffRzU","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_jDqLd2ck3UNffRzU","name":"tf-itchy-gifted-ship","hostname":"tf-itchy-gifted-ship","fqdn":"tf-itchy-gifted-ship.terraform-acc-test.katapult.cloud","description":null,"created_at":1718357882,"initial_root_password":"uj1LhG33gohnlaFY","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","nam[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_kaEqelKl87WyZYeo
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_jDqLd2ck3UNffRzU
    method: DELETE
  response:
    body: '{"task":{"id":"task_AWZkd1zt5phouHxD","name":"Purge items from trash","status":"pending","created_at":1718357922,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f41204e671b2e7be41ecbeb6779f2ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_jDqLd2ck3UNffRzU
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
