---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_prTPQTPEMwYpqdJk","name":"web","segregate":true,"auto_segregate":false,"created_at":1788793665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d02ade9650e7cd298ddeb7bbbf14b8c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_prTPQTPEMwYpqdJk
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_prTPQTPEMwYpqdJk","name":"web","segregate":true,"auto_segregate":false,"created_at":1788793665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d02ade9650e7cd298ddeb7bbbf14b8c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"185-199-222-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_97h4iW9GotktZKZ8","address":"185.199.222.0","gateway":"185.199.222.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64cf239d96f1ecf35a38f31abf9fcef9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_JyPBDIGzofRKxbDQ
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"185-199-222-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_97h4iW9GotktZKZ8","address":"185.199.222.0","gateway":"185.199.222.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b2bc067bd20faefb81457553174066d2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-22-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_JyPBDIGzofRKxbDQ\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-tinkling-polite-sunflower\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cGroup\u003evmgrp_prTPQTPEMwYpqdJk\u003c/Group\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_L18c93sv5zKFRwxC","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_TsiQeD7iSBm1bkaT","state":"pending"},"virtual_machine_build":{"id":"vmbuild_TsiQeD7iSBm1bkaT","state":"pending"},"hostname":"tf-acc-test-tinkling-polite-sunflower","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4378af25f5d720a83e18f56713198fb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_TsiQeD7iSBm1bkaT
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_TsiQeD7iSBm1bkaT","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-22-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.195\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-tinkling-polite-sunflower\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cGroup\u003evmgrp_prTPQTPEMwYpqdJk\u003c/Group\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1788793665},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8704e44e73322e9fdb3eb1625d54f894"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-vm-group-3OkINlMuf2rc","resource_ids":["vmgrp_prTPQTPEMwYpqdJk"],"resource_type":"virtual_machine_groups"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"annotations":[],"load_balancer":{"api_reference":null,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfcExXbXNTZzZ2dnVLRDgyby5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjYw\nOTA3MTUwNzQ2WhgPMjA3NjA5MDcxNTA3NDZaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9wTFdtc1NnNnZ2dUtEODJvLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_pLWmsSg6vvuKD82o
    method: GET
  response:
    body: '{"annotations":[],"load_balancer":{"api_reference":null,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfcExXbXNTZzZ2dnVLRDgyby5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0Y[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_Q6E036lw7Myustdk
    method: GET
  response:
    body: '{"annotations":[],"load_balancer":{"api_reference":null,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfUTZFMDM2bHc3TXl1c3Rkay5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0Y[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_5zRCKK4vYFsu1wdd
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1788793674,"description":null,"fqdn":"tf-acc-test-tinkling-polite-sunflower.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":{"auto_segregate":false,"created_at":1788793665,"id":"vmgrp_prTPQTPEMwYpqdJk","name":"web","segregate":true},"hostname":"tf-acc-test-tinkling-polite-sunflower","id":"vm_5zRCKK4vYFsu1wdd","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.222.195","address_with_mask":"185.199.222.195/24","allocation_id":"vm_5zRCKK4vYFsu1wdd","allocation_type":"VirtualMachine","id":"ip_JyPBDIGzofRKxbDQ","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-tinkling-polite-sunflower.terraform-acc-test.katapult.cloud","subnet":{"address":"185.199.222.0","billable":true,"gateway":"185.199.222.1","id":"sbnt_97h4iW9GotktZKZ8","mask":24,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-tinkling-polite-sunflower","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"C-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"started","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12204617ce1c164142dbbba639a4700a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_5zRCKK4vYFsu1wdd
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_agLx1UkPGzvbcX7Q","name":"System
      Disk","size_in_gb":25,"wwn":"0d1d83af3eb2a8ac","state":"built","created_at":1788793674},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"501f1cc2af90485dbb6a172b9d8870fd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_agLx1UkPGzvbcX7Q
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1788793674,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_agLx1UkPGzvbcX7Q","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_NUDgA9T8IQMfDdSc","name":"Ubuntu
      22.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-22-04"},"number":1,"stable":true},"id":"dinst_tHkPaw2sdjMNVxPg"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":25,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"attached","virtual_machine":{"fqdn":"tf-acc-test-tinkling-polite-sunflower.terraform-acc-test.katapult.cloud","id":"vm_5zRCKK4vYFsu1wdd"}},"wwn":"0d1d83af3eb2a8ac"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1121acdd5b016bfb548aee94791a146"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_5zRCKK4vYFsu1wdd
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_M2mdHnJDOwz846xT","name":"Public
      Network on tf-acc-test-tinkling-polite-sunflower","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"tf-acc-test-tinkling-polite-sunflower.terraform-acc-test.katapult.cloud","address_with_mask":"185.199.222.195/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4378c39c246074d935bde68a6b7d0d4c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_M2mdHnJDOwz846xT
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_M2mdHnJDOwz846xT","virtual_machine":{"id":"vm_5zRCKK4vYFsu1wdd","name":"tf-acc-test-tinkling-polite-sunflower"},"name":"Public
      Network on tf-acc-test-tinkling-polite-sunflower","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:da:b8:f8:fb:99","state":"attached","ip_addresses":[{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fca4927db6767dc046e6fe74c16395ee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_JyPBDIGzofRKxbDQ
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ","address":"185.199.222.195","reverse_dns":"tf-acc-test-tinkling-polite-sunflower.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_97h4iW9GotktZKZ8","address":"185.199.222.0","gateway":"185.199.222.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_5zRCKK4vYFsu1wdd","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_5zRCKK4vYFsu1wdd","name":"tf-acc-test-tinkling-polite-sunflower"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92fa045e830b9a645b49823cc004d0ea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"load_balancer":{"id":"lb_pLWmsSg6vvuKD82o"},"properties":{"resource_ids":[],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: PATCH
  response:
    body: '{"annotations":[],"load_balancer":{"api_reference":null,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\n[...]
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_5zRCKK4vYFsu1wdd"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_Jas5CgRp1Z3wvPZl","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9380659e4e08f5a92f6779bb23a17d53"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_Jas5CgRp1Z3wvPZl
    method: GET
  response:
    body: '{"task":{"id":"task_Jas5CgRp1Z3wvPZl","name":"Stop virtual machine","status":"pending","created_at":1788793718,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42b2ac1907d6ba737bcbda4aba504e00"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_5zRCKK4vYFsu1wdd"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_9zgGqO1sy6TeaxAP","keep_until":1788966545,"object_id":"vm_5zRCKK4vYFsu1wdd","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1788793674,"description":null,"fqdn":"tf-acc-test-tinkling-polite-sunflower.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":{"auto_segregate":false,"created_at":1788793665,"id":"vmgrp_prTPQTPEMwYpqdJk","name":"web","segregate":true},"hostname":"tf-acc-test-tinkling-polite-sunflower","id":"vm_5zRCKK4vYFsu1wdd","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.222.195","a[...]
- request:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_9zgGqO1sy6TeaxAP"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_LL539MINzCAJGFzP","name":"Purge items from trash","status":"pending","created_at":1788793747,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"564e1ea49d2b3a7142a5ad5a2751e825"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_9zgGqO1sy6TeaxAP
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_9zgGqO1sy6TeaxAP","keep_until":1788966545,"object_id":"vm_5zRCKK4vYFsu1wdd","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"90b6b30830378103297cf388ca6132de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_9zgGqO1sy6TeaxAP
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_prTPQTPEMwYpqdJk"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_prTPQTPEMwYpqdJk","name":"web","segregate":true,"auto_segregate":false,"created_at":1788793665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d02ade9650e7cd298ddeb7bbbf14b8c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_JyPBDIGzofRKxbDQ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
