---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_dkIwUN4DJCi3kLBp","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649367}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"254b9dde9c30504654b75fba2687744a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_dkIwUN4DJCi3kLBp
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_dkIwUN4DJCi3kLBp","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649367}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"254b9dde9c30504654b75fba2687744a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_P5X3poDrO6PDtrMc","address":"77.72.7.87","reverse_dns":"77-72-7-87.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.87/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7deffbc5d031bd15ac873ee998abd050"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_P5X3poDrO6PDtrMc
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_P5X3poDrO6PDtrMc","address":"77.72.7.87","reverse_dns":"77-72-7-87.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.87/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e0e5046d5e74e80f5601ebee164ff58"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_P5X3poDrO6PDtrMc
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_P5X3poDrO6PDtrMc","address":"77.72.7.87","reverse_dns":"77-72-7-87.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.87/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e0e5046d5e74e80f5601ebee164ff58"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_P5X3poDrO6PDtrMc</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-nervous-prompt-pewter</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Nz4ej3mDVCE1XuYN","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_pXPPle1ZUyWLnIfg","state":"pending"},"virtual_machine_build":{"id":"vmbuild_pXPPle1ZUyWLnIfg","state":"pending"},"hostname":"tf-nervous-prompt-pewter"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6806c0bc6434cf4c8140d56931966f1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_pXPPle1ZUyWLnIfg
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_pXPPle1ZUyWLnIfg","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">77.72.7.87</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-nervous-prompt-pewter</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n  <Tags>\n    <Tag>web</Tag>\n  </Tags>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1718649368}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e5fb98a2c03bb9ff68219a0cda15e57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_pXPPle1ZUyWLnIfg
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_pXPPle1ZUyWLnIfg","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">77.72.7.87</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-nervous-prompt-pewter</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n  <Tags>\n    <Tag>web</Tag>\n  </Tags>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_sWLd1YyT0P9CBi1c","name":"tf-nervous-prompt-pewter","hostname":"tf-nervous-prompt-pewter","fqdn":"tf-nervous-prompt-pewter.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1718649368}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e291327f86fb86a6a98112d20503785e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_sWLd1YyT0P9CBi1c"},"properties":{"tag_names":["web"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_sWLd1YyT0P9CBi1c","name":"tf-nervous-prompt-pewter","hostname":"tf-nervous-prompt-pewter","fqdn":"tf-nervous-prompt-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1718649371,"initial_root_password":"y5n9jEf5QzEeUVpI","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329}],"tag_names":["web"],"ip_addresses":[{"id":"ip_P5X3poDrO6PDtrMc","address":"77.72.7.87","reverse_dns":"tf-nervous-prompt-pewter.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"77.72.7.87/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_sWLd1YyT0P9CBi1c","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"687da40ddae898233efdfbec6cd7cd95"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_sWLd1YyT0P9CBi1c
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_sWLd1YyT0P9CBi1c","name":"tf-nervous-prompt-pewter","hostname":"tf-nervous-prompt-pewter","fqdn":"tf-nervous-prompt-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1718649371,"initial_root_password":"y5n9jEf5QzEeUVpI","state":"started","zone":{"id":"zo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_sWLd1YyT0P9CBi1c
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_9aIWjakhmT7mdB7g","name":"Public
      Network on tf-nervous-prompt-pewter","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_P5X3poDrO6PDtrMc","address":"77.72.7.87"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"650a8b3576a95a7e3369e019857ad086"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_9aIWjakhmT7mdB7g
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_9aIWjakhmT7mdB7g","virtual_machine":{"id":"vm_sWLd1YyT0P9CBi1c","name":"tf-nervous-prompt-pewter"},"name":"Public
      Network on tf-nervous-prompt-pewter","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:81:7f:01:03:2f","state":"attached","ip_addresses":[{"id":"ip_P5X3poDrO6PDtrMc","address":"77.72.7.87"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43dfa76b0471a939bd29bae965c5da69"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-resource-type-change-vijBn8XSNqmr","resource_ids":["vm_sWLd1YyT0P9CBi1c"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_BojRSxcJHJcu1eSO","name":"tf-acc-test-resource-type-change-vijBn8XSNqmr","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_sWLd1YyT0P9CBi1c","name":"tf-nervous-prompt-pewter","hostname":"tf-nervous-prompt-pewter","fqdn":"tf-nervous-prompt-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1718649371,"initial_root_password":"y5n9jEf5QzEeUVpI","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer?load_balancer%5Bid%5D=lb_BojRSxcJHJcu1eSO
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_BojRSxcJHJcu1eSO","name":"tf-acc-test-resource-type-change-vijBn8XSNqmr","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_sWLd1YyT0P9CBi1c","name":"tf-nervous-prompt-pewter","hostname":"tf-nervous-prompt-pewt[...]
[...]
- request:
    body: '{"load_balancer":{"id":"lb_BojRSxcJHJcu1eSO"},"properties":{"resource_ids":["vmgrp_dkIwUN4DJCi3kLBp"],"resource_type":"virtual_machine_groups"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_BojRSxcJHJcu1eSO","name":"tf-acc-test-resource-type-change-vijBn8XSNqmr","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_dkIwUN4DJCi3kLBp","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649367}}],"resource_ids":["vmgrp_dkIwUN4DJCi3kLBp"],"ip_address":{"id":"ip_APRVnJaeFsDJiG3A","address":"77.72.7.141"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfQm9qUlN4Y0pISmN1MWVTTy5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjE3MTgzNjQxWhgPMjA3NDA2MTcxODM2NDFaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9Cb2pSU3hjSkhKY3UxZVNPLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_dkIwUN4DJCi3kLBp
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_dkIwUN4DJCi3kLBp","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649367}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"254b9dde9c30504654b75fba2687744a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_sWLd1YyT0P9CBi1c
    method: POST
  response:
    body: '{"task":{"id":"task_HotoQxQgMaKux8sq","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ea8911f4e39fb8fc8d88fc0b3a2c966f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_HotoQxQgMaKux8sq
    method: GET
  response:
    body: '{"task":{"id":"task_HotoQxQgMaKux8sq","name":"Stop virtual machine","status":"running","created_at":1718649408,"started_at":1718649408,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fc61c0c400ee96cf6e07acefe510ad1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_sWLd1YyT0P9CBi1c
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_AjyMn7Oo6YGH0xwd","keep_until":1718822215,"object_id":"vm_sWLd1YyT0P9CBi1c","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_sWLd1YyT0P9CBi1c","name":"tf-nervous-prompt-pewter","hostname":"tf-nervous-prompt-pewter","fqdn":"tf-nervous-prompt-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1718649371,"initial_root_password":"y5n9jEf5QzEeUVpI","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugv[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_P5X3poDrO6PDtrMc
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_sWLd1YyT0P9CBi1c
    method: DELETE
  response:
    body: '{"task":{"id":"task_7hpWHCX7DEZyEhJR","name":"Purge items from trash","status":"pending","created_at":1718649416,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aac0eb51c7d1fec2f5869a7c70773461"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_sWLd1YyT0P9CBi1c
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_P5X3poDrO6PDtrMc"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
