---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Gmo94Z3prEnhRe32","name":"web","segregate":true,"auto_segregate":false,"created_at":1719264840}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b9bb24a841bdb0d688d6e3ee70a5c71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_Gmo94Z3prEnhRe32
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Gmo94Z3prEnhRe32","name":"web","segregate":true,"auto_segregate":false,"created_at":1719264840}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b9bb24a841bdb0d688d6e3ee70a5c71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_AmfYAZI3wzwHKWbo","address":"185.44.253.34","reverse_dns":"185-44-253-34.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.34/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"627d605cbccf11488814ce36603703f0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_AmfYAZI3wzwHKWbo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_AmfYAZI3wzwHKWbo","address":"185.44.253.34","reverse_dns":"185-44-253-34.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.34/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb17a162f375cfb9e88e86511ecf7462"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_AmfYAZI3wzwHKWbo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_AmfYAZI3wzwHKWbo","address":"185.44.253.34","reverse_dns":"185-44-253-34.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.34/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb17a162f375cfb9e88e86511ecf7462"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_AmfYAZI3wzwHKWbo</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-snappy-blue-lead</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_ZZPeKpg7DldqARFZ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_DhDrdPJbZ4tIWFt2","state":"pending"},"virtual_machine_build":{"id":"vmbuild_DhDrdPJbZ4tIWFt2","state":"pending"},"hostname":"tf-snappy-blue-lead"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"67844ced20d18071be548cd21c9beba6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_DhDrdPJbZ4tIWFt2
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_DhDrdPJbZ4tIWFt2","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.34</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-snappy-blue-lead</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n  <Tags>\n    <Tag>web</Tag>\n  </Tags>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1719264847}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42b464f8ac2b6573b37fcdd36f29630a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_DhDrdPJbZ4tIWFt2
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_DhDrdPJbZ4tIWFt2","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.34</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-snappy-blue-lead</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n  <Tags>\n    <Tag>web</Tag>\n  </Tags>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_DVuiupwHWJs3CFGz","name":"tf-snappy-blue-lead","hostname":"tf-snappy-blue-lead","fqdn":"tf-snappy-blue-lead.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1719264847}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a64a523d0508355109f101e253d5928e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_DVuiupwHWJs3CFGz"},"properties":{"tag_names":["web"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_DVuiupwHWJs3CFGz","name":"tf-snappy-blue-lead","hostname":"tf-snappy-blue-lead","fqdn":"tf-snappy-blue-lead.terraform-acc-test.katapult.cloud","description":null,"created_at":1719264850,"initial_root_password":"9nyCii47FjstQcGm","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329}],"tag_names":["web"],"ip_addresses":[{"id":"ip_AmfYAZI3wzwHKWbo","address":"185.44.253.34","reverse_dns":"tf-snappy-blue-lead.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.34/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_DVuiupwHWJs3CFGz","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5243c7fe7de1de92c3b3f51f9c71455e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "904"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_DVuiupwHWJs3CFGz
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_DVuiupwHWJs3CFGz","name":"tf-snappy-blue-lead","hostname":"tf-snappy-blue-lead","fqdn":"tf-snappy-blue-lead.terraform-acc-test.katapult.cloud","description":null,"created_at":1719264850,"initial_root_password":"9nyCii47FjstQcGm","state":"started","zone":{"id":"zone_SIfjBnlL8Qox[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_DVuiupwHWJs3CFGz
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_j6sditsgKjb4RtoR","name":"Public
      Network on tf-snappy-blue-lead","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_AmfYAZI3wzwHKWbo","address":"185.44.253.34"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ec68a4db3bdd01694783dd54f993c5e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "886"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_j6sditsgKjb4RtoR
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_j6sditsgKjb4RtoR","virtual_machine":{"id":"vm_DVuiupwHWJs3CFGz","name":"tf-snappy-blue-lead"},"name":"Public
      Network on tf-snappy-blue-lead","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:99:db:4d:6f:ce","state":"attached","ip_addresses":[{"id":"ip_AmfYAZI3wzwHKWbo","address":"185.44.253.34"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d36e9943b07abdd1a72cd99c6a44536"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "885"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-resource-type-change-UjxeuGW6zPUc","resource_ids":["vm_DVuiupwHWJs3CFGz"],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_d85vToQkS3Tk0DOj","name":"tf-acc-test-resource-type-change-UjxeuGW6zPUc","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_DVuiupwHWJs3CFGz","name":"tf-snappy-blue-lead","hostname":"tf-snappy-blue-lead","fqdn":"tf-snappy-blue-lead.terraform-acc-test.katapult.cloud","description":null,"created_at":1719264850,"initial_root_password":"9nyCii47FjstQcGm","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer?load_balancer%5Bid%5D=lb_d85vToQkS3Tk0DOj
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_d85vToQkS3Tk0DOj","name":"tf-acc-test-resource-type-change-UjxeuGW6zPUc","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_DVuiupwHWJs3CFGz","name":"tf-snappy-blue-lead","hostname":"tf-snappy-blue-lead","fqdn"[...]
[...]
- request:
    body: '{"load_balancer":{"id":"lb_d85vToQkS3Tk0DOj"},"properties":{"resource_ids":["vmgrp_Gmo94Z3prEnhRe32"],"resource_type":"virtual_machine_groups"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_d85vToQkS3Tk0DOj","name":"tf-acc-test-resource-type-change-UjxeuGW6zPUc","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_Gmo94Z3prEnhRe32","name":"web","segregate":true,"auto_segregate":false,"created_at":1719264840}}],"resource_ids":["vmgrp_Gmo94Z3prEnhRe32"],"ip_address":{"id":"ip_bbFVHCnfbTfZkuro","address":"185.44.254.25"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfZDg1dlRvUWtTM1RrMERPai5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjI0MjEzNDQwWhgPMjA3NDA2MjQyMTM0NDBaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9kODV2VG9Ra1MzVGswRE9qLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_DVuiupwHWJs3CFGz
    method: POST
  response:
    body: '{"task":{"id":"task_Zmsrzn3gHNLVHMXn","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b501fe0dcb8365628c67464874b96679"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "790"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_Gmo94Z3prEnhRe32
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Gmo94Z3prEnhRe32","name":"web","segregate":true,"auto_segregate":false,"created_at":1719264840}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b9bb24a841bdb0d688d6e3ee70a5c71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "793"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Zmsrzn3gHNLVHMXn
    method: GET
  response:
    body: '{"task":{"id":"task_Zmsrzn3gHNLVHMXn","name":"Stop virtual machine","status":"running","created_at":1719264887,"started_at":1719264888,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c581d3b5c23aedfa7ad750906295248d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "788"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_DVuiupwHWJs3CFGz
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_gG4sbEPAU97Vkeyr","keep_until":1719437694,"object_id":"vm_DVuiupwHWJs3CFGz","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_DVuiupwHWJs3CFGz","name":"tf-snappy-blue-lead","hostname":"tf-snappy-blue-lead","fqdn":"tf-snappy-blue-lead.terraform-acc-test.katapult.cloud","description":null,"created_at":1719264850,"initial_root_password":"9nyCii47FjstQcGm","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_AmfYAZI3wzwHKWbo
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "769"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_DVuiupwHWJs3CFGz
    method: DELETE
  response:
    body: '{"task":{"id":"task_rerHRCkaVjwX5bD9","name":"Purge items from trash","status":"pending","created_at":1719264895,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"111d6e932cd594bd321df1d61ddf6b19"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "768"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_DVuiupwHWJs3CFGz
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_AmfYAZI3wzwHKWbo"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 200 OK
    code: 200
    duration: ""
[...]
