---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75","reverse_dns":"185-53-57-75.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.75/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a37ad256ac6257fd05a51ed3e01d0c4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_1ITYD7KSppSFgrVA
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75","reverse_dns":"185-53-57-75.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.75/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a01b5107996d90dd2993ddf2ccdfe401"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_1ITYD7KSppSFgrVA</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-melodic-vast-jellyfish</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Loy9h2ZkhzWEphLs","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_IXM110m11HsYJhvm","state":"pending"},"virtual_machine_build":{"id":"vmbuild_IXM110m11HsYJhvm","state":"pending"},"hostname":"tf-melodic-vast-jellyfish"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e73f9aa3ca73fb116cd939e69dacaeba"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_IXM110m11HsYJhvm
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_IXM110m11HsYJhvm","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.53.57.75</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-melodic-vast-jellyfish</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1717506732}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d4d81b5af850059edb4324cc60c6b6a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_IXM110m11HsYJhvm
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_IXM110m11HsYJhvm","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.53.57.75</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-melodic-vast-jellyfish</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_JNq2i9OmyfGRXGVK","name":"tf-melodic-vast-jellyfish","hostname":"tf-melodic-vast-jellyfish","fqdn":"tf-melodic-vast-jellyfish.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1717506732}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0cb7afb76027e6f97237f65522a6a696"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_JNq2i9OmyfGRXGVK
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_JNq2i9OmyfGRXGVK","name":"tf-melodic-vast-jellyfish","hostname":"tf-melodic-vast-jellyfish","fqdn":"tf-melodic-vast-jellyfish.terraform-acc-test.katapult.cloud","description":null,"created_at":1717506734,"initial_root_password":"V6CT8hKeCyTEQxwA","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75","reverse_dns":"tf-melodic-vast-jellyfish.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.75/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_JNq2i9OmyfGRXGVK","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f11f19ab666372401f6804121545dbc2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_JNq2i9OmyfGRXGVK
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_C5M8cvKPxUqscrgq","name":"Public
      Network on tf-melodic-vast-jellyfish","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"90f555c67a535356634cda0941c90d53"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_C5M8cvKPxUqscrgq
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_C5M8cvKPxUqscrgq","virtual_machine":{"id":"vm_JNq2i9OmyfGRXGVK","name":"tf-melodic-vast-jellyfish"},"name":"Public
      Network on tf-melodic-vast-jellyfish","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:0e:38:e4:ff:da","state":"attached","ip_addresses":[{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b0847472ac16e8234c4c9c48b85e5312"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vms-update-PAS0X7OHZpTc","resource_type":"virtual_machines","resource_ids":["vm_JNq2i9OmyfGRXGVK"],"https_redirect":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_ZKgcNEPOI6btNrsC","name":"tf-acc-test-vms-update-PAS0X7OHZpTc","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_JNq2i9OmyfGRXGVK","name":"tf-melodic-vast-jellyfish","hostname":"tf-melodic-vast-jellyfish","fqdn":"tf-melodic-vast-jellyfish.terraform-acc-test.katapult.cloud","description":null,"created_at":1717506734,"initial_root_password":"V6CT8hKeCyTEQxwA","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      King[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_ZKgcNEPOI6btNrsC
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_ZKgcNEPOI6btNrsC","name":"tf-acc-test-vms-update-PAS0X7OHZpTc","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_JNq2i9OmyfGRXGVK","name":"tf-melodic-vast-jellyfish","hostname":"tf-melodic-vast-jellyfish","fqdn":"tf-melodi[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_BGCx4C4TfCVpr3mK
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_BGCx4C4TfCVpr3mK","address":"185.44.255.223","reverse_dns":"185-44-255-223.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.223/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"30a19802153dcd2f0ee090ab6037cd6c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_m5mVt9S4rr9Uj5wJ
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_m5mVt9S4rr9Uj5wJ","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTempl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ZRKba2xbAjJfOzBo
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_ZRKba2xbAjJfOzBo","name":"tf-calm-tinkling-kumquat","hostname":"tf-calm-tinkling-kumquat","fqdn":"tf-calm-tinkling-kumquat.terraform-acc-test.katapult.cloud","description":null,"created_at":1717506759,"initial_root_password":"3BseVkRiW1P307xD","state":"started","zone":{"id":"zo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_ZRKba2xbAjJfOzBo
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_kp0EZqg0vlHacR3A","name":"Public
      Network on tf-calm-tinkling-kumquat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_BGCx4C4TfCVpr3mK","address":"185.44.255.223"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3b07eb1885f0050726024ebca2c95bb1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_kp0EZqg0vlHacR3A
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_kp0EZqg0vlHacR3A","virtual_machine":{"id":"vm_ZRKba2xbAjJfOzBo","name":"tf-calm-tinkling-kumquat"},"name":"Public
      Network on tf-calm-tinkling-kumquat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:23:a1:d7:ae:06","state":"attached","ip_addresses":[{"id":"ip_BGCx4C4TfCVpr3mK","address":"185.44.255.223"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3e37757c6e3f9bd8ac50529aa476f0d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"load_balancer":{"id":"lb_ZKgcNEPOI6btNrsC"},"properties":{"resource_type":"virtual_machines","resource_ids":["vm_JNq2i9OmyfGRXGVK","vm_ZRKba2xbAjJfOzBo"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_ZKgcNEPOI6btNrsC","name":"tf-acc-test-vms-update-PAS0X7OHZpTc","api_reference":null,"resource_type":"virtual_machine[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_JNq2i9OmyfGRXGVK
    method: POST
  response:
    body: '{"task":{"id":"task_s6TKb1uu0FLI7La8","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0edd9dd1bb46d8a10225d196ae080206"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "160"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_ZRKba2xbAjJfOzBo
    method: POST
  response:
    body: '{"task":{"id":"task_hnGZ5xkbWelZMMLH","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d85a8be7f38734c86ffbbb407c3d4c0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_s6TKb1uu0FLI7La8
    method: GET
  response:
    body: '{"task":{"id":"task_s6TKb1uu0FLI7La8","name":"Stop virtual machine","status":"running","created_at":1717506789,"started_at":1717506790,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"23cfa5bf4ef6e37369edd4a6c5dca758"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_hnGZ5xkbWelZMMLH
    method: GET
  response:
    body: '{"task":{"id":"task_hnGZ5xkbWelZMMLH","name":"Stop virtual machine","status":"running","created_at":1717506790,"started_at":1717506790,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d263012ab044f6b5a7399794f92e00e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "157"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_JNq2i9OmyfGRXGVK
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_wQND668lE90eD2XG","keep_until":1717679597,"object_id":"vm_JNq2i9OmyfGRXGVK","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_JNq2i9OmyfGRXGVK","name":"tf-melodic-vast-jellyfish","hostname":"tf-melodic-vast-jellyfish","fqdn":"tf-melodic-vast-jellyfish.terraform-acc-test.katapult.cloud","description":null,"created_at":1717506734,"initial_root_password":"V6CT8hKeCyTEQxwA","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYY[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_BGCx4C4TfCVpr3mK
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "149"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_1ITYD7KSppSFgrVA
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "152"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_ZRKba2xbAjJfOzBo
    method: DELETE
  response:
    body: '{"task":{"id":"task_10bv4mse6I5XDpvn","name":"Purge items from trash","status":"pending","created_at":1717506797,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80a3a6fa3ebbd4df04925b2756ff8844"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "148"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_JNq2i9OmyfGRXGVK
    method: DELETE
  response:
    body: '{"task":{"id":"task_DBxhwEE2K0xqlMN0","name":"Purge items from trash","status":"pending","created_at":1717506798,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"29b1433fc977c0d99ebc0facc196324e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "147"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_ZRKba2xbAjJfOzBo
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "144"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
