---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_oqftI1EUEvSjYwW5","address":"185.44.255.153","reverse_dns":"185-44-255-153.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.153/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee16565858df2950e242e46196ed9a8b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_oqftI1EUEvSjYwW5
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_oqftI1EUEvSjYwW5","address":"185.44.255.153","reverse_dns":"185-44-255-153.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.153/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"939f362b6432141ff2520d4613f5df1b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_oqftI1EUEvSjYwW5</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-noisy-gifted-albatross</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_1Uj76r84YeEPpMv7","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_hQac1ip9RhVIr1tf","state":"pending"},"virtual_machine_build":{"id":"vmbuild_hQac1ip9RhVIr1tf","state":"pending"},"hostname":"tf-noisy-gifted-albatross"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b54f5a6bd3e818711cab6b5eecd87e1c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_hQac1ip9RhVIr1tf
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_hQac1ip9RhVIr1tf","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.255.153</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-noisy-gifted-albatross</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1718299287}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"340d271f28940ce64d0cb893d4923f4c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_hQac1ip9RhVIr1tf
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_hQac1ip9RhVIr1tf","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.255.153</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-noisy-gifted-albatross</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_0YcyC5KzW9a1pQO7","name":"tf-noisy-gifted-albatross","hostname":"tf-noisy-gifted-albatross","fqdn":"tf-noisy-gifted-albatross.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1718299287}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"adb4e685564b1ee44803a22e628f75d5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_0YcyC5KzW9a1pQO7
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_0YcyC5KzW9a1pQO7","name":"tf-noisy-gifted-albatross","hostname":"tf-noisy-gifted-albatross","fqdn":"tf-noisy-gifted-albatross.terraform-acc-test.katapult.cloud","description":null,"created_at":1718299289,"initial_root_password":"tvFisH2MQyzSPILa","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_oqftI1EUEvSjYwW5","address":"185.44.255.153","reverse_dns":"tf-noisy-gifted-albatross.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.153/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_0YcyC5KzW9a1pQO7","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e73b5c0518b16c298e6620a6b18870e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_0YcyC5KzW9a1pQO7
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_9eMOULJVSqen6lbC","name":"Public
      Network on tf-noisy-gifted-albatross","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_oqftI1EUEvSjYwW5","address":"185.44.255.153"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1290d53634699cdc8e6ace3b19542eb5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_9eMOULJVSqen6lbC
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_9eMOULJVSqen6lbC","virtual_machine":{"id":"vm_0YcyC5KzW9a1pQO7","name":"tf-noisy-gifted-albatross"},"name":"Public
      Network on tf-noisy-gifted-albatross","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:f9:9c:82:f1:26","state":"attached","ip_addresses":[{"id":"ip_oqftI1EUEvSjYwW5","address":"185.44.255.153"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa075f94fedbc739e4663cba9bbf1416"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vms-update-Fpp2B1Fz3SmV","resource_type":"virtual_machines","resource_ids":["vm_0YcyC5KzW9a1pQO7"],"https_redirect":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_UAYBihdmji69QrRE","name":"tf-acc-test-vms-update-Fpp2B1Fz3SmV","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_0YcyC5KzW9a1pQO7","name":"tf-noisy-gifted-albatross","hostname":"tf-noisy-gifted-albatross","fqdn":"tf-noisy-gifted-albatross.terraform-acc-test.katapult.cloud","description":null,"created_at":1718299289,"initial_root_password":"tvFisH2MQyzSPILa","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      King[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_UAYBihdmji69QrRE
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_UAYBihdmji69QrRE","name":"tf-acc-test-vms-update-Fpp2B1Fz3SmV","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_0YcyC5KzW9a1pQO7","name":"tf-noisy-gifted-albatross","hostname":"tf-noisy-gifted-albatross","fqdn":"tf-noisy-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_kBW1EEWUHWNMyib7
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_kBW1EEWUHWNMyib7","address":"185.44.255.202","reverse_dns":"185-44-255-202.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.202/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4c5ddaeef37f2919c14d94013ca2301"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_5DH1Zrix8BwVmlgW
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_5DH1Zrix8BwVmlgW","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTempl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_BnDuBH0f48LCMevx
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_BnDuBH0f48LCMevx","name":"tf-whispering-liked-pewter","hostname":"tf-whispering-liked-pewter","fqdn":"tf-whispering-liked-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1718299315,"initial_root_password":"ZHoYL5wPgEyThhGX","state":"started","zone":{"i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_BnDuBH0f48LCMevx
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Jkh4ktl9LhR1e9Bw","name":"Public
      Network on tf-whispering-liked-pewter","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_kBW1EEWUHWNMyib7","address":"185.44.255.202"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a2d7fe7dd3ff493f6e697fc3f9d8902"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Jkh4ktl9LhR1e9Bw
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Jkh4ktl9LhR1e9Bw","virtual_machine":{"id":"vm_BnDuBH0f48LCMevx","name":"tf-whispering-liked-pewter"},"name":"Public
      Network on tf-whispering-liked-pewter","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:43:62:fb:f2:37","state":"attached","ip_addresses":[{"id":"ip_kBW1EEWUHWNMyib7","address":"185.44.255.202"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb755988e6793abc6ad4f8221aeb1308"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"load_balancer":{"id":"lb_UAYBihdmji69QrRE"},"properties":{"resource_type":"virtual_machines","resource_ids":["vm_0YcyC5KzW9a1pQO7","vm_BnDuBH0f48LCMevx"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_UAYBihdmji69QrRE","name":"tf-acc-test-vms-update-Fpp2B1Fz3SmV","api_reference":null,"resource_type":"virtual_machine[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_0YcyC5KzW9a1pQO7
    method: POST
  response:
    body: '{"task":{"id":"task_kJWm2sxdWg5QKCZc","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"564f58b9af89f3d6b12f68da0dd54ece"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_BnDuBH0f48LCMevx
    method: POST
  response:
    body: '{"task":{"id":"task_ogZR2C8IAAJJo7kl","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e653de76283631cb6c260ea92d289ff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_kJWm2sxdWg5QKCZc
    method: GET
  response:
    body: '{"task":{"id":"task_kJWm2sxdWg5QKCZc","name":"Stop virtual machine","status":"running","created_at":1718299337,"started_at":1718299338,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f98f2cdc97a66f4bf7a433dfa0245379"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ogZR2C8IAAJJo7kl
    method: GET
  response:
    body: '{"task":{"id":"task_ogZR2C8IAAJJo7kl","name":"Stop virtual machine","status":"running","created_at":1718299337,"started_at":1718299338,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"097154bfb4418ec2da94923097963626"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_BnDuBH0f48LCMevx
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_x5dMtpUDVsesACB4","keep_until":1718472145,"object_id":"vm_BnDuBH0f48LCMevx","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_BnDuBH0f48LCMevx","name":"tf-whispering-liked-pewter","hostname":"tf-whispering-liked-pewter","fqdn":"tf-whispering-liked-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1718299315,"initial_root_password":"ZHoYL5wPgEyThhGX","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_kBW1EEWUHWNMyib7
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_BnDuBH0f48LCMevx
    method: DELETE
  response:
    body: '{"task":{"id":"task_Em2FdLN5EorYFTME","name":"Purge items from trash","status":"pending","created_at":1718299345,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db4bddf1b18c6826f50f73bf378f108f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_oqftI1EUEvSjYwW5
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_0YcyC5KzW9a1pQO7
    method: DELETE
  response:
    body: '{"task":{"id":"task_qsmklswBsN6mUAQr","name":"Purge items from trash","status":"pending","created_at":1718299346,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9670d64333d01be3d9e76c89c16dd55"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_BnDuBH0f48LCMevx
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
