---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_J7srsq8FH2F5zTG6","address":"185.44.255.69","reverse_dns":"185-44-255-69.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.69/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b4e0b813f3acc026917209eb5e91e34f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_J7srsq8FH2F5zTG6
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_J7srsq8FH2F5zTG6","address":"185.44.255.69","reverse_dns":"185-44-255-69.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.69/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f0b9e4dd5e45e866687a779c6957b83"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_09RpMk6B1U05hZ9q
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_09RpMk6B1U05hZ9q","address":"185.44.254.207","reverse_dns":"185-44-254-207.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.207/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"953340511a0566551a8c13563a439af2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_09RpMk6B1U05hZ9q</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-red-long-mouse</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_DlpuvzrjYk032XbV","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_QBTwoZsQscHz0bKA","state":"pending"},"virtual_machine_build":{"id":"vmbuild_QBTwoZsQscHz0bKA","state":"pending"},"hostname":"tf-red-long-mouse"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eca22e469f1c345bc2f0d83995e9ca21"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_QBTwoZsQscHz0bKA
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_QBTwoZsQscHz0bKA","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.254.207</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-red-long-mouse</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1717414334}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c40841d6efa86405c428191edc98f504"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_eoBepunHwe6g4GGY
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_eoBepunHwe6g4GGY","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTempl[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_QBTwoZsQscHz0bKA
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_QBTwoZsQscHz0bKA","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.254.207</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-red-long-mouse</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_2ts2Or12bg9FxQfO","name":"tf-red-long-mouse","hostname":"tf-red-long-mouse","fqdn":"tf-red-long-mouse.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1717414334}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0f1cde9d4be43008602f3418b7c3a703"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_2ts2Or12bg9FxQfO
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_2ts2Or12bg9FxQfO","name":"tf-red-long-mouse","hostname":"tf-red-long-mouse","fqdn":"tf-red-long-mouse.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414336,"initial_root_password":"sLn61eZpYFo2KlrA","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_09RpMk6B1U05hZ9q","address":"185.44.254.207","reverse_dns":"tf-red-long-mouse.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.207/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_2ts2Or12bg9FxQfO","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5bc1f1ddee6969f205cafede886831a1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_2ts2Or12bg9FxQfO
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ds6rLpivcbD8l44M","name":"Public
      Network on tf-red-long-mouse","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_09RpMk6B1U05hZ9q","address":"185.44.254.207"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c4fb69cae5dbe3c26a73bc3c2d9c2b6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_ds6rLpivcbD8l44M
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_ds6rLpivcbD8l44M","virtual_machine":{"id":"vm_2ts2Or12bg9FxQfO","name":"tf-red-long-mouse"},"name":"Public
      Network on tf-red-long-mouse","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:26:1b:22:fe:b6","state":"attached","ip_addresses":[{"id":"ip_09RpMk6B1U05hZ9q","address":"185.44.254.207"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"47e419846a24ac08dd45b8c591396afb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_fNvpTwe70zHl3cX7
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_fNvpTwe70zHl3cX7","name":"tf-quiet-brave-mercury","hostname":"tf-quiet-brave-mercury","fqdn":"tf-quiet-brave-mercury.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414338,"initial_root_password":"VBXCwm4WXVSuwjio","state":"started","zone":{"id":"zone_7Uu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_fNvpTwe70zHl3cX7
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_w8jXGnII3o31MRhP","name":"Public
      Network on tf-quiet-brave-mercury","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_J7srsq8FH2F5zTG6","address":"185.44.255.69"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"95dc30afc2d36735073a15438710b7c6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_w8jXGnII3o31MRhP
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_w8jXGnII3o31MRhP","virtual_machine":{"id":"vm_fNvpTwe70zHl3cX7","name":"tf-quiet-brave-mercury"},"name":"Public
      Network on tf-quiet-brave-mercury","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:0a:62:d6:43:94","state":"attached","ip_addresses":[{"id":"ip_J7srsq8FH2F5zTG6","address":"185.44.255.69"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f08a0e2c9b968eccbd08b6b93c7e5279"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vms-update-EXmc7dK86zPt","resource_type":"virtual_machines","resource_ids":["vm_2ts2Or12bg9FxQfO","vm_fNvpTwe70zHl3cX7"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_OqQgI6ySb586atTa","name":"tf-acc-test-vms-update-EXmc7dK86zPt","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_2ts2Or12bg9FxQfO","name":"tf-red-long-mouse","hostname":"tf-red-long-mouse","fqdn":"tf-red-long-mouse.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414336,"initial_root_password":"sLn61eZpYFo2KlrA","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","i[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_OqQgI6ySb586atTa
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_OqQgI6ySb586atTa","name":"tf-acc-test-vms-update-EXmc7dK86zPt","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_2ts2Or12bg9FxQfO","name":"tf-red-long-mouse","hostname":"tf-red-long-mouse","fqdn":"tf-red-long-mouse.terrafo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_2ts2Or12bg9FxQfO
    method: POST
  response:
    body: '{"task":{"id":"task_WaxM5Mdg1vYJ8mbY","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb00acd859b26c8146438d29ec165244"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "139"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_fNvpTwe70zHl3cX7
    method: POST
  response:
    body: '{"task":{"id":"task_QWuqRpFpW1X78vNi","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c4dd03fc6c1366623316faa217afc2b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_QWuqRpFpW1X78vNi
    method: GET
  response:
    body: '{"task":{"id":"task_QWuqRpFpW1X78vNi","name":"Stop virtual machine","status":"running","created_at":1717414372,"started_at":1717414372,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a9e43cb07d01574cfe7ba19903ee67c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "136"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_WaxM5Mdg1vYJ8mbY
    method: GET
  response:
    body: '{"task":{"id":"task_WaxM5Mdg1vYJ8mbY","name":"Stop virtual machine","status":"running","created_at":1717414372,"started_at":1717414372,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6823c195375262775c677589a82ab7d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "137"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_fNvpTwe70zHl3cX7
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_8sWDbEM5aBnHwVb6","keep_until":1717587179,"object_id":"vm_fNvpTwe70zHl3cX7","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_fNvpTwe70zHl3cX7","name":"tf-quiet-brave-mercury","hostname":"tf-quiet-brave-mercury","fqdn":"tf-quiet-brave-mercury.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414338,"initial_root_password":"VBXCwm4WXVSuwjio","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_J7srsq8FH2F5zTG6
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_fNvpTwe70zHl3cX7
    method: DELETE
  response:
    body: '{"task":{"id":"task_qsCaD2XQtPQabPvo","name":"Purge items from trash","status":"pending","created_at":1717414380,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e488b90bd4e1e24f419c6482d50756a9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_09RpMk6B1U05hZ9q
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_2ts2Or12bg9FxQfO
    method: DELETE
  response:
    body: '{"task":{"id":"task_80l9YPCvPdz08UUG","name":"Purge items from trash","status":"pending","created_at":1717414381,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8caa006165be396920642ac936e915ec"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_fNvpTwe70zHl3cX7
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
