---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/:data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_SiVIs4pxYNJI6HjT","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649172}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9e7c2c8c35bc74a7989fb841f923924"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_SiVIs4pxYNJI6HjT
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_SiVIs4pxYNJI6HjT","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649172}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9e7c2c8c35bc74a7989fb841f923924"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_liVaPQ9oonXcs7EM","address":"77.72.7.188","reverse_dns":"77-72-7-188.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.188/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ecba65fc13237a8414d2ca67474c2850"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address?ip_address%5Bid%5D=ip_liVaPQ9oonXcs7EM
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_liVaPQ9oonXcs7EM","address":"77.72.7.188","reverse_dns":"77-72-7-188.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.188/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70cc52e0e05a199cf4d09aaf43c6ee04"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_liVaPQ9oonXcs7EM
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_liVaPQ9oonXcs7EM","address":"77.72.7.188","reverse_dns":"77-72-7-188.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.188/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70cc52e0e05a199cf4d09aaf43c6ee04"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_liVaPQ9oonXcs7EM</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-agreeable-whining-magnesium</Hostname></Hostname><Group>vmgrp_SiVIs4pxYNJI6HjT</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_yJcpBuWmLeOEbaF5","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_E3eIQcrMy4FFmKBP","state":"pending"},"virtual_machine_build":{"id":"vmbuild_E3eIQcrMy4FFmKBP","state":"pending"},"hostname":"tf-agreeable-whining-magnesium"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5fa143534238102e814307e58347d0e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_E3eIQcrMy4FFmKBP
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_E3eIQcrMy4FFmKBP","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">77.72.7.188</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-agreeable-whining-magnesium</Hostname>\n  </Hostname>\n  <Group>vmgrp_SiVIs4pxYNJI6HjT</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1718649172}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8116943129697b4a193300ad73feb380"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-vm-group-wq3kODY0KwJM","resource_ids":["vmgrp_SiVIs4pxYNJI6HjT"],"resource_type":"virtual_machine_groups"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_Id4wKiwUT2PfbKK9","name":"tf-acc-test-vm-group-wq3kODY0KwJM","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_SiVIs4pxYNJI6HjT","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649172}}],"resource_ids":["vmgrp_SiVIs4pxYNJI6HjT"],"ip_address":{"id":"ip_P5X3poDrO6PDtrMc","address":"77.72.7.87"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfSWQ0d0tpd1VUMlBmYktLOS5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjE3MTgzMjU2WhgPMjA3NDA2MTcxODMyNTZaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9JZDR3S2l3VVQyUGZiS0s5LmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer?load_balancer%5Bid%5D=lb_Id4wKiwUT2PfbKK9
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_Id4wKiwUT2PfbKK9","name":"tf-acc-test-vm-group-wq3kODY0KwJM","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_SiVIs4pxYNJI6HjT","name":"web","segregate":true,"auto_segregate":false,"created_at":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_E3eIQcrMy4FFmKBP
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_E3eIQcrMy4FFmKBP","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">77.72.7.188</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-agreeable-whining-magnesium</Hostname>\n  </Hostname>\n  <Group>vmgrp_SiVIs4pxYNJI6HjT</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_m1dx4cL0VZEIPpP5","name":"tf-agreeable-whining-magnesium","hostname":"tf-agreeable-whining-magnesium","fqdn":"tf-agreeable-whining-magnesium.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1718649172}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"772ff833fd173fd5e3282da2b96966f8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_m1dx4cL0VZEIPpP5
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_m1dx4cL0VZEIPpP5","name":"tf-agreeable-whining-magnesium","hostname":"tf-agreeable-whining-magnesium","fqdn":"tf-agreeable-whining-magnesium.terraform-acc-test.katapult.cloud","description":null,"created_at":1718649175,"initial_root_password":"X6f2IiaXm1pyJ9WC","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_SiVIs4pxYNJI6HjT","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649172},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_liVaPQ9oonXcs7EM","address":"77.72.7.188","reverse_dns":"tf-agreeable-whining-magnesium.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"77.72.7.188/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_m1dx4cL0VZEIPpP5","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"81d1bed290ddba84f0daf352c434d217"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_m1dx4cL0VZEIPpP5
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_RpqljMvq4mbvenqO","name":"Public
      Network on tf-agreeable-whining-magnesium","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_liVaPQ9oonXcs7EM","address":"77.72.7.188"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e436889820836ce7840495d3a6a3574c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_RpqljMvq4mbvenqO
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_RpqljMvq4mbvenqO","virtual_machine":{"id":"vm_m1dx4cL0VZEIPpP5","name":"tf-agreeable-whining-magnesium"},"name":"Public
      Network on tf-agreeable-whining-magnesium","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a2:51:59:27:3e","state":"attached","ip_addresses":[{"id":"ip_liVaPQ9oonXcs7EM","address":"77.72.7.188"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0715a729760ccec33759ba58f9accaad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"load_balancer":{"id":"lb_Id4wKiwUT2PfbKK9"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/:load_balancer
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_Id4wKiwUT2PfbKK9","name":"tf-acc-test-vm-group-wq3kODY0KwJM","api_reference":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cad5346c7e5ccbd9f0be7267cbd4a241"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_m1dx4cL0VZEIPpP5
    method: POST
  response:
    body: '{"task":{"id":"task_e7PWDkGz2ufF34Tz","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"30405a43bf790bf376ba6f12aacd772a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_e7PWDkGz2ufF34Tz
    method: GET
  response:
    body: '{"task":{"id":"task_e7PWDkGz2ufF34Tz","name":"Stop virtual machine","status":"pending","created_at":1718649194,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a084a93f5443dea23bd059d90c2870bf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_m1dx4cL0VZEIPpP5
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_JopM0qcne4Um97GK","keep_until":1718822033,"object_id":"vm_m1dx4cL0VZEIPpP5","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_m1dx4cL0VZEIPpP5","name":"tf-agreeable-whining-magnesium","hostname":"tf-agreeable-whining-magnesium","fqdn":"tf-agreeable-whining-magnesium.terraform-acc-test.katapult.cloud","description":null,"created_at":1718649175,"initial_root_password":"X6f2IiaXm1pyJ9WC","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_liVaPQ9oonXcs7EM
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_m1dx4cL0VZEIPpP5
    method: DELETE
  response:
    body: '{"task":{"id":"task_uAFNPzRBliKSqJpS","name":"Purge items from trash","status":"pending","created_at":1718649233,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca541b5c86274a1ceb014b2f2d0b320d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_m1dx4cL0VZEIPpP5
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_liVaPQ9oonXcs7EM"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/:ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_SiVIs4pxYNJI6HjT
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_SiVIs4pxYNJI6HjT","name":"web","segregate":true,"auto_segregate":false,"created_at":1718649172}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9e7c2c8c35bc74a7989fb841f923924"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
