---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_BieB3aRLIwB09ZLp","name":"web","segregate":true,"auto_segregate":false,"created_at":1717506911}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3fb01a7a899e3c8c74b9ecf3c52315be"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_BieB3aRLIwB09ZLp
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_BieB3aRLIwB09ZLp","name":"web","segregate":true,"auto_segregate":false,"created_at":1717506911}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3fb01a7a899e3c8c74b9ecf3c52315be"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75","reverse_dns":"185-53-57-75.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.75/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a37ad256ac6257fd05a51ed3e01d0c4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_1ITYD7KSppSFgrVA
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75","reverse_dns":"185-53-57-75.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.75/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a01b5107996d90dd2993ddf2ccdfe401"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_1ITYD7KSppSFgrVA</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-harmless-loud-mouse</Hostname></Hostname><Group>vmgrp_BieB3aRLIwB09ZLp</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_mFrDiaB7mi67j8SG","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_E4izHWOjo8DwDYhp","state":"pending"},"virtual_machine_build":{"id":"vmbuild_E4izHWOjo8DwDYhp","state":"pending"},"hostname":"tf-harmless-loud-mouse"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b615f876b169fd93a50f9e72d30b99dc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vm-group-9O0jqSBeNHhM","resource_type":"virtual_machine_groups","resource_ids":["vmgrp_BieB3aRLIwB09ZLp"],"https_redirect":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_Qb8n6jV33TSQ7Z0L","name":"tf-acc-test-vm-group-9O0jqSBeNHhM","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_BieB3aRLIwB09ZLp","name":"web","segregate":true,"auto_segregate":false,"created_at":1717506911}}],"resource_ids":["vmgrp_BieB3aRLIwB09ZLp"],"ip_address":{"id":"ip_iaBjaLh26vAKs7OK","address":"77.72.7.57"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfUWI4bjZqVjMzVFNRN1owTC5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjA0MTMxNTEzWhgPMjA3NDA2MDQxMzE1MTNaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9RYjhuNmpWMzNUU1E3WjBMLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_Qb8n6jV33TSQ7Z0L
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_Qb8n6jV33TSQ7Z0L","name":"tf-acc-test-vm-group-9O0jqSBeNHhM","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_BieB3aRLIwB09ZLp","name":"web","segregate":true,"auto_segregate":false,"created_at":1717506911}}][...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_E4izHWOjo8DwDYhp
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_E4izHWOjo8DwDYhp","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.53.57.75</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-harmless-loud-mouse</Hostname>\n  </Hostname>\n  <Group>vmgrp_BieB3aRLIwB09ZLp</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_FpUNJQAYVfVF3wrH","name":"tf-harmless-loud-mouse","hostname":"tf-harmless-loud-mouse","fqdn":"tf-harmless-loud-mouse.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1717506911}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8cbc777d5fa2be586e34b3e648fef2af"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_FpUNJQAYVfVF3wrH
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_FpUNJQAYVfVF3wrH","name":"tf-harmless-loud-mouse","hostname":"tf-harmless-loud-mouse","fqdn":"tf-harmless-loud-mouse.terraform-acc-test.katapult.cloud","description":null,"created_at":1717506913,"initial_root_password":"eEvrkd4dO3uqPKbs","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_BieB3aRLIwB09ZLp","name":"web","segregate":true,"auto_segregate":false,"created_at":1717506911},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75","reverse_dns":"tf-harmless-loud-mouse.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.75/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_FpUNJQAYVfVF3wrH","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fa153e3592daae1adb9acb4b0525c5f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_FpUNJQAYVfVF3wrH
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_uA0j4GXbNNVowRmL","name":"Public
      Network on tf-harmless-loud-mouse","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6b87c50302e8457a8d09e108072ebaff"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_uA0j4GXbNNVowRmL
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_uA0j4GXbNNVowRmL","virtual_machine":{"id":"vm_FpUNJQAYVfVF3wrH","name":"tf-harmless-loud-mouse"},"name":"Public
      Network on tf-harmless-loud-mouse","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a1:3f:30:d1:32","state":"attached","ip_addresses":[{"id":"ip_1ITYD7KSppSFgrVA","address":"185.53.57.75"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4e70c16f0925aa325127fef634b07d0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_FpUNJQAYVfVF3wrH
    method: POST
  response:
    body: '{"task":{"id":"task_gYn2DtZYYfGxIeGZ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d89bc9cd3e10dddc14065b3d25b0883c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_gYn2DtZYYfGxIeGZ
    method: GET
  response:
    body: '{"task":{"id":"task_gYn2DtZYYfGxIeGZ","name":"Stop virtual machine","status":"pending","created_at":1717506937,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ebd3bd3abf071865e37419aa9e9298f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_FpUNJQAYVfVF3wrH
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_5c2ufwBjChCR0IKH","keep_until":1717679764,"object_id":"vm_FpUNJQAYVfVF3wrH","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_FpUNJQAYVfVF3wrH","name":"tf-harmless-loud-mouse","hostname":"tf-harmless-loud-mouse","fqdn":"tf-harmless-loud-mouse.terraform-acc-test.katapult.cloud","description":null,"created_at":1717506913,"initial_root_password":"eEvrkd4dO3uqPKbs","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_1ITYD7KSppSFgrVA
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_FpUNJQAYVfVF3wrH
    method: DELETE
  response:
    body: '{"task":{"id":"task_BMvcYkzrj8pXwxp1","name":"Purge items from trash","status":"pending","created_at":1717506965,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"93b667c1f9d2b4b9293df329bd9aff15"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_FpUNJQAYVfVF3wrH
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_BieB3aRLIwB09ZLp
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_BieB3aRLIwB09ZLp","name":"web","segregate":true,"auto_segregate":false,"created_at":1717506911}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3fb01a7a899e3c8c74b9ecf3c52315be"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
[...]
