---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-minimal-8zLiw997AQJs","resource_ids":[],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_5CnP2z48sYOm35uc","name":"tf-acc-test-minimal-8zLiw997AQJs","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_lLA85fawIsTuTVsg","address":"185.44.253.221"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfNUNuUDJ6NDhzWU9tMzV1Yy5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQx\nMjEyMTU0NzUxWhgPMjA3NDEyMTIxNTQ3NTFaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl81Q25QMno0OHNZT20zNXVjLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_5CnP2z48sYOm35uc
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_5CnP2z48sYOm35uc","name":"tf-acc-test-minimal-8zLiw997AQJs","api_reference":null,"resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"id":"ip_lLA85fawIsTuTVsg","address":"185.44.253.221"},"https_redirect":false,"backend_certificate":"-----BEG[...]
- request:
    body: '{"load_balancer":{"id":"lb_5CnP2z48sYOm35uc"},"properties":{"algorithm":"round_robin","backend_ssl":false,"certificates":[],"check_enabled":false,"check_fall":2,"check_http_statuses":"2","check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"destination_port":8080,"listen_port":80,"passthrough_ssl":false,"protocol":"HTTP","proxy_protocol":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_jvUG0MnuxHa2tKUu","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_5CnP2z48sYOm35uc","name":"tf-acc-test-minimal-8zLiw997AQJs"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ac1d20cb00d5fc6a3b047dfbe66d70f3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "748"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule?load_balancer_rule%5Bid%5D=lbrule_jvUG0MnuxHa2tKUu
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_jvUG0MnuxHa2tKUu","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_5CnP2z48sYOm35uc","name":"tf-acc-test-minimal-8zLiw997AQJs"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ac1d20cb00d5fc6a3b047dfbe66d70f3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "745"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"load_balancer_rule":{"id":"lbrule_jvUG0MnuxHa2tKUu"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule
    method: DELETE
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_jvUG0MnuxHa2tKUu"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20ef026582c66adeec7f1e1545b27775"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "739"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"load_balancer":{"id":"lb_5CnP2z48sYOm35uc"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_5CnP2z48sYOm35uc","name":"tf-acc-test-minimal-8zLiw997AQJs","api_reference":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"231de0caed985b2a39c58162e6f7b9ee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "737"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_5CnP2z48sYOm35uc
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "733"
    status: 404 Not Found
    code: 404
    duration: ""
