---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"issuer":"self_signed","name":"tf-acc-test-certificate-soi39f5lmrv4.example.com"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/certificates
    method: POST
  response:
    body: '{"certificate":{"additional_names":[],"authorization_method":null,"certificate":null,"certificate_api_url":"[REDACTED]","chain":null,"created_at":1788531914,"expires_at":null,"id":"cert_toxY12rK0QLZ19ZC","issue_error":null,"issuer":"self_signed","last_issued_at":null,"name":"tf-acc-test-certificate-soi39f5lmrv4.example.com","private_key":null,"state":"pending"},"task":{"created_at":1788531914,"finished_at":null,"id":"task_kX6LPzY6LDh3vQCu","name":"Issue
      certificate","progress":0,"started_at":null,"status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed474e3154d248270302e7ae809d48a7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_kX6LPzY6LDh3vQCu
    method: GET
  response:
    body: '{"task":{"id":"task_kX6LPzY6LDh3vQCu","name":"Issue certificate","status":"pending","created_at":1788531914,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a523395eb9b0490f23fdd84bc6447dc6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"https_redirect":false,"name":"tf-acc-test-certificate-soI39F5lmRv4","resource_ids":[],"resource_type":"virtual_machines"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/load_balancers
    method: POST
  response:
    body: '{"annotations":[],"load_balancer":{"api_reference":null,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfWnIzMlJXY2lZeFIwS01wNi5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjYw\nOTA0MTQyNTE2WhgPMjA3NjA5MDQxNDI1MTZaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl9acjMyUldjaVl4UjBLTXA2LmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_Zr32RWciYxR0KMp6
    method: GET
  response:
    body: '{"annotations":[],"load_balancer":{"api_reference":null,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfWnIzMlJXY2lZeFIwS01wNi5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0Y[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/certificates/certificate?certificate%5Bid%5D=cert_toxY12rK0QLZ19ZC
    method: GET
  response:
    body: '{"certificate":{"additional_names":[],"authorization_method":null,"certificate":"-----BEGIN
      CERTIFICATE-----\nMIIG4jCCBMqgAwIBAgIBATANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE5MDcGA1UEAwwwdGYtYWNjLXRlc3QtY2VydGlmaWNh\ndGUtc29pMzlmNWxtcnY0LmV4YW1wbGUuY29tMREwDwYDVQQKDAhLYXR[...]
- request:
    body: '{"load_balancer":{"id":"lb_Zr32RWciYxR0KMp6"},"properties":{"algorithm":"round_robin","backend_ssl":false,"certificates":[{"id":"cert_toxY12rK0QLZ19ZC"}],"check_enabled":false,"check_fall":2,"check_http_statuses":"2","check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"destination_port":8443,"listen_port":443,"passthrough_ssl":false,"protocol":"HTTPS","proxy_protocol":false}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_4LWERBXfafTBT3d0","algorithm":"round_robin","destination_port":8443,"listen_port":443,"protocol":"HTTPS","proxy_protocol":false,"certificates":[{"id":"cert_toxY12rK0QLZ19ZC","name":"tf-acc-test-certificate-soi39f5lmrv4.example.com","additional_names":[],"state":"issued"}],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_Zr32RWciYxR0KMp6","name":"tf-acc-test-certificate-soI39F5lmRv4"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b2830ebbc46b6684e8a69e4f00ca8e3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule?load_balancer_rule%5Bid%5D=lbrule_4LWERBXfafTBT3d0
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_4LWERBXfafTBT3d0","algorithm":"round_robin","destination_port":8443,"listen_port":443,"protocol":"HTTPS","proxy_protocol":false,"certificates":[{"id":"cert_toxY12rK0QLZ19ZC","name":"tf-acc-test-certificate-soi39f5lmrv4.example.com","additional_names":[],"state":"issued"}],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5,"check_http_statuses":"2","load_balancer":{"id":"lb_Zr32RWciYxR0KMp6","name":"tf-acc-test-certificate-soI39F5lmRv4"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b2830ebbc46b6684e8a69e4f00ca8e3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"load_balancer_rule":{"id":"lbrule_4LWERBXfafTBT3d0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/rules/load_balancer_rule
    method: DELETE
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_4LWERBXfafTBT3d0"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5df48a102ed5eb3ee6ecf41a8c27890d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"certificate":{"id":"cert_toxY12rK0QLZ19ZC"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/certificates/certificate
    method: DELETE
  response:
    body: '{"certificate":{"additional_names":[],"authorization_method":null,"certificate":"-----BEGIN
      CERTIFICATE-----\nMIIG4jCCBMqgAwIBAgIBATANBgkqhkiG9w0BAQsFADCBjzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE5MDcGA1UEAwwwdGYtYWNjLXRlc3QtY2VydGlmaWNh\ndGU[...]
- request:
    body: '{"load_balancer":{"id":"lb_Zr32RWciYxR0KMp6"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_Zr32RWciYxR0KMp6","name":"tf-acc-test-certificate-soI39F5lmRv4","api_reference":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71941f13ee9209f19ee3d547f8b7b1da"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/load_balancer?load_balancer%5Bid%5D=lb_Zr32RWciYxR0KMp6
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
