---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_nlPbuGTVBlirpgua","name":"web","segregate":true,"auto_segregate":false,"created_at":1718299141}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbe3a4165272cb122ca2f59fe63de155"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_nlPbuGTVBlirpgua
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_nlPbuGTVBlirpgua","name":"web","segregate":true,"auto_segregate":false,"created_at":1718299141}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbe3a4165272cb122ca2f59fe63de155"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_IDhBDYgLLIt1xJpg","address":"185.44.253.250","reverse_dns":"185-44-253-250.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dccfcdf78ca6cfb1a4114a2e87cf921e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_IDhBDYgLLIt1xJpg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_IDhBDYgLLIt1xJpg","address":"185.44.253.250","reverse_dns":"185-44-253-250.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3356fcfc13f7904ca4a481e8f89cb089"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-22-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_IDhBDYgLLIt1xJpg</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-hasty-odd-sheep</Hostname></Hostname><Group>vmgrp_nlPbuGTVBlirpgua</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_rKvCnUo87K3oGoBc","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_yXUc1SjGkgFlIO2K","state":"pending"},"virtual_machine_build":{"id":"vmbuild_yXUc1SjGkgFlIO2K","state":"pending"},"hostname":"tf-hasty-odd-sheep"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"27374669baa431f976db0b07bbaec3ea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vm-group-Bdme4wx4SgSJ","resource_type":"virtual_machine_groups","resource_ids":["vmgrp_nlPbuGTVBlirpgua"],"https_redirect":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_wTEskQGuCFwrr3am","name":"tf-acc-test-vm-group-Bdme4wx4SgSJ","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_nlPbuGTVBlirpgua","name":"web","segregate":true,"auto_segregate":false,"created_at":1718299141}}],"resource_ids":["vmgrp_nlPbuGTVBlirpgua"],"ip_address":{"id":"ip_uvstQjWDUd6qyN3N","address":"185.44.254.190"},"https_redirect":false,"backend_certificate":"-----BEGIN
      CERTIFICATE-----\nMIIHAzCCBOugAwIBAgIBATANBgkqhkiG9w0BAQsFADCBlzELMAkGA1UEBhMCR0Ix\nDzANBgNVBAgMBkxvbmRvbjE3MDUGA1UEAwwubGJfd1RFc2tRR3VDRndycjNhbS5s\nYi1iYWNrZW5kcy5rYXRhcHVsdC5jbG91ZDERMA8GA1UECgwIS2F0YXB1bHQxKzAp\nBgNVBAsMIkxvYWQgQmFsYW5jZXIgQmFja2VuZCBDZXJ0aWZpY2F0ZXMwIBcNMjQw\nNjEzMTcxOTAyWhgPMjA3NDA2MTMxNzE5MDJaMIGXMQswCQYDVQQGEwJHQjEPMA0G\nA1UECAwGTG9uZG9uMTcwNQYDVQQDDC5sYl93VEVza1FHdUNGd3JyM2FtLmxiLWJh\nY2tlbmRzLmthdGFwdWx0LmNsb3VkMREwDwYDVQQKDAhLYXRhcHVsdDErMCkGA1UE\nCw[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_wTEskQGuCFwrr3am
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_wTEskQGuCFwrr3am","name":"tf-acc-test-vm-group-Bdme4wx4SgSJ","api_reference":null,"resource_type":"virtual_machine_groups","resources":[{"type":"VirtualMachineGroup","value":{"id":"vmgrp_nlPbuGTVBlirpgua","name":"web","segregate":true,"auto_segregate":false,"created_at":1718299141}}][...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_yXUc1SjGkgFlIO2K
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_yXUc1SjGkgFlIO2K","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.250</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-hasty-odd-sheep</Hostname>\n  </Hostname>\n  <Group>vmgrp_nlPbuGTVBlirpgua</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1718299142}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"950364b1ed1683aaf5a9a92506ca7f03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_yXUc1SjGkgFlIO2K
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_yXUc1SjGkgFlIO2K","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-22-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.253.250</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-hasty-odd-sheep</Hostname>\n  </Hostname>\n  <Group>vmgrp_nlPbuGTVBlirpgua</Group>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_qc0XyhxMsuU0xnx2","name":"tf-hasty-odd-sheep","hostname":"tf-hasty-odd-sheep","fqdn":"tf-hasty-odd-sheep.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1718299142}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fd8c06aa1c4f557f096d995d825a333e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_qc0XyhxMsuU0xnx2
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_qc0XyhxMsuU0xnx2","name":"tf-hasty-odd-sheep","hostname":"tf-hasty-odd-sheep","fqdn":"tf-hasty-odd-sheep.terraform-acc-test.katapult.cloud","description":null,"created_at":1718299145,"initial_root_password":"YXtBIkanTRaFVrUI","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_nlPbuGTVBlirpgua","name":"web","segregate":true,"auto_segregate":false,"created_at":1718299141},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_IDhBDYgLLIt1xJpg","address":"185.44.253.250","reverse_dns":"tf-hasty-odd-sheep.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_qc0XyhxMsuU0xnx2","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58dbad615282bb48badeef73e8f430d4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_qc0XyhxMsuU0xnx2
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_kXz0JpOEMWflkDIw","name":"Public
      Network on tf-hasty-odd-sheep","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_IDhBDYgLLIt1xJpg","address":"185.44.253.250"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b3f0e4ccfed276bc0e6b1bd79b48b11"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_kXz0JpOEMWflkDIw
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_kXz0JpOEMWflkDIw","virtual_machine":{"id":"vm_qc0XyhxMsuU0xnx2","name":"tf-hasty-odd-sheep"},"name":"Public
      Network on tf-hasty-odd-sheep","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:f8:82:03:a7:6d","state":"attached","ip_addresses":[{"id":"ip_IDhBDYgLLIt1xJpg","address":"185.44.253.250"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42ea278e6d39eb85ce8fc73b9029b12d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_qc0XyhxMsuU0xnx2
    method: POST
  response:
    body: '{"task":{"id":"task_Pqh7wIcHZctStwwJ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6180080bf70f2b540f441c686cc9facb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Pqh7wIcHZctStwwJ
    method: GET
  response:
    body: '{"task":{"id":"task_Pqh7wIcHZctStwwJ","name":"Stop virtual machine","status":"pending","created_at":1718299162,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71457b797bbe0e229ea6179f9a87eaef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_qc0XyhxMsuU0xnx2
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_bFtr8R2J7N56aGtG","keep_until":1718471990,"object_id":"vm_qc0XyhxMsuU0xnx2","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_qc0XyhxMsuU0xnx2","name":"tf-hasty-odd-sheep","hostname":"tf-hasty-odd-sheep","fqdn":"tf-hasty-odd-sheep.terraform-acc-test.katapult.cloud","description":null,"created_at":1718299145,"initial_root_password":"YXtBIkanTRaFVrUI","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"Un[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_IDhBDYgLLIt1xJpg
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_qc0XyhxMsuU0xnx2
    method: DELETE
  response:
    body: '{"task":{"id":"task_9ZL7gNaJjsfj39tf","name":"Purge items from trash","status":"pending","created_at":1718299191,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bab3ad9f99bd13a5e24c883038539d3d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_qc0XyhxMsuU0xnx2
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_nlPbuGTVBlirpgua
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_nlPbuGTVBlirpgua","name":"web","segregate":true,"auto_segregate":false,"created_at":1718299141}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbe3a4165272cb122ca2f59fe63de155"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
[...]
