---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_LiD4NH1dApXwoPJF","address":"185.199.222.170","reverse_dns":"185-199-222-170.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.170/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"301f879a1e3eef842164a4e13b725232"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_LiD4NH1dApXwoPJF
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_LiD4NH1dApXwoPJF","address":"185.199.222.170","reverse_dns":"185-199-222-170.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.170/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"359fdce0ef43b9df2e875bc3f91bcbb3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_LiD4NH1dApXwoPJF</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-kind-noisy-leopard</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_ySskPHEnAb3pg8si","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_2MtTDN0WPl3YjxRb","state":"pending"},"virtual_machine_build":{"id":"vmbuild_2MtTDN0WPl3YjxRb","state":"pending"},"hostname":"tf-kind-noisy-leopard"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9fbddce287c07e0926d6c8cf94f203a1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_2MtTDN0WPl3YjxRb
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_2MtTDN0WPl3YjxRb","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.199.222.170</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-kind-noisy-leopard</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_6kT34XsZj95jMPwK","name":"tf-kind-noisy-leopard","hostname":"tf-kind-noisy-leopard","fqdn":"tf-kind-noisy-leopard.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1717419482}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e559292a9bd9662b99de48ea37d43f0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_6kT34XsZj95jMPwK
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_6kT34XsZj95jMPwK","name":"tf-kind-noisy-leopard","hostname":"tf-kind-noisy-leopard","fqdn":"tf-kind-noisy-leopard.terraform-acc-test.katapult.cloud","description":null,"created_at":1717419484,"initial_root_password":"FPqzGXX2OzCj18IL","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_LiD4NH1dApXwoPJF","address":"185.199.222.170","reverse_dns":"tf-kind-noisy-leopard.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.170/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_6kT34XsZj95jMPwK","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb12c6630337835e0494e03371b84c85"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_6kT34XsZj95jMPwK
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_yV15WpVKGuHekKiS","name":"Public
      Network on tf-kind-noisy-leopard","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_LiD4NH1dApXwoPJF","address":"185.199.222.170"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3591f4168194726317d2076079c2c780"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_yV15WpVKGuHekKiS
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_yV15WpVKGuHekKiS","virtual_machine":{"id":"vm_6kT34XsZj95jMPwK","name":"tf-kind-noisy-leopard"},"name":"Public
      Network on tf-kind-noisy-leopard","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:79:c3:7f:72:99","state":"attached","ip_addresses":[{"id":"ip_LiD4NH1dApXwoPJF","address":"185.199.222.170"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a6a685ba462cb4dea7bdbce18385cb2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vms-update-s71JpWEbBxBT","resource_type":"virtual_machines","resource_ids":["vm_6kT34XsZj95jMPwK"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_t3nas8uDWCEyVuGL","name":"tf-acc-test-vms-update-s71JpWEbBxBT","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_6kT34XsZj95jMPwK","name":"tf-kind-noisy-leopard","hostname":"tf-kind-noisy-leopard","fqdn":"tf-kind-noisy-leopard.terraform-acc-test.katapult.cloud","description":null,"created_at":1717419484,"initial_root_password":"FPqzGXX2OzCj18IL","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_co[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_t3nas8uDWCEyVuGL
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_t3nas8uDWCEyVuGL","name":"tf-acc-test-vms-update-s71JpWEbBxBT","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_6kT34XsZj95jMPwK","name":"tf-kind-noisy-leopard","hostname":"tf-kind-noisy-leopard","fqdn":"tf-kind-noisy-leo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_WppSNinydgCSUIS4
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_WppSNinydgCSUIS4","address":"185.44.252.230","reverse_dns":"185-44-252-230.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.230/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3601bf8616c8d59a6409a7d5ad4792c5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_FjZm8U3WHzOmvca0
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_FjZm8U3WHzOmvca0","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTempl[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Vu7KzW0AKJf1FemL
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Vu7KzW0AKJf1FemL","name":"tf-zealous-green-cat","hostname":"tf-zealous-green-cat","fqdn":"tf-zealous-green-cat.terraform-acc-test.katapult.cloud","description":null,"created_at":1717419513,"initial_root_password":"FQA0jiL0UJIB3GEy","state":"started","zone":{"id":"zone_7Uuz6wzE1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_Vu7KzW0AKJf1FemL
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Nd7RX7TQOfHM3ak1","name":"Public
      Network on tf-zealous-green-cat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_WppSNinydgCSUIS4","address":"185.44.252.230"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c188d20935affa61736649332d8fe1f7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Nd7RX7TQOfHM3ak1
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Nd7RX7TQOfHM3ak1","virtual_machine":{"id":"vm_Vu7KzW0AKJf1FemL","name":"tf-zealous-green-cat"},"name":"Public
      Network on tf-zealous-green-cat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:c8:33:a5:89:40","state":"attached","ip_addresses":[{"id":"ip_WppSNinydgCSUIS4","address":"185.44.252.230"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f89b2b35daa19b9a5454ffb1757a1e8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "163"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"load_balancer":{"id":"lb_t3nas8uDWCEyVuGL"},"properties":{"resource_type":"virtual_machines","resource_ids":["vm_6kT34XsZj95jMPwK","vm_Vu7KzW0AKJf1FemL"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_t3nas8uDWCEyVuGL","name":"tf-acc-test-vms-update-s71JpWEbBxBT","api_reference":null,"resource_type":"virtual_machine[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_6kT34XsZj95jMPwK
    method: POST
  response:
    body: '{"task":{"id":"task_8GusD1BMaXuju3mw","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76c974393ce0973fea34eaa591055336"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "128"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Vu7KzW0AKJf1FemL
    method: POST
  response:
    body: '{"task":{"id":"task_Hx8AotfVqeNZ94iy","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"233dd6b51fa0a482aa2c8903f0ee7663"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "127"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_8GusD1BMaXuju3mw
    method: GET
  response:
    body: '{"task":{"id":"task_8GusD1BMaXuju3mw","name":"Stop virtual machine","status":"running","created_at":1717419536,"started_at":1717419536,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66138ef1cb8ea2c947d60776d439c409"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "126"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Hx8AotfVqeNZ94iy
    method: GET
  response:
    body: '{"task":{"id":"task_Hx8AotfVqeNZ94iy","name":"Stop virtual machine","status":"running","created_at":1717419536,"started_at":1717419536,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4bc165898ba9a79bb498caed0c47b48"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "125"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_6kT34XsZj95jMPwK
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_pOozZKTXdDeeOOcY","keep_until":1717592343,"object_id":"vm_6kT34XsZj95jMPwK","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_6kT34XsZj95jMPwK","name":"tf-kind-noisy-leopard","hostname":"tf-kind-noisy-leopard","fqdn":"tf-kind-noisy-leopard.terraform-acc-test.katapult.cloud","description":null,"created_at":1717419484,"initial_root_password":"FPqzGXX2OzCj18IL","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_LiD4NH1dApXwoPJF
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_6kT34XsZj95jMPwK
    method: DELETE
  response:
    body: '{"task":{"id":"task_tu4jBgnnTnYZXPiS","name":"Purge items from trash","status":"pending","created_at":1717419544,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d4ac9e2e5b000a405cc0ddca4087340e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_WppSNinydgCSUIS4
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_Vu7KzW0AKJf1FemL
    method: DELETE
  response:
    body: '{"task":{"id":"task_qzunBiwuntKCuHKa","name":"Purge items from trash","status":"pending","created_at":1717419544,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e82fc1d69c95e370c714e103ba68d9d1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_6kT34XsZj95jMPwK
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
