---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_2yl3tNxAQHsXE2Cj","address":"185.44.252.43","reverse_dns":"185-44-252-43.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.43/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc6b8761bd70be6281abfd75dbb10f02"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_2yl3tNxAQHsXE2Cj
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2yl3tNxAQHsXE2Cj","address":"185.44.252.43","reverse_dns":"185-44-252-43.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.43/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b8659cee22b8f354db09cb0efa66b97"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_lteBYXLoc7mDAAsg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_lteBYXLoc7mDAAsg","address":"185.44.253.155","reverse_dns":"185-44-253-155.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.155/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e63473f4f6d7b2191eedff2b4e07e3a8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_2yl3tNxAQHsXE2Cj</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-prompt-savory-pewter</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_fdWALbO2b506g4XW","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_0qKBY69RxVg9hut3","state":"pending"},"virtual_machine_build":{"id":"vmbuild_0qKBY69RxVg9hut3","state":"pending"},"hostname":"tf-prompt-savory-pewter"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20c396d2b2e29a518a852c003e792baf"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_0qKBY69RxVg9hut3
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_0qKBY69RxVg9hut3","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.252.43</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-prompt-savory-pewter</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":null,"created_at":1717414929}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"104f63b114b9d83ad7e14aa43af24bab"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_OrbRB6bXK74RE8Q3
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_OrbRB6bXK74RE8Q3","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTempl[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_0qKBY69RxVg9hut3
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_0qKBY69RxVg9hut3","spec_xml":"<?xml
      version=\"1.0\"?>\n<VirtualMachineSpec>\n  <DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter>\n  <Resources>\n    <Package
      by=\"permalink\">rock-3</Package>\n  </Resources>\n  <DiskTemplate>\n    <DiskTemplate
      by=\"permalink\">templates/ubuntu-18-04</DiskTemplate>\n    <Version by=\"number\">1</Version>\n    <Option
      key=\"install_agent\">true</Option>\n  </DiskTemplate>\n  <NetworkInterfaces>\n    <NetworkInterface>\n      <Network>netw_gVRkZdSKczfNg34P</Network>\n      <IPAddressAllocation
      type=\"existing\">\n        <IPAddress by=\"address\">185.44.252.43</IPAddress>\n      </IPAddressAllocation>\n    </NetworkInterface>\n  </NetworkInterfaces>\n  <Hostname>\n    <Hostname>tf-prompt-savory-pewter</Hostname>\n  </Hostname>\n  <AuthorizedKeys
      continuous_management=\"no\">\n    <Users all=\"yes\"/>\n    <SSHKeys all=\"yes\"/>\n  </AuthorizedKeys>\n</VirtualMachineSpec>\n","state":"building","virtual_machine":{"id":"vm_qdHFWBpftZ6lBJ7o","name":"tf-prompt-savory-pewter","hostname":"tf-prompt-savory-pewter","fqdn":"tf-prompt-savory-pewter.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1717414929}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"77b4e1a475411fed8b9f4172d7251ece"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_qdHFWBpftZ6lBJ7o
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_qdHFWBpftZ6lBJ7o","name":"tf-prompt-savory-pewter","hostname":"tf-prompt-savory-pewter","fqdn":"tf-prompt-savory-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414932,"initial_root_password":"12yrAqwp2n6GomJt","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_2yl3tNxAQHsXE2Cj","address":"185.44.252.43","reverse_dns":"tf-prompt-savory-pewter.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.43/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_qdHFWBpftZ6lBJ7o","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a30629fb11708a95441c7a5e135d968"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_qdHFWBpftZ6lBJ7o
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_eBBBGdOipSjG2XAY","name":"Public
      Network on tf-prompt-savory-pewter","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_2yl3tNxAQHsXE2Cj","address":"185.44.252.43"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a7dbf3a92f90a04b0838f8e277b8fba3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_eBBBGdOipSjG2XAY
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_eBBBGdOipSjG2XAY","virtual_machine":{"id":"vm_qdHFWBpftZ6lBJ7o","name":"tf-prompt-savory-pewter"},"name":"Public
      Network on tf-prompt-savory-pewter","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:b0:d1:b9:c6:92","state":"detached","ip_addresses":[{"id":"ip_2yl3tNxAQHsXE2Cj","address":"185.44.252.43"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9f7d5a36248100b46a112aa4a6636ac0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_h5FslnrOESnV4DIT
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_h5FslnrOESnV4DIT","name":"tf-lunar-faithful-boat","hostname":"tf-lunar-faithful-boat","fqdn":"tf-lunar-faithful-boat.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414932,"initial_root_password":"SU6LlPVEA0W5TQ7W","state":"started","zone":{"id":"zone_7Uu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_h5FslnrOESnV4DIT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_TQEE6UGUSiD5FFMA","name":"Public
      Network on tf-lunar-faithful-boat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_lteBYXLoc7mDAAsg","address":"185.44.253.155"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f87286090f7d360bf7189b8b55f625c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_TQEE6UGUSiD5FFMA
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_TQEE6UGUSiD5FFMA","virtual_machine":{"id":"vm_h5FslnrOESnV4DIT","name":"tf-lunar-faithful-boat"},"name":"Public
      Network on tf-lunar-faithful-boat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:40:3b:27:f6:87","state":"attached","ip_addresses":[{"id":"ip_lteBYXLoc7mDAAsg","address":"185.44.253.155"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d547c8664590b0fa7f03379ae568825b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-vms-update-IrtY96LB4KuJ","resource_type":"virtual_machines","resource_ids":["vm_h5FslnrOESnV4DIT","vm_qdHFWBpftZ6lBJ7o"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_KaGI5Y98Jz9VJqJb","name":"tf-acc-test-vms-update-IrtY96LB4KuJ","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_h5FslnrOESnV4DIT","name":"tf-lunar-faithful-boat","hostname":"tf-lunar-faithful-boat","fqdn":"tf-lunar-faithful-boat.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414932,"initial_root_password":"SU6LlPVEA0W5TQ7W","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_KaGI5Y98Jz9VJqJb
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_KaGI5Y98Jz9VJqJb","name":"tf-acc-test-vms-update-IrtY96LB4KuJ","api_reference":null,"resource_type":"virtual_machines","resources":[{"type":"VirtualMachine","value":{"id":"vm_h5FslnrOESnV4DIT","name":"tf-lunar-faithful-boat","hostname":"tf-lunar-faithful-boat","fqdn":"tf-lunar-faithf[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_qdHFWBpftZ6lBJ7o
    method: POST
  response:
    body: '{"task":{"id":"task_1YeYXq9kWlAjkvtt","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"007374c73932067bcd66507132b42b72"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "139"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_h5FslnrOESnV4DIT
    method: POST
  response:
    body: '{"task":{"id":"task_F2PmgVATHRc7Mdga","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"249dd8f3f58c88d757c7c56ad5a928f3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_1YeYXq9kWlAjkvtt
    method: GET
  response:
    body: '{"task":{"id":"task_1YeYXq9kWlAjkvtt","name":"Stop virtual machine","status":"running","created_at":1717414969,"started_at":1717414969,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3a763e8b3c33546050cf034ffc28fb4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "137"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_F2PmgVATHRc7Mdga
    method: GET
  response:
    body: '{"task":{"id":"task_F2PmgVATHRc7Mdga","name":"Stop virtual machine","status":"running","created_at":1717414969,"started_at":1717414970,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5a64efc33c65dbf0e4daf4113697491"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "136"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_qdHFWBpftZ6lBJ7o
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_lR3In9oP4SSjGQ79","keep_until":1717587776,"object_id":"vm_qdHFWBpftZ6lBJ7o","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_qdHFWBpftZ6lBJ7o","name":"tf-prompt-savory-pewter","hostname":"tf-prompt-savory-pewter","fqdn":"tf-prompt-savory-pewter.terraform-acc-test.katapult.cloud","description":null,"created_at":1717414932,"initial_root_password":"12yrAqwp2n6GomJt","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGn[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_2yl3tNxAQHsXE2Cj
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "130"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_qdHFWBpftZ6lBJ7o
    method: DELETE
  response:
    body: '{"task":{"id":"task_7EyQCsGPt0AIDqYf","name":"Purge items from trash","status":"pending","created_at":1717414977,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"56c0ba392bb5f6359611811c6e325e7d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "127"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_lteBYXLoc7mDAAsg
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "128"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_h5FslnrOESnV4DIT
    method: DELETE
  response:
    body: '{"task":{"id":"task_RXx0Y71bgTTJ3daV","name":"Purge items from trash","status":"pending","created_at":1717414977,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"acce927eb26e92149cc5d831af95892b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "126"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_qdHFWBpftZ6lBJ7o
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
