---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster?object_storage_cluster%5Bregion%5D=uk-lon-1&organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"object_storage_account":{"region":"uk-lon-1","created_at":1769182668,"provisioning_state":"provisioned","size":1079902,"bucket_count":3,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97dd7dc78daa20bc9634dbd2f9083f6a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"all_buckets_read":true,"all_objects_read":true,"all_objects_write":true,"name":"tf-acc-test-update-permissions-nlewk6egwb1g"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster/access_keys
    method: POST
  response:
    body: '{"object_storage_access_key":{"id":"objkey_fcwTImfsYQCgVJWg","name":"tf-acc-test-update-permissions-nlewk6egwb1g","created_at":1777969109,"region":"uk-lon-1","state":"pending","all_buckets_read":true,"all_objects_read":true,"all_objects_write":true,"read_buckets":[],"write_buckets":[],"server_url":null,"s3_access_key_id":null,"s3_secret_access_key":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"232fe4929b793924f20622951b90daba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"access_key":{"id":"objkey_fcwTImfsYQCgVJWg"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/access_keys/access_key/generate_credentials
    method: POST
  response:
    body: '{"error":{"code":"object_storage_provisioning_error","description":"Provisioning
      is in progress. Please try again later.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/object_storage/access_keys/access_key?access_key%5Bid%5D=objkey_fcwTImfsYQCgVJWg
    method: GET
  response:
    body: '{"object_storage_access_key":{"id":"objkey_fcwTImfsYQCgVJWg","name":"tf-acc-test-update-permissions-nlewk6egwb1g","created_at":1777969109,"region":"uk-lon-1","state":"pending","all_buckets_read":true,"all_objects_read":true,"all_objects_write":true,"read_buckets":[],"write_buckets":[],"server_url":"uk-lon-1.katapultobjects.com:443","s3_access_key_id":"ccff34aa67f64076bdf05345b3758c7e","s3_secret_access_key":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc0abb3d37a3b609437a012f92642662"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"access_key":{"id":"objkey_fcwTImfsYQCgVJWg"},"properties":{"all_buckets_read":false,"all_objects_read":false,"all_objects_write":false,"name":"tf-acc-test-update-permissions-nlewk6egwb1g"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/access_keys/access_key
    method: PATCH
  response:
    body: '{"object_storage_access_key":{"id":"objkey_fcwTImfsYQCgVJWg","name":"tf-acc-test-update-permissions-nlewk6egwb1g","created_at":1777969109,"region":"uk-lon-1","state":"pending","all_buckets_read":false,"all_objects_read":false,"all_objects_write":false,"read_buckets":[],"write_buckets":[],"server_url":"uk-lon-1.katapultobjects.com:443","s3_access_key_id":"ccff34aa67f64076bdf05345b3758c7e","s3_secret_access_key":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89ef1fc74b49a01dc79cd6f386cce4c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"access_key":{"id":"objkey_fcwTImfsYQCgVJWg"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/access_keys/access_key
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c955e57777ec0d73639dca6748560d00"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
[...]
