---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster?object_storage_cluster%5Bregion%5D=uk-lon-1&organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"error":{"code":"object_storage_account_not_found","description":"No object
      storage account was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster
    method: POST
  response:
    body: '{"object_storage_account":{"region":"uk-lon-1","created_at":1786460689,"provisioning_state":"provisioning","size":0,"bucket_count":0,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26d809985bd94b5d23c47ba6805f225e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/access_keys?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=100
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":100,"large_set":false},"object_storage_access_keys":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0874faafe98c8fe26b70b1d7322206de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_xVWhGYHDLtVSV3WL","keep_until":1786633506,"object_type":"ObjectStorageAccount"},"object_storage_account":{"region":"uk-lon-1","created_at":1786460689,"provisioning_state":"provisioned","size":0,"bucket_count":0,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dc98deedd0c28d1f20174aff7510223d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_xVWhGYHDLtVSV3WL"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_JuhTJD2A9VDErxeF","name":"Purge items from trash","status":"pending","created_at":1786460711,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f465e9fafd6b6f4f133eddec6d92940"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_xVWhGYHDLtVSV3WL
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_xVWhGYHDLtVSV3WL","keep_until":1786633506,"object_id":"objacc_jyXeluq39tSTwkOz","object_type":"ObjectStorageAccount"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bfe270d57311694c3b77b0c1d3ba2beb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
