---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster?object_storage_cluster%5Bregion%5D=uk-lon-1&organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"error":{"code":"object_storage_account_not_found","description":"No object
      storage account was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster
    method: POST
  response:
    body: '{"object_storage_account":{"region":"uk-lon-1","created_at":1788794075,"provisioning_state":"provisioning","size":0,"bucket_count":0,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b45980ea8043496f9c1bcf25033fa17"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/access_keys?organization%5Bsub_domain%5D=terraform-acc-test&page=1&per_page=100
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":100,"large_set":false},"object_storage_access_keys":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0874faafe98c8fe26b70b1d7322206de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_ylCFwxJUgPF5CRdW","keep_until":1788966882,"object_type":"ObjectStorageAccount"},"object_storage_account":{"region":"uk-lon-1","created_at":1788794075,"provisioning_state":"provisioned","size":0,"bucket_count":0,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2fef58709fb497b99f7c0b8cbae26be2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_ylCFwxJUgPF5CRdW"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_qho6ezb4BB6g6ERU","name":"Purge items from trash","status":"pending","created_at":1788794086,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"057cafbe2038d6ad4d3f99ab2c98b1f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_ylCFwxJUgPF5CRdW
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_ylCFwxJUgPF5CRdW","keep_until":1788966882,"object_id":"objacc_PpiYwEejG2GK74Gb","object_type":"ObjectStorageAccount"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"770c627bdf04f06c2702af8ac54f9393"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
