---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-rules-ui4onm77bisy","associations":[],"allow_all_inbound":true,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_63aGh7frqqmWclZA","name":"tf-acc-test-rules-ui4onm77bisy","allow_all_inbound":true,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4abf3286815257b5569710030a8ae3cb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "869"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_63aGh7frqqmWclZA
    method: GET
  response:
    body: '{"security_group":{"id":"sg_63aGh7frqqmWclZA","name":"tf-acc-test-rules-ui4onm77bisy","allow_all_inbound":true,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4abf3286815257b5569710030a8ae3cb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "868"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_63aGh7frqqmWclZA
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "867"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-rules-ui4onm77bisy","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_k7ANziW7ScEPumZr","name":"tf-acc-test-rules-ui4onm77bisy","segregate":true,"created_at":1679595212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1af5ee5e837c2ed30c22364aed5e4568"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "853"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_k7ANziW7ScEPumZr
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_k7ANziW7ScEPumZr","name":"tf-acc-test-rules-ui4onm77bisy","segregate":true,"created_at":1679595212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1af5ee5e837c2ed30c22364aed5e4568"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "852"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_63aGh7frqqmWclZA"},"properties":{"name":"%!s(MISSING)","associations":["vmgrp_k7ANziW7ScEPumZr"],"allow_all_inbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_63aGh7frqqmWclZA","name":"%!s(MISSING)","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_k7ANziW7ScEPumZr"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5bba5325e846f43195eeaa4d9216d5ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "851"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_63aGh7frqqmWclZA/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_6LtmcoQN85qVoxlY","security_group":{"id":"sg_63aGh7frqqmWclZA","name":"%!s(MISSING)"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19cb5c96053d40c781b91ef0e69cd249"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "850"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_wuouqoU7EWKNp0zi
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wuouqoU7EWKNp0zi","name":"tf-acc-test-rules-ui4onm77bisy","segregate":true,"created_at":1679595215}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b7ab3a12e1b3ac8a14219db7da4167a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "822"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_wuouqoU7EWKNp0zi
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wuouqoU7EWKNp0zi","name":"tf-acc-test-rules-ui4onm77bisy","segregate":true,"created_at":1679595215}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b7ab3a12e1b3ac8a14219db7da4167a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "793"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_7nHNjf3bFSqbqaxS
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_7nHNjf3bFSqbqaxS","name":"tf-acc-test-rules-ui4onm77bisy","segregate":true,"created_at":1679595217}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b16c6abbfb2d8851047354157fec729"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "791"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_O89AcIOTMIuSYIlR
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_O89AcIOTMIuSYIlR","security_group":{"id":"sg_63aGh7frqqmWclZA","name":"tf-acc-test-rules-ui4onm77bisy"},"direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aaad727c09acb0ec5ddce3d1014fc5b1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "789"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_itUlG9jRBDqcsXXE
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_itUlG9jRBDqcsXXE"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ffa74da5a96bfbccc1ebd0d5bb071e18"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "788"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_7nHNjf3bFSqbqaxS
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_7nHNjf3bFSqbqaxS","name":"tf-acc-test-rules-ui4onm77bisy","segregate":true,"created_at":1679595217}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b16c6abbfb2d8851047354157fec729"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "766"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"protocol":"TCP","ports":"80,443","targets":["all:ipv6","all:ipv4"],"notes":"HTTP & HTTPS"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_4Vhs36gyIk0fvL7h
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_4Vhs36gyIk0fvL7h","security_group":{"id":"sg_63aGh7frqqmWclZA","name":"tf-acc-test-rules-ui4onm77bisy"},"direction":"outbound","protocol":"TCP","ports":"80,443","targets":["all:ipv6","all:ipv4"],"notes":"HTTP
      \u0026 HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4738ab86cdf87bf9374606e051c56166"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "763"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_X8mUy44tIBAC7wG7
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_X8mUy44tIBAC7wG7"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb547e8cef5aed3f7a148c1e8f22a65f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "762"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_6LtmcoQN85qVoxlY
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "743"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_DfA1aYSiM6NRUJMv
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "742"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_qMVajgYleKEiAsw6
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "740"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_k7ANziW7ScEPumZr
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_k7ANziW7ScEPumZr","name":"tf-acc-test-rules-ui4onm77bisy","segregate":true,"created_at":1679595212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1af5ee5e837c2ed30c22364aed5e4568"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "719"
    status: 200 OK
    code: 200
    duration: ""
[...]
