---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":false,"associations":[],"name":"tf-acc-test-rule-action-rrjbFI37pDie"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_w7DI4kkZlOKVI3T5","name":"tf-acc-test-rule-action-rrjbFI37pDie","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f371f6361894ac0c636e363ade7c07d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"action":"allow","direction":"inbound","notes":"SSH action
      lifecycle","ports":"22","protocol":"TCP","targets":["100.64.0.0/10"]},"security_group":{"id":"sg_w7DI4kkZlOKVI3T5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_mqzYrDvNBVgULAQr","security_group":{"id":"sg_w7DI4kkZlOKVI3T5","name":"tf-acc-test-rule-action-rrjbFI37pDie"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["100.64.0.0/10"],"notes":"SSH
      action lifecycle"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fb1c73a33472fa3f92ebbfd4fd008c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_mqzYrDvNBVgULAQr
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_mqzYrDvNBVgULAQr","security_group":{"id":"sg_w7DI4kkZlOKVI3T5","name":"tf-acc-test-rule-action-rrjbFI37pDie"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["100.64.0.0/10"],"notes":"SSH
      action lifecycle"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fb1c73a33472fa3f92ebbfd4fd008c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_w7DI4kkZlOKVI3T5
    method: GET
  response:
    body: '{"security_group":{"id":"sg_w7DI4kkZlOKVI3T5","name":"tf-acc-test-rule-action-rrjbFI37pDie","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f371f6361894ac0c636e363ade7c07d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"action":"deny","direction":"inbound","notes":"SSH action
      lifecycle","ports":"22","protocol":"TCP","targets":["100.64.0.0/10"]},"security_group_rule":{"id":"sgr_mqzYrDvNBVgULAQr"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_mqzYrDvNBVgULAQr","security_group":{"id":"sg_w7DI4kkZlOKVI3T5","name":"tf-acc-test-rule-action-rrjbFI37pDie"},"direction":"inbound","protocol":"TCP","action":"deny","ports":"22","targets":["100.64.0.0/10"],"notes":"SSH
      action lifecycle"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7a673922b8f54621c6a90c3ff0c6a26b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group":{"id":"sg_w7DI4kkZlOKVI3T5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_w7DI4kkZlOKVI3T5","name":"tf-acc-test-rule-action-rrjbFI37pDie"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1eb3e832dc434dfed572298da4d6217"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_mqzYrDvNBVgULAQr
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 404 Not Found
    code: 404
    duration: ""
