---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":false,"associations":[],"name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_rTKBwZgDh9Cs8nrB","name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f8f2ef53fc6bfa449e84d6ea19502c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"direction":"inbound","notes":"Externally managed SSH","ports":"22","protocol":"TCP","targets":["all:ipv4"]},"security_group":{"id":"sg_rTKBwZgDh9Cs8nrB"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_Rvd5b8fHeKKzrx8N","security_group":{"id":"sg_rTKBwZgDh9Cs8nrB","name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"809d7f550adb490ef274aa9a5a13b4e7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_rTKBwZgDh9Cs8nrB
    method: GET
  response:
    body: '{"security_group":{"id":"sg_rTKBwZgDh9Cs8nrB","name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f8f2ef53fc6bfa449e84d6ea19502c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_Rvd5b8fHeKKzrx8N
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_Rvd5b8fHeKKzrx8N","security_group":{"id":"sg_rTKBwZgDh9Cs8nrB","name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"809d7f550adb490ef274aa9a5a13b4e7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_KNFqAjLfMaCnsUNQ
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_KNFqAjLfMaCnsUNQ","security_group":{"id":"sg_rTKBwZgDh9Cs8nrB","name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH"},"direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv4","all:ipv6"],"notes":"Externally
      managed DNS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19a7ec5cc0e280b5b4ec3a59bb6706ea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_rTKBwZgDh9Cs8nrB
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_Rvd5b8fHeKKzrx8N","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"},{"id":"sgr_KNFqAjLfMaCnsUNQ","direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv4","all:ipv6"],"notes":"Externally
      managed DNS"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e331dbc60424855626589e3707a6173"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"direction":"inbound","notes":"Externally managed SSH","ports":"2222","protocol":"TCP","targets":["all:ipv4"]},"security_group_rule":{"id":"sgr_Rvd5b8fHeKKzrx8N"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_Rvd5b8fHeKKzrx8N","security_group":{"id":"sg_rTKBwZgDh9Cs8nrB","name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"2222","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c18977b8712a219d86dfa5aa2b095cb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group":{"id":"sg_rTKBwZgDh9Cs8nrB"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_rTKBwZgDh9Cs8nrB","name":"tf-acc-test-external-rules-disable-to-plural-attributes-r4wASN3f3jKH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"17d5d8cb5855476eb35ffc36d6caf289"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_rTKBwZgDh9Cs8nrB
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 404 Not Found
    code: 404
    duration: ""
