---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-allow-all-inbound-mi0ct6que0wn","associations":[],"allow_all_inbound":true,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_snldXZkIpucKLNy9","name":"tf-acc-test-allow-all-inbound-mi0ct6que0wn","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a09b5be5cc43284af1097a32be42aa9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "714"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_snldXZkIpucKLNy9
    method: GET
  response:
    body: '{"security_group":{"id":"sg_snldXZkIpucKLNy9","name":"tf-acc-test-allow-all-inbound-mi0ct6que0wn","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a09b5be5cc43284af1097a32be42aa9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "713"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_snldXZkIpucKLNy9
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "711"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"security_group":{"id":"sg_snldXZkIpucKLNy9"},"properties":{"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_snldXZkIpucKLNy9","name":"tf-acc-test-allow-all-inbound-mi0ct6que0wn","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e5f0fd11afc1b1ec08689a35489fc48"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "699"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_snldXZkIpucKLNy9
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "646"
    status: 404 Not Found
    code: 404
    duration: ""
