---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"minimal","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_KQ6oqsNzr6av5UYT","name":"minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59d30d4270c6faa24afd768a3fac22f0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "683"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_YAeAoEbCePKOXmUY","name":"web","segregate":true,"created_at":1679595225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3008e106889e6416801e35a669c6a07"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "683"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_KQ6oqsNzr6av5UYT
    method: GET
  response:
    body: '{"security_group":{"id":"sg_KQ6oqsNzr6av5UYT","name":"minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59d30d4270c6faa24afd768a3fac22f0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "679"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_YAeAoEbCePKOXmUY
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_YAeAoEbCePKOXmUY","name":"web","segregate":true,"created_at":1679595225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3008e106889e6416801e35a669c6a07"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "677"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_CvgBqP8nshX9qeFF/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_2I6Qd6LDZdqbJjBW","security_group":{"id":"sg_CvgBqP8nshX9qeFF","name":"dynamic"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"377171511d6bced492967cc9ccad7210"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "679"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_ZQvQmif33xlzyHUD
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_ZQvQmif33xlzyHUD","name":"monitoring","segregate":true,"created_at":1679595225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43974457ca2f9dee6fb86d6b89be278b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "676"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_KQ6oqsNzr6av5UYT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "675"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_xzlW2NseZsS3dWgs/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_1pkCivdM3FRNQuVa","security_group":{"id":"sg_xzlW2NseZsS3dWgs","name":"practical"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76085881706ce31437c2033efaf03afe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "670"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_CvgBqP8nshX9qeFF
    method: GET
  response:
    body: '{"security_group":{"id":"sg_CvgBqP8nshX9qeFF","name":"dynamic","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ee781f0493382b05ed24f9f0ca3fbeb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "669"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_CvgBqP8nshX9qeFF
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_2I6Qd6LDZdqbJjBW","direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"},{"id":"sgr_VAlfqh2bIUwfHRUM","direction":"inbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_cFFu1l282ao8t1pQ","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6798c6a71c9aa967cb1734fdc29ada9a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "667"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_xzlW2NseZsS3dWgs
    method: GET
  response:
    body: '{"security_group":{"id":"sg_xzlW2NseZsS3dWgs","name":"practical","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_YAeAoEbCePKOXmUY"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9a397019821513ace14793e7fbb96b59"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "664"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_xzlW2NseZsS3dWgs
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":4,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_1pkCivdM3FRNQuVa","direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"},{"id":"sgr_krVsJ6zD5Z6Hlb0I","direction":"inbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_Or2niCu2KOaWeZTD","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"},{"id":"sgr_Egy6edz7Cn0YQe4N","direction":"inbound","protocol":"ICMP","ports":null,"targets":["vmgrp_ZQvQmif33xlzyHUD"],"notes":"ping"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abaadc4f9c4bd05b287072ff6be55f87"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "663"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_ZQvQmif33xlzyHUD
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_ZQvQmif33xlzyHUD","name":"monitoring","segregate":true,"created_at":1679595225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43974457ca2f9dee6fb86d6b89be278b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "642"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_YAeAoEbCePKOXmUY
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_YAeAoEbCePKOXmUY","name":"web","segregate":true,"created_at":1679595225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3008e106889e6416801e35a669c6a07"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "642"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_CvgBqP8nshX9qeFF
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "640"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
