---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-udp-a88ct0pk6wcv","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_8OxRtSWsuFqB3WsL","name":"tf-acc-test-udp-a88ct0pk6wcv","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f61bf6034ab2cc35bcad6a9f88a3b722"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_8OxRtSWsuFqB3WsL
    method: GET
  response:
    body: '{"security_group":{"id":"sg_8OxRtSWsuFqB3WsL","name":"tf-acc-test-udp-a88ct0pk6wcv","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f61bf6034ab2cc35bcad6a9f88a3b722"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"UDP","ports":"443","targets":["10.0.0.1/24"],"notes":"QUIC"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_8OxRtSWsuFqB3WsL/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_J4HkNxGskaUQtLsX","security_group":{"id":"sg_8OxRtSWsuFqB3WsL","name":"tf-acc-test-udp-a88ct0pk6wcv"},"direction":"inbound","protocol":"UDP","ports":"443","targets":["10.0.0.1/24"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ce640b68c08f92596a6e46ea7cf0cab"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_J4HkNxGskaUQtLsX
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_J4HkNxGskaUQtLsX","security_group":{"id":"sg_8OxRtSWsuFqB3WsL","name":"tf-acc-test-udp-a88ct0pk6wcv"},"direction":"inbound","protocol":"UDP","ports":"443","targets":["10.0.0.1/24"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ce640b68c08f92596a6e46ea7cf0cab"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_U0v38FjSWp1Z8AXw
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_U0v38FjSWp1Z8AXw","security_group":{"id":"sg_8OxRtSWsuFqB3WsL","name":"tf-acc-test-udp-a88ct0pk6wcv"},"direction":"inbound","protocol":"UDP","ports":"433","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fad2c002967909dc661b9051f0b27db1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_J4HkNxGskaUQtLsX
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "874"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
