---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":false,"associations":[],"name":"tf-acc-test-rule-action-middle-insert-MJpANqEQpLzR"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_HDEj43kRnygZwHAP","name":"tf-acc-test-rule-action-middle-insert-MJpANqEQpLzR","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3b53b843ce842fef5882e7b79f09e9c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"action":"allow","direction":"inbound","notes":"SSH","ports":"22","protocol":"TCP","targets":["all:ipv4","all:ipv6"]},"security_group":{"id":"sg_HDEj43kRnygZwHAP"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_S9sv0Fo8WS9R5t5r","security_group":{"id":"sg_HDEj43kRnygZwHAP","name":"tf-acc-test-rule-action-middle-insert-MJpANqEQpLzR"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8fdc5e0055c044199f566e9e4e91f9a9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_HDEj43kRnygZwHAP
    method: GET
  response:
    body: '{"security_group":{"id":"sg_HDEj43kRnygZwHAP","name":"tf-acc-test-rule-action-middle-insert-MJpANqEQpLzR","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3b53b843ce842fef5882e7b79f09e9c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_HDEj43kRnygZwHAP
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_S9sv0Fo8WS9R5t5r","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"},{"id":"sgr_CorIK51QP10YwDfD","direction":"inbound","protocol":"TCP","action":"allow","ports":"80,443","targets":["all:ipv4","all:ipv6"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_bzE6AkUEoXG6OOpx","direction":"inbound","protocol":"UDP","action":"allow","ports":"443","targets":["all:ipv4","all:ipv6"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bcaffae14f6d851200a4f8bc43f3b7e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group":{"id":"sg_HDEj43kRnygZwHAP"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_HDEj43kRnygZwHAP","name":"tf-acc-test-rule-action-middle-insert-MJpANqEQpLzR"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c5b6b38b7c72642143a6ae9a61d0c2c2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_HDEj43kRnygZwHAP
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 404 Not Found
    code: 404
    duration: ""
