---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-association","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zNg4c4TWK8Zm68ty","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-association","segregate":true,"auto_segregate":false,"created_at":1787301641}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92b6c879ae594ce8ab488a64046a7432"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "897"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_zNg4c4TWK8Zm68ty
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zNg4c4TWK8Zm68ty","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-association","segregate":true,"auto_segregate":false,"created_at":1787301641}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92b6c879ae594ce8ab488a64046a7432"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "896"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-minimal","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_skMEVszDRKzat1nG","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c94ec903807cddd462301edf4bf6c50a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "895"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_skMEVszDRKzat1nG
    method: GET
  response:
    body: '{"security_group":{"id":"sg_skMEVszDRKzat1nG","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c94ec903807cddd462301edf4bf6c50a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "894"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_skMEVszDRKzat1nG
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "893"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_hVIgxOa1xAwfX1Wa
    method: GET
  response:
    body: '{"security_group":{"id":"sg_hVIgxOa1xAwfX1Wa","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-allow","allow_all_inbound":true,"allow_all_outbound":true,"associations":["vmgrp_zNg4c4TWK8Zm68ty"]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5be7236cecd2d358e600d608c8ce344b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "891"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_hVIgxOa1xAwfX1Wa
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "890"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_eOnaCQXEHpccHetY/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_SJb50PJ9f7ZpdatZ","security_group":{"id":"sg_eOnaCQXEHpccHetY","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-main"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c4893d91b69697176a64aff23c259be"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_eOnaCQXEHpccHetY
    method: GET
  response:
    body: '{"security_group":{"id":"sg_eOnaCQXEHpccHetY","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-main","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_zNg4c4TWK8Zm68ty"]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b680290c53c15714225c7ee612524d57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "883"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_eOnaCQXEHpccHetY
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_SJb50PJ9f7ZpdatZ","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"},{"id":"sgr_8sluby3utf6vsnek","direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null},{"id":"sgr_HTlaKOjhC35z056Z","direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null},{"id":"sgr_c7dqIIPzPLo2xiSG","direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv4"],"notes":null},{"id":"sgr_XNSOBE0Dgeq3MN0o","direction":"outbound","protocol":"TCP","action":"allow","ports":null,"targets":["all:ipv6"],"notes":"Web"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9acd00ff7e2e7a321ad42073718e59ec"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_idJjkiBmMCsAUqSm
    method: GET
  response:
    body: '{"security_group":{"id":"sg_idJjkiBmMCsAUqSm","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-external","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ee6e892c20696e7098c67b2b9055e0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "880"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","targets":["all:ipv4"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_idJjkiBmMCsAUqSm/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_MGFKWMi7QTkfuorv","security_group":{"id":"sg_idJjkiBmMCsAUqSm","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-external"},"direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c236ef511cc708f17abde7939dfff60"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_MGFKWMi7QTkfuorv
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_MGFKWMi7QTkfuorv","security_group":{"id":"sg_idJjkiBmMCsAUqSm","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-external"},"direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c236ef511cc708f17abde7939dfff60"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_skMEVszDRKzat1nG
    method: GET
  response:
    body: '{"security_group":{"id":"sg_skMEVszDRKzat1nG","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c94ec903807cddd462301edf4bf6c50a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "867"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_skMEVszDRKzat1nG
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "866"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_hVIgxOa1xAwfX1Wa
    method: GET
  response:
    body: '{"security_group":{"id":"sg_hVIgxOa1xAwfX1Wa","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-allow","allow_all_inbound":true,"allow_all_outbound":true,"associations":["vmgrp_zNg4c4TWK8Zm68ty"]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5be7236cecd2d358e600d608c8ce344b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "865"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_hVIgxOa1xAwfX1Wa
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "864"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_eOnaCQXEHpccHetY
    method: GET
  response:
    body: '{"security_group":{"id":"sg_eOnaCQXEHpccHetY","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-main","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_zNg4c4TWK8Zm68ty"]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b680290c53c15714225c7ee612524d57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "863"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_eOnaCQXEHpccHetY
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_SJb50PJ9f7ZpdatZ","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"},{"id":"sgr_8sluby3utf6vsnek","direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null},{"id":"sgr_HTlaKOjhC35z056Z","direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null},{"id":"sgr_c7dqIIPzPLo2xiSG","direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv4"],"notes":null},{"id":"sgr_XNSOBE0Dgeq3MN0o","direction":"outbound","protocol":"TCP","action":"allow","ports":null,"targets":["all:ipv6"],"notes":"Web"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9acd00ff7e2e7a321ad42073718e59ec"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "862"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_idJjkiBmMCsAUqSm
    method: GET
  response:
    body: '{"security_group":{"id":"sg_idJjkiBmMCsAUqSm","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-external","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ee6e892c20696e7098c67b2b9055e0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "861"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_MGFKWMi7QTkfuorv
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_MGFKWMi7QTkfuorv","security_group":{"id":"sg_idJjkiBmMCsAUqSm","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-external"},"direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c236ef511cc708f17abde7939dfff60"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "860"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"direction":"inbound","notes":"SSH","ports":"2222","protocol":"TCP","targets":["all:ipv4","all:ipv6"]},"security_group_rule":{"id":"sgr_SJb50PJ9f7ZpdatZ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_SJb50PJ9f7ZpdatZ","security_group":{"id":"sg_eOnaCQXEHpccHetY","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-main"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"2222","targets":["all:ipv4","all:ipv6"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a56efbca869bc1813c14d6141caa92ff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "823"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":4,"per_page":30,"large_set":false},"security_groups":[{"id":"sg_skMEVszDRKzat1nG","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},{"id":"sg_hVIgxOa1xAwfX1Wa","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-allow","allow_all_inbound":true,"allow_all_outbound":true,"associations":["vmgrp_zNg4c4TWK8Zm68ty"]},{"id":"sg_eOnaCQXEHpccHetY","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-main","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_zNg4c4TWK8Zm68ty"]},{"id":"sg_idJjkiBmMCsAUqSm","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-external","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a23f5c1d80f3056047aed1a36c1023e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "712"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_idJjkiBmMCsAUqSm
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_MGFKWMi7QTkfuorv","direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":["all:ipv4"],"notes":null}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3facb4572522e1a89962e882f214347f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "705"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group":{"id":"sg_idJjkiBmMCsAUqSm"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_idJjkiBmMCsAUqSm","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-external"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c78482b21acd18a43884183258bd0d9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "597"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_zNg4c4TWK8Zm68ty
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zNg4c4TWK8Zm68ty","name":"tf-acc-test-sg-migrate-T2AKFz0kWFRT-association","segregate":true,"auto_segregate":false,"created_at":1787301641}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92b6c879ae594ce8ab488a64046a7432"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "593"
    status: 200 OK
    code: 200
    duration: ""
