---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-dynamic-rules-9xp3o0wpgdgf","associations":[],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_oXusk4Akvo9u2Na8","name":"tf-acc-test-dynamic-rules-9xp3o0wpgdgf","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e8e1ed036efe18a51af519896e50b6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "889"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_oXusk4Akvo9u2Na8/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_mqd4aJTCbzwySqA6","security_group":{"id":"sg_oXusk4Akvo9u2Na8","name":"tf-acc-test-dynamic-rules-9xp3o0wpgdgf"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d56425015d3a5e200474dcf55ab5625"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_oXusk4Akvo9u2Na8
    method: GET
  response:
    body: '{"security_group":{"id":"sg_oXusk4Akvo9u2Na8","name":"tf-acc-test-dynamic-rules-9xp3o0wpgdgf","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e8e1ed036efe18a51af519896e50b6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_oXusk4Akvo9u2Na8
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_mqd4aJTCbzwySqA6","direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"},{"id":"sgr_aYqNohyGbMiesK6d","direction":"inbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_HuzybiQS1rqT180v","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2dc891c674368e7604eff048636f8a55"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "881"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_oXusk4Akvo9u2Na8
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "864"
    status: 404 Not Found
    code: 404
    duration: ""
