---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":false,"associations":[],"name":"web"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebc4307e56ac4a89c48a4be36d6b5df8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"action":"allow","direction":"inbound","notes":"Allow HTTP/HTTPS","ports":"80,433","protocol":"TCP","targets":["all:ipv4","all:ipv6"]},"security_group":{"id":"sg_AGAJkgpMV73QzSGa"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_Pk5IKdNZNSw5zSoQ","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"80,433","targets":["all:ipv4","all:ipv6"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2cc1e68f9a239371b7492506674c795e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"jumpbox","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_REs0Nvjq6jMktZKK","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1787671212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"776837bd9dd9237bbf3e84977bac86b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_REs0Nvjq6jMktZKK
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_REs0Nvjq6jMktZKK","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1787671212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"776837bd9dd9237bbf3e84977bac86b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_qz7BGMW9Nmnvsyte
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_qz7BGMW9Nmnvsyte","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b9d445e8c99fbe470870dc672c3abb4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_BknioKXNlsUeUQvQ
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_BknioKXNlsUeUQvQ","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"inbound","protocol":"TCP","action":"deny","ports":"22","targets":["100.64.0.0/10"],"notes":"Deny
      SSH from CGNAT"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e1ebfdf96d73b9c712467142a5b51a50"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_Pk5IKdNZNSw5zSoQ
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_Pk5IKdNZNSw5zSoQ","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"80,433","targets":["all:ipv4","all:ipv6"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2cc1e68f9a239371b7492506674c795e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_bUaMe8y3A4csUI5X
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_bUaMe8y3A4csUI5X","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["106.240.71.168","vmgrp_REs0Nvjq6jMktZKK"],"notes":"Allow
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43e361f60380e51980ab9634ee47ea71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_qD31XRW0F08Z7FIa
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_qD31XRW0F08Z7FIa","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"3000-3999","targets":["152.15.204.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"de2dc878995342f70002b165eae8a6b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_TFrC1rxtTEFe2R95
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_TFrC1rxtTEFe2R95","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":["100.68.232.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6de80c9d32081549c0047ab0b421e040"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_D7UNB5Tf7bkw8Mn9
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_D7UNB5Tf7bkw8Mn9","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"outbound","protocol":"TCP","action":"allow","ports":"25","targets":["195.66.84.24"],"notes":"Allow
      SMTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c1812175a1db0e33d14feb11243ddf71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_WloQdX9gt0VVyqdK
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_WloQdX9gt0VVyqdK","security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"},"direction":"outbound","protocol":"TCP","action":"allow","ports":"80,433","targets":["all:ipv4","all:ipv6"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c53bde2514fa6e0eb77b3ca8fb9346fd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_AGAJkgpMV73QzSGa
    method: GET
  response:
    body: '{"security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebc4307e56ac4a89c48a4be36d6b5df8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group_rule":{"id":"sgr_BknioKXNlsUeUQvQ"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_BknioKXNlsUeUQvQ"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad55a2e6886f7784b3e70b95cf7ccabb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_REs0Nvjq6jMktZKK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_REs0Nvjq6jMktZKK","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1787671212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"776837bd9dd9237bbf3e84977bac86b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"security_group":{"id":"sg_AGAJkgpMV73QzSGa"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_AGAJkgpMV73QzSGa","name":"web"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76bb277c62643820dc57e918b53118e8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_AGAJkgpMV73QzSGa
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 404 Not Found
    code: 404
    duration: ""
