---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-icmp-wjfu097q743m","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_H7GFbzxpAKiZHIVV","name":"tf-acc-test-icmp-wjfu097q743m","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1fdc74408d098b247ceec60524ef1499"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_H7GFbzxpAKiZHIVV
    method: GET
  response:
    body: '{"security_group":{"id":"sg_H7GFbzxpAKiZHIVV","name":"tf-acc-test-icmp-wjfu097q743m","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1fdc74408d098b247ceec60524ef1499"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP","targets":["10.0.0.1/24"],"notes":"ping"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_H7GFbzxpAKiZHIVV/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_TnywJ4XjYbe2AqoD","security_group":{"id":"sg_H7GFbzxpAKiZHIVV","name":"tf-acc-test-icmp-wjfu097q743m"},"direction":"inbound","protocol":"ICMP","ports":null,"targets":["10.0.0.1/24"],"notes":"ping"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5693a6444fddf8141870f22cb926a34"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_TnywJ4XjYbe2AqoD
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_TnywJ4XjYbe2AqoD","security_group":{"id":"sg_H7GFbzxpAKiZHIVV","name":"tf-acc-test-icmp-wjfu097q743m"},"direction":"inbound","protocol":"ICMP","ports":null,"targets":["10.0.0.1/24"],"notes":"ping"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5693a6444fddf8141870f22cb926a34"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"ports":"7","targets":["all:ipv6","all:ipv4"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_TnywJ4XjYbe2AqoD
    method: PATCH
  response:
    body: '{"error":{"code":"validation_error","description":"A validation error occurred
      with the object that was being created/updated/deleted","detail":{"errors":["Ports
      cannot be set with ICMP"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_ual0zd6tBMvs2CDi
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_ual0zd6tBMvs2CDi","security_group":{"id":"sg_H7GFbzxpAKiZHIVV","name":"tf-acc-test-icmp-wjfu097q743m"},"direction":"inbound","protocol":"ICMP","ports":null,"targets":["all:ipv6","all:ipv4"],"notes":"ping
      me"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb6d1d3c5ee0f69421e608f9731bcecd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "922"
    status: 200 OK
    code: 200
    duration: ""
[...]
