---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_P2unqGOYqZoMyPEp","name":"web","segregate":true,"auto_segregate":false,"created_at":1787322156}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c6419d96f5b605e281757a0f7c88e18"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":true,"associations":[],"name":"dynamic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_5Pe34Jfk7rUNCklT","name":"dynamic","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b14b60a6dc301671cf6c3ec20739b0a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_P2unqGOYqZoMyPEp
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_P2unqGOYqZoMyPEp","name":"web","segregate":true,"auto_segregate":false,"created_at":1787322156}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c6419d96f5b605e281757a0f7c88e18"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_gTTsCzns4V5bEMfD
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_gTTsCzns4V5bEMfD","name":"monitoring","segregate":true,"auto_segregate":false,"created_at":1787322156}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a41b0b37c2d8663df3bd7dd128f1d7b6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"direction":"inbound","notes":"SSH","ports":"22","protocol":"TCP","targets":["all:ipv4","all:ipv6"]},"security_group":{"id":"sg_5Pe34Jfk7rUNCklT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_Zapaw2ZxscufYl47","security_group":{"id":"sg_5Pe34Jfk7rUNCklT","name":"dynamic"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50de623d7fcc8765fb5a8e26d91d5ee1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_6cSST1U3p6Vs4n3f
    method: GET
  response:
    body: '{"security_group":{"id":"sg_6cSST1U3p6Vs4n3f","name":"minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79e6b4326ab1f18a37de304657d5d5af"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_AOhaM0BWCtRIGH6o
    method: GET
  response:
    body: '{"security_group":{"id":"sg_AOhaM0BWCtRIGH6o","name":"practical","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_P2unqGOYqZoMyPEp"]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8eeb2316afbbfff8d7a691fe9e0ee44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_5Pe34Jfk7rUNCklT
    method: GET
  response:
    body: '{"security_group":{"id":"sg_5Pe34Jfk7rUNCklT","name":"dynamic","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b14b60a6dc301671cf6c3ec20739b0a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_6cSST1U3p6Vs4n3f
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_5Pe34Jfk7rUNCklT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_Zapaw2ZxscufYl47","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"},{"id":"sgr_CL6DyyVG0sbeIrTR","direction":"inbound","protocol":"TCP","action":"allow","ports":"80,443","targets":["all:ipv4","all:ipv6"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_5fEBcplntoqXCsis","direction":"inbound","protocol":"UDP","action":"allow","ports":"443","targets":["all:ipv4","all:ipv6"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a86bc08f63b000cac6183516bce226ef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_AOhaM0BWCtRIGH6o
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":4,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_z0y9cPOak3SRiRJ1","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"},{"id":"sgr_l6Thy1v6cndukfHg","direction":"inbound","protocol":"TCP","action":"allow","ports":"80,443","targets":["all:ipv4","all:ipv6"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_wTgso8055SxrYcYG","direction":"inbound","protocol":"UDP","action":"allow","ports":"443","targets":["all:ipv4","all:ipv6"],"notes":"QUIC"},{"id":"sgr_5NnRYHQIcwOYC7xo","direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":["vmgrp_gTTsCzns4V5bEMfD"],"notes":"ping"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f2aea7e70b0051b266ea0f98b7c0676a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"security_group":{"id":"sg_6cSST1U3p6Vs4n3f"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_6cSST1U3p6Vs4n3f","name":"minimal"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7282891f9a7e8669cd70b93460b24593"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_gTTsCzns4V5bEMfD"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_gTTsCzns4V5bEMfD","name":"monitoring","segregate":true,"auto_segregate":false,"created_at":1787322156}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a41b0b37c2d8663df3bd7dd128f1d7b6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_AOhaM0BWCtRIGH6o
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
