---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":false,"associations":[],"name":"web"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41e0ebf621ac8f9221756dcc83149079"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"jumpbox","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_eXPKbRwwFGCwrjcP","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1787322331}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e1e6f35ce336dd2e92dbdeaa71b1d13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_eXPKbRwwFGCwrjcP
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_eXPKbRwwFGCwrjcP","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1787322331}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e1e6f35ce336dd2e92dbdeaa71b1d13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"direction":"outbound","notes":"Allow SMTP","ports":"25","protocol":"TCP","targets":["195.66.84.24"]},"security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_GqSoopVS6SF3iWy4","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"outbound","protocol":"TCP","action":"allow","ports":"25","targets":["195.66.84.24"],"notes":"Allow
      SMTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c5148578455e19fd86f716e855fba62"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_sH0QYkmnFmhfqUaK
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_sH0QYkmnFmhfqUaK","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"393664ddbfed049c1f19b687596fd6ff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_5Ek8steUFlil5dg2
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_5Ek8steUFlil5dg2","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"80,433","targets":["all:ipv4","all:ipv6"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1361f446f605d6792bfb04f5b68087ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_Fk8hC06DytJSydI1
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_Fk8hC06DytJSydI1","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["106.240.71.168","vmgrp_eXPKbRwwFGCwrjcP"],"notes":"Allow
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d50f8882579b89c418c2729811f2dbd7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_kgifLRhpc58cpCFx
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_kgifLRhpc58cpCFx","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"3000-3999","targets":["152.15.204.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f0e180dfb74f1afe4b77d6cc2f4a32f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_QnBvv39W9OMqiah0
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_QnBvv39W9OMqiah0","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"inbound","protocol":"TCP","action":"allow","ports":null,"targets":["100.68.232.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"82802f25a7fc0adc6ebb4471338992ca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_GqSoopVS6SF3iWy4
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_GqSoopVS6SF3iWy4","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"outbound","protocol":"TCP","action":"allow","ports":"25","targets":["195.66.84.24"],"notes":"Allow
      SMTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c5148578455e19fd86f716e855fba62"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_yGkmmQKAbiudR0YH
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_yGkmmQKAbiudR0YH","security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"},"direction":"outbound","protocol":"TCP","action":"allow","ports":"80,433","targets":["all:ipv4","all:ipv6"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb3c922473ddb9c32d82a11c596e9b6f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_NAxAuh6Z7q5GF3Qz
    method: GET
  response:
    body: '{"security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41e0ebf621ac8f9221756dcc83149079"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group_rule":{"id":"sgr_yGkmmQKAbiudR0YH"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_yGkmmQKAbiudR0YH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6ac0ee18721b3d9829d7dfe9de8f374"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_eXPKbRwwFGCwrjcP"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_eXPKbRwwFGCwrjcP","name":"jumpbox","segregate":true,"auto_segregate":false,"created_at":1787322331}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e1e6f35ce336dd2e92dbdeaa71b1d13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_NAxAuh6Z7q5GF3Qz","name":"web"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"862fdfcb99815361ba54c6e75fd673be"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_NAxAuh6Z7q5GF3Qz
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 404 Not Found
    code: 404
    duration: ""
