---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"monitoring","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_txpEbMtSFUCiJjL7","name":"monitoring","segregate":true,"auto_segregate":false,"created_at":1787671256}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"667c8f61ac0966f2330b278edbf5644e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":true,"associations":[],"name":"dynamic"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_Zg307XvK00PGbHq3","name":"dynamic","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58b10f2f65aa18b627f117f069eb40d6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_txpEbMtSFUCiJjL7
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_txpEbMtSFUCiJjL7","name":"monitoring","segregate":true,"auto_segregate":false,"created_at":1787671256}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"667c8f61ac0966f2330b278edbf5644e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_SeaPkCaER12NUaDw
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_SeaPkCaER12NUaDw","name":"web","segregate":true,"auto_segregate":false,"created_at":1787671256}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e5fb762cbdfa495871652706daf1fe3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"action":"allow","direction":"inbound","notes":"SSH","ports":"22","protocol":"TCP","targets":["all:ipv4","all:ipv6"]},"security_group":{"id":"sg_Zg307XvK00PGbHq3"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_OCFzgkytMom6vTr8","security_group":{"id":"sg_Zg307XvK00PGbHq3","name":"dynamic"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c0c35503ce94f71058592adc0690a63"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_tzyFo3Jmkl6XK8uw
    method: GET
  response:
    body: '{"security_group":{"id":"sg_tzyFo3Jmkl6XK8uw","name":"minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c57fd852aeddca1cb8a2d653e0f4949"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_aXC3NpAvz2EwiVlO
    method: GET
  response:
    body: '{"security_group":{"id":"sg_aXC3NpAvz2EwiVlO","name":"practical","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_SeaPkCaER12NUaDw"]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc491a239b14615fce723e362e84eb6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_Zg307XvK00PGbHq3
    method: GET
  response:
    body: '{"security_group":{"id":"sg_Zg307XvK00PGbHq3","name":"dynamic","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58b10f2f65aa18b627f117f069eb40d6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_tzyFo3Jmkl6XK8uw
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_Zg307XvK00PGbHq3
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_OCFzgkytMom6vTr8","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"},{"id":"sgr_PPCmryHvsl8Pjsam","direction":"inbound","protocol":"TCP","action":"allow","ports":"80,443","targets":["all:ipv4","all:ipv6"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_l1CCweKnbHXPwLdA","direction":"inbound","protocol":"UDP","action":"allow","ports":"443","targets":["all:ipv4","all:ipv6"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c540bfe9f9d1426e690bde4eb0945494"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_aXC3NpAvz2EwiVlO
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_n6qkTk3iazCHYrnz","direction":"inbound","protocol":"TCP","action":"deny","ports":"22","targets":["100.64.0.0/10"],"notes":"Deny
      SSH from CGNAT"},{"id":"sgr_HV7npljtFJlKZidr","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4","all:ipv6"],"notes":"SSH"},{"id":"sgr_ikYuyFXmkit5SJdI","direction":"inbound","protocol":"TCP","action":"allow","ports":"80,443","targets":["all:ipv4","all:ipv6"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_dhcNXpy8LeHZyOJl","direction":"inbound","protocol":"UDP","action":"allow","ports":"443","targets":["all:ipv4","all:ipv6"],"notes":"QUIC"},{"id":"sgr_I1fx26ohuKRdWSdx","direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":["vmgrp_txpEbMtSFUCiJjL7"],"notes":"ping"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"206535770a97dab1dc817b66465a8f05"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"security_group":{"id":"sg_tzyFo3Jmkl6XK8uw"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_tzyFo3Jmkl6XK8uw","name":"minimal"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ac7afaae2265f428e641e3320d05a557"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_txpEbMtSFUCiJjL7"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_txpEbMtSFUCiJjL7","name":"monitoring","segregate":true,"auto_segregate":false,"created_at":1787671256}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"667c8f61ac0966f2330b278edbf5644e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_Zg307XvK00PGbHq3
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
