---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":true,"allow_all_outbound":false,"associations":[],"name":"tf-acc-test-invalid-OtlxDPpmz76D"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_SmTNrEl9yoNbYvEj","name":"tf-acc-test-invalid-OtlxDPpmz76D","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ea01b0d667517a2f567c8610bc309a66"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"direction":"inbound","notes":"","ports":"","protocol":"TCP","targets":[]},"security_group":{"id":"sg_SmTNrEl9yoNbYvEj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"error":{"code":"validation_error","description":"A validation error occurred
      with the object that was being created/updated/deleted","detail":{"errors":["Security
      group cannot have inbound rules while all inbound traffic is allowed"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_SmTNrEl9yoNbYvEj
    method: GET
  response:
    body: '{"security_group":{"id":"sg_SmTNrEl9yoNbYvEj","name":"tf-acc-test-invalid-OtlxDPpmz76D","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ea01b0d667517a2f567c8610bc309a66"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_SmTNrEl9yoNbYvEj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"allow_all_inbound":false,"allow_all_outbound":true,"associations":[],"name":"tf-acc-test-invalid-OtlxDPpmz76D"},"security_group":{"id":"sg_SmTNrEl9yoNbYvEj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_SmTNrEl9yoNbYvEj","name":"tf-acc-test-invalid-OtlxDPpmz76D","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e7e1855a0e5b049b00f9233cd374b54"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
