---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":false,"associations":[],"name":"tf-acc-test-rule-actions-FEsBldclzClN"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c44564b0456a5fe5175cbb0e3a74fac4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"action":"deny","direction":"inbound","notes":"Same match","ports":"22","protocol":"TCP","targets":["all:ipv4"]},"security_group":{"id":"sg_cgIcyBeFLrAy5eNY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_DwUk0NPmHRUOZ0oN","security_group":{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN"},"direction":"inbound","protocol":"TCP","action":"deny","ports":"22","targets":["all:ipv4"],"notes":"Same
      match"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c0c7ee97e056b8f9fc6c9d82b1f5b5c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_cgIcyBeFLrAy5eNY
    method: GET
  response:
    body: '{"security_group":{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c44564b0456a5fe5175cbb0e3a74fac4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"security_groups":[{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"219223dbe1dd32d7044999d7848db093"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_cgIcyBeFLrAy5eNY
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_DwUk0NPmHRUOZ0oN","direction":"inbound","protocol":"TCP","action":"deny","ports":"22","targets":["all:ipv4"],"notes":"Same
      match"},{"id":"sgr_9bl0a0zs1ibU8AtU","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Same
      match"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6eae8b318c48741a40b9d88ab72bcd8e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_DwUk0NPmHRUOZ0oN
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_DwUk0NPmHRUOZ0oN","security_group":{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN"},"direction":"inbound","protocol":"TCP","action":"deny","ports":"22","targets":["all:ipv4"],"notes":"Same
      match"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c0c7ee97e056b8f9fc6c9d82b1f5b5c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_9bl0a0zs1ibU8AtU
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_9bl0a0zs1ibU8AtU","security_group":{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Same
      match"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8396007ea50dbd31a80f1a03d73267b1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"action":"deny","direction":"inbound","notes":"Same match","ports":"22","protocol":"TCP","targets":["all:ipv4"]},"security_group_rule":{"id":"sgr_9bl0a0zs1ibU8AtU"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_9bl0a0zs1ibU8AtU","security_group":{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN"},"direction":"inbound","protocol":"TCP","action":"deny","ports":"22","targets":["all:ipv4"],"notes":"Same
      match"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e7537577d901ef8b27d48930e2cd5e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group":{"id":"sg_cgIcyBeFLrAy5eNY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_cgIcyBeFLrAy5eNY","name":"tf-acc-test-rule-actions-FEsBldclzClN"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"564d477ebfd05480c5ea47176e02b99e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "908"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_cgIcyBeFLrAy5eNY
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
