---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"allow_all_inbound":false,"allow_all_outbound":false,"associations":[],"name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_eVWsTUtEOl7QNYc0","name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"75f46e1ffc4b6d9c4eea93039ef7d7b0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"properties":{"direction":"inbound","notes":"Externally managed SSH","ports":"22","protocol":"TCP","targets":["all:ipv4"]},"security_group":{"id":"sg_eVWsTUtEOl7QNYc0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_5yXNcyZ5yq6lw2hk","security_group":{"id":"sg_eVWsTUtEOl7QNYc0","name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09783564781cdc242cc158c7ffe26353"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_eVWsTUtEOl7QNYc0
    method: GET
  response:
    body: '{"security_group":{"id":"sg_eVWsTUtEOl7QNYc0","name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"75f46e1ffc4b6d9c4eea93039ef7d7b0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_5yXNcyZ5yq6lw2hk
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_5yXNcyZ5yq6lw2hk","security_group":{"id":"sg_eVWsTUtEOl7QNYc0","name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09783564781cdc242cc158c7ffe26353"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule?security_group_rule%5Bid%5D=sgr_1YHG8zGNWjSRJGwt
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_1YHG8zGNWjSRJGwt","security_group":{"id":"sg_eVWsTUtEOl7QNYc0","name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa"},"direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv4","all:ipv6"],"notes":"Externally
      managed DNS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad396f4177674aab84d173bb403e03fc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group/rules?page=1&security_group%5Bid%5D=sg_eVWsTUtEOl7QNYc0
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_5yXNcyZ5yq6lw2hk","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"},{"id":"sgr_1YHG8zGNWjSRJGwt","direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv4","all:ipv6"],"notes":"Externally
      managed DNS"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"335589a5f30a7362a79104c29c3dc520"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"direction":"inbound","notes":"Externally managed SSH","ports":"2222","protocol":"TCP","targets":["all:ipv4"]},"security_group_rule":{"id":"sgr_5yXNcyZ5yq6lw2hk"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/security_group_rule
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_5yXNcyZ5yq6lw2hk","security_group":{"id":"sg_eVWsTUtEOl7QNYc0","name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"2222","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0011c4ad6a7e20fa1c78547f761c9c1c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"security_group":{"id":"sg_eVWsTUtEOl7QNYc0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/security_group
    method: DELETE
  response:
    body: '{"security_group":{"id":"sg_eVWsTUtEOl7QNYc0","name":"tf-acc-test-external-rules-disable-to-blocks-jvtslaAeSsEa"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41676571ae1c98b9cf80776f840db4db"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/security_group?security_group%5Bid%5D=sg_eVWsTUtEOl7QNYc0
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 404 Not Found
    code: 404
    duration: ""
