---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-bhjckl7cuy8f"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_zjafGmbtjhmHRzyn","name":"tf-acc-test-minimal-bhjckl7cuy8f","color":"pastel_yellow","created_at":1723461024}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f331a94a0bb25ed37c95f081e4ae875"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/:tag?tag%5Bid%5D=tag_zjafGmbtjhmHRzyn
    method: GET
  response:
    body: '{"tag":{"id":"tag_zjafGmbtjhmHRzyn","name":"tf-acc-test-minimal-bhjckl7cuy8f","color":"pastel_yellow","created_at":1723461024}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f331a94a0bb25ed37c95f081e4ae875"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"tag":{"id":"tag_zjafGmbtjhmHRzyn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/:tag
    method: DELETE
  response:
    body: '{"tag":{"id":"tag_zjafGmbtjhmHRzyn","name":"tf-acc-test-minimal-bhjckl7cuy8f","color":"pastel_yellow","created_at":1723461024}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f331a94a0bb25ed37c95f081e4ae875"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
