---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-name-rmauomyhjn4q"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_vW1H5QW3jM1kRKZ1","name":"tf-acc-test-update-name-rmauomyhjn4q","color":"red","created_at":1741104104}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b59f37df13f0be72cf8a776a499a3aae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/tag?tag%5Bid%5D=tag_vW1H5QW3jM1kRKZ1
    method: GET
  response:
    body: '{"tag":{"id":"tag_vW1H5QW3jM1kRKZ1","name":"tf-acc-test-update-name-rmauomyhjn4q","color":"red","created_at":1741104104}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b59f37df13f0be72cf8a776a499a3aae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"name":"tf-acc-test-update-name-rmauomyhjn4q-updated"},"tag":{"id":"tag_vW1H5QW3jM1kRKZ1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/tag
    method: PATCH
  response:
    body: '{"tag":{"id":"tag_vW1H5QW3jM1kRKZ1","name":"tf-acc-test-update-name-rmauomyhjn4q-updated","color":"red","created_at":1741104104}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c02459ca3e0889fb2e22af2df79e0ca9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
[...]
