---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"color":"red","name":"tf-acc-test-update-color-0ir5tvtvjro4"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/:organization/tags
    method: POST
  response:
    body: '{"tag":{"id":"tag_ooT7ECa2zvgvX9pM","name":"tf-acc-test-update-color-0ir5tvtvjro4","color":"red","created_at":1723461017}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8e1cf131b9e7e357df4ee8fa9ad5591"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tags/:tag?tag%5Bid%5D=tag_ooT7ECa2zvgvX9pM
    method: GET
  response:
    body: '{"tag":{"id":"tag_ooT7ECa2zvgvX9pM","name":"tf-acc-test-update-color-0ir5tvtvjro4","color":"red","created_at":1723461017}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8e1cf131b9e7e357df4ee8fa9ad5591"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"color":"yellow"},"tag":{"id":"tag_ooT7ECa2zvgvX9pM"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/tags/:tag
    method: PATCH
  response:
    body: '{"tag":{"id":"tag_ooT7ECa2zvgvX9pM","name":"tf-acc-test-update-color-0ir5tvtvjro4","color":"yellow","created_at":1723461017}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2416f891df51fd148be2000fc2253852"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
