---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc44ed75ff0ddfdc194b77817125f428"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4cebb798fdb87cbbbc9b434168dc3ac"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0","name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20,"wwn":"0e4a1667673881ce","state":"not_built","created_at":1786736051,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_AKPILs9GJV9A7EJW","name":"Build
      disk","status":"pending","created_at":1786736051,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f000e660bd65d88ed351b31f299dad67"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_1mm1JmmMV8dU6Cnb\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-helpful-ancient-magnesium\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_s6oGObgtuOB3fLrs","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_b6UDtIHr0Ibi8yMv","state":"pending"},"virtual_machine_build":{"id":"vmbuild_b6UDtIHr0Ibi8yMv","state":"pending"},"hostname":"tf-acc-test-helpful-ancient-magnesium","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e65b26f0b22212321d599bf885f1ce00"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_AKPILs9GJV9A7EJW
    method: GET
  response:
    body: '{"task":{"id":"task_AKPILs9GJV9A7EJW","name":"Build disk","status":"running","created_at":1786736051,"started_at":1786736052,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"526dad60d1986c5a2a400b6d7a2abeb0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_b6UDtIHr0Ibi8yMv
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_b6UDtIHr0Ibi8yMv","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.195\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-helpful-ancient-magnesium\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786736051},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"691a07c30ae275c81dbf9f82a5d6700c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_IrPnaI1tiETX2IC0
    method: GET
  response:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0","name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20,"wwn":"0e4a1667673881ce","state":"built","created_at":1786736051,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c38bc576132f00dd481a0b38a7210b4f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_w68sooC0mfaQcjim
    method: GET
  response:
    body: '{"task":{"id":"task_w68sooC0mfaQcjim","name":"Build disk","status":"completed","created_at":1786736057,"started_at":1786736058,"finished_at":1786736058,"progress":100}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"998948d4669c6563a4f16a6a5314b941"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_3oLqKtCH0nfptonz
    method: GET
  response:
    body: '{"disk":{"id":"disk_3oLqKtCH0nfptonz","name":"tf-acc-test-disk-b-wBLXgqfFLjfH","size_in_gb":20,"wwn":"062d25e94f767e7c","state":"built","created_at":1786736057,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b3ddefed1739927c14ad4724c51c755"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_fsyXVmsxniQY9K7m
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786736060,"description":null,"fqdn":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-helpful-ancient-magnesium","id":"vm_fsyXVmsxniQY9K7m","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.221.195","address_with_mask":"185.199.221.195/24","allocation_id":"vm_fsyXVmsxniQY9K7m","allocation_type":"VirtualMachine","id":"ip_1mm1JmmMV8dU6Cnb","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud","subnet":{"address":"185.199.221.0","billable":true,"gateway":"185.199.221.1","id":"sbnt_YrLWopCUkImX4wo9","mask":24,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-helpful-ancient-magnesium","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"starting","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3a4c14f9e54936ad7ae8dc55b3b1328"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_fsyXVmsxniQY9K7m
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_ErdTnGa16O1b0MPF","name":"System
      Disk","size_in_gb":25,"wwn":"0a9df6362874cb77","state":"built","created_at":1786736060},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"85bf8d600fde1910c471d6464046fdb6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_ErdTnGa16O1b0MPF
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1786736060,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_ErdTnGa16O1b0MPF","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-18-04"},"number":1,"stable":true},"id":"dinst_YQTk9ap1ivEGORKL"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":25,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"attached","virtual_machine":{"fqdn":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud","id":"vm_fsyXVmsxniQY9K7m"}},"wwn":"0a9df6362874cb77"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"efae995f94341dabca512fc61101e713"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_fsyXVmsxniQY9K7m
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_gd7YiuBWY4S6WYqL","name":"Public
      Network on tf-acc-test-helpful-ancient-magnesium","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud","address_with_mask":"185.199.221.195/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5436e66f0c076ec21f338af6ab85eae9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_gd7YiuBWY4S6WYqL
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_gd7YiuBWY4S6WYqL","virtual_machine":{"id":"vm_fsyXVmsxniQY9K7m","name":"tf-acc-test-helpful-ancient-magnesium"},"name":"Public
      Network on tf-acc-test-helpful-ancient-magnesium","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:02:ac:da:01:0a","state":"attached","ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f2e016244ec17272fe1c5e5b96a1d7eb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0"},"virtual_machine":{"id":"vm_fsyXVmsxniQY9K7m"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/assign
    method: POST
  response:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0","name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20,"wwn":"0e4a1667673881ce","state":"built","created_at":1786736051,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_fsyXVmsxniQY9K7m","fqdn":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"416c67a96d18e18823bb9fa3f1f16260"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0"},"properties":{"virtual_machine_disk":{"attach_on_boot":true}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: PATCH
  response:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0","name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20,"wwn":"0e4a1667673881ce","state":"built","created_at":1786736051,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_fsyXVmsxniQY9K7m","fqdn":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3b340128203e82e71212b4be34eaf47"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/attach
    method: POST
  response:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0","name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20,"wwn":"0e4a1667673881ce","state":"built","created_at":1786736051,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_fsyXVmsxniQY9K7m","fqdn":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null},"task":{"id":"task_RqCoR89uN75E6R7X","name":"Attach
      disk to virtual machine","status":"pending","created_at":1786736097,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7e4193d63e561574cafa29a25b82193"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_RqCoR89uN75E6R7X
    method: GET
  response:
    body: '{"task":{"id":"task_RqCoR89uN75E6R7X","name":"Attach disk to virtual machine","status":"pending","created_at":1786736097,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"39ecf10ed652e5b44b160247c11fd117"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_fsyXVmsxniQY9K7m","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_fsyXVmsxniQY9K7m","name":"tf-acc-test-helpful-ancient-magnesium"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6cc4c7d2ea7cb17437aececf64bf4da"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_tPnYpUAADMfGfEKn
    method: GET
  response:
    body: '{"task":{"id":"task_tPnYpUAADMfGfEKn","name":"Attach disk to virtual machine","status":"running","created_at":1786736115,"started_at":1786736116,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e56be60da13e86e2ccc20b880bdc72fb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0","name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20,"wwn":"0e4a1667673881ce","state":"built","created_at":1786736051,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_fsyXVmsxniQY9K7m","fqdn":"tf-acc-test-helpful-ancient-magnesium.terraform-acc-test.katapult.cloud"},"attach_on_boot":false,"boot":false,"state":"attached"},"installation":null},"task":{"id":"task_i1IGT5isfl2yzQq7","name":"Detach
      disk from virtual machine","status":"pending","created_at":1786736123,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"334afbbd2654d5083dec660fed31354c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_i1IGT5isfl2yzQq7
    method: GET
  response:
    body: '{"task":{"id":"task_i1IGT5isfl2yzQq7","name":"Detach disk from virtual
      machine","status":"running","created_at":1786736123,"started_at":1786736124,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a926a236746e7d9f5ae4b0d163df6c1c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_IrPnaI1tiETX2IC0","name":"tf-acc-test-disk-a-wBLXgqfFLjfH","size_in_gb":20,"wwn":"0e4a1667673881ce","state":"built","created_at":1786736051,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"905b31c6d56e04abe7746380a9c9931b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_uUAMQcBTmMVeQj4n
    method: GET
  response:
    body: '{"task":{"id":"task_uUAMQcBTmMVeQj4n","name":"Detach disk from virtual
      machine","status":"running","created_at":1786736132,"started_at":1786736132,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4cfb4c71d8e90e42e01835220ef64466"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_3oLqKtCH0nfptonz"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_3oLqKtCH0nfptonz","name":"tf-acc-test-disk-b-wBLXgqfFLjfH","size_in_gb":20,"wwn":"062d25e94f767e7c","state":"built","created_at":1786736057,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_HMBxMNyGah9XqAY8","keep_until":1786908939,"object_id":"disk_3oLqKtCH0nfptonz","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c38a78d1d114eda4a33a9d7cdedc40ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "906"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"virtual_machine":{"id":"vm_fsyXVmsxniQY9K7m"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
[...]
