---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center?data_center%5Bpermalink%5D=nl-ams-01
    method: GET
  response:
    body: '{"data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"449578c72d35035c7dbf76508b9d7604"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-data-center-id-D4eXCQmArBCh"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_networks
    method: POST
  response:
    body: '{"virtual_network":{"id":"vnet_RdTPt0QAPtnztvgl","name":"tf-acc-test-update-data-center-id-D4eXCQmArBCh","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a55bc8bbd48d842eafd2defb4ec7930"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_RdTPt0QAPtnztvgl
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_RdTPt0QAPtnztvgl","name":"tf-acc-test-update-data-center-id-D4eXCQmArBCh","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a55bc8bbd48d842eafd2defb4ec7930"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_network":{"id":"vnet_RdTPt0QAPtnztvgl"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network
    method: DELETE
  response:
    body: '{"virtual_network":{"id":"vnet_RdTPt0QAPtnztvgl","name":"tf-acc-test-update-data-center-id-D4eXCQmArBCh","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a55bc8bbd48d842eafd2defb4ec7930"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_HOKKu7iIH6r3QsQW
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_HOKKu7iIH6r3QsQW","name":"tf-acc-test-update-data-center-id-D4eXCQmArBCh","data_center":{"id":"dc_Wm37yAq0BHhKXsPa","name":"Amsterdam","permalink":"nl-ams-01","country":{"id":"ctry_IHe4noltuwtTYrSJ","name":"Netherlands","iso_code2":"NL","iso_code3":"NLD","time_zone":"Europe/Amsterdam","eu":true}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d56a9f324a72dbe4e487bdd23b56ad78"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_HOKKu7iIH6r3QsQW
    method: GET
  response:
    body: '{"error":{"code":"virtual_network_not_found","description":"No virtual
      network was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 404 Not Found
    code: 404
    duration: ""
