---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_hGgGZCoixIUolIQ9","address":"185.44.253.158","reverse_dns":"185-44-253-158.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.158/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58e0afe97be3e9bc57b6a90278f62f4b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_hGgGZCoixIUolIQ9
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hGgGZCoixIUolIQ9","address":"185.44.253.158","reverse_dns":"185-44-253-158.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.158/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2bd4085f2a1e9d9a503b4b49a0477118"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"not_built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_GTQnfNvYm15WDDt8","name":"Build
      disk","status":"pending","created_at":1778133993,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"35c8f98c6eb7b15763420e6706d0953c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_GTQnfNvYm15WDDt8
    method: GET
  response:
    body: '{"task":{"id":"task_GTQnfNvYm15WDDt8","name":"Build disk","status":"completed","created_at":1778133993,"started_at":1778133993,"finished_at":1778133994,"progress":100}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fe56be22e6177d3a1b879b009d5610e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_Rjrah6gUCEJ1JVaA
    method: GET
  response:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3fdcdb4d35dbb7edb95102db77bad4e9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_hGgGZCoixIUolIQ9\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-bustling-turquoise-watermelon\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_0nNN7p7xeLhSmEZc","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_rwB6B1yVzrlBMv0N","state":"pending"},"virtual_machine_build":{"id":"vmbuild_rwB6B1yVzrlBMv0N","state":"pending"},"hostname":"tf-acc-test-bustling-turquoise-watermelon","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d522ed765903bbe80e6dc2604485e00e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_rwB6B1yVzrlBMv0N
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_rwB6B1yVzrlBMv0N","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.158\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-bustling-turquoise-watermelon\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1778133994},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b46f8601516745ae85dd086ac9bfa050"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_V56qtSrnjFcPBhYj
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj","name":"tf-acc-test-bustling-turquoise-watermelon","hostname":"tf-acc-test-bustling-turquoise-watermelon","fqdn":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud","description":null,"created_at":1778133998,"initial_root_password":"rxWlredBIh3xlXuz","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_hGgGZCoixIUolIQ9","address":"185.44.253.158","reverse_dns":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.158/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_V56qtSrnjFcPBhYj","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"60c51f7562312ac89b892b9853c4e655"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA"},"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/assign
    method: POST
  response:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj","fqdn":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c87baa0688f86a70d89b74100b234eb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/attach
    method: POST
  response:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj","fqdn":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null},"task":{"id":"task_N6qJ2dhXEWOwssoZ","name":"Attach
      disk to virtual machine","status":"pending","created_at":1778134024,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"127103f4d4500e12dc3c3c02795d0b8b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_N6qJ2dhXEWOwssoZ
    method: GET
  response:
    body: '{"task":{"id":"task_N6qJ2dhXEWOwssoZ","name":"Attach disk to virtual machine","status":"pending","created_at":1778134024,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f9d97aa01e8ce272a74ba4c6dca7fc84"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_V56qtSrnjFcPBhYj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_iD03zF74ZQ2E3cIB","name":"Public
      Network on tf-acc-test-bustling-turquoise-watermelon","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_hGgGZCoixIUolIQ9","address":"185.44.253.158","reverse_dns":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.253.158/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e8ecffd3b7a1d41cff00f45618339af"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_iD03zF74ZQ2E3cIB
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_iD03zF74ZQ2E3cIB","virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj","name":"tf-acc-test-bustling-turquoise-watermelon"},"name":"Public
      Network on tf-acc-test-bustling-turquoise-watermelon","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:90:b9:4b:d6:f2","state":"attached","ip_addresses":[{"id":"ip_hGgGZCoixIUolIQ9","address":"185.44.253.158"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41520a694d5751e05efe0c8aa7315887"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_V56qtSrnjFcPBhYj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_agsB76Cbmqz0O2jX","name":"System
      Disk","size_in_gb":25,"wwn":"06151dbc991c5860","state":"built","created_at":1778133998},"attach_on_boot":true,"boot":true,"state":"attached"},{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"built","created_at":1778133993},"attach_on_boot":true,"boot":false,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e24f1eeea0284ded00b97222b4e886c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_hGgGZCoixIUolIQ9
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hGgGZCoixIUolIQ9","address":"185.44.253.158","reverse_dns":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.158/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_V56qtSrnjFcPBhYj","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_V56qtSrnjFcPBhYj","name":"tf-acc-test-bustling-turquoise-watermelon"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd5687029ff20480f21221f0b5faa3a0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj","fqdn":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"attached"},"installation":null},"task":{"id":"task_ZfcWrvAZi5orAZiF","name":"Detach
      disk from virtual machine","status":"pending","created_at":1778134051,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ac1d392942b49f999a23e18bc5746eb8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_ZfcWrvAZi5orAZiF
    method: GET
  response:
    body: '{"task":{"id":"task_ZfcWrvAZi5orAZiF","name":"Detach disk from virtual
      machine","status":"running","created_at":1778134051,"started_at":1778134052,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c7aded867cf1311106118bec72e2e3ec"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"112499456836ca5bf4000101b426ba83"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "938"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_3h8UFtZ4bYPnfuAI","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7cb08612453c57b27f78f90e793dabfa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_3h8UFtZ4bYPnfuAI
    method: GET
  response:
    body: '{"task":{"id":"task_3h8UFtZ4bYPnfuAI","name":"Stop virtual machine","status":"running","created_at":1778134057,"started_at":1778134058,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d10891faa6811bade0d79ce6401798f5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_GZeokNGgQcDA8aME","keep_until":1778306864,"object_id":"vm_V56qtSrnjFcPBhYj","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_V56qtSrnjFcPBhYj","name":"tf-acc-test-bustling-turquoise-watermelon","hostname":"tf-acc-test-bustling-turquoise-watermelon","fqdn":"tf-acc-test-bustling-turquoise-watermelon.terraform-acc-test.katapult.cloud","description":null,"created_at":1778133998,"initial_root_password":"rxWlredBIh3xlXuz","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","perm[...]
- request:
    body: '{"ip_address":{"id":"ip_hGgGZCoixIUolIQ9"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_GZeokNGgQcDA8aME"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_SpJSI0ag80P405QG","name":"Purge items from trash","status":"pending","created_at":1778134066,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f08d838e6d9526e56628238b76391c9c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_GZeokNGgQcDA8aME
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_GZeokNGgQcDA8aME","keep_until":1778306864,"object_id":"vm_V56qtSrnjFcPBhYj","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cbd058364acb6f510265d80902cdf312"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_GZeokNGgQcDA8aME
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_hGgGZCoixIUolIQ9"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: DELETE
  response:
    body: '{"disk":{"id":"disk_Rjrah6gUCEJ1JVaA","name":"tf-acc-test-disk-S1fPr4v6AACS","size_in_gb":20,"wwn":"08955c82a0e0d932","state":"built","created_at":1778133993,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"trash_object":{"id":"trsh_UHLMkKX83PxrdomT","keep_until":1778306902,"object_id":"disk_Rjrah6gUCEJ1JVaA","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"04788f45465067d33f12589cbc0c29a6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "904"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_UHLMkKX83PxrdomT
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_UHLMkKX83PxrdomT","keep_until":1778306902,"object_id":"disk_Rjrah6gUCEJ1JVaA","object_type":"Disk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d61f2c7505b606260afb71037c4de952"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "901"
    status: 200 OK
    code: 200
    duration: ""
[...]
[...]
