---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-nKZWpmxo0g7S-group","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_z65qiDvaSDoBLczl","name":"tf-acc-test-basic-nKZWpmxo0g7S-group","segregate":true,"auto_segregate":false,"created_at":1786625504}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eff3950cf26b05a37046c0f2b9c36a52"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_z65qiDvaSDoBLczl
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_z65qiDvaSDoBLczl","name":"tf-acc-test-basic-nKZWpmxo0g7S-group","segregate":true,"auto_segregate":false,"created_at":1786625504}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eff3950cf26b05a37046c0f2b9c36a52"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_v0YiLJy9J70v3Ryk","address":"185.44.252.139","reverse_dns":"185-44-252-139.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.139/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e052692351eecd007d85c4a4964f309"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_v0YiLJy9J70v3Ryk
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_v0YiLJy9J70v3Ryk","address":"185.44.252.139","reverse_dns":"185-44-252-139.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.139/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"35907813c3b5d92950205eb80b2435ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_Sx0Ed8gNDFneJanr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Sx0Ed8gNDFneJanr","address":"185.44.253.237","reverse_dns":"185-44-253-237.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.237/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92ef6fa5b1181e60c0535116c9507364"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkIn[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_OK7DjW2gMjgdUKnf
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_OK7DjW2gMjgdUKnf","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: '{"properties":{"tag_names":["public","web"]},"virtual_machine":{"id":"vm_k8rzKE7RszoDTP45"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786625514,"description":"A
      web server.","fqdn":"tf-acc-test-basic-nkzwpmxo0g7s-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":{"auto_segregate":false,"created_at":1786625504,"id":"vmgrp_z65qiDvaSDoBLczl","name":"tf-acc-test-basic-nKZWpmxo0g7S-group","segregate":true},"hostname":"tf-acc-test-basic-nkzwpmxo0g7s-host","id":"vm_k8rzKE7RszoDTP45","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.252.139","address_with_mask":"185.44.252.139/22","allocation_id":"vm_k8rzKE7RszoDTP45","allocation_type":"VirtualMachine","id":"ip_v0YiLJy9J70v3Ryk","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","per[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_k8rzKE7RszoDTP45
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786625514,"description":"A
      web server.","fqdn":"tf-acc-test-basic-nkzwpmxo0g7s-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":{"auto_segregate":false,"created_at":1786625504,"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_k8rzKE7RszoDTP45
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_mslRB6yYriPUdM0L","name":"Public
      Network on tf-acc-test-basic-nKZWpmxo0g7S","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_v0YiLJy9J70v3Ryk","address":"185.44.252.139","reverse_dns":"tf-acc-test-basic-nkzwpmxo0g7s-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.139/22"},{"id":"ip_Sx0Ed8gNDFneJanr","address":"185.44.253.237","reverse_dns":"tf-acc-test-basic-nkzwpmxo0g7s-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.253.237/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bbc047b4bc8eaa4b358633a15c598a6d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_mslRB6yYriPUdM0L
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_mslRB6yYriPUdM0L","virtual_machine":{"id":"vm_k8rzKE7RszoDTP45","name":"tf-acc-test-basic-nKZWpmxo0g7S"},"name":"Public
      Network on tf-acc-test-basic-nKZWpmxo0g7S","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:7c:7c:ba:5f:b7","state":"attached","ip_addresses":[{"id":"ip_v0YiLJy9J70v3Ryk","address":"185.44.252.139"},{"id":"ip_Sx0Ed8gNDFneJanr","address":"185.44.253.237"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2fc84d1777172865ccc846f597faea1b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_v0YiLJy9J70v3Ryk
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_v0YiLJy9J70v3Ryk","address":"185.44.252.139","reverse_dns":"tf-acc-test-basic-nkzwpmxo0g7s-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.139/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_k8rzKE7RszoDTP45","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_k8rzKE7RszoDTP45","name":"tf-acc-test-basic-nKZWpmxo0g7S"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0f9c8ed716e684b3d1ed3b4f0ff80194"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_k8rzKE7RszoDTP45"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_iXWsHqAXK1qdNxy8","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d34a9c1d8507406e7df3d83b6d6715f9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_iXWsHqAXK1qdNxy8
    method: GET
  response:
    body: '{"task":{"id":"task_iXWsHqAXK1qdNxy8","name":"Stop virtual machine","status":"pending","created_at":1786625560,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"19702563d44251ccdb8ad2e85f826c1c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_k8rzKE7RszoDTP45"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_VUVp80anrlJZBFlg","keep_until":1786798397,"object_id":"vm_k8rzKE7RszoDTP45","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786625514,"description":"A
      web server.","fqdn":"tf-acc-test-basic-nkzwpmxo0g7s-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":{"auto_segregate":false,"created_at":1786625504,"id":"vmgrp_z65qiDvaSDoBLczl","name":"tf-acc-test-basic-nKZWpmxo0g7S-group","segregate":true},"hostname":"tf-acc-test-basic-nkzwpmxo0g7s-host","id":"vm_k8rzKE7RszoDTP45","initial_root_password":"[REDACTED]","[...]
- request:
    body: '{"ip_address":{"id":"ip_Sx0Ed8gNDFneJanr"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"trash_object":{"id":"trsh_VUVp80anrlJZBFlg"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_UA9anFuvAKeBNusH","name":"Purge items from trash","status":"pending","created_at":1786625599,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f61e350305cd767501a89afce9fc48e9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_VUVp80anrlJZBFlg
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_VUVp80anrlJZBFlg","keep_until":1786798397,"object_id":"vm_k8rzKE7RszoDTP45","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"437ddd56e163b39dd3e54ba769b93e4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_VUVp80anrlJZBFlg
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_z65qiDvaSDoBLczl"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_z65qiDvaSDoBLczl","name":"tf-acc-test-basic-nKZWpmxo0g7S-group","segregate":true,"auto_segregate":false,"created_at":1786625504}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eff3950cf26b05a37046c0f2b9c36a52"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_Sx0Ed8gNDFneJanr"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_k8rzKE7RszoDTP45
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
