---
version: 1
interactions:
- request:
    body: '{"data_center":{"permalink":"uk-lon-01"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-name-k0w4Jb8iFO8F"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_networks
    method: POST
  response:
    body: '{"virtual_network":{"id":"vnet_8WQfOT0aNkLfOsDn","name":"tf-acc-test-update-name-k0w4Jb8iFO8F","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0bee7aa6ea0ca142a66c615ba734036a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_8WQfOT0aNkLfOsDn
    method: GET
  response:
    body: '{"virtual_network":{"id":"vnet_8WQfOT0aNkLfOsDn","name":"tf-acc-test-update-name-k0w4Jb8iFO8F","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0bee7aa6ea0ca142a66c615ba734036a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"name":"tf-acc-test-update-name-k0w4Jb8iFO8F-other"},"virtual_network":{"id":"vnet_8WQfOT0aNkLfOsDn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network
    method: PATCH
  response:
    body: '{"virtual_network":{"id":"vnet_8WQfOT0aNkLfOsDn","name":"tf-acc-test-update-name-k0w4Jb8iFO8F-other","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b37dbac2b2cda663a28410ab8b3e95b9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_networks/virtual_network?virtual_network%5Bid%5D=vnet_8WQfOT0aNkLfOsDn
    method: GET
  response:
    body: '{"error":{"code":"virtual_network_not_found","description":"No virtual
      network was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 404 Not Found
    code: 404
    duration: ""
