---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_7an3hHvvnZ8OZuMU","address":"185.44.254.127","reverse_dns":"185-44-254-127.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.127/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9b37ccf7a6d035552237367f1a2a98fa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_7an3hHvvnZ8OZuMU
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_7an3hHvvnZ8OZuMU","address":"185.44.254.127","reverse_dns":"185-44-254-127.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.127/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fdb4233abc3c6315743de29f3a37001b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkIn[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_1qzIjUmRzIsPk65x
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_1qzIjUmRzIsPk65x","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: '{"properties":{"tag_names":["public","web"]},"virtual_machine":{"id":"vm_LajZbMpAMyCaR6if"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786625873,"description":"A
      web server.","fqdn":"tf-acc-test-update-0ifugrmpbwar-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-0ifugrmpbwar-host","id":"vm_LajZbMpAMyCaR6if","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.254.127","address_with_mask":"185.44.254.127/22","allocation_id":"vm_LajZbMpAMyCaR6if","allocation_type":"VirtualMachine","id":"ip_7an3hHvvnZ8OZuMU","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-update-0ifugrmpbwar-host.terraform-acc-test.katapult.cloud","subnet":{"address":"185.44.252.0","billable":true,"gateway":"185.44.255.254","id":"sbnt_9FYjp2bT20hooq9u","mask":22,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-update-0iFuGrmpbwAr","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"stopped","suspended":false,"suspended_at":null,"tag_names":["web","public"],"tags":[{"color":"pastel_orange","created_at":1610021329,"id":"tag_NqAjIfOyzSMyuFPS","name":"web"},{"color":"pink","created_at":1610021329,"id":"tag_YuRGuWJE432q8wxT","name":"public"}],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c1006b7b328271d954bb3efadbb807b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_LajZbMpAMyCaR6if
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786625873,"description":"A
      web server.","fqdn":"tf-acc-test-update-0ifugrmpbwar-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-0ifugrmpbwar[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_LajZbMpAMyCaR6if
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_6fJFNV5I0NhcCW6o","name":"Public
      Network on tf-acc-test-update-0iFuGrmpbwAr","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_7an3hHvvnZ8OZuMU","address":"185.44.254.127","reverse_dns":"tf-acc-test-update-0ifugrmpbwar-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.254.127/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c3a51d2757220c73c62b0b869d99183"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_6fJFNV5I0NhcCW6o
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_6fJFNV5I0NhcCW6o","virtual_machine":{"id":"vm_LajZbMpAMyCaR6if","name":"tf-acc-test-update-0iFuGrmpbwAr"},"name":"Public
      Network on tf-acc-test-update-0iFuGrmpbwAr","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:7b:b4:06:14:3e","state":"attached","ip_addresses":[{"id":"ip_7an3hHvvnZ8OZuMU","address":"185.44.254.127"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff29f2051968e465eca887242ebdfeb5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_7an3hHvvnZ8OZuMU
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_7an3hHvvnZ8OZuMU","address":"185.44.254.127","reverse_dns":"tf-acc-test-update-0ifugrmpbwar-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.127/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_LajZbMpAMyCaR6if","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_LajZbMpAMyCaR6if","name":"tf-acc-test-update-0iFuGrmpbwAr"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"88cfba3b083edb2af376b5a5fb0a6a32"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"speed_profile":{"permalink":"10gbps"},"virtual_machine_network_interface":{"id":"vmnet_6fJFNV5I0NhcCW6o"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_ZtshzMppCpHm2lb6","name":"Change network interface
      speed profile","status":"pending","created_at":1786625936,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9956a0ce3bcaeeb7a76039b6406254b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_ZtshzMppCpHm2lb6
    method: GET
  response:
    body: '{"task":{"id":"task_ZtshzMppCpHm2lb6","name":"Change network interface
      speed profile","status":"running","created_at":1786625936,"started_at":1786625936,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a47db32b203acd55e4f77e463cade71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_LajZbMpAMyCaR6if"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_Z7zBL2MyQH9JgcdT","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f6ba55c3f4a26ed6e5f6d647df8af3f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_Z7zBL2MyQH9JgcdT
    method: GET
  response:
    body: '{"task":{"id":"task_Z7zBL2MyQH9JgcdT","name":"Stop virtual machine","status":"pending","created_at":1786625943,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6938acf42f5f9a97bb9f184e32e23aa1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_LajZbMpAMyCaR6if"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_MOyrTRh5JjAN5ETs","keep_until":1786798770,"object_id":"vm_LajZbMpAMyCaR6if","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786625873,"description":"A
      app server.","fqdn":"tf-acc-test-update-0ifugrmpbwar-host-diff.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-0ifugrmpbwar-host-diff","id":"vm_LajZbMpAMyCaR6if","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.254.127","address_with_mask":"185.44.254.127/22","allocation_id":"vm_LajZbMpAMyCaR6if","all[...]
- request:
    body: '{"ip_address":{"id":"ip_7an3hHvvnZ8OZuMU"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_MOyrTRh5JjAN5ETs"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_xwG7WcN3BcmpYBQm","name":"Purge items from trash","status":"pending","created_at":1786625971,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cea50e8ba0aacd58eac4f08a2c57c30f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_MOyrTRh5JjAN5ETs
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_MOyrTRh5JjAN5ETs","keep_until":1786798770,"object_id":"vm_LajZbMpAMyCaR6if","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a82041ded542ea4abdce630d630ea22f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_MOyrTRh5JjAN5ETs
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_7an3hHvvnZ8OZuMU"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_LajZbMpAMyCaR6if
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
