---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_XB3TWQoVHf8mjjGb","address":"185.44.252.142","reverse_dns":"185-44-252-142.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.142/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28072e585e41567ad6e9bc6d68e53d8b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_XB3TWQoVHf8mjjGb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_XB3TWQoVHf8mjjGb","address":"185.44.252.142","reverse_dns":"185-44-252-142.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.142/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7014e3f0a21018840cb6d5b65352970b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cSystemDis[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_EsTtDWNNkZmfqopm
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_EsTtDWNNkZmfqopm","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_WaJxucbZxPXc1MwA
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_WaJxucbZxPXc1MwA","name":"tf-acc-test-custom-disks-zkf2km229AqE","hostname":"tf-acc-test-custom-disks-zkf2km229aqe-host","fqdn":"tf-acc-test-custom-disks-zkf2km229aqe-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778239739,"initial_root_password":"gT9dwuIajXdJm1FJ","state":"allocating","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_XB3TWQoVHf8mjjGb","address":"185.44.252.142","reverse_dns":"tf-acc-test-custom-disks-zkf2km229aqe-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.142/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_WaJxucbZxPXc1MwA","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a644501fe75a10b2bd3cb79fe9103b4f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_WaJxucbZxPXc1MwA
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_tKt9feR8JjvoAgaY","name":"Public
      Network on tf-acc-test-custom-disks-zkf2km229AqE","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_XB3TWQoVHf8mjjGb","address":"185.44.252.142","reverse_dns":"tf-acc-test-custom-disks-zkf2km229aqe-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.142/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fdda55f2549ef83c18a14e44ea6c881b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "713"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_tKt9feR8JjvoAgaY
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_tKt9feR8JjvoAgaY","virtual_machine":{"id":"vm_WaJxucbZxPXc1MwA","name":"tf-acc-test-custom-disks-zkf2km229AqE"},"name":"Public
      Network on tf-acc-test-custom-disks-zkf2km229AqE","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:a0:b6:a6:f7:e1","state":"attached","ip_addresses":[{"id":"ip_XB3TWQoVHf8mjjGb","address":"185.44.252.142"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be7dcdf4ecb10da74afae29a0d5251c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "704"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_WaJxucbZxPXc1MwA
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_TOOSHoLaVT4ghski","name":"System","size_in_gb":20,"wwn":"074b6dc5701115ec","state":"built","created_at":1778239743},"attach_on_boot":true,"boot":true,"state":"attached"},{"disk":{"id":"disk_zabJmc4OGWY2ZOcs","name":"Data","size_in_gb":10,"wwn":"058e38975cdd6e9c","state":"built","created_at":1778239746},"attach_on_boot":true,"boot":false,"state":"attached"},{"disk":{"id":"disk_nPF0tLx8EgUjv3d9","name":"Disk
      #3","size_in_gb":10,"wwn":"0a3d5928e4573529","state":"built","created_at":1778239747},"attach_on_boot":true,"boot":false,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"de25479167375105460a4c851faca905"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "699"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_XB3TWQoVHf8mjjGb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_XB3TWQoVHf8mjjGb","address":"185.44.252.142","reverse_dns":"tf-acc-test-custom-disks-zkf2km229aqe-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.142/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_WaJxucbZxPXc1MwA","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_WaJxucbZxPXc1MwA","name":"tf-acc-test-custom-disks-zkf2km229AqE"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58ef020a7e741eafaaa02626c159d128"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "685"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_WaJxucbZxPXc1MwA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_BPL6Ni9AbPWFX7HJ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9f02bc29dc1e8afd0b845caf558eaa49"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "656"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_BPL6Ni9AbPWFX7HJ
    method: GET
  response:
    body: '{"task":{"id":"task_BPL6Ni9AbPWFX7HJ","name":"Stop virtual machine","status":"pending","created_at":1778239835,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3bb925af172ccef195f9bb217069d3f8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "619"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_WaJxucbZxPXc1MwA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_Wtuj4Ok6S1AuJTeE","keep_until":1778412672,"object_id":"vm_WaJxucbZxPXc1MwA","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_WaJxucbZxPXc1MwA","name":"tf-acc-test-custom-disks-zkf2km229AqE","hostname":"tf-acc-test-custom-disks-zkf2km229aqe-host","fqdn":"tf-acc-test-custom-disks-zkf2km229aqe-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778239739,"initial_root_password":"gT9dwuIajXdJm1FJ","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name"[...]
- request:
    body: '{"ip_address":{"id":"ip_XB3TWQoVHf8mjjGb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_Wtuj4Ok6S1AuJTeE"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_fQZMf2Ohgw5Zedy3","name":"Purge items from trash","status":"pending","created_at":1778239873,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fdf7280d78ca099c52b4e048a60c3d07"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_Wtuj4Ok6S1AuJTeE
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_Wtuj4Ok6S1AuJTeE","keep_until":1778412672,"object_id":"vm_WaJxucbZxPXc1MwA","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4306906d48f51f9ab24de72db1dccb46"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_Wtuj4Ok6S1AuJTeE
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_XB3TWQoVHf8mjjGb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_WaJxucbZxPXc1MwA
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
