---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-3plzc5mqcWLl-group","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Fr2EB8qKmHtXJrss","name":"tf-acc-test-basic-3plzc5mqcWLl-group","segregate":true,"auto_segregate":false,"created_at":1778239707}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7036db85c618c2cf9e8b5ac9b2cfa814"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_Fr2EB8qKmHtXJrss
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Fr2EB8qKmHtXJrss","name":"tf-acc-test-basic-3plzc5mqcWLl-group","segregate":true,"auto_segregate":false,"created_at":1778239707}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7036db85c618c2cf9e8b5ac9b2cfa814"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_nuj0cACTzTw9sQRn","address":"185.44.254.194","reverse_dns":"185-44-254-194.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.194/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d79f0bd47bcba39e06e334396edf632b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_nuj0cACTzTw9sQRn
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_nuj0cACTzTw9sQRn","address":"185.44.254.194","reverse_dns":"185-44-254-194.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.194/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"098711df11b7d1310d9e13d6a72bbac3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_Zfo5Tvfxi7eLR57n
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Zfo5Tvfxi7eLR57n","address":"185.44.255.47","reverse_dns":"185-44-255-47.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.47/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bfb44cac11d59819f508263b258fc9fb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkIn[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_QkcG3q4jyUEuFf4v
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_QkcG3q4jyUEuFf4v","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: '{"properties":{"tag_names":["public","web"]},"virtual_machine":{"id":"vm_po2oSbV0iQC8PThK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_po2oSbV0iQC8PThK","name":"tf-acc-test-basic-3plzc5mqcWLl","hostname":"tf-acc-test-basic-3plzc5mqcwll-host","fqdn":"tf-acc-test-basic-3plzc5mqcwll-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778239747,"initial_root_password":"vqSVaaUL9iB1fkeB","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_Fr2EB8qKmHtXJrss","name":"tf-acc-test-basic-3plzc5mqcWLl-group","segregate":true,"auto_segregate":false,"created_at":1778239707},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_nuj0cACTzTw9sQRn","address":"185.44.254.194","reverse_dns":"tf-acc-test-basic-3plzc5mqcwll-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.194/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_co[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_po2oSbV0iQC8PThK
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_po2oSbV0iQC8PThK","name":"tf-acc-test-basic-3plzc5mqcWLl","hostname":"tf-acc-test-basic-3plzc5mqcwll-host","fqdn":"tf-acc-test-basic-3plzc5mqcwll-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778239747,"initial_root_pass[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_po2oSbV0iQC8PThK
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_XWGf619FZGpbPZxM","name":"Public
      Network on tf-acc-test-basic-3plzc5mqcWLl","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_nuj0cACTzTw9sQRn","address":"185.44.254.194","reverse_dns":"tf-acc-test-basic-3plzc5mqcwll-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.254.194/22"},{"id":"ip_Zfo5Tvfxi7eLR57n","address":"185.44.255.47","reverse_dns":"tf-acc-test-basic-3plzc5mqcwll-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.255.47/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ea0ce354a6a6975cc8ab66d25bcd2d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "473"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_XWGf619FZGpbPZxM
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_XWGf619FZGpbPZxM","virtual_machine":{"id":"vm_po2oSbV0iQC8PThK","name":"tf-acc-test-basic-3plzc5mqcWLl"},"name":"Public
      Network on tf-acc-test-basic-3plzc5mqcWLl","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:03:99:a4:19:d2","state":"detached","ip_addresses":[{"id":"ip_nuj0cACTzTw9sQRn","address":"185.44.254.194"},{"id":"ip_Zfo5Tvfxi7eLR57n","address":"185.44.255.47"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d7cef1ca0198b5c2e43594794c63c8d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "472"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_po2oSbV0iQC8PThK
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_eLPTkLIwKuRgNnJj","name":"System
      Disk","size_in_gb":25,"wwn":"0dcb1736730fc291","state":"built","created_at":1778239749},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"23c7a115aec9dc020f212871a9e04eb5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "471"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_nuj0cACTzTw9sQRn
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_nuj0cACTzTw9sQRn","address":"185.44.254.194","reverse_dns":"tf-acc-test-basic-3plzc5mqcwll-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.194/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_po2oSbV0iQC8PThK","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_po2oSbV0iQC8PThK","name":"tf-acc-test-basic-3plzc5mqcWLl"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5d2f9f17b9a5e464ba176b25cf87908"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "468"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_po2oSbV0iQC8PThK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_h9waN3q0xDYr6CqL","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bdbd8dd50cf4a9e8f87cbb4e9cc7b2e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "460"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_h9waN3q0xDYr6CqL
    method: GET
  response:
    body: '{"task":{"id":"task_h9waN3q0xDYr6CqL","name":"Stop virtual machine","status":"pending","created_at":1778239854,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6033be16fc5fae9db061114b8d0e7105"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "456"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_po2oSbV0iQC8PThK"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_qBUjO8JkBmxDVXE1","keep_until":1778412681,"object_id":"vm_po2oSbV0iQC8PThK","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_po2oSbV0iQC8PThK","name":"tf-acc-test-basic-3plzc5mqcWLl","hostname":"tf-acc-test-basic-3plzc5mqcwll-host","fqdn":"tf-acc-test-basic-3plzc5mqcwll-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1778239747,"initial_root_password":"vqSVaaUL9iB1fkeB","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: '{"ip_address":{"id":"ip_Zfo5Tvfxi7eLR57n"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"trash_object":{"id":"trsh_qBUjO8JkBmxDVXE1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_mI4dBdX5ANK2SRhP","name":"Purge items from trash","status":"pending","created_at":1778239882,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf55c8fe9df9b4fb08ffa61e20a8a59e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "883"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_qBUjO8JkBmxDVXE1
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_qBUjO8JkBmxDVXE1","keep_until":1778412681,"object_id":"vm_po2oSbV0iQC8PThK","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb1f2f05bc9687f5c35f4fcf06b557bc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
[...]
