---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_bpf434OQfO0tSEBT","address":"185.44.255.184","reverse_dns":"185-44-255-184.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.184/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"03373096a15a1f91fc0b7895b6c44b94"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_bpf434OQfO0tSEBT
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_bpf434OQfO0tSEBT","address":"185.44.255.184","reverse_dns":"185-44-255-184.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.184/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a8083a1bc8d5e29e47c763be7e8c7fef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_bpf434OQfO0tSEBT</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-migrate-v5-state-o8orltu6kn8j-host</Hostname></Hostname><Name>tf-acc-test-migrate-v5-state-o8orltu6kn8j</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_sddxdpPs8T2FklTQ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_I2v12DgIuUSXbSKt","state":"pending"},"virtual_machine_build":{"id":"vmbuild_I2v12DgIuUSXbSKt","state":"pending"},"hostname":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09257a150b9f47f9e1adafb793ddc461"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_I2v12DgIuUSXbSKt
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_I2v12DgIuUSXbSKt","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.255.184\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-migrate-v5-state-o8orltu6kn8j-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-migrate-v5-state-o8orltu6kn8j\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786810636},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba9d8411b7d2085ec678e47f0f3f8e3b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Fd4RfHoJjOquMnyL
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786810644,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host","id":"vm_Fd4RfHoJjOquMnyL","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.255.184","address_with_mask":"185.44.255.184/22","allocation_id":"vm_Fd4RfHoJjOquMnyL","allocation_type":"VirtualMachine","id":"ip_bpf434OQfO0tSEBT","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","subnet":{"address":"185.44.252.0","billable":true,"gateway":"185.44.255.254","id":"sbnt_9FYjp2bT20hooq9u","mask":22,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-migrate-v5-state-o8orltu6kn8j","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"started","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6064caa397600e8b928c7a6380d7db22"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_Fd4RfHoJjOquMnyL
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_O9aVrtsEc7yfHUAB","name":"Public
      Network on tf-acc-test-migrate-v5-state-o8orltu6kn8j","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_bpf434OQfO0tSEBT","address":"185.44.255.184","reverse_dns":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.255.184/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5bf540173ff5362ac271380b8c79cad2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_O9aVrtsEc7yfHUAB
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_O9aVrtsEc7yfHUAB","virtual_machine":{"id":"vm_Fd4RfHoJjOquMnyL","name":"tf-acc-test-migrate-v5-state-o8orltu6kn8j"},"name":"Public
      Network on tf-acc-test-migrate-v5-state-o8orltu6kn8j","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8d:17:0a:89:ca","state":"attached","ip_addresses":[{"id":"ip_bpf434OQfO0tSEBT","address":"185.44.255.184"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3260496ed747f54f934a83af40342893"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_O9aVrtsEc7yfHUAB
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_O9aVrtsEc7yfHUAB","virtual_machine":{"id":"vm_Fd4RfHoJjOquMnyL","name":"tf-acc-test-migrate-v5-state-o8orltu6kn8j"},"name":"Public
      Network on tf-acc-test-migrate-v5-state-o8orltu6kn8j","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8d:17:0a:89:ca","state":"attached","ip_addresses":[{"id":"ip_bpf434OQfO0tSEBT","address":"185.44.255.184"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3260496ed747f54f934a83af40342893"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_Fd4RfHoJjOquMnyL
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786810644,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-migrate-v5-state-o8orltu6k[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_bpf434OQfO0tSEBT
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_bpf434OQfO0tSEBT","address":"185.44.255.184","reverse_dns":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.184/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_Fd4RfHoJjOquMnyL","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Fd4RfHoJjOquMnyL","name":"tf-acc-test-migrate-v5-state-o8orltu6kn8j"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"67e911ce615da44153c257646cd5aa22"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_Fd4RfHoJjOquMnyL
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_xpVEJaKId7dVBcP6","name":"System
      Disk","size_in_gb":25,"wwn":"0919432e38b86358","state":"built","created_at":1786810644},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"134ac208cb528cd55adedaf20aa64727"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_xpVEJaKId7dVBcP6
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1786810644,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_xpVEJaKId7dVBcP6","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-18-04"},"number":1,"stable":true},"id":"dinst_5jBeZUV5ruHwmX2r"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":25,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"attached","virtual_machine":{"fqdn":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","id":"vm_Fd4RfHoJjOquMnyL"}},"wwn":"0919432e38b86358"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d2466f1a92c3a5cc50b0d29a481c444f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Fd4RfHoJjOquMnyL"},"properties":{"name":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-renamed","tag_names":[]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786810644,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group[...]
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Fd4RfHoJjOquMnyL"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_MVyizzxrirAWSr78","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"27bc896513f979466420c8cd3267db30"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_MVyizzxrirAWSr78
    method: GET
  response:
    body: '{"task":{"id":"task_MVyizzxrirAWSr78","name":"Stop virtual machine","status":"pending","created_at":1786810683,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22dc344af04205556caa36e85261debf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_Fd4RfHoJjOquMnyL"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_KfugloWAzXu42iEB","keep_until":1786983501,"object_id":"vm_Fd4RfHoJjOquMnyL","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786810644,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-migrate-v5-state-o8orltu6kn8j-host","id":"vm_Fd4RfHoJjOquMnyL","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.44.255.184","address_with_mask":"185.44.255.184/22","allocation_id":"vm_Fd4RfHoJjOquMnyL","allocation[...]
- request:
    body: '{"ip_address":{"id":"ip_bpf434OQfO0tSEBT"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_KfugloWAzXu42iEB"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_ksbR7J47NVdnJxts","name":"Purge items from trash","status":"pending","created_at":1786810702,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c13af326568ceb7b7359de6e6537eab4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_KfugloWAzXu42iEB
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_KfugloWAzXu42iEB","keep_until":1786983501,"object_id":"vm_Fd4RfHoJjOquMnyL","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e9654e0ee7948eb7822bce4167afaabf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_KfugloWAzXu42iEB
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_Fd4RfHoJjOquMnyL
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_bpf434OQfO0tSEBT
    method: GET
  response:
    body: '{"error":{"code":"ip_address_not_found","description":"No IP addresses
      were found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 404 Not Found
    code: 404
    duration: ""
