---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_JIGolr3ltqjTkK0d","address":"77.72.7.130","reverse_dns":"77-72-7-130.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.130/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7fd89b9252ab4a604881979306f66bea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_JIGolr3ltqjTkK0d
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JIGolr3ltqjTkK0d","address":"77.72.7.130","reverse_dns":"77-72-7-130.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"77.72.7.130/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec9c73b803454da6e4bc1feb7da41adb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_JIGolr3ltqjTkK0d</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-migrate-v5-state-ffzacz8naxsp-host</Hostname></Hostname><Name>tf-acc-test-migrate-v5-state-ffzacz8naxsp</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_bC395MfinFu6uSRo","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_Kc7fyKvTRPUT2lRM","state":"pending"},"virtual_machine_build":{"id":"vmbuild_Kc7fyKvTRPUT2lRM","state":"pending"},"hostname":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4861d171b64c9753766ceb8b24d11a9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_Kc7fyKvTRPUT2lRM
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Kc7fyKvTRPUT2lRM","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e77.72.7.130\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-migrate-v5-state-ffzacz8naxsp-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-migrate-v5-state-ffzacz8naxsp\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786455574},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"03c8d48965e71b33e7325bdbf5d8e109"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_uALDUR6m07mWCgk8
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786455583,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host","id":"vm_uALDUR6m07mWCgk8","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"77.72.7.130","address_with_mask":"77.72.7.130/24","allocation_id":"vm_uALDUR6m07mWCgk8","allocation_type":"VirtualMachine","id":"ip_JIGolr3ltqjTkK0d","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","subnet":{"address":"77.72.7.0","billable":true,"gateway":"77.72.7.1","id":"sbnt_XiXsdsGhwZ9wFXkt","mask":24,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-migrate-v5-state-ffzacz8naxsp","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"starting","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"549be00aa397164e975ba15ccf0245ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_uALDUR6m07mWCgk8
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ibQdeoEQaBY8Rhwt","name":"Public
      Network on tf-acc-test-migrate-v5-state-ffzacz8naxsp","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_JIGolr3ltqjTkK0d","address":"77.72.7.130","reverse_dns":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","address_with_mask":"77.72.7.130/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f76b1f4daf2ae8bd5c307d86d93815e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_ibQdeoEQaBY8Rhwt
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_ibQdeoEQaBY8Rhwt","virtual_machine":{"id":"vm_uALDUR6m07mWCgk8","name":"tf-acc-test-migrate-v5-state-ffzacz8naxsp"},"name":"Public
      Network on tf-acc-test-migrate-v5-state-ffzacz8naxsp","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8c:d7:82:0c:13","state":"attached","ip_addresses":[{"id":"ip_JIGolr3ltqjTkK0d","address":"77.72.7.130"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0cd5933edcea62340f035f8d881f91ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_ibQdeoEQaBY8Rhwt
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_ibQdeoEQaBY8Rhwt","virtual_machine":{"id":"vm_uALDUR6m07mWCgk8","name":"tf-acc-test-migrate-v5-state-ffzacz8naxsp"},"name":"Public
      Network on tf-acc-test-migrate-v5-state-ffzacz8naxsp","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8c:d7:82:0c:13","state":"attached","ip_addresses":[{"id":"ip_JIGolr3ltqjTkK0d","address":"77.72.7.130"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0cd5933edcea62340f035f8d881f91ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_uALDUR6m07mWCgk8
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786455583,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-migrate-v5-state-ffzacz8na[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_JIGolr3ltqjTkK0d
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JIGolr3ltqjTkK0d","address":"77.72.7.130","reverse_dns":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"77.72.7.130/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_XiXsdsGhwZ9wFXkt","address":"77.72.7.0","gateway":"77.72.7.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_uALDUR6m07mWCgk8","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_uALDUR6m07mWCgk8","name":"tf-acc-test-migrate-v5-state-ffzacz8naxsp"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"403c5800600f4608b0c57990a5a38774"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_uALDUR6m07mWCgk8
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ibQdeoEQaBY8Rhwt","name":"Public
      Network on tf-acc-test-migrate-v5-state-ffzacz8naxsp","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_JIGolr3ltqjTkK0d","address":"77.72.7.130","reverse_dns":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","address_with_mask":"77.72.7.130/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f76b1f4daf2ae8bd5c307d86d93815e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_uALDUR6m07mWCgk8"},"properties":{"name":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-renamed","tag_names":[]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786455583,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group[...]
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_uALDUR6m07mWCgk8"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_hRfIMSZwo53oJ54j","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ac7d58ef00ee2fd228d911c4a5a68e7d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_hRfIMSZwo53oJ54j
    method: GET
  response:
    body: '{"task":{"id":"task_hRfIMSZwo53oJ54j","name":"Stop virtual machine","status":"pending","created_at":1786455634,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8392b3904faf9fdc7ab1479929eab76"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_uALDUR6m07mWCgk8"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_T1KNu7Nm7BWiFv2H","keep_until":1786628481,"object_id":"vm_uALDUR6m07mWCgk8","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786455583,"description":null,"fqdn":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-migrate-v5-state-ffzacz8naxsp-host","id":"vm_uALDUR6m07mWCgk8","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"77.72.7.130","address_with_mask":"77.72.7.130/24","allocation_id":"vm_uALDUR6m07mWCgk8","allocation_type"[...]
- request:
    body: '{"ip_address":{"id":"ip_JIGolr3ltqjTkK0d"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_T1KNu7Nm7BWiFv2H"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_1SnnQUwSAJLsbur0","name":"Purge items from trash","status":"pending","created_at":1786455683,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a98f3ab4da07a7277fda193ce9a4e427"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_T1KNu7Nm7BWiFv2H
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_T1KNu7Nm7BWiFv2H","keep_until":1786628481,"object_id":"vm_uALDUR6m07mWCgk8","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2cf0c958e9cc779cf932899700677d19"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_T1KNu7Nm7BWiFv2H
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_uALDUR6m07mWCgk8
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 404 Not Found
    code: 404
    duration: ""
