---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc44ed75ff0ddfdc194b77817125f428"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4cebb798fdb87cbbbc9b434168dc3ac"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_1mm1JmmMV8dU6Cnb\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-update-package-downgrade-error-cE3WOalkmd2N-host\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cName\u003etf-acc-test-update-package-downgrade-error-cE3WOalkmd2N\u003c/Name\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_HpnP2t4z9h1ivk0H","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_hytOUNKdPe5LZVar","state":"pending"},"virtual_machine_build":{"id":"vmbuild_hytOUNKdPe5LZVar","state":"pending"},"hostname":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7fbd39895a5a5b413a07c9c9891e4a3d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_hytOUNKdPe5LZVar
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_hytOUNKdPe5LZVar","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.195\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-package-downgrade-error-cE3WOalkmd2N\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786738723},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c419b42516a8421a07f15a617b3ea78"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_g55RzbYfSI54mETy
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786738735,"description":null,"fqdn":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host","id":"vm_g55RzbYfSI54mETy","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.221.195","address_with_mask":"185.199.221.195/24","allocation_id":"vm_g55RzbYfSI54mETy","allocation_type":"VirtualMachine","id":"ip_1mm1JmmMV8dU6Cnb","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host.terraform-acc-test.katapult.cloud","subnet":{"address":"185.199.221.0","billable":true,"gateway":"185.199.221.1","id":"sbnt_YrLWopCUkImX4wo9","mask":24,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-update-package-downgrade-error-cE3WOalkmd2N","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"starting","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6b41313777e7baa3d89c7b2eeed09d3c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_g55RzbYfSI54mETy
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_h5CdCwfetiNrduFF","name":"System
      Disk","size_in_gb":25,"wwn":"086dde91001fae10","state":"built","created_at":1786738735},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"de7944166e9031ad3ff3c38d2652ad4f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_h5CdCwfetiNrduFF
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1786738735,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_h5CdCwfetiNrduFF","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-18-04"},"number":1,"stable":true},"id":"dinst_gIk0HIxyzmGy4Cio"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":25,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"attached","virtual_machine":{"fqdn":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host.terraform-acc-test.katapult.cloud","id":"vm_g55RzbYfSI54mETy"}},"wwn":"086dde91001fae10"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d7949b47138bd6bc8e5a37369581352e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_g55RzbYfSI54mETy
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_sdd1vLb8XCbc4Scl","name":"Public
      Network on tf-acc-test-update-package-downgrade-error-cE3WOalkmd2N","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.199.221.195/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"80df3338b9e8c5b86aab2179b0aaa9c7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_sdd1vLb8XCbc4Scl
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_sdd1vLb8XCbc4Scl","virtual_machine":{"id":"vm_g55RzbYfSI54mETy","name":"tf-acc-test-update-package-downgrade-error-cE3WOalkmd2N"},"name":"Public
      Network on tf-acc-test-update-package-downgrade-error-cE3WOalkmd2N","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:58:75:71:8a:06","state":"attached","ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cbae7f6c3a8d04a134b6b3cbba9be7e0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_g55RzbYfSI54mETy","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_g55RzbYfSI54mETy","name":"tf-acc-test-update-package-downgrade-error-cE3WOalkmd2N"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e48b1dc8abca12f673406adf814c154"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/virtual_machine_package?virtual_machine_package%5Bpermalink%5D=rock-1
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"858692638091f36cd41151d389dfdb44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_g55RzbYfSI54mETy"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_pDa2FZcj59bSOmHR","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"84d96100d4afa65a4c2a657b178a29de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_pDa2FZcj59bSOmHR
    method: GET
  response:
    body: '{"task":{"id":"task_pDa2FZcj59bSOmHR","name":"Stop virtual machine","status":"pending","created_at":1786738789,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b4d7f362672b47c96e87df45fa7c3768"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_g55RzbYfSI54mETy"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_AKul4RgNlQ92Aypn","keep_until":1786911606,"object_id":"vm_g55RzbYfSI54mETy","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786738735,"description":null,"fqdn":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-package-downgrade-error-ce3woalkmd2n-host","id":"vm_g55RzbYfSI54mETy","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.221.195","address_with_mask":"185.199.221.195/24","allocation_id":"vm[...]
- request:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_AKul4RgNlQ92Aypn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_hGkiKa3O1NuH5JkN","name":"Purge items from trash","status":"pending","created_at":1786738807,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"821cdaabf52e8026e78af6c4f4ff6619"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_AKul4RgNlQ92Aypn
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_AKul4RgNlQ92Aypn","keep_until":1786911606,"object_id":"vm_g55RzbYfSI54mETy","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fda690c71d9e4fd1a44af05e44704753"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_AKul4RgNlQ92Aypn
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_g55RzbYfSI54mETy
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
