---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"185-53-57-214.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7a432557baf4aff30fa933df06ce38af"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_eVBlIcr0HXACL80t
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"185-53-57-214.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09d34feb415c5902c29be8d54609d8ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_eVBlIcr0HXACL80t\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-shy-shapely-bus\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_jbuD9j4BC1ZBUHfJ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_bNmmY8NqCCe0foPD","state":"pending"},"virtual_machine_build":{"id":"vmbuild_bNmmY8NqCCe0foPD","state":"pending"},"hostname":"tf-acc-test-shy-shapely-bus","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dfaccfe223187c4384991ceaa8e7a5e2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_bNmmY8NqCCe0foPD
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_bNmmY8NqCCe0foPD","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.214\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-shy-shapely-bus\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1778244458},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f96b6db5284b9f6ba8864d6bc117b65c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_hNzdZZyWWLuItzkg
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg","name":"tf-acc-test-shy-shapely-bus","hostname":"tf-acc-test-shy-shapely-bus","fqdn":"tf-acc-test-shy-shapely-bus.terraform-acc-test.katapult.cloud","description":null,"created_at":1778244464,"initial_root_password":"sAyE4yMeU6nGUXs2","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"tf-acc-test-shy-shapely-bus.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_hNzdZZyWWLuItzkg","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0e15ad80ab81cea0d7e3030332573781"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_hNzdZZyWWLuItzkg
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_KF7oZCH2FJ203U7J","name":"Public
      Network on tf-acc-test-shy-shapely-bus","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"tf-acc-test-shy-shapely-bus.terraform-acc-test.katapult.cloud","address_with_mask":"185.53.57.214/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58dbb3419d21131b795f1119d437ecbb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_KF7oZCH2FJ203U7J
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_KF7oZCH2FJ203U7J","virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg","name":"tf-acc-test-shy-shapely-bus"},"name":"Public
      Network on tf-acc-test-shy-shapely-bus","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:ef:ad:8e:bd:97","state":"attached","ip_addresses":[{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57134c1a7992ab228ef4f96e49400aca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_hNzdZZyWWLuItzkg
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_GLL7RkilYtFvW01J","name":"System
      Disk","size_in_gb":25,"wwn":"0ed682b9abed396e","state":"built","created_at":1778244464},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9003b027247804b29335336ea95ae02"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_eVBlIcr0HXACL80t
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214","reverse_dns":"tf-acc-test-shy-shapely-bus.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.214/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_hNzdZZyWWLuItzkg","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_hNzdZZyWWLuItzkg","name":"tf-acc-test-shy-shapely-bus"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f2d8ff98b9817007b086ffd2bb39aa23"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_HkxhtyjL6oxik5Tm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"185-53-57-146.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_xcu60XEu7BbehUVJ","address":"185.53.57.0","gateway":"185.53.57.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2937504c4355622ec64b3205024c9106"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg"},"properties":{"name":"","tag_names":[]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg","name":"tf-acc-test-shy-shapely-bus","hostname":"tf-acc-test-shy-shapely-bus","fqdn":"tf-acc-test-shy-shapely-bus.terraform-acc-test.katapult.cloud","description":null,"created_at":1778244464,"initial_root_password":"sAyE4yMeU6nGUXs2","st[...]
[...]
- request:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm"},"virtual_machine_network_interface":{"id":"vmnet_KF7oZCH2FJ203U7J"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_KF7oZCH2FJ203U7J","virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg","name":"tf-acc-test-shy-shapely-bus"},"name":"Public
      Network on tf-acc-test-shy-shapely-bus","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:ef:ad:8e:bd:97","state":"attached","ip_addresses":[{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146"},{"id":"ip_eVBlIcr0HXACL80t","address":"185.53.57.214"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e3c484b2f5b3b695fa74af0eb621e44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_9ISbqmF1HLLfZJMs","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"129db43890fabb8318c5bacd13aae9c6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_9ISbqmF1HLLfZJMs
    method: GET
  response:
    body: '{"task":{"id":"task_9ISbqmF1HLLfZJMs","name":"Stop virtual machine","status":"running","created_at":1778244513,"started_at":1778244514,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc10d144346f1cb8fbdc2a9cfeff1af0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_gNLCjpbAYGWnIHoW","keep_until":1778417320,"object_id":"vm_hNzdZZyWWLuItzkg","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_hNzdZZyWWLuItzkg","name":"tf-acc-test-shy-shapely-bus","hostname":"tf-acc-test-shy-shapely-bus","fqdn":"tf-acc-test-shy-shapely-bus.terraform-acc-test.katapult.cloud","description":null,"created_at":1778244464,"initial_root_password":"sAyE4yMeU6nGUXs2","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6[...]
[...]
- request:
    body: '{"trash_object":{"id":"trsh_gNLCjpbAYGWnIHoW"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_OwRzwtaYWxry1JYQ","name":"Purge items from trash","status":"pending","created_at":1778244521,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"725c47fd018118b645b7aedca705d582"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_gNLCjpbAYGWnIHoW
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_gNLCjpbAYGWnIHoW","keep_until":1778417320,"object_id":"vm_hNzdZZyWWLuItzkg","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e40fbe90c900ca4bdcbb59f4b5d4b6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_gNLCjpbAYGWnIHoW
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_hNzdZZyWWLuItzkg
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
