---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-group-Eb4cCorLdcp3","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_MQP7uypyACbxxesv","name":"tf-acc-test-update-group-Eb4cCorLdcp3","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dbfc890f4319862d3be242a9da949f91"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_MQP7uypyACbxxesv
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_MQP7uypyACbxxesv","name":"tf-acc-test-update-group-Eb4cCorLdcp3","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dbfc890f4319862d3be242a9da949f91"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_iBqbaF9DH3SDUKtO","address":"185.44.255.125","reverse_dns":"185-44-255-125.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.125/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9e3e5142c852206389c3ac183541093"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_iBqbaF9DH3SDUKtO
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_iBqbaF9DH3SDUKtO","address":"185.44.255.125","reverse_dns":"185-44-255-125.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.125/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a348b1536a0190dfc5fcc9ad31828c74"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_iBqbaF9DH3SDUKtO\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-loud-alive-sunflower\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_bwwVpv6l4Ujv9vEw","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_fUb4LURgo7ArMxGL","state":"pending"},"virtual_machine_build":{"id":"vmbuild_fUb4LURgo7ArMxGL","state":"pending"},"hostname":"tf-acc-test-loud-alive-sunflower","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5da6316480b8f1eb44ed26977a284907"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "926"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_fUb4LURgo7ArMxGL
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_fUb4LURgo7ArMxGL","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.255.125\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-loud-alive-sunflower\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"pending","virtual_machine":null,"created_at":1778178828},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d013bcd5ce27af1a0ef6b1d3f624f5b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_DjYRlIi3sGCUCn30
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_DjYRlIi3sGCUCn30","name":"tf-acc-test-loud-alive-sunflower","hostname":"tf-acc-test-loud-alive-sunflower","fqdn":"tf-acc-test-loud-alive-sunflower.terraform-acc-test.katapult.cloud","description":null,"created_at":1778178841,"initial_root_password":"X91X6yVOsGONDSny","state":"allocating","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_iBqbaF9DH3SDUKtO","address":"185.44.255.125","reverse_dns":"tf-acc-test-loud-alive-sunflower.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.125/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_DjYRlIi3sGCUCn30","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8f6961847a3de8c1b5e912476a0ee67"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "863"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_DjYRlIi3sGCUCn30
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_K5dNbtYIAXb1hEH5","name":"Public
      Network on tf-acc-test-loud-alive-sunflower","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_iBqbaF9DH3SDUKtO","address":"185.44.255.125","reverse_dns":"tf-acc-test-loud-alive-sunflower.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.255.125/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"10f4462e012efe6b175e47610e4d3934"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "790"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_K5dNbtYIAXb1hEH5
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_K5dNbtYIAXb1hEH5","virtual_machine":{"id":"vm_DjYRlIi3sGCUCn30","name":"tf-acc-test-loud-alive-sunflower"},"name":"Public
      Network on tf-acc-test-loud-alive-sunflower","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:fd:7f:8e:69:35","state":"attached","ip_addresses":[{"id":"ip_iBqbaF9DH3SDUKtO","address":"185.44.255.125"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ef0e71838b55ad3f319c5fe516cf07f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "788"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_iBqbaF9DH3SDUKtO
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_iBqbaF9DH3SDUKtO","address":"185.44.255.125","reverse_dns":"tf-acc-test-loud-alive-sunflower.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.125/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_DjYRlIi3sGCUCn30","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_DjYRlIi3sGCUCn30","name":"tf-acc-test-loud-alive-sunflower"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94fc03ae781cb6e441d946b052e9b94b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "783"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_DjYRlIi3sGCUCn30"},"properties":{"name":"","tag_names":[],"group":{"id":"vmgrp_MQP7uypyACbxxesv"}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_DjYRlIi3sGCUCn30","name":"tf-acc-test-loud-alive-sunflower","hostname":"tf-acc-test-loud-alive-sunflower","fqdn":"tf-acc-test-loud-al[...]
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_MQP7uypyACbxxesv"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_MQP7uypyACbxxesv","name":"tf-acc-test-update-group-Eb4cCorLdcp3","segregate":true,"auto_segregate":false,"created_at":1778178808}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dbfc890f4319862d3be242a9da949f91"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "741"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_DjYRlIi3sGCUCn30"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_UAlzrmbavF6VuyOC","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"13767847f7576f58471231a24d44ba22"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "724"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_UAlzrmbavF6VuyOC
    method: GET
  response:
    body: '{"task":{"id":"task_UAlzrmbavF6VuyOC","name":"Stop virtual machine","status":"pending","created_at":1778178896,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"55590e6624ac595b9e327067e6a3896a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "722"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_DjYRlIi3sGCUCn30"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_kmeTUDAnIyGjsWJ5","keep_until":1778351713,"object_id":"vm_DjYRlIi3sGCUCn30","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_DjYRlIi3sGCUCn30","name":"tf-acc-test-loud-alive-sunflower","hostname":"tf-acc-test-loud-alive-sunflower","fqdn":"tf-acc-test-loud-alive-sunflower.terraform-acc-test.katapult.cloud","description":null,"created_at":1778178841,"initial_root_password":"X91X6yVOsGONDSny","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country[...]
- request:
    body: '{"ip_address":{"id":"ip_iBqbaF9DH3SDUKtO"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_kmeTUDAnIyGjsWJ5"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_OyL1q498lzSutbeh","name":"Purge items from trash","status":"pending","created_at":1778178914,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1863b0e93793b48172d65e9ba56e8701"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_kmeTUDAnIyGjsWJ5
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_kmeTUDAnIyGjsWJ5","keep_until":1778351713,"object_id":"vm_DjYRlIi3sGCUCn30","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5339ec7ae16436f88324acb94ccdc297"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_kmeTUDAnIyGjsWJ5
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_iBqbaF9DH3SDUKtO"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_DjYRlIi3sGCUCn30
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
