---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc44ed75ff0ddfdc194b77817125f428"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4cebb798fdb87cbbbc9b434168dc3ac"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-1\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_1mm1JmmMV8dU6Cnb\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l-host\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cName\u003etf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l\u003c/Name\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_JQFujZlaJHuU3ctw","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_pG8nw3szSiI7RjGC","state":"pending"},"virtual_machine_build":{"id":"vmbuild_pG8nw3szSiI7RjGC","state":"pending"},"hostname":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d73af1de243444a65458f8fbebb072e0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_pG8nw3szSiI7RjGC
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_pG8nw3szSiI7RjGC","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-1\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.195\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"pending","virtual_machine":null,"created_at":1786737601},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dc2dcb4ebc36ef008b004ab4e666ea13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_qppuvJ9ZPdVdwRrX
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786737611,"description":null,"fqdn":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host","id":"vm_qppuvJ9ZPdVdwRrX","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.221.195","address_with_mask":"185.199.221.195/24","allocation_id":"vm_qppuvJ9ZPdVdwRrX","allocation_type":"VirtualMachine","id":"ip_1mm1JmmMV8dU6Cnb","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host.terraform-acc-test.katapult.cloud","subnet":{"address":"185.199.221.0","billable":true,"gateway":"185.199.221.1","id":"sbnt_YrLWopCUkImX4wo9","mask":24,"version":4},"vip":false}],"memory_in_gb":1,"name":"tf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_dhG25G5SX3HrA5j5","ipv4_addresses":1,"memory_in_gb":1,"monthly_bandwidth_allowance_in_gb":1024,"name":"ROCK-1","permalink":"rock-1","privacy":"public","storage_in_gb":10,"use_dedicated_cpus":false},"state":"started","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"833b0a474dbd1987e0fb75f55521c779"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_qppuvJ9ZPdVdwRrX
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_zUjXXPoxyMJZ4eUo","name":"System
      Disk","size_in_gb":10,"wwn":"0a9c47e120ba2455","state":"built","created_at":1786737611},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d83898f9841e31b2f3d082d55163192"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_zUjXXPoxyMJZ4eUo
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1786737611,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_zUjXXPoxyMJZ4eUo","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-18-04"},"number":1,"stable":true},"id":"dinst_Kdx9RFUyzfH6okcy"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":10,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"attached","virtual_machine":{"fqdn":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host.terraform-acc-test.katapult.cloud","id":"vm_qppuvJ9ZPdVdwRrX"}},"wwn":"0a9c47e120ba2455"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e5c73a71996de93087a926065bca1a7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_qppuvJ9ZPdVdwRrX
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_H5ckRs6ZbvAXzhtS","name":"Public
      Network on tf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.199.221.195/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7eb8ab6d3e8ca177df809bcbf7b414ec"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_H5ckRs6ZbvAXzhtS
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_H5ckRs6ZbvAXzhtS","virtual_machine":{"id":"vm_qppuvJ9ZPdVdwRrX","name":"tf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l"},"name":"Public
      Network on tf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:af:02:2e:e1:56","state":"attached","ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9484d2e768f1f7e06f9c54565a67ec56"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_qppuvJ9ZPdVdwRrX","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_qppuvJ9ZPdVdwRrX","name":"tf-acc-test-update-package-upgrade-stopped-B4EDcLmXgs6l"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3c6fc6069152b52b457ccab91e58763"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_qppuvJ9ZPdVdwRrX"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_SARq6HD9pFRxTHqk","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9cb5ca3f2be6cc43d67ea1b6e20abe4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_SARq6HD9pFRxTHqk
    method: GET
  response:
    body: '{"task":{"id":"task_SARq6HD9pFRxTHqk","name":"Stop virtual machine","status":"running","created_at":1786737641,"started_at":1786737641,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d474e13f76c60575fddd9e5d78c59c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_qppuvJ9ZPdVdwRrX"},"virtual_machine_package":{"permalink":"rock-3"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/package
    method: PUT
  response:
    body: '{"task":{"id":"task_w0RCNXJEo6M6pRsz","name":"Change package","status":"pending","created_at":1786737649,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f94a62625852995e0fd20bd8c2eb0a86"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_w0RCNXJEo6M6pRsz
    method: GET
  response:
    body: '{"task":{"id":"task_w0RCNXJEo6M6pRsz","name":"Change package","status":"running","created_at":1786737649,"started_at":1786737649,"finished_at":null,"progress":15}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad0ad0393382908d2c8c0ec46560708c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_qppuvJ9ZPdVdwRrX"},"properties":{"tag_names":[]}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: PATCH
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786737611,"description":null,"fqdn":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-package[...]
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_qppuvJ9ZPdVdwRrX"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_hWfSF1bUaa85Jnih","keep_until":1786910456,"object_id":"vm_qppuvJ9ZPdVdwRrX","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786737611,"description":null,"fqdn":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-update-package-upgrade-stopped-b4edclmxgs6l-host","id":"vm_qppuvJ9ZPdVdwRrX","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.221.195","address_with_mask":"185.199.221.195/24","allocation_id":"vm[...]
- request:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_hWfSF1bUaa85Jnih"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_FY5QCUAsBl0F6F0s","name":"Purge items from trash","status":"pending","created_at":1786737657,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8cd38ad46b2f768039fc7222445c085e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_hWfSF1bUaa85Jnih
    method: GET
  response:
    body: '{"trash_object":{"id":"trsh_hWfSF1bUaa85Jnih","keep_until":1786910456,"object_id":"vm_qppuvJ9ZPdVdwRrX","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2bf0122bc2b532c15905a1eabbec827c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bid%5D=trsh_hWfSF1bUaa85Jnih
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address
    method: DELETE
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/trash_object?trash_object%5Bobject_id%5D=vm_qppuvJ9ZPdVdwRrX
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
