---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/data_center/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P"},"organization":{"sub_domain":"terraform-acc-test"},"version":"ipv4"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc44ed75ff0ddfdc194b77817125f428"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"185-199-221-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4cebb798fdb87cbbbc9b434168dc3ac"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/disks
    method: POST
  response:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza","name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20,"wwn":"0dd9827f9168f40d","state":"not_built","created_at":1786735919,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"task":{"id":"task_qdFUZgXzIsspF2dJ","name":"Build
      disk","status":"pending","created_at":1786735919,"started_at":null,"finished_at":null,"progress":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"16194d86d70cc7de20de094a3833d5dd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"xml":"\u003c?xml version=\"1.0\"
      encoding=\"UTF-8\"?\u003e\n\u003cVirtualMachineSpec\u003e\u003cDataCenter by=\"permalink\"\u003euk-lon-01\u003c/DataCenter\u003e\u003cResources\u003e\u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\u003c/Resources\u003e\u003cDiskTemplate\u003e\u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\u003cOption
      key=\"install_agent\"\u003etrue\u003c/Option\u003e\u003c/DiskTemplate\u003e\u003cNetworkInterfaces\u003e\u003cNetworkInterface\u003e\u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\u003cIPAddressAllocation
      type=\"existing\"\u003e\u003cIPAddress\u003eip_1mm1JmmMV8dU6Cnb\u003c/IPAddress\u003e\u003c/IPAddressAllocation\u003e\u003c/NetworkInterface\u003e\u003c/NetworkInterfaces\u003e\u003cHostname\u003e\u003cHostname\u003etf-acc-test-eager-long-cheetah\u003c/Hostname\u003e\u003c/Hostname\u003e\u003cAuthorizedKeys\u003e\u003cUsers
      all=\"yes\"\u003e\u003c/Users\u003e\u003cSSHKeys all=\"yes\"\u003e\u003c/SSHKeys\u003e\u003c/AuthorizedKeys\u003e\u003c/VirtualMachineSpec\u003e"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_bdLBzazLBqWAOTCz","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_GdkuTaPUFifKmS0Z","state":"pending"},"virtual_machine_build":{"id":"vmbuild_GdkuTaPUFifKmS0Z","state":"pending"},"hostname":"tf-acc-test-eager-long-cheetah","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1aa0595d653e3b7f75e2451a53300a33"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_qdFUZgXzIsspF2dJ
    method: GET
  response:
    body: '{"task":{"id":"task_qdFUZgXzIsspF2dJ","name":"Build disk","status":"running","created_at":1786735919,"started_at":1786735920,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"619cf8b95c3e112ffa21bbdb5b5f0a57"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/virtual_machine_build?virtual_machine_build%5Bid%5D=vmbuild_GdkuTaPUFifKmS0Z
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_GdkuTaPUFifKmS0Z","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.195\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-eager-long-cheetah\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1786735919},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"529f0cf6c8a8b5b9500468dee1784620"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_5nGk37D3RLE7Kuza
    method: GET
  response:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza","name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20,"wwn":"0dd9827f9168f40d","state":"built","created_at":1786735919,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22a4e6508637fba5f292e68b54c9e385"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine?virtual_machine%5Bid%5D=vm_B5wa8C29M444JwwA
    method: GET
  response:
    body: '{"annotations":[],"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786735926,"description":null,"fqdn":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-eager-long-cheetah","id":"vm_B5wa8C29M444JwwA","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.221.195","address_with_mask":"185.199.221.195/24","allocation_id":"vm_B5wa8C29M444JwwA","allocation_type":"VirtualMachine","id":"ip_1mm1JmmMV8dU6Cnb","label":null,"network":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"default":true,"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public"},"reverse_dns":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud","subnet":{"address":"185.199.221.0","billable":true,"gateway":"185.199.221.1","id":"sbnt_YrLWopCUkImX4wo9","mask":24,"version":4},"vip":false}],"memory_in_gb":3,"name":"tf-acc-test-eager-long-cheetah","organization":{"activated_at":1605785692,"address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","billing_name":"terraform-acc-test","country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"country_state":null,"created_at":1605785692,"currency":{"id":"cur_zShCGgjgBz4EbnX1","iso_code":"GBP","name":"British
      Pound","symbol":"£"},"id":"org_eodfyqFF3YWb2OFC","infrastructure_domain":"terraform-acc-test.katapult.cloud","managed":false,"name":"terraform-acc-test","phone_number":null,"postcode":"ZZ9
      1LS","sub_domain":"terraform-acc-test","suspended":false,"uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","vat_number":null},"package":{"cpu_cores":1,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"},"icon":null,"id":"vmpkg_Eh5LYVKScVHpj7sM","ipv4_addresses":1,"memory_in_gb":3,"monthly_bandwidth_allowance_in_gb":2048,"name":"ROCK-3","permalink":"rock-3","privacy":"public","storage_in_gb":25,"use_dedicated_cpus":false},"state":"starting","suspended":false,"suspended_at":null,"tag_names":[],"tags":[],"use_dedicated_cpus":false,"zone":{"data_center":{"country":{"eu":false,"id":"ctry_6AO9tYYugvTGnd5b","iso_code2":"GB","iso_code3":"GBR","name":"United
      Kingdom","time_zone":"Europe/London"},"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"583fe47d9287d73130e6caf08525e3c7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/disks?page=1&virtual_machine%5Bid%5D=vm_B5wa8C29M444JwwA
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"disks":[{"disk":{"id":"disk_urN0wFaqQN3nKuTI","name":"System
      Disk","size_in_gb":25,"wwn":"0104f94b6fb990a0","state":"built","created_at":1786735926},"attach_on_boot":true,"boot":true,"state":"attached"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50f86f8b325df61fedf216e035d419f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disks/disk?disk%5Bid%5D=disk_urN0wFaqQN3nKuTI
    method: GET
  response:
    body: '{"annotations":[],"disk":{"bus_type":"scsi","created_at":1786735926,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"id":"disk_urN0wFaqQN3nKuTI","installation":{"attributes":[{"description":"This
      is the password we have set for your root user.\nYou should change this.","key":"root_password","label":"Root
      password","protect":true,"value":"[REDACTED]"}],"disk_template_version":{"disk_template":{"id":"dtpl_dHTYevsvwvsL0Hea","name":"Ubuntu
      18.04","operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu"},"permalink":"templates/ubuntu-18-04"},"number":1,"stable":true},"id":"dinst_HaJ8ccw4pNeQ2kEB"},"io_profile":{"id":"diop_slvkma43oVxjJcRk","iops":100000,"name":"100k","permalink":"100k","speed_in_mb":2000},"name":"System
      Disk","size_in_gb":25,"state":"built","storage_speed":"nvme","virtual_machine_disk":{"attach_on_boot":true,"boot":true,"state":"attached","virtual_machine":{"fqdn":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud","id":"vm_B5wa8C29M444JwwA"}},"wwn":"0104f94b6fb990a0"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9580a0ac4ac434c7e6f1796b2537bdd3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_B5wa8C29M444JwwA
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_6DrbzYcKrjAIunIG","name":"Public
      Network on tf-acc-test-eager-long-cheetah","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud","address_with_mask":"185.199.221.195/24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"186a7d8a55d3a78c606ef07745f36ff3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_6DrbzYcKrjAIunIG
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_6DrbzYcKrjAIunIG","virtual_machine":{"id":"vm_B5wa8C29M444JwwA","name":"tf-acc-test-eager-long-cheetah"},"name":"Public
      Network on tf-acc-test-eager-long-cheetah","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:7b:cb:d2:f2:31","state":"attached","ip_addresses":[{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"56267994bea7de997ebce8ae61b36f5e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza"},"virtual_machine":{"id":"vm_B5wa8C29M444JwwA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/assign
    method: POST
  response:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza","name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20,"wwn":"0dd9827f9168f40d","state":"built","created_at":1786735919,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_B5wa8C29M444JwwA","fqdn":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"73e330c55c19100094a11d070cc5e5d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza"},"properties":{"virtual_machine_disk":{"attach_on_boot":true}}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk
    method: PATCH
  response:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza","name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20,"wwn":"0dd9827f9168f40d","state":"built","created_at":1786735919,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_B5wa8C29M444JwwA","fqdn":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cc2d76cc6d125aaf55b7c0f30396bf47"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/attach
    method: POST
  response:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza","name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20,"wwn":"0dd9827f9168f40d","state":"built","created_at":1786735919,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_B5wa8C29M444JwwA","fqdn":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud"},"attach_on_boot":true,"boot":false,"state":"detached"},"installation":null},"task":{"id":"task_oXdnILMtVTOFjz99","name":"Attach
      disk to virtual machine","status":"pending","created_at":1786735965,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1fdd170a0133431c7af6fc1d2015e8b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_oXdnILMtVTOFjz99
    method: GET
  response:
    body: '{"task":{"id":"task_oXdnILMtVTOFjz99","name":"Attach disk to virtual machine","status":"pending","created_at":1786735965,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cb7e95faebbf0a9f5c9f96545cba215"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address?ip_address%5Bid%5D=ip_1mm1JmmMV8dU6Cnb
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb","address":"185.199.221.195","reverse_dns":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_YrLWopCUkImX4wo9","address":"185.199.221.0","gateway":"185.199.221.1","mask":24,"billable":true,"version":4},"allocation_id":"vm_B5wa8C29M444JwwA","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_B5wa8C29M444JwwA","name":"tf-acc-test-eager-long-cheetah"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c26e60a4f61e40bc6da63b3b44d12349"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/detach
    method: POST
  response:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza","name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20,"wwn":"0dd9827f9168f40d","state":"built","created_at":1786735919,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":{"virtual_machine":{"id":"vm_B5wa8C29M444JwwA","fqdn":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud"},"attach_on_boot":false,"boot":false,"state":"attached"},"installation":null},"task":{"id":"task_pjKUCsdZ7vKYQUCx","name":"Detach
      disk from virtual machine","status":"pending","created_at":1786735993,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"09996212c7f14f1599d8504f82ce054d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_pjKUCsdZ7vKYQUCx
    method: GET
  response:
    body: '{"task":{"id":"task_pjKUCsdZ7vKYQUCx","name":"Detach disk from virtual
      machine","status":"running","created_at":1786735993,"started_at":1786735993,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"840e1bcaf379dbde6e98abc2343ace34"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_xRXBiaWlcLnKElmQ
    method: GET
  response:
    body: '{"task":{"id":"task_xRXBiaWlcLnKElmQ","name":"Attach disk to virtual machine","status":"running","created_at":1786736000,"started_at":1786736001,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65e3443e2383dc70d17e62a94a47a329"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_ZZEmzZzPfmTVsjeb
    method: GET
  response:
    body: '{"task":{"id":"task_ZZEmzZzPfmTVsjeb","name":"Detach disk from virtual
      machine","status":"running","created_at":1786736008,"started_at":1786736009,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd57b2c776a871c609905694d5d560ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "910"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/disks/disk/unassign
    method: POST
  response:
    body: '{"disk":{"id":"disk_5nGk37D3RLE7Kuza","name":"tf-acc-test-disk-4EFoiGqQmZiF","size_in_gb":20,"wwn":"0dd9827f9168f40d","state":"built","created_at":1786735919,"storage_speed":"nvme","io_profile":{"id":"diop_i39iT7k0RYAdQP48","name":"Unrestricted","permalink":"unrestricted","speed_in_mb":null,"iops":null},"bus_type":"scsi","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"virtual_machine_disk":null,"installation":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c7406e12456e9d04fb944b56ff36357d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "908"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_B5wa8C29M444JwwA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/stop
    method: POST
  response:
    body: '{"task":{"id":"task_i0QiM6eNwF9H1IjN","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"60cc65f65e5ec6aa70b3446251576a14"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "903"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task?task%5Bid%5D=task_i0QiM6eNwF9H1IjN
    method: GET
  response:
    body: '{"task":{"id":"task_i0QiM6eNwF9H1IjN","name":"Stop virtual machine","status":"running","created_at":1786736016,"started_at":1786736016,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0ca20aa15625b4f63e16d771f11a245d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "902"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine":{"id":"vm_B5wa8C29M444JwwA"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_yE0qcNOGi04ESs7m","keep_until":1786908823,"object_id":"vm_B5wa8C29M444JwwA","object_type":"VirtualMachine"},"virtual_machine":{"attached_iso":null,"cpu_cores":1,"created_at":1786735926,"description":null,"fqdn":"tf-acc-test-eager-long-cheetah.terraform-acc-test.katapult.cloud","gpu_type":null,"gpus":[],"group":null,"hostname":"tf-acc-test-eager-long-cheetah","id":"vm_B5wa8C29M444JwwA","initial_root_password":"[REDACTED]","ip_addresses":[{"address":"185.199.221.195","address_with_mask":"185.199.221.195/24","allocation_id":"vm_B5wa8C29M444JwwA","allocation_type":"VirtualMachine","id":"[...]
- request:
    body: '{"ip_address":{"id":"ip_1mm1JmmMV8dU6Cnb"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/ip_addresses/ip_address/unallocate
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "898"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"trash_object":{"id":"trsh_yE0qcNOGi04ESs7m"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/trash_objects/trash_object
    method: DELETE
  response:
    body: '{"task":{"id":"task_ajFXnVawha8MBoR6","name":"Purge items from trash","status":"pending","created_at":1786736024,"started_at":null,"finished_at":null,"progress":0}}'
[...]
