---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-segregated-KaurGhTWmUzG","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Nwp6MpGJQ6t0Fwcf","name":"tf-acc-test-segregated-KaurGhTWmUzG","segregate":true,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb7f4e51543742aa881c532867842054"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_Nwp6MpGJQ6t0Fwcf
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Nwp6MpGJQ6t0Fwcf","name":"tf-acc-test-segregated-KaurGhTWmUzG","segregate":true,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb7f4e51543742aa881c532867842054"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"virtual_machine_group":{"id":"vmgrp_Nwp6MpGJQ6t0Fwcf"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Nwp6MpGJQ6t0Fwcf","name":"tf-acc-test-segregated-KaurGhTWmUzG","segregate":true,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eb7f4e51543742aa881c532867842054"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_Nwp6MpGJQ6t0Fwcf
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 404 Not Found
    code: 404
    duration: ""
