---
version: 1
interactions:
- request:
    body: '{"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-ivGNsOzwwW3G","segregate":true}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_DNfVuZxUsnc2eQwR","name":"tf-acc-test-update-ivGNsOzwwW3G","segregate":true,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c15fab3030354c949305af757168e3b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_DNfVuZxUsnc2eQwR
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_DNfVuZxUsnc2eQwR","name":"tf-acc-test-update-ivGNsOzwwW3G","segregate":true,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c15fab3030354c949305af757168e3b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"properties":{"name":"tf-acc-test-update-ivGNsOzwwW3G - updated","segregate":false},"virtual_machine_group":{"id":"vmgrp_DNfVuZxUsnc2eQwR"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group
    method: PATCH
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_DNfVuZxUsnc2eQwR","name":"tf-acc-test-update-ivGNsOzwwW3G
      - updated","segregate":false,"auto_segregate":false,"created_at":1777882444}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cc8b225d14eca5e65bbd7f7a1c84aa5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/virtual_machine_group?virtual_machine_group%5Bid%5D=vmgrp_DNfVuZxUsnc2eQwR
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 404 Not Found
    code: 404
    duration: ""
