---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-basic-4yw48qcuc7ym","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_gTvEnqqnKohbFBJR"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/org_0v4yygGYvAmNewMM/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_J6WEq6nVttc1XDba","name":"tf-acc-test-basic-4yw48qcuc7ym","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.131"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b63003d7768ce049c535b2a8ff397b96"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/lb_J6WEq6nVttc1XDba
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_J6WEq6nVttc1XDba","name":"tf-acc-test-basic-4yw48qcuc7ym","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.131"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5cffda711b26273a23f55edbed49a5b7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
