---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_W3x87lpfkj5MmK6h","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-group","segregate":true,"created_at":1674743616}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e68e9503ed0842d329bce502157c79ae"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_W3x87lpfkj5MmK6h
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_W3x87lpfkj5MmK6h","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-group","segregate":true,"created_at":1674743616}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e68e9503ed0842d329bce502157c79ae"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ry8HIOyZddBgZvZM","address":"185.199.222.160","reverse_dns":"185-199-222-160.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.160/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"266cebb4e6bc8c0d2dd78e08aa96c442"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ry8HIOyZddBgZvZM
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ry8HIOyZddBgZvZM","address":"185.199.222.160","reverse_dns":"185-199-222-160.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.160/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5542b64a9ddaaebccb8153d91b48093f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_ry8HIOyZddBgZvZM</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-3vacegc48pqd</Name><Description>A web server.</Description><Group>vmgrp_W3x87lpfkj5MmK6h</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_bF8K15gc1ZcaUFie","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_HlHGXNz7jDzo9MbY","state":"pending"},"virtual_machine_build":{"id":"vmbuild_HlHGXNz7jDzo9MbY","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd45e63258f4a105332e3534f133c613"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_HlHGXNz7jDzo9MbY
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_HlHGXNz7jDzo9MbY","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_m2J0NHluru02bR6F"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_m2J0NHluru02bR6F","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd","hostname":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host","fqdn":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674743617,"initial_root_password":"hPsX8zGnQuEVw1Mb","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_W3x87lpfkj5MmK6h","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-group","segregate":true,"created_at":1674743616},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_ry8HIOyZddBgZvZM","address":"185.199.222.160","reverse_dns":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.160/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_m2J0NHluru02bR6F","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1856519c26a557f856e71362d79993e0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_m2J0NHluru02bR6F
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_m2J0NHluru02bR6F","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd","hostname":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host","fqdn":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_m2J0NHluru02bR6F
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_3pIvou4Iog1aZIWZ","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-3vacegc48pqd","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_ry8HIOyZddBgZvZM","address":"185.199.222.160"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9a5e1b4d943e9106e008b5de720fa569"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_3pIvou4Iog1aZIWZ
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_3pIvou4Iog1aZIWZ","virtual_machine":{"id":"vm_m2J0NHluru02bR6F","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-3vacegc48pqd","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:c7:18:a2:d8:27","state":"attached","ip_addresses":[{"id":"ip_ry8HIOyZddBgZvZM","address":"185.199.222.160"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a84273134d82789902331926d88cf405"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_m2J0NHluru02bR6F","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd","hostname":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host","fqdn":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ry8HIOyZddBgZvZM
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ry8HIOyZddBgZvZM","address":"185.199.222.160","reverse_dns":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.160/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_m2J0NHluru02bR6F","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_m2J0NHluru02bR6F","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"869721060a04fb217adb2a085cebade4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_m2J0NHluru02bR6F
    method: POST
  response:
    body: '{"task":{"id":"task_9OgEoo7v7TSbCFFD","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db5e4d3f44c0905ebec160c0913e6cdf"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_9OgEoo7v7TSbCFFD
    method: GET
  response:
    body: '{"task":{"id":"task_9OgEoo7v7TSbCFFD","name":"Stop virtual machine","status":"pending","created_at":1674743637,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5db0d3d2c141242875fea186e473c084"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_m2J0NHluru02bR6F
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_pAeKfqEcrujwJDJk","keep_until":1674916463,"object_id":"vm_m2J0NHluru02bR6F","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_m2J0NHluru02bR6F","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd","hostname":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host","fqdn":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674743617,"initial_root_password":"hPsX8zGnQuEVw1Mb","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ry8HIOyZddBgZvZM
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_pAeKfqEcrujwJDJk
    method: DELETE
  response:
    body: '{"task":{"id":"task_75b57EXEKwZ3zUsP","name":"Purge items from trash","status":"pending","created_at":1674743664,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1beb7d599a1f6d8d4759303f8080c77c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_75b57EXEKwZ3zUsP
    method: GET
  response:
    body: '{"task":{"id":"task_75b57EXEKwZ3zUsP","name":"Purge items from trash","status":"running","created_at":1674743664,"started_at":1674743664,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b70a41a346902b20d02bcbe5e071ab99"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_W3x87lpfkj5MmK6h
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_W3x87lpfkj5MmK6h","name":"tf-acc-test-data-source-by-fqdn-3vacegc48pqd-group","segregate":true,"created_at":1674743616}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e68e9503ed0842d329bce502157c79ae"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_m2J0NHluru02bR6F
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
