---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_obm9Aqc7EBqaOCii","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-group","segregate":true,"created_at":1679578565}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6e97ceb99a23a66acbcad77839deec8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_obm9Aqc7EBqaOCii
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_obm9Aqc7EBqaOCii","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-group","segregate":true,"created_at":1679578565}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6e97ceb99a23a66acbcad77839deec8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"185-199-221-65.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"137b10129b421fd5b21a6014fed1266d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_hc3GUyhBe6toov2e
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"185-199-221-65.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e2dd9834428ed6e25c43af1579322fc9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_hc3GUyhBe6toov2e</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-m9pvderh1mvj</Name><Description>A web server.</Description><Group>vmgrp_obm9Aqc7EBqaOCii</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_XtzuNZGpY5Tqi9mX","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_73vq00ug0t54nL1Z","state":"pending"},"virtual_machine_build":{"id":"vmbuild_73vq00ug0t54nL1Z","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da2f0e2275e2de6656d46dea925b5eb8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_73vq00ug0t54nL1Z
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_73vq00ug0t54nL1Z","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_dRa6BhCxWDpaXf2J"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_dRa6BhCxWDpaXf2J","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj","hostname":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host","fqdn":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578567,"initial_root_password":"71m9ffXRBOOlmhoC","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_obm9Aqc7EBqaOCii","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-group","segregate":true,"created_at":1679578565},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_dRa6BhCxWDpaXf2J","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"51b539b139966af825ccb235708f9b04"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_dRa6BhCxWDpaXf2J
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_dRa6BhCxWDpaXf2J","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj","hostname":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host","fqdn":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_dRa6BhCxWDpaXf2J
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_5PlaRNIafPz3mkG3","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-m9pvderh1mvj","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0ac8cd0babb5deea13a73d8c3e94f501"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_5PlaRNIafPz3mkG3
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_5PlaRNIafPz3mkG3","virtual_machine":{"id":"vm_dRa6BhCxWDpaXf2J","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-m9pvderh1mvj","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:ef:95:60:43:75","state":"detached","ip_addresses":[{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79d1918021a4e5d4024c88c5d6d4f2df"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_dRa6BhCxWDpaXf2J","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj","hostname":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host","fqdn":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_hc3GUyhBe6toov2e
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_dRa6BhCxWDpaXf2J","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_dRa6BhCxWDpaXf2J","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e5fad3b75531fb6953d2030ab7739f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_dRa6BhCxWDpaXf2J
    method: POST
  response:
    body: '{"task":{"id":"task_iFziaBk5jvBjWu8a","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32430ba1a2e7adad16c09d669d7d3bba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_dRa6BhCxWDpaXf2J
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_H4DxHCmJIyctsV5T","keep_until":1679751402,"object_id":"vm_dRa6BhCxWDpaXf2J","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_dRa6BhCxWDpaXf2J","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj","hostname":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host","fqdn":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578567,"initial_root_password":"71m9ffXRBOOlmhoC","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_hc3GUyhBe6toov2e
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_H4DxHCmJIyctsV5T
    method: DELETE
  response:
    body: '{"task":{"id":"task_cqewsm8M5DGfFMq6","name":"Purge items from trash","status":"pending","created_at":1679578608,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"48eaabe10cd48280684d4aa67da9556c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_H4DxHCmJIyctsV5T
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_obm9Aqc7EBqaOCii
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_obm9Aqc7EBqaOCii","name":"tf-acc-test-data-source-by-fqdn-m9pvderh1mvj-group","segregate":true,"created_at":1679578565}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6e97ceb99a23a66acbcad77839deec8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_dRa6BhCxWDpaXf2J
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
