---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disk_templates/_?disk_template%5Bpermalink%5D=templates%2Fubuntu-20-04
    method: GET
  response:
    body: '{"disk_template":{"id":"dtpl_GS03NCmS1Z17rXHq","name":"Ubuntu 20.04","description":"A
      clean installation of Ubuntu 20.04 server","permalink":"templates/ubuntu-20-04","universal":true,"latest_version":{"id":"dtv_56DNYpPqwnG54112","number":5,"stable":true,"size_in_gb":10},"operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu","badge":{"url":"https://my.katapult.io/attachment/5d7a3675-a2ef-4912-8fe8-3107b781763f/cof_orange_hex.png","file_name":"cof_orange_hex.png","file_type":"image/png","file_size":23343,"digest":"e323199df22d2e846d8e2bd3c8756a15cb7d4b68","token":"5d7a3675-a2ef-4912-8fe8-3107b781763f"}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"479b40da8eb87f6d72c5d7eefa237a3d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
