---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-80u4iknsy497-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0UJXpqrmsmy1Xptr","name":"tf-acc-test-data-source-by-id-80u4iknsy497-group","segregate":true,"auto_segregate":false,"created_at":1738871211}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1bb580e6a6c0a7f751ef38f09b626da7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_0UJXpqrmsmy1Xptr
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0UJXpqrmsmy1Xptr","name":"tf-acc-test-data-source-by-id-80u4iknsy497-group","segregate":true,"auto_segregate":false,"created_at":1738871211}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1bb580e6a6c0a7f751ef38f09b626da7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_rJTdcQgSTaGPuIrY","address":"185.44.254.91","reverse_dns":"185-44-254-91.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.91/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f943cb9d68796582903be8a55aa121d2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_rJTdcQgSTaGPuIrY
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_rJTdcQgSTaGPuIrY","address":"185.44.254.91","reverse_dns":"185-44-254-91.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.91/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba24dac13c6e319ce588b6b7efede152"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_rJTdcQgSTaGPuIrY</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-80u4iknsy497-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-80u4iknsy497</Name><Description>A web server.</Description><Group>vmgrp_0UJXpqrmsmy1Xptr</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_aHpRdx2YlV5akG43","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_BSxZu23YhEBY81Ck","state":"pending"},"virtual_machine_build":{"id":"vmbuild_BSxZu23YhEBY81Ck","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-80u4iknsy497-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57b6e44102176327ab9da8460d79b5f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_BSxZu23YhEBY81Ck
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_BSxZu23YhEBY81Ck","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_cKYCT7dzYLkCshtb"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_cKYCT7dzYLkCshtb","name":"tf-acc-test-data-source-by-id-80u4iknsy497","hostname":"tf-acc-test-data-source-by-id-80u4iknsy497-host","fqdn":"tf-acc-test-data-source-by-id-80u4iknsy497-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738871217,"initial_root_password":"QrEpjBinM6JWYlir","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_0UJXpqrmsmy1Xptr","name":"tf-acc-test-data-source-by-id-80u4iknsy497-group","segregate":true,"auto_segregate":false,"created_at":1738871211},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_rJTdcQgSTaGPuIrY","address":"185.44.254.91","reverse_dns":"tf-acc-test-data-source-by-id-80u4iknsy497-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.91/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_cKYCT7dzYLkCshtb","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a6a0ed76347318a3c7e19cea2b612552"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_cKYCT7dzYLkCshtb
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_cKYCT7dzYLkCshtb","name":"tf-acc-test-data-source-by-id-80u4iknsy497","hostname":"tf-acc-test-data-source-by-id-80u4iknsy497-host","fqdn":"tf-acc-test-data-source-by-id-80u4iknsy497-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738871[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_cKYCT7dzYLkCshtb
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_tuyrYlL6oH5gCmF4","name":"Public
      Network on tf-acc-test-data-source-by-id-80u4iknsy497","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_rJTdcQgSTaGPuIrY","address":"185.44.254.91"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66bd77ae60720879daa02722216d33cb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_tuyrYlL6oH5gCmF4
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_tuyrYlL6oH5gCmF4","virtual_machine":{"id":"vm_cKYCT7dzYLkCshtb","name":"tf-acc-test-data-source-by-id-80u4iknsy497"},"name":"Public
      Network on tf-acc-test-data-source-by-id-80u4iknsy497","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:34:ce:4e:fa:fc","state":"attached","ip_addresses":[{"id":"ip_rJTdcQgSTaGPuIrY","address":"185.44.254.91"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32090da093c5ba0b000b74f493d12322"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_tuyrYlL6oH5gCmF4
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_tuyrYlL6oH5gCmF4","virtual_machine":{"id":"vm_cKYCT7dzYLkCshtb","name":"tf-acc-test-data-source-by-id-80u4iknsy497"},"name":"Public
      Network on tf-acc-test-data-source-by-id-80u4iknsy497","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:34:ce:4e:fa:fc","state":"attached","ip_addresses":[{"id":"ip_rJTdcQgSTaGPuIrY","address":"185.44.254.91"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32090da093c5ba0b000b74f493d12322"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_rJTdcQgSTaGPuIrY
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_rJTdcQgSTaGPuIrY","address":"185.44.254.91","reverse_dns":"tf-acc-test-data-source-by-id-80u4iknsy497-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.91/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_cKYCT7dzYLkCshtb","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_cKYCT7dzYLkCshtb","name":"tf-acc-test-data-source-by-id-80u4iknsy497"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"613a8116b018e599b289142ba3a6ca4a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_cKYCT7dzYLkCshtb
    method: POST
  response:
    body: '{"task":{"id":"task_oWcYIRc0ylYgjQ2D","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b4dbc219138c229a3a2641ceb8f238d6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_oWcYIRc0ylYgjQ2D
    method: GET
  response:
    body: '{"task":{"id":"task_oWcYIRc0ylYgjQ2D","name":"Stop virtual machine","status":"pending","created_at":1738871238,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c4e3500d40127ae69ad87ee95655c6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_cKYCT7dzYLkCshtb
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_l5Fn9bamZFZYabO5","keep_until":1739044065,"object_id":"vm_cKYCT7dzYLkCshtb","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_cKYCT7dzYLkCshtb","name":"tf-acc-test-data-source-by-id-80u4iknsy497","hostname":"tf-acc-test-data-source-by-id-80u4iknsy497-host","fqdn":"tf-acc-test-data-source-by-id-80u4iknsy497-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738871217,"initial_root_password":"QrEpjBinM6JWYlir","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_rJTdcQgSTaGPuIrY
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_cKYCT7dzYLkCshtb
    method: DELETE
  response:
    body: '{"task":{"id":"task_4o5C63kdATvB2sFV","name":"Purge items from trash","status":"pending","created_at":1738871266,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8478cf60631ea0b65f20339cbe79399b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_cKYCT7dzYLkCshtb
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_0UJXpqrmsmy1Xptr
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0UJXpqrmsmy1Xptr","name":"tf-acc-test-data-source-by-id-80u4iknsy497-group","segregate":true,"auto_segregate":false,"created_at":1738871211}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1bb580e6a6c0a7f751ef38f09b626da7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
[...]
