---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-basic-w0n3idxdg2hq","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EUTYLfLSHZI0xw1a","name":"tf-acc-test-data-source-basic-w0n3idxdg2hq","segregate":true,"created_at":1615282684}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44dd5b9fa5c05313592a84ac44085ddb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_EUTYLfLSHZI0xw1a
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EUTYLfLSHZI0xw1a","name":"tf-acc-test-data-source-basic-w0n3idxdg2hq","segregate":true,"created_at":1615282684}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44dd5b9fa5c05313592a84ac44085ddb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_EUTYLfLSHZI0xw1a
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EUTYLfLSHZI0xw1a","name":"tf-acc-test-data-source-basic-w0n3idxdg2hq","segregate":true,"created_at":1615282684}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44dd5b9fa5c05313592a84ac44085ddb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_EUTYLfLSHZI0xw1a
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
