---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-not-segregated-mev3oaifgl1a","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_kyx279XUv0XJAn41","name":"tf-acc-test-data-source-not-segregated-mev3oaifgl1a","segregate":false,"created_at":1622137289}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c323c9813db84e0a0173772fca9b4d51"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_kyx279XUv0XJAn41
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_kyx279XUv0XJAn41","name":"tf-acc-test-data-source-not-segregated-mev3oaifgl1a","segregate":false,"created_at":1622137289}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c323c9813db84e0a0173772fca9b4d51"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_kyx279XUv0XJAn41
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_kyx279XUv0XJAn41","name":"tf-acc-test-data-source-not-segregated-mev3oaifgl1a","segregate":false,"created_at":1622137289}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c323c9813db84e0a0173772fca9b4d51"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_kyx279XUv0XJAn41
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "161"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
