---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-not-segregated-xcd8v1ktkzbn","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_FQCTWazWMcMfSpmE","name":"tf-acc-test-data-source-not-segregated-xcd8v1ktkzbn","segregate":false,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94d9f70280e3c2c0f9e9b236056a18d5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_FQCTWazWMcMfSpmE
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_FQCTWazWMcMfSpmE","name":"tf-acc-test-data-source-not-segregated-xcd8v1ktkzbn","segregate":false,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94d9f70280e3c2c0f9e9b236056a18d5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_FQCTWazWMcMfSpmE
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_FQCTWazWMcMfSpmE","name":"tf-acc-test-data-source-not-segregated-xcd8v1ktkzbn","segregate":false,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94d9f70280e3c2c0f9e9b236056a18d5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "171"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_FQCTWazWMcMfSpmE
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
