---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_HML99Q0rZSxlkfQc","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-group","segregate":true,"created_at":1674743005}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79cbed6c3fb9f57f59f010636197cd46"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_HML99Q0rZSxlkfQc
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_HML99Q0rZSxlkfQc","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-group","segregate":true,"created_at":1674743005}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79cbed6c3fb9f57f59f010636197cd46"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_l6nhRtYivHosZ8wg","address":"185.199.222.207","reverse_dns":"185-199-222-207.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.207/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f4022fb65d9c57600eb97fb05ed9a071"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_l6nhRtYivHosZ8wg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_l6nhRtYivHosZ8wg","address":"185.199.222.207","reverse_dns":"185-199-222-207.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.207/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5b28760ccbcd8944e8ebf4a29fb8b5fb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_l6nhRtYivHosZ8wg</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-fj4sci0ts7pt-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-fj4sci0ts7pt</Name><Description>A web server.</Description><Group>vmgrp_HML99Q0rZSxlkfQc</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_MQsyDP96MHijVMWW","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_FEQK4NhRMvnkSPB2","state":"pending"},"virtual_machine_build":{"id":"vmbuild_FEQK4NhRMvnkSPB2","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d26db601d18591fdb43c522ff5d86066"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_FEQK4NhRMvnkSPB2
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_FEQK4NhRMvnkSPB2","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_JDEtm7UoQGVTKNvy"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_JDEtm7UoQGVTKNvy","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt","hostname":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host","fqdn":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674743006,"initial_root_password":"gZNZcKmShBZcfNjK","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_HML99Q0rZSxlkfQc","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-group","segregate":true,"created_at":1674743005},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_l6nhRtYivHosZ8wg","address":"185.199.222.207","reverse_dns":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.207/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_JDEtm7UoQGVTKNvy","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5cbb8758fa3b528d952b365faaa6814d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_JDEtm7UoQGVTKNvy
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_JDEtm7UoQGVTKNvy","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt","hostname":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host","fqdn":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674743[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_JDEtm7UoQGVTKNvy
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_yfzw6DIpMGAij76R","name":"Public
      Network on tf-acc-test-data-source-by-id-fj4sci0ts7pt","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_l6nhRtYivHosZ8wg","address":"185.199.222.207"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d07d0b5dfc39691a12689e1c7098593b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_yfzw6DIpMGAij76R
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_yfzw6DIpMGAij76R","virtual_machine":{"id":"vm_JDEtm7UoQGVTKNvy","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt"},"name":"Public
      Network on tf-acc-test-data-source-by-id-fj4sci0ts7pt","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:c8:c5:c2:5d:8f","state":"attached","ip_addresses":[{"id":"ip_l6nhRtYivHosZ8wg","address":"185.199.222.207"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1276bc20109bc864c7ced04da7d820fd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_l6nhRtYivHosZ8wg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_l6nhRtYivHosZ8wg","address":"185.199.222.207","reverse_dns":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.207/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_JDEtm7UoQGVTKNvy","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_JDEtm7UoQGVTKNvy","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5112a30e66d0829e3aeccf11b4868250"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_JDEtm7UoQGVTKNvy
    method: POST
  response:
    body: '{"task":{"id":"task_RHRvJ2fmksvZ1yzz","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"993d3876f72822244ec180149d201ef3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_RHRvJ2fmksvZ1yzz
    method: GET
  response:
    body: '{"task":{"id":"task_RHRvJ2fmksvZ1yzz","name":"Stop virtual machine","status":"pending","created_at":1674743066,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c8f671b66f03488672a96e13ff821da"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "171"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_JDEtm7UoQGVTKNvy
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_kEhO7LdKRfRkQgDD","keep_until":1674915922,"object_id":"vm_JDEtm7UoQGVTKNvy","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_JDEtm7UoQGVTKNvy","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt","hostname":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host","fqdn":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674743006,"initial_root_password":"gZNZcKmShBZcfNjK","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_l6nhRtYivHosZ8wg
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_kEhO7LdKRfRkQgDD
    method: DELETE
  response:
    body: '{"task":{"id":"task_kKyjMLpn4iNcCbDS","name":"Purge items from trash","status":"pending","created_at":1674743123,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"16ed73e43ee40b8d85e291f4748a99c3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_kKyjMLpn4iNcCbDS
    method: GET
  response:
    body: '{"task":{"id":"task_kKyjMLpn4iNcCbDS","name":"Purge items from trash","status":"running","created_at":1674743123,"started_at":1674743123,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"152906187de43f3c140cf91ca8528ec0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_HML99Q0rZSxlkfQc
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_HML99Q0rZSxlkfQc","name":"tf-acc-test-data-source-by-id-fj4sci0ts7pt-group","segregate":true,"created_at":1674743005}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79cbed6c3fb9f57f59f010636197cd46"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_JDEtm7UoQGVTKNvy
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
