---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_PQb1t95BYVlR3yPC","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-group","segregate":true,"created_at":1615303878}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a978c1d417625648b1799bb5a2dce8c3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_PQb1t95BYVlR3yPC
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_PQb1t95BYVlR3yPC","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-group","segregate":true,"created_at":1615303878}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a978c1d417625648b1799bb5a2dce8c3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"185-53-57-146.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"139d0ae03d1e104a1138517f35ca7439"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_HkxhtyjL6oxik5Tm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"185-53-57-146.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f79479cfd503533a4543c2c2946028e9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_HkxhtyjL6oxik5Tm</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-efj4n7hycxe0</Name><Description>A web server.</Description><Group>vmgrp_PQb1t95BYVlR3yPC</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_GdZf6EYrbBmzzy8S","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_cjyOdddRCJFxHb80","state":"pending"},"virtual_machine_build":{"id":"vmbuild_cjyOdddRCJFxHb80","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d47d88cfb2655fa6cd280852be3e5d05"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_cjyOdddRCJFxHb80
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_cjyOdddRCJFxHb80","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_KF7KVaNL5QgCuvb1"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_KF7KVaNL5QgCuvb1","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0","hostname":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host","fqdn":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615303880,"initial_root_password":"gYFVrKnKHGJA5Akd","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_PQb1t95BYVlR3yPC","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-group","segregate":true,"created_at":1615303878},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_KF7KVaNL5QgCuvb1","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aa87205b4a8bdf135dba5284f7abed8e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_KF7KVaNL5QgCuvb1
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_KF7KVaNL5QgCuvb1","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0","hostname":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host","fqdn":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_KF7KVaNL5QgCuvb1","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0","hostname":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host","fqdn":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_HkxhtyjL6oxik5Tm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_HkxhtyjL6oxik5Tm","address":"185.53.57.146","reverse_dns":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.146/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_KF7KVaNL5QgCuvb1","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_KF7KVaNL5QgCuvb1","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66deffddaba0f244df401b760c2037dc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_KF7KVaNL5QgCuvb1
    method: POST
  response:
    body: '{"task":{"id":"task_Orcn7mY4pKAoG4jR","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ac2ca2dac78aa0455c87a8e3789181eb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Orcn7mY4pKAoG4jR
    method: GET
  response:
    body: '{"task":{"id":"task_Orcn7mY4pKAoG4jR","name":"Stop virtual machine","status":"running","created_at":1615303900,"started_at":1615303900,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"493429a62c746de472cf7c15176aa0e6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_KF7KVaNL5QgCuvb1
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_UtTgLZPV7nXcVJo7","keep_until":1615476706,"object_id":"vm_KF7KVaNL5QgCuvb1","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_KF7KVaNL5QgCuvb1","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0","hostname":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host","fqdn":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615303880,"initial_root_password":"gYFVrKnKHGJA5Akd","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_HkxhtyjL6oxik5Tm
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "161"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_UtTgLZPV7nXcVJo7
    method: DELETE
  response:
    body: '{"task":{"id":"task_Wb5h19QfGBPl7wiA","name":"Purge items from trash","status":"pending","created_at":1615303907,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da527bea483b250575a5c0fe6a4be258"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "160"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Wb5h19QfGBPl7wiA
    method: GET
  response:
    body: '{"task":{"id":"task_Wb5h19QfGBPl7wiA","name":"Purge items from trash","status":"running","created_at":1615303907,"started_at":1615303907,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7eb2c17282182938a78cf8f1ef1ebb4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_PQb1t95BYVlR3yPC
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_PQb1t95BYVlR3yPC","name":"tf-acc-test-data-source-by-fqdn-efj4n7hycxe0-group","segregate":true,"created_at":1615303878}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a978c1d417625648b1799bb5a2dce8c3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "157"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_KF7KVaNL5QgCuvb1
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "155"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
