---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-basic-uolebu2gmd8p","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_xQPyQOOPFGJC6eW8","name":"tf-acc-test-data-source-basic-uolebu2gmd8p","segregate":true,"created_at":1676031218}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1965e66a65379d5ac179bfd52689a77d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "922"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_xQPyQOOPFGJC6eW8
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_xQPyQOOPFGJC6eW8","name":"tf-acc-test-data-source-basic-uolebu2gmd8p","segregate":true,"created_at":1676031218}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1965e66a65379d5ac179bfd52689a77d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "921"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_xQPyQOOPFGJC6eW8
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_xQPyQOOPFGJC6eW8","name":"tf-acc-test-data-source-basic-uolebu2gmd8p","segregate":true,"created_at":1676031218}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1965e66a65379d5ac179bfd52689a77d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "901"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_xQPyQOOPFGJC6eW8
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
