---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/disk_templates/_?disk_template%5Bpermalink%5D=templates%2Fubuntu-20-04
    method: GET
  response:
    body: '{"disk_template":{"id":"dtpl_GS03NCmS1Z17rXHq","name":"Ubuntu 20.04","description":"A
      clean installation of Ubuntu 20.04 server","permalink":"templates/ubuntu-20-04","universal":true,"latest_version":{"id":"dtv_Ha4LXNfpQddNlUcT"},"operating_system":{"id":"os_DH6P34tVwUGYlcEN","name":"Ubuntu","badge":{"url":"https://my.katapult.io/attachment/5d7a3675-a2ef-4912-8fe8-3107b781763f/cof_orange_hex.png"}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6265f8b0790dc06fce3a7d13a8c66e21"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
