---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-basic-gibnr1mon6rt","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_qB6KSUnFMJfrxHMA","name":"tf-acc-test-basic-gibnr1mon6rt","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.248"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb46123aa32f5c1aabdba7907753675e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_qB6KSUnFMJfrxHMA
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_qB6KSUnFMJfrxHMA","name":"tf-acc-test-basic-gibnr1mon6rt","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.248"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4e403db2b9c78754bf84480e60cac12"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
