---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-x8i1kz33292j-1","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_RESRUwCiNovnKMc5","name":"tf-acc-test-data-source-default-x8i1kz33292j-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"975f53da873a5d61acef6becabcb618b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "688"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_RESRUwCiNovnKMc5
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_RESRUwCiNovnKMc5","name":"tf-acc-test-data-source-default-x8i1kz33292j-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"161e73d16727af675fc11ec6106d83ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "686"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_smYLsqAeCk19fzww
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_smYLsqAeCk19fzww","name":"tf-acc-test-data-source-default-x8i1kz33292j-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1055e53fefdb19d517c972b2ad8753fa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "681"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"file_storage_volumes":[{"id":"fsv_RESRUwCiNovnKMc5","name":"tf-acc-test-data-source-default-x8i1kz33292j-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_RESRUwCiNovnKMc5","size":0},{"id":"fsv_smYLsqAeCk19fzww","name":"tf-acc-test-data-source-default-x8i1kz33292j-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_smYLsqAeCk19fzww","size":0}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d4c718d870c04dca1d213c059e2d64b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "662"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_smYLsqAeCk19fzww
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_VpiwKl3HJ7dPi2B2","keep_until":1679768081,"object_id":"fsv_smYLsqAeCk19fzww","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_smYLsqAeCk19fzww","name":"tf-acc-test-data-source-default-x8i1kz33292j-2","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_smYLsqAeCk19fzww","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db446009b940225980e7822eeec1840b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "651"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_smYLsqAeCk19fzww
    method: DELETE
  response:
    body: '{"task":{"id":"task_vItXmKDFFA37E0Eu","name":"Purge items from trash","status":"pending","created_at":1679595281,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"362462ece419af1ec7392a4068baa7d5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "650"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_smYLsqAeCk19fzww
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_RESRUwCiNovnKMc5
    method: DELETE
  response:
    body: '{"task":{"id":"task_rbbBqgW5FTXBgmBL","name":"Purge items from trash","status":"pending","created_at":1679595307,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b22df90904a52fea008e32c5c20eeb4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
