---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-rules-kmn9zwnn9phg","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0XROzeASuWPICw45","name":"tf-acc-test-data-source-rules-kmn9zwnn9phg","segregate":true,"created_at":1678365041}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"102391958ce8692d6aa5239e8b62d414"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_0XROzeASuWPICw45
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0XROzeASuWPICw45","name":"tf-acc-test-data-source-rules-kmn9zwnn9phg","segregate":true,"created_at":1678365041}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"102391958ce8692d6aa5239e8b62d414"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-rules-kmn9zwnn9phg","associations":["vmgrp_0XROzeASuWPICw45"],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_LkK4zqz5M5N2HFBj","name":"tf-acc-test-data-source-rules-kmn9zwnn9phg","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_0XROzeASuWPICw45"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6711336af94c37efb540e9d1ae7fe7b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_LkK4zqz5M5N2HFBj/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_v7zk0gfL94ueiyf8","security_group":{"id":"sg_LkK4zqz5M5N2HFBj","name":"tf-acc-test-data-source-rules-kmn9zwnn9phg"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aee1dc880571caef24df3965b9d361d9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_LkK4zqz5M5N2HFBj
    method: GET
  response:
    body: '{"security_group":{"id":"sg_LkK4zqz5M5N2HFBj","name":"tf-acc-test-data-source-rules-kmn9zwnn9phg","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_0XROzeASuWPICw45"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6711336af94c37efb540e9d1ae7fe7b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_LkK4zqz5M5N2HFBj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_v7zk0gfL94ueiyf8","direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"},{"id":"sgr_DTvH1ZlaPXAxEftx","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"},{"id":"sgr_Ips5wIKDwP8484Xb","direction":"inbound","protocol":"TCP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"HTTPS"},{"id":"sgr_PeWdIE5pTS2oOzqb","direction":"inbound","protocol":"ICMP","ports":null,"targets":["219.185.152.0/24"],"notes":"ping"},{"id":"sgr_JjOtOQJsvd6pA50C","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c5af03f6d72f0c4287cbe1eddf9bf56f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_0XROzeASuWPICw45
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0XROzeASuWPICw45","name":"tf-acc-test-data-source-rules-kmn9zwnn9phg","segregate":true,"created_at":1678365041}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"102391958ce8692d6aa5239e8b62d414"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_LkK4zqz5M5N2HFBj
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
