---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-f1caq9408w17","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_7njUPgOQOQAL5fgU","name":"tf-acc-test-data-source-minimal-f1caq9408w17","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b65fab1fef92e266b00514ff4fe39c69"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_7njUPgOQOQAL5fgU
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_7njUPgOQOQAL5fgU","name":"tf-acc-test-data-source-minimal-f1caq9408w17","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32a23cf5b996b43b6fe175f5aa57515c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_7njUPgOQOQAL5fgU
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_zTOnQF9AAHyADeuO","keep_until":1720628968,"object_id":"fsv_7njUPgOQOQAL5fgU","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_7njUPgOQOQAL5fgU","name":"tf-acc-test-data-source-minimal-f1caq9408w17","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_7njUPgOQOQAL5fgU","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45b244a77bf153f5344fb9849dc93d6d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_7njUPgOQOQAL5fgU
    method: DELETE
  response:
    body: '{"task":{"id":"task_Z4uMLo2J3PJnjQUy","name":"Purge items from trash","status":"pending","created_at":1720456169,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0e839f4ee6d3c174119f64a0378a5681"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_7njUPgOQOQAL5fgU
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 404 Not Found
    code: 404
    duration: ""
