---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "910"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-gy92g0cx0xee-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_bvX4MGmrVaaWyc6L","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee-group","segregate":true,"created_at":1676031310}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb403fb04fca7b4c214c405b3235836e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "910"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_bvX4MGmrVaaWyc6L
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_bvX4MGmrVaaWyc6L","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee-group","segregate":true,"created_at":1676031310}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb403fb04fca7b4c214c405b3235836e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"185-199-222-102.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"83ea4f34a8ce0d2edaa0f1a799893caa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "908"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Z5FLGs1qY5Mhtbwz
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"185-199-222-102.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64dd313fd865984b592937218047f068"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "906"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_Z5FLGs1qY5Mhtbwz</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-gy92g0cx0xee-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-gy92g0cx0xee</Name><Description>A web server.</Description><Group>vmgrp_bvX4MGmrVaaWyc6L</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_IDnW4SRWeqKfQ53v","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_67pfG0CCpEOhCBVA","state":"pending"},"virtual_machine_build":{"id":"vmbuild_67pfG0CCpEOhCBVA","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98e13d209ebe883707e1f93cd49c3a79"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "904"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_67pfG0CCpEOhCBVA
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_67pfG0CCpEOhCBVA","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_XGsVpsyw1O9CVayx"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_XGsVpsyw1O9CVayx","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee","hostname":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host","fqdn":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031311,"initial_root_password":"mNecenq36vybMmpc","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_bvX4MGmrVaaWyc6L","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee-group","segregate":true,"created_at":1676031310},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_XGsVpsyw1O9CVayx","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f5855aa668df17abc150161ebc0ab99"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_XGsVpsyw1O9CVayx
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_XGsVpsyw1O9CVayx","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee","hostname":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host","fqdn":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_XGsVpsyw1O9CVayx
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_bCimAB6dG7rWrJVU","name":"Public
      Network on tf-acc-test-data-source-by-id-gy92g0cx0xee","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"78180128a6a7bc0b8604c31eb06af1bd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "851"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_bCimAB6dG7rWrJVU
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_bCimAB6dG7rWrJVU","virtual_machine":{"id":"vm_XGsVpsyw1O9CVayx","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee"},"name":"Public
      Network on tf-acc-test-data-source-by-id-gy92g0cx0xee","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a7:2a:41:c6:7c","state":"detached","ip_addresses":[{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c2be1632ddcf54327067c1331b09de87"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "850"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Z5FLGs1qY5Mhtbwz
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_XGsVpsyw1O9CVayx","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_XGsVpsyw1O9CVayx","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c82021f1061f827a1d1fe6c7f978106"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "841"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_XGsVpsyw1O9CVayx
    method: POST
  response:
    body: '{"task":{"id":"task_HfmjnK4qWYM5fT4R","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"408b09cf0362396be2312f3993254314"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "828"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_HfmjnK4qWYM5fT4R
    method: GET
  response:
    body: '{"task":{"id":"task_HfmjnK4qWYM5fT4R","name":"Stop virtual machine","status":"pending","created_at":1676031331,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3ffe72599266fedba66b2cac6149eb1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "827"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_XGsVpsyw1O9CVayx
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_3mmQFePYZZEfNXcT","keep_until":1676204158,"object_id":"vm_XGsVpsyw1O9CVayx","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_XGsVpsyw1O9CVayx","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee","hostname":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host","fqdn":"tf-acc-test-data-source-by-id-gy92g0cx0xee-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031311,"initial_root_password":"mNecenq36vybMmpc","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Z5FLGs1qY5Mhtbwz
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "806"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_3mmQFePYZZEfNXcT
    method: DELETE
  response:
    body: '{"task":{"id":"task_MmbqLtJo7g9k45rZ","name":"Purge items from trash","status":"pending","created_at":1676031358,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4dee6e08b83033fe6ab6d0f6e1acfdaf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "804"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_MmbqLtJo7g9k45rZ
    method: GET
  response:
    body: '{"task":{"id":"task_MmbqLtJo7g9k45rZ","name":"Purge items from trash","status":"pending","created_at":1676031358,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4dee6e08b83033fe6ab6d0f6e1acfdaf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "803"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_bvX4MGmrVaaWyc6L
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_bvX4MGmrVaaWyc6L","name":"tf-acc-test-data-source-by-id-gy92g0cx0xee-group","segregate":true,"created_at":1676031310}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb403fb04fca7b4c214c405b3235836e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_XGsVpsyw1O9CVayx
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
