---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/disk_templates?include_universal=true&organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":8,"per_page":30,"large_set":false},"disk_templates":[{"id":"dtpl_zHhabpLGa0Bpjhsm","name":"CentOS
      7.7","description":"A clean installation of Centos 7.7","permalink":"templates/centos-7-7","universal":true,"latest_version":{"id":"dtv_kHAtizr7ca7UgNWY","number":3},"operating_system":{"id":"os_i8XPKQHdAQY98ljt","name":"CentOS"}},{"id":"dtpl_MIIP8b9OFiJWdEqP","name":"CentOS
      7.9","description":"A clean installation of Centos 7.9","permalink":"templates/centos-7","universal":true,"latest_version":{"id":"dtv_WlHueKRDxLH8KOKS","number":1},"operating_system":{"id":"os_i8XPKQHdAQY98ljt","name":"CentOS"}},{"id":"dtpl_IW7fNEmvhYJWvesy","name":"CentOS
      8.0","description":"A clean installation of CentOs 8.0","permalink":"templates/centos-8","universal":true,"latest_version":[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/disk_templates?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"disk_templates":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4a4a5d8f32a54cf38640ccde4ad9a9b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
[...]
