---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bid%5D=org_eodfyqFF3YWb2OFC
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"83acdeeac637486bc5f2f53681d19f3b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"185-53-57-37.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"56e15c4630041ef99e71e44323edd2a6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_8rby1Nlwx4IsqVQ2
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"185-53-57-37.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d9eb2496959159265f94ffc19a1259a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_8rby1Nlwx4IsqVQ2</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-nva80k0vxryn</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_1kvGTmc9jJB0ASDH","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_5Va9Jcwtt4qiLPbT","state":"pending"},"virtual_machine_build":{"id":"vmbuild_5Va9Jcwtt4qiLPbT","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"188a82d858cb3ee879f722e82db440f5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_5Va9Jcwtt4qiLPbT
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_5Va9Jcwtt4qiLPbT","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_y80kGacz1QsSOOw4"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_y80kGacz1QsSOOw4","name":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn","hostname":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host","fqdn":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1612445136,"initial_root_password":"tbJ8io5E0qGbyjEt","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":"vm_y80kGacz1QsSOOw4","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f97600630fe8227a2257e68a5718100d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_y80kGacz1QsSOOw4
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_y80kGacz1QsSOOw4","name":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn","hostname":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host","fqdn":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1612445[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_y80kGacz1QsSOOw4","name":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn","hostname":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host","fqdn":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_8rby1Nlwx4IsqVQ2
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":"vm_y80kGacz1QsSOOw4","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_y80kGacz1QsSOOw4","name":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c3d392d22ba86247283c3b9cbb6c95a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_y80kGacz1QsSOOw4
    method: POST
  response:
    body: '{"task":{"id":"task_KObZMTReclBAaERR","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c71d07eb79a6bf781575748508688ff"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_y80kGacz1QsSOOw4
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_lu43IfjH6vbbOcUG","keep_until":1612617975,"object_id":"vm_y80kGacz1QsSOOw4","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_y80kGacz1QsSOOw4","name":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn","hostname":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host","fqdn":"tf-acc-test-data-source-by-fqdn-nva80k0vxryn-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1612445136,"initial_root_password":"tbJ8io5E0qGbyjEt","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpi[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_8rby1Nlwx4IsqVQ2
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_lu43IfjH6vbbOcUG
    method: DELETE
  response:
    body: '{"task":{"id":"task_qDC9qF5F4wZvc2J9","name":"Purge items from trash","status":"pending","created_at":1612445175,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0eb4aa22d7f777884683e574d9c302d9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_qDC9qF5F4wZvc2J9
    method: GET
  response:
    body: '{"task":{"id":"task_qDC9qF5F4wZvc2J9","name":"Purge items from trash","status":"running","created_at":1612445175,"started_at":1612445176,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"31a2846cea8b5816f20583cfbe8180ea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
