---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bpermalink%5D=rock-6
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_dMeEyd1g8hwIlxR8","name":"ROCK-6","permalink":"rock-6","cpu_cores":2,"ipv4_addresses":1,"memory_in_gb":6,"storage_in_gb":50,"monthly_bandwidth_allowance_in_gb":3072,"privacy":"public","icon":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0b7426ac2261e30822f32d3ed2866dba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bid%5D=vmpkg_dMeEyd1g8hwIlxR8
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_dMeEyd1g8hwIlxR8","name":"ROCK-6","permalink":"rock-6","cpu_cores":2,"ipv4_addresses":1,"memory_in_gb":6,"storage_in_gb":50,"monthly_bandwidth_allowance_in_gb":3072,"privacy":"public","icon":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0b7426ac2261e30822f32d3ed2866dba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "592"
    status: 200 OK
    code: 200
    duration: ""
[...]
