---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-rules-1hg982azx3cl","associations":[],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_dXpGQQdZXeQSPsWB","name":"tf-acc-test-data-source-rules-1hg982azx3cl","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8510e568da47a0018d766ba2651a9fcb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_dXpGQQdZXeQSPsWB/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_ps4807I4T57qi4Ei","security_group":{"id":"sg_dXpGQQdZXeQSPsWB","name":"tf-acc-test-data-source-rules-1hg982azx3cl"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fd1186be697fb782acf82dad43b877b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_dXpGQQdZXeQSPsWB
    method: GET
  response:
    body: '{"security_group":{"id":"sg_dXpGQQdZXeQSPsWB","name":"tf-acc-test-data-source-rules-1hg982azx3cl","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8510e568da47a0018d766ba2651a9fcb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_dXpGQQdZXeQSPsWB
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_ps4807I4T57qi4Ei","direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"},{"id":"sgr_WuLpgyyNV1TYnJIn","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"67ab783cdb5c4fddf0a2f1572c98d789"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-rules-1hg982azx3cl","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wRM0RcksAoHxLCjh","name":"tf-acc-test-data-source-rules-1hg982azx3cl","segregate":true,"created_at":1678374476}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b6d42c620a375a23344814044c846493"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_wRM0RcksAoHxLCjh
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wRM0RcksAoHxLCjh","name":"tf-acc-test-data-source-rules-1hg982azx3cl","segregate":true,"created_at":1678374476}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b6d42c620a375a23344814044c846493"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_dXpGQQdZXeQSPsWB"},"properties":{"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_dXpGQQdZXeQSPsWB","name":"tf-acc-test-data-source-rules-1hg982azx3cl","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8be5218ef9a74f8bc6c8be06203620fc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_ps4807I4T57qi4Ei
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_WuLpgyyNV1TYnJIn
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "916"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_wRM0RcksAoHxLCjh
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wRM0RcksAoHxLCjh","name":"tf-acc-test-data-source-rules-1hg982azx3cl","segregate":true,"created_at":1678374476}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b6d42c620a375a23344814044c846493"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
