---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-9ug6ol1a3msr","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_H9zUiSLwPbe2h5dZ","name":"tf-acc-test-data-source-minimal-9ug6ol1a3msr","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbf70e324bb8cd7fa885fdb41bb507f0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_H9zUiSLwPbe2h5dZ
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_H9zUiSLwPbe2h5dZ","name":"tf-acc-test-data-source-minimal-9ug6ol1a3msr","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79eaa8b4a3b4d82616b0ac02c6ce6da2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_H9zUiSLwPbe2h5dZ
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_nCeEBCd4gWJTJS7Z","keep_until":1720622440,"object_id":"fsv_H9zUiSLwPbe2h5dZ","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_H9zUiSLwPbe2h5dZ","name":"tf-acc-test-data-source-minimal-9ug6ol1a3msr","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_H9zUiSLwPbe2h5dZ","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"714743f4d8abe5d5d814bfaa5da57ab3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_H9zUiSLwPbe2h5dZ
    method: DELETE
  response:
    body: '{"task":{"id":"task_C1FQ4XRaWeDEgbeQ","name":"Purge items from trash","status":"pending","created_at":1720449640,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70cf391613b21eaa34a4805a5fd5f35f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_H9zUiSLwPbe2h5dZ
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 404 Not Found
    code: 404
    duration: ""
