---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-1","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_XkR7KdYn5vlz4Twg","name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-1","segregate":true,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49176f0c8e794f90187bcb8f0766836b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_XkR7KdYn5vlz4Twg
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_XkR7KdYn5vlz4Twg","name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-1","segregate":true,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49176f0c8e794f90187bcb8f0766836b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_0YDR3fifLejIAtcu
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0YDR3fifLejIAtcu","name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-2","segregate":false,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb1571ce2e6b8b61a5b5d2e3635542a1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"virtual_machine_groups":[{"id":"vmgrp_tueTgCNcAHIJWr5m","name":"tf-acc-test-data-source-basic-prkdf1caoinf","segregate":true,"created_at":1615292191},{"id":"vmgrp_XkR7KdYn5vlz4Twg","name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-1","segregate":true,"created_at":1615292191},{"id":"vmgrp_FQCTWazWMcMfSpmE","name":"tf-acc-test-data-source-not-segregated-xcd8v1ktkzbn","segregate":false,"created_at":1615292191},{"id":"vmgrp_0YDR3fifLejIAtcu","name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-2","segregate":false,"created_at":1615292191}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"655cc0f4597c7acae0ea1049151f9c1e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_0YDR3fifLejIAtcu
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0YDR3fifLejIAtcu","name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-2","segregate":false,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb1571ce2e6b8b61a5b5d2e3635542a1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "160"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_XkR7KdYn5vlz4Twg
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_XkR7KdYn5vlz4Twg","name":"tf-acc-test-data-source-group-3zl9qmdxnp6y-1","segregate":true,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49176f0c8e794f90187bcb8f0766836b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
