---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/disk_templates?include_universal=true&organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":12,"per_page":30,"large_set":false},"disk_templates":[{"id":"dtpl_HFSqTSuYzkgfqDm1","name":"AlmaLinux
      8","description":"A clean installation of AlmaLinux 8.","permalink":"templates/almalinux8","universal":true,"latest_version":{"id":"dtv_KlnCE1twqUjvkNSB","number":11},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux"}},{"id":"dtpl_kdthc4p4sChJADmC","name":"AlmaLinux
      9","description":"A clean installation of AlmaLinux 9.","permalink":"templates/almalinux9","universal":true,"latest_version":{"id":"dtv_RMnpViEBxj3TC46L","number":2},"operating_system":{"id":"os_XmnB8easkUEBR536","name":"AlmaLinux"}},{"id":"dtpl_zHhabpLGa0Bpjhsm","name":"CentOS
      7.7","description":"A clean installation of Centos 7.7","permalink":"templates/centos-7-7","universal":true,"lat[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/disk_templates?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"disk_templates":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4a4a5d8f32a54cf38640ccde4ad9a9b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "627"
    status: 200 OK
    code: 200
    duration: ""
[...]
