---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LjhScuYqD2n6wBbk","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-group","segregate":true,"created_at":1617040163}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"caaaeca0c59ff773e0486a9570810b73"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_LjhScuYqD2n6wBbk
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LjhScuYqD2n6wBbk","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-group","segregate":true,"created_at":1617040163}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"caaaeca0c59ff773e0486a9570810b73"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"185-53-57-181.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"341a9e86a82744df48abedbcdb3dc80d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fMD5HaEqFFRyQf0I
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"185-53-57-181.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f9a772ad802c0d44fd8f7cd06ffd81e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_fMD5HaEqFFRyQf0I</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2</Name><Description>A web server.</Description><Group>vmgrp_LjhScuYqD2n6wBbk</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_op6VkbbFytIDVUg3","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_zbXZLTqhW8SxGbfF","state":"pending"},"virtual_machine_build":{"id":"vmbuild_zbXZLTqhW8SxGbfF","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c14cb26f3597907d79bd55e80300ca55"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_zbXZLTqhW8SxGbfF
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_zbXZLTqhW8SxGbfF","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_xxsTtZRtW9eJ8D5W"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_xxsTtZRtW9eJ8D5W","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2","hostname":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host","fqdn":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617040165,"initial_root_password":"G6eNdZNU7kzFv3zi","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_LjhScuYqD2n6wBbk","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-group","segregate":true,"created_at":1617040163},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_xxsTtZRtW9eJ8D5W","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b230dfb780e490f5ce2dff13052b480"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_xxsTtZRtW9eJ8D5W
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_xxsTtZRtW9eJ8D5W","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2","hostname":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host","fqdn":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_xxsTtZRtW9eJ8D5W
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_L7dfdnioiFnQ9X5L","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3da1e71b36bf758ca41ccc49c38217b9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "148"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/vmnet_L7dfdnioiFnQ9X5L
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_L7dfdnioiFnQ9X5L","virtual_machine":{"id":"vm_xxsTtZRtW9eJ8D5W","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:66:8c:b7:49:05","state":"attached","ip_addresses":[{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbd7b42262ee174c9ed4304d55f5d9cd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "146"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_xxsTtZRtW9eJ8D5W","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2","hostname":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host","fqdn":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fMD5HaEqFFRyQf0I
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_xxsTtZRtW9eJ8D5W","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_xxsTtZRtW9eJ8D5W","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b60b6993d62498129b3e46e0c7f822f2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "135"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_xxsTtZRtW9eJ8D5W
    method: POST
  response:
    body: '{"task":{"id":"task_wdkHUKdoD0aJqAFI","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7bc558a1d9b1ab56be4b8d59351e1431"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "124"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_wdkHUKdoD0aJqAFI
    method: GET
  response:
    body: '{"task":{"id":"task_wdkHUKdoD0aJqAFI","name":"Stop virtual machine","status":"pending","created_at":1617040186,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0660b61205b38f23908d670ee980881c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "122"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_xxsTtZRtW9eJ8D5W
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_NC3YXiUgGgulhfke","keep_until":1617213003,"object_id":"vm_xxsTtZRtW9eJ8D5W","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_xxsTtZRtW9eJ8D5W","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2","hostname":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host","fqdn":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617040165,"initial_root_password":"G6eNdZNU7kzFv3zi","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_fMD5HaEqFFRyQf0I
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_NC3YXiUgGgulhfke
    method: DELETE
  response:
    body: '{"task":{"id":"task_4jNM1ce638c4k7jc","name":"Purge items from trash","status":"pending","created_at":1617040203,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d2570a02dd4785469cdcc68e7aaedb7f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_4jNM1ce638c4k7jc
    method: GET
  response:
    body: '{"task":{"id":"task_4jNM1ce638c4k7jc","name":"Purge items from trash","status":"running","created_at":1617040203,"started_at":1617040204,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d31b4c2ae1eeb3033d6def7ff8cc759"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_LjhScuYqD2n6wBbk
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LjhScuYqD2n6wBbk","name":"tf-acc-test-data-source-by-fqdn-b3to7vi8e6l2-group","segregate":true,"created_at":1617040163}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"caaaeca0c59ff773e0486a9570810b73"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_xxsTtZRtW9eJ8D5W
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
