---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-inbound","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_49J83zxdavo3NMbb","name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-inbound","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c05116ef75cc27bdb1e3682fb7a93fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_49J83zxdavo3NMbb/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_451YMbW55ytQPLAI","security_group":{"id":"sg_49J83zxdavo3NMbb","name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-inbound"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9c20f4bc2cf5ecc9adb7dc7ed3fbde46"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_49J83zxdavo3NMbb
    method: GET
  response:
    body: '{"security_group":{"id":"sg_49J83zxdavo3NMbb","name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-inbound","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c05116ef75cc27bdb1e3682fb7a93fe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_49J83zxdavo3NMbb
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_451YMbW55ytQPLAI","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"SSH"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4cdcd12b93f20798a54375ab390fc59"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"outbound","protocol":"UDP","ports":"53","targets":["all:ipv6","all:ipv4"],"notes":"DNS"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_XZ2iwPBzm0vnrdM0/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_VVV9fmj40Bx11CWU","security_group":{"id":"sg_XZ2iwPBzm0vnrdM0","name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-outbound"},"direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv6","all:ipv4"],"notes":"DNS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bf1b55bcb9e0b2fbd7b64a58c6a9dbfe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_XZ2iwPBzm0vnrdM0
    method: GET
  response:
    body: '{"security_group":{"id":"sg_XZ2iwPBzm0vnrdM0","name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-outbound","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"29463fe69959a2eecd309cdb4eebf0a6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_XZ2iwPBzm0vnrdM0
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_VVV9fmj40Bx11CWU","direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv6","all:ipv4"],"notes":"DNS"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26ece15ef131c33d7f43a25078596faf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/security_groups?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_groups":[{"id":"sg_49J83zxdavo3NMbb","name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-inbound","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},{"id":"sg_XZ2iwPBzm0vnrdM0","name":"tf-acc-test-data-source-include-rules-kkpvpc7j4i6s-outbound","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"275bc23263eb1cb991e9030c710b4174"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_49J83zxdavo3NMbb
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
