---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-group-yu79etr8y87g-1","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GMyzyF0qpvy1PwfH","name":"tf-acc-test-data-source-group-yu79etr8y87g-1","segregate":true,"created_at":1676031665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aecbb45181d5b7fc9280ee24c97eff84"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_GMyzyF0qpvy1PwfH
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GMyzyF0qpvy1PwfH","name":"tf-acc-test-data-source-group-yu79etr8y87g-1","segregate":true,"created_at":1676031665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aecbb45181d5b7fc9280ee24c97eff84"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_QBFLG0yx5pwETCOz
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_QBFLG0yx5pwETCOz","name":"tf-acc-test-data-source-group-yu79etr8y87g-2","segregate":false,"created_at":1676031665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fce8947501f935a9b03c9eb057bd4fd6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"virtual_machine_groups":[{"id":"vmgrp_GMyzyF0qpvy1PwfH","name":"tf-acc-test-data-source-group-yu79etr8y87g-1","segregate":true,"created_at":1676031665},{"id":"vmgrp_QBFLG0yx5pwETCOz","name":"tf-acc-test-data-source-group-yu79etr8y87g-2","segregate":false,"created_at":1676031665}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"044cfb3bde05531accfee5ba624a0383"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_QBFLG0yx5pwETCOz
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_QBFLG0yx5pwETCOz","name":"tf-acc-test-data-source-group-yu79etr8y87g-2","segregate":false,"created_at":1676031665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fce8947501f935a9b03c9eb057bd4fd6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_GMyzyF0qpvy1PwfH
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GMyzyF0qpvy1PwfH","name":"tf-acc-test-data-source-group-yu79etr8y87g-1","segregate":true,"created_at":1676031665}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aecbb45181d5b7fc9280ee24c97eff84"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
