---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bpermalink%5D=rock-6
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_dMeEyd1g8hwIlxR8","name":"ROCK-6","permalink":"rock-6","cpu_cores":2,"ipv4_addresses":1,"memory_in_gb":6,"storage_in_gb":50,"privacy":"public","icon":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f55516151a40f23fb4bfa40a4cf0f035"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/vmpkg_dMeEyd1g8hwIlxR8
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_dMeEyd1g8hwIlxR8","name":"ROCK-6","permalink":"rock-6","cpu_cores":2,"ipv4_addresses":1,"memory_in_gb":6,"storage_in_gb":50,"privacy":"public","icon":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f55516151a40f23fb4bfa40a4cf0f035"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
