---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/data_centers/loc_gTvEnqqnKohbFBJR
    method: GET
  response:
    body: '{"data_center":{"id":"loc_gTvEnqqnKohbFBJR","name":"Netwise","permalink":"netwise","country":{"id":"ctry_vDAzWmgGkPoyWMET","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c58f2795ab7c5c9c50e5cef02ee05a9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
[...]
