---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-not-segregated-4lfgcdv3ic67","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ez6jjG6sDm4ai0qe","name":"tf-acc-test-data-source-not-segregated-4lfgcdv3ic67","segregate":false,"created_at":1679595236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8eb644f97c35c30ee45476feef589232"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "565"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_Ez6jjG6sDm4ai0qe
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ez6jjG6sDm4ai0qe","name":"tf-acc-test-data-source-not-segregated-4lfgcdv3ic67","segregate":false,"created_at":1679595236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8eb644f97c35c30ee45476feef589232"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "564"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_Ez6jjG6sDm4ai0qe
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ez6jjG6sDm4ai0qe","name":"tf-acc-test-data-source-not-segregated-4lfgcdv3ic67","segregate":false,"created_at":1679595236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8eb644f97c35c30ee45476feef589232"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "549"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_Ez6jjG6sDm4ai0qe
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "548"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
