---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-basic-ckukrur9ax8s","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_92TtVZO9i27Quqcr","name":"tf-acc-test-basic-ckukrur9ax8s","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.196"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26733cd522db1297294174a16a2b8012"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_92TtVZO9i27Quqcr
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_92TtVZO9i27Quqcr","name":"tf-acc-test-basic-ckukrur9ax8s","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.196"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26733cd522db1297294174a16a2b8012"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_92TtVZO9i27Quqcr
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_92TtVZO9i27Quqcr","name":"tf-acc-test-basic-ckukrur9ax8s"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"638562bac113f52cf913b1c9a830c93b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
