---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-re01aesvw9cd","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_a7cYvO97ak1ytlEw","name":"tf-acc-test-data-source-minimal-re01aesvw9cd","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"10c2c2d8f6983683a91c838bf713325a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "740"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_a7cYvO97ak1ytlEw
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_a7cYvO97ak1ytlEw","name":"tf-acc-test-data-source-minimal-re01aesvw9cd","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c45813ad479e6e1585cde2ce877f5785"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "729"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_a7cYvO97ak1ytlEw
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_B3w5vcM0hcGiG1jo","keep_until":1679768060,"object_id":"fsv_a7cYvO97ak1ytlEw","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_a7cYvO97ak1ytlEw","name":"tf-acc-test-data-source-minimal-re01aesvw9cd","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_a7cYvO97ak1ytlEw","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f891247b0080ebaf1fcf64aacd5aa7e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "705"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_a7cYvO97ak1ytlEw
    method: DELETE
  response:
    body: '{"task":{"id":"task_AO30dCztYIg7atjN","name":"Purge items from trash","status":"pending","created_at":1679595260,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b1d3364afd7d644ec350fff2ebb1ccd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "704"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_a7cYvO97ak1ytlEw
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "647"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
