---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-gcz1sapciiwt","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_0OPIk1axnxCe3Zj3","name":"tf-acc-test-data-source-by-id-gcz1sapciiwt","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1cf58f6d1223a85daa45806c0957f46d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_0OPIk1axnxCe3Zj3
    method: GET
  response:
    body: '{"security_group":{"id":"sg_0OPIk1axnxCe3Zj3","name":"tf-acc-test-data-source-by-id-gcz1sapciiwt","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1cf58f6d1223a85daa45806c0957f46d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["93.89.203.0/24"],"notes":"Trusted SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_0OPIk1axnxCe3Zj3/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_3SESZnu6YDdqsIZ6","security_group":{"id":"sg_0OPIk1axnxCe3Zj3","name":"tf-acc-test-data-source-by-id-gcz1sapciiwt"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["93.89.203.0/24"],"notes":"Trusted
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"491b082be814c0130792d52467b81f6e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_3SESZnu6YDdqsIZ6
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_3SESZnu6YDdqsIZ6","security_group":{"id":"sg_0OPIk1axnxCe3Zj3","name":"tf-acc-test-data-source-by-id-gcz1sapciiwt"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["93.89.203.0/24"],"notes":"Trusted
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"491b082be814c0130792d52467b81f6e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
