---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-rv4yynzzzl03-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_WFKR0OvYBOdlRdr8","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03-group","segregate":true,"created_at":1617040163}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"140fa9ca78efd48d23d49b77410041ea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_WFKR0OvYBOdlRdr8
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_WFKR0OvYBOdlRdr8","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03-group","segregate":true,"created_at":1617040163}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"140fa9ca78efd48d23d49b77410041ea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ZviAEcf4RiZG8ss5","address":"185.53.57.18","reverse_dns":"185-53-57-18.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.18/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"52c54015c9a3d4cf3a375af0ef15eefe"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ZviAEcf4RiZG8ss5
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ZviAEcf4RiZG8ss5","address":"185.53.57.18","reverse_dns":"185-53-57-18.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.18/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8109001d838d31bb1b2b5b75cb0e7a61"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_ZviAEcf4RiZG8ss5</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-rv4yynzzzl03-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-rv4yynzzzl03</Name><Description>A web server.</Description><Group>vmgrp_WFKR0OvYBOdlRdr8</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_w8yomGZbEAG3d09l","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_FH9iK50qG3T8nUWC","state":"pending"},"virtual_machine_build":{"id":"vmbuild_FH9iK50qG3T8nUWC","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59ad9b92e3a5aafc30a31b65c6122813"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_FH9iK50qG3T8nUWC
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_FH9iK50qG3T8nUWC","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_7Q1fLstK3J5kI7pF"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_7Q1fLstK3J5kI7pF","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03","hostname":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host","fqdn":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617040165,"initial_root_password":"PkAvztqK5Ef7PjJ7","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_WFKR0OvYBOdlRdr8","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03-group","segregate":true,"created_at":1617040163},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_ZviAEcf4RiZG8ss5","address":"185.53.57.18","reverse_dns":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.18/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_7Q1fLstK3J5kI7pF","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8144bdc77b1670190e2ab9ee4aed523b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_7Q1fLstK3J5kI7pF
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_7Q1fLstK3J5kI7pF","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03","hostname":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host","fqdn":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617040[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_7Q1fLstK3J5kI7pF
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_P6GhSrWof658chub","name":"Public
      Network on tf-acc-test-data-source-by-id-rv4yynzzzl03","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_ZviAEcf4RiZG8ss5","address":"185.53.57.18"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b65ceb8c546a1d3e00e5b575daa1c421"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "153"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/vmnet_P6GhSrWof658chub
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_P6GhSrWof658chub","virtual_machine":{"id":"vm_7Q1fLstK3J5kI7pF","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03"},"name":"Public
      Network on tf-acc-test-data-source-by-id-rv4yynzzzl03","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:54:d9:e7:27:71","state":"attached","ip_addresses":[{"id":"ip_ZviAEcf4RiZG8ss5","address":"185.53.57.18"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"34cb3383f3876006e462b93f7315cf6f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "152"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ZviAEcf4RiZG8ss5
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ZviAEcf4RiZG8ss5","address":"185.53.57.18","reverse_dns":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.18/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_7Q1fLstK3J5kI7pF","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_7Q1fLstK3J5kI7pF","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"618c15a464370e287bc749bacfa91034"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "141"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_7Q1fLstK3J5kI7pF
    method: POST
  response:
    body: '{"task":{"id":"task_qKniWfyO2ofiv3YJ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cc96840e098150d0cf2815df391f2823"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "126"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_qKniWfyO2ofiv3YJ
    method: GET
  response:
    body: '{"task":{"id":"task_qKniWfyO2ofiv3YJ","name":"Stop virtual machine","status":"running","created_at":1617040186,"started_at":1617040186,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4902787ac6d483ec14e112ebb2e5ccd8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "123"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_7Q1fLstK3J5kI7pF
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_tSOQsF8jyoz3LYVC","keep_until":1617212992,"object_id":"vm_7Q1fLstK3J5kI7pF","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_7Q1fLstK3J5kI7pF","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03","hostname":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host","fqdn":"tf-acc-test-data-source-by-id-rv4yynzzzl03-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617040165,"initial_root_password":"PkAvztqK5Ef7PjJ7","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ZviAEcf4RiZG8ss5
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "118"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_tSOQsF8jyoz3LYVC
    method: DELETE
  response:
    body: '{"task":{"id":"task_vSgPfpLHZZJYyAfY","name":"Purge items from trash","status":"pending","created_at":1617040193,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e0c976a624879ee7496979afcad3415"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "117"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_vSgPfpLHZZJYyAfY
    method: GET
  response:
    body: '{"task":{"id":"task_vSgPfpLHZZJYyAfY","name":"Purge items from trash","status":"running","created_at":1617040193,"started_at":1617040193,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"30859f8bcdc599e901ad19f074320a6e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "116"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_WFKR0OvYBOdlRdr8
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_WFKR0OvYBOdlRdr8","name":"tf-acc-test-data-source-by-id-rv4yynzzzl03-group","segregate":true,"created_at":1617040163}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"140fa9ca78efd48d23d49b77410041ea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "113"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_7Q1fLstK3J5kI7pF
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "112"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
