---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-basic-iy0nr4xde2gf","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_xYBjRKJZXmNAndCS","name":"tf-acc-test-basic-iy0nr4xde2gf","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.92"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"645e8fa5f4b086d53e04618b36da0b29"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_xYBjRKJZXmNAndCS
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_xYBjRKJZXmNAndCS","name":"tf-acc-test-basic-iy0nr4xde2gf","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.92"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"645e8fa5f4b086d53e04618b36da0b29"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_xYBjRKJZXmNAndCS
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_xYBjRKJZXmNAndCS","name":"tf-acc-test-basic-iy0nr4xde2gf"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0061edb2803d264665f2b745d283aecb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "151"
    status: 200 OK
    code: 200
    duration: ""
