---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bpermalink%5D=rock-3
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41ce02ebe17cf62c963b95a002dfa603"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bid%5D=vmpkg_Eh5LYVKScVHpj7sM
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41ce02ebe17cf62c963b95a002dfa603"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
