---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-basic-281hltns8hxt","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4k7KbuzYtKnfOg0h","name":"tf-acc-test-data-source-basic-281hltns8hxt","segregate":true,"created_at":1622137338}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e17c1184c65d5e1af75f6b697389e9c2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_4k7KbuzYtKnfOg0h
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4k7KbuzYtKnfOg0h","name":"tf-acc-test-data-source-basic-281hltns8hxt","segregate":true,"created_at":1622137338}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e17c1184c65d5e1af75f6b697389e9c2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_4k7KbuzYtKnfOg0h
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4k7KbuzYtKnfOg0h","name":"tf-acc-test-data-source-basic-281hltns8hxt","segregate":true,"created_at":1622137338}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e17c1184c65d5e1af75f6b697389e9c2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_4k7KbuzYtKnfOg0h
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
