---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_M1gFPYBUytQ8GcFg","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-group","segregate":true,"created_at":1679578565}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db57b317075efdb2113a32c86cc000e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_M1gFPYBUytQ8GcFg
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_M1gFPYBUytQ8GcFg","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-group","segregate":true,"created_at":1679578565}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db57b317075efdb2113a32c86cc000e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"185-199-221-55.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70ae5cda48cd0cdf599bd81704faa419"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_2bjWpH3KQBlrSjJ0
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"185-199-221-55.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7367639e17424126d908b7a96b17219f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_2bjWpH3KQBlrSjJ0</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-ikpiqzbwvu8p</Name><Description>A web server.</Description><Group>vmgrp_M1gFPYBUytQ8GcFg</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_6ObtMK4Qcy8GcWFy","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_SMi21xmAODKBPbVk","state":"pending"},"virtual_machine_build":{"id":"vmbuild_SMi21xmAODKBPbVk","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ce9f04814b53e937c980aa00c681ab52"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_SMi21xmAODKBPbVk
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_SMi21xmAODKBPbVk","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_9LbK6Hdhi3biUIHW"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_9LbK6Hdhi3biUIHW","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p","hostname":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host","fqdn":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578567,"initial_root_password":"TmlBUlYX0ufhq63Q","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_M1gFPYBUytQ8GcFg","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-group","segregate":true,"created_at":1679578565},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_9LbK6Hdhi3biUIHW","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f1511620770a005b0f4a98c7235d768"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_9LbK6Hdhi3biUIHW
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_9LbK6Hdhi3biUIHW","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p","hostname":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host","fqdn":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_9LbK6Hdhi3biUIHW
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_7R7efGZZmLLK4zRX","name":"Public
      Network on tf-acc-test-data-source-by-id-ikpiqzbwvu8p","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"37df2d332e7a5182792f7e3d8535ba46"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_7R7efGZZmLLK4zRX
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_7R7efGZZmLLK4zRX","virtual_machine":{"id":"vm_9LbK6Hdhi3biUIHW","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p"},"name":"Public
      Network on tf-acc-test-data-source-by-id-ikpiqzbwvu8p","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:e7:40:5a:3a:90","state":"attached","ip_addresses":[{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aee91bdd3dc774ae9dd706c5f7e8c8a8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_2bjWpH3KQBlrSjJ0
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_9LbK6Hdhi3biUIHW","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_9LbK6Hdhi3biUIHW","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"46272c03509ac6dc6742fcdc7311d6f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_9LbK6Hdhi3biUIHW
    method: POST
  response:
    body: '{"task":{"id":"task_7JxdJwl7zVSiwrSU","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"393ced8b4e023448424b6f5616e44e0e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_9LbK6Hdhi3biUIHW
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_7n33Eb0doCPeG936","keep_until":1679751402,"object_id":"vm_9LbK6Hdhi3biUIHW","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_9LbK6Hdhi3biUIHW","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p","hostname":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host","fqdn":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578567,"initial_root_password":"TmlBUlYX0ufhq63Q","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_2bjWpH3KQBlrSjJ0
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "921"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_7n33Eb0doCPeG936
    method: DELETE
  response:
    body: '{"task":{"id":"task_gpMfVLG6NWXawbB2","name":"Purge items from trash","status":"pending","created_at":1679578606,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3541c6a470f43d9ad041a42e4c0526b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_7n33Eb0doCPeG936
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_M1gFPYBUytQ8GcFg
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_M1gFPYBUytQ8GcFg","name":"tf-acc-test-data-source-by-id-ikpiqzbwvu8p-group","segregate":true,"created_at":1679578565}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db57b317075efdb2113a32c86cc000e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "914"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_9LbK6Hdhi3biUIHW
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "911"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
