---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-basic-fk3p3tecluek","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/org_eodfyqFF3YWb2OFC/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_fUM0AyHGZwhwtxXI","name":"tf-acc-test-basic-fk3p3tecluek","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.38"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d67e64c597c10fe3b72a4ec52573b85"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_fUM0AyHGZwhwtxXI
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_fUM0AyHGZwhwtxXI","name":"tf-acc-test-basic-fk3p3tecluek","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.38"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"500eac09fb439c251187c0dbd9ca04c5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
[...]
