---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "98"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GG5O1QQSxCajzkMa","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-group","segregate":true,"created_at":1622137241}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f55792ed30ae64b64719ffb9c9079289"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "98"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_GG5O1QQSxCajzkMa
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GG5O1QQSxCajzkMa","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-group","segregate":true,"created_at":1622137241}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f55792ed30ae64b64719ffb9c9079289"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "95"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_x9iMDlteTm8oPcZa","address":"185.199.222.157","reverse_dns":"185-199-222-157.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.157/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4cc55d0f96680ee07a09302105747a4a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "96"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_x9iMDlteTm8oPcZa
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_x9iMDlteTm8oPcZa","address":"185.199.222.157","reverse_dns":"185-199-222-157.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.157/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f966ae5a4b0fac007da08e09081232f9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "94"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_x9iMDlteTm8oPcZa</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-abicj93c9moj-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-abicj93c9moj</Name><Description>A web server.</Description><Group>vmgrp_GG5O1QQSxCajzkMa</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Te2yXmEhlpVRgjbo","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_1oPuw6vGxKWOHRgm","state":"pending"},"virtual_machine_build":{"id":"vmbuild_1oPuw6vGxKWOHRgm","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ca7809b27e7b182168cda77b0d13de3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "92"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_1oPuw6vGxKWOHRgm
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_1oPuw6vGxKWOHRgm","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_Zg1hqO7UaliVFhD7"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_Zg1hqO7UaliVFhD7","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj","hostname":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host","fqdn":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137243,"initial_root_password":"YDBUOCrtwY1edtbe","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_GG5O1QQSxCajzkMa","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-group","segregate":true,"created_at":1622137241},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_x9iMDlteTm8oPcZa","address":"185.199.222.157","reverse_dns":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.157/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Zg1hqO7UaliVFhD7","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d46e5e1ca581e64388da4571dabb34cc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "88"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Zg1hqO7UaliVFhD7
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Zg1hqO7UaliVFhD7","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj","hostname":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host","fqdn":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_Zg1hqO7UaliVFhD7
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_5XldDw9nZO0iiIRw","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-abicj93c9moj","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_x9iMDlteTm8oPcZa","address":"185.199.222.157"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45ad3a97512e1d17faafb098ad0702df"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_5XldDw9nZO0iiIRw
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_5XldDw9nZO0iiIRw","virtual_machine":{"id":"vm_Zg1hqO7UaliVFhD7","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-abicj93c9moj","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:c2:61:97:0d:d8","state":"attached","ip_addresses":[{"id":"ip_x9iMDlteTm8oPcZa","address":"185.199.222.157"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"047bafbcc277ccd9547d7cf068b9db14"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-abicj93c9moj-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Zg1hqO7UaliVFhD7","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj","hostname":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host","fqdn":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_x9iMDlteTm8oPcZa
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_x9iMDlteTm8oPcZa","address":"185.199.222.157","reverse_dns":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.157/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Zg1hqO7UaliVFhD7","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Zg1hqO7UaliVFhD7","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7da68f596e775aa4bc1e065fc4280183"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Zg1hqO7UaliVFhD7
    method: POST
  response:
    body: '{"task":{"id":"task_pHnGjoP4YAOk9Dla","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"29a6c9933c0d7d421cd67549f92d7ca4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_pHnGjoP4YAOk9Dla
    method: GET
  response:
    body: '{"task":{"id":"task_pHnGjoP4YAOk9Dla","name":"Stop virtual machine","status":"pending","created_at":1622137263,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7f01f5d95af316a8c734d926a134c19"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Zg1hqO7UaliVFhD7
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_KqWdNCTrKyab3578","keep_until":1622310079,"object_id":"vm_Zg1hqO7UaliVFhD7","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Zg1hqO7UaliVFhD7","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj","hostname":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host","fqdn":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137243,"initial_root_password":"YDBUOCrtwY1edtbe","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_x9iMDlteTm8oPcZa
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_KqWdNCTrKyab3578
    method: DELETE
  response:
    body: '{"task":{"id":"task_usKHlkoNsPIgLVlY","name":"Purge items from trash","status":"pending","created_at":1622137280,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"745fc03fa610b3409f9c41dc68ea4b5a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_usKHlkoNsPIgLVlY
    method: GET
  response:
    body: '{"task":{"id":"task_usKHlkoNsPIgLVlY","name":"Purge items from trash","status":"running","created_at":1622137280,"started_at":1622137281,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bebfbea99df7984b044dd832d8d8cbdc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_GG5O1QQSxCajzkMa
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GG5O1QQSxCajzkMa","name":"tf-acc-test-data-source-by-fqdn-abicj93c9moj-group","segregate":true,"created_at":1622137241}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f55792ed30ae64b64719ffb9c9079289"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Zg1hqO7UaliVFhD7
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
