---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_srsYh1LBNRdZ2C1d","name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi","segregate":true,"created_at":1678365469}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"902e7235db594c2307deb1051b157d4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_srsYh1LBNRdZ2C1d
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_srsYh1LBNRdZ2C1d","name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi","segregate":true,"created_at":1678365469}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"902e7235db594c2307deb1051b157d4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi","associations":["vmgrp_srsYh1LBNRdZ2C1d"],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_9tDZcAX1ahEkgZvf","name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_srsYh1LBNRdZ2C1d"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c539d91f6f3632a5a378156a1614981"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_9tDZcAX1ahEkgZvf/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_G5OTdGoIYdak3xr1","security_group":{"id":"sg_9tDZcAX1ahEkgZvf","name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0942b469cd475e200f19b239eaa5fb9f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_9tDZcAX1ahEkgZvf
    method: GET
  response:
    body: '{"security_group":{"id":"sg_9tDZcAX1ahEkgZvf","name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_srsYh1LBNRdZ2C1d"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c539d91f6f3632a5a378156a1614981"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_9tDZcAX1ahEkgZvf
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":5,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_G5OTdGoIYdak3xr1","direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"},{"id":"sgr_ugClm51j0BLQAOaW","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"},{"id":"sgr_SctiFoADezOCIRdV","direction":"inbound","protocol":"TCP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"HTTPS"},{"id":"sgr_Adj3sLDGtbMTcmxN","direction":"inbound","protocol":"ICMP","ports":null,"targets":["219.185.152.0/24"],"notes":"ping"},{"id":"sgr_SaDSD5nljvRwKEeS","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"041bcae5e3e02e423798275de483b69b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_srsYh1LBNRdZ2C1d
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_srsYh1LBNRdZ2C1d","name":"tf-acc-test-data-source-no-include-rules-jx8m2in4vopi","segregate":true,"created_at":1678365469}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"902e7235db594c2307deb1051b157d4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_9tDZcAX1ahEkgZvf
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
