---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "921"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_6LP3CXeQiErnlKtb","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-group","segregate":true,"created_at":1676031309}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3562f85cf3113f21950627cb989f016"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "921"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_6LP3CXeQiErnlKtb
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_6LP3CXeQiErnlKtb","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-group","segregate":true,"created_at":1676031309}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3562f85cf3113f21950627cb989f016"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_cpzb9l4zG2oY6zlg","address":"185.199.222.66","reverse_dns":"185-199-222-66.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5b290483afbe49e6053cffa2935d095"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_cpzb9l4zG2oY6zlg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_cpzb9l4zG2oY6zlg","address":"185.199.222.66","reverse_dns":"185-199-222-66.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5682d7f3798ee5bdad1c0a13a48a49f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_cpzb9l4zG2oY6zlg</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-n4qxaic67vkx</Name><Description>A web server.</Description><Group>vmgrp_6LP3CXeQiErnlKtb</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_VBk5z9cDGNsBrt3h","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_23aaavjH4uY9g7Nw","state":"pending"},"virtual_machine_build":{"id":"vmbuild_23aaavjH4uY9g7Nw","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8692aa2655649d6d7b063b490b554131"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_23aaavjH4uY9g7Nw
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_23aaavjH4uY9g7Nw","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_7t80Yj9aL4tQRcSR"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_7t80Yj9aL4tQRcSR","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx","hostname":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host","fqdn":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031310,"initial_root_password":"zYS3vlHT5ZDK5LOb","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_6LP3CXeQiErnlKtb","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-group","segregate":true,"created_at":1676031309},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_cpzb9l4zG2oY6zlg","address":"185.199.222.66","reverse_dns":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_7t80Yj9aL4tQRcSR","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"48ada2dba333164d894e8ccb49dba361"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "880"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_7t80Yj9aL4tQRcSR
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_7t80Yj9aL4tQRcSR","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx","hostname":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host","fqdn":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_7t80Yj9aL4tQRcSR
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_OGFqYBR7SJD6CQeA","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-n4qxaic67vkx","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_cpzb9l4zG2oY6zlg","address":"185.199.222.66"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2561946ae886f44e209f58fa8aeb51ee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "875"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_OGFqYBR7SJD6CQeA
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_OGFqYBR7SJD6CQeA","virtual_machine":{"id":"vm_7t80Yj9aL4tQRcSR","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-n4qxaic67vkx","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:70:9d:c0:65:10","state":"attached","ip_addresses":[{"id":"ip_cpzb9l4zG2oY6zlg","address":"185.199.222.66"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c5fdffd4f1bc49197738a86ae3c40a9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "874"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_7t80Yj9aL4tQRcSR","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx","hostname":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host","fqdn":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_cpzb9l4zG2oY6zlg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_cpzb9l4zG2oY6zlg","address":"185.199.222.66","reverse_dns":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.66/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_7t80Yj9aL4tQRcSR","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_7t80Yj9aL4tQRcSR","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bcf436feb6ed08fba337ebfcef299d42"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "866"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_7t80Yj9aL4tQRcSR
    method: POST
  response:
    body: '{"task":{"id":"task_VzGBORhDhHNaYVyp","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c0a9d9d6fca9a592b088f7f33a1f0310"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "853"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_VzGBORhDhHNaYVyp
    method: GET
  response:
    body: '{"task":{"id":"task_VzGBORhDhHNaYVyp","name":"Stop virtual machine","status":"pending","created_at":1676031330,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98b70b1a4d774d6bc59fd9f083f25d6e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "830"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_7t80Yj9aL4tQRcSR
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_3WlJ6lanrqlb0cqW","keep_until":1676204156,"object_id":"vm_7t80Yj9aL4tQRcSR","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_7t80Yj9aL4tQRcSR","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx","hostname":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host","fqdn":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031310,"initial_root_password":"zYS3vlHT5ZDK5LOb","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_cpzb9l4zG2oY6zlg
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "814"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_3WlJ6lanrqlb0cqW
    method: DELETE
  response:
    body: '{"task":{"id":"task_0Cxk82wuhHeUzclw","name":"Purge items from trash","status":"pending","created_at":1676031357,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"354d0e7dd52b1ccbdce00f36f09f1c6d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "813"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_0Cxk82wuhHeUzclw
    method: GET
  response:
    body: '{"task":{"id":"task_0Cxk82wuhHeUzclw","name":"Purge items from trash","status":"running","created_at":1676031357,"started_at":1676031357,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89a39a23fbbf361921f6dceb3057a004"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "805"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_6LP3CXeQiErnlKtb
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_6LP3CXeQiErnlKtb","name":"tf-acc-test-data-source-by-fqdn-n4qxaic67vkx-group","segregate":true,"created_at":1676031309}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3562f85cf3113f21950627cb989f016"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_7t80Yj9aL4tQRcSR
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
