---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bid%5D=org_eodfyqFF3YWb2OFC
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"83acdeeac637486bc5f2f53681d19f3b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"185-53-57-67.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"24714f46f4d3ac7456f7bec6f15ac948"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_aTUyGs09qw2ZNV1L
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"185-53-57-67.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2049a57ae4997c1f17e3f1428a4b1c57"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_aTUyGs09qw2ZNV1L</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-qnfi97e7e6cr-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-qnfi97e7e6cr</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_0GzV4hsmmlHdnwsm","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_HyT6CeBoSAOkLHlX","state":"pending"},"virtual_machine_build":{"id":"vmbuild_HyT6CeBoSAOkLHlX","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a84a08378b622946ecb4ec4282fa7268"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_HyT6CeBoSAOkLHlX
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_HyT6CeBoSAOkLHlX","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_dqdlBOQaCT91WOPR"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_dqdlBOQaCT91WOPR","name":"tf-acc-test-data-source-by-id-qnfi97e7e6cr","hostname":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host","fqdn":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1612445044,"initial_root_password":"BFrCxuRUUj2pS33J","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":"vm_dqdlBOQaCT91WOPR","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"81a65bbe6d4d7795780d6f7c2a45897e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_dqdlBOQaCT91WOPR
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_dqdlBOQaCT91WOPR","name":"tf-acc-test-data-source-by-id-qnfi97e7e6cr","hostname":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host","fqdn":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1612445044,"i[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_aTUyGs09qw2ZNV1L
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":"vm_dqdlBOQaCT91WOPR","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_dqdlBOQaCT91WOPR","name":"tf-acc-test-data-source-by-id-qnfi97e7e6cr"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6ad1b9834096733dbeb38f8c509abab"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_dqdlBOQaCT91WOPR
    method: POST
  response:
    body: '{"task":{"id":"task_kv32EW2riDhwkuvZ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd913f455f3f6af8c0aa7eb0f8fb4c53"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_dqdlBOQaCT91WOPR
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_o3JUCyDYVA73i3ec","keep_until":1612617883,"object_id":"vm_dqdlBOQaCT91WOPR","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_dqdlBOQaCT91WOPR","name":"tf-acc-test-data-source-by-id-qnfi97e7e6cr","hostname":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host","fqdn":"tf-acc-test-data-source-by-id-qnfi97e7e6cr-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1612445044,"initial_root_password":"BFrCxuRUUj2pS33J","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_aTUyGs09qw2ZNV1L
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_o3JUCyDYVA73i3ec
    method: DELETE
  response:
    body: '{"task":{"id":"task_RAP70kA3JvhjOVGi","name":"Purge items from trash","status":"pending","created_at":1612445084,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dcbad22d3c9a4938a1962c5710492382"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_RAP70kA3JvhjOVGi
    method: GET
  response:
    body: '{"task":{"id":"task_RAP70kA3JvhjOVGi","name":"Purge items from trash","status":"running","created_at":1612445084,"started_at":1612445085,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ab0901c5a1e00460bc8d457b7763d71c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 200 OK
    code: 200
    duration: ""
[...]
