---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_PmbvFzngYirSA6Cy","address":"185.44.252.217","reverse_dns":"185-44-252-217.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.217/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"edf83e158d45d4aaf900b16be42fea42"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_PmbvFzngYirSA6Cy
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_PmbvFzngYirSA6Cy","address":"185.44.252.217","reverse_dns":"185-44-252-217.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.217/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f4faa9fb41caca7ee670edc5a7eeb2e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_PmbvFzngYirSA6Cy</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-associations-1i9qkof7v9ph-web</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_4GlrWu2RnNFX54Eh","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_ht7oNb7emUi3PfPs","state":"pending"},"virtual_machine_build":{"id":"vmbuild_ht7oNb7emUi3PfPs","state":"pending"},"hostname":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dd6dcb72dc9a8f9b703fc687b44c5c76"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_ht7oNb7emUi3PfPs
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_ht7oNb7emUi3PfPs","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.217\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-data-source-associations-1i9qkof7v9ph-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738860468},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"009dde6f9b2f67f296a3b16fa9f22470"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_CUZ6HttI0EAW9zcr
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_CUZ6HttI0EAW9zcr","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web","hostname":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web","fqdn":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860474,"initial_root_password":"1aKktBLbIORKToDk","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_PmbvFzngYirSA6Cy","address":"185.44.252.217","reverse_dns":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.217/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_CUZ6HttI0EAW9zcr","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e29bd6285daa55ccc9789c08db307cb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_CUZ6HttI0EAW9zcr
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Jh0j5cwOMnZl3SrG","name":"Public
      Network on tf-acc-test-data-source-associations-1i9qkof7v9ph-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_PmbvFzngYirSA6Cy","address":"185.44.252.217"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff76abb22a59cb8db47a3e93d26f70cf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_Jh0j5cwOMnZl3SrG
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Jh0j5cwOMnZl3SrG","virtual_machine":{"id":"vm_CUZ6HttI0EAW9zcr","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-1i9qkof7v9ph-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8e:88:70:b4:f1","state":"attached","ip_addresses":[{"id":"ip_PmbvFzngYirSA6Cy","address":"185.44.252.217"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bbaf7459bfa00c82ded3062d5a4ae87e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Jh0j5cwOMnZl3SrG
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Jh0j5cwOMnZl3SrG","virtual_machine":{"id":"vm_CUZ6HttI0EAW9zcr","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web"},"name":"Public
      Network on tf-acc-test-data-source-associations-1i9qkof7v9ph-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:8e:88:70:b4:f1","state":"attached","ip_addresses":[{"id":"ip_PmbvFzngYirSA6Cy","address":"185.44.252.217"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bbaf7459bfa00c82ded3062d5a4ae87e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-associations-1i9qkof7v9ph","data_center":{"permalink":"uk-lon-01"},"associations":["vm_CUZ6HttI0EAW9zcr"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_pvycmeQN7UFLBHSq","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_CUZ6HttI0EAW9zcr"],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f2f829c65057a1ee2dffc9e3041239f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_pvycmeQN7UFLBHSq
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_pvycmeQN7UFLBHSq","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_CUZ6HttI0EAW9zcr"],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e75755180cd2c8e9fae949f01b672fde"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_PmbvFzngYirSA6Cy
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_PmbvFzngYirSA6Cy","address":"185.44.252.217","reverse_dns":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.217/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_CUZ6HttI0EAW9zcr","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_CUZ6HttI0EAW9zcr","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cc02d3544224fc361edcac697f873788"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_8tA3BEBUDKsioZXp
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_8tA3BEBUDKsioZXp","address":"185.44.253.94","reverse_dns":"185-44-253-94.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.94/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aa4df1d0a5823416224daa8c058a8d60"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_Tt4BDGWGKrxC1oTz
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Tt4BDGWGKrxC1oTz","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_neKtoLxPoYff62Uk
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_neKtoLxPoYff62Uk","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph-db","hostname":"tf-acc-test-data-source-associations-1i9qkof7v9ph-db","fqdn":"tf-acc-test-data-source-associations-1i9qkof7v9ph-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1738[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_neKtoLxPoYff62Uk
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_LqUXVQSAqAG9tK0g","name":"Public
      Network on tf-acc-test-data-source-associations-1i9qkof7v9ph-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_8tA3BEBUDKsioZXp","address":"185.44.253.94"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2bf43d9eb63bcb6591d86466b108f822"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_LqUXVQSAqAG9tK0g
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_LqUXVQSAqAG9tK0g","virtual_machine":{"id":"vm_neKtoLxPoYff62Uk","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-1i9qkof7v9ph-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:bf:69:40:11:40","state":"attached","ip_addresses":[{"id":"ip_8tA3BEBUDKsioZXp","address":"185.44.253.94"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"14cb85c9fd1bcea10ea320500c9e9d30"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_LqUXVQSAqAG9tK0g
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_LqUXVQSAqAG9tK0g","virtual_machine":{"id":"vm_neKtoLxPoYff62Uk","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph-db"},"name":"Public
      Network on tf-acc-test-data-source-associations-1i9qkof7v9ph-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:bf:69:40:11:40","state":"attached","ip_addresses":[{"id":"ip_8tA3BEBUDKsioZXp","address":"185.44.253.94"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"14cb85c9fd1bcea10ea320500c9e9d30"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"file_storage_volume":{"id":"fsv_pvycmeQN7UFLBHSq"},"properties":{"associations":["vm_CUZ6HttI0EAW9zcr","vm_neKtoLxPoYff62Uk"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/_
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_pvycmeQN7UFLBHSq","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_CUZ6HttI0EAW9zcr","vm_neKtoLxPoYff62Uk"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_pvycmeQN7UFLBHSq","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"627d32e9e53d332d9094194fb66f899d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_pvycmeQN7UFLBHSq
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_U3ax3p72D7QeTpGv","keep_until":1739033367,"object_id":"fsv_pvycmeQN7UFLBHSq","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_pvycmeQN7UFLBHSq","name":"tf-acc-test-data-source-associations-1i9qkof7v9ph","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_CUZ6HttI0EAW9zcr","vm_neKtoLxPoYff62Uk"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_pvycmeQN7UFLBHSq","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee925b3fbbbe6bc862cfe059a445571b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_pvycmeQN7UFLBHSq
    method: DELETE
  response:
    body: '{"task":{"id":"task_upNBXGp1intcOk6P","name":"Purge items from trash","status":"pending","created_at":1738860568,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"864350b3a0386a532230ed68b02751ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_pvycmeQN7UFLBHSq
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_neKtoLxPoYff62Uk
    method: POST
  response:
    body: '{"task":{"id":"task_iGTgEBHr7PEoctKn","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2171cfd827e44ffcea9097adc911a958"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_CUZ6HttI0EAW9zcr
    method: POST
  response:
    body: '{"task":{"id":"task_0i14JtcSWf6CPCYq","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a2288ee4583ddc57c490619ecf76e682"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_iGTgEBHr7PEoctKn
    method: GET
  response:
    body: '{"task":{"id":"task_iGTgEBHr7PEoctKn","name":"Stop virtual machine","status":"running","created_at":1738860604,"started_at":1738860604,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e70aea67334626d511e165dbf4aa99e2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_0i14JtcSWf6CPCYq
    method: GET
  response:
    body: '{"task":{"id":"task_0i14JtcSWf6CPCYq","name":"Stop virtual machine","status":"running","created_at":1738860604,"started_at":1738860604,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79072e1c467aff926f64bc6ca67ba790"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_PmbvFzngYirSA6Cy
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_8tA3BEBUDKsioZXp
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_neKtoLxPoYff62Uk
    method: DELETE
  response:
    body: '{"task":{"id":"task_wXgRtA220I1ka0Dn","name":"Purge items from trash","status":"pending","created_at":1738860612,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b37b76a69a03dd7837b0e3c779af905"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_CUZ6HttI0EAW9zcr
    method: DELETE
  response:
    body: '{"task":{"id":"task_OsBc44vkDkiw3ELa","name":"Purge items from trash","status":"pending","created_at":1738860612,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"88dd2cc04880c298962ea7957d025b22"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
