---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-q91ozb0cz3y2-1","associations":[],"allow_all_inbound":true,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_ZdDM9NQibpCLalnF","name":"tf-acc-test-data-source-default-q91ozb0cz3y2-1","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3da12e0585d9f77cd1ff01c149137f9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_ZdDM9NQibpCLalnF
    method: GET
  response:
    body: '{"security_group":{"id":"sg_ZdDM9NQibpCLalnF","name":"tf-acc-test-data-source-default-q91ozb0cz3y2-1","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3da12e0585d9f77cd1ff01c149137f9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_ZdDM9NQibpCLalnF
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_u9RgTAEH3m70bLSQ
    method: GET
  response:
    body: '{"security_group":{"id":"sg_u9RgTAEH3m70bLSQ","name":"tf-acc-test-data-source-default-q91ozb0cz3y2-2","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eba369e6f8934f8b509f88804b3b9bb7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_u9RgTAEH3m70bLSQ
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/security_groups?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_groups":[{"id":"sg_ZdDM9NQibpCLalnF","name":"tf-acc-test-data-source-default-q91ozb0cz3y2-1","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]},{"id":"sg_u9RgTAEH3m70bLSQ","name":"tf-acc-test-data-source-default-q91ozb0cz3y2-2","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f206c8d0ea373bd1db4e16c3c081f904"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_ZdDM9NQibpCLalnF
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
