---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-group-jj0gip7wau66-1","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vrx1wgPbiRZrD5qQ","name":"tf-acc-test-data-source-group-jj0gip7wau66-1","segregate":true,"created_at":1622137236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"894cede393f4d683217788d7b1bd37d8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "117"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_vrx1wgPbiRZrD5qQ
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vrx1wgPbiRZrD5qQ","name":"tf-acc-test-data-source-group-jj0gip7wau66-1","segregate":true,"created_at":1622137236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"894cede393f4d683217788d7b1bd37d8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "116"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_mYTBJpinQCLiAhd6
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_mYTBJpinQCLiAhd6","name":"tf-acc-test-data-source-group-jj0gip7wau66-2","segregate":false,"created_at":1622137236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf4e580e9b6322143a0e697312680b45"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "114"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"virtual_machine_groups":[{"id":"vmgrp_vrx1wgPbiRZrD5qQ","name":"tf-acc-test-data-source-group-jj0gip7wau66-1","segregate":true,"created_at":1622137236},{"id":"vmgrp_mYTBJpinQCLiAhd6","name":"tf-acc-test-data-source-group-jj0gip7wau66-2","segregate":false,"created_at":1622137236}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"caa588b667bc8aa3022efed8e852f015"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "109"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_mYTBJpinQCLiAhd6
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_mYTBJpinQCLiAhd6","name":"tf-acc-test-data-source-group-jj0gip7wau66-2","segregate":false,"created_at":1622137236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf4e580e9b6322143a0e697312680b45"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "100"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_vrx1wgPbiRZrD5qQ
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vrx1wgPbiRZrD5qQ","name":"tf-acc-test-data-source-group-jj0gip7wau66-1","segregate":true,"created_at":1622137236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"894cede393f4d683217788d7b1bd37d8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "99"
    status: 200 OK
    code: 200
    duration: ""
