---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-minimal-w01fm3ahrvmm","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_4HVzBiKJC8cumQvp","name":"tf-acc-test-data-source-minimal-w01fm3ahrvmm","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"971477000581e8dd7205318be1d1bc23"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_4HVzBiKJC8cumQvp
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_4HVzBiKJC8cumQvp","name":"tf-acc-test-data-source-minimal-w01fm3ahrvmm","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebb6957ed0cc606ef6fa5c80ba9049e9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_4HVzBiKJC8cumQvp
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_nHBR7oXHMhzGINi1","keep_until":1720636963,"object_id":"fsv_4HVzBiKJC8cumQvp","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_4HVzBiKJC8cumQvp","name":"tf-acc-test-data-source-minimal-w01fm3ahrvmm","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_4HVzBiKJC8cumQvp","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"964cc5a4e18e95b966f54d90833f11fa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_4HVzBiKJC8cumQvp
    method: DELETE
  response:
    body: '{"task":{"id":"task_FojkJaYxe8ePawIc","name":"Purge items from trash","status":"pending","created_at":1720464163,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"01e0dc6e2a32ee35de61f5c12e37c3e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_4HVzBiKJC8cumQvp
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
