---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_mlkldfFbt6ihhTA0","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-group","segregate":true,"created_at":1622137291}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ff9effb9e0e6c076fbf1425bf7ae7c0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_mlkldfFbt6ihhTA0
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_mlkldfFbt6ihhTA0","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-group","segregate":true,"created_at":1622137291}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ff9effb9e0e6c076fbf1425bf7ae7c0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_A0Fa4pEhrUIBJiCd","address":"185.199.222.212","reverse_dns":"185-199-222-212.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.212/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c0e29aab5277bd595ec3f78f87ed512"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "157"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_A0Fa4pEhrUIBJiCd
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_A0Fa4pEhrUIBJiCd","address":"185.199.222.212","reverse_dns":"185-199-222-212.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.212/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"166fb368e13d230a82f73070b56b6f5c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "155"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_A0Fa4pEhrUIBJiCd</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-lnkpr16xu7pq-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-lnkpr16xu7pq</Name><Description>A web server.</Description><Group>vmgrp_mlkldfFbt6ihhTA0</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Z9ttX6WRn0xPUQgr","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_AA4PAWLoLFZSys9q","state":"pending"},"virtual_machine_build":{"id":"vmbuild_AA4PAWLoLFZSys9q","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c334834d2e62b93d193d774ae312af19"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "153"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_AA4PAWLoLFZSys9q
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_AA4PAWLoLFZSys9q","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_zjJHuyplZmpEuwrQ"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_zjJHuyplZmpEuwrQ","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq","hostname":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host","fqdn":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137293,"initial_root_password":"ALyKoaazUv6RPPaR","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_mlkldfFbt6ihhTA0","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-group","segregate":true,"created_at":1622137291},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_A0Fa4pEhrUIBJiCd","address":"185.199.222.212","reverse_dns":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.212/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_zjJHuyplZmpEuwrQ","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5e3de5f335cdfc8939f9254e2b15d25"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "149"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_zjJHuyplZmpEuwrQ
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_zjJHuyplZmpEuwrQ","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq","hostname":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host","fqdn":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_zjJHuyplZmpEuwrQ
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_tYFWUeokA2InSQse","name":"Public
      Network on tf-acc-test-data-source-by-id-lnkpr16xu7pq","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_A0Fa4pEhrUIBJiCd","address":"185.199.222.212"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fd20e3126dd28b489339cb43f856c31d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "146"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_tYFWUeokA2InSQse
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_tYFWUeokA2InSQse","virtual_machine":{"id":"vm_zjJHuyplZmpEuwrQ","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq"},"name":"Public
      Network on tf-acc-test-data-source-by-id-lnkpr16xu7pq","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a0:c4:6c:ad:68","state":"attached","ip_addresses":[{"id":"ip_A0Fa4pEhrUIBJiCd","address":"185.199.222.212"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b194c4387f154b0a3ea2c7efe01e1890"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "145"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_A0Fa4pEhrUIBJiCd
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_A0Fa4pEhrUIBJiCd","address":"185.199.222.212","reverse_dns":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.212/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_zjJHuyplZmpEuwrQ","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_zjJHuyplZmpEuwrQ","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05e68ab3d3d9ee4eb969584451735997"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "141"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_zjJHuyplZmpEuwrQ
    method: POST
  response:
    body: '{"task":{"id":"task_IMkaVgTISJ6TkpD8","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3edbb14e0d99f35b1f66a95ebb99a1d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "133"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_IMkaVgTISJ6TkpD8
    method: GET
  response:
    body: '{"task":{"id":"task_IMkaVgTISJ6TkpD8","name":"Stop virtual machine","status":"pending","created_at":1622137313,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a1c6fa90ec020c4e1b35a250a2a450af"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "132"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_zjJHuyplZmpEuwrQ
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_jHk4ntIyb47RHh1l","keep_until":1622310129,"object_id":"vm_zjJHuyplZmpEuwrQ","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_zjJHuyplZmpEuwrQ","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq","hostname":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host","fqdn":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137293,"initial_root_password":"ALyKoaazUv6RPPaR","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_A0Fa4pEhrUIBJiCd
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_jHk4ntIyb47RHh1l
    method: DELETE
  response:
    body: '{"task":{"id":"task_BL4ynp3vQF9wsy2c","name":"Purge items from trash","status":"pending","created_at":1622137330,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f21d5f92bf020adc5caa5078746f35e1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_BL4ynp3vQF9wsy2c
    method: GET
  response:
    body: '{"task":{"id":"task_BL4ynp3vQF9wsy2c","name":"Purge items from trash","status":"running","created_at":1622137330,"started_at":1622137331,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b653886ee284e547285251d943102a5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_mlkldfFbt6ihhTA0
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_mlkldfFbt6ihhTA0","name":"tf-acc-test-data-source-by-id-lnkpr16xu7pq-group","segregate":true,"created_at":1622137291}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ff9effb9e0e6c076fbf1425bf7ae7c0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_zjJHuyplZmpEuwrQ
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
