---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-not-segregated-eziklkm4t3z9","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_xNZ92bOuUbgQxUVz","name":"tf-acc-test-data-source-not-segregated-eziklkm4t3z9","segregate":false,"created_at":1615282684}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54c597fe14e723115b1f5681f132651a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_xNZ92bOuUbgQxUVz
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_xNZ92bOuUbgQxUVz","name":"tf-acc-test-data-source-not-segregated-eziklkm4t3z9","segregate":false,"created_at":1615282684}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54c597fe14e723115b1f5681f132651a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_xNZ92bOuUbgQxUVz
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_xNZ92bOuUbgQxUVz","name":"tf-acc-test-data-source-not-segregated-eziklkm4t3z9","segregate":false,"created_at":1615282684}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54c597fe14e723115b1f5681f132651a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_xNZ92bOuUbgQxUVz
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
