---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-vubzuj1d1vib-1","associations":[],"allow_all_inbound":true,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_wrVqatrT4v0tmpmG","name":"tf-acc-test-data-source-default-vubzuj1d1vib-1","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58ac19efff72497614411920de42d64b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "543"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_wrVqatrT4v0tmpmG
    method: GET
  response:
    body: '{"security_group":{"id":"sg_wrVqatrT4v0tmpmG","name":"tf-acc-test-data-source-default-vubzuj1d1vib-1","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"58ac19efff72497614411920de42d64b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "541"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_wrVqatrT4v0tmpmG
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "540"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_PLCjmpclyAkOBNPX
    method: GET
  response:
    body: '{"security_group":{"id":"sg_PLCjmpclyAkOBNPX","name":"tf-acc-test-data-source-default-vubzuj1d1vib-2","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43ed4a0c17c3cf3bbca9e3ba41c58a6d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "538"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_PLCjmpclyAkOBNPX
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "537"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/security_groups?organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"security_groups":[{"id":"sg_wrVqatrT4v0tmpmG","name":"tf-acc-test-data-source-default-vubzuj1d1vib-1","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]},{"id":"sg_PLCjmpclyAkOBNPX","name":"tf-acc-test-data-source-default-vubzuj1d1vib-2","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]},{"id":"sg_XNVRkdDaSmDvBGH6","name":"tf-acc-test-data-source-no-include-rules-myj9h0cwta3q","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_Ji1JyRuVifs2YgJj"]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d08da7d2d176bffa0d52114731c66dd3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_wrVqatrT4v0tmpmG
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
