---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_oDZGKsLuPiaRkehV","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","segregate":true,"created_at":1678365470}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06698e47c3ccf0c3c25c02eba448bc09"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_oDZGKsLuPiaRkehV
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_oDZGKsLuPiaRkehV","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","segregate":true,"created_at":1678365470}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06698e47c3ccf0c3c25c02eba448bc09"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","associations":["vmgrp_oDZGKsLuPiaRkehV"],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_9R9WbTdwmFpRwkQo","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_oDZGKsLuPiaRkehV"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98463ce4cbf55ea7364d9ea42b1144c1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_9R9WbTdwmFpRwkQo/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_kDqv0RlGBnB5xu2v","security_group":{"id":"sg_9R9WbTdwmFpRwkQo","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f15b04de1b2d65ec4fdfb78b30ddaa1b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_9R9WbTdwmFpRwkQo
    method: GET
  response:
    body: '{"security_group":{"id":"sg_9R9WbTdwmFpRwkQo","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_oDZGKsLuPiaRkehV"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98463ce4cbf55ea7364d9ea42b1144c1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_9R9WbTdwmFpRwkQo
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_kDqv0RlGBnB5xu2v","direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"},{"id":"sgr_BHuCKTk4YC94Tv8H","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"07214bd8699165f9f6e5703d3b1d26f7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_soV4CsByPkjIvySB
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_soV4CsByPkjIvySB","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","segregate":true,"created_at":1678365471}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8f83cb8864ef19c6838bd44d5114b43"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_9R9WbTdwmFpRwkQo"},"properties":{"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_9R9WbTdwmFpRwkQo","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_oDZGKsLuPiaRkehV"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6d3a25bb5b3dcf7a1177f2ad4090e6c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_kDqv0RlGBnB5xu2v
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_BHuCKTk4YC94Tv8H
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "911"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_soV4CsByPkjIvySB
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_soV4CsByPkjIvySB","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","segregate":true,"created_at":1678365471}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8f83cb8864ef19c6838bd44d5114b43"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "894"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_oDZGKsLuPiaRkehV
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_oDZGKsLuPiaRkehV","name":"tf-acc-test-data-source-include-rules-7h44uxoqkaii","segregate":true,"created_at":1678365470}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06698e47c3ccf0c3c25c02eba448bc09"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "893"
    status: 200 OK
    code: 200
    duration: ""
[...]
