---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-basic-prkdf1caoinf","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_tueTgCNcAHIJWr5m","name":"tf-acc-test-data-source-basic-prkdf1caoinf","segregate":true,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a27810d5ce1ec2b7e08a3ccacfc2d45e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_tueTgCNcAHIJWr5m
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_tueTgCNcAHIJWr5m","name":"tf-acc-test-data-source-basic-prkdf1caoinf","segregate":true,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a27810d5ce1ec2b7e08a3ccacfc2d45e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_tueTgCNcAHIJWr5m
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_tueTgCNcAHIJWr5m","name":"tf-acc-test-data-source-basic-prkdf1caoinf","segregate":true,"created_at":1615292191}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a27810d5ce1ec2b7e08a3ccacfc2d45e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_tueTgCNcAHIJWr5m
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
