---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-not-segregated-9e6yn3adhzhs","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KCUlsjhuR0R8u83j","name":"tf-acc-test-data-source-not-segregated-9e6yn3adhzhs","segregate":false,"created_at":1676031218}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db74fa84a08cd153c00b236a0ae001ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_KCUlsjhuR0R8u83j
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KCUlsjhuR0R8u83j","name":"tf-acc-test-data-source-not-segregated-9e6yn3adhzhs","segregate":false,"created_at":1676031218}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db74fa84a08cd153c00b236a0ae001ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_KCUlsjhuR0R8u83j
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KCUlsjhuR0R8u83j","name":"tf-acc-test-data-source-not-segregated-9e6yn3adhzhs","segregate":false,"created_at":1676031218}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db74fa84a08cd153c00b236a0ae001ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_KCUlsjhuR0R8u83j
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "916"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
