---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/disk_templates?include_universal=true&organization%5Bsub_domain%5D=terraform-acc-test&page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":8,"per_page":30,"large_set":false},"disk_templates":[{"id":"dtpl_zHhabpLGa0Bpjhsm","name":"CentOS 7.7","description":"A clean installation of Centos 7.7","permalink":"templates/centos-7-7","universal":true,"latest_version":{"id":"dtv_kHAtizr7ca7UgNWY","number":3},"operating_system":{"id":"os_i8XPKQHdAQY98ljt","name":"CentOS"}},{"id":"dtpl_MIIP8b9OFiJWdEqP","name":"CentOS 7.9","description":"A clean installation of Centos 7.9","permalink":"templates/centos-7","universal":true,"latest_version":{"id":"dtv_WlHueKRDxLH8KOKS","number":1},"operating_system":{"id":"os_i8XPKQHdAQY98ljt","name":"CentOS"}},{"id":"dtpl_IW7fNEmvhYJWvesy","name":"CentOS 8.0","description":"A clean installation of CentOs 8.0","permalink":"templates/centos-8","universal":true,"latest_version":{"id":"dtv_w[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cba052b28bfff0702a5a1343e065339a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
