---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_5XTehc90oqGY346L","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","segregate":true,"created_at":1679595242}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"217a9766588669ae359d8e4347f0ef73"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_5XTehc90oqGY346L
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_5XTehc90oqGY346L","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","segregate":true,"created_at":1679595242}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"217a9766588669ae359d8e4347f0ef73"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","associations":["vmgrp_5XTehc90oqGY346L"],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_e6Wf8uI5MfxdRTCH","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_5XTehc90oqGY346L"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"643a191606b05416a1947ef3b729d744"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_e6Wf8uI5MfxdRTCH/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_cRRt3xnROUe0qJjR","security_group":{"id":"sg_e6Wf8uI5MfxdRTCH","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"48d6fa179961d1cbad1100de6ea322cc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_e6Wf8uI5MfxdRTCH
    method: GET
  response:
    body: '{"security_group":{"id":"sg_e6Wf8uI5MfxdRTCH","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_5XTehc90oqGY346L"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"643a191606b05416a1947ef3b729d744"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_e6Wf8uI5MfxdRTCH
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_cRRt3xnROUe0qJjR","direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"},{"id":"sgr_BhGbNmXKOI4zFsKu","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7434b2f1a7e8e5bf971bca7bce7450c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_uPUoncCIDVa96dLe
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_uPUoncCIDVa96dLe","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","segregate":true,"created_at":1679595243}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5ef291004264810ee9f08749db85ca8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_e6Wf8uI5MfxdRTCH"},"properties":{"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_e6Wf8uI5MfxdRTCH","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_5XTehc90oqGY346L"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00eb6213e518ae8e0bae00655dde2753"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_cRRt3xnROUe0qJjR
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_BhGbNmXKOI4zFsKu
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_uPUoncCIDVa96dLe
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_uPUoncCIDVa96dLe","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","segregate":true,"created_at":1679595243}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5ef291004264810ee9f08749db85ca8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "847"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_5XTehc90oqGY346L
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_5XTehc90oqGY346L","name":"tf-acc-test-data-source-include-rules-9tntzzonjz49","segregate":true,"created_at":1679595242}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"217a9766588669ae359d8e4347f0ef73"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "847"
    status: 200 OK
    code: 200
    duration: ""
[...]
