---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_WqZ3uibELtRnBldI","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-group","segregate":true,"auto_segregate":false,"created_at":1738871211}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43d14e34161b4d30cec274cbe4ed2255"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_WqZ3uibELtRnBldI
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_WqZ3uibELtRnBldI","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-group","segregate":true,"auto_segregate":false,"created_at":1738871211}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43d14e34161b4d30cec274cbe4ed2255"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_MaUnYBhZnQtJ1wI3","address":"185.44.254.181","reverse_dns":"185-44-254-181.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.181/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"790b5e01ebc01b0ae3896f1e3e5f5c04"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_MaUnYBhZnQtJ1wI3
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_MaUnYBhZnQtJ1wI3","address":"185.44.254.181","reverse_dns":"185-44-254-181.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.181/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45dc89e76aecf1ec0b3ed14884225b4f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_MaUnYBhZnQtJ1wI3</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-fqdn-yr9m24bgpauh</Name><Description>A web server.</Description><Group>vmgrp_WqZ3uibELtRnBldI</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_gWEis81Ox38lbd9a","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_GW1QTJ8VeLjpoEC2","state":"pending"},"virtual_machine_build":{"id":"vmbuild_GW1QTJ8VeLjpoEC2","state":"pending"},"hostname":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed8a6cd9271848a4b42b47b39d4e438d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_GW1QTJ8VeLjpoEC2
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_GW1QTJ8VeLjpoEC2","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_kL3Nvcn0gkaaRIVW"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_kL3Nvcn0gkaaRIVW","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh","hostname":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host","fqdn":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738871217,"initial_root_password":"uUYvgVXbKy248CXI","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_WqZ3uibELtRnBldI","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-group","segregate":true,"auto_segregate":false,"created_at":1738871211},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_MaUnYBhZnQtJ1wI3","address":"185.44.254.181","reverse_dns":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.181/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_kL3Nvcn0gkaaRIVW","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c19ac738490356c5f44f4f35f691ff9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_kL3Nvcn0gkaaRIVW
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_kL3Nvcn0gkaaRIVW","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh","hostname":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host","fqdn":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_kL3Nvcn0gkaaRIVW
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_rg3wcxZmshtnsFo8","name":"Public
      Network on tf-acc-test-data-source-by-fqdn-yr9m24bgpauh","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_MaUnYBhZnQtJ1wI3","address":"185.44.254.181"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7a53c4f8fefd6748e2978f218db1b9a2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_rg3wcxZmshtnsFo8
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_rg3wcxZmshtnsFo8","virtual_machine":{"id":"vm_kL3Nvcn0gkaaRIVW","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-yr9m24bgpauh","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:57:b7:ea:6e:94","state":"attached","ip_addresses":[{"id":"ip_MaUnYBhZnQtJ1wI3","address":"185.44.254.181"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2cd4dffb3bd61805c544d2fc796f3224"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_rg3wcxZmshtnsFo8
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_rg3wcxZmshtnsFo8","virtual_machine":{"id":"vm_kL3Nvcn0gkaaRIVW","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh"},"name":"Public
      Network on tf-acc-test-data-source-by-fqdn-yr9m24bgpauh","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:57:b7:ea:6e:94","state":"attached","ip_addresses":[{"id":"ip_MaUnYBhZnQtJ1wI3","address":"185.44.254.181"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2cd4dffb3bd61805c544d2fc796f3224"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bfqdn%5D=tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host.terraform-acc-test.katapult.cloud
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_kL3Nvcn0gkaaRIVW","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh","hostname":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host","fqdn":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host.terraform-acc-test.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_MaUnYBhZnQtJ1wI3
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_MaUnYBhZnQtJ1wI3","address":"185.44.254.181","reverse_dns":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.181/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_kL3Nvcn0gkaaRIVW","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_kL3Nvcn0gkaaRIVW","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c65a44f0463cf32b77ea5fcb306eed78"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_kL3Nvcn0gkaaRIVW
    method: POST
  response:
    body: '{"task":{"id":"task_jEWPQgZDlidrbC9c","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c960fcceb1a5efab0524ddf4d12b71e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_jEWPQgZDlidrbC9c
    method: GET
  response:
    body: '{"task":{"id":"task_jEWPQgZDlidrbC9c","name":"Stop virtual machine","status":"pending","created_at":1738871243,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3d5bb088fb26d505ab26bcf69618615"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_kL3Nvcn0gkaaRIVW
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_x6DLTzqu4KmS3gIa","keep_until":1739044070,"object_id":"vm_kL3Nvcn0gkaaRIVW","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_kL3Nvcn0gkaaRIVW","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh","hostname":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host","fqdn":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738871217,"initial_root_password":"uUYvgVXbKy248CXI","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUh[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_MaUnYBhZnQtJ1wI3
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_kL3Nvcn0gkaaRIVW
    method: DELETE
  response:
    body: '{"task":{"id":"task_DJ4D4Fcc1KPD5mR8","name":"Purge items from trash","status":"pending","created_at":1738871271,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"29965fd45eff7f3a0d8174cb522aa21d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_kL3Nvcn0gkaaRIVW
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_WqZ3uibELtRnBldI
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_WqZ3uibELtRnBldI","name":"tf-acc-test-data-source-by-fqdn-yr9m24bgpauh-group","segregate":true,"auto_segregate":false,"created_at":1738871211}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"43d14e34161b4d30cec274cbe4ed2255"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
