---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-by-id-ckp9qekh8s74-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4FhwCIU8mQHchlu4","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74-group","segregate":true,"created_at":1615303833}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ec26c93f95a93dc5c71337eaf764efd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_4FhwCIU8mQHchlu4
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4FhwCIU8mQHchlu4","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74-group","segregate":true,"created_at":1615303833}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ec26c93f95a93dc5c71337eaf764efd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_StK0D0KcFMmD3IWB","address":"185.53.57.106","reverse_dns":"185-53-57-106.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.106/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa158c690b19b2ecbb34408d53ee8547"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_StK0D0KcFMmD3IWB
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_StK0D0KcFMmD3IWB","address":"185.53.57.106","reverse_dns":"185-53-57-106.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.106/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"73a5ebbfe6f936a4fcc6eb90bd44c1ef"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_StK0D0KcFMmD3IWB</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-data-source-by-id-ckp9qekh8s74-host</Hostname></Hostname><Name>tf-acc-test-data-source-by-id-ckp9qekh8s74</Name><Description>A web server.</Description><Group>vmgrp_4FhwCIU8mQHchlu4</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_vCp5IXrfYMdjpeW9","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_LERfgK1ZEwUoZVsm","state":"pending"},"virtual_machine_build":{"id":"vmbuild_LERfgK1ZEwUoZVsm","state":"pending"},"hostname":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"714a1c6f457dfa5469ed5c0d9d12601c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_LERfgK1ZEwUoZVsm
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_LERfgK1ZEwUoZVsm","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_SIrMESKOp6NBdHTG"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_SIrMESKOp6NBdHTG","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74","hostname":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host","fqdn":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615303835,"initial_root_password":"CUGggE83eaIJaIj0","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_4FhwCIU8mQHchlu4","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74-group","segregate":true,"created_at":1615303833},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_StK0D0KcFMmD3IWB","address":"185.53.57.106","reverse_dns":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.106/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_SIrMESKOp6NBdHTG","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6bef1e496c5c451d1fa2fbb153555642"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_SIrMESKOp6NBdHTG
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_SIrMESKOp6NBdHTG","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74","hostname":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host","fqdn":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615303[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_StK0D0KcFMmD3IWB
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_StK0D0KcFMmD3IWB","address":"185.53.57.106","reverse_dns":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.106/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_SIrMESKOp6NBdHTG","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_SIrMESKOp6NBdHTG","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"080e3d1dcf76e7068f92855f6b73dbc4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_SIrMESKOp6NBdHTG
    method: POST
  response:
    body: '{"task":{"id":"task_DHHpL03HJ62K88dg","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be8d5c0dd56487dea08ea228eb61fd62"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_DHHpL03HJ62K88dg
    method: GET
  response:
    body: '{"task":{"id":"task_DHHpL03HJ62K88dg","name":"Stop virtual machine","status":"running","created_at":1615303855,"started_at":1615303855,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f3ff980d1e9961bff3c67baa522117f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_SIrMESKOp6NBdHTG
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_bqqN198W8o0pILzl","keep_until":1615476661,"object_id":"vm_SIrMESKOp6NBdHTG","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_SIrMESKOp6NBdHTG","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74","hostname":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host","fqdn":"tf-acc-test-data-source-by-id-ckp9qekh8s74-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615303835,"initial_root_password":"CUGggE83eaIJaIj0","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbp[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_StK0D0KcFMmD3IWB
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_bqqN198W8o0pILzl
    method: DELETE
  response:
    body: '{"task":{"id":"task_n5G0Ufy5JO53ypdm","name":"Purge items from trash","status":"pending","created_at":1615303862,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ab1166552922dc6c4760af854ffa7f66"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_n5G0Ufy5JO53ypdm
    method: GET
  response:
    body: '{"task":{"id":"task_n5G0Ufy5JO53ypdm","name":"Purge items from trash","status":"running","created_at":1615303862,"started_at":1615303862,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"046e570ac777b83d79a2f3039f42bce7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_4FhwCIU8mQHchlu4
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4FhwCIU8mQHchlu4","name":"tf-acc-test-data-source-by-id-ckp9qekh8s74-group","segregate":true,"created_at":1615303833}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ec26c93f95a93dc5c71337eaf764efd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_SIrMESKOp6NBdHTG
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
