---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages?page=1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":20,"per_page":30,"large_set":false},"virtual_machine_packages":[{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"privacy":"public","icon":null},{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},{"id":"vmpkg_dMeEyd1g8hwIlxR8","name":"ROCK-6","permalink":"rock-6","cpu_cores":2,"ipv4_addresses":1,"memory_in_gb":6,"storage_in_gb":50,"privacy":"public","icon":null},{"id":"vmpkg_vYQHiDoHeSvsFCFI","name":"ROCK-12","permalink":"rock-12","cpu_cores":4,"ipv4_addresses":1,"memory_in_gb":12,"storage_in_gb":100,"privacy":"publ[...]
[...]
