---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-qruhrhxcrct9-1","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_qgKisqcLJpkxTfKL","name":"tf-acc-test-data-source-default-qruhrhxcrct9-1","segregate":true,"created_at":1679595487}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50679a253ccebfec2029fe2fea3b393b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_qgKisqcLJpkxTfKL
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_qgKisqcLJpkxTfKL","name":"tf-acc-test-data-source-default-qruhrhxcrct9-1","segregate":true,"created_at":1679595487}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50679a253ccebfec2029fe2fea3b393b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_Cenw9gVTdYKfIV4x
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Cenw9gVTdYKfIV4x","name":"tf-acc-test-data-source-default-qruhrhxcrct9-2","segregate":false,"created_at":1679595487}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c596f9c423a70e57050dc21851b5aa9c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"virtual_machine_groups":[{"id":"vmgrp_qgKisqcLJpkxTfKL","name":"tf-acc-test-data-source-default-qruhrhxcrct9-1","segregate":true,"created_at":1679595487},{"id":"vmgrp_Cenw9gVTdYKfIV4x","name":"tf-acc-test-data-source-default-qruhrhxcrct9-2","segregate":false,"created_at":1679595487}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b97e6de81684665283ef4a1296f0b12b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_Cenw9gVTdYKfIV4x
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Cenw9gVTdYKfIV4x","name":"tf-acc-test-data-source-default-qruhrhxcrct9-2","segregate":false,"created_at":1679595487}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c596f9c423a70e57050dc21851b5aa9c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_qgKisqcLJpkxTfKL
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_qgKisqcLJpkxTfKL","name":"tf-acc-test-data-source-default-qruhrhxcrct9-1","segregate":true,"created_at":1679595487}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50679a253ccebfec2029fe2fea3b393b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
