---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-basic-izvcd4tophxx","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_7YwjRgCYyL2XlpIy","name":"tf-acc-test-data-source-basic-izvcd4tophxx","segregate":true,"created_at":1679595236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00d4dd604aceab78d01a2082bb04ba0d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "561"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_7YwjRgCYyL2XlpIy
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_7YwjRgCYyL2XlpIy","name":"tf-acc-test-data-source-basic-izvcd4tophxx","segregate":true,"created_at":1679595236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00d4dd604aceab78d01a2082bb04ba0d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "560"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_7YwjRgCYyL2XlpIy
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_7YwjRgCYyL2XlpIy","name":"tf-acc-test-data-source-basic-izvcd4tophxx","segregate":true,"created_at":1679595236}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00d4dd604aceab78d01a2082bb04ba0d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "546"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_7YwjRgCYyL2XlpIy
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "545"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
