---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-data-source-default-86ir9og4xpqt-1","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_lik7nUSQrb276xXG","name":"tf-acc-test-data-source-default-86ir9og4xpqt-1","segregate":true,"created_at":1678291505}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99df870c915fb1c3f820937c7106494c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_lik7nUSQrb276xXG
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_lik7nUSQrb276xXG","name":"tf-acc-test-data-source-default-86ir9og4xpqt-1","segregate":true,"created_at":1678291505}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99df870c915fb1c3f820937c7106494c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_tuLawc4fPkDIwMN9
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_tuLawc4fPkDIwMN9","name":"tf-acc-test-data-source-default-86ir9og4xpqt-2","segregate":false,"created_at":1678291505}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aa0f12b034b35724f3e5c6546de63750"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"virtual_machine_groups":[{"id":"vmgrp_lik7nUSQrb276xXG","name":"tf-acc-test-data-source-default-86ir9og4xpqt-1","segregate":true,"created_at":1678291505},{"id":"vmgrp_tuLawc4fPkDIwMN9","name":"tf-acc-test-data-source-default-86ir9og4xpqt-2","segregate":false,"created_at":1678291505}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92a2fb704051b08a8e27d910d067a820"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_tuLawc4fPkDIwMN9
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_tuLawc4fPkDIwMN9","name":"tf-acc-test-data-source-default-86ir9og4xpqt-2","segregate":false,"created_at":1678291505}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aa0f12b034b35724f3e5c6546de63750"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_lik7nUSQrb276xXG
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_lik7nUSQrb276xXG","name":"tf-acc-test-data-source-default-86ir9og4xpqt-1","segregate":true,"created_at":1678291505}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99df870c915fb1c3f820937c7106494c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
