---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-associations-ni9kr1cjg9nl","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_nAIsvYQVdDsVCraN","name":"tf-acc-test-associations-ni9kr1cjg9nl","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"54fc0915dea267797ad1f0f6ef44ab39"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_nAIsvYQVdDsVCraN
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_nAIsvYQVdDsVCraN","name":"tf-acc-test-associations-ni9kr1cjg9nl","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3af8d482e39c0cec35e671aebb67af7f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_la7rTtAU6BKxHpmG","address":"185.44.254.140","reverse_dns":"185-44-254-140.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7997c45e1ae5e08f0406ddf7d70cebb0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_la7rTtAU6BKxHpmG
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_la7rTtAU6BKxHpmG","address":"185.44.254.140","reverse_dns":"185-44-254-140.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"361c0d64b5d3d420604c0e2abe8c2199"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_la7rTtAU6BKxHpmG</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-associations-ni9kr1cjg9nl-web</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_dY05sLHRV5kZineZ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_Ilzk08gsEYjVxNbk","state":"pending"},"virtual_machine_build":{"id":"vmbuild_Ilzk08gsEYjVxNbk","state":"pending"},"hostname":"tf-acc-test-associations-ni9kr1cjg9nl-web","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"531948750cda77237278756497947d31"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_Ilzk08gsEYjVxNbk
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Ilzk08gsEYjVxNbk","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.254.140\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-associations-ni9kr1cjg9nl-web\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738860249},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a5fcf0fb962b516e53251f4e2fb7c746"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Jz1rzwtJ7kaeWEEc
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Jz1rzwtJ7kaeWEEc","name":"tf-acc-test-associations-ni9kr1cjg9nl-web","hostname":"tf-acc-test-associations-ni9kr1cjg9nl-web","fqdn":"tf-acc-test-associations-ni9kr1cjg9nl-web.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860255,"initial_root_password":"wih3GmbdNNxaXHzy","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_la7rTtAU6BKxHpmG","address":"185.44.254.140","reverse_dns":"tf-acc-test-associations-ni9kr1cjg9nl-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Jz1rzwtJ7kaeWEEc","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97aba99d7bfc77dc15d088b3bc730f2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_Jz1rzwtJ7kaeWEEc
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_bnWioM07yubgjgMv","name":"Public
      Network on tf-acc-test-associations-ni9kr1cjg9nl-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_la7rTtAU6BKxHpmG","address":"185.44.254.140"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"85222f7e95b1c0947e4ceb87e4668074"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_bnWioM07yubgjgMv
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_bnWioM07yubgjgMv","virtual_machine":{"id":"vm_Jz1rzwtJ7kaeWEEc","name":"tf-acc-test-associations-ni9kr1cjg9nl-web"},"name":"Public
      Network on tf-acc-test-associations-ni9kr1cjg9nl-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:0e:bd:54:7b:e5","state":"attached","ip_addresses":[{"id":"ip_la7rTtAU6BKxHpmG","address":"185.44.254.140"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4985923a0418a48eea8ee5258d816d2e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_bnWioM07yubgjgMv
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_bnWioM07yubgjgMv","virtual_machine":{"id":"vm_Jz1rzwtJ7kaeWEEc","name":"tf-acc-test-associations-ni9kr1cjg9nl-web"},"name":"Public
      Network on tf-acc-test-associations-ni9kr1cjg9nl-web","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:0e:bd:54:7b:e5","state":"attached","ip_addresses":[{"id":"ip_la7rTtAU6BKxHpmG","address":"185.44.254.140"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4985923a0418a48eea8ee5258d816d2e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"file_storage_volume":{"id":"fsv_nAIsvYQVdDsVCraN"},"properties":{"associations":["vm_Jz1rzwtJ7kaeWEEc"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/_
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_nAIsvYQVdDsVCraN","name":"tf-acc-test-associations-ni9kr1cjg9nl","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_Jz1rzwtJ7kaeWEEc"],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_nAIsvYQVdDsVCraN","size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c48cd4ba553c137105bd90a9e74b5de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_TxhsfR2UJ7n4qMbq
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_TxhsfR2UJ7n4qMbq","name":"tf-acc-test-associations-ni9kr1cjg9nl-cache","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":["vm_Jz1rzwtJ7kaeWEEc"],"state":"configuring","nfs_location":null,"size":0},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c194986a89d3e35dfee51f3b4f8d6f46"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_la7rTtAU6BKxHpmG
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_la7rTtAU6BKxHpmG","address":"185.44.254.140","reverse_dns":"tf-acc-test-associations-ni9kr1cjg9nl-web.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.140/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Jz1rzwtJ7kaeWEEc","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Jz1rzwtJ7kaeWEEc","name":"tf-acc-test-associations-ni9kr1cjg9nl-web"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa1d0fe9e09b729570c7e2355deb1c59"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_I5iBFR5yTEbZlqZV
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_I5iBFR5yTEbZlqZV","address":"185.44.255.49","reverse_dns":"185-44-255-49.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.49/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a062507a6b604deebe6684d01a381b4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_JAIiIQNPNNvqWO1f
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_JAIiIQNPNNvqWO1f","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_otz3phVWBheJ2odc
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_otz3phVWBheJ2odc","name":"tf-acc-test-associations-ni9kr1cjg9nl-db","hostname":"tf-acc-test-associations-ni9kr1cjg9nl-db","fqdn":"tf-acc-test-associations-ni9kr1cjg9nl-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860313,"initial_root_password":"8lDS[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_otz3phVWBheJ2odc
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_8r3277IMPhP7fcaa","name":"Public
      Network on tf-acc-test-associations-ni9kr1cjg9nl-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_I5iBFR5yTEbZlqZV","address":"185.44.255.49"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e1b18550d874d59fb1fe1f5147643730"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_8r3277IMPhP7fcaa
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_8r3277IMPhP7fcaa","virtual_machine":{"id":"vm_otz3phVWBheJ2odc","name":"tf-acc-test-associations-ni9kr1cjg9nl-db"},"name":"Public
      Network on tf-acc-test-associations-ni9kr1cjg9nl-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:f9:f5:65:95:82","state":"attached","ip_addresses":[{"id":"ip_I5iBFR5yTEbZlqZV","address":"185.44.255.49"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fbd9239e57f286c6dc7591a2791b61b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_8r3277IMPhP7fcaa
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_8r3277IMPhP7fcaa","virtual_machine":{"id":"vm_otz3phVWBheJ2odc","name":"tf-acc-test-associations-ni9kr1cjg9nl-db"},"name":"Public
      Network on tf-acc-test-associations-ni9kr1cjg9nl-db","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:f9:f5:65:95:82","state":"attached","ip_addresses":[{"id":"ip_I5iBFR5yTEbZlqZV","address":"185.44.255.49"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fbd9239e57f286c6dc7591a2791b61b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_otz3phVWBheJ2odc
    method: POST
  response:
    body: '{"task":{"id":"task_qyOJM3VhHerZ4YCJ","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3eb9ca84c6ff2d2d67615a8c2c22a2d2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_qyOJM3VhHerZ4YCJ
    method: GET
  response:
    body: '{"task":{"id":"task_qyOJM3VhHerZ4YCJ","name":"Stop virtual machine","status":"running","created_at":1738860366,"started_at":1738860367,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"39c727bf5286c3cc317e479a34da7735"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_otz3phVWBheJ2odc
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_qSAkpvrzVNpVMBbI","keep_until":1739033173,"object_id":"vm_otz3phVWBheJ2odc","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_otz3phVWBheJ2odc","name":"tf-acc-test-associations-ni9kr1cjg9nl-db","hostname":"tf-acc-test-associations-ni9kr1cjg9nl-db","fqdn":"tf-acc-test-associations-ni9kr1cjg9nl-db.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860313,"initial_root_password":"8lDSOSwDzGMwCnkd","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permali[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_I5iBFR5yTEbZlqZV
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_otz3phVWBheJ2odc
    method: DELETE
  response:
    body: '{"task":{"id":"task_ocosG51kyuRbNN0B","name":"Purge items from trash","status":"pending","created_at":1738860374,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94176b2e32baf64bec2c98a7ad6345f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_otz3phVWBheJ2odc
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Jz1rzwtJ7kaeWEEc
    method: POST
  response:
    body: '{"task":{"id":"task_9DXvQzf2JHS4YfVE","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"122ba4426ac87fd719f73b643abd0db7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_9DXvQzf2JHS4YfVE
    method: GET
  response:
    body: '{"task":{"id":"task_9DXvQzf2JHS4YfVE","name":"Stop virtual machine","status":"running","created_at":1738860391,"started_at":1738860392,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae2cf6345a16c3fd34271f0cf35f66d1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "938"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_la7rTtAU6BKxHpmG
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_Jz1rzwtJ7kaeWEEc
    method: DELETE
  response:
    body: '{"task":{"id":"task_YyBFXccMUmWLcctg","name":"Purge items from trash","status":"pending","created_at":1738860399,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b81949d4bf30c7226c27fdd52f4a433"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_nAIsvYQVdDsVCraN
    method: DELETE
  response:
    body: '{"task":{"id":"task_BQZC2RLNsdHU3jfR","name":"Purge items from trash","status":"pending","created_at":1738860416,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cfd3821fd52e2321d5f8369f7ddebb70"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_TxhsfR2UJ7n4qMbq
    method: DELETE
  response:
    body: '{"task":{"id":"task_EO5HcCNiIe83uuZP","name":"Purge items from trash","status":"pending","created_at":1738860416,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b87cb5e3688011d7797039c3f1704ad1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 200 OK
    code: 200
    duration: ""
[...]
