---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-fw0unukuy966","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_qfWLQ1zzNyIBkFQb","name":"tf-acc-test-minimal-fw0unukuy966","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f17628887a20e0c9fc6e49cf791013d5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "701"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_qfWLQ1zzNyIBkFQb
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_qfWLQ1zzNyIBkFQb","name":"tf-acc-test-minimal-fw0unukuy966","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"512671aa300862070779e8aec2f32107"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "696"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_qfWLQ1zzNyIBkFQb
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_zmzHoqrO9bSdhHT1","keep_until":1679767842,"object_id":"fsv_qfWLQ1zzNyIBkFQb","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_qfWLQ1zzNyIBkFQb","name":"tf-acc-test-minimal-fw0unukuy966","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_qfWLQ1zzNyIBkFQb","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"222a0fc05177f897a4a776a770edcccd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "662"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_qfWLQ1zzNyIBkFQb
    method: DELETE
  response:
    body: '{"task":{"id":"task_iKH1cwSILpd7KE9z","name":"Purge items from trash","status":"pending","created_at":1679595042,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28402441cc13cd32264bf5b77fc5877d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "661"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_qfWLQ1zzNyIBkFQb
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
