---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-name-cwv76k18p3l8","data_center":{"permalink":"uk-lon-01"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/file_storage_volumes
    method: POST
  response:
    body: '{"file_storage_volume":{"id":"fsv_7YHbBWn2zrakOFpW","name":"tf-acc-test-update-name-cwv76k18p3l8","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"pending","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"15ca2453ede82c669981a0e4a08c1e07"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "705"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_7YHbBWn2zrakOFpW
    method: GET
  response:
    body: '{"file_storage_volume":{"id":"fsv_7YHbBWn2zrakOFpW","name":"tf-acc-test-update-name-cwv76k18p3l8","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"configuring","nfs_location":null,"size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ea7e5f23cd227205ac68ac921cb98cac"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "700"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"file_storage_volume":{"id":"fsv_7YHbBWn2zrakOFpW"},"properties":{"name":"tf-acc-test-update-name-cwv76k18p3l8-foobar"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/file_storage_volumes/_
    method: PATCH
  response:
    body: '{"file_storage_volume":{"id":"fsv_7YHbBWn2zrakOFpW","name":"tf-acc-test-update-name-cwv76k18p3l8-foobar","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_7YHbBWn2zrakOFpW","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ec60489dcf82b5879208763ec196279"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "669"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/file_storage_volumes/_?file_storage_volume%5Bid%5D=fsv_7YHbBWn2zrakOFpW
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_FKdKtqnlEyF6NdpL","keep_until":1679767847,"object_id":"fsv_7YHbBWn2zrakOFpW","object_type":"FileStorageVolume"},"file_storage_volume":{"id":"fsv_7YHbBWn2zrakOFpW","name":"tf-acc-test-update-name-cwv76k18p3l8-foobar","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"},"associations":[],"state":"ready","nfs_location":"nfs2.nlc.storage.katapult.io:/katapult/fsv_7YHbBWn2zrakOFpW","size":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0b5e793901c366a12760923e419cc7db"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "646"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_7YHbBWn2zrakOFpW
    method: DELETE
  response:
    body: '{"task":{"id":"task_XuH64bfqg0oQH2yU","name":"Purge items from trash","status":"pending","created_at":1679595047,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"96565852f6d7f12408c54ca33daaf456"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "645"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=fsv_7YHbBWn2zrakOFpW
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
