---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bid%5D=org_eodfyqFF3YWb2OFC
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"83acdeeac637486bc5f2f53681d19f3b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_nDsl5ZyqIDOiSZcI","address":"185.53.57.83","reverse_dns":"185-53-57-83.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.83/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f76869e05989f7febe69be8eef398f55"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_nDsl5ZyqIDOiSZcI
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_nDsl5ZyqIDOiSZcI","address":"185.53.57.83","reverse_dns":"185-53-57-83.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.83/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b708d3613c91dc97c75b98721da5022"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
