---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-pink-woodpecker","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_gTvEnqqnKohbFBJR"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/org_0v4yygGYvAmNewMM/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_PjnGcXdVaXhngYGp","name":"tf-pink-woodpecker","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.153"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7ca2f3f53b4304901add36e898ab3bd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/lb_PjnGcXdVaXhngYGp
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_PjnGcXdVaXhngYGp","name":"tf-pink-woodpecker","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.153"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9a5952d6a5e990a8a7374ecccb3c1b4a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
