---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-update_name-moq3abvo46ua","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_gTvEnqqnKohbFBJR"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/org_0v4yygGYvAmNewMM/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_ToEqp5VvLczsvuZm","name":"tf-acc-test-update_name-moq3abvo46ua","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.131"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1888b4801eedcc4e138fb28e7283df0f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/lb_ToEqp5VvLczsvuZm
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_ToEqp5VvLczsvuZm","name":"tf-acc-test-update_name-moq3abvo46ua","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.131"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a3070e69521d7d1110cb9f7b24966"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
[...]
