---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-basic-nra4mdiz67rv","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/org_eodfyqFF3YWb2OFC/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_ipjyAzbxhKTHW2ST","name":"tf-acc-test-basic-nra4mdiz67rv","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.198"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3e2ca492d8570321cc3450103b77cd2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_ipjyAzbxhKTHW2ST
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_ipjyAzbxhKTHW2ST","name":"tf-acc-test-basic-nra4mdiz67rv","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.198"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"066bc40e8095aa274fdd7d8eae18d908"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 200 OK
    code: 200
    duration: ""
[...]
