---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-update_name-ytjfd0xoz4jg","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_I2X0OWX8Y193MQek","name":"tf-acc-test-update_name-ytjfd0xoz4jg","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.19"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a193f49b21509618f08f62676d1b3ff1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_I2X0OWX8Y193MQek
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_I2X0OWX8Y193MQek","name":"tf-acc-test-update_name-ytjfd0xoz4jg","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.19"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a193f49b21509618f08f62676d1b3ff1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"load_balancer":{"id":"lb_I2X0OWX8Y193MQek"},"properties":{"name":"tf-acc-test-update_name-ytjfd0xoz4jg-different","resource_ids":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_I2X0OWX8Y193MQek","name":"tf-acc-test-update_name-ytjfd0xoz4jg-different","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.19"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dfeeed4c1d1a114135c5f0720fa4c4da"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "167"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_I2X0OWX8Y193MQek
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_I2X0OWX8Y193MQek","name":"tf-acc-test-update_name-ytjfd0xoz4jg-different"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fe16d7a9acc0be81f764db0740e1c08b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "152"
    status: 200 OK
    code: 200
    duration: ""
