---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-basic-s8bmbtgs0rbp","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_peh1ENJpmsen48Nu","name":"tf-acc-test-basic-s8bmbtgs0rbp","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.51"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"791e6c0537eeea8262e089ffbe0319a5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_peh1ENJpmsen48Nu
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_peh1ENJpmsen48Nu","name":"tf-acc-test-basic-s8bmbtgs0rbp","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.51"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"791e6c0537eeea8262e089ffbe0319a5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_peh1ENJpmsen48Nu
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_peh1ENJpmsen48Nu","name":"tf-acc-test-basic-s8bmbtgs0rbp"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d60312b3177b141b94ebe41551e3b4b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
