---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-sour-helicopter","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/org_eodfyqFF3YWb2OFC/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_wQGWg2Ls5s1dm2Rs","name":"tf-acc-test-sour-helicopter","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.66"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"545c144f6bb92f00817b204f46c270b7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_wQGWg2Ls5s1dm2Rs
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_wQGWg2Ls5s1dm2Rs","name":"tf-acc-test-sour-helicopter","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.66"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"93a5e48e200999ebf4b22b4c6e2fd54c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
[...]
