---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-update_name-m2g16yelhg3z","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_aZOlPUwvmBfBgnfP","name":"tf-acc-test-update_name-m2g16yelhg3z","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.194"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e8b44251c7653a542cd0af80e205587"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_aZOlPUwvmBfBgnfP
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_aZOlPUwvmBfBgnfP","name":"tf-acc-test-update_name-m2g16yelhg3z","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.194"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e8b44251c7653a542cd0af80e205587"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"load_balancer":{"id":"lb_aZOlPUwvmBfBgnfP"},"properties":{"name":"tf-acc-test-update_name-m2g16yelhg3z-different"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_aZOlPUwvmBfBgnfP","name":"tf-acc-test-update_name-m2g16yelhg3z-different","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.194"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"568e20767c90be38bcc4f6a00350cb88"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_aZOlPUwvmBfBgnfP
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_aZOlPUwvmBfBgnfP","name":"tf-acc-test-update_name-m2g16yelhg3z-different"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69cf3e1a1eda0a07ba505d2567995de7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
