---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-basic-xdl91ob12epc","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_gTvEnqqnKohbFBJR"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/org_0v4yygGYvAmNewMM/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_uGuAbs4glEdsT2Wk","name":"tf-acc-test-basic-xdl91ob12epc","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.177"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74bb8945d80a3d7324260246d86f0701"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/lb_uGuAbs4glEdsT2Wk
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_uGuAbs4glEdsT2Wk","name":"tf-acc-test-basic-xdl91ob12epc","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.177"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d71f316174528aa989591d38e7af12dc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
