---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"netwise"},"name":"tf-acc-test-rule-basic-healthcheck-i841g1klvcxj","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_5kIE6nx5dYHl99Pv","name":"tf-acc-test-rule-basic-healthcheck-i841g1klvcxj","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.223.158"},"https_redirect":false,"data_center":{"id":"loc_gTvEnqqnKohbFBJR","name":"Netwise"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2eec26b02024334f7cf90f8879876df8"
      X-Correlation-Id:
      - 017c9813-4536-4a93-b890-a5a8d081cb9d
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_5kIE6nx5dYHl99Pv
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_5kIE6nx5dYHl99Pv","name":"tf-acc-test-rule-basic-healthcheck-i841g1klvcxj","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.223.158"},"https_redirect":false,"data_center":{"id":"loc_gTvEnqqnKohbFBJR","name":"Netwise"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2eec26b02024334f7cf90f8879876df8"
      X-Correlation-Id:
      - fd6b9fe7-ea5d-49e8-a6c0-347b866ffb1c
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "166"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"check_enabled":true,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/load_balancers/lb_5kIE6nx5dYHl99Pv/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_7VyiwwEqwrn6r9Ey","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":true,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d2d506d190b232794c4e4c9c68b9b634"
      X-Correlation-Id:
      - 1d2283f1-0ae2-44c8-9323-2c000074f9ee
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/rules/_?load_balancer_rule%5Bid%5D=lbrule_7VyiwwEqwrn6r9Ey
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_7VyiwwEqwrn6r9Ey","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":true,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d2d506d190b232794c4e4c9c68b9b634"
      X-Correlation-Id:
      - 4d2f848d-d36f-4c4b-bdd1-ffb357632a93
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "160"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_5kIE6nx5dYHl99Pv
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Correlation-Id:
      - 8d5099be-f93f-411c-b493-4d8c173ea873
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "139"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 404 Not Found
    code: 404
    duration: ""
