---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"netwise"},"name":"tf-acc-test-rule-full-healthcheck-ur12jxbatu7m","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_swF8IP3YUoscltBi","name":"tf-acc-test-rule-full-healthcheck-ur12jxbatu7m","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.223.135"},"https_redirect":false,"data_center":{"id":"loc_gTvEnqqnKohbFBJR","name":"Netwise"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87345c39cd6541db196c92d5c72b452c"
      X-Correlation-Id:
      - 9c33126a-c83c-4e27-b2a0-c46e917c2da3
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_swF8IP3YUoscltBi
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_swF8IP3YUoscltBi","name":"tf-acc-test-rule-full-healthcheck-ur12jxbatu7m","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.223.135"},"https_redirect":false,"data_center":{"id":"loc_gTvEnqqnKohbFBJR","name":"Netwise"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87345c39cd6541db196c92d5c72b452c"
      X-Correlation-Id:
      - f373ab76-ea97-4360-a065-7dd8c9306b4e
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"check_enabled":true,"check_fall":3,"check_interval":5,"check_path":"/healthz","check_protocol":"HTTP","check_rise":5,"check_timeout":13}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/load_balancers/lb_swF8IP3YUoscltBi/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_SDTe99bxEy6DBlEu","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":true,"check_fall":3,"check_interval":5,"check_path":"/healthz","check_protocol":"HTTP","check_rise":5,"check_timeout":13}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3fd2caa46cd77a8865f15932391268a"
      X-Correlation-Id:
      - 82e02a33-4b28-4f11-acab-cb2b2e7a480e
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "161"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/rules/_?load_balancer_rule%5Bid%5D=lbrule_SDTe99bxEy6DBlEu
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_SDTe99bxEy6DBlEu","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":true,"check_fall":3,"check_interval":5,"check_path":"/healthz","check_protocol":"HTTP","check_rise":5,"check_timeout":13}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3fd2caa46cd77a8865f15932391268a"
      X-Correlation-Id:
      - bffbac39-1113-45da-913e-490e3ffab492
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_swF8IP3YUoscltBi
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Correlation-Id:
      - 7e7b10e2-17e4-4c06-a15c-1aa389279d81
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "140"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 404 Not Found
    code: 404
    duration: ""
