---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"netwise"},"name":"tf-acc-test-rule-basic-toz7my0jrecn","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_9bi8br4rL1N9OtQe","name":"tf-acc-test-rule-basic-toz7my0jrecn","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.223.132"},"https_redirect":false,"data_center":{"id":"loc_gTvEnqqnKohbFBJR","name":"Netwise"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4210e9b77889970a314ce8342d354cc2"
      X-Correlation-Id:
      - 23c423cd-472b-4c5c-8ce3-a5e200cae08e
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_9bi8br4rL1N9OtQe
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_9bi8br4rL1N9OtQe","name":"tf-acc-test-rule-basic-toz7my0jrecn","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.223.132"},"https_redirect":false,"data_center":{"id":"loc_gTvEnqqnKohbFBJR","name":"Netwise"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4210e9b77889970a314ce8342d354cc2"
      X-Correlation-Id:
      - 90ac0529-d962-4550-b825-c0a300279a46
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "167"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/load_balancers/lb_9bi8br4rL1N9OtQe/rules
    method: POST
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_RZ8wV55Wi2fSYEju","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b6102bdf9742b177ec19bc75f0680e10"
      X-Correlation-Id:
      - f1ef5454-202a-46ad-b0f2-79ee674af082
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "166"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/rules/_?load_balancer_rule%5Bid%5D=lbrule_RZ8wV55Wi2fSYEju
    method: GET
  response:
    body: '{"load_balancer_rule":{"id":"lbrule_RZ8wV55Wi2fSYEju","algorithm":"round_robin","destination_port":8080,"listen_port":80,"protocol":"HTTP","proxy_protocol":false,"certificates":[],"backend_ssl":false,"passthrough_ssl":false,"check_enabled":false,"check_fall":2,"check_interval":20,"check_path":"/","check_protocol":"HTTP","check_rise":2,"check_timeout":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b6102bdf9742b177ec19bc75f0680e10"
      X-Correlation-Id:
      - 0478540b-e331-4e9b-9a5c-5a7bbafbe3b8
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "163"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_9bi8br4rL1N9OtQe
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Correlation-Id:
      - a18725e9-93d6-4a7f-b0d1-3f102a509a1f
      X-Katapult-Api:
      - core
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
      X-Ratelimit-Reset:
      - "1622469420"
    status: 404 Not Found
    code: 404
    duration: ""
