---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-update_name-e6xsfn6wzygh","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_nCTcWzZzSDRNYxlQ","name":"tf-acc-test-update_name-e6xsfn6wzygh","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.222.7"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06b7f6c1659fbb9d1184952aea0de06d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_nCTcWzZzSDRNYxlQ
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_nCTcWzZzSDRNYxlQ","name":"tf-acc-test-update_name-e6xsfn6wzygh","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.222.7"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06b7f6c1659fbb9d1184952aea0de06d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"load_balancer":{"id":"lb_nCTcWzZzSDRNYxlQ"},"properties":{"name":"tf-acc-test-update_name-e6xsfn6wzygh-different"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_nCTcWzZzSDRNYxlQ","name":"tf-acc-test-update_name-e6xsfn6wzygh-different","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.222.7"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"85e519056eeaa595d150739f24a6c89d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_nCTcWzZzSDRNYxlQ
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 404 Not Found
    code: 404
    duration: ""
