---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-calm-crow","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_IHVJQOPMkKduFEMw","name":"tf-acc-test-calm-crow","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.248"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"711934a4ff82113ba5966a40c6938cc3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_IHVJQOPMkKduFEMw
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_IHVJQOPMkKduFEMw","name":"tf-acc-test-calm-crow","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.248"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e36ab74cc908db53fa39039a0af0c97f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
