---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-clean-bluebell","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_wyIE2qhpznYWIkcH","name":"tf-acc-test-clean-bluebell","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.228"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"672c3663f7b7044ab737c1046a3ad6e1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_wyIE2qhpznYWIkcH
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_wyIE2qhpznYWIkcH","name":"tf-acc-test-clean-bluebell","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.228"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"672c3663f7b7044ab737c1046a3ad6e1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_wyIE2qhpznYWIkcH
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_wyIE2qhpznYWIkcH","name":"tf-acc-test-clean-bluebell"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c494494378fb01c0a49499f9837d45a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
