---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-basic-ogvvllg13fmx","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_gTvEnqqnKohbFBJR"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/org_0v4yygGYvAmNewMM/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_PlFwqexHDjRMThaX","name":"tf-acc-test-basic-ogvvllg13fmx","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.182"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7e289cff229bce16c576ba3da37e5693"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/lb_PlFwqexHDjRMThaX
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_PlFwqexHDjRMThaX","name":"tf-acc-test-basic-ogvvllg13fmx","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.182"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aefe7f6097899c0e6263dedd2a383e33"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
