---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-helpful-carnation","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_gTvEnqqnKohbFBJR"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.dev/core/v1/organizations/org_0v4yygGYvAmNewMM/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_YiIcQwsN2bQ3OMMY","name":"tf-acc-test-helpful-carnation","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.141"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b927984e877c78c1a2cc667b5b49b94"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.dev/core/v1/load_balancers/lb_YiIcQwsN2bQ3OMMY
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_YiIcQwsN2bQ3OMMY","name":"tf-acc-test-helpful-carnation","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.199.223.141"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b91d2acca464990320e860cea8bd679f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
