---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-update_name-njpjc2kvupxm","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_SVI2BsNUWkd8pKxY","name":"tf-acc-test-update_name-njpjc2kvupxm","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.196"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e06b922f9d0f52868b17d4c539fd6238"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_SVI2BsNUWkd8pKxY
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_SVI2BsNUWkd8pKxY","name":"tf-acc-test-update_name-njpjc2kvupxm","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.196"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abf9d8024a093b8c219e239070a024bd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"load_balancer":{"id":"lb_SVI2BsNUWkd8pKxY"},"properties":{"name":"tf-acc-test-update_name-njpjc2kvupxm-different","resource_ids":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/load_balancers/_
    method: PATCH
  response:
    body: '{"load_balancer":{"id":"lb_SVI2BsNUWkd8pKxY","name":"tf-acc-test-update_name-njpjc2kvupxm-different","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.196"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebc861ab540256ed3d50174bfcac56d5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
