---
version: 1
interactions:
- request:
    body: |
      {"properties":{"name":"tf-acc-test-update_name-qvdctu64a800","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/org_eodfyqFF3YWb2OFC/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_CHbF3CI0A0yTzyKY","name":"tf-acc-test-update_name-qvdctu64a800","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.86"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"668ef385d7bda27f2d5d3b6e0c7f9247"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_CHbF3CI0A0yTzyKY
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_CHbF3CI0A0yTzyKY","name":"tf-acc-test-update_name-qvdctu64a800","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.86"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"92cac6af7c03e0dd7b67bbc6d300e1ec"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
[...]
