---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-basic-f6j22r7b616f","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_4qSo9u4VA3Rgqk6s","name":"tf-acc-test-basic-f6j22r7b616f","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.190"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae0e2c5015909a117a619a8d4d08092f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_4qSo9u4VA3Rgqk6s
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_4qSo9u4VA3Rgqk6s","name":"tf-acc-test-basic-f6j22r7b616f","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.190"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae0e2c5015909a117a619a8d4d08092f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_4qSo9u4VA3Rgqk6s
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_4qSo9u4VA3Rgqk6s","name":"tf-acc-test-basic-f6j22r7b616f"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d41407be174ccd833ea79b7e771e085f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "157"
    status: 200 OK
    code: 200
    duration: ""
