---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"data_center":{"permalink":"uk-lon-01"},"name":"tf-acc-test-basic-yypd6gb80oo8","resource_type":"virtual_machines","resource_ids":[]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_XETUeGCPSraT4kb9","name":"tf-acc-test-basic-yypd6gb80oo8","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.222.33"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d135a6a393e5a7794ea260002771d0d3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_XETUeGCPSraT4kb9
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_XETUeGCPSraT4kb9","name":"tf-acc-test-basic-yypd6gb80oo8","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.199.222.33"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d135a6a393e5a7794ea260002771d0d3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_XETUeGCPSraT4kb9
    method: GET
  response:
    body: '{"error":{"code":"load_balancer_not_found","description":"No load balancer
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 404 Not Found
    code: 404
    duration: ""
