---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-basic-jfjtxuprz4c4","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_HbDTLrN9KpYAVsaG","name":"tf-acc-test-basic-jfjtxuprz4c4","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.221"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"382c1edd474b287ae84d0fca92e07615"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_HbDTLrN9KpYAVsaG
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_HbDTLrN9KpYAVsaG","name":"tf-acc-test-basic-jfjtxuprz4c4","resource_type":"virtual_machines","resources":[],"ip_address":{"address":"185.53.57.221"},"https_redirect":false}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f15a002ffd734868422fe1112662e08"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
[...]
