---
version: 1
interactions:
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"properties":{"name":"tf-acc-test-popular-orchid","resource_type":"virtual_machines","resource_ids":[],"data_center":{"id":"loc_UUhPmoCbpic6UX0Y"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/load_balancers
    method: POST
  response:
    body: '{"load_balancer":{"id":"lb_qAFYM2Pw9oifspkq","name":"tf-acc-test-popular-orchid","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.92"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbaa1baa6dc451d03623b882422b5649"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/lb_qAFYM2Pw9oifspkq
    method: GET
  response:
    body: '{"load_balancer":{"id":"lb_qAFYM2Pw9oifspkq","name":"tf-acc-test-popular-orchid","resource_type":"virtual_machines","resources":[],"resource_ids":[],"ip_address":{"address":"185.53.57.92"},"https_redirect":false,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fbaa1baa6dc451d03623b882422b5649"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/load_balancers/_?load_balancer%5Bid%5D=lb_qAFYM2Pw9oifspkq
    method: DELETE
  response:
    body: '{"load_balancer":{"id":"lb_qAFYM2Pw9oifspkq","name":"tf-acc-test-popular-orchid"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98e0498a8e5bb55b76cbb36b087ca6d4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
