---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-invalid-drvthglv28iy","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_4sxRu43Eonk4zRji","name":"tf-acc-test-invalid-drvthglv28iy","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8203e7cfc2f453ec80c5a713d7b6c800"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "637"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_4sxRu43Eonk4zRji
    method: GET
  response:
    body: '{"security_group":{"id":"sg_4sxRu43Eonk4zRji","name":"tf-acc-test-invalid-drvthglv28iy","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8203e7cfc2f453ec80c5a713d7b6c800"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "636"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP","ports":"80"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_4sxRu43Eonk4zRji/rules
    method: POST
  response:
    body: '{"error":{"code":"validation_error","description":"A validation error occurred
      with the object that was being created/updated/deleted","detail":{"errors":["Ports
      cannot be set with ICMP"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "635"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: |
      {"security_group":{"id":"sg_4sxRu43Eonk4zRji"},"properties":{"allow_all_inbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_4sxRu43Eonk4zRji","name":"tf-acc-test-invalid-drvthglv28iy","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7dfdd0e71ed447f06e3873505941beb2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "626"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_4sxRu43Eonk4zRji
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "624"
    status: 200 OK
    code: 200
    duration: ""
[...]
