---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-multiple-buztp3izqldb-foo","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_BIPb8lrdMAS1bqyg","name":"tf-acc-test-multiple-buztp3izqldb-foo","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86506a4fb3e551a56303e537b38488ca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_BIPb8lrdMAS1bqyg/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_YSzxZnajFqtCGf2X","security_group":{"id":"sg_BIPb8lrdMAS1bqyg","name":"tf-acc-test-multiple-buztp3izqldb-foo"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"676ac87023d377369d15f2e1c87550e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_BIPb8lrdMAS1bqyg
    method: GET
  response:
    body: '{"security_group":{"id":"sg_BIPb8lrdMAS1bqyg","name":"tf-acc-test-multiple-buztp3izqldb-foo","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86506a4fb3e551a56303e537b38488ca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_BIPb8lrdMAS1bqyg
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_YSzxZnajFqtCGf2X","direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"de636602d62efbe61bfd7d89a3e3e530"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_wInReUIpl8NkdVpr/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_8RoHo9GAhDqwRrph","security_group":{"id":"sg_wInReUIpl8NkdVpr","name":"tf-acc-test-multiple-buztp3izqldb-bar"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"152874f82ffad27d3af2e63bcf9a6301"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_wInReUIpl8NkdVpr
    method: GET
  response:
    body: '{"security_group":{"id":"sg_wInReUIpl8NkdVpr","name":"tf-acc-test-multiple-buztp3izqldb-bar","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a3c81b9228fd1f20ab403a56cfc22db"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_wInReUIpl8NkdVpr
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_8RoHo9GAhDqwRrph","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"},{"id":"sgr_JVkcy9os20N2oh9K","direction":"inbound","protocol":"TCP","ports":"433","targets":["all:ipv6","all:ipv4"],"notes":"HTTPS"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0487d52b95febc1593c900a198ac355"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_wInReUIpl8NkdVpr
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
