---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-multiple-qmvp2qz7hsi2-foo","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_jpB56StcvJvoXJDb","name":"tf-acc-test-multiple-qmvp2qz7hsi2-foo","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"16027dc1e90155773dae9b2414c8cda2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "922"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_jpB56StcvJvoXJDb/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_YdXPVTYQ98ep4pPR","security_group":{"id":"sg_jpB56StcvJvoXJDb","name":"tf-acc-test-multiple-qmvp2qz7hsi2-foo"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6b3b4cd968afc793e8b2cc5bd5c1e31f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_jpB56StcvJvoXJDb
    method: GET
  response:
    body: '{"security_group":{"id":"sg_jpB56StcvJvoXJDb","name":"tf-acc-test-multiple-qmvp2qz7hsi2-foo","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"16027dc1e90155773dae9b2414c8cda2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "916"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_jpB56StcvJvoXJDb
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_YdXPVTYQ98ep4pPR","direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ccf632ccb684e52954a2d9542bea5179"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_TeiqJNZnbiBuKgoe/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_1RPOvv2X6drH1Eci","security_group":{"id":"sg_TeiqJNZnbiBuKgoe","name":"tf-acc-test-multiple-qmvp2qz7hsi2-bar"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"68598eefb6417c40a30798e35b2b60bd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_TeiqJNZnbiBuKgoe
    method: GET
  response:
    body: '{"security_group":{"id":"sg_TeiqJNZnbiBuKgoe","name":"tf-acc-test-multiple-qmvp2qz7hsi2-bar","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8683fbbe1e1c19043d76dd16fbb1083a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "898"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_TeiqJNZnbiBuKgoe
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_1RPOvv2X6drH1Eci","direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv6","all:ipv4"],"notes":"HTTP"},{"id":"sgr_afd47zdjbNzT8ONR","direction":"inbound","protocol":"TCP","ports":"433","targets":["all:ipv6","all:ipv4"],"notes":"HTTPS"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"34b886179189f915d8a83c036ca3cf2a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "897"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_TeiqJNZnbiBuKgoe
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "873"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
