---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-tcp-kaivlqs9fypr","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_KiNBPCmBu0DIpOYC","name":"tf-acc-test-tcp-kaivlqs9fypr","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b1b6ad5d9ad368a50edb93b9002d5ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_KiNBPCmBu0DIpOYC
    method: GET
  response:
    body: '{"security_group":{"id":"sg_KiNBPCmBu0DIpOYC","name":"tf-acc-test-tcp-kaivlqs9fypr","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b1b6ad5d9ad368a50edb93b9002d5ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_KiNBPCmBu0DIpOYC/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_Li9sluvclQlSghT7","security_group":{"id":"sg_KiNBPCmBu0DIpOYC","name":"tf-acc-test-tcp-kaivlqs9fypr"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"75c9180ff693bf693b19dd7015c5aabe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_Li9sluvclQlSghT7
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_Li9sluvclQlSghT7","security_group":{"id":"sg_KiNBPCmBu0DIpOYC","name":"tf-acc-test-tcp-kaivlqs9fypr"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"75c9180ff693bf693b19dd7015c5aabe"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_Z9jOFWYBZ0LmqlAt
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_Z9jOFWYBZ0LmqlAt","security_group":{"id":"sg_KiNBPCmBu0DIpOYC","name":"tf-acc-test-tcp-kaivlqs9fypr"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59b5bb63d968790bd5f47f6cbae93961"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "904"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_Z9jOFWYBZ0LmqlAt
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "873"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
