---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-external-rules-enable-f9v7i6fx3vxi","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_MUJ6kLEsThf1Di3U","name":"tf-acc-test-external-rules-enable-f9v7i6fx3vxi","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b19cc3c7c7ebd296bb45b75ff7e0dd1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_MUJ6kLEsThf1Di3U/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_fo5ux0Ot3EdIJb9p","security_group":{"id":"sg_MUJ6kLEsThf1Di3U","name":"tf-acc-test-external-rules-enable-f9v7i6fx3vxi"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5c6a450ec1b18d9a9b380f4fef6153e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_MUJ6kLEsThf1Di3U
    method: GET
  response:
    body: '{"security_group":{"id":"sg_MUJ6kLEsThf1Di3U","name":"tf-acc-test-external-rules-enable-f9v7i6fx3vxi","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b19cc3c7c7ebd296bb45b75ff7e0dd1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_MUJ6kLEsThf1Di3U
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_fo5ux0Ot3EdIJb9p","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"SSH"},{"id":"sgr_Lsrk6Fyv6uNmQl8U","direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv6","all:ipv4"],"notes":"DNS"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"efffdfca178569f338ee840b989c9b6d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"security_group":{"id":"sg_MUJ6kLEsThf1Di3U"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_MUJ6kLEsThf1Di3U","name":"tf-acc-test-external-rules-enable-f9v7i6fx3vxi","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b19cc3c7c7ebd296bb45b75ff7e0dd1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_fo5ux0Ot3EdIJb9p
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_fo5ux0Ot3EdIJb9p"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8028e21d2236398be0ed7ee05b74684e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_Lsrk6Fyv6uNmQl8U
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_Lsrk6Fyv6uNmQl8U"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f9cf402785ef33b6a26bc0c793ee967"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_fo5ux0Ot3EdIJb9p
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
