---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-uvo026a77rna","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_hReNAKLDSoqGBZtP","name":"tf-acc-test-update-uvo026a77rna","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db09c440127766df2a38343c8af722c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "885"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_hReNAKLDSoqGBZtP
    method: GET
  response:
    body: '{"security_group":{"id":"sg_hReNAKLDSoqGBZtP","name":"tf-acc-test-update-uvo026a77rna","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db09c440127766df2a38343c8af722c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "884"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_hReNAKLDSoqGBZtP/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_I4PXvqifsEfMc43S","security_group":{"id":"sg_hReNAKLDSoqGBZtP","name":"tf-acc-test-update-uvo026a77rna"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b94ed69e1b7fc5301efade4705ce0638"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "883"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_I4PXvqifsEfMc43S
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_I4PXvqifsEfMc43S","security_group":{"id":"sg_hReNAKLDSoqGBZtP","name":"tf-acc-test-update-uvo026a77rna"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b94ed69e1b7fc5301efade4705ce0638"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP","targets":["10.0.0.0/24"],"notes":"PING"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_I4PXvqifsEfMc43S
    method: PATCH
  response:
    body: '{"error":{"code":"validation_error","description":"A validation error occurred
      with the object that was being created/updated/deleted","detail":{"errors":["Ports
      cannot be set with ICMP"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "805"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
