---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-icmp-n1gjwmx6gc2s","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_0EwJsGRzOFcimvsW","name":"tf-acc-test-icmp-n1gjwmx6gc2s","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eff6a6a87293169192b53623143803e8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_0EwJsGRzOFcimvsW
    method: GET
  response:
    body: '{"security_group":{"id":"sg_0EwJsGRzOFcimvsW","name":"tf-acc-test-icmp-n1gjwmx6gc2s","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eff6a6a87293169192b53623143803e8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP","targets":["10.0.0.1/24"],"notes":"ping"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_0EwJsGRzOFcimvsW/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_1SLz43kkMNdYy8r0","security_group":{"id":"sg_0EwJsGRzOFcimvsW","name":"tf-acc-test-icmp-n1gjwmx6gc2s"},"direction":"inbound","protocol":"ICMP","ports":null,"targets":["10.0.0.1/24"],"notes":"ping"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97bedf14a7a6abe7b23d756b3d2fdd5e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_1SLz43kkMNdYy8r0
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_1SLz43kkMNdYy8r0","security_group":{"id":"sg_0EwJsGRzOFcimvsW","name":"tf-acc-test-icmp-n1gjwmx6gc2s"},"direction":"inbound","protocol":"ICMP","ports":null,"targets":["10.0.0.1/24"],"notes":"ping"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97bedf14a7a6abe7b23d756b3d2fdd5e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"ports":"7","targets":["all:ipv6","all:ipv4"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_1SLz43kkMNdYy8r0
    method: PATCH
  response:
    body: '{"error":{"code":"validation_error","description":"A validation error occurred
      with the object that was being created/updated/deleted","detail":{"errors":["Ports
      cannot be set with ICMP"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_tluZmekqOPtIMMkn
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_tluZmekqOPtIMMkn","security_group":{"id":"sg_0EwJsGRzOFcimvsW","name":"tf-acc-test-icmp-n1gjwmx6gc2s"},"direction":"inbound","protocol":"ICMP","ports":null,"targets":["all:ipv6","all:ipv4"],"notes":"ping
      me"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c29fde81f52e05ab86644450e4a25c89"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
