---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-xw84x3trwkdl","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_0CWWmMt8ykxCtCZM","name":"tf-acc-test-minimal-xw84x3trwkdl","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6ba4bd598b26b5dd6d6cf3b895bdc14"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "875"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_0CWWmMt8ykxCtCZM
    method: GET
  response:
    body: '{"security_group":{"id":"sg_0CWWmMt8ykxCtCZM","name":"tf-acc-test-minimal-xw84x3trwkdl","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6ba4bd598b26b5dd6d6cf3b895bdc14"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "874"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_0CWWmMt8ykxCtCZM/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_ztuIcldjLgH75taS","security_group":{"id":"sg_0CWWmMt8ykxCtCZM","name":"tf-acc-test-minimal-xw84x3trwkdl"},"direction":"inbound","protocol":"TCP","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"764646f0a3b540c1850cd75e050d38c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "870"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_ztuIcldjLgH75taS
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_ztuIcldjLgH75taS","security_group":{"id":"sg_0CWWmMt8ykxCtCZM","name":"tf-acc-test-minimal-xw84x3trwkdl"},"direction":"inbound","protocol":"TCP","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"764646f0a3b540c1850cd75e050d38c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "867"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_ztuIcldjLgH75taS
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "838"
    status: 404 Not Found
    code: 404
    duration: ""
