---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-out-of-band-deletion-vceoxdskiku0","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_mn7wAOwmL8osvx6V","name":"tf-acc-test-out-of-band-deletion-vceoxdskiku0","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dd6061ad962aebc1239aefbcab6652b6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_mn7wAOwmL8osvx6V
    method: GET
  response:
    body: '{"security_group":{"id":"sg_mn7wAOwmL8osvx6V","name":"tf-acc-test-out-of-band-deletion-vceoxdskiku0","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dd6061ad962aebc1239aefbcab6652b6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"443","targets":["all:ipv4"],"notes":"HTTPS"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_mn7wAOwmL8osvx6V/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_jjknf5Ib9wtdoOnW","security_group":{"id":"sg_mn7wAOwmL8osvx6V","name":"tf-acc-test-out-of-band-deletion-vceoxdskiku0"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"443","targets":["all:ipv4"],"notes":"HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3321c13f78d38f7e6bdea84bb55e547"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_jjknf5Ib9wtdoOnW
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_jjknf5Ib9wtdoOnW","security_group":{"id":"sg_mn7wAOwmL8osvx6V","name":"tf-acc-test-out-of-band-deletion-vceoxdskiku0"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"443","targets":["all:ipv4"],"notes":"HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e3321c13f78d38f7e6bdea84bb55e547"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_jjknf5Ib9wtdoOnW
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
