---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-external-rules-disable-1zk9loprc6vd","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_toJVmHVskEPAjKus","name":"tf-acc-test-external-rules-disable-1zk9loprc6vd","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba0f0896ff4e3551af91f26a9cb7515d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_toJVmHVskEPAjKus
    method: GET
  response:
    body: '{"security_group":{"id":"sg_toJVmHVskEPAjKus","name":"tf-acc-test-external-rules-disable-1zk9loprc6vd","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba0f0896ff4e3551af91f26a9cb7515d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv4"],"notes":"Externally managed SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_toJVmHVskEPAjKus/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_1WjnDXr2QmgncQMt","security_group":{"id":"sg_toJVmHVskEPAjKus","name":"tf-acc-test-external-rules-disable-1zk9loprc6vd"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eef153e361bce4664b85970a9b9c56ef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_1WjnDXr2QmgncQMt
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_1WjnDXr2QmgncQMt","security_group":{"id":"sg_toJVmHVskEPAjKus","name":"tf-acc-test-external-rules-disable-1zk9loprc6vd"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eef153e361bce4664b85970a9b9c56ef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_dBG6DZBnUdHyT3Th
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_dBG6DZBnUdHyT3Th","security_group":{"id":"sg_toJVmHVskEPAjKus","name":"tf-acc-test-external-rules-disable-1zk9loprc6vd"},"direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv6","all:ipv4"],"notes":"Externally
      managed DNS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f1f536bcf51ea190f01ea2a44c6ef6fd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"security_group":{"id":"sg_toJVmHVskEPAjKus"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_toJVmHVskEPAjKus","name":"tf-acc-test-external-rules-disable-1zk9loprc6vd","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba0f0896ff4e3551af91f26a9cb7515d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_toJVmHVskEPAjKus
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":2,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_1WjnDXr2QmgncQMt","direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"Externally
      managed SSH"},{"id":"sgr_dBG6DZBnUdHyT3Th","direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv6","all:ipv4"],"notes":"Externally
      managed DNS"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"371ea29fb6b88515441fb621f6ae7964"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_1WjnDXr2QmgncQMt
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
