---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-tcp-3t1rah9x29ut","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_xBr94sLve0oTPvge","name":"tf-acc-test-tcp-3t1rah9x29ut","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"012fe97f3d399ee2c82a9a9b1f9ebe4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "881"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_xBr94sLve0oTPvge
    method: GET
  response:
    body: '{"security_group":{"id":"sg_xBr94sLve0oTPvge","name":"tf-acc-test-tcp-3t1rah9x29ut","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"012fe97f3d399ee2c82a9a9b1f9ebe4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_xBr94sLve0oTPvge/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_c46IuR8AdaulrWYO","security_group":{"id":"sg_xBr94sLve0oTPvge","name":"tf-acc-test-tcp-3t1rah9x29ut"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a50c5ac0d0b6969a3a2a1ff47c13eefd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "872"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_c46IuR8AdaulrWYO
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_c46IuR8AdaulrWYO","security_group":{"id":"sg_xBr94sLve0oTPvge","name":"tf-acc-test-tcp-3t1rah9x29ut"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a50c5ac0d0b6969a3a2a1ff47c13eefd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "866"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_0gevYfkxYzgksUSH
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_0gevYfkxYzgksUSH","security_group":{"id":"sg_xBr94sLve0oTPvge","name":"tf-acc-test-tcp-3t1rah9x29ut"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76b7e493d215157f334df3d2e053cf70"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "815"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_c46IuR8AdaulrWYO
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "782"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
