---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-rules-3xxr4yioik0e","associations":[],"allow_all_inbound":true,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_RHFc70I5jZsttPUp","name":"tf-acc-test-rules-3xxr4yioik0e","allow_all_inbound":true,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2079752156be037393b6cdd1bf17c2dc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_RHFc70I5jZsttPUp
    method: GET
  response:
    body: '{"security_group":{"id":"sg_RHFc70I5jZsttPUp","name":"tf-acc-test-rules-3xxr4yioik0e","allow_all_inbound":true,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2079752156be037393b6cdd1bf17c2dc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_RHFc70I5jZsttPUp
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_N5C1t5DhYEtg7mFU","name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true,"created_at":1678292288}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa8c70455e3460aaa2a37ca5fe020430"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_N5C1t5DhYEtg7mFU
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_N5C1t5DhYEtg7mFU","name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true,"created_at":1678292288}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa8c70455e3460aaa2a37ca5fe020430"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_RHFc70I5jZsttPUp"},"properties":{"name":"%!s(MISSING)","associations":["vmgrp_N5C1t5DhYEtg7mFU"],"allow_all_inbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_RHFc70I5jZsttPUp","name":"%!s(MISSING)","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_N5C1t5DhYEtg7mFU"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c9cb09b8241572b3c7d0dbacdb4552d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_RHFc70I5jZsttPUp/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_gICUaufiO4RnoGh2","security_group":{"id":"sg_RHFc70I5jZsttPUp","name":"%!s(MISSING)"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["10.0.0.0/8"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3cc4e38473f77857cf309944315e3460"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_LBd4EySo0gQcy8RI
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LBd4EySo0gQcy8RI","name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true,"created_at":1678292290}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d701ab61184db6307ccb2320d37217f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_LBd4EySo0gQcy8RI
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LBd4EySo0gQcy8RI","name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true,"created_at":1678292290}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d701ab61184db6307ccb2320d37217f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "873"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_rA0iBFzrvNAPq7xe
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_rA0iBFzrvNAPq7xe","name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true,"created_at":1678292291}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be46e761abb7ac511fcb48354894f252"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "871"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_VLTjLHh8eKMqbaDd
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_VLTjLHh8eKMqbaDd","security_group":{"id":"sg_RHFc70I5jZsttPUp","name":"tf-acc-test-rules-3xxr4yioik0e"},"direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94b1c9f17fdb470331dcca3a6d7d856a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "867"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_GA0TXCm2BeVlGWHx
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_GA0TXCm2BeVlGWHx"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b95c99e4bd5bd2aeef6c3fcb791bbef7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "865"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_rA0iBFzrvNAPq7xe
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_rA0iBFzrvNAPq7xe","name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true,"created_at":1678292291}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be46e761abb7ac511fcb48354894f252"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "823"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"protocol":"TCP","ports":"80,443","targets":["all:ipv6","all:ipv4"],"notes":"HTTP & HTTPS"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_LLlN8wN8lDYJGGjG
    method: PATCH
  response:
    body: '{"security_group_rule":{"id":"sgr_LLlN8wN8lDYJGGjG","security_group":{"id":"sg_RHFc70I5jZsttPUp","name":"tf-acc-test-rules-3xxr4yioik0e"},"direction":"outbound","protocol":"TCP","ports":"80,443","targets":["all:ipv6","all:ipv4"],"notes":"HTTP
      \u0026 HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c672ff41465aa1c00991e30aa0bbafb8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "821"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_cORv7OCKTtRaX3qk
    method: DELETE
  response:
    body: '{"security_group_rule":{"id":"sgr_cORv7OCKTtRaX3qk"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a50a4fe1640c4420ee2ac9627f8b29d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "820"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_I3TJHgOWd9n9vKiW
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "798"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_gbsnxONtutPdNMwR
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "797"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_gICUaufiO4RnoGh2
    method: DELETE
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "795"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_N5C1t5DhYEtg7mFU
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_N5C1t5DhYEtg7mFU","name":"tf-acc-test-rules-3xxr4yioik0e","segregate":true,"created_at":1678292288}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa8c70455e3460aaa2a37ca5fe020430"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "777"
    status: 200 OK
    code: 200
    duration: ""
[...]
