---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-empty-optional-values-328w9vke4qj6","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_Khl2XOE1Z9UyhZOR","name":"tf-acc-test-empty-optional-values-328w9vke4qj6","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dbd68e7f51dccdc2755b6473e63bbbf0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_Khl2XOE1Z9UyhZOR
    method: GET
  response:
    body: '{"security_group":{"id":"sg_Khl2XOE1Z9UyhZOR","name":"tf-acc-test-empty-optional-values-328w9vke4qj6","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dbd68e7f51dccdc2755b6473e63bbbf0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_Khl2XOE1Z9UyhZOR/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_bOVmNXpXhrp921RN","security_group":{"id":"sg_Khl2XOE1Z9UyhZOR","name":"tf-acc-test-empty-optional-values-328w9vke4qj6"},"direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f3fea7c37ae80ec576ac453bb63a9ab"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_bOVmNXpXhrp921RN
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_bOVmNXpXhrp921RN","security_group":{"id":"sg_Khl2XOE1Z9UyhZOR","name":"tf-acc-test-empty-optional-values-328w9vke4qj6"},"direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f3fea7c37ae80ec576ac453bb63a9ab"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_bOVmNXpXhrp921RN
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
