---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-xu2x27tmyhiz","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_ZzumJcue4umcsIkm","name":"tf-acc-test-update-xu2x27tmyhiz","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3e8dff39a90f191ab9c257310a91456"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "881"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_ZzumJcue4umcsIkm
    method: GET
  response:
    body: '{"security_group":{"id":"sg_ZzumJcue4umcsIkm","name":"tf-acc-test-update-xu2x27tmyhiz","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3e8dff39a90f191ab9c257310a91456"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_ZzumJcue4umcsIkm/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_tZON6e9FIqUIdy9V","security_group":{"id":"sg_ZzumJcue4umcsIkm","name":"tf-acc-test-update-xu2x27tmyhiz"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f93b13dbbc6fd85e929c974d22237eac"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "871"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_tZON6e9FIqUIdy9V
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_tZON6e9FIqUIdy9V","security_group":{"id":"sg_ZzumJcue4umcsIkm","name":"tf-acc-test-update-xu2x27tmyhiz"},"direction":"inbound","protocol":"TCP","ports":"80","targets":["all:ipv4"],"notes":"HTTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f93b13dbbc6fd85e929c974d22237eac"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "868"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP","targets":["10.0.0.0/24"],"notes":"PING"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_tZON6e9FIqUIdy9V
    method: PATCH
  response:
    body: '{"error":{"code":"validation_error","description":"A validation error occurred
      with the object that was being created/updated/deleted","detail":{"errors":["Ports
      cannot be set with ICMP"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "817"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
