---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f850f16fe6b421fb1ba59745cc5e1f4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "865"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"jumpbox","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_3oUwGItMhM9jPo7H","name":"jumpbox","segregate":true,"created_at":1679595014}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1587d4cb2996fcd00883cd7abe41169f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "864"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_6jzLjBJ3gqwrV02q
    method: GET
  response:
    body: '{"security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f850f16fe6b421fb1ba59745cc5e1f4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "862"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_3oUwGItMhM9jPo7H
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_3oUwGItMhM9jPo7H","name":"jumpbox","segregate":true,"created_at":1679595014}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1587d4cb2996fcd00883cd7abe41169f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "861"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_6jzLjBJ3gqwrV02q/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_bhcB4pKhy7UMR70p","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"inbound","protocol":"TCP","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4da5f3c5bf6862801c34fb8f0401bfa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "859"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_bhcB4pKhy7UMR70p
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_bhcB4pKhy7UMR70p","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"inbound","protocol":"TCP","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4da5f3c5bf6862801c34fb8f0401bfa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "851"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_WVn6XCJLICFFGDlP
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_WVn6XCJLICFFGDlP","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"outbound","protocol":"TCP","ports":"25","targets":["195.66.84.24"],"notes":"Allow
      SMTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d71a9cbd710953196e9e8a7cfef72633"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "850"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_1biTwNtnHE40VJzC
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_1biTwNtnHE40VJzC","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"inbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c0c3cc63a146ea31a181c9aab5f8359b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "849"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_s1bNrIHDdKVEjM77
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_s1bNrIHDdKVEjM77","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"inbound","protocol":"TCP","ports":null,"targets":["100.68.232.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6bfe1a8d3e2bdf5e7b8736998e894448"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "848"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_82rawbn1tI0BypyG
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_82rawbn1tI0BypyG","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["106.240.71.168","vmgrp_3oUwGItMhM9jPo7H"],"notes":"Allow
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3bc4e9cd7d1b4856ade47f2e96cb25a4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "847"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_6HxfO2n8KykW6rZC
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_6HxfO2n8KykW6rZC","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"outbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa76f0f1b575fcfd8692d48c1d7f6c7d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "846"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_WFssHkSe1BzGW8ic
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_WFssHkSe1BzGW8ic","security_group":{"id":"sg_6jzLjBJ3gqwrV02q","name":"web"},"direction":"inbound","protocol":"TCP","ports":"3000-3999","targets":["152.15.204.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4f603c5ce44ef5914886f5348c0e2a95"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "845"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_3oUwGItMhM9jPo7H
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_3oUwGItMhM9jPo7H","name":"jumpbox","segregate":true,"created_at":1679595014}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1587d4cb2996fcd00883cd7abe41169f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "811"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_6jzLjBJ3gqwrV02q
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "808"
    status: 404 Not Found
    code: 404
    duration: ""
