---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_w0m3vUywU34MObio","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5061dff78503a618d852080abd2c8cce"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"jumpbox","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wk957U2MUJPj3upp","name":"jumpbox","segregate":true,"created_at":1678295466}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"146737673979d949624f879bda348f2f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_w0m3vUywU34MObio
    method: GET
  response:
    body: '{"security_group":{"id":"sg_w0m3vUywU34MObio","name":"web","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5061dff78503a618d852080abd2c8cce"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_wk957U2MUJPj3upp
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wk957U2MUJPj3upp","name":"jumpbox","segregate":true,"created_at":1678295466}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"146737673979d949624f879bda348f2f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"outbound","protocol":"TCP","ports":"25","targets":["195.66.84.24"],"notes":"Allow SMTP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_w0m3vUywU34MObio/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_I5oYS7oUlUbDE7iZ","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"outbound","protocol":"TCP","ports":"25","targets":["195.66.84.24"],"notes":"Allow
      SMTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c19ceab185a2de0ef6522f496ab93b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_I5oYS7oUlUbDE7iZ
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_I5oYS7oUlUbDE7iZ","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"outbound","protocol":"TCP","ports":"25","targets":["195.66.84.24"],"notes":"Allow
      SMTP"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c19ceab185a2de0ef6522f496ab93b5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_wC1nnXtzMwT1Dy5O
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_wC1nnXtzMwT1Dy5O","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"inbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"77dd7744461ec8e2667ed319cc17959d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_N9pjEcAjytAczrUV
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_N9pjEcAjytAczrUV","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"inbound","protocol":"TCP","ports":null,"targets":["100.68.232.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"485909ef96f434ec0ba6de5b2ed554ce"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_rHx7ZEwkzTxIAlN6
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_rHx7ZEwkzTxIAlN6","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"outbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"Allow
      HTTP/HTTPS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a5446a9dc13ea4fd10c5cf3fa03d9667"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_Jy8yrkbVDu3YBv3L
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_Jy8yrkbVDu3YBv3L","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"inbound","protocol":"TCP","ports":"3000-3999","targets":["152.15.204.0/24"],"notes":"Allow
      custom range"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f2ad3f001dde342c263bd40859ae7122"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_01cmgoh1R3R9Neyj
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_01cmgoh1R3R9Neyj","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["106.240.71.168","vmgrp_wk957U2MUJPj3upp"],"notes":"Allow
      SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0fdff3e49b7bf87ef55971f3434437de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_ntbXPd4cxrKQp65z
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_ntbXPd4cxrKQp65z","security_group":{"id":"sg_w0m3vUywU34MObio","name":"web"},"direction":"inbound","protocol":"TCP","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f9f356f7dc38645ddeb326b75e1c705"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_wk957U2MUJPj3upp
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_wk957U2MUJPj3upp","name":"jumpbox","segregate":true,"created_at":1678295466}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"146737673979d949624f879bda348f2f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_w0m3vUywU34MObio
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 404 Not Found
    code: 404
    duration: ""
