---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-associations-habomuspgsjm","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_V0LtwWu4EiCmY6GB","name":"tf-acc-test-associations-habomuspgsjm","segregate":true,"created_at":1679595212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ade1fa0244f2a34133d7f2c7a58b89e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "860"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_V0LtwWu4EiCmY6GB
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_V0LtwWu4EiCmY6GB","name":"tf-acc-test-associations-habomuspgsjm","segregate":true,"created_at":1679595212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ade1fa0244f2a34133d7f2c7a58b89e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "858"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-associations-habomuspgsjm","associations":["vmgrp_V0LtwWu4EiCmY6GB"],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_4C561TLhugyuW2RF","name":"tf-acc-test-associations-habomuspgsjm","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_V0LtwWu4EiCmY6GB"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4bc01de1698fc37defeefa59cefd2362"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "857"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_4C561TLhugyuW2RF
    method: GET
  response:
    body: '{"security_group":{"id":"sg_4C561TLhugyuW2RF","name":"tf-acc-test-associations-habomuspgsjm","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_V0LtwWu4EiCmY6GB"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4bc01de1698fc37defeefa59cefd2362"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "856"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_4C561TLhugyuW2RF
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "855"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_FOhNWMxehNzCxrox
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_FOhNWMxehNzCxrox","name":"tf-acc-test-associations-habomuspgsjm-db","segregate":true,"created_at":1679595214}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dfc9e9f234a5ff84b72f7dd401062447"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "836"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_4C561TLhugyuW2RF"},"properties":{"associations":["vmgrp_V0LtwWu4EiCmY6GB","vmgrp_FOhNWMxehNzCxrox"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_4C561TLhugyuW2RF","name":"tf-acc-test-associations-habomuspgsjm","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_V0LtwWu4EiCmY6GB","vmgrp_FOhNWMxehNzCxrox"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26b79bf499f99de0611452a704b1df5c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "835"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_FOhNWMxehNzCxrox
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_FOhNWMxehNzCxrox","name":"tf-acc-test-associations-habomuspgsjm-db","segregate":true,"created_at":1679595214}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dfc9e9f234a5ff84b72f7dd401062447"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "805"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_V0LtwWu4EiCmY6GB
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_V0LtwWu4EiCmY6GB","name":"tf-acc-test-associations-habomuspgsjm","segregate":true,"created_at":1679595212}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ade1fa0244f2a34133d7f2c7a58b89e4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "805"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_4C561TLhugyuW2RF
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "775"
    status: 404 Not Found
    code: 404
    duration: ""
