---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-l7ef7lciiege","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_hYMpzouCdJSfe2SZ","name":"tf-acc-test-minimal-l7ef7lciiege","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ccc83c8e23eda90acc136cc483790fdd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "866"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_hYMpzouCdJSfe2SZ
    method: GET
  response:
    body: '{"security_group":{"id":"sg_hYMpzouCdJSfe2SZ","name":"tf-acc-test-minimal-l7ef7lciiege","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ccc83c8e23eda90acc136cc483790fdd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "863"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_hYMpzouCdJSfe2SZ/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_I49AQf6IdjHlAXpn","security_group":{"id":"sg_hYMpzouCdJSfe2SZ","name":"tf-acc-test-minimal-l7ef7lciiege"},"direction":"inbound","protocol":"TCP","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f7dbfe24867b470e2a92696afe66ca6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "860"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_I49AQf6IdjHlAXpn
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_I49AQf6IdjHlAXpn","security_group":{"id":"sg_hYMpzouCdJSfe2SZ","name":"tf-acc-test-minimal-l7ef7lciiege"},"direction":"inbound","protocol":"TCP","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f7dbfe24867b470e2a92696afe66ca6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "853"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_I49AQf6IdjHlAXpn
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "806"
    status: 404 Not Found
    code: 404
    duration: ""
