---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"dynamic","associations":[],"allow_all_inbound":false,"allow_all_outbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_Clu4uPRIMZ3XD7L9","name":"dynamic","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f3bad0ee46412e8f5f97e46623e1a12"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"web","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_c7QHaDJQj4MnZMpW","name":"web","segregate":true,"created_at":1678296835}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0c964624f5ad87fa30a0822b4ce7af2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_jxQI4tlBnEZqMFV3
    method: GET
  response:
    body: '{"security_group":{"id":"sg_jxQI4tlBnEZqMFV3","name":"minimal","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"631085031be8d831c5f8223c5007044e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_c7QHaDJQj4MnZMpW
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_c7QHaDJQj4MnZMpW","name":"web","segregate":true,"created_at":1678296835}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0c964624f5ad87fa30a0822b4ce7af2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_UuuatIl3R73UQdbp
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_UuuatIl3R73UQdbp","name":"monitoring","segregate":true,"created_at":1678296835}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"254440b9f25012743c16dd03f8e24629"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_Clu4uPRIMZ3XD7L9/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_Xdqq7wQLRb4Es6SQ","security_group":{"id":"sg_Clu4uPRIMZ3XD7L9","name":"dynamic"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e2db0a4eadeda4a9833f2df882ac7e7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_jxQI4tlBnEZqMFV3
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_npdPPrMCYk2fvhM5/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_1lHWs4LMCWgsqgQw","security_group":{"id":"sg_npdPPrMCYk2fvhM5","name":"practical"},"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2261eeec3a0d26abcc25b727a8f14acd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_Clu4uPRIMZ3XD7L9
    method: GET
  response:
    body: '{"security_group":{"id":"sg_Clu4uPRIMZ3XD7L9","name":"dynamic","allow_all_inbound":false,"allow_all_outbound":true,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f3bad0ee46412e8f5f97e46623e1a12"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_Clu4uPRIMZ3XD7L9
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":3,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_Xdqq7wQLRb4Es6SQ","direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"},{"id":"sgr_agHhdhOcL0fMvzkU","direction":"inbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_TXaFlHbYx5llwuVa","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b2cbff6ea9e4c5fcc50a568d22553b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_npdPPrMCYk2fvhM5
    method: GET
  response:
    body: '{"security_group":{"id":"sg_npdPPrMCYk2fvhM5","name":"practical","allow_all_inbound":false,"allow_all_outbound":true,"associations":["vmgrp_c7QHaDJQj4MnZMpW"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"829d19a705458638232c92e8f5e9b501"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_npdPPrMCYk2fvhM5
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":4,"per_page":30,"large_set":false},"security_group_rules":[{"id":"sgr_1lHWs4LMCWgsqgQw","direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv6","all:ipv4"],"notes":"SSH"},{"id":"sgr_Sid5lcz8IftuAD0J","direction":"inbound","protocol":"TCP","ports":"80,433","targets":["all:ipv6","all:ipv4"],"notes":"HTTP
      \u0026 HTTPS"},{"id":"sgr_0gLvtB6iefxj0xvY","direction":"inbound","protocol":"UDP","ports":"443","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"},{"id":"sgr_81YsjOh4gCVNccS8","direction":"inbound","protocol":"ICMP","ports":null,"targets":["vmgrp_UuuatIl3R73UQdbp"],"notes":"ping"}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c46c95ae17e67edc00bb5d440c72408a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_c7QHaDJQj4MnZMpW
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_c7QHaDJQj4MnZMpW","name":"web","segregate":true,"created_at":1678296835}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0c964624f5ad87fa30a0822b4ce7af2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_UuuatIl3R73UQdbp
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_UuuatIl3R73UQdbp","name":"monitoring","segregate":true,"created_at":1678296835}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"254440b9f25012743c16dd03f8e24629"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_Clu4uPRIMZ3XD7L9
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
