---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-external-rules-coexistence-7t67waygxf77","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_x24P3YSHhTh1EK2f","name":"tf-acc-test-external-rules-coexistence-7t67waygxf77","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4136cf6e17b618b717c3eccd0c8938ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_x24P3YSHhTh1EK2f
    method: GET
  response:
    body: '{"security_group":{"id":"sg_x24P3YSHhTh1EK2f","name":"tf-acc-test-external-rules-coexistence-7t67waygxf77","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4136cf6e17b618b717c3eccd0c8938ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"TCP","ports":"22","targets":["all:ipv4"],"notes":"SSH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_x24P3YSHhTh1EK2f/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_QquOyU8E5i6ajHyV","security_group":{"id":"sg_x24P3YSHhTh1EK2f","name":"tf-acc-test-external-rules-coexistence-7t67waygxf77"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b57910f35ee2c7bf605218f75f6cb86c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_QquOyU8E5i6ajHyV
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_QquOyU8E5i6ajHyV","security_group":{"id":"sg_x24P3YSHhTh1EK2f","name":"tf-acc-test-external-rules-coexistence-7t67waygxf77"},"direction":"inbound","protocol":"TCP","action":"allow","ports":"22","targets":["all:ipv4"],"notes":"SSH"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b57910f35ee2c7bf605218f75f6cb86c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_R7XzvpK7wRHzWK7M
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_R7XzvpK7wRHzWK7M","security_group":{"id":"sg_x24P3YSHhTh1EK2f","name":"tf-acc-test-external-rules-coexistence-7t67waygxf77"},"direction":"outbound","protocol":"UDP","action":"allow","ports":"53","targets":["all:ipv6","all:ipv4"],"notes":"DNS"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"23f5842f8105974dbe1fec57a298f802"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_R7XzvpK7wRHzWK7M
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
