---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-invalid-pymryh14fm1a","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_d5vIijPVX7pN1Ovf","name":"tf-acc-test-invalid-pymryh14fm1a","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69780a2f71f3236187b38856717c9113"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_d5vIijPVX7pN1Ovf
    method: GET
  response:
    body: '{"security_group":{"id":"sg_d5vIijPVX7pN1Ovf","name":"tf-acc-test-invalid-pymryh14fm1a","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69780a2f71f3236187b38856717c9113"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP","ports":"80"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_d5vIijPVX7pN1Ovf/rules
    method: POST
  response:
    body: '{"error":{"code":"validation_error","description":"A validation error occurred
      with the object that was being created/updated/deleted","detail":{"errors":["Ports
      cannot be set with ICMP"]}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: |
      {"security_group":{"id":"sg_d5vIijPVX7pN1Ovf"},"properties":{"allow_all_inbound":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_d5vIijPVX7pN1Ovf","name":"tf-acc-test-invalid-pymryh14fm1a","allow_all_inbound":true,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec77989dd4c3eeb619562171478e833a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_d5vIijPVX7pN1Ovf
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
