---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-empty-optional-values-3f4szd6awvi8","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_NatxhuASLC6cqSI0","name":"tf-acc-test-empty-optional-values-3f4szd6awvi8","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff80633b581a22ce00864957e1c2d28c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_NatxhuASLC6cqSI0
    method: GET
  response:
    body: '{"security_group":{"id":"sg_NatxhuASLC6cqSI0","name":"tf-acc-test-empty-optional-values-3f4szd6awvi8","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff80633b581a22ce00864957e1c2d28c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"ICMP"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_NatxhuASLC6cqSI0/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_unL5avMJ8KMkKNTP","security_group":{"id":"sg_NatxhuASLC6cqSI0","name":"tf-acc-test-empty-optional-values-3f4szd6awvi8"},"direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"262ea634d35204bb8f824ee9380b9138"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_unL5avMJ8KMkKNTP
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_unL5avMJ8KMkKNTP","security_group":{"id":"sg_NatxhuASLC6cqSI0","name":"tf-acc-test-empty-optional-values-3f4szd6awvi8"},"direction":"inbound","protocol":"ICMP","action":"allow","ports":null,"targets":[],"notes":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"262ea634d35204bb8f824ee9380b9138"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_unL5avMJ8KMkKNTP
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
