---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-associations-ejav6u69kw0g","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_20zT9bMIpSyLn9IO","name":"tf-acc-test-associations-ejav6u69kw0g","segregate":true,"created_at":1678292287}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4db610dfbae99a072e9aa13fe709234f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_20zT9bMIpSyLn9IO
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_20zT9bMIpSyLn9IO","name":"tf-acc-test-associations-ejav6u69kw0g","segregate":true,"created_at":1678292287}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4db610dfbae99a072e9aa13fe709234f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-associations-ejav6u69kw0g","associations":["vmgrp_20zT9bMIpSyLn9IO"],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_Ac74VfMO89BHaaHU","name":"tf-acc-test-associations-ejav6u69kw0g","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_20zT9bMIpSyLn9IO"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9666b7a5b87a783d055fe988c51bf327"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_Ac74VfMO89BHaaHU
    method: GET
  response:
    body: '{"security_group":{"id":"sg_Ac74VfMO89BHaaHU","name":"tf-acc-test-associations-ejav6u69kw0g","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_20zT9bMIpSyLn9IO"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9666b7a5b87a783d055fe988c51bf327"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_/rules?page=1&security_group%5Bid%5D=sg_Ac74VfMO89BHaaHU
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":0,"total":0,"per_page":30,"large_set":false},"security_group_rules":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"98edeee67bfa9122e370cd377abbadda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_RvRTGgoDTtnNdsWz
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_RvRTGgoDTtnNdsWz","name":"tf-acc-test-associations-ejav6u69kw0g-db","segregate":true,"created_at":1678292288}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a6855b64d9576d72e5e68d029e78509"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"security_group":{"id":"sg_Ac74VfMO89BHaaHU"},"properties":{"associations":["vmgrp_20zT9bMIpSyLn9IO","vmgrp_RvRTGgoDTtnNdsWz"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/_
    method: PATCH
  response:
    body: '{"security_group":{"id":"sg_Ac74VfMO89BHaaHU","name":"tf-acc-test-associations-ejav6u69kw0g","allow_all_inbound":false,"allow_all_outbound":false,"associations":["vmgrp_20zT9bMIpSyLn9IO","vmgrp_RvRTGgoDTtnNdsWz"]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f28e7a4f2e5de3c7a2cca63211ee031"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_RvRTGgoDTtnNdsWz
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_RvRTGgoDTtnNdsWz","name":"tf-acc-test-associations-ejav6u69kw0g-db","segregate":true,"created_at":1678292288}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a6855b64d9576d72e5e68d029e78509"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_20zT9bMIpSyLn9IO
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_20zT9bMIpSyLn9IO","name":"tf-acc-test-associations-ejav6u69kw0g","segregate":true,"created_at":1678292287}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4db610dfbae99a072e9aa13fe709234f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_Ac74VfMO89BHaaHU
    method: GET
  response:
    body: '{"error":{"code":"security_group_not_found","description":"No security
      group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "874"
    status: 404 Not Found
    code: 404
    duration: ""
