---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-udp-4jh1wvhb6nyw","associations":[],"allow_all_inbound":false,"allow_all_outbound":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/security_groups
    method: POST
  response:
    body: '{"security_group":{"id":"sg_RYiQZQH1PVz0gWOS","name":"tf-acc-test-udp-4jh1wvhb6nyw","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a72df3b909a95afe00ce3eb25724b75a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "825"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/_?security_group%5Bid%5D=sg_RYiQZQH1PVz0gWOS
    method: GET
  response:
    body: '{"security_group":{"id":"sg_RYiQZQH1PVz0gWOS","name":"tf-acc-test-udp-4jh1wvhb6nyw","allow_all_inbound":false,"allow_all_outbound":false,"associations":[]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a72df3b909a95afe00ce3eb25724b75a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "824"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"properties":{"direction":"inbound","protocol":"UDP","ports":"443","targets":["10.0.0.1/24"],"notes":"QUIC"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/security_groups/sg_RYiQZQH1PVz0gWOS/rules
    method: POST
  response:
    body: '{"security_group_rule":{"id":"sgr_AwHPazyKBMnbqpzM","security_group":{"id":"sg_RYiQZQH1PVz0gWOS","name":"tf-acc-test-udp-4jh1wvhb6nyw"},"direction":"inbound","protocol":"UDP","ports":"443","targets":["10.0.0.1/24"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d44d7e6cf424da2258da533b54a09cd0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "823"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_AwHPazyKBMnbqpzM
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_AwHPazyKBMnbqpzM","security_group":{"id":"sg_RYiQZQH1PVz0gWOS","name":"tf-acc-test-udp-4jh1wvhb6nyw"},"direction":"inbound","protocol":"UDP","ports":"443","targets":["10.0.0.1/24"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d44d7e6cf424da2258da533b54a09cd0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "822"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_wf5pQ2n67kznPtrW
    method: GET
  response:
    body: '{"security_group_rule":{"id":"sgr_wf5pQ2n67kznPtrW","security_group":{"id":"sg_RYiQZQH1PVz0gWOS","name":"tf-acc-test-udp-4jh1wvhb6nyw"},"direction":"inbound","protocol":"UDP","ports":"433","targets":["all:ipv6","all:ipv4"],"notes":"QUIC"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65d8a74dc6e3e4cdbba7163aef2084ea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "770"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/security_groups/rules/_?security_group_rule%5Bid%5D=sgr_AwHPazyKBMnbqpzM
    method: GET
  response:
    body: '{"error":{"code":"security_group_rule_not_found","description":"No security
      group rule was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "760"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
