---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"185-53-57-181.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"341a9e86a82744df48abedbcdb3dc80d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fMD5HaEqFFRyQf0I
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"185-53-57-181.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f9a772ad802c0d44fd8f7cd06ffd81e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_fMD5HaEqFFRyQf0I</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-clumsy-green-avocado</Hostname></Hostname><Name>tf-acc-test-update_speed_profile-xpdnubcfjqbz</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_tn3iHsJjHDzNBibf","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_BipPGemKgARrbEWJ","state":"pending"},"virtual_machine_build":{"id":"vmbuild_BipPGemKgARrbEWJ","state":"pending"},"hostname":"tf-acc-test-clumsy-green-avocado"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ce82a9c34da0ece3fdd5e3fec157a78"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_BipPGemKgARrbEWJ
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_BipPGemKgARrbEWJ","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.181\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-clumsy-green-avocado\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update_speed_profile-xpdnubcfjqbz\u003c/Name\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers
      all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_PjpR5HXJbBXDHJGu","name":"tf-acc-test-update_speed_profile-xpdnubcfjqbz","hostname":"tf-acc-test-clumsy-green-avocado","fqdn":"tf-acc-test-clumsy-green-avocado.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1617042006}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b76ec184bae0c305f5b1a4808292e63"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_PjpR5HXJbBXDHJGu
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_PjpR5HXJbBXDHJGu","name":"tf-acc-test-update_speed_profile-xpdnubcfjqbz","hostname":"tf-acc-test-clumsy-green-avocado","fqdn":"tf-acc-test-clumsy-green-avocado.terraform-acc-test.katapult.cloud","description":null,"created_at":1617042007,"initial_root_password":"BOAyYT1Zsa8ZdnaH","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"tf-acc-test-clumsy-green-avocado.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_PjpR5HXJbBXDHJGu","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b8aca560c84d35aa20f5f3473c83437b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_PjpR5HXJbBXDHJGu
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_eKCmY1doKB71urXj","name":"Public
      Network on tf-acc-test-update_speed_profile-xpdnubcfjqbz","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0375f15773a968ad3ca5a71f4cc96c1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/vmnet_eKCmY1doKB71urXj
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_eKCmY1doKB71urXj","virtual_machine":{"id":"vm_PjpR5HXJbBXDHJGu","name":"tf-acc-test-update_speed_profile-xpdnubcfjqbz"},"name":"Public
      Network on tf-acc-test-update_speed_profile-xpdnubcfjqbz","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:d1:ba:69:c6:e2","state":"attached","ip_addresses":[{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a91ab85ce7f89a5cafa5fcb494aaa763"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fMD5HaEqFFRyQf0I
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181","reverse_dns":"tf-acc-test-clumsy-green-avocado.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.181/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_PjpR5HXJbBXDHJGu","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_PjpR5HXJbBXDHJGu","name":"tf-acc-test-update_speed_profile-xpdnubcfjqbz"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"127b7a2b6f1df045a9bcfc993db09f32"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_PjpR5HXJbBXDHJGu
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_eKCmY1doKB71urXj","name":"Public
      Network on tf-acc-test-update_speed_profile-xpdnubcfjqbz","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_fMD5HaEqFFRyQf0I","address":"185.53.57.181"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8d27fb2cab005613818dd06febf707f1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "168"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_eKCmY1doKB71urXj"},"speed_profile":{"permalink":"1gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_XZg7xhwWalgTYiv2","name":"Change network interface
      speed profile","status":"pending","created_at":1617042029,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b48669e9da8b7778a9e2b206038e5116"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "167"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_XZg7xhwWalgTYiv2
    method: GET
  response:
    body: '{"task":{"id":"task_XZg7xhwWalgTYiv2","name":"Change network interface
      speed profile","status":"running","created_at":1617042029,"started_at":1617042030,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fb59e8e788b3080a32f7492c4baea426"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "166"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_PjpR5HXJbBXDHJGu"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_PjpR5HXJbBXDHJGu","name":"tf-acc-test-update_speed_profile-xpdnubcfjqbz","hostname":"tf-acc-test-clumsy-green-avocado","fqdn":"tf-acc-test-clumsy-green-avocado.terraform-acc-test.katapult.cloud","description":null,"created_at":1617042007,"initial_root_password":"BOAyYT1Zsa8ZdnaH","state":"start[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_PjpR5HXJbBXDHJGu
    method: POST
  response:
    body: '{"task":{"id":"task_lSNf0j9fE13YtzHA","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6456dfc59f78cdff51db9a5239db08da"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "154"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_lSNf0j9fE13YtzHA
    method: GET
  response:
    body: '{"task":{"id":"task_lSNf0j9fE13YtzHA","name":"Stop virtual machine","status":"running","created_at":1617042038,"started_at":1617042039,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee914ad306773f199df08c993f98f369"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "153"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_PjpR5HXJbBXDHJGu
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_MNXlPNkSWQqR92u8","keep_until":1617214845,"object_id":"vm_PjpR5HXJbBXDHJGu","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_PjpR5HXJbBXDHJGu","name":"tf-acc-test-update_speed_profile-xpdnubcfjqbz","hostname":"tf-acc-test-clumsy-green-avocado","fqdn":"tf-acc-test-clumsy-green-avocado.terraform-acc-test.katapult.cloud","description":null,"created_at":1617042007,"initial_root_password":"BOAyYT1Zsa8ZdnaH","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_fMD5HaEqFFRyQf0I
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "150"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_MNXlPNkSWQqR92u8
    method: DELETE
  response:
    body: '{"task":{"id":"task_f2v858BXxmBVf3iT","name":"Purge items from trash","status":"pending","created_at":1617042046,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"310e440d0834071dad1b641419cf9643"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "149"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_f2v858BXxmBVf3iT
    method: GET
  response:
    body: '{"task":{"id":"task_f2v858BXxmBVf3iT","name":"Purge items from trash","status":"running","created_at":1617042046,"started_at":1617042046,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ba5f5b7a0215c3560e731b2be9bf318"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "148"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_PjpR5HXJbBXDHJGu
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "145"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
