---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-lijqpx8ehti6-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_u8eeWAmC3nP5GwKH","name":"tf-acc-test-basic-lijqpx8ehti6-group","segregate":true,"created_at":1615224219}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"816fcfa6adaa63edc0da621eefc21a56"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_u8eeWAmC3nP5GwKH
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_u8eeWAmC3nP5GwKH","name":"tf-acc-test-basic-lijqpx8ehti6-group","segregate":true,"created_at":1615224219}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"816fcfa6adaa63edc0da621eefc21a56"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_sJHgNQWW2qCx49GH","address":"185.53.57.171","reverse_dns":"185-53-57-171.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.171/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f29e6622f0b83d0d2f35d160ae13e6f7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_sJHgNQWW2qCx49GH
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_sJHgNQWW2qCx49GH","address":"185.53.57.171","reverse_dns":"185-53-57-171.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.171/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fa3c9aeedbc0404c661319613e37449c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_sJHgNQWW2qCx49GH</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-lijqpx8ehti6-host</Hostname></Hostname><Name>tf-acc-test-basic-lijqpx8ehti6</Name><Description>A web server.</Description><Group>vmgrp_u8eeWAmC3nP5GwKH</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_cBuiDABaNcU0SImy","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_mwrvUBdLGha6Q9py","state":"pending"},"virtual_machine_build":{"id":"vmbuild_mwrvUBdLGha6Q9py","state":"pending"},"hostname":"tf-acc-test-basic-lijqpx8ehti6-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae678099d9d67beed02b29e1250b63c9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_mwrvUBdLGha6Q9py
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_mwrvUBdLGha6Q9py","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_mnPMGOT1Uc5v5ASR"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_mnPMGOT1Uc5v5ASR","name":"tf-acc-test-basic-lijqpx8ehti6","hostname":"tf-acc-test-basic-lijqpx8ehti6-host","fqdn":"tf-acc-test-basic-lijqpx8ehti6-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615224220,"initial_root_password":"LfNLOq2d7ZOSd0iX","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_u8eeWAmC3nP5GwKH","name":"tf-acc-test-basic-lijqpx8ehti6-group","segregate":true,"created_at":1615224219},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_sJHgNQWW2qCx49GH","address":"185.53.57.171","reverse_dns":"tf-acc-test-basic-lijqpx8ehti6-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.171/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_mnPMGOT1Uc5v5ASR","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f111656a3906a98f406ba240e2d1c3d9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_mnPMGOT1Uc5v5ASR
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_mnPMGOT1Uc5v5ASR","name":"tf-acc-test-basic-lijqpx8ehti6","hostname":"tf-acc-test-basic-lijqpx8ehti6-host","fqdn":"tf-acc-test-basic-lijqpx8ehti6-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615224220,"initial_root_password":"LfNLOq2[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_sJHgNQWW2qCx49GH
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_sJHgNQWW2qCx49GH","address":"185.53.57.171","reverse_dns":"tf-acc-test-basic-lijqpx8ehti6-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.171/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_mnPMGOT1Uc5v5ASR","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_mnPMGOT1Uc5v5ASR","name":"tf-acc-test-basic-lijqpx8ehti6"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff77b5c75ff9e57bfa109a412be9b42c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_mnPMGOT1Uc5v5ASR
    method: POST
  response:
    body: '{"task":{"id":"task_muaaLk8xXoNYPolx","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ee59698b557041f8b904d130e9f4df8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_muaaLk8xXoNYPolx
    method: GET
  response:
    body: '{"task":{"id":"task_muaaLk8xXoNYPolx","name":"Stop virtual machine","status":"running","created_at":1615224240,"started_at":1615224241,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e45f4c6317b54aef9c2f585250b69e8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_mnPMGOT1Uc5v5ASR
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_Gr6RSnDUpz0Mdd4M","keep_until":1615397046,"object_id":"vm_mnPMGOT1Uc5v5ASR","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_mnPMGOT1Uc5v5ASR","name":"tf-acc-test-basic-lijqpx8ehti6","hostname":"tf-acc-test-basic-lijqpx8ehti6-host","fqdn":"tf-acc-test-basic-lijqpx8ehti6-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1615224220,"initial_root_password":"LfNLOq2d7ZOSd0iX","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_sJHgNQWW2qCx49GH
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_Gr6RSnDUpz0Mdd4M
    method: DELETE
  response:
    body: '{"task":{"id":"task_9uttJ1mm51RBQYIs","name":"Purge items from trash","status":"pending","created_at":1615224247,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d1f9df9902e1f667a5be42e5540cd4c4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_9uttJ1mm51RBQYIs
    method: GET
  response:
    body: '{"task":{"id":"task_9uttJ1mm51RBQYIs","name":"Purge items from trash","status":"running","created_at":1615224247,"started_at":1615224248,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"60e70b26ba0a9ddc68567dfd5a7f6f21"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_u8eeWAmC3nP5GwKH
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_u8eeWAmC3nP5GwKH","name":"tf-acc-test-basic-lijqpx8ehti6-group","segregate":true,"created_at":1615224219}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"816fcfa6adaa63edc0da621eefc21a56"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_mnPMGOT1Uc5v5ASR
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
