---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "815"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update_group-thwrfr60n1m2","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_bYREWxRVmmXLudXH","name":"tf-acc-test-update_group-thwrfr60n1m2","segregate":true,"created_at":1676031225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d28eb91447aa3fdf6bad3969db0b51d8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "817"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_bYREWxRVmmXLudXH
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_bYREWxRVmmXLudXH","name":"tf-acc-test-update_group-thwrfr60n1m2","segregate":true,"created_at":1676031225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d28eb91447aa3fdf6bad3969db0b51d8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "812"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"185-199-222-21.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3800ced61b87a06fdc1ed4f888deb861"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "813"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3Mc6zF0VP1zK9Z7n
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"185-199-222-21.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d73e9de6162e4a6972c8f55598b5f968"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "807"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_3Mc6zF0VP1zK9Z7n</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-magnificent-proud-brass</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_7LKXfukdhElS3Shi","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_2ewDymr0N1tD7xf7","state":"pending"},"virtual_machine_build":{"id":"vmbuild_2ewDymr0N1tD7xf7","state":"pending"},"hostname":"tf-acc-test-magnificent-proud-brass"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"caf139f19e5a036ca8abc38c6cc5bc9e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "803"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_2ewDymr0N1tD7xf7
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_2ewDymr0N1tD7xf7","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.21\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-magnificent-proud-brass\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1676031225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6cebfceabbb0f2b6e267c26f02482553"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "794"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_y3ZmZPCgg10zhmRf
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_y3ZmZPCgg10zhmRf","name":"tf-acc-test-magnificent-proud-brass","hostname":"tf-acc-test-magnificent-proud-brass","fqdn":"tf-acc-test-magnificent-proud-brass.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"hJS5HBDdgTKKI94U","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"tf-acc-test-magnificent-proud-brass.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_y3ZmZPCgg10zhmRf","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"53eaf0df012a950cecede4695784e941"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_y3ZmZPCgg10zhmRf
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_QL3zbH9fMsTImzLs","name":"Public
      Network on tf-acc-test-magnificent-proud-brass","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"122da0048491a3372d6bf90741366d7f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_QL3zbH9fMsTImzLs
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_QL3zbH9fMsTImzLs","virtual_machine":{"id":"vm_y3ZmZPCgg10zhmRf","name":"tf-acc-test-magnificent-proud-brass"},"name":"Public
      Network on tf-acc-test-magnificent-proud-brass","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:73:47:61:ef:ba","state":"attached","ip_addresses":[{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"10dd9fd24da1dcc78898af7747d6ed78"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "911"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3Mc6zF0VP1zK9Z7n
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"tf-acc-test-magnificent-proud-brass.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_y3ZmZPCgg10zhmRf","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_y3ZmZPCgg10zhmRf","name":"tf-acc-test-magnificent-proud-brass"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"11e69b27b5f6635b13c6361b1ff43c3b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_y3ZmZPCgg10zhmRf"},"properties":{"group":{"id":"vmgrp_bYREWxRVmmXLudXH"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_y3ZmZPCgg10zhmRf","name":"tf-acc-test-magnificent-proud-brass","hostname":"tf-acc-test-magnificent-proud-brass","fqdn":"tf-acc-test-magnificent-proud-brass.terraform-[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_bYREWxRVmmXLudXH
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_bYREWxRVmmXLudXH","name":"tf-acc-test-update_group-thwrfr60n1m2","segregate":true,"created_at":1676031225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d28eb91447aa3fdf6bad3969db0b51d8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "870"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_y3ZmZPCgg10zhmRf
    method: POST
  response:
    body: '{"task":{"id":"task_GaGEh1Y7coLpG3MB","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"39a4509c0f544cfd85f21adaf19eb65f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "853"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_GaGEh1Y7coLpG3MB
    method: GET
  response:
    body: '{"task":{"id":"task_GaGEh1Y7coLpG3MB","name":"Stop virtual machine","status":"running","created_at":1676031258,"started_at":1676031258,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6932e184447a18d5941c4e15d5a69a47"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "846"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_y3ZmZPCgg10zhmRf
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_PeNoWfL09pQOQM2s","keep_until":1676204064,"object_id":"vm_y3ZmZPCgg10zhmRf","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_y3ZmZPCgg10zhmRf","name":"tf-acc-test-magnificent-proud-brass","hostname":"tf-acc-test-magnificent-proud-brass","fqdn":"tf-acc-test-magnificent-proud-brass.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"hJS5HBDdgTKKI94U","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_3Mc6zF0VP1zK9Z7n
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "841"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_PeNoWfL09pQOQM2s
    method: DELETE
  response:
    body: '{"task":{"id":"task_xBd5LokJaqLUGyFh","name":"Purge items from trash","status":"pending","created_at":1676031264,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d05c35bf7f009d63a7abf4f96709e86"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_xBd5LokJaqLUGyFh
    method: GET
  response:
    body: '{"task":{"id":"task_xBd5LokJaqLUGyFh","name":"Purge items from trash","status":"running","created_at":1676031264,"started_at":1676031265,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d81cccfa29f28a783b9ca8d7b23dd45"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "834"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_y3ZmZPCgg10zhmRf
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "830"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
