---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199","reverse_dns":"185-44-255-199.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.199/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"738d0fac5acf667df71916227635adcb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_tOxENxunxZKXcBKj
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199","reverse_dns":"185-44-255-199.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.199/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"414171ee5fe1f0dccef809d2d8929926"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_tOxENxunxZKXcBKj</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-short-shrill-kumquat</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_0HFP3TVVjw302W3g","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_btCphJCopWpNWwgW","state":"pending"},"virtual_machine_build":{"id":"vmbuild_btCphJCopWpNWwgW","state":"pending"},"hostname":"tf-acc-test-short-shrill-kumquat","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"21df126c2974eab7c49a7a4bc347b9c1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_btCphJCopWpNWwgW
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_btCphJCopWpNWwgW","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.255.199\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-short-shrill-kumquat\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738860019},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d1689b059a2b4e5572c463667f4939d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_1n1jYQzatKHjPKDS
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_1n1jYQzatKHjPKDS","name":"tf-acc-test-short-shrill-kumquat","hostname":"tf-acc-test-short-shrill-kumquat","fqdn":"tf-acc-test-short-shrill-kumquat.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860031,"initial_root_password":"lq8AbCrJYB77WQpG","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199","reverse_dns":"tf-acc-test-short-shrill-kumquat.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.199/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_1n1jYQzatKHjPKDS","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"260a37917fbe7312389a65c22e07bb63"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "898"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_1n1jYQzatKHjPKDS
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_zphrNgjrDus4bTO2","name":"Public
      Network on tf-acc-test-short-shrill-kumquat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be95ccdd3bdfbb84d0a835a8a4ad5ed0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_zphrNgjrDus4bTO2
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_zphrNgjrDus4bTO2","virtual_machine":{"id":"vm_1n1jYQzatKHjPKDS","name":"tf-acc-test-short-shrill-kumquat"},"name":"Public
      Network on tf-acc-test-short-shrill-kumquat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:27:de:03:ef:95","state":"attached","ip_addresses":[{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ce9f46df268c64b8cb78e999fcfed8e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_zphrNgjrDus4bTO2
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_zphrNgjrDus4bTO2","virtual_machine":{"id":"vm_1n1jYQzatKHjPKDS","name":"tf-acc-test-short-shrill-kumquat"},"name":"Public
      Network on tf-acc-test-short-shrill-kumquat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:27:de:03:ef:95","state":"attached","ip_addresses":[{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ce9f46df268c64b8cb78e999fcfed8e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_tOxENxunxZKXcBKj
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199","reverse_dns":"tf-acc-test-short-shrill-kumquat.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.199/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_1n1jYQzatKHjPKDS","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_1n1jYQzatKHjPKDS","name":"tf-acc-test-short-shrill-kumquat"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"381bd3ddd3cb955a704f10837779cba3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_I5iBFR5yTEbZlqZV
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_I5iBFR5yTEbZlqZV","address":"185.44.255.49","reverse_dns":"185-44-255-49.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.49/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a062507a6b604deebe6684d01a381b4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "915"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_1n1jYQzatKHjPKDS
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_zphrNgjrDus4bTO2","name":"Public
      Network on tf-acc-test-short-shrill-kumquat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be95ccdd3bdfbb84d0a835a8a4ad5ed0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_zphrNgjrDus4bTO2"},"ip_address":{"id":"ip_I5iBFR5yTEbZlqZV"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_zphrNgjrDus4bTO2","virtual_machine":{"id":"vm_1n1jYQzatKHjPKDS","name":"tf-acc-test-short-shrill-kumquat"},"name":"Public
      Network on tf-acc-test-short-shrill-kumquat","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:27:de:03:ef:95","state":"attached","ip_addresses":[{"id":"ip_I5iBFR5yTEbZlqZV","address":"185.44.255.49"},{"id":"ip_tOxENxunxZKXcBKj","address":"185.44.255.199"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"820eacf3f536835e9017f5914f9e99cc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "911"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_1n1jYQzatKHjPKDS"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_1n1jYQzatKHjPKDS","name":"tf-acc-test-short-shrill-kumquat","hostname":"tf-acc-test-short-shrill-kumquat","fqdn":"tf-acc-test-short-shrill-kumquat.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860031,"initial_root_password":"lq8AbCrJYB77WQpG","state":"started","zone":{"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_I5iBFR5yTEbZlqZV
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "891"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_1n1jYQzatKHjPKDS
    method: POST
  response:
    body: '{"task":{"id":"task_KWwFUnv8AgKz0Uq9","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ce670f4b49b293ecce8e15115b479645"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "875"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_KWwFUnv8AgKz0Uq9
    method: GET
  response:
    body: '{"task":{"id":"task_KWwFUnv8AgKz0Uq9","name":"Stop virtual machine","status":"running","created_at":1738860069,"started_at":1738860070,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a852004a640aeb9813cfee284d936fb9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "872"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_1n1jYQzatKHjPKDS
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_HqXxC7ObTNkvLyNt","keep_until":1739032876,"object_id":"vm_1n1jYQzatKHjPKDS","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_1n1jYQzatKHjPKDS","name":"tf-acc-test-short-shrill-kumquat","hostname":"tf-acc-test-short-shrill-kumquat","fqdn":"tf-acc-test-short-shrill-kumquat.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860031,"initial_root_password":"lq8AbCrJYB77WQpG","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_tOxENxunxZKXcBKj
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "858"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_1n1jYQzatKHjPKDS
    method: DELETE
  response:
    body: '{"task":{"id":"task_QTzwP1AUUOiA4fsh","name":"Purge items from trash","status":"pending","created_at":1738860077,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c59ea1db6ca2746df27883ccb3308b8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "857"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_1n1jYQzatKHjPKDS
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "832"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
