---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-kp0bb6ldt3ov-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_pIuWN0BEJCv5SLNY","name":"tf-acc-test-basic-kp0bb6ldt3ov-group","segregate":true,"created_at":1679595137}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7409480a46bd0c05a524299e74610065"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_pIuWN0BEJCv5SLNY
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_pIuWN0BEJCv5SLNY","name":"tf-acc-test-basic-kp0bb6ldt3ov-group","segregate":true,"created_at":1679595137}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7409480a46bd0c05a524299e74610065"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"185-199-222-16.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bca869113d81fc0901f92a0d7516e299"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Ntu5DTZickqN6c9T
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"185-199-222-16.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e885820193fa788a5a81f9194c9217d1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_z6ShjS7x8jv8GyKH
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_z6ShjS7x8jv8GyKH","address":"185.199.222.82","reverse_dns":"185-199-222-82.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.82/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cda0687c826fe99974a1eaa7b8a9c2d8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_Ntu5DTZickqN6c9T</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_z6ShjS7x8jv8GyKH</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-kp0bb6ldt3ov-host</Hostname></Hostname><Name>tf-acc-test-basic-kp0bb6ldt3ov</Name><Description>A web server.</Description><Group>vmgrp_pIuWN0BEJCv5SLNY</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_B0iAJ8AoiUfUbSOh","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_U524UoQxPW61DoYs","state":"pending"},"virtual_machine_build":{"id":"vmbuild_U524UoQxPW61DoYs","state":"pending"},"hostname":"tf-acc-test-basic-kp0bb6ldt3ov-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71cc9637a632ee23d45fc3d8321a90b6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_U524UoQxPW61DoYs
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_U524UoQxPW61DoYs","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_W5VKa2lIiuChZEce"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_W5VKa2lIiuChZEce","name":"tf-acc-test-basic-kp0bb6ldt3ov","hostname":"tf-acc-test-basic-kp0bb6ldt3ov-host","fqdn":"tf-acc-test-basic-kp0bb6ldt3ov-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679595145,"initial_root_password":"yYFdeUxtfCdZQ2Uj","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_pIuWN0BEJCv5SLNY","name":"tf-acc-test-basic-kp0bb6ldt3ov-group","segregate":true,"created_at":1679595137},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"tf-acc-test-basic-kp0bb6ldt3ov-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_W5VKa2lIiuChZEce","allocation_type":"VirtualMachine"},{"id":"ip_z6ShjS7x8jv8GyKH","address":"185.199.222.82","reverse_dns":"tf-acc-test-basic-kp0bb6ldt3ov-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.82/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_W5VKa2lIiuChZEce","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d10bd1f6045ab61fc863920f5a883b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "906"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_W5VKa2lIiuChZEce
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_W5VKa2lIiuChZEce","name":"tf-acc-test-basic-kp0bb6ldt3ov","hostname":"tf-acc-test-basic-kp0bb6ldt3ov-host","fqdn":"tf-acc-test-basic-kp0bb6ldt3ov-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679595145,"initial_root_password":"yYFdeUx[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_W5VKa2lIiuChZEce
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_EWop3L7d10w01lwN","name":"Public
      Network on tf-acc-test-basic-kp0bb6ldt3ov","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16"},{"id":"ip_z6ShjS7x8jv8GyKH","address":"185.199.222.82"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c1e97acca1b1437557bb68c36c873de"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "889"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_EWop3L7d10w01lwN
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_EWop3L7d10w01lwN","virtual_machine":{"id":"vm_W5VKa2lIiuChZEce","name":"tf-acc-test-basic-kp0bb6ldt3ov"},"name":"Public
      Network on tf-acc-test-basic-kp0bb6ldt3ov","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:60:cd:3e:b0:94","state":"attached","ip_addresses":[{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16"},{"id":"ip_z6ShjS7x8jv8GyKH","address":"185.199.222.82"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dda2016cff9229189d5ed1bbbf262fd3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Ntu5DTZickqN6c9T
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"tf-acc-test-basic-kp0bb6ldt3ov-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_W5VKa2lIiuChZEce","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_W5VKa2lIiuChZEce","name":"tf-acc-test-basic-kp0bb6ldt3ov"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"037bfd255d1ea7ac61e0de04bf5cb6b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "885"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_W5VKa2lIiuChZEce
    method: POST
  response:
    body: '{"task":{"id":"task_7qC03fn3y7fXqz21","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"39efeaf41a3d042948638a0d57700bd1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_7qC03fn3y7fXqz21
    method: GET
  response:
    body: '{"task":{"id":"task_7qC03fn3y7fXqz21","name":"Stop virtual machine","status":"pending","created_at":1679595174,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"732bb75bb3e18d266b01eaeb31b6ebcc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "876"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_W5VKa2lIiuChZEce
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_H0CicrEKboCIInN2","keep_until":1679768001,"object_id":"vm_W5VKa2lIiuChZEce","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_W5VKa2lIiuChZEce","name":"tf-acc-test-basic-kp0bb6ldt3ov","hostname":"tf-acc-test-basic-kp0bb6ldt3ov-host","fqdn":"tf-acc-test-basic-kp0bb6ldt3ov-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679595145,"initial_root_password":"yYFdeUxtfCdZQ2Uj","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Ntu5DTZickqN6c9T
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_z6ShjS7x8jv8GyKH
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_W5VKa2lIiuChZEce
    method: DELETE
  response:
    body: '{"task":{"id":"task_Jlqt9jP2ob8A2N7S","name":"Purge items from trash","status":"pending","created_at":1679595202,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e499bbf019ce30f370fb093f6a812ddb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_W5VKa2lIiuChZEce
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "608"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_pIuWN0BEJCv5SLNY
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_pIuWN0BEJCv5SLNY","name":"tf-acc-test-basic-kp0bb6ldt3ov-group","segregate":true,"created_at":1679595137}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7409480a46bd0c05a524299e74610065"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "607"
    status: 200 OK
    code: 200
    duration: ""
[...]
