---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-custom-disks-mj1luon2gbp9-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_b3kgNzr7Smx5Q3KU","name":"tf-acc-test-custom-disks-mj1luon2gbp9-group","segregate":true,"created_at":1674745243}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0558b62dcbb2e0d913f7121c78dd1272"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_b3kgNzr7Smx5Q3KU
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_b3kgNzr7Smx5Q3KU","name":"tf-acc-test-custom-disks-mj1luon2gbp9-group","segregate":true,"created_at":1674745243}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0558b62dcbb2e0d913f7121c78dd1272"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Mlg4rRK50cDs2ZT5","address":"185.199.222.184","reverse_dns":"185-199-222-184.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.184/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba25ffdf74f560ea607b8a94ee417a64"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Mlg4rRK50cDs2ZT5
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Mlg4rRK50cDs2ZT5","address":"185.199.222.184","reverse_dns":"185-199-222-184.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.184/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a10b306dfe649e3a1c45d0e085fe0fc0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_h2uLGUVZLOilCIBo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_h2uLGUVZLOilCIBo","address":"185.199.222.71","reverse_dns":"185-199-222-71.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.71/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f759eeea69ce05052326c0d3b29a9b00"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><SystemDisks><Disk><Name>System</Name><Size>20</Size></Disk><Disk><Name>Data</Name><Size>10</Size></Disk><Disk><Name>Disk #3</Name><Size>10</Size></Disk></SystemDisks><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_Mlg4rRK50cDs2ZT5</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_h2uLGUVZLOilCIBo</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-custom-disks-mj1luon2gbp9-host</Hostname></Hostname><Name>tf-acc-test-custom-disks-mj1luon2gbp9</Name><Description>A web server.</Description><Group>vmgrp_b3kgNzr7Smx5Q3KU</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_0IMH8vUJ63QZWWs9","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_1aTRaU7V6RnrjAKB","state":"pending"},"virtual_machine_build":{"id":"vmbuild_1aTRaU7V6RnrjAKB","state":"pending"},"hostname":"tf-acc-test-custom-disks-mj1luon2gbp9-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4799fef6226a9adc5d57af761937778"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_1aTRaU7V6RnrjAKB
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_1aTRaU7V6RnrjAKB","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_qlPkfTNv5NkTcUfC"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_qlPkfTNv5NkTcUfC","name":"tf-acc-test-custom-disks-mj1luon2gbp9","hostname":"tf-acc-test-custom-disks-mj1luon2gbp9-host","fqdn":"tf-acc-test-custom-disks-mj1luon2gbp9-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674745254,"initial_root_password":"K3iDzZAX0qJwDxVT","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_b3kgNzr7Smx5Q3KU","name":"tf-acc-test-custom-disks-mj1luon2gbp9-group","segregate":true,"created_at":1674745243},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_h2uLGUVZLOilCIBo","address":"185.199.222.71","reverse_dns":"tf-acc-test-custom-disks-mj1luon2gbp9-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.71/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_qlPkfTNv5NkTcUfC","allocation_type":"VirtualMachine"},{"id":"ip_Mlg4rRK50cDs2ZT5","address":"185.199.222.184","reverse_dns":"tf-acc-test-custom-disks-mj1luon2gbp9-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.184/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_qlPkfTNv5NkTcUfC","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"042cadb47152013b2615e342d13eef36"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_qlPkfTNv5NkTcUfC
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_qlPkfTNv5NkTcUfC","name":"tf-acc-test-custom-disks-mj1luon2gbp9","hostname":"tf-acc-test-custom-disks-mj1luon2gbp9-host","fqdn":"tf-acc-test-custom-disks-mj1luon2gbp9-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674745254,"initial_ro[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_qlPkfTNv5NkTcUfC
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_RwZa0pPGqpfTyo4W","name":"Public
      Network on tf-acc-test-custom-disks-mj1luon2gbp9","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_h2uLGUVZLOilCIBo","address":"185.199.222.71"},{"id":"ip_Mlg4rRK50cDs2ZT5","address":"185.199.222.184"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d90e1efaec3b6a84985e132b36ab916"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_RwZa0pPGqpfTyo4W
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_RwZa0pPGqpfTyo4W","virtual_machine":{"id":"vm_qlPkfTNv5NkTcUfC","name":"tf-acc-test-custom-disks-mj1luon2gbp9"},"name":"Public
      Network on tf-acc-test-custom-disks-mj1luon2gbp9","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:96:59:b6:a3:31","state":"attached","ip_addresses":[{"id":"ip_h2uLGUVZLOilCIBo","address":"185.199.222.71"},{"id":"ip_Mlg4rRK50cDs2ZT5","address":"185.199.222.184"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9eb266c2a54b3806d8be82dbe7d35d87"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_h2uLGUVZLOilCIBo
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_h2uLGUVZLOilCIBo","address":"185.199.222.71","reverse_dns":"tf-acc-test-custom-disks-mj1luon2gbp9-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.71/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_qlPkfTNv5NkTcUfC","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_qlPkfTNv5NkTcUfC","name":"tf-acc-test-custom-disks-mj1luon2gbp9"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eed8a3b9acf08e813dbc5d47bc7d168f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_qlPkfTNv5NkTcUfC
    method: POST
  response:
    body: '{"task":{"id":"task_8zcEjjNNqqbMR8ow","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6620ace34eaa848cca6b9b0de11105d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_8zcEjjNNqqbMR8ow
    method: GET
  response:
    body: '{"task":{"id":"task_8zcEjjNNqqbMR8ow","name":"Stop virtual machine","status":"pending","created_at":1674745284,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a7503d2df92ec893c5c9ee0f49c173b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_qlPkfTNv5NkTcUfC
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_8tHBBSRTKX1FDZmm","keep_until":1674918100,"object_id":"vm_qlPkfTNv5NkTcUfC","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_qlPkfTNv5NkTcUfC","name":"tf-acc-test-custom-disks-mj1luon2gbp9","hostname":"tf-acc-test-custom-disks-mj1luon2gbp9-host","fqdn":"tf-acc-test-custom-disks-mj1luon2gbp9-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1674745254,"initial_root_password":"K3iDzZAX0qJwDxVT","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Mlg4rRK50cDs2ZT5
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_h2uLGUVZLOilCIBo
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_8tHBBSRTKX1FDZmm
    method: DELETE
  response:
    body: '{"task":{"id":"task_CdGcoJ9sW5ULNqFQ","name":"Purge items from trash","status":"pending","created_at":1674745301,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d685e6e21c880f11ed97e5ca07f8f372"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_CdGcoJ9sW5ULNqFQ
    method: GET
  response:
    body: '{"task":{"id":"task_CdGcoJ9sW5ULNqFQ","name":"Purge items from trash","status":"running","created_at":1674745301,"started_at":1674745301,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8db109f98dfdf102c4a4ae86a3c24911"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_b3kgNzr7Smx5Q3KU
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_b3kgNzr7Smx5Q3KU","name":"tf-acc-test-custom-disks-mj1luon2gbp9-group","segregate":true,"created_at":1674745243}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0558b62dcbb2e0d913f7121c78dd1272"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_qlPkfTNv5NkTcUfC
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
