---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238","reverse_dns":"185-199-222-238.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.238/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da896ea2082a872e05ac7030f2151ede"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "799"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_lMARBMFBAmCoffcW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238","reverse_dns":"185-199-222-238.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.238/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8af94df87e3760eb2c77da699d9a7007"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "798"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_lMARBMFBAmCoffcW</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-rapid-quiet-copper</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_f4cAckPFI7BkvUfs","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_J4oADyclZuULPY98","state":"pending"},"virtual_machine_build":{"id":"vmbuild_J4oADyclZuULPY98","state":"pending"},"hostname":"tf-acc-test-rapid-quiet-copper"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fda6ff9c07a3a86d9e77263c4dad974"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "796"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_J4oADyclZuULPY98
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_J4oADyclZuULPY98","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.238\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-rapid-quiet-copper\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_TxqF5aTawY5VNrmj","name":"tf-acc-test-rapid-quiet-copper","hostname":"tf-acc-test-rapid-quiet-copper","fqdn":"tf-acc-test-rapid-quiet-copper.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1676031225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"77dc24a67ab46b05d70763245ee51d64"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "792"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TxqF5aTawY5VNrmj
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_TxqF5aTawY5VNrmj","name":"tf-acc-test-rapid-quiet-copper","hostname":"tf-acc-test-rapid-quiet-copper","fqdn":"tf-acc-test-rapid-quiet-copper.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"icfZ7OLnmQUX4nZY","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238","reverse_dns":"tf-acc-test-rapid-quiet-copper.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.238/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_TxqF5aTawY5VNrmj","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4025bd0ceae9b6a89efa29cbf1652fc6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_TxqF5aTawY5VNrmj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Q1be3npOPebt6qJm","name":"Public
      Network on tf-acc-test-rapid-quiet-copper","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6652eecec9ae4d86bfaa14e6e81725af"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Q1be3npOPebt6qJm
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Q1be3npOPebt6qJm","virtual_machine":{"id":"vm_TxqF5aTawY5VNrmj","name":"tf-acc-test-rapid-quiet-copper"},"name":"Public
      Network on tf-acc-test-rapid-quiet-copper","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:6e:82:dc:5f:22","state":"attached","ip_addresses":[{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c42696504605e9ecfdca1c788f7cf325"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_lMARBMFBAmCoffcW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238","reverse_dns":"tf-acc-test-rapid-quiet-copper.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.238/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_TxqF5aTawY5VNrmj","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_TxqF5aTawY5VNrmj","name":"tf-acc-test-rapid-quiet-copper"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6153c9c5d2b371f63473332842806d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_c6xuC4Qqvwk3oz5j
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_c6xuC4Qqvwk3oz5j","address":"185.199.222.20","reverse_dns":"185-199-222-20.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.20/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec62ecf63b5f5b5f70d25bffcab34d7c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_TxqF5aTawY5VNrmj
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Q1be3npOPebt6qJm","name":"Public
      Network on tf-acc-test-rapid-quiet-copper","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49f3c46ca3f60eb576a77ec085ccbb46"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_Q1be3npOPebt6qJm"},"ip_address":{"id":"ip_c6xuC4Qqvwk3oz5j"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Q1be3npOPebt6qJm","virtual_machine":{"id":"vm_TxqF5aTawY5VNrmj","name":"tf-acc-test-rapid-quiet-copper"},"name":"Public
      Network on tf-acc-test-rapid-quiet-copper","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:6e:82:dc:5f:22","state":"attached","ip_addresses":[{"id":"ip_c6xuC4Qqvwk3oz5j","address":"185.199.222.20"},{"id":"ip_lMARBMFBAmCoffcW","address":"185.199.222.238"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"48c73dafab2b215ee1c538643c31c8ef"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_TxqF5aTawY5VNrmj"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_TxqF5aTawY5VNrmj","name":"tf-acc-test-rapid-quiet-copper","hostname":"tf-acc-test-rapid-quiet-copper","fqdn":"tf-acc-test-rapid-quiet-copper.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"icfZ7OLnmQUX4nZY","state":"started","zone":{"id":"z[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_c6xuC4Qqvwk3oz5j
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_TxqF5aTawY5VNrmj
    method: POST
  response:
    body: '{"task":{"id":"task_ljJ0sOeROYM3jWZ5","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"76c0a60e59cc31de5681024ab148f129"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ljJ0sOeROYM3jWZ5
    method: GET
  response:
    body: '{"task":{"id":"task_ljJ0sOeROYM3jWZ5","name":"Stop virtual machine","status":"pending","created_at":1676031249,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6c92eff798bb11f05492cf82d230ca7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TxqF5aTawY5VNrmj
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_fkxrzRBRvTNyh13X","keep_until":1676204075,"object_id":"vm_TxqF5aTawY5VNrmj","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_TxqF5aTawY5VNrmj","name":"tf-acc-test-rapid-quiet-copper","hostname":"tf-acc-test-rapid-quiet-copper","fqdn":"tf-acc-test-rapid-quiet-copper.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"icfZ7OLnmQUX4nZY","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_lMARBMFBAmCoffcW
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "818"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_fkxrzRBRvTNyh13X
    method: DELETE
  response:
    body: '{"task":{"id":"task_v3UfnPaHcKouFeMq","name":"Purge items from trash","status":"pending","created_at":1676031276,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ee1d08e988b5a2432088f2b9ed6f76d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "817"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_v3UfnPaHcKouFeMq
    method: GET
  response:
    body: '{"task":{"id":"task_v3UfnPaHcKouFeMq","name":"Purge items from trash","status":"pending","created_at":1676031276,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8ee1d08e988b5a2432088f2b9ed6f76d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "816"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TxqF5aTawY5VNrmj
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
