---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"185-53-57-76.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d28e19c5e6372344bb7faad560e866e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"185-53-57-76.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9601770d5108e02231dca43d8026ad7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_fwiJuIDXpvrZoi2X</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-tf4oddfrk23d-host</Hostname></Hostname><Name>tf-acc-test-update-tf4oddfrk23d</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_rypSNH5nyDgiBZw4","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_CuGKRKYiY9mqVEPE","state":"pending"},"virtual_machine_build":{"id":"vmbuild_CuGKRKYiY9mqVEPE","state":"pending"},"hostname":"tf-acc-test-update-tf4oddfrk23d-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7afea95e15bfd6738016f920114d152d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_CuGKRKYiY9mqVEPE
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_CuGKRKYiY9mqVEPE","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_RYuFl4TLRNnsTBJQ"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_RYuFl4TLRNnsTBJQ","name":"tf-acc-test-update-tf4oddfrk23d","hostname":"tf-acc-test-update-tf4oddfrk23d-host","fqdn":"tf-acc-test-update-tf4oddfrk23d-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617036935,"initial_root_password":"CrpXnUGhuNbHDSQO","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"tf-acc-test-update-tf4oddfrk23d-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_RYuFl4TLRNnsTBJQ","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a2285c410e0ca8805624b06b5352d63"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_RYuFl4TLRNnsTBJQ
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_RYuFl4TLRNnsTBJQ","name":"tf-acc-test-update-tf4oddfrk23d","hostname":"tf-acc-test-update-tf4oddfrk23d-host","fqdn":"tf-acc-test-update-tf4oddfrk23d-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617036935,"initial_root_password":"CrpX[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_RYuFl4TLRNnsTBJQ
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_TmIGXjpeScW2Ib1Y","name":"Public
      Network on tf-acc-test-update-tf4oddfrk23d","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c5463ee7a5f94376f96c9cefc4afd31e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "166"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/vmnet_TmIGXjpeScW2Ib1Y
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_TmIGXjpeScW2Ib1Y","virtual_machine":{"id":"vm_RYuFl4TLRNnsTBJQ","name":"tf-acc-test-update-tf4oddfrk23d"},"name":"Public
      Network on tf-acc-test-update-tf4oddfrk23d","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:7d:b1:3d:36:84","state":"attached","ip_addresses":[{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cb14c0dc317af7b3871bd65e81b44d54"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"tf-acc-test-update-tf4oddfrk23d-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_RYuFl4TLRNnsTBJQ","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_RYuFl4TLRNnsTBJQ","name":"tf-acc-test-update-tf4oddfrk23d"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d55d7b99f5f051ac7427e9ab8e1f4241"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_RYuFl4TLRNnsTBJQ
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_TmIGXjpeScW2Ib1Y","name":"Public
      Network on tf-acc-test-update-tf4oddfrk23d","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d7803565916c2b891205a5b7553a378"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "131"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_TmIGXjpeScW2Ib1Y"},"speed_profile":{"permalink":"10gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_wVMT2o46pvzFZrv6","name":"Change network interface
      speed profile","status":"pending","created_at":1617036957,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0dae9887f9d729694be82e307afc7c07"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "128"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_wVMT2o46pvzFZrv6
    method: GET
  response:
    body: '{"task":{"id":"task_wVMT2o46pvzFZrv6","name":"Change network interface
      speed profile","status":"running","created_at":1617036957,"started_at":1617036958,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"03ed629c2271a4005268a140bebce32b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "112"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_RYuFl4TLRNnsTBJQ
    method: POST
  response:
    body: '{"task":{"id":"task_2baOnNesqxXELUe4","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0511cf7ef94050d449b6adf6a254a512"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_2baOnNesqxXELUe4
    method: GET
  response:
    body: '{"task":{"id":"task_2baOnNesqxXELUe4","name":"Stop virtual machine","status":"running","created_at":1617036966,"started_at":1617036967,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"427ea1941104a24358bea3c4a04580d1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_RYuFl4TLRNnsTBJQ
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_v8gN7ZHf5hDJujMd","keep_until":1617209773,"object_id":"vm_RYuFl4TLRNnsTBJQ","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_RYuFl4TLRNnsTBJQ","name":"tf-acc-test-update-tf4oddfrk23d-diff","hostname":"tf-acc-test-update-tf4oddfrk23d-host-diff","fqdn":"tf-acc-test-update-tf4oddfrk23d-host-diff.terraform-acc-test.katapult.cloud","description":"A
      app server.","created_at":1617036935,"initial_root_password":"CrpXnUGhuNbHDSQO","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"L[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_v8gN7ZHf5hDJujMd
    method: DELETE
  response:
    body: '{"task":{"id":"task_uj0l9hvVu4FFCzyT","name":"Purge items from trash","status":"pending","created_at":1617036974,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"35145487cce822e5767dd3322a1f9711"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "155"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_uj0l9hvVu4FFCzyT
    method: GET
  response:
    body: '{"task":{"id":"task_uj0l9hvVu4FFCzyT","name":"Purge items from trash","status":"running","created_at":1617036974,"started_at":1617036974,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"016501d213675aa950fdac599d453b25"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "154"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_RYuFl4TLRNnsTBJQ
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "147"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
