---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_pB9DjnTpH9xlHDZL","address":"185.44.254.115","reverse_dns":"185-44-254-115.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.115/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7edf550acb5b9eacf56a0f026a5f5fd7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_pB9DjnTpH9xlHDZL
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_pB9DjnTpH9xlHDZL","address":"185.44.254.115","reverse_dns":"185-44-254-115.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.115/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1022305f8a891f5268911dcb07c10583"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-1</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_pB9DjnTpH9xlHDZL</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-package-dhc8vwfhs97q-host</Hostname></Hostname><Name>tf-acc-test-update-package-dhc8vwfhs97q</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_3EauNaaroOUQu3KX","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_hvBRJIfTI20Tu2m5","state":"pending"},"virtual_machine_build":{"id":"vmbuild_hvBRJIfTI20Tu2m5","state":"pending"},"hostname":"tf-acc-test-update-package-dhc8vwfhs97q-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d25bc51a4494d9a8ca2894a4b1b8a60"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_hvBRJIfTI20Tu2m5
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_hvBRJIfTI20Tu2m5","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-1\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.254.115\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-update-package-dhc8vwfhs97q-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-package-dhc8vwfhs97q\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1780867127},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"23b66d49ca977cabc5938e42623c362e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wJhKZ8L0aH9oA1Iu
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_wJhKZ8L0aH9oA1Iu","name":"tf-acc-test-update-package-dhc8vwfhs97q","hostname":"tf-acc-test-update-package-dhc8vwfhs97q-host","fqdn":"tf-acc-test-update-package-dhc8vwfhs97q-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1780867133,"initial_root_password":"TG9TZViSXYarTkUr","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":1,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_pB9DjnTpH9xlHDZL","address":"185.44.254.115","reverse_dns":"tf-acc-test-update-package-dhc8vwfhs97q-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.115/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_wJhKZ8L0aH9oA1Iu","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"966c722848737ce32ffc05eb54c8b693"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_wJhKZ8L0aH9oA1Iu
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Q23NnxOlykfd6fBZ","name":"Public
      Network on tf-acc-test-update-package-dhc8vwfhs97q","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_pB9DjnTpH9xlHDZL","address":"185.44.254.115","reverse_dns":"tf-acc-test-update-package-dhc8vwfhs97q-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.254.115/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22d2eb7b781e046556be69197abb6cc8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_Q23NnxOlykfd6fBZ
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Q23NnxOlykfd6fBZ","virtual_machine":{"id":"vm_wJhKZ8L0aH9oA1Iu","name":"tf-acc-test-update-package-dhc8vwfhs97q"},"name":"Public
      Network on tf-acc-test-update-package-dhc8vwfhs97q","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:c2:f4:c6:f8:cb","state":"attached","ip_addresses":[{"id":"ip_pB9DjnTpH9xlHDZL","address":"185.44.254.115"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69843d2a9e6580529d1f774fcc73ad18"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Q23NnxOlykfd6fBZ
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Q23NnxOlykfd6fBZ","virtual_machine":{"id":"vm_wJhKZ8L0aH9oA1Iu","name":"tf-acc-test-update-package-dhc8vwfhs97q"},"name":"Public
      Network on tf-acc-test-update-package-dhc8vwfhs97q","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:c2:f4:c6:f8:cb","state":"attached","ip_addresses":[{"id":"ip_pB9DjnTpH9xlHDZL","address":"185.44.254.115"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"69843d2a9e6580529d1f774fcc73ad18"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_pB9DjnTpH9xlHDZL
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_pB9DjnTpH9xlHDZL","address":"185.44.254.115","reverse_dns":"tf-acc-test-update-package-dhc8vwfhs97q-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.115/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_wJhKZ8L0aH9oA1Iu","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_wJhKZ8L0aH9oA1Iu","name":"tf-acc-test-update-package-dhc8vwfhs97q"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ae51ec91cde8e32b4b0a6a5380da995a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bpermalink%5D=rock-3
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a22b1e94ba820ef313e1dd914e6c766"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_wJhKZ8L0aH9oA1Iu"},"virtual_machine_package":{"permalink":"rock-3"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_/package
    method: PUT
  response:
    body: '{"task":{"id":"task_XhQDWV7SAANtGIxy","name":"Change package","status":"pending","created_at":1780867173,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"01a36d21a0158be7c5c0dffeb91cc10d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_XhQDWV7SAANtGIxy
    method: GET
  response:
    body: '{"task":{"id":"task_XhQDWV7SAANtGIxy","name":"Change package","status":"pending","created_at":1780867173,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"01a36d21a0158be7c5c0dffeb91cc10d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "927"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_wJhKZ8L0aH9oA1Iu"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_wJhKZ8L0aH9oA1Iu","name":"tf-acc-test-update-package-dhc8vwfhs97q","hostname":"tf-acc-test-update-package-dhc8vwfhs97q-host","fqdn":"tf-acc-test-update-package-dhc8vwfhs97q-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1780867133,"initial_root_password":"TG9TZViSXYarTk[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_wJhKZ8L0aH9oA1Iu
    method: POST
  response:
    body: '{"task":{"id":"task_TylsJiNpqcjFT3Wj","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a0462145fd410dc2c03bb59708e295d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "890"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_TylsJiNpqcjFT3Wj
    method: GET
  response:
    body: '{"task":{"id":"task_TylsJiNpqcjFT3Wj","name":"Stop virtual machine","status":"running","created_at":1780867192,"started_at":1780867192,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"229b2db0078525dfe2de4e4d2dc8d4c1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "885"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wJhKZ8L0aH9oA1Iu
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_pTaRUAQJUpOd1YQE","keep_until":1781039999,"object_id":"vm_wJhKZ8L0aH9oA1Iu","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_wJhKZ8L0aH9oA1Iu","name":"tf-acc-test-update-package-dhc8vwfhs97q","hostname":"tf-acc-test-update-package-dhc8vwfhs97q-host","fqdn":"tf-acc-test-update-package-dhc8vwfhs97q-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1780867133,"initial_root_password":"TG9TZViSXYarTkUr","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_pB9DjnTpH9xlHDZL
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "873"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_wJhKZ8L0aH9oA1Iu
    method: DELETE
  response:
    body: '{"task":{"id":"task_iWXXus945iji1hXZ","name":"Purge items from trash","status":"pending","created_at":1780867200,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41087ee807aa537c8fed7af8fb5265ff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_wJhKZ8L0aH9oA1Iu
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
