---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bid%5D=org_eodfyqFF3YWb2OFC
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"83acdeeac637486bc5f2f53681d19f3b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_lPlareyd1uxB2BrK","address":"185.199.221.23","reverse_dns":"185-199-221-23.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.23/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"60209b66653d6b2d79d707968559bf9a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_lPlareyd1uxB2BrK
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_lPlareyd1uxB2BrK","address":"185.199.221.23","reverse_dns":"185-199-221-23.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.23/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3cde85a12235e6b43d23926352bfe5ba"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"id":"org_eodfyqFF3YWb2OFC"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter>loc_UUhPmoCbpic6UX0Y</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_lPlareyd1uxB2BrK</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-nervous-tender-strawberry</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_j9y0jXxw5XKm5HWm","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_jnvT1hiYZOGVmufo","state":"pending"},"virtual_machine_build":{"id":"vmbuild_jnvT1hiYZOGVmufo","state":"pending"},"hostname":"tf-acc-test-nervous-tender-strawberry"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c0fab65026a50b2bcdab56d50d30c3fc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_jnvT1hiYZOGVmufo
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_jnvT1hiYZOGVmufo","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.23\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-nervous-tender-strawberry\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_nzSBoMKemuZJ804w","name":"tf-acc-test-nervous-tender-strawberry","hostname":"tf-acc-test-nervous-tender-strawberry","fqdn":"tf-acc-test-nervous-tender-strawberry.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1610162775}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"39cdea2176323f78178068c5bee985ec"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_nzSBoMKemuZJ804w
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_nzSBoMKemuZJ804w","name":"tf-acc-test-nervous-tender-strawberry","hostname":"tf-acc-test-nervous-tender-strawberry","fqdn":"tf-acc-test-nervous-tender-strawberry.terraform-acc-test.katapult.cloud","description":null,"created_at":1610162776,"initial_root_password":"MwwTVe4vAwcN3jEa","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_lPlareyd1uxB2BrK","address":"185.199.221.23","reverse_dns":"tf-acc-test-nervous-tender-strawberry.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.23/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":"vm_nzSBoMKemuZJ804w","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f5c2d6b1e0f08826cb90700db6067aa0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "161"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_lPlareyd1uxB2BrK
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_lPlareyd1uxB2BrK","address":"185.199.221.23","reverse_dns":"tf-acc-test-nervous-tender-strawberry.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.23/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":"vm_nzSBoMKemuZJ804w","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_nzSBoMKemuZJ804w","name":"tf-acc-test-nervous-tender-strawberry"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ce4681772574004be12c0b6723631ab4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "148"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_HXkk9aC2c6lSZY1U
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_HXkk9aC2c6lSZY1U","address":"185.199.221.8","reverse_dns":"185-199-221-8.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.8/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":true}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9855422edce9ee597df1f3c634d2b23"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "130"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_nzSBoMKemuZJ804w
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ZjBvDYBbG62RMcku","name":"Public Network on tf-acc-test-nervous-tender-strawberry","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network"},"ip_addresses":[{"id":"ip_lPlareyd1uxB2BrK","address":"185.199.221.23"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d161efde38e4b09f7b9fed88ff4e5249"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "127"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_ZjBvDYBbG62RMcku"},"ip_address":{"id":"ip_HXkk9aC2c6lSZY1U"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_ZjBvDYBbG62RMcku","virtual_machine":{"id":"vm_nzSBoMKemuZJ804w","name":"tf-acc-test-nervous-tender-strawberry"},"name":"Public Network on tf-acc-test-nervous-tender-strawberry","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network"},"mac_address":"3a:c8:85:c1:29:2c","state":"attached","ip_addresses":[{"id":"ip_HXkk9aC2c6lSZY1U","address":"185.199.221.8"},{"id":"ip_lPlareyd1uxB2BrK","address":"185.199.221.23"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e3070502245dfc57d6dfa2814beb7db"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "125"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_nzSBoMKemuZJ804w"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_nzSBoMKemuZJ804w","name":"tf-acc-test-nervous-tender-strawberry","hostname":"tf-acc-test-nervous-tender-strawberry","fqdn":"tf-acc-test-nervous-tender-strawberry.terraform-acc-test.katapult.cloud","description":null,"created_at":1610162776,"initial_root_password":"MwwTVe4vAwcN3jEa","state":"sta[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_HXkk9aC2c6lSZY1U
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "102"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_nzSBoMKemuZJ804w
    method: POST
  response:
    body: '{"task":{"id":"task_beyrSFsmXkYMjtV5","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c34287ce4230b9389ab2409b5873f94"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "87"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_nzSBoMKemuZJ804w
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_T8tjeD90LTItQgtp","keep_until":1610335613,"object_id":"vm_nzSBoMKemuZJ804w","object_type":"VirtualMachine"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"36b3ac16a243ee66152772ebc556497f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "83"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_lPlareyd1uxB2BrK
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "82"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_T8tjeD90LTItQgtp
    method: DELETE
  response:
    body: '{"task":{"id":"task_Gn1YPH5dpBoaPhvt","name":"Purge items from trash","status":"pending","created_at":1610162814,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3122c2ea9f284389913a14191c878c3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "81"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Gn1YPH5dpBoaPhvt
    method: GET
  response:
    body: '{"task":{"id":"task_Gn1YPH5dpBoaPhvt","name":"Purge items from trash","status":"pending","created_at":1610162814,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3122c2ea9f284389913a14191c878c3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "80"
    status: 200 OK
    code: 200
    duration: ""
[...]
