---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"185-53-57-37.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a46142874fa1eb021f60b80b3e085f85"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_8rby1Nlwx4IsqVQ2
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"185-53-57-37.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"24d4f0ed87425cd9533d66284deae37c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_8rby1Nlwx4IsqVQ2</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-dh7wkynuvlrw-host</Hostname></Hostname><Name>tf-acc-test-basic-dh7wkynuvlrw</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_nuYN5EnQHjCpOfnZ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_Rpc7ASOj2XwbCNvl","state":"pending"},"virtual_machine_build":{"id":"vmbuild_Rpc7ASOj2XwbCNvl","state":"pending"},"hostname":"tf-acc-test-basic-dh7wkynuvlrw-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d25118a5581b6ffaec324c4e424ccee"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_Rpc7ASOj2XwbCNvl
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Rpc7ASOj2XwbCNvl","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_ju2A8YAw3NDheZRs"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_ju2A8YAw3NDheZRs","name":"tf-acc-test-basic-dh7wkynuvlrw","hostname":"tf-acc-test-basic-dh7wkynuvlrw-host","fqdn":"tf-acc-test-basic-dh7wkynuvlrw-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1614273851,"initial_root_password":"KcFHQmHm5w3Wuauf","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"tf-acc-test-basic-dh7wkynuvlrw-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ju2A8YAw3NDheZRs","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ec34d7ee3d72cb00bdb4851494614f9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "133"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ju2A8YAw3NDheZRs
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_ju2A8YAw3NDheZRs","name":"tf-acc-test-basic-dh7wkynuvlrw","hostname":"tf-acc-test-basic-dh7wkynuvlrw-host","fqdn":"tf-acc-test-basic-dh7wkynuvlrw-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1614273851,"initial_root_password":"KcFHQmH[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_8rby1Nlwx4IsqVQ2
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_8rby1Nlwx4IsqVQ2","address":"185.53.57.37","reverse_dns":"tf-acc-test-basic-dh7wkynuvlrw-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.37/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ju2A8YAw3NDheZRs","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_ju2A8YAw3NDheZRs","name":"tf-acc-test-basic-dh7wkynuvlrw"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e849f23926ae8ba5412acfd63855f0a3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "114"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_ju2A8YAw3NDheZRs
    method: POST
  response:
    body: '{"task":{"id":"task_ihEwWNGF1LVNZEiu","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57ef1967dfa8b7a52976d0bb196a955f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "103"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ihEwWNGF1LVNZEiu
    method: GET
  response:
    body: '{"task":{"id":"task_ihEwWNGF1LVNZEiu","name":"Stop virtual machine","status":"running","created_at":1614273882,"started_at":1614273883,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bb3000ffa2a11978d6b4c96940c08708"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "98"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ju2A8YAw3NDheZRs
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_WA9kdZrTDbt6UHnz","keep_until":1614446688,"object_id":"vm_ju2A8YAw3NDheZRs","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_ju2A8YAw3NDheZRs","name":"tf-acc-test-basic-dh7wkynuvlrw","hostname":"tf-acc-test-basic-dh7wkynuvlrw-host","fqdn":"tf-acc-test-basic-dh7wkynuvlrw-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1614273851,"initial_root_password":"KcFHQmHm5w3Wuauf","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_8rby1Nlwx4IsqVQ2
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "82"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_WA9kdZrTDbt6UHnz
    method: DELETE
  response:
    body: '{"task":{"id":"task_A95eXaMhoEsLF6Kz","name":"Purge items from trash","status":"pending","created_at":1614273889,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5593e1137f55d6497a5c7c39ef124321"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "81"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_A95eXaMhoEsLF6Kz
    method: GET
  response:
    body: '{"task":{"id":"task_A95eXaMhoEsLF6Kz","name":"Purge items from trash","status":"pending","created_at":1614273889,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5593e1137f55d6497a5c7c39ef124321"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "78"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ju2A8YAw3NDheZRs
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
