---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-o6aq7q7k03zx-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LJprh5AVCuYlpWMI","name":"tf-acc-test-basic-o6aq7q7k03zx-group","segregate":true,"created_at":1617037522}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fff4a5bb55a14f4eef61c044094b0cea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_LJprh5AVCuYlpWMI
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LJprh5AVCuYlpWMI","name":"tf-acc-test-basic-o6aq7q7k03zx-group","segregate":true,"created_at":1617037522}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fff4a5bb55a14f4eef61c044094b0cea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"185-53-57-67.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f83735ab041653203aa06ba369a84954"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_aTUyGs09qw2ZNV1L
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"185-53-57-67.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b1635c521c808ac445d2982619feeb94"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"185-53-57-76.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9601770d5108e02231dca43d8026ad7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_fwiJuIDXpvrZoi2X</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_aTUyGs09qw2ZNV1L</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-o6aq7q7k03zx-host</Hostname></Hostname><Name>tf-acc-test-basic-o6aq7q7k03zx</Name><Description>A web server.</Description><Group>vmgrp_LJprh5AVCuYlpWMI</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_OvEvNdU6RiQTaAhN","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_HGnPTY0HHfN7HMs9","state":"pending"},"virtual_machine_build":{"id":"vmbuild_HGnPTY0HHfN7HMs9","state":"pending"},"hostname":"tf-acc-test-basic-o6aq7q7k03zx-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"653b91249410e59940c702b803e9b5d2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_HGnPTY0HHfN7HMs9
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_HGnPTY0HHfN7HMs9","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_gocNWcw1plihV9bS"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_gocNWcw1plihV9bS","name":"tf-acc-test-basic-o6aq7q7k03zx","hostname":"tf-acc-test-basic-o6aq7q7k03zx-host","fqdn":"tf-acc-test-basic-o6aq7q7k03zx-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617037523,"initial_root_password":"5KXkAPYqQe9rTk6o","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_LJprh5AVCuYlpWMI","name":"tf-acc-test-basic-o6aq7q7k03zx-group","segregate":true,"created_at":1617037522},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"tf-acc-test-basic-o6aq7q7k03zx-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_gocNWcw1plihV9bS","allocation_type":"VirtualMachine"},{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"tf-acc-test-basic-o6aq7q7k03zx-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_gocNWcw1plihV9bS","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8390c3864f48c81cf95e10348fe1c79"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_gocNWcw1plihV9bS
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_gocNWcw1plihV9bS","name":"tf-acc-test-basic-o6aq7q7k03zx","hostname":"tf-acc-test-basic-o6aq7q7k03zx-host","fqdn":"tf-acc-test-basic-o6aq7q7k03zx-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617037523,"initial_root_password":"5KXkAPY[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_gocNWcw1plihV9bS
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_qaYvAGANm0mhxJmU","name":"Public
      Network on tf-acc-test-basic-o6aq7q7k03zx","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67"},{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"caec34a58d26873164279485838d30ae"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/vmnet_qaYvAGANm0mhxJmU
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_qaYvAGANm0mhxJmU","virtual_machine":{"id":"vm_gocNWcw1plihV9bS","name":"tf-acc-test-basic-o6aq7q7k03zx"},"name":"Public
      Network on tf-acc-test-basic-o6aq7q7k03zx","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:9e:c3:a6:b7:a3","state":"attached","ip_addresses":[{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67"},{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3fdff0a49eb366a23e83a2d911934935"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_aTUyGs09qw2ZNV1L
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_aTUyGs09qw2ZNV1L","address":"185.53.57.67","reverse_dns":"tf-acc-test-basic-o6aq7q7k03zx-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.67/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_gocNWcw1plihV9bS","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_gocNWcw1plihV9bS","name":"tf-acc-test-basic-o6aq7q7k03zx"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7020bfb0b31ad2c53beed2284f31f355"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_gocNWcw1plihV9bS
    method: POST
  response:
    body: '{"task":{"id":"task_Q25UohL3dERmIEHl","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b666fdbd778740b4ba0cbdf802928ce7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Q25UohL3dERmIEHl
    method: GET
  response:
    body: '{"task":{"id":"task_Q25UohL3dERmIEHl","name":"Stop virtual machine","status":"pending","created_at":1617037544,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"192b29351d8cca4b17176ae6cdf61dfa"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_gocNWcw1plihV9bS
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_7yfhHhqlBBPJCDRy","keep_until":1617210370,"object_id":"vm_gocNWcw1plihV9bS","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_gocNWcw1plihV9bS","name":"tf-acc-test-basic-o6aq7q7k03zx","hostname":"tf-acc-test-basic-o6aq7q7k03zx-host","fqdn":"tf-acc-test-basic-o6aq7q7k03zx-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1617037523,"initial_root_password":"5KXkAPYqQe9rTk6o","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_aTUyGs09qw2ZNV1L
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_7yfhHhqlBBPJCDRy
    method: DELETE
  response:
    body: '{"task":{"id":"task_Chy3CVIZ1efNCrM4","name":"Purge items from trash","status":"pending","created_at":1617037571,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f24e9e6d922561e62a15f742a097336d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Chy3CVIZ1efNCrM4
    method: GET
  response:
    body: '{"task":{"id":"task_Chy3CVIZ1efNCrM4","name":"Purge items from trash","status":"running","created_at":1617037571,"started_at":1617037571,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"085a7242f1e39642aa8e839b8bb45f03"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_LJprh5AVCuYlpWMI
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_LJprh5AVCuYlpWMI","name":"tf-acc-test-basic-o6aq7q7k03zx-group","segregate":true,"created_at":1617037522}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fff4a5bb55a14f4eef61c044094b0cea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_gocNWcw1plihV9bS
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
