---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "858"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-nop0yr0zradv-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_BrMd4y0Ob7c5Mb6R","name":"tf-acc-test-basic-nop0yr0zradv-group","segregate":true,"created_at":1679578468}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a70f1cd94bfafb8dbb207461e14efbe9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "859"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_BrMd4y0Ob7c5Mb6R
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_BrMd4y0Ob7c5Mb6R","name":"tf-acc-test-basic-nop0yr0zradv-group","segregate":true,"created_at":1679578468}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a70f1cd94bfafb8dbb207461e14efbe9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "854"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"185-199-222-28.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02acb1d6e39d2dd3d1fdd50d084a43c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "856"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"185-199-222-28.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"302278f172a97bb1f106ca9e8f0749c2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "847"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_5KQyws2YivDGFxbC
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100","reverse_dns":"185-199-222-100.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.100/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12dc4cdc9d6e7c7b049af2a17d0b0d85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "845"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_KbfXZm6mJYp6AdZf</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_5KQyws2YivDGFxbC</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-nop0yr0zradv-host</Hostname></Hostname><Name>tf-acc-test-basic-nop0yr0zradv</Name><Description>A web server.</Description><Group>vmgrp_BrMd4y0Ob7c5Mb6R</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Ufxrvc6TW7mooNdt","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_QkfwmsSBCHxQkZ9X","state":"pending"},"virtual_machine_build":{"id":"vmbuild_QkfwmsSBCHxQkZ9X","state":"pending"},"hostname":"tf-acc-test-basic-nop0yr0zradv-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4de703f8db9c4d3fd80c6a93cca7a790"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "842"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_QkfwmsSBCHxQkZ9X
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_QkfwmsSBCHxQkZ9X","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_PIEK4yKUlXZAnk1H"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_PIEK4yKUlXZAnk1H","name":"tf-acc-test-basic-nop0yr0zradv","hostname":"tf-acc-test-basic-nop0yr0zradv-host","fqdn":"tf-acc-test-basic-nop0yr0zradv-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578476,"initial_root_password":"O9DuKaKdtSmGJUK8","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_BrMd4y0Ob7c5Mb6R","name":"tf-acc-test-basic-nop0yr0zradv-group","segregate":true,"created_at":1679578468},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"tf-acc-test-basic-nop0yr0zradv-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_PIEK4yKUlXZAnk1H","allocation_type":"VirtualMachine"},{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100","reverse_dns":"tf-acc-test-basic-nop0yr0zradv-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.100/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_PIEK4yKUlXZAnk1H","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4defef1183f0398f36644a13e1c0fb27"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "816"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_PIEK4yKUlXZAnk1H
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_PIEK4yKUlXZAnk1H","name":"tf-acc-test-basic-nop0yr0zradv","hostname":"tf-acc-test-basic-nop0yr0zradv-host","fqdn":"tf-acc-test-basic-nop0yr0zradv-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578476,"initial_root_password":"O9DuKaK[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_PIEK4yKUlXZAnk1H
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_R9B6HmURfIJliGlW","name":"Public
      Network on tf-acc-test-basic-nop0yr0zradv","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28"},{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50585efc20dced2bca7f5d54c38e05b0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "813"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_R9B6HmURfIJliGlW
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_R9B6HmURfIJliGlW","virtual_machine":{"id":"vm_PIEK4yKUlXZAnk1H","name":"tf-acc-test-basic-nop0yr0zradv"},"name":"Public
      Network on tf-acc-test-basic-nop0yr0zradv","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:3b:51:9a:93:23","state":"attached","ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28"},{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"302d25f1d52695768d1b06919c2a33f5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "812"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"tf-acc-test-basic-nop0yr0zradv-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_PIEK4yKUlXZAnk1H","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_PIEK4yKUlXZAnk1H","name":"tf-acc-test-basic-nop0yr0zradv"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d30cf2c60a5ceeba8f0c6d8af43683d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "810"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_PIEK4yKUlXZAnk1H
    method: POST
  response:
    body: '{"task":{"id":"task_tGfCZm5fH1MPN95B","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7fcf3881a8ef0aafb20bb6dd640588c1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "803"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_PIEK4yKUlXZAnk1H
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_fMGxmXSnWRAWPzFx","keep_until":1679751321,"object_id":"vm_PIEK4yKUlXZAnk1H","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_PIEK4yKUlXZAnk1H","name":"tf-acc-test-basic-nop0yr0zradv","hostname":"tf-acc-test-basic-nop0yr0zradv-host","fqdn":"tf-acc-test-basic-nop0yr0zradv-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679578476,"initial_root_password":"O9DuKaKdtSmGJUK8","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_5KQyws2YivDGFxbC
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_fMGxmXSnWRAWPzFx
    method: DELETE
  response:
    body: '{"task":{"id":"task_luWqpXCBsxRF8S4D","name":"Purge items from trash","status":"pending","created_at":1679578522,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45f207c5c0c6272ef4104d7e8ada1067"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_fMGxmXSnWRAWPzFx
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "904"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_BrMd4y0Ob7c5Mb6R
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_BrMd4y0Ob7c5Mb6R","name":"tf-acc-test-basic-nop0yr0zradv-group","segregate":true,"created_at":1679578468}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a70f1cd94bfafb8dbb207461e14efbe9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "901"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_PIEK4yKUlXZAnk1H
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "899"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
