---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-dwbb232cyc76-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_NTWwHydGbH8aVzTD","name":"tf-acc-test-basic-dwbb232cyc76-group","segregate":true,"created_at":1679506761}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9df7de160e7675268f7d4ae2f532447a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_NTWwHydGbH8aVzTD
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_NTWwHydGbH8aVzTD","name":"tf-acc-test-basic-dwbb232cyc76-group","segregate":true,"created_at":1679506761}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9df7de160e7675268f7d4ae2f532447a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "908"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_AuDgNPM5YokLXM3Q","address":"185.199.222.61","reverse_dns":"185-199-222-61.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.61/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"04cb2602005af9ef28a94a2bae5c5eea"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "910"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_AuDgNPM5YokLXM3Q
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_AuDgNPM5YokLXM3Q","address":"185.199.222.61","reverse_dns":"185-199-222-61.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.61/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12922e2443b262436d64329e7aa2a01a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_wLnEBwjoU5QWfRrr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_wLnEBwjoU5QWfRrr","address":"185.199.222.97","reverse_dns":"185-199-222-97.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.97/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4d887cde476eaedf3439c8af2b92d954"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_AuDgNPM5YokLXM3Q</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_wLnEBwjoU5QWfRrr</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-dwbb232cyc76-host</Hostname></Hostname><Name>tf-acc-test-basic-dwbb232cyc76</Name><Description>A web server.</Description><Group>vmgrp_NTWwHydGbH8aVzTD</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_qVSkKv8yQH4pYPvF","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_GQikmVmANYGuwzVU","state":"pending"},"virtual_machine_build":{"id":"vmbuild_GQikmVmANYGuwzVU","state":"pending"},"hostname":"tf-acc-test-basic-dwbb232cyc76-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1dc55b46ca78019e22a4e24102fc0f9d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "902"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_GQikmVmANYGuwzVU
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_GQikmVmANYGuwzVU","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_ATtjVqrk15NLbjDY"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_ATtjVqrk15NLbjDY","name":"tf-acc-test-basic-dwbb232cyc76","hostname":"tf-acc-test-basic-dwbb232cyc76-host","fqdn":"tf-acc-test-basic-dwbb232cyc76-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506770,"initial_root_password":"IFSddzYbPHB3xb4B","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_NTWwHydGbH8aVzTD","name":"tf-acc-test-basic-dwbb232cyc76-group","segregate":true,"created_at":1679506761},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_AuDgNPM5YokLXM3Q","address":"185.199.222.61","reverse_dns":"tf-acc-test-basic-dwbb232cyc76-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.61/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ATtjVqrk15NLbjDY","allocation_type":"VirtualMachine"},{"id":"ip_wLnEBwjoU5QWfRrr","address":"185.199.222.97","reverse_dns":"tf-acc-test-basic-dwbb232cyc76-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.97/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ATtjVqrk15NLbjDY","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3cf8878f41896945190debeef85240bc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "857"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ATtjVqrk15NLbjDY
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_ATtjVqrk15NLbjDY","name":"tf-acc-test-basic-dwbb232cyc76","hostname":"tf-acc-test-basic-dwbb232cyc76-host","fqdn":"tf-acc-test-basic-dwbb232cyc76-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506770,"initial_root_password":"IFSddzY[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_ATtjVqrk15NLbjDY
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Ww63ztf7q4416rZ6","name":"Public
      Network on tf-acc-test-basic-dwbb232cyc76","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_AuDgNPM5YokLXM3Q","address":"185.199.222.61"},{"id":"ip_wLnEBwjoU5QWfRrr","address":"185.199.222.97"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42c8a34960d8b4bb3ae0e0df6d38daa7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "843"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Ww63ztf7q4416rZ6
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Ww63ztf7q4416rZ6","virtual_machine":{"id":"vm_ATtjVqrk15NLbjDY","name":"tf-acc-test-basic-dwbb232cyc76"},"name":"Public
      Network on tf-acc-test-basic-dwbb232cyc76","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:10:7b:b2:0c:b5","state":"attached","ip_addresses":[{"id":"ip_AuDgNPM5YokLXM3Q","address":"185.199.222.61"},{"id":"ip_wLnEBwjoU5QWfRrr","address":"185.199.222.97"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f54f082cf75d824ceedb036dcf3b6c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "842"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_wLnEBwjoU5QWfRrr
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_wLnEBwjoU5QWfRrr","address":"185.199.222.97","reverse_dns":"tf-acc-test-basic-dwbb232cyc76-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.97/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ATtjVqrk15NLbjDY","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_ATtjVqrk15NLbjDY","name":"tf-acc-test-basic-dwbb232cyc76"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e8f64afc5c83442a6eec7ced9e0af71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "839"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_ATtjVqrk15NLbjDY
    method: POST
  response:
    body: '{"task":{"id":"task_5lugvJ92MCMW12ko","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c067c66758732f4ed58004ec79b8d85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "831"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_5lugvJ92MCMW12ko
    method: GET
  response:
    body: '{"task":{"id":"task_5lugvJ92MCMW12ko","name":"Stop virtual machine","status":"pending","created_at":1679506793,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"043ad99b22fab762fb44588f64ba0b45"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "830"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ATtjVqrk15NLbjDY
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_rFTdQzRoqwm0WhuK","keep_until":1679679619,"object_id":"vm_ATtjVqrk15NLbjDY","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_ATtjVqrk15NLbjDY","name":"tf-acc-test-basic-dwbb232cyc76","hostname":"tf-acc-test-basic-dwbb232cyc76-host","fqdn":"tf-acc-test-basic-dwbb232cyc76-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506770,"initial_root_password":"IFSddzYbPHB3xb4B","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_AuDgNPM5YokLXM3Q
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_wLnEBwjoU5QWfRrr
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "938"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_rFTdQzRoqwm0WhuK
    method: DELETE
  response:
    body: '{"task":{"id":"task_qDVg2nY2DhyDJEyb","name":"Purge items from trash","status":"pending","created_at":1679506820,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"abe3900e2ceb9a7ad6755261656d3375"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_rFTdQzRoqwm0WhuK
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "935"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_NTWwHydGbH8aVzTD
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_NTWwHydGbH8aVzTD","name":"tf-acc-test-basic-dwbb232cyc76-group","segregate":true,"created_at":1679506761}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9df7de160e7675268f7d4ae2f532447a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "933"
    status: 200 OK
    code: 200
    duration: ""
[...]
