---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_v5kTrZXniEOmmNAf","address":"185.44.252.250","reverse_dns":"185-44-252-250.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"429bda7aff60acc3f2219f9b8af07490"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_v5kTrZXniEOmmNAf
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_v5kTrZXniEOmmNAf","address":"185.44.252.250","reverse_dns":"185-44-252-250.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f0e051f8b6ac22cee457c62f7ea9eb54"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-1</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_v5kTrZXniEOmmNAf</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host</Hostname></Hostname><Name>tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_uYW2DXqBkbuvJNC8","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_YnJLEMWaEIH6HAxT","state":"pending"},"virtual_machine_build":{"id":"vmbuild_YnJLEMWaEIH6HAxT","state":"pending"},"hostname":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"436c80a8f35af8c41f467a44af48ba9e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_YnJLEMWaEIH6HAxT
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_YnJLEMWaEIH6HAxT","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-1\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.250\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1783600628},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8627df42a8057d7cd42dd40a5125997"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_nLzXZPHE2c8SCDmE
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_nLzXZPHE2c8SCDmE","name":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7","hostname":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host","fqdn":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783600634,"initial_root_password":"[REDACTED]","state":"starting","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"LON-3","permalink":"lon-zone-3","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":1,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_v5kTrZXniEOmmNAf","address":"185.44.252.250","reverse_dns":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_nLzXZPHE2c8SCDmE","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71da7d4c91b153f7ceb179c225a120f0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_nLzXZPHE2c8SCDmE
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_NMOwUktHZQMnQGBB","name":"Public
      Network on tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_v5kTrZXniEOmmNAf","address":"185.44.252.250","reverse_dns":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.250/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cdef51e6ae5f1b396cc0c00ca661ee78"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_NMOwUktHZQMnQGBB
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_NMOwUktHZQMnQGBB","virtual_machine":{"id":"vm_nLzXZPHE2c8SCDmE","name":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7"},"name":"Public
      Network on tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:40:a8:ac:10:e3","state":"attached","ip_addresses":[{"id":"ip_v5kTrZXniEOmmNAf","address":"185.44.252.250"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57dc7ba71709af72180c9851af62f3b7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_NMOwUktHZQMnQGBB
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_NMOwUktHZQMnQGBB","virtual_machine":{"id":"vm_nLzXZPHE2c8SCDmE","name":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7"},"name":"Public
      Network on tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:40:a8:ac:10:e3","state":"attached","ip_addresses":[{"id":"ip_v5kTrZXniEOmmNAf","address":"185.44.252.250"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57dc7ba71709af72180c9851af62f3b7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_v5kTrZXniEOmmNAf
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_v5kTrZXniEOmmNAf","address":"185.44.252.250","reverse_dns":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_nLzXZPHE2c8SCDmE","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_nLzXZPHE2c8SCDmE","name":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"824936759388d09169fc227d2f638b0e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_nLzXZPHE2c8SCDmE
    method: POST
  response:
    body: '{"task":{"id":"task_hzqIMdT0C82WV9dB","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"692af6e8da3c26ad30fb4d7fe9885494"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_hzqIMdT0C82WV9dB
    method: GET
  response:
    body: '{"task":{"id":"task_hzqIMdT0C82WV9dB","name":"Stop virtual machine","status":"running","created_at":1783600664,"started_at":1783600665,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"709d8a093506a4745410658d38d6acc2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_nLzXZPHE2c8SCDmE"},"virtual_machine_package":{"permalink":"rock-3"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_/package
    method: PUT
  response:
    body: '{"task":{"id":"task_mfeQbKLnMakXONb0","name":"Change package","status":"pending","created_at":1783600672,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"26c9ec711a3ca969739a55b0f8ae6ceb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_mfeQbKLnMakXONb0
    method: GET
  response:
    body: '{"task":{"id":"task_mfeQbKLnMakXONb0","name":"Change package","status":"running","created_at":1783600672,"started_at":1783600673,"finished_at":null,"progress":15}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b4bbe82166098a2f7a0222c3c6253a55"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_nLzXZPHE2c8SCDmE"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_nLzXZPHE2c8SCDmE","name":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7","hostname":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host","fqdn":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host.terraform-acc-test.katapult.cloud","description":null,"created_at":17[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_nLzXZPHE2c8SCDmE
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_LRDDDKvvD0d10ycb","keep_until":1783773479,"object_id":"vm_nLzXZPHE2c8SCDmE","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_nLzXZPHE2c8SCDmE","name":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7","hostname":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host","fqdn":"tf-acc-test-update-package-upgrade-stopped-pkbn1rd0rcd7-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783600634,"initial_root_password":"[REDACTED]","state":"stopped","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"LON-3","perm[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_v5kTrZXniEOmmNAf
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_nLzXZPHE2c8SCDmE
    method: DELETE
  response:
    body: '{"task":{"id":"task_aULDQrBR6Ye970lM","name":"Purge items from trash","status":"pending","created_at":1783600680,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f343bb963d52d4e4e4227d3ee7e08051"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_nLzXZPHE2c8SCDmE
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
