---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_bpYP90F18aLIqc6x","address":"185.53.57.143","reverse_dns":"185-53-57-143.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.143/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ffbe9d965b9e07c2a69018f465dafc4c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_bpYP90F18aLIqc6x
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_bpYP90F18aLIqc6x","address":"185.53.57.143","reverse_dns":"185-53-57-143.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.143/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"62258c6f41b413b682eecaa340789c8d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_bpYP90F18aLIqc6x</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-nervous-clean-mango</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Sc7i8dvCmAcG9oIW","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_glixuUuuco3QA4V4","state":"pending"},"virtual_machine_build":{"id":"vmbuild_glixuUuuco3QA4V4","state":"pending"},"hostname":"tf-acc-test-nervous-clean-mango"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50ecdf098dbfeadff536ce2a082a153c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_glixuUuuco3QA4V4
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_glixuUuuco3QA4V4","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.143\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-nervous-clean-mango\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1614083770}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0853e20eda816ba184def557bf3b96b8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wL8zEAEq4mLBwj6q
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_wL8zEAEq4mLBwj6q","name":"tf-acc-test-nervous-clean-mango","hostname":"tf-acc-test-nervous-clean-mango","fqdn":"tf-acc-test-nervous-clean-mango.terraform-acc-test.katapult.cloud","description":null,"created_at":1614083771,"initial_root_password":"2mlwxzHACLdBeQvA","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_bpYP90F18aLIqc6x","address":"185.53.57.143","reverse_dns":"tf-acc-test-nervous-clean-mango.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.143/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_wL8zEAEq4mLBwj6q","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"66ae796b05d299f84475b4a07cf62c9a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "157"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_bpYP90F18aLIqc6x
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_bpYP90F18aLIqc6x","address":"185.53.57.143","reverse_dns":"tf-acc-test-nervous-clean-mango.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.143/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_wL8zEAEq4mLBwj6q","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_wL8zEAEq4mLBwj6q","name":"tf-acc-test-nervous-clean-mango"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"792c87cbeff741877a926119b3a5c786"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "143"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_0OIccaeAY2GoueKH
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_0OIccaeAY2GoueKH","address":"185.53.57.88","reverse_dns":"185-53-57-88.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.88/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f49734af5dcd00b75d9aec217dce891"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "126"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_wL8zEAEq4mLBwj6q
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_HgCLwaTwp1jBUtzk","name":"Public Network on tf-acc-test-nervous-clean-mango","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network"},"ip_addresses":[{"id":"ip_bpYP90F18aLIqc6x","address":"185.53.57.143"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f71a89c8f93a3be300d9cb7420602944"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "122"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_HgCLwaTwp1jBUtzk"},"ip_address":{"id":"ip_0OIccaeAY2GoueKH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_HgCLwaTwp1jBUtzk","virtual_machine":{"id":"vm_wL8zEAEq4mLBwj6q","name":"tf-acc-test-nervous-clean-mango"},"name":"Public Network on tf-acc-test-nervous-clean-mango","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network"},"mac_address":"3a:27:81:6f:34:1d","state":"attached","ip_addresses":[{"id":"ip_0OIccaeAY2GoueKH","address":"185.53.57.88"},{"id":"ip_bpYP90F18aLIqc6x","address":"185.53.57.143"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"edc3da6a19be275227520b4a3a1d8384"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "121"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_wL8zEAEq4mLBwj6q"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_wL8zEAEq4mLBwj6q","name":"tf-acc-test-nervous-clean-mango","hostname":"tf-acc-test-nervous-clean-mango","fqdn":"tf-acc-test-nervous-clean-mango.terraform-acc-test.katapult.cloud","description":null,"created_at":1614083771,"initial_root_password":"2mlwxzHACLdBeQvA","state":"started","zone":{"id"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_0OIccaeAY2GoueKH
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "94"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_wL8zEAEq4mLBwj6q
    method: POST
  response:
    body: '{"task":{"id":"task_soUMJVs6cT78FW1M","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8cf896ae44beecfbd3bfbeaf2edbe327"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "81"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wL8zEAEq4mLBwj6q
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_jauEcMaIcuLCBbDb","keep_until":1614256613,"object_id":"vm_wL8zEAEq4mLBwj6q","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_wL8zEAEq4mLBwj6q","name":"tf-acc-test-nervous-clean-mango","hostname":"tf-acc-test-nervous-clean-mango","fqdn":"tf-acc-test-nervous-clean-mango.terraform-acc-test.katapult.cloud","description":null,"created_at":1614083771,"initial_root_password":"2mlwxzHACLdBeQvA","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_bpYP90F18aLIqc6x
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "72"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_jauEcMaIcuLCBbDb
    method: DELETE
  response:
    body: '{"task":{"id":"task_7lA8aSqTVatg18Fd","name":"Purge items from trash","status":"pending","created_at":1614083814,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"394019ff5c7a4dcc4751309f4b7d69be"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "71"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_7lA8aSqTVatg18Fd
    method: GET
  response:
    body: '{"task":{"id":"task_7lA8aSqTVatg18Fd","name":"Purge items from trash","status":"pending","created_at":1614083814,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"394019ff5c7a4dcc4751309f4b7d69be"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "70"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wL8zEAEq4mLBwj6q
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
