---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_hP6F3Aw4ItQX2kmV","address":"185.199.222.24","reverse_dns":"185-199-222-24.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.24/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a57effbab9a7b0224fddae8a46a6890a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_hP6F3Aw4ItQX2kmV
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hP6F3Aw4ItQX2kmV","address":"185.199.222.24","reverse_dns":"185-199-222-24.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.24/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9bb34c8de1e98877a37f96db56662029"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_hP6F3Aw4ItQX2kmV</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-jealous-hushed-penguin</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_NvKOZ9udCjeosmdk","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_C5qhYHXscsQE1Lbo","state":"pending"},"virtual_machine_build":{"id":"vmbuild_C5qhYHXscsQE1Lbo","state":"pending"},"hostname":"tf-acc-test-jealous-hushed-penguin"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c9a82dacbdc6f6f8b3e92a2dd5636c9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_C5qhYHXscsQE1Lbo
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_C5qhYHXscsQE1Lbo","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.24\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-jealous-hushed-penguin\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_TFGgkP2yJBDwJFrP","name":"tf-acc-test-jealous-hushed-penguin","hostname":"tf-acc-test-jealous-hushed-penguin","fqdn":"tf-acc-test-jealous-hushed-penguin.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1622137143}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5604119e4d22e970ae753197aca2751b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TFGgkP2yJBDwJFrP
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_TFGgkP2yJBDwJFrP","name":"tf-acc-test-jealous-hushed-penguin","hostname":"tf-acc-test-jealous-hushed-penguin","fqdn":"tf-acc-test-jealous-hushed-penguin.terraform-acc-test.katapult.cloud","description":null,"created_at":1622137144,"initial_root_password":"qAWkAD7b8bb2gh2z","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_hP6F3Aw4ItQX2kmV","address":"185.199.222.24","reverse_dns":"tf-acc-test-jealous-hushed-penguin.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.24/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_TFGgkP2yJBDwJFrP","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d9c10d5a8d4393fd0056bfb635d9e66"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_TFGgkP2yJBDwJFrP
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_c20O4Exk0LiMHh9o","name":"Public
      Network on tf-acc-test-jealous-hushed-penguin","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_hP6F3Aw4ItQX2kmV","address":"185.199.222.24"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3a69dfdbcfff56968c410a65cd3e1a3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_c20O4Exk0LiMHh9o
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_c20O4Exk0LiMHh9o","virtual_machine":{"id":"vm_TFGgkP2yJBDwJFrP","name":"tf-acc-test-jealous-hushed-penguin"},"name":"Public
      Network on tf-acc-test-jealous-hushed-penguin","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a1:b0:7c:e5:45","state":"attached","ip_addresses":[{"id":"ip_hP6F3Aw4ItQX2kmV","address":"185.199.222.24"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e85c81cc02d51da0c8270dbd6c244e6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_hP6F3Aw4ItQX2kmV
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hP6F3Aw4ItQX2kmV","address":"185.199.222.24","reverse_dns":"tf-acc-test-jealous-hushed-penguin.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.24/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_TFGgkP2yJBDwJFrP","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_TFGgkP2yJBDwJFrP","name":"tf-acc-test-jealous-hushed-penguin"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2fe17112346b68bee5400bb0dec0366c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_TFGgkP2yJBDwJFrP
    method: POST
  response:
    body: '{"task":{"id":"task_wnwow8T9mnxrsvfE","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8d687691b95caba74e0c4f18e401da94"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_wnwow8T9mnxrsvfE
    method: GET
  response:
    body: '{"task":{"id":"task_wnwow8T9mnxrsvfE","name":"Stop virtual machine","status":"pending","created_at":1622137164,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"543b89757d941298ea10363c10a689bd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TFGgkP2yJBDwJFrP
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_GqVyYO3H54KRLfWj","keep_until":1622309980,"object_id":"vm_TFGgkP2yJBDwJFrP","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_TFGgkP2yJBDwJFrP","name":"tf-acc-test-jealous-hushed-penguin","hostname":"tf-acc-test-jealous-hushed-penguin","fqdn":"tf-acc-test-jealous-hushed-penguin.terraform-acc-test.katapult.cloud","description":null,"created_at":1622137144,"initial_root_password":"qAWkAD7b8bb2gh2z","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","c[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_hP6F3Aw4ItQX2kmV
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_GqVyYO3H54KRLfWj
    method: DELETE
  response:
    body: '{"task":{"id":"task_Dk9xYs9c72Eqzh8x","name":"Purge items from trash","status":"pending","created_at":1622137182,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9ba89ac329d4b1f9362e4f1d1fa81c7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "168"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_Dk9xYs9c72Eqzh8x
    method: GET
  response:
    body: '{"task":{"id":"task_Dk9xYs9c72Eqzh8x","name":"Purge items from trash","status":"running","created_at":1622137182,"started_at":1622137182,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c5a463550d6b4fe3282cc1741e4cefb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "167"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_TFGgkP2yJBDwJFrP
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
