---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "821"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"185-199-222-110.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd27f55240c181e782511ea3cbbac6e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "819"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"185-199-222-110.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"988b8e487f5a90073bdfc45e4a28611c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "811"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_Gl63yHUEkeELpdGm</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-ashy-magnificent-chrome</Hostname></Hostname><Name>tf-acc-test-update_speed_profile-7a2y9ub6sqv7</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_yxpEvJwcZfg0B7ag","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_EJUXXCGYbCcHvnuC","state":"pending"},"virtual_machine_build":{"id":"vmbuild_EJUXXCGYbCcHvnuC","state":"pending"},"hostname":"tf-acc-test-ashy-magnificent-chrome"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"32dae4ea06c779c49385859b36335c6a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "808"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_EJUXXCGYbCcHvnuC
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_EJUXXCGYbCcHvnuC","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.110\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-ashy-magnificent-chrome\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update_speed_profile-7a2y9ub6sqv7\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_Vi8rOHJ07exlaUTf","name":"tf-acc-test-update_speed_profile-7a2y9ub6sqv7","hostname":"tf-acc-test-ashy-magnificent-chrome","fqdn":"tf-acc-test-ashy-magnificent-chrome.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1676031225}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"10cc103aedd0aefc678e8247abc792e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "795"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Vi8rOHJ07exlaUTf
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Vi8rOHJ07exlaUTf","name":"tf-acc-test-update_speed_profile-7a2y9ub6sqv7","hostname":"tf-acc-test-ashy-magnificent-chrome","fqdn":"tf-acc-test-ashy-magnificent-chrome.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"y8G3A0Pkrd53zQzx","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"tf-acc-test-ashy-magnificent-chrome.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Vi8rOHJ07exlaUTf","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df4b4a004484251588f7850e5b360634"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_Vi8rOHJ07exlaUTf
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_13dtoPNhnWnc9KuA","name":"Public
      Network on tf-acc-test-update_speed_profile-7a2y9ub6sqv7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4a9c9e493d4c18a2301d0b0908f17d0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "942"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_13dtoPNhnWnc9KuA
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_13dtoPNhnWnc9KuA","virtual_machine":{"id":"vm_Vi8rOHJ07exlaUTf","name":"tf-acc-test-update_speed_profile-7a2y9ub6sqv7"},"name":"Public
      Network on tf-acc-test-update_speed_profile-7a2y9ub6sqv7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:14:d2:e4:7e:ca","state":"attached","ip_addresses":[{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a339289cf82a17cbf9bd3bae27ef3a4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"tf-acc-test-ashy-magnificent-chrome.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Vi8rOHJ07exlaUTf","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Vi8rOHJ07exlaUTf","name":"tf-acc-test-update_speed_profile-7a2y9ub6sqv7"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec159a768df79e0b0d8f756e7ceaaf44"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_Vi8rOHJ07exlaUTf
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_13dtoPNhnWnc9KuA","name":"Public
      Network on tf-acc-test-update_speed_profile-7a2y9ub6sqv7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"440bfef1cc0da533aeb03636b997c701"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "921"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_13dtoPNhnWnc9KuA"},"speed_profile":{"permalink":"1gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_FfHLQqQoIESxRiSk","name":"Change network interface
      speed profile","status":"pending","created_at":1676031251,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a49a74be9ca73d635aa156ef0873feee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_FfHLQqQoIESxRiSk
    method: GET
  response:
    body: '{"task":{"id":"task_FfHLQqQoIESxRiSk","name":"Change network interface
      speed profile","status":"running","created_at":1676031251,"started_at":1676031252,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1ab116ca122be4a80974bc197ba36e2b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "916"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_Vi8rOHJ07exlaUTf"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_Vi8rOHJ07exlaUTf","name":"tf-acc-test-update_speed_profile-7a2y9ub6sqv7","hostname":"tf-acc-test-ashy-magnificent-chrome","fqdn":"tf-acc-test-ashy-magnificent-chrome.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"y8G3A0Pkrd53zQzx","state":[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Vi8rOHJ07exlaUTf
    method: POST
  response:
    body: '{"task":{"id":"task_0Uza43TjDafyNPyS","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"640fd6fd2e883dd708d1eab86cbc2a59"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "847"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_0Uza43TjDafyNPyS
    method: GET
  response:
    body: '{"task":{"id":"task_0Uza43TjDafyNPyS","name":"Stop virtual machine","status":"running","created_at":1676031258,"started_at":1676031259,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"561f5ca70dfd37aaa6a3f427fb249356"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "845"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Vi8rOHJ07exlaUTf
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_A6LqZ67pk5HsHv9w","keep_until":1676204064,"object_id":"vm_Vi8rOHJ07exlaUTf","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Vi8rOHJ07exlaUTf","name":"tf-acc-test-update_speed_profile-7a2y9ub6sqv7","hostname":"tf-acc-test-ashy-magnificent-chrome","fqdn":"tf-acc-test-ashy-magnificent-chrome.terraform-acc-test.katapult.cloud","description":null,"created_at":1676031226,"initial_root_password":"y8G3A0Pkrd53zQzx","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "837"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_A6LqZ67pk5HsHv9w
    method: DELETE
  response:
    body: '{"task":{"id":"task_liKTlKGuRkrVLIXk","name":"Purge items from trash","status":"pending","created_at":1676031265,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e29779a097a609439301b1f9a2131753"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "836"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_liKTlKGuRkrVLIXk
    method: GET
  response:
    body: '{"task":{"id":"task_liKTlKGuRkrVLIXk","name":"Purge items from trash","status":"pending","created_at":1676031265,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e29779a097a609439301b1f9a2131753"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "833"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Vi8rOHJ07exlaUTf
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "791"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
