---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-custom-disks-rbf4a6hltk1i-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0684zL75GSDRG59e","name":"tf-acc-test-custom-disks-rbf4a6hltk1i-group","segregate":true,"auto_segregate":false,"created_at":1738859923}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c56d481916727b9a0c60c26f020f739"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_0684zL75GSDRG59e
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0684zL75GSDRG59e","name":"tf-acc-test-custom-disks-rbf4a6hltk1i-group","segregate":true,"auto_segregate":false,"created_at":1738859923}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c56d481916727b9a0c60c26f020f739"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_3BSxwzRIsOu4xO3P","address":"185.44.255.61","reverse_dns":"185-44-255-61.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.61/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"05b80b8f27d750e739196ff889284380"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3BSxwzRIsOu4xO3P
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3BSxwzRIsOu4xO3P","address":"185.44.255.61","reverse_dns":"185-44-255-61.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.61/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"46854eec9f27a5b2bb4123dd60efc0c7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_WIJgMVT5VcIFI6br
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_WIJgMVT5VcIFI6br","address":"185.44.255.250","reverse_dns":"185-44-255-250.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.250/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a848845b5471cf15a3cb45a186bd08a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><SystemDisks><Disk><Name>System</Name><Size>20</Size></Disk><Disk><Name>Data</Name><Size>10</Size></Disk><Disk><Name>Disk #3</Name><Size>10</Size></Disk></SystemDisks><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_WIJgMVT5VcIFI6br</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_3BSxwzRIsOu4xO3P</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-custom-disks-rbf4a6hltk1i-host</Hostname></Hostname><Name>tf-acc-test-custom-disks-rbf4a6hltk1i</Name><Description>A web server.</Description><Group>vmgrp_0684zL75GSDRG59e</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_6ZQqY2Too6Rt4VBv","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_JQMY9t1Ts2iYJwGX","state":"pending"},"virtual_machine_build":{"id":"vmbuild_JQMY9t1Ts2iYJwGX","state":"pending"},"hostname":"tf-acc-test-custom-disks-rbf4a6hltk1i-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"62f0d5e9b8036a5353db634fb75da7ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_JQMY9t1Ts2iYJwGX
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_JQMY9t1Ts2iYJwGX","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_zpGuyZkkBASSY2PR"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_zpGuyZkkBASSY2PR","name":"tf-acc-test-custom-disks-rbf4a6hltk1i","hostname":"tf-acc-test-custom-disks-rbf4a6hltk1i-host","fqdn":"tf-acc-test-custom-disks-rbf4a6hltk1i-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738859931,"initial_root_password":"ZmAxITlIDcQKJKRG","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_0684zL75GSDRG59e","name":"tf-acc-test-custom-disks-rbf4a6hltk1i-group","segregate":true,"auto_segregate":false,"created_at":1738859923},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_3BSxwzRIsOu4xO3P","address":"185.44.255.61","reverse_dns":"tf-acc-test-custom-disks-rbf4a6hltk1i-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.61/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","i[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_zpGuyZkkBASSY2PR
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_zpGuyZkkBASSY2PR","name":"tf-acc-test-custom-disks-rbf4a6hltk1i","hostname":"tf-acc-test-custom-disks-rbf4a6hltk1i-host","fqdn":"tf-acc-test-custom-disks-rbf4a6hltk1i-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738859931,"initial_ro[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_zpGuyZkkBASSY2PR
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_pkiw2ADU1zQRif49","name":"Public
      Network on tf-acc-test-custom-disks-rbf4a6hltk1i","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_3BSxwzRIsOu4xO3P","address":"185.44.255.61"},{"id":"ip_WIJgMVT5VcIFI6br","address":"185.44.255.250"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d809bc5f0cd32953b9e29a13b3104561"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_pkiw2ADU1zQRif49
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_pkiw2ADU1zQRif49","virtual_machine":{"id":"vm_zpGuyZkkBASSY2PR","name":"tf-acc-test-custom-disks-rbf4a6hltk1i"},"name":"Public
      Network on tf-acc-test-custom-disks-rbf4a6hltk1i","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:75:3f:3b:ed:66","state":"detached","ip_addresses":[{"id":"ip_3BSxwzRIsOu4xO3P","address":"185.44.255.61"},{"id":"ip_WIJgMVT5VcIFI6br","address":"185.44.255.250"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fb91cf2d4686f2fb3c736e6353508cd1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_pkiw2ADU1zQRif49
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_pkiw2ADU1zQRif49","virtual_machine":{"id":"vm_zpGuyZkkBASSY2PR","name":"tf-acc-test-custom-disks-rbf4a6hltk1i"},"name":"Public
      Network on tf-acc-test-custom-disks-rbf4a6hltk1i","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:75:3f:3b:ed:66","state":"detached","ip_addresses":[{"id":"ip_3BSxwzRIsOu4xO3P","address":"185.44.255.61"},{"id":"ip_WIJgMVT5VcIFI6br","address":"185.44.255.250"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fb91cf2d4686f2fb3c736e6353508cd1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3BSxwzRIsOu4xO3P
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3BSxwzRIsOu4xO3P","address":"185.44.255.61","reverse_dns":"tf-acc-test-custom-disks-rbf4a6hltk1i-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.61/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_zpGuyZkkBASSY2PR","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_zpGuyZkkBASSY2PR","name":"tf-acc-test-custom-disks-rbf4a6hltk1i"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fd0dcdb2c7a134aab386ca0adccdcb9f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_zpGuyZkkBASSY2PR
    method: POST
  response:
    body: '{"task":{"id":"task_2h5uxnRfCEwDwjZL","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"be569e879fa6b9fd72c57255829d9927"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_2h5uxnRfCEwDwjZL
    method: GET
  response:
    body: '{"task":{"id":"task_2h5uxnRfCEwDwjZL","name":"Stop virtual machine","status":"pending","created_at":1738859964,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"56041eed9da1a68faf0319f094f27ad6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_zpGuyZkkBASSY2PR
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_REI0fNojrp13x0Dt","keep_until":1739032791,"object_id":"vm_zpGuyZkkBASSY2PR","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_zpGuyZkkBASSY2PR","name":"tf-acc-test-custom-disks-rbf4a6hltk1i","hostname":"tf-acc-test-custom-disks-rbf4a6hltk1i-host","fqdn":"tf-acc-test-custom-disks-rbf4a6hltk1i-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738859931,"initial_root_password":"ZmAxITlIDcQKJKRG","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_WIJgMVT5VcIFI6br
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_3BSxwzRIsOu4xO3P
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_zpGuyZkkBASSY2PR
    method: DELETE
  response:
    body: '{"task":{"id":"task_ZfOxsTeMCjnquB9t","name":"Purge items from trash","status":"pending","created_at":1738859992,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e2d3c5e4c15b1752c15cde41d937ef2f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_zpGuyZkkBASSY2PR
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_0684zL75GSDRG59e
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_0684zL75GSDRG59e","name":"tf-acc-test-custom-disks-rbf4a6hltk1i-group","segregate":true,"auto_segregate":false,"created_at":1738859923}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c56d481916727b9a0c60c26f020f739"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
