---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"185-199-221-65.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"137b10129b421fd5b21a6014fed1266d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_hc3GUyhBe6toov2e
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"185-199-221-65.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e2dd9834428ed6e25c43af1579322fc9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_hc3GUyhBe6toov2e</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-fierce-young-owl</Hostname></Hostname><Name>tf-acc-test-update-network-speed-profile-y3263shxf973</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Jy5hHqygBHEP2dPZ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_WMEsOc6gBD3YPsZY","state":"pending"},"virtual_machine_build":{"id":"vmbuild_WMEsOc6gBD3YPsZY","state":"pending"},"hostname":"tf-acc-test-fierce-young-owl"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ea672c945bf0e70396844b1b99e2c970"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "964"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_WMEsOc6gBD3YPsZY
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_WMEsOc6gBD3YPsZY","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.65\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-fierce-young-owl\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-network-speed-profile-y3263shxf973\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_xuSwwzpoGxwu4Y2f","name":"tf-acc-test-update-network-speed-profile-y3263shxf973","hostname":"tf-acc-test-fierce-young-owl","fqdn":"tf-acc-test-fierce-young-owl.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1679595009}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"40213ca6bb86faaee23d991317a5331a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_xuSwwzpoGxwu4Y2f
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_xuSwwzpoGxwu4Y2f","name":"tf-acc-test-update-network-speed-profile-y3263shxf973","hostname":"tf-acc-test-fierce-young-owl","fqdn":"tf-acc-test-fierce-young-owl.terraform-acc-test.katapult.cloud","description":null,"created_at":1679595010,"initial_root_password":"SimlTZ4Ry5W3RHNc","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"tf-acc-test-fierce-young-owl.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_xuSwwzpoGxwu4Y2f","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22c043dd0f348ee67049d1fffe06a922"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "751"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_xuSwwzpoGxwu4Y2f
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_20Qq0IPZSDUUrSMD","name":"Public
      Network on tf-acc-test-update-network-speed-profile-y3263shxf973","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c3a00daba70b038192d51cab7eaaffda"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "747"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_20Qq0IPZSDUUrSMD
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_20Qq0IPZSDUUrSMD","virtual_machine":{"id":"vm_xuSwwzpoGxwu4Y2f","name":"tf-acc-test-update-network-speed-profile-y3263shxf973"},"name":"Public
      Network on tf-acc-test-update-network-speed-profile-y3263shxf973","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:54:28:ec:03:bc","state":"attached","ip_addresses":[{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0404834bed94b5f859cb911e39ec4d38"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "746"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_hc3GUyhBe6toov2e
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65","reverse_dns":"tf-acc-test-fierce-young-owl.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.65/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_xuSwwzpoGxwu4Y2f","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_xuSwwzpoGxwu4Y2f","name":"tf-acc-test-update-network-speed-profile-y3263shxf973"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"328e0b2e25c68dc419857f0afdb5c649"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "743"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_xuSwwzpoGxwu4Y2f
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_20Qq0IPZSDUUrSMD","name":"Public
      Network on tf-acc-test-update-network-speed-profile-y3263shxf973","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_hc3GUyhBe6toov2e","address":"185.199.221.65"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eec7b326db94ea6636895cf28cc6eb2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "715"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_20Qq0IPZSDUUrSMD"},"speed_profile":{"permalink":"1gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_mCSdIQYhgpIVL3nR","name":"Change network interface
      speed profile","status":"pending","created_at":1679595030,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"892d494b5cbae501e196cf0e96f92d2d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "714"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_mCSdIQYhgpIVL3nR
    method: GET
  response:
    body: '{"task":{"id":"task_mCSdIQYhgpIVL3nR","name":"Change network interface
      speed profile","status":"running","created_at":1679595030,"started_at":1679595031,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1154904419486c14cc2065851b36e8d5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "711"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_xuSwwzpoGxwu4Y2f"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_xuSwwzpoGxwu4Y2f","name":"tf-acc-test-update-network-speed-profile-y3263shxf973","hostname":"tf-acc-test-fierce-young-owl","fqdn":"tf-acc-test-fierce-young-owl.terraform-acc-test.katapult.cloud","description":null,"created_at":1679595010,"initial_root_password":"SimlTZ4Ry5W3RHNc","state":"start[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_xuSwwzpoGxwu4Y2f
    method: POST
  response:
    body: '{"task":{"id":"task_O38UL3bAyQEsxtlw","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"50b2b6803f378b90ba71181ae9942cf3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "682"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_O38UL3bAyQEsxtlw
    method: GET
  response:
    body: '{"task":{"id":"task_O38UL3bAyQEsxtlw","name":"Stop virtual machine","status":"running","created_at":1679595037,"started_at":1679595038,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e8665f691230e5a06d7151067fd6f49"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "676"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_xuSwwzpoGxwu4Y2f
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_ZuCaqwtxSIfBdtVE","keep_until":1679767844,"object_id":"vm_xuSwwzpoGxwu4Y2f","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_xuSwwzpoGxwu4Y2f","name":"tf-acc-test-update-network-speed-profile-y3263shxf973","hostname":"tf-acc-test-fierce-young-owl","fqdn":"tf-acc-test-fierce-young-owl.terraform-acc-test.katapult.cloud","description":null,"created_at":1679595010,"initial_root_password":"SimlTZ4Ry5W3RHNc","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_hc3GUyhBe6toov2e
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "656"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_xuSwwzpoGxwu4Y2f
    method: DELETE
  response:
    body: '{"task":{"id":"task_LeqKobdZmbCfxFYj","name":"Purge items from trash","status":"pending","created_at":1679595045,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b9707786c40ca7f7e2a8460fb6f184b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "654"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_xuSwwzpoGxwu4Y2f
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "642"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
