---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_dHjE8bqCL4inBLBI","address":"185.53.57.5","reverse_dns":"185-53-57-5.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.5/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4ababc34810505ee402ceb120c9333bc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_dHjE8bqCL4inBLBI
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_dHjE8bqCL4inBLBI","address":"185.53.57.5","reverse_dns":"185-53-57-5.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.5/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8658d2e04a7af83ccf3a03f244226577"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_dHjE8bqCL4inBLBI</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-popular-yellow-ship</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_9vMdkIIAV6ULXS0p","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_hPnq025UzJXFPt1Q","state":"pending"},"virtual_machine_build":{"id":"vmbuild_hPnq025UzJXFPt1Q","state":"pending"},"hostname":"tf-acc-test-popular-yellow-ship"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9464067431f5cd0a861405edaebd7ed3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_hPnq025UzJXFPt1Q
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_hPnq025UzJXFPt1Q","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.5\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-popular-yellow-ship\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_8GXAXykWIbqEk61X","name":"tf-acc-test-popular-yellow-ship","hostname":"tf-acc-test-popular-yellow-ship","fqdn":"tf-acc-test-popular-yellow-ship.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1613684358}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"27dbe56d876b8e7e8c10e618c53a46b2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_8GXAXykWIbqEk61X
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_8GXAXykWIbqEk61X","name":"tf-acc-test-popular-yellow-ship","hostname":"tf-acc-test-popular-yellow-ship","fqdn":"tf-acc-test-popular-yellow-ship.terraform-acc-test.katapult.cloud","description":null,"created_at":1613684359,"initial_root_password":"QRqOQqe4AfEm7f1i","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_dHjE8bqCL4inBLBI","address":"185.53.57.5","reverse_dns":"tf-acc-test-popular-yellow-ship.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.5/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_8GXAXykWIbqEk61X","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"da116d2187475e4c1804f8c3e28c1121"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_dHjE8bqCL4inBLBI
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_dHjE8bqCL4inBLBI","address":"185.53.57.5","reverse_dns":"tf-acc-test-popular-yellow-ship.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.5/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_8GXAXykWIbqEk61X","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_8GXAXykWIbqEk61X","name":"tf-acc-test-popular-yellow-ship"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0a7d3a938280fdafdfba0949a4ca5a74"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_0OIccaeAY2GoueKH
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_0OIccaeAY2GoueKH","address":"185.53.57.88","reverse_dns":"185-53-57-88.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.88/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f49734af5dcd00b75d9aec217dce891"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_8GXAXykWIbqEk61X
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_tqpvVxsPnncRaQup","name":"Public Network on tf-acc-test-popular-yellow-ship","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network"},"ip_addresses":[{"id":"ip_dHjE8bqCL4inBLBI","address":"185.53.57.5"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f62420acd60e330c96f9233a04ef388e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_tqpvVxsPnncRaQup"},"ip_address":{"id":"ip_0OIccaeAY2GoueKH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_tqpvVxsPnncRaQup","virtual_machine":{"id":"vm_8GXAXykWIbqEk61X","name":"tf-acc-test-popular-yellow-ship"},"name":"Public Network on tf-acc-test-popular-yellow-ship","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network"},"mac_address":"3a:da:a8:9f:c6:16","state":"attached","ip_addresses":[{"id":"ip_dHjE8bqCL4inBLBI","address":"185.53.57.5"},{"id":"ip_0OIccaeAY2GoueKH","address":"185.53.57.88"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3c1b54a05ca2ffbfaf14b951043cc42"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_8GXAXykWIbqEk61X"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_8GXAXykWIbqEk61X","name":"tf-acc-test-popular-yellow-ship","hostname":"tf-acc-test-popular-yellow-ship","fqdn":"tf-acc-test-popular-yellow-ship.terraform-acc-test.katapult.cloud","description":null,"created_at":1613684359,"initial_root_password":"QRqOQqe4AfEm7f1i","state":"started","zone":{"id"[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_0OIccaeAY2GoueKH
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "147"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_8GXAXykWIbqEk61X
    method: POST
  response:
    body: '{"task":{"id":"task_QgpgboaJShVEsWue","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"47f24a9dabbd601c231cfbc976380205"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_8GXAXykWIbqEk61X
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_sxs0IpJBFvJcthXh","keep_until":1613857187,"object_id":"vm_8GXAXykWIbqEk61X","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_8GXAXykWIbqEk61X","name":"tf-acc-test-popular-yellow-ship","hostname":"tf-acc-test-popular-yellow-ship","fqdn":"tf-acc-test-popular-yellow-ship.terraform-acc-test.katapult.cloud","description":null,"created_at":1613684359,"initial_root_password":"QRqOQqe4AfEm7f1i","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_dHjE8bqCL4inBLBI
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "135"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_sxs0IpJBFvJcthXh
    method: DELETE
  response:
    body: '{"task":{"id":"task_1L1hyzOZmPrvlZpy","name":"Purge items from trash","status":"pending","created_at":1613684387,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"002191ad82b9b9b17c00b33dc16f1e58"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "134"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_1L1hyzOZmPrvlZpy
    method: GET
  response:
    body: '{"task":{"id":"task_1L1hyzOZmPrvlZpy","name":"Purge items from trash","status":"running","created_at":1613684387,"started_at":1613684388,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"11f2e38276d826da58d57640f743f61d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "133"
    status: 200 OK
    code: 200
    duration: ""
[...]
