---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-group-bar22cofqkj6","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_G0hxFF6646peAwHk","name":"tf-acc-test-update-group-bar22cofqkj6","segregate":true,"auto_segregate":false,"created_at":1738860019}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2928361355a7690e9313b54b0cd2081e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_G0hxFF6646peAwHk
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_G0hxFF6646peAwHk","name":"tf-acc-test-update-group-bar22cofqkj6","segregate":true,"auto_segregate":false,"created_at":1738860019}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2928361355a7690e9313b54b0cd2081e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_T9HFO8cKRx7BgJr1","address":"185.44.252.93","reverse_dns":"185-44-252-93.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.93/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"defd09d5f94440978c8eafa0d5965ba5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_T9HFO8cKRx7BgJr1
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_T9HFO8cKRx7BgJr1","address":"185.44.252.93","reverse_dns":"185-44-252-93.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.93/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"edf8c0bac5599989162fe9dd2e018057"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_T9HFO8cKRx7BgJr1</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-silent-intimidating-eagle</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_lkmEpSFLCkop42h1","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_c3BWi6ynxF5vdFlx","state":"pending"},"virtual_machine_build":{"id":"vmbuild_c3BWi6ynxF5vdFlx","state":"pending"},"hostname":"tf-acc-test-silent-intimidating-eagle","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"03d9c007b165c17dfae8b4613c4f0118"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_c3BWi6ynxF5vdFlx
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_c3BWi6ynxF5vdFlx","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.93\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-silent-intimidating-eagle\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738860019},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1363a77c15a36dbc07f41aa13fbc7123"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_FcDj8Af1kqFuhR45
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_FcDj8Af1kqFuhR45","name":"tf-acc-test-silent-intimidating-eagle","hostname":"tf-acc-test-silent-intimidating-eagle","fqdn":"tf-acc-test-silent-intimidating-eagle.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860030,"initial_root_password":"jPzouVxLoDnceWZI","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_T9HFO8cKRx7BgJr1","address":"185.44.252.93","reverse_dns":"tf-acc-test-silent-intimidating-eagle.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.93/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_FcDj8Af1kqFuhR45","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d3c6fa6ed70207d888b75f773eda7287"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_FcDj8Af1kqFuhR45
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_yjXnACKprQKcmHO0","name":"Public
      Network on tf-acc-test-silent-intimidating-eagle","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_T9HFO8cKRx7BgJr1","address":"185.44.252.93"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f7e796f28c08d79af08eaa4206a797d0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "905"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_yjXnACKprQKcmHO0
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_yjXnACKprQKcmHO0","virtual_machine":{"id":"vm_FcDj8Af1kqFuhR45","name":"tf-acc-test-silent-intimidating-eagle"},"name":"Public
      Network on tf-acc-test-silent-intimidating-eagle","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:45:55:ec:64:7d","state":"detached","ip_addresses":[{"id":"ip_T9HFO8cKRx7BgJr1","address":"185.44.252.93"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cc3d1145722b337014786bcc164b7c03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "904"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_yjXnACKprQKcmHO0
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_yjXnACKprQKcmHO0","virtual_machine":{"id":"vm_FcDj8Af1kqFuhR45","name":"tf-acc-test-silent-intimidating-eagle"},"name":"Public
      Network on tf-acc-test-silent-intimidating-eagle","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:45:55:ec:64:7d","state":"detached","ip_addresses":[{"id":"ip_T9HFO8cKRx7BgJr1","address":"185.44.252.93"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cc3d1145722b337014786bcc164b7c03"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "903"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_T9HFO8cKRx7BgJr1
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_T9HFO8cKRx7BgJr1","address":"185.44.252.93","reverse_dns":"tf-acc-test-silent-intimidating-eagle.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.93/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_FcDj8Af1kqFuhR45","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_FcDj8Af1kqFuhR45","name":"tf-acc-test-silent-intimidating-eagle"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4b61fd28134d01acb81c69554fa6a08a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_FcDj8Af1kqFuhR45"},"properties":{"group":{"id":"vmgrp_G0hxFF6646peAwHk"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_FcDj8Af1kqFuhR45","name":"tf-acc-test-silent-intimidating-eagle","hostname":"tf-acc-test-silent-intimidating-eagle","fqdn":"tf-acc-test-silent-intimidating-eagle.terr[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_G0hxFF6646peAwHk
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_G0hxFF6646peAwHk","name":"tf-acc-test-update-group-bar22cofqkj6","segregate":true,"auto_segregate":false,"created_at":1738860019}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2928361355a7690e9313b54b0cd2081e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_FcDj8Af1kqFuhR45
    method: POST
  response:
    body: '{"task":{"id":"task_isIdzldqgEN2ajqa","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0766c40d6e2d41f963556d8aa3974028"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_isIdzldqgEN2ajqa
    method: GET
  response:
    body: '{"task":{"id":"task_isIdzldqgEN2ajqa","name":"Stop virtual machine","status":"pending","created_at":1738860062,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8cf2f5d5321d928d5ccba120c4c15c0c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_FcDj8Af1kqFuhR45
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_qFScXjHQeyNQOnoG","keep_until":1739032899,"object_id":"vm_FcDj8Af1kqFuhR45","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_FcDj8Af1kqFuhR45","name":"tf-acc-test-silent-intimidating-eagle","hostname":"tf-acc-test-silent-intimidating-eagle","fqdn":"tf-acc-test-silent-intimidating-eagle.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860030,"initial_root_password":"jPzouVxLoDnceWZI","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-l[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_T9HFO8cKRx7BgJr1
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "835"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_FcDj8Af1kqFuhR45
    method: DELETE
  response:
    body: '{"task":{"id":"task_XomZ40nk07Ea8ROu","name":"Purge items from trash","status":"pending","created_at":1738860100,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ad7f001138c3ee546502f27a85cd52ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "834"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_FcDj8Af1kqFuhR45
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
