---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-group-7kdow0kqjwsz","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_OobE39xSZMFdgRfF","name":"tf-acc-test-update-group-7kdow0kqjwsz","segregate":true,"created_at":1678292124}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5525da457bef9be75c9cb8d888480ea7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_OobE39xSZMFdgRfF
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_OobE39xSZMFdgRfF","name":"tf-acc-test-update-group-7kdow0kqjwsz","segregate":true,"created_at":1678292124}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5525da457bef9be75c9cb8d888480ea7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ugW5LZiANk0pPODW","address":"185.199.221.200","reverse_dns":"185-199-221-200.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.200/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cfecafe8267c6f5d7cccffa64b581ac0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ugW5LZiANk0pPODW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ugW5LZiANk0pPODW","address":"185.199.221.200","reverse_dns":"185-199-221-200.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.200/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a6f4e0e9fa715c3de379e0d2ba0839ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_ugW5LZiANk0pPODW</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-clever-thankful-rickshaw</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Nn1QpEEdTXJyGdfH","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_Rkb3gWpKdDXWNVhh","state":"pending"},"virtual_machine_build":{"id":"vmbuild_Rkb3gWpKdDXWNVhh","state":"pending"},"hostname":"tf-acc-test-clever-thankful-rickshaw"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"493f23494528fc7962d8b7d33623a037"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_Rkb3gWpKdDXWNVhh
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Rkb3gWpKdDXWNVhh","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.200\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-clever-thankful-rickshaw\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_jKCKt1g56izvgQoz","name":"tf-acc-test-clever-thankful-rickshaw","hostname":"tf-acc-test-clever-thankful-rickshaw","fqdn":"tf-acc-test-clever-thankful-rickshaw.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1678292126}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ef6ed8bb0b2565eeb08b4a096edae3a7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jKCKt1g56izvgQoz
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_jKCKt1g56izvgQoz","name":"tf-acc-test-clever-thankful-rickshaw","hostname":"tf-acc-test-clever-thankful-rickshaw","fqdn":"tf-acc-test-clever-thankful-rickshaw.terraform-acc-test.katapult.cloud","description":null,"created_at":1678292127,"initial_root_password":"nDrCcSEmT5aWmisH","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_ugW5LZiANk0pPODW","address":"185.199.221.200","reverse_dns":"tf-acc-test-clever-thankful-rickshaw.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.200/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_jKCKt1g56izvgQoz","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"870bb597c2b4f7548f8b85fc5d8ce4b7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_jKCKt1g56izvgQoz
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_adJo4gzVjYikHJvc","name":"Public
      Network on tf-acc-test-clever-thankful-rickshaw","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_ugW5LZiANk0pPODW","address":"185.199.221.200"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e6e38e3a44cea3561f6d50c72ae513f1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_adJo4gzVjYikHJvc
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_adJo4gzVjYikHJvc","virtual_machine":{"id":"vm_jKCKt1g56izvgQoz","name":"tf-acc-test-clever-thankful-rickshaw"},"name":"Public
      Network on tf-acc-test-clever-thankful-rickshaw","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:79:f9:53:d5:44","state":"attached","ip_addresses":[{"id":"ip_ugW5LZiANk0pPODW","address":"185.199.221.200"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12ed36d52fc1d355198b172cab066dbc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ugW5LZiANk0pPODW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ugW5LZiANk0pPODW","address":"185.199.221.200","reverse_dns":"tf-acc-test-clever-thankful-rickshaw.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.200/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_jKCKt1g56izvgQoz","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_jKCKt1g56izvgQoz","name":"tf-acc-test-clever-thankful-rickshaw"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b95ffa0f10a4b5a87cac79cc4fb40d7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_jKCKt1g56izvgQoz"},"properties":{"group":{"id":"vmgrp_OobE39xSZMFdgRfF"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_jKCKt1g56izvgQoz","name":"tf-acc-test-clever-thankful-rickshaw","hostname":"tf-acc-test-clever-thankful-rickshaw","fqdn":"tf-acc-test-clever-thankful-rickshaw.terrafo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_OobE39xSZMFdgRfF
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_OobE39xSZMFdgRfF","name":"tf-acc-test-update-group-7kdow0kqjwsz","segregate":true,"created_at":1678292124}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5525da457bef9be75c9cb8d888480ea7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_jKCKt1g56izvgQoz
    method: POST
  response:
    body: '{"task":{"id":"task_IpfJrd8Q2CHmWSHU","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49c2bf245d248092ea6f8237defce285"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "938"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_IpfJrd8Q2CHmWSHU
    method: GET
  response:
    body: '{"task":{"id":"task_IpfJrd8Q2CHmWSHU","name":"Stop virtual machine","status":"pending","created_at":1678292149,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8a22a82fa8e1a23fc0f38dbf584818c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jKCKt1g56izvgQoz
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_fexS5Pr0ZmvsOE37","keep_until":1678464975,"object_id":"vm_jKCKt1g56izvgQoz","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_jKCKt1g56izvgQoz","name":"tf-acc-test-clever-thankful-rickshaw","hostname":"tf-acc-test-clever-thankful-rickshaw","fqdn":"tf-acc-test-clever-thankful-rickshaw.terraform-acc-test.katapult.cloud","description":null,"created_at":1678292127,"initial_root_password":"nDrCcSEmT5aWmisH","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ugW5LZiANk0pPODW
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_fexS5Pr0ZmvsOE37
    method: DELETE
  response:
    body: '{"task":{"id":"task_sZyxEWqH8Zxt9W3w","name":"Purge items from trash","status":"pending","created_at":1678292176,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cfb7048b9cc161b277116c81b00b17e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_sZyxEWqH8Zxt9W3w
    method: GET
  response:
    body: '{"task":{"id":"task_sZyxEWqH8Zxt9W3w","name":"Purge items from trash","status":"running","created_at":1678292176,"started_at":1678292176,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"559303b4828c281df8c071436a6fe48e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jKCKt1g56izvgQoz
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
