---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ZcuSWwk99q1f62vi","address":"185.44.253.33","reverse_dns":"185-44-253-33.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.33/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d1d6911aed9e9c7c2523bd3a2db3d95f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ZcuSWwk99q1f62vi
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ZcuSWwk99q1f62vi","address":"185.44.253.33","reverse_dns":"185-44-253-33.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.33/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f240f9680b44f0d5ad6584af46a2811"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_ZcuSWwk99q1f62vi</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host</Hostname></Hostname><Name>tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_fXlLkwoBGVNpzGrE","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_VsDJqfMH3uuLVVSr","state":"pending"},"virtual_machine_build":{"id":"vmbuild_VsDJqfMH3uuLVVSr","state":"pending"},"hostname":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"67f815f636ed51d0462ec342c60c2cb2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_VsDJqfMH3uuLVVSr
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_VsDJqfMH3uuLVVSr","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.33\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1783600628},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c98dc9d8aab3856a57abbc5b21c5a166"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_4BXkJZRBjjHKPKXu
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_4BXkJZRBjjHKPKXu","name":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb","hostname":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host","fqdn":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783600634,"initial_root_password":"lZKRALij7GPlbRdJ","state":"starting","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"LON-3","permalink":"lon-zone-3","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_ZcuSWwk99q1f62vi","address":"185.44.253.33","reverse_dns":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.33/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_4BXkJZRBjjHKPKXu","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2dc871bae3f066ed4d4b9f16900343f8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_4BXkJZRBjjHKPKXu
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_tHkfaytEDikNKan4","name":"Public
      Network on tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_ZcuSWwk99q1f62vi","address":"185.44.253.33","reverse_dns":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.253.33/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1f1c9f0e092adb2d241cb4972c81f881"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_tHkfaytEDikNKan4
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_tHkfaytEDikNKan4","virtual_machine":{"id":"vm_4BXkJZRBjjHKPKXu","name":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb"},"name":"Public
      Network on tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:39:ee:b5:72:65","state":"attached","ip_addresses":[{"id":"ip_ZcuSWwk99q1f62vi","address":"185.44.253.33"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"68d32c57a4181f7745d0248f2860f42b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_tHkfaytEDikNKan4
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_tHkfaytEDikNKan4","virtual_machine":{"id":"vm_4BXkJZRBjjHKPKXu","name":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb"},"name":"Public
      Network on tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:39:ee:b5:72:65","state":"attached","ip_addresses":[{"id":"ip_ZcuSWwk99q1f62vi","address":"185.44.253.33"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"68d32c57a4181f7745d0248f2860f42b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ZcuSWwk99q1f62vi
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ZcuSWwk99q1f62vi","address":"185.44.253.33","reverse_dns":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.33/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_4BXkJZRBjjHKPKXu","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_4BXkJZRBjjHKPKXu","name":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6ca004cf4f42296217ffc7d260788eaa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_4BXkJZRBjjHKPKXu
    method: POST
  response:
    body: '{"task":{"id":"task_GyFRhNHRWyTBqAu6","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6453961a6e6b2ec9ba035abf35632db6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_GyFRhNHRWyTBqAu6
    method: GET
  response:
    body: '{"task":{"id":"task_GyFRhNHRWyTBqAu6","name":"Stop virtual machine","status":"pending","created_at":1783600674,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d8fce800c90d762129d37989a88e00e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_4BXkJZRBjjHKPKXu"},"virtual_machine_package":{"permalink":"rock-1"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_/package
    method: PUT
  response:
    body: '{"task":{"id":"task_SlvfqYE2cYR8YWzV","name":"Change package","status":"pending","created_at":1783600702,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2980751a9dfb3834cd2be1bcce44948b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_SlvfqYE2cYR8YWzV
    method: GET
  response:
    body: '{"task":{"id":"task_SlvfqYE2cYR8YWzV","name":"Change package","status":"running","created_at":1783600702,"started_at":1783600703,"finished_at":null,"progress":15}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7a2d1da9ec977b763ab654380c14763a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_4BXkJZRBjjHKPKXu"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_4BXkJZRBjjHKPKXu","name":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb","hostname":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host","fqdn":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host.terraform-acc-test.katapult.cloud","description":null,"created_[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_4BXkJZRBjjHKPKXu
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_ONIijWkJViNGpXiD","keep_until":1783773509,"object_id":"vm_4BXkJZRBjjHKPKXu","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_4BXkJZRBjjHKPKXu","name":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb","hostname":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host","fqdn":"tf-acc-test-update-package-downgrade-stopped-f9nwpwdteezb-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783600634,"initial_root_password":"lZKRALij7GPlbRdJ","state":"stopped","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ZcuSWwk99q1f62vi
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_4BXkJZRBjjHKPKXu
    method: DELETE
  response:
    body: '{"task":{"id":"task_tRWag2DeW1fw3Xn0","name":"Purge items from trash","status":"pending","created_at":1783600711,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"915358ed6505f728ce68771b60d8443d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_4BXkJZRBjjHKPKXu
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
