---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-custom-disks-j7bvkhzeb9fz-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EiJha1G2P7iivL1X","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz-group","segregate":true,"created_at":1676031683}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b31a71edc87a56c170f0dfeba61c5dd5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_EiJha1G2P7iivL1X
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EiJha1G2P7iivL1X","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz-group","segregate":true,"created_at":1676031683}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b31a71edc87a56c170f0dfeba61c5dd5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"185-199-222-110.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd27f55240c181e782511ea3cbbac6e5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"185-199-222-110.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"988b8e487f5a90073bdfc45e4a28611c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_IfpYnsZOYg3w24re
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_IfpYnsZOYg3w24re","address":"185.199.222.59","reverse_dns":"185-199-222-59.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.59/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"701dbca2c2df4dc229a9a7e310e47ec8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><SystemDisks><Disk><Name>System</Name><Size>20</Size></Disk><Disk><Name>Data</Name><Size>10</Size></Disk><Disk><Name>Disk #3</Name><Size>10</Size></Disk></SystemDisks><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_IfpYnsZOYg3w24re</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_Gl63yHUEkeELpdGm</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-custom-disks-j7bvkhzeb9fz-host</Hostname></Hostname><Name>tf-acc-test-custom-disks-j7bvkhzeb9fz</Name><Description>A web server.</Description><Group>vmgrp_EiJha1G2P7iivL1X</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_NJQqXNwiqDZteV8M","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_7YHMr4QhnEDdYpos","state":"pending"},"virtual_machine_build":{"id":"vmbuild_7YHMr4QhnEDdYpos","state":"pending"},"hostname":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2dd2b3c63c34e3dbeca0c9e18187fb66"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_7YHMr4QhnEDdYpos
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_7YHMr4QhnEDdYpos","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_5xtZxmLwOERVGJaW"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_5xtZxmLwOERVGJaW","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz","hostname":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host","fqdn":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031684,"initial_root_password":"Bkot91f6plL36xFS","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_EiJha1G2P7iivL1X","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz-group","segregate":true,"created_at":1676031683},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_IfpYnsZOYg3w24re","address":"185.199.222.59","reverse_dns":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.59/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_5xtZxmLwOERVGJaW","allocation_type":"VirtualMachine"},{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_5xtZxmLwOERVGJaW","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0a2814bf9c861340f5f656170cb28422"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_5xtZxmLwOERVGJaW
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_5xtZxmLwOERVGJaW","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz","hostname":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host","fqdn":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031684,"initial_ro[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_5xtZxmLwOERVGJaW
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_fLYXAdq9ZGA4VHER","name":"Public
      Network on tf-acc-test-custom-disks-j7bvkhzeb9fz","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_IfpYnsZOYg3w24re","address":"185.199.222.59"},{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ba5efb8550e2c8152c4e83852c1b4b75"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_fLYXAdq9ZGA4VHER
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_fLYXAdq9ZGA4VHER","virtual_machine":{"id":"vm_5xtZxmLwOERVGJaW","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz"},"name":"Public
      Network on tf-acc-test-custom-disks-j7bvkhzeb9fz","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:b9:e7:39:25:cc","state":"attached","ip_addresses":[{"id":"ip_IfpYnsZOYg3w24re","address":"185.199.222.59"},{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0e5270f6a73dd41d68afce37bdac258"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_5xtZxmLwOERVGJaW","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_5xtZxmLwOERVGJaW","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9013ec9ffa68cb2963dde0ede6cbf1b8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_5xtZxmLwOERVGJaW
    method: POST
  response:
    body: '{"task":{"id":"task_7uAiEUS8aN4CHA3k","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02b74d0b2eb903deb8de3db3a2e53b29"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_7uAiEUS8aN4CHA3k
    method: GET
  response:
    body: '{"task":{"id":"task_7uAiEUS8aN4CHA3k","name":"Stop virtual machine","status":"pending","created_at":1676031708,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"651039fd4f7e1e3a5fbc30698c13504b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_5xtZxmLwOERVGJaW
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_1oiYUeL04U55SeMC","keep_until":1676204535,"object_id":"vm_5xtZxmLwOERVGJaW","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_5xtZxmLwOERVGJaW","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz","hostname":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host","fqdn":"tf-acc-test-custom-disks-j7bvkhzeb9fz-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031684,"initial_root_password":"Bkot91f6plL36xFS","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_IfpYnsZOYg3w24re
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_1oiYUeL04U55SeMC
    method: DELETE
  response:
    body: '{"task":{"id":"task_ocKO8ysS3KiPtQPe","name":"Purge items from trash","status":"pending","created_at":1676031736,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bc1ff7236029de6aa55f032aa785035b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ocKO8ysS3KiPtQPe
    method: GET
  response:
    body: '{"task":{"id":"task_ocKO8ysS3KiPtQPe","name":"Purge items from trash","status":"running","created_at":1676031736,"started_at":1676031736,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0a59bd898d39358730031d0240a27979"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_EiJha1G2P7iivL1X
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EiJha1G2P7iivL1X","name":"tf-acc-test-custom-disks-j7bvkhzeb9fz-group","segregate":true,"created_at":1676031683}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b31a71edc87a56c170f0dfeba61c5dd5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_5xtZxmLwOERVGJaW
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
