---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_JOJhTFtsqly6fUBI","address":"185.44.252.174","reverse_dns":"185-44-252-174.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.174/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8670267eabf53151140cf8eb767117f8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_JOJhTFtsqly6fUBI
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JOJhTFtsqly6fUBI","address":"185.44.252.174","reverse_dns":"185-44-252-174.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.252.174/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6e4f94b94e5b6d439d1e1fe624e353d8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package>vmpkg_dhG25G5SX3HrA5j5</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_JOJhTFtsqly6fUBI</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-package-by-id-8xzo1gqx9iil-host</Hostname></Hostname><Name>tf-acc-test-update-package-by-id-8xzo1gqx9iil</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_YtQ0n5o525121THO","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_3AR7JhVE228PDOoW","state":"pending"},"virtual_machine_build":{"id":"vmbuild_3AR7JhVE228PDOoW","state":"pending"},"hostname":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ef9c143f068e9aa63d996763544f4c2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_3AR7JhVE228PDOoW
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_3AR7JhVE228PDOoW","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-1\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.252.174\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-update-package-by-id-8xzo1gqx9iil-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-package-by-id-8xzo1gqx9iil\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1783536159},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4bada9733bc0007a596f4572f9c0b17b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ibeOKufPo1SHMkz8
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_ibeOKufPo1SHMkz8","name":"tf-acc-test-update-package-by-id-8xzo1gqx9iil","hostname":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host","fqdn":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783536167,"initial_root_password":"TmLXlG8ulbLBugJc","state":"starting","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"LON-3","permalink":"lon-zone-3","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":1,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_JOJhTFtsqly6fUBI","address":"185.44.252.174","reverse_dns":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.174/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_ibeOKufPo1SHMkz8","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74b83430557c64510bf194cf200f4b4c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_ibeOKufPo1SHMkz8
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_1wmfJWRrQNGTqeDu","name":"Public
      Network on tf-acc-test-update-package-by-id-8xzo1gqx9iil","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_JOJhTFtsqly6fUBI","address":"185.44.252.174","reverse_dns":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.252.174/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ddc6c529e125c569a19f216b09427e13"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_1wmfJWRrQNGTqeDu
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_1wmfJWRrQNGTqeDu","virtual_machine":{"id":"vm_ibeOKufPo1SHMkz8","name":"tf-acc-test-update-package-by-id-8xzo1gqx9iil"},"name":"Public
      Network on tf-acc-test-update-package-by-id-8xzo1gqx9iil","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:c8:8b:aa:d8:44","state":"attached","ip_addresses":[{"id":"ip_JOJhTFtsqly6fUBI","address":"185.44.252.174"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c615867b50dfb7055756ea6c17a2a90f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_1wmfJWRrQNGTqeDu
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_1wmfJWRrQNGTqeDu","virtual_machine":{"id":"vm_ibeOKufPo1SHMkz8","name":"tf-acc-test-update-package-by-id-8xzo1gqx9iil"},"name":"Public
      Network on tf-acc-test-update-package-by-id-8xzo1gqx9iil","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:c8:8b:aa:d8:44","state":"attached","ip_addresses":[{"id":"ip_JOJhTFtsqly6fUBI","address":"185.44.252.174"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c615867b50dfb7055756ea6c17a2a90f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_JOJhTFtsqly6fUBI
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_JOJhTFtsqly6fUBI","address":"185.44.252.174","reverse_dns":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.252.174/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_ibeOKufPo1SHMkz8","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_ibeOKufPo1SHMkz8","name":"tf-acc-test-update-package-by-id-8xzo1gqx9iil"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c3c7befe5208605a8d42832e55aff04"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bid%5D=vmpkg_Eh5LYVKScVHpj7sM
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a22b1e94ba820ef313e1dd914e6c766"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_ibeOKufPo1SHMkz8"},"virtual_machine_package":{"id":"vmpkg_Eh5LYVKScVHpj7sM"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_/package
    method: PUT
  response:
    body: '{"task":{"id":"task_tSN8Iyh2ESOf6C0V","name":"Change package","status":"pending","created_at":1783536196,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22c04c237ce1f424907a93b2a058252a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_tSN8Iyh2ESOf6C0V
    method: GET
  response:
    body: '{"task":{"id":"task_tSN8Iyh2ESOf6C0V","name":"Change package","status":"pending","created_at":1783536196,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22c04c237ce1f424907a93b2a058252a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "958"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_ibeOKufPo1SHMkz8"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_ibeOKufPo1SHMkz8","name":"tf-acc-test-update-package-by-id-8xzo1gqx9iil","hostname":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host","fqdn":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783536167,"initial_root_passwor[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_ibeOKufPo1SHMkz8
    method: POST
  response:
    body: '{"task":{"id":"task_U8KrCQXVUC36krpm","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0c18eceda43a5e3d32b296dfcf23b1d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "874"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_U8KrCQXVUC36krpm
    method: GET
  response:
    body: '{"task":{"id":"task_U8KrCQXVUC36krpm","name":"Stop virtual machine","status":"pending","created_at":1783536233,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"38b2f2245b02f1effb24c1df40f7b9f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "873"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ibeOKufPo1SHMkz8
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_56kThABTKGlDOoZ6","keep_until":1783709051,"object_id":"vm_ibeOKufPo1SHMkz8","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_ibeOKufPo1SHMkz8","name":"tf-acc-test-update-package-by-id-8xzo1gqx9iil","hostname":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host","fqdn":"tf-acc-test-update-package-by-id-8xzo1gqx9iil-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783536167,"initial_root_password":"TmLXlG8ulbLBugJc","state":"stopped","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"LON-3","permalink":"lon-zone-3","dat[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_JOJhTFtsqly6fUBI
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_ibeOKufPo1SHMkz8
    method: DELETE
  response:
    body: '{"task":{"id":"task_pF2sRgf4C6qtIF33","name":"Purge items from trash","status":"pending","created_at":1783536252,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"91df5947fdc4ce4b9281dd5a8bab7ae6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_ibeOKufPo1SHMkz8
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
