---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "827"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"185-199-222-21.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3800ced61b87a06fdc1ed4f888deb861"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "826"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3Mc6zF0VP1zK9Z7n
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"185-199-222-21.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d73e9de6162e4a6972c8f55598b5f968"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "825"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_3Mc6zF0VP1zK9Z7n</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-nopeoejp19qq-host</Hostname></Hostname><Name>tf-acc-test-update-nopeoejp19qq</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_ukkae6zqFe59keRE","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_DfVUViGHKFFlwYW4","state":"pending"},"virtual_machine_build":{"id":"vmbuild_DfVUViGHKFFlwYW4","state":"pending"},"hostname":"tf-acc-test-update-nopeoejp19qq-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cec29eb10da6b48a516c9c1ffbcdde81"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "823"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_DfVUViGHKFFlwYW4
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_DfVUViGHKFFlwYW4","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_XLuhPjHeQ5Nu9kzQ"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_XLuhPjHeQ5Nu9kzQ","name":"tf-acc-test-update-nopeoejp19qq","hostname":"tf-acc-test-update-nopeoejp19qq-host","fqdn":"tf-acc-test-update-nopeoejp19qq-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031272,"initial_root_password":"giWEXXMINP1C7Euk","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"tf-acc-test-update-nopeoejp19qq-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_XLuhPjHeQ5Nu9kzQ","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0e0c4a42ce9eb86e3ebe3bafb625a0f6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "805"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_XLuhPjHeQ5Nu9kzQ
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_XLuhPjHeQ5Nu9kzQ","name":"tf-acc-test-update-nopeoejp19qq","hostname":"tf-acc-test-update-nopeoejp19qq-host","fqdn":"tf-acc-test-update-nopeoejp19qq-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031272,"initial_root_password":"giWE[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_XLuhPjHeQ5Nu9kzQ
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_eWbnp4Tigp1qhtf3","name":"Public
      Network on tf-acc-test-update-nopeoejp19qq","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"88ad751eee59dec90185e870bf3a5a39"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "801"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_eWbnp4Tigp1qhtf3
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_eWbnp4Tigp1qhtf3","virtual_machine":{"id":"vm_XLuhPjHeQ5Nu9kzQ","name":"tf-acc-test-update-nopeoejp19qq"},"name":"Public
      Network on tf-acc-test-update-nopeoejp19qq","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:d8:db:22:ec:98","state":"attached","ip_addresses":[{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"884ec6bd103ecfb813a0262b1882faf9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3Mc6zF0VP1zK9Z7n
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21","reverse_dns":"tf-acc-test-update-nopeoejp19qq-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.21/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_XLuhPjHeQ5Nu9kzQ","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_XLuhPjHeQ5Nu9kzQ","name":"tf-acc-test-update-nopeoejp19qq"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5867994ec60ed743d416b5d982145d71"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "798"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_XLuhPjHeQ5Nu9kzQ
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_eWbnp4Tigp1qhtf3","name":"Public
      Network on tf-acc-test-update-nopeoejp19qq","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_3Mc6zF0VP1zK9Z7n","address":"185.199.222.21"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"484fccbca43f1363bad18500632d6a02"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "780"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_eWbnp4Tigp1qhtf3"},"speed_profile":{"permalink":"10gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_RHie8tZ2UZIcerqJ","name":"Change network interface
      speed profile","status":"pending","created_at":1676031292,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6d5075790d5f3f13654c5293e9fee112"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "778"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_RHie8tZ2UZIcerqJ
    method: GET
  response:
    body: '{"task":{"id":"task_RHie8tZ2UZIcerqJ","name":"Change network interface
      speed profile","status":"running","created_at":1676031292,"started_at":1676031293,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed825435789447f52cf5c3d23cd315c5"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "772"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_XLuhPjHeQ5Nu9kzQ
    method: POST
  response:
    body: '{"task":{"id":"task_RBTQ919XAkfGvSFw","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c4a148e846916276a4aa1488aad18e26"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "736"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_RBTQ919XAkfGvSFw
    method: GET
  response:
    body: '{"task":{"id":"task_RBTQ919XAkfGvSFw","name":"Stop virtual machine","status":"running","created_at":1676031299,"started_at":1676031300,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e1ee5688c2417e7db29a5d76d786053"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_XLuhPjHeQ5Nu9kzQ
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_Wpx4AJrHQuOEGBF3","keep_until":1676204105,"object_id":"vm_XLuhPjHeQ5Nu9kzQ","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_XLuhPjHeQ5Nu9kzQ","name":"tf-acc-test-update-nopeoejp19qq-diff","hostname":"tf-acc-test-update-nopeoejp19qq-host-diff","fqdn":"tf-acc-test-update-nopeoejp19qq-host-diff.terraform-acc-test.katapult.cloud","description":"A
      app server.","created_at":1676031272,"initial_root_password":"giWEXXMINP1C7Euk","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"L[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_3Mc6zF0VP1zK9Z7n
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_Wpx4AJrHQuOEGBF3
    method: DELETE
  response:
    body: '{"task":{"id":"task_1mMuT42Y4OuOWDPj","name":"Purge items from trash","status":"pending","created_at":1676031306,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eab6c23f559703a0a86403c3edd748b1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_1mMuT42Y4OuOWDPj
    method: GET
  response:
    body: '{"task":{"id":"task_1mMuT42Y4OuOWDPj","name":"Purge items from trash","status":"running","created_at":1676031306,"started_at":1676031307,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e14021c724050adeb5cc6bff305aeba3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "941"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_XLuhPjHeQ5Nu9kzQ
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "899"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
