---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_nd0lMdcBDX7CqrtG","address":"185.44.254.221","reverse_dns":"185-44-254-221.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c953535fc5b4c6bb15de03037a85f306"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_nd0lMdcBDX7CqrtG
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_nd0lMdcBDX7CqrtG","address":"185.44.254.221","reverse_dns":"185-44-254-221.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"31e1c1596c98404196bdc48de2eb1b62"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-1</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_nd0lMdcBDX7CqrtG</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-package-rfdcmntu1cz7-host</Hostname></Hostname><Name>tf-acc-test-update-package-rfdcmntu1cz7</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_vIwrQ6YtlY5aSgNA","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_8pTJSCZGVj6sEq5E","state":"pending"},"virtual_machine_build":{"id":"vmbuild_8pTJSCZGVj6sEq5E","state":"pending"},"hostname":"tf-acc-test-update-package-rfdcmntu1cz7-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9dfe9721c85d789db3116fd5a901f8ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_8pTJSCZGVj6sEq5E
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_8pTJSCZGVj6sEq5E","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-1\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.254.221\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-update-package-rfdcmntu1cz7-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-package-rfdcmntu1cz7\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1783536159},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6a5882d1034f6c8d0758169630c3e910"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_kc3dHMcjfyMZExj4
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_kc3dHMcjfyMZExj4","name":"tf-acc-test-update-package-rfdcmntu1cz7","hostname":"tf-acc-test-update-package-rfdcmntu1cz7-host","fqdn":"tf-acc-test-update-package-rfdcmntu1cz7-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783536175,"initial_root_password":"B2ohlKIeQz38gE7H","state":"started","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"LON-3","permalink":"lon-zone-3","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","uuid":"084dea02-7fa9-4a36-bc6a-f5573037fdcd","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_dhG25G5SX3HrA5j5","name":"ROCK-1","permalink":"rock-1","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":1,"storage_in_gb":10,"monthly_bandwidth_allowance_in_gb":1024,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":1,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_nd0lMdcBDX7CqrtG","address":"185.44.254.221","reverse_dns":"tf-acc-test-update-package-rfdcmntu1cz7-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_kc3dHMcjfyMZExj4","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"355d82723306e0442b5823e94ff7512f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_kc3dHMcjfyMZExj4
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_wDt6ozD2seLndKdr","name":"Public
      Network on tf-acc-test-update-package-rfdcmntu1cz7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_nd0lMdcBDX7CqrtG","address":"185.44.254.221","reverse_dns":"tf-acc-test-update-package-rfdcmntu1cz7-host.terraform-acc-test.katapult.cloud","address_with_mask":"185.44.254.221/22"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d891744d5badb1d535db510a7f9616c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_wDt6ozD2seLndKdr
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_wDt6ozD2seLndKdr","virtual_machine":{"id":"vm_kc3dHMcjfyMZExj4","name":"tf-acc-test-update-package-rfdcmntu1cz7"},"name":"Public
      Network on tf-acc-test-update-package-rfdcmntu1cz7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:cf:44:9d:79:6d","state":"attached","ip_addresses":[{"id":"ip_nd0lMdcBDX7CqrtG","address":"185.44.254.221"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d2f786d7a93f6f0dd6d7573696344bf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_wDt6ozD2seLndKdr
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_wDt6ozD2seLndKdr","virtual_machine":{"id":"vm_kc3dHMcjfyMZExj4","name":"tf-acc-test-update-package-rfdcmntu1cz7"},"name":"Public
      Network on tf-acc-test-update-package-rfdcmntu1cz7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:cf:44:9d:79:6d","state":"attached","ip_addresses":[{"id":"ip_nd0lMdcBDX7CqrtG","address":"185.44.254.221"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d2f786d7a93f6f0dd6d7573696344bf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_nd0lMdcBDX7CqrtG
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_nd0lMdcBDX7CqrtG","address":"185.44.254.221","reverse_dns":"tf-acc-test-update-package-rfdcmntu1cz7-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.221/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"subnet":{"id":"sbnt_9FYjp2bT20hooq9u","address":"185.44.252.0","gateway":"185.44.255.254","mask":22,"billable":true,"version":4},"allocation_id":"vm_kc3dHMcjfyMZExj4","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_kc3dHMcjfyMZExj4","name":"tf-acc-test-update-package-rfdcmntu1cz7"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"13d4c38784fef9b2d66d3f6947ae306d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "948"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_packages/_?virtual_machine_package%5Bpermalink%5D=rock-3
    method: GET
  response:
    body: '{"virtual_machine_package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a22b1e94ba820ef313e1dd914e6c766"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_kc3dHMcjfyMZExj4"},"virtual_machine_package":{"permalink":"rock-3"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_/package
    method: PUT
  response:
    body: '{"task":{"id":"task_ueH6NT01zaOHwxyf","name":"Change package","status":"pending","created_at":1783536211,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e666dcc72a7a102366ee2a4e8cb8f15"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ueH6NT01zaOHwxyf
    method: GET
  response:
    body: '{"task":{"id":"task_ueH6NT01zaOHwxyf","name":"Change package","status":"pending","created_at":1783536211,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e666dcc72a7a102366ee2a4e8cb8f15"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_kc3dHMcjfyMZExj4"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_kc3dHMcjfyMZExj4","name":"tf-acc-test-update-package-rfdcmntu1cz7","hostname":"tf-acc-test-update-package-rfdcmntu1cz7-host","fqdn":"tf-acc-test-update-package-rfdcmntu1cz7-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783536175,"initial_root_password":"B2ohlKIeQz38gE[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_kc3dHMcjfyMZExj4
    method: POST
  response:
    body: '{"task":{"id":"task_rcZVpjKzez3LyHCf","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"624040588d274bd2e3a4eaff288f0c9e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "890"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_rcZVpjKzez3LyHCf
    method: GET
  response:
    body: '{"task":{"id":"task_rcZVpjKzez3LyHCf","name":"Stop virtual machine","status":"pending","created_at":1783536228,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8f607fefdc7da4602fac59cd85c14863"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "889"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_kc3dHMcjfyMZExj4
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_MI2iAkuCo1hwgpRN","keep_until":1783709046,"object_id":"vm_kc3dHMcjfyMZExj4","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_kc3dHMcjfyMZExj4","name":"tf-acc-test-update-package-rfdcmntu1cz7","hostname":"tf-acc-test-update-package-rfdcmntu1cz7-host","fqdn":"tf-acc-test-update-package-rfdcmntu1cz7-host.terraform-acc-test.katapult.cloud","description":null,"created_at":1783536175,"initial_root_password":"B2ohlKIeQz38gE7H","state":"stopped","suspended":false,"suspended_at":null,"zone":{"id":"zone_KdXXMdv8zRMZXc7q","name":"LON-3","permalink":"lon-zone-3","data_center":{"id":"l[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_nd0lMdcBDX7CqrtG
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_kc3dHMcjfyMZExj4
    method: DELETE
  response:
    body: '{"task":{"id":"task_rZtv85mMrNu4NVrM","name":"Purge items from trash","status":"pending","created_at":1783536247,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dad1a94fbe75bfd565f124cfd3d3195c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_kc3dHMcjfyMZExj4
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
