---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "925"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"185-199-222-28.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02acb1d6e39d2dd3d1fdd50d084a43c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"185-199-222-28.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"302278f172a97bb1f106ca9e8f0749c2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "914"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_KbfXZm6mJYp6AdZf</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-8durwqaz071e-host</Hostname></Hostname><Name>tf-acc-test-update-8durwqaz071e</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_4u4VtcXiqy2gpEHO","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_UCbrX1fLEvKw8xQz","state":"pending"},"virtual_machine_build":{"id":"vmbuild_UCbrX1fLEvKw8xQz","state":"pending"},"hostname":"tf-acc-test-update-8durwqaz071e-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"97844bc36284f9a2962fe04160ef87ab"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_UCbrX1fLEvKw8xQz
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_UCbrX1fLEvKw8xQz","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_zYSIpF4x3foa5juN"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_zYSIpF4x3foa5juN","name":"tf-acc-test-update-8durwqaz071e","hostname":"tf-acc-test-update-8durwqaz071e-host","fqdn":"tf-acc-test-update-8durwqaz071e-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679595080,"initial_root_password":"ZoRymnkyd6wD8tUz","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"tf-acc-test-update-8durwqaz071e-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_zYSIpF4x3foa5juN","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ff2e17344a4555e0d96a915bd8062b0e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_zYSIpF4x3foa5juN
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_zYSIpF4x3foa5juN","name":"tf-acc-test-update-8durwqaz071e","hostname":"tf-acc-test-update-8durwqaz071e-host","fqdn":"tf-acc-test-update-8durwqaz071e-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679595080,"initial_root_password":"ZoRy[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_zYSIpF4x3foa5juN
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_cGDnBMgiJ4GZRiRz","name":"Public
      Network on tf-acc-test-update-8durwqaz071e","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8908ffb7e0846ffd9c9068d02121a330"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_cGDnBMgiJ4GZRiRz
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_cGDnBMgiJ4GZRiRz","virtual_machine":{"id":"vm_zYSIpF4x3foa5juN","name":"tf-acc-test-update-8durwqaz071e"},"name":"Public
      Network on tf-acc-test-update-8durwqaz071e","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:55:b8:d2:95:ff","state":"attached","ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e3bfbb94e9cb66fcc4bc1dabfbde506"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "878"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"tf-acc-test-update-8durwqaz071e-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_zYSIpF4x3foa5juN","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_zYSIpF4x3foa5juN","name":"tf-acc-test-update-8durwqaz071e"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28ea22e56de53dafc1ff88dc4ef25712"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "876"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_zYSIpF4x3foa5juN
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_cGDnBMgiJ4GZRiRz","name":"Public
      Network on tf-acc-test-update-8durwqaz071e","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"001aa19e407f929dab606f41e7bc9fd1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "863"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_cGDnBMgiJ4GZRiRz"},"speed_profile":{"permalink":"10gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_w0mSC2FRJubTc4YA","name":"Change network interface
      speed profile","status":"pending","created_at":1679595099,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28b6fdeee3b795aa7fbfe7874732762e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "862"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_w0mSC2FRJubTc4YA
    method: GET
  response:
    body: '{"task":{"id":"task_w0mSC2FRJubTc4YA","name":"Change network interface
      speed profile","status":"running","created_at":1679595099,"started_at":1679595100,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"72ac4f39933a4afdcb61e6c991d09f21"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "846"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_zYSIpF4x3foa5juN
    method: POST
  response:
    body: '{"task":{"id":"task_6XoKHfeQEVPhURoc","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5777df2e7a4e7a32ccdb9b883e3689f1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "785"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_6XoKHfeQEVPhURoc
    method: GET
  response:
    body: '{"task":{"id":"task_6XoKHfeQEVPhURoc","name":"Stop virtual machine","status":"running","created_at":1679595108,"started_at":1679595108,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fb5e7af6ef32adad40e73c5a349ab472"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "781"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_zYSIpF4x3foa5juN
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_S5qHgInFlzomdCtw","keep_until":1679767915,"object_id":"vm_zYSIpF4x3foa5juN","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_zYSIpF4x3foa5juN","name":"tf-acc-test-update-8durwqaz071e-diff","hostname":"tf-acc-test-update-8durwqaz071e-host-diff","fqdn":"tf-acc-test-update-8durwqaz071e-host-diff.terraform-acc-test.katapult.cloud","description":"A
      app server.","created_at":1679595080,"initial_root_password":"ZoRymnkyd6wD8tUz","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"L[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "767"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_zYSIpF4x3foa5juN
    method: DELETE
  response:
    body: '{"task":{"id":"task_49fhMNKv18RBCS9i","name":"Purge items from trash","status":"pending","created_at":1679595115,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"564075c9482a17d6aea9bfde3e2abcbf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "766"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_zYSIpF4x3foa5juN
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
