---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-custom-disks-m0munbbpkm3n-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_L80o7ZCG8Dlzn0IP","name":"tf-acc-test-custom-disks-m0munbbpkm3n-group","segregate":true,"created_at":1679506690}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3fe1799a09f12d5e27233bc5b0f94ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_L80o7ZCG8Dlzn0IP
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_L80o7ZCG8Dlzn0IP","name":"tf-acc-test-custom-disks-m0munbbpkm3n-group","segregate":true,"created_at":1679506690}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3fe1799a09f12d5e27233bc5b0f94ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"185-199-222-28.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02acb1d6e39d2dd3d1fdd50d084a43c8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"185-199-222-28.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"302278f172a97bb1f106ca9e8f0749c2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_T4SGxVKBxX6tyqWy
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_T4SGxVKBxX6tyqWy","address":"185.199.222.213","reverse_dns":"185-199-222-213.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.213/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c38e0e15be1e3e90ede6c372c94687d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "976"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><SystemDisks><Disk><Name>System</Name><Size>20</Size></Disk><Disk><Name>Data</Name><Size>10</Size></Disk><Disk><Name>Disk #3</Name><Size>10</Size></Disk></SystemDisks><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_KbfXZm6mJYp6AdZf</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_T4SGxVKBxX6tyqWy</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-custom-disks-m0munbbpkm3n-host</Hostname></Hostname><Name>tf-acc-test-custom-disks-m0munbbpkm3n</Name><Description>A web server.</Description><Group>vmgrp_L80o7ZCG8Dlzn0IP</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_T6mCXG9jsYOHV5iq","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_heCkDlWXL6uJ0WXT","state":"pending"},"virtual_machine_build":{"id":"vmbuild_heCkDlWXL6uJ0WXT","state":"pending"},"hostname":"tf-acc-test-custom-disks-m0munbbpkm3n-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f7ccbedd41ea567886d8b590f361d88"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_heCkDlWXL6uJ0WXT
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_heCkDlWXL6uJ0WXT","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_p8kEPh4E7Hq9TrKL"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_p8kEPh4E7Hq9TrKL","name":"tf-acc-test-custom-disks-m0munbbpkm3n","hostname":"tf-acc-test-custom-disks-m0munbbpkm3n-host","fqdn":"tf-acc-test-custom-disks-m0munbbpkm3n-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506710,"initial_root_password":"l7X8ve3uXpqhISGv","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_L80o7ZCG8Dlzn0IP","name":"tf-acc-test-custom-disks-m0munbbpkm3n-group","segregate":true,"created_at":1679506690},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28","reverse_dns":"tf-acc-test-custom-disks-m0munbbpkm3n-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.28/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_p8kEPh4E7Hq9TrKL","allocation_type":"VirtualMachine"},{"id":"ip_T4SGxVKBxX6tyqWy","address":"185.199.222.213","reverse_dns":"tf-acc-test-custom-disks-m0munbbpkm3n-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.213/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_p8kEPh4E7Hq9TrKL","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1da122ee1a6c907e30ae0b5a74f2d9ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "906"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_p8kEPh4E7Hq9TrKL
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_p8kEPh4E7Hq9TrKL","name":"tf-acc-test-custom-disks-m0munbbpkm3n","hostname":"tf-acc-test-custom-disks-m0munbbpkm3n-host","fqdn":"tf-acc-test-custom-disks-m0munbbpkm3n-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506710,"initial_ro[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_p8kEPh4E7Hq9TrKL
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_M41UxXCoKdXpRRLs","name":"Public
      Network on tf-acc-test-custom-disks-m0munbbpkm3n","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28"},{"id":"ip_T4SGxVKBxX6tyqWy","address":"185.199.222.213"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"99efe87d258ab3a314963d1582f6c094"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "903"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_M41UxXCoKdXpRRLs
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_M41UxXCoKdXpRRLs","virtual_machine":{"id":"vm_p8kEPh4E7Hq9TrKL","name":"tf-acc-test-custom-disks-m0munbbpkm3n"},"name":"Public
      Network on tf-acc-test-custom-disks-m0munbbpkm3n","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a9:92:74:fe:b6","state":"attached","ip_addresses":[{"id":"ip_KbfXZm6mJYp6AdZf","address":"185.199.222.28"},{"id":"ip_T4SGxVKBxX6tyqWy","address":"185.199.222.213"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94c5f8e85849613e0d2a7ee6483770d3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "902"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_T4SGxVKBxX6tyqWy
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_T4SGxVKBxX6tyqWy","address":"185.199.222.213","reverse_dns":"tf-acc-test-custom-disks-m0munbbpkm3n-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.213/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_p8kEPh4E7Hq9TrKL","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_p8kEPh4E7Hq9TrKL","name":"tf-acc-test-custom-disks-m0munbbpkm3n"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5703203731acdf8567b57b7b8c11de9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_p8kEPh4E7Hq9TrKL
    method: POST
  response:
    body: '{"task":{"id":"task_FBugPjlq4lvDM6Gz","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9d17050e32a0cf69806a3303f83496bf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "893"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_FBugPjlq4lvDM6Gz
    method: GET
  response:
    body: '{"task":{"id":"task_FBugPjlq4lvDM6Gz","name":"Stop virtual machine","status":"pending","created_at":1679506739,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a69e33fc2eae11f9ca44a43d755f566"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_p8kEPh4E7Hq9TrKL
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_0kmXXLKKrAEogNnG","keep_until":1679679596,"object_id":"vm_p8kEPh4E7Hq9TrKL","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_p8kEPh4E7Hq9TrKL","name":"tf-acc-test-custom-disks-m0munbbpkm3n","hostname":"tf-acc-test-custom-disks-m0munbbpkm3n-host","fqdn":"tf-acc-test-custom-disks-m0munbbpkm3n-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506710,"initial_root_password":"l7X8ve3uXpqhISGv","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_KbfXZm6mJYp6AdZf
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "827"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_T4SGxVKBxX6tyqWy
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "826"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_0kmXXLKKrAEogNnG
    method: DELETE
  response:
    body: '{"task":{"id":"task_086iqQLwYXKXyEzS","name":"Purge items from trash","status":"pending","created_at":1679506796,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d74ac9c5a497cb308b2f47ce48416da"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "825"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_0kmXXLKKrAEogNnG
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_L80o7ZCG8Dlzn0IP
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_L80o7ZCG8Dlzn0IP","name":"tf-acc-test-custom-disks-m0munbbpkm3n-group","segregate":true,"created_at":1679506690}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f3fe1799a09f12d5e27233bc5b0f94ae"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
