---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Z1WyabOhrawBfZBi","address":"185.53.57.195","reverse_dns":"185-53-57-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e6a5e0bd329d67cc5ea41d3fd0e1838"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Z1WyabOhrawBfZBi
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Z1WyabOhrawBfZBi","address":"185.53.57.195","reverse_dns":"185-53-57-195.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ac3fdf98744eaa46f6ce38ee406ae705"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_Z1WyabOhrawBfZBi</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-obedient-sweet-tulip</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_EaFTKkJddJyQr2hw","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_xYfb9KcaV0iVpUaM","state":"pending"},"virtual_machine_build":{"id":"vmbuild_xYfb9KcaV0iVpUaM","state":"pending"},"hostname":"tf-acc-test-obedient-sweet-tulip"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4fd5b40747337ced1b85d56643dad1d4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_xYfb9KcaV0iVpUaM
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_xYfb9KcaV0iVpUaM","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.195\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-obedient-sweet-tulip\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_av3GXGhs8OXbgu5Q","name":"tf-acc-test-obedient-sweet-tulip","hostname":"tf-acc-test-obedient-sweet-tulip","fqdn":"tf-acc-test-obedient-sweet-tulip.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1613686201}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e5af7806055f0ad1b68f7d287aa9c1e7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_av3GXGhs8OXbgu5Q
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_av3GXGhs8OXbgu5Q","name":"tf-acc-test-obedient-sweet-tulip","hostname":"tf-acc-test-obedient-sweet-tulip","fqdn":"tf-acc-test-obedient-sweet-tulip.terraform-acc-test.katapult.cloud","description":null,"created_at":1613686202,"initial_root_password":"g99otvAPDmdrMyfm","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_Z1WyabOhrawBfZBi","address":"185.53.57.195","reverse_dns":"tf-acc-test-obedient-sweet-tulip.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_av3GXGhs8OXbgu5Q","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d003fe9898b30b8fa215e33d3789231c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Z1WyabOhrawBfZBi
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Z1WyabOhrawBfZBi","address":"185.53.57.195","reverse_dns":"tf-acc-test-obedient-sweet-tulip.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.195/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_av3GXGhs8OXbgu5Q","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_av3GXGhs8OXbgu5Q","name":"tf-acc-test-obedient-sweet-tulip"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"42647a8fd4b2d3ca42a60192e4efcc72"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_av3GXGhs8OXbgu5Q
    method: POST
  response:
    body: '{"task":{"id":"task_nisLSIGkOZiev9t1","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"274cb2ac08ab45efb6f155aef3c92612"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_av3GXGhs8OXbgu5Q
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_gcOYglbvgJiO51MS","keep_until":1613859039,"object_id":"vm_av3GXGhs8OXbgu5Q","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_av3GXGhs8OXbgu5Q","name":"tf-acc-test-obedient-sweet-tulip","hostname":"tf-acc-test-obedient-sweet-tulip","fqdn":"tf-acc-test-obedient-sweet-tulip.terraform-acc-test.katapult.cloud","description":null,"created_at":1613686202,"initial_root_password":"g99otvAPDmdrMyfm","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Z1WyabOhrawBfZBi
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_gcOYglbvgJiO51MS
    method: DELETE
  response:
    body: '{"task":{"id":"task_lpQqqrFJy22B2mzb","name":"Purge items from trash","status":"pending","created_at":1613686240,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"25f1358121c21643dfc593511b473afd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_lpQqqrFJy22B2mzb
    method: GET
  response:
    body: '{"task":{"id":"task_lpQqqrFJy22B2mzb","name":"Purge items from trash","status":"running","created_at":1613686240,"started_at":1613686241,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a4e62b0b65326b0b1e32000f0b0fe286"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
[...]
