---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-xumjejwys9a7-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2ycH13ojB4Flm1eq","name":"tf-acc-test-basic-xumjejwys9a7-group","segregate":true,"created_at":1622137096}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c46f8194d463fefad51b54b8c67e67df"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_2ycH13ojB4Flm1eq
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2ycH13ojB4Flm1eq","name":"tf-acc-test-basic-xumjejwys9a7-group","segregate":true,"created_at":1622137096}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c46f8194d463fefad51b54b8c67e67df"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_rJ5HfqjkWbhN4e2A","address":"185.199.222.99","reverse_dns":"185-199-222-99.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.99/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a8e2c3ba1bdfab9b45555485ba39c53"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_rJ5HfqjkWbhN4e2A
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_rJ5HfqjkWbhN4e2A","address":"185.199.222.99","reverse_dns":"185-199-222-99.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.99/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2633379c4bc6f12de187c124bb3d1300"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_GfMoUbfR1U4U7WpS
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_GfMoUbfR1U4U7WpS","address":"185.199.222.134","reverse_dns":"185-199-222-134.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.134/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"825c2f96d8428cb70572b26c3f84f55c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_rJ5HfqjkWbhN4e2A</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_GfMoUbfR1U4U7WpS</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-xumjejwys9a7-host</Hostname></Hostname><Name>tf-acc-test-basic-xumjejwys9a7</Name><Description>A web server.</Description><Group>vmgrp_2ycH13ojB4Flm1eq</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_yZVG3BVL2dblhCH4","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_i2bk4FyT9QDfAagu","state":"pending"},"virtual_machine_build":{"id":"vmbuild_i2bk4FyT9QDfAagu","state":"pending"},"hostname":"tf-acc-test-basic-xumjejwys9a7-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5e71c6e9b47c6b98706b507fb230b93f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_i2bk4FyT9QDfAagu
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_i2bk4FyT9QDfAagu","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_wFcLgyuKM2rDmmxe"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_wFcLgyuKM2rDmmxe","name":"tf-acc-test-basic-xumjejwys9a7","hostname":"tf-acc-test-basic-xumjejwys9a7-host","fqdn":"tf-acc-test-basic-xumjejwys9a7-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137097,"initial_root_password":"wgNxD4nTCoK80snS","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_2ycH13ojB4Flm1eq","name":"tf-acc-test-basic-xumjejwys9a7-group","segregate":true,"created_at":1622137096},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_rJ5HfqjkWbhN4e2A","address":"185.199.222.99","reverse_dns":"tf-acc-test-basic-xumjejwys9a7-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.99/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_wFcLgyuKM2rDmmxe","allocation_type":"VirtualMachine"},{"id":"ip_GfMoUbfR1U4U7WpS","address":"185.199.222.134","reverse_dns":"tf-acc-test-basic-xumjejwys9a7-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.134/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_wFcLgyuKM2rDmmxe","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"16bce09ff5e7db64902cc1b00b593dc0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wFcLgyuKM2rDmmxe
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_wFcLgyuKM2rDmmxe","name":"tf-acc-test-basic-xumjejwys9a7","hostname":"tf-acc-test-basic-xumjejwys9a7-host","fqdn":"tf-acc-test-basic-xumjejwys9a7-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137097,"initial_root_password":"wgNxD4n[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_wFcLgyuKM2rDmmxe
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_sPHSIg7aYVnm5Htl","name":"Public
      Network on tf-acc-test-basic-xumjejwys9a7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_rJ5HfqjkWbhN4e2A","address":"185.199.222.99"},{"id":"ip_GfMoUbfR1U4U7WpS","address":"185.199.222.134"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87d77a286aa83b60a79290f795ce8638"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_sPHSIg7aYVnm5Htl
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_sPHSIg7aYVnm5Htl","virtual_machine":{"id":"vm_wFcLgyuKM2rDmmxe","name":"tf-acc-test-basic-xumjejwys9a7"},"name":"Public
      Network on tf-acc-test-basic-xumjejwys9a7","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:2d:dd:0c:41:58","state":"attached","ip_addresses":[{"id":"ip_rJ5HfqjkWbhN4e2A","address":"185.199.222.99"},{"id":"ip_GfMoUbfR1U4U7WpS","address":"185.199.222.134"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5813070841f11e5ba473b4191535e1e7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_GfMoUbfR1U4U7WpS
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_GfMoUbfR1U4U7WpS","address":"185.199.222.134","reverse_dns":"tf-acc-test-basic-xumjejwys9a7-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.134/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_wFcLgyuKM2rDmmxe","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_wFcLgyuKM2rDmmxe","name":"tf-acc-test-basic-xumjejwys9a7"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7e022e6d8b69dd2d3ba347dd884871f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_wFcLgyuKM2rDmmxe
    method: POST
  response:
    body: '{"task":{"id":"task_4T1UZvFLRM8rU36H","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ecf2e96d8a34a97fc5feef2a1295af9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "163"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_4T1UZvFLRM8rU36H
    method: GET
  response:
    body: '{"task":{"id":"task_4T1UZvFLRM8rU36H","name":"Stop virtual machine","status":"pending","created_at":1622137117,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"28bb57590262c37af65d4164477ee2c5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wFcLgyuKM2rDmmxe
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_2YffuABKtxREsY6x","keep_until":1622309934,"object_id":"vm_wFcLgyuKM2rDmmxe","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_wFcLgyuKM2rDmmxe","name":"tf-acc-test-basic-xumjejwys9a7","hostname":"tf-acc-test-basic-xumjejwys9a7-host","fqdn":"tf-acc-test-basic-xumjejwys9a7-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137097,"initial_root_password":"wgNxD4nTCoK80snS","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_rJ5HfqjkWbhN4e2A
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_GfMoUbfR1U4U7WpS
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "157"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_2YffuABKtxREsY6x
    method: DELETE
  response:
    body: '{"task":{"id":"task_n0gtr7FWUd1GRDAI","name":"Purge items from trash","status":"pending","created_at":1622137135,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cfe5675a70bcb0dd79965f99e2fe8e80"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_n0gtr7FWUd1GRDAI
    method: GET
  response:
    body: '{"task":{"id":"task_n0gtr7FWUd1GRDAI","name":"Purge items from trash","status":"running","created_at":1622137135,"started_at":1622137136,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8cbd408e5e4c9d1654cc875241f3f3d8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "155"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_2ycH13ojB4Flm1eq
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2ycH13ojB4Flm1eq","name":"tf-acc-test-basic-xumjejwys9a7-group","segregate":true,"created_at":1622137096}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c46f8194d463fefad51b54b8c67e67df"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_wFcLgyuKM2rDmmxe
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
