---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_U9UlK0AeOdMthOJ5","address":"185.199.222.98","reverse_dns":"185-199-222-98.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.98/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a6b5cdab485741d1838e65e88fa9f2ba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_U9UlK0AeOdMthOJ5
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_U9UlK0AeOdMthOJ5","address":"185.199.222.98","reverse_dns":"185-199-222-98.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.98/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7a47cc20d8813bde7d5bd5698f451dee"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "934"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_U9UlK0AeOdMthOJ5</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-9fvvnwndieu1-host</Hostname></Hostname><Name>tf-acc-test-update-9fvvnwndieu1</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_oHzVP2QCLtArfkl0","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_yrvFjUmEw6z5c6Sk","state":"pending"},"virtual_machine_build":{"id":"vmbuild_yrvFjUmEw6z5c6Sk","state":"pending"},"hostname":"tf-acc-test-update-9fvvnwndieu1-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3bb334878594c2dd591469e3f684ca54"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_yrvFjUmEw6z5c6Sk
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_yrvFjUmEw6z5c6Sk","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_EBYmJgWCwJwiJLs7"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_EBYmJgWCwJwiJLs7","name":"tf-acc-test-update-9fvvnwndieu1","hostname":"tf-acc-test-update-9fvvnwndieu1-host","fqdn":"tf-acc-test-update-9fvvnwndieu1-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506753,"initial_root_password":"1asPkzS1AG1KWXOG","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_U9UlK0AeOdMthOJ5","address":"185.199.222.98","reverse_dns":"tf-acc-test-update-9fvvnwndieu1-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.98/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_EBYmJgWCwJwiJLs7","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a88c1d389d4e6b986ab9f4751adf56db"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_EBYmJgWCwJwiJLs7
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_EBYmJgWCwJwiJLs7","name":"tf-acc-test-update-9fvvnwndieu1","hostname":"tf-acc-test-update-9fvvnwndieu1-host","fqdn":"tf-acc-test-update-9fvvnwndieu1-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679506753,"initial_root_password":"1asP[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_EBYmJgWCwJwiJLs7
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_nzR0aU6NhnfFxsNE","name":"Public
      Network on tf-acc-test-update-9fvvnwndieu1","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_U9UlK0AeOdMthOJ5","address":"185.199.222.98"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"35c8715f4c92515c6eaeb6accf2f5025"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "895"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_nzR0aU6NhnfFxsNE
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_nzR0aU6NhnfFxsNE","virtual_machine":{"id":"vm_EBYmJgWCwJwiJLs7","name":"tf-acc-test-update-9fvvnwndieu1"},"name":"Public
      Network on tf-acc-test-update-9fvvnwndieu1","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:2a:ff:e2:18:8a","state":"attached","ip_addresses":[{"id":"ip_U9UlK0AeOdMthOJ5","address":"185.199.222.98"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"22ab45dfdbc7486efc102e4bf0cf5609"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "894"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_U9UlK0AeOdMthOJ5
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_U9UlK0AeOdMthOJ5","address":"185.199.222.98","reverse_dns":"tf-acc-test-update-9fvvnwndieu1-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.98/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_EBYmJgWCwJwiJLs7","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_EBYmJgWCwJwiJLs7","name":"tf-acc-test-update-9fvvnwndieu1"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bcfbc859172142928ac00447b6c64f6f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "892"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_EBYmJgWCwJwiJLs7
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_nzR0aU6NhnfFxsNE","name":"Public
      Network on tf-acc-test-update-9fvvnwndieu1","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_U9UlK0AeOdMthOJ5","address":"185.199.222.98"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"77a8bc2df073ad24ad070b198aff3b75"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "884"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_nzR0aU6NhnfFxsNE"},"speed_profile":{"permalink":"10gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_bW00NGsyotE03sd6","name":"Change network interface
      speed profile","status":"pending","created_at":1679506772,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bd5f9bbf44e67d1d81e00aa8b9520e4d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "883"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_bW00NGsyotE03sd6
    method: GET
  response:
    body: '{"task":{"id":"task_bW00NGsyotE03sd6","name":"Change network interface
      speed profile","status":"running","created_at":1679506772,"started_at":1679506773,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b9aaa21bc6042d50ea3aa70a24e7507"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_EBYmJgWCwJwiJLs7
    method: POST
  response:
    body: '{"task":{"id":"task_IOa3s3wYmyqWzaG1","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c5154a4e957110bb6d7edf7c9a84487"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "868"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_IOa3s3wYmyqWzaG1
    method: GET
  response:
    body: '{"task":{"id":"task_IOa3s3wYmyqWzaG1","name":"Stop virtual machine","status":"running","created_at":1679506780,"started_at":1679506781,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"259f1ce19d99ca6700e547d7beb21a09"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "863"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_EBYmJgWCwJwiJLs7
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_YGiBsRshyU6NXyOL","keep_until":1679679586,"object_id":"vm_EBYmJgWCwJwiJLs7","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_EBYmJgWCwJwiJLs7","name":"tf-acc-test-update-9fvvnwndieu1-diff","hostname":"tf-acc-test-update-9fvvnwndieu1-host-diff","fqdn":"tf-acc-test-update-9fvvnwndieu1-host-diff.terraform-acc-test.katapult.cloud","description":"A
      app server.","created_at":1679506753,"initial_root_password":"1asPkzS1AG1KWXOG","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"L[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_U9UlK0AeOdMthOJ5
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "850"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_YGiBsRshyU6NXyOL
    method: DELETE
  response:
    body: '{"task":{"id":"task_aucoqVqn7WuG2BEF","name":"Purge items from trash","status":"pending","created_at":1679506787,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"07ed120f8f7d7543f5372f26283b71d0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "849"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_YGiBsRshyU6NXyOL
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
