---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "862"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-group-qm6n0dgp9ab8","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_fEqbVrs5Wn4sMUwS","name":"tf-acc-test-update-group-qm6n0dgp9ab8","segregate":true,"created_at":1679506782}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f9aefcf3253e4670ce44dfa7ed96a4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "861"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_fEqbVrs5Wn4sMUwS
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_fEqbVrs5Wn4sMUwS","name":"tf-acc-test-update-group-qm6n0dgp9ab8","segregate":true,"created_at":1679506782}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f9aefcf3253e4670ce44dfa7ed96a4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "859"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ThTjuc3gzLUgUUVg","address":"185.199.222.126","reverse_dns":"185-199-222-126.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.126/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a687f736929f55327502ce877b5ad62"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "860"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ThTjuc3gzLUgUUVg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ThTjuc3gzLUgUUVg","address":"185.199.222.126","reverse_dns":"185-199-222-126.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.126/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b5edb1f478fa37e762d80d507cfdce5d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "855"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_ThTjuc3gzLUgUUVg</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-icy-whining-tulip</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_UaGHXevk74ps2ioQ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_6CjpxXg7SXxSg1KD","state":"pending"},"virtual_machine_build":{"id":"vmbuild_6CjpxXg7SXxSg1KD","state":"pending"},"hostname":"tf-acc-test-icy-whining-tulip"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"77869540499d5a1769a7cfc20d8fe239"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "853"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_6CjpxXg7SXxSg1KD
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_6CjpxXg7SXxSg1KD","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.126\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-icy-whining-tulip\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1679506786}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"642ad74a44eab65c52c09069a758d8cf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "847"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_f7VMLIKshd9bVZg5
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_f7VMLIKshd9bVZg5","name":"tf-acc-test-icy-whining-tulip","hostname":"tf-acc-test-icy-whining-tulip","fqdn":"tf-acc-test-icy-whining-tulip.terraform-acc-test.katapult.cloud","description":null,"created_at":1679506788,"initial_root_password":"D5DsVqvGFfXLMcQP","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_ThTjuc3gzLUgUUVg","address":"185.199.222.126","reverse_dns":"tf-acc-test-icy-whining-tulip.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.126/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_f7VMLIKshd9bVZg5","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0daa32790d63cc3b53f93f00ed64be07"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_f7VMLIKshd9bVZg5
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_KafQkwMyBtNWob8h","name":"Public
      Network on tf-acc-test-icy-whining-tulip","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_ThTjuc3gzLUgUUVg","address":"185.199.222.126"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c1ef0a56fd80a62e0e3f53a63b548452"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_KafQkwMyBtNWob8h
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_KafQkwMyBtNWob8h","virtual_machine":{"id":"vm_f7VMLIKshd9bVZg5","name":"tf-acc-test-icy-whining-tulip"},"name":"Public
      Network on tf-acc-test-icy-whining-tulip","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:58:82:66:0f:b4","state":"attached","ip_addresses":[{"id":"ip_ThTjuc3gzLUgUUVg","address":"185.199.222.126"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"41daece6c11e4f3aec9ddede49c67443"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ThTjuc3gzLUgUUVg
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ThTjuc3gzLUgUUVg","address":"185.199.222.126","reverse_dns":"tf-acc-test-icy-whining-tulip.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.126/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_f7VMLIKshd9bVZg5","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_f7VMLIKshd9bVZg5","name":"tf-acc-test-icy-whining-tulip"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"74764379323d158321fb86d356b54e85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_f7VMLIKshd9bVZg5"},"properties":{"group":{"id":"vmgrp_fEqbVrs5Wn4sMUwS"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_f7VMLIKshd9bVZg5","name":"tf-acc-test-icy-whining-tulip","hostname":"tf-acc-test-icy-whining-tulip","fqdn":"tf-acc-test-icy-whining-tulip.terraform-acc-test.katapult.[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_fEqbVrs5Wn4sMUwS
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_fEqbVrs5Wn4sMUwS","name":"tf-acc-test-update-group-qm6n0dgp9ab8","segregate":true,"created_at":1679506782}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5f9aefcf3253e4670ce44dfa7ed96a4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_f7VMLIKshd9bVZg5
    method: POST
  response:
    body: '{"task":{"id":"task_n0EbKTVCsGJTOYbN","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8d56e60edafd053a1141a05d23a9f81f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_n0EbKTVCsGJTOYbN
    method: GET
  response:
    body: '{"task":{"id":"task_n0EbKTVCsGJTOYbN","name":"Stop virtual machine","status":"pending","created_at":1679506810,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f3e6f09fc900dd44cba6a5c042f1a3c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_f7VMLIKshd9bVZg5
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_dNgeX3yWX9aWxY1p","keep_until":1679679636,"object_id":"vm_f7VMLIKshd9bVZg5","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_f7VMLIKshd9bVZg5","name":"tf-acc-test-icy-whining-tulip","hostname":"tf-acc-test-icy-whining-tulip","fqdn":"tf-acc-test-icy-whining-tulip.terraform-acc-test.katapult.cloud","description":null,"created_at":1679506788,"initial_root_password":"D5DsVqvGFfXLMcQP","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ThTjuc3gzLUgUUVg
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "925"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_dNgeX3yWX9aWxY1p
    method: DELETE
  response:
    body: '{"task":{"id":"task_uL2GTaWCLjt30YMb","name":"Purge items from trash","status":"pending","created_at":1679506837,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d0651b871cc853b4002bf2a0358ddb1a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_dNgeX3yWX9aWxY1p
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "922"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
