---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-6jc7qudt1ltc-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_hHGjRZT6jYfTfQku","name":"tf-acc-test-basic-6jc7qudt1ltc-group","segregate":true,"auto_segregate":false,"created_at":1738859845}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eac886d80b16dcff10bac4b8418566e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_hHGjRZT6jYfTfQku
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_hHGjRZT6jYfTfQku","name":"tf-acc-test-basic-6jc7qudt1ltc-group","segregate":true,"auto_segregate":false,"created_at":1738859845}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eac886d80b16dcff10bac4b8418566e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_7Bh60E8rzVXXhogw","address":"185.44.255.215","reverse_dns":"185-44-255-215.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.215/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6268340767e24240ef3a96c4c64df328"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_7Bh60E8rzVXXhogw
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_7Bh60E8rzVXXhogw","address":"185.44.255.215","reverse_dns":"185-44-255-215.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.255.215/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee0fd3e588aa62b525db423d1ede8748"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_GxsiO1h6yadD4mCe
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_GxsiO1h6yadD4mCe","address":"185.44.254.202","reverse_dns":"185-44-254-202.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.202/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ce4380b70e04c73480e49c793d8f447"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_GxsiO1h6yadD4mCe</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_7Bh60E8rzVXXhogw</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-6jc7qudt1ltc-host</Hostname></Hostname><Name>tf-acc-test-basic-6jc7qudt1ltc</Name><Description>A web server.</Description><Group>vmgrp_hHGjRZT6jYfTfQku</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_nbU2MvTbMG1LT5mZ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_T2WNv0C7oMze53tS","state":"pending"},"virtual_machine_build":{"id":"vmbuild_T2WNv0C7oMze53tS","state":"pending"},"hostname":"tf-acc-test-basic-6jc7qudt1ltc-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e71a7c645f2f93cfe7183eb7629fbadc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_T2WNv0C7oMze53tS
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_T2WNv0C7oMze53tS","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_GQCPIorurOzDYHo2"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_GQCPIorurOzDYHo2","name":"tf-acc-test-basic-6jc7qudt1ltc","hostname":"tf-acc-test-basic-6jc7qudt1ltc-host","fqdn":"tf-acc-test-basic-6jc7qudt1ltc-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738859851,"initial_root_password":"IdysxnWXmvMwxAvQ","state":"started","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_hHGjRZT6jYfTfQku","name":"tf-acc-test-basic-6jc7qudt1ltc-group","segregate":true,"auto_segregate":false,"created_at":1738859845},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_GxsiO1h6yadD4mCe","address":"185.44.254.202","reverse_dns":"tf-acc-test-basic-6jc7qudt1ltc-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.202/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_co[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_GQCPIorurOzDYHo2
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_GQCPIorurOzDYHo2","name":"tf-acc-test-basic-6jc7qudt1ltc","hostname":"tf-acc-test-basic-6jc7qudt1ltc-host","fqdn":"tf-acc-test-basic-6jc7qudt1ltc-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738859851,"initial_root_password":"IdysxnW[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_GQCPIorurOzDYHo2
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_2vwsF7WBKg2RqFYF","name":"Public
      Network on tf-acc-test-basic-6jc7qudt1ltc","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_GxsiO1h6yadD4mCe","address":"185.44.254.202"},{"id":"ip_7Bh60E8rzVXXhogw","address":"185.44.255.215"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bce246c42a00c27911d55e06c31d4579"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_2vwsF7WBKg2RqFYF
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_2vwsF7WBKg2RqFYF","virtual_machine":{"id":"vm_GQCPIorurOzDYHo2","name":"tf-acc-test-basic-6jc7qudt1ltc"},"name":"Public
      Network on tf-acc-test-basic-6jc7qudt1ltc","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:34:c3:65:81:8e","state":"attached","ip_addresses":[{"id":"ip_GxsiO1h6yadD4mCe","address":"185.44.254.202"},{"id":"ip_7Bh60E8rzVXXhogw","address":"185.44.255.215"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"367bb1999f065294714382cf212cccfd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "980"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_2vwsF7WBKg2RqFYF
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_2vwsF7WBKg2RqFYF","virtual_machine":{"id":"vm_GQCPIorurOzDYHo2","name":"tf-acc-test-basic-6jc7qudt1ltc"},"name":"Public
      Network on tf-acc-test-basic-6jc7qudt1ltc","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:34:c3:65:81:8e","state":"attached","ip_addresses":[{"id":"ip_GxsiO1h6yadD4mCe","address":"185.44.254.202"},{"id":"ip_7Bh60E8rzVXXhogw","address":"185.44.255.215"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"367bb1999f065294714382cf212cccfd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_7Bh60E8rzVXXhogw
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_7Bh60E8rzVXXhogw","address":"185.44.255.215","reverse_dns":"tf-acc-test-basic-6jc7qudt1ltc-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.255.215/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_GQCPIorurOzDYHo2","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_GQCPIorurOzDYHo2","name":"tf-acc-test-basic-6jc7qudt1ltc"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"00dbd5be6a757e22c1654bcd3f72fba3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_GQCPIorurOzDYHo2
    method: POST
  response:
    body: '{"task":{"id":"task_7q3kwhF5xZ7Yg2L5","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e84afd503d2c2da39d41075332d10f58"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_7q3kwhF5xZ7Yg2L5
    method: GET
  response:
    body: '{"task":{"id":"task_7q3kwhF5xZ7Yg2L5","name":"Stop virtual machine","status":"running","created_at":1738859876,"started_at":1738859877,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"87ef97edd95ce6411deaa6c317d679c9"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_GQCPIorurOzDYHo2
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_N0yRJZMJMsHqFlGw","keep_until":1739032683,"object_id":"vm_GQCPIorurOzDYHo2","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_GQCPIorurOzDYHo2","name":"tf-acc-test-basic-6jc7qudt1ltc","hostname":"tf-acc-test-basic-6jc7qudt1ltc-host","fqdn":"tf-acc-test-basic-6jc7qudt1ltc-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738859851,"initial_root_password":"IdysxnWXmvMwxAvQ","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_GxsiO1h6yadD4mCe
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_7Bh60E8rzVXXhogw
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_GQCPIorurOzDYHo2
    method: DELETE
  response:
    body: '{"task":{"id":"task_cZoF8LrWP38SBKXB","name":"Purge items from trash","status":"pending","created_at":1738859885,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7b15cad2edeafd8d84801c3de7793b50"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_GQCPIorurOzDYHo2
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_hHGjRZT6jYfTfQku
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_hHGjRZT6jYfTfQku","name":"tf-acc-test-basic-6jc7qudt1ltc-group","segregate":true,"auto_segregate":false,"created_at":1738859845}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eac886d80b16dcff10bac4b8418566e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "990"
    status: 200 OK
    code: 200
    duration: ""
[...]
