---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ytqca4YOvQyoacDM","address":"185.53.57.159","reverse_dns":"185-53-57-159.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.159/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a3f09b7eeb651a0cd70b2959616c8d09"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ytqca4YOvQyoacDM
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ytqca4YOvQyoacDM","address":"185.53.57.159","reverse_dns":"185-53-57-159.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.159/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f04c9380695df02c62bde85bdce7f471"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_ytqca4YOvQyoacDM</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-3aihghmven1l-host</Hostname></Hostname><Name>tf-acc-test-basic-3aihghmven1l</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_nP2dNIjpSICGgTY3","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_uPGIHBBt8HWPOCAO","state":"pending"},"virtual_machine_build":{"id":"vmbuild_uPGIHBBt8HWPOCAO","state":"pending"},"hostname":"tf-acc-test-basic-3aihghmven1l-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"17609e5ae072da29fce4b7cb3ffb6329"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_uPGIHBBt8HWPOCAO
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_uPGIHBBt8HWPOCAO","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.159\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-basic-3aihghmven1l-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-basic-3aihghmven1l\u003c/Name\u003e\n  \u003cDescription\u003eA web server.\u003c/Description\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n  \u003cTags\u003e\n    \u003cTag\u003eweb\u003c/Tag\u003e\n    \u003cTag\u003epublic\u003c/Tag\u003e\n  \u003c/Tags\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_8oN67FLcj5Dh8hDL","name":"tf-acc-test-basic-3aihghmven1l","hostname":"tf-acc-test-basic-3aihghmven1l-host","fqdn":"tf-acc-test-basic-3aihghmven1l-host.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1613686069}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9afb01f742b7791f32e377004cfaf402"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_8oN67FLcj5Dh8hDL"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_8oN67FLcj5Dh8hDL","name":"tf-acc-test-basic-3aihghmven1l","hostname":"tf-acc-test-basic-3aihghmven1l-host","fqdn":"tf-acc-test-basic-3aihghmven1l-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1613686069,"initial_root_password":"2JkdNshyEX88gl10","state":"starting","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_ytqca4YOvQyoacDM","address":"185.53.57.159","reverse_dns":"tf-acc-test-basic-3aihghmven1l-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.159/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_8oN67FLcj5Dh8hDL","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0c4d6117bd50b4b5c083fecef933f0c4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_8oN67FLcj5Dh8hDL
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_8oN67FLcj5Dh8hDL","name":"tf-acc-test-basic-3aihghmven1l","hostname":"tf-acc-test-basic-3aihghmven1l-host","fqdn":"tf-acc-test-basic-3aihghmven1l-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1613686069,"initial_root_password":"2JkdNshyEX88g[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ytqca4YOvQyoacDM
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ytqca4YOvQyoacDM","address":"185.53.57.159","reverse_dns":"tf-acc-test-basic-3aihghmven1l-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.159/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_8oN67FLcj5Dh8hDL","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_8oN67FLcj5Dh8hDL","name":"tf-acc-test-basic-3aihghmven1l"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4bae6017d19acea6794c0cb0a36287be"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_8oN67FLcj5Dh8hDL
    method: POST
  response:
    body: '{"task":{"id":"task_kATEFRFKj33FACSx","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64bccf627b64cbf6dbb539317d3ac8f0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_8oN67FLcj5Dh8hDL
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_ZkbC9YdvBUb847jK","keep_until":1613858906,"object_id":"vm_8oN67FLcj5Dh8hDL","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_8oN67FLcj5Dh8hDL","name":"tf-acc-test-basic-3aihghmven1l","hostname":"tf-acc-test-basic-3aihghmven1l-host","fqdn":"tf-acc-test-basic-3aihghmven1l-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1613686069,"initial_root_password":"2JkdNshyEX88gl10","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-l[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ytqca4YOvQyoacDM
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_ZkbC9YdvBUb847jK
    method: DELETE
  response:
    body: '{"task":{"id":"task_A5up9c8xWtgeDNuu","name":"Purge items from trash","status":"pending","created_at":1613686107,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cd303f80875bfa81742a253c36886140"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_A5up9c8xWtgeDNuu
    method: GET
  response:
    body: '{"task":{"id":"task_A5up9c8xWtgeDNuu","name":"Purge items from trash","status":"running","created_at":1613686107,"started_at":1613686108,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b96ddaa056bf68a462de3b9974e26570"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
[...]
