---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "893"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-custom-disks-ft3k6tpxc7yi-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_T2XflYxrpxLLtTCl","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi-group","segregate":true,"created_at":1679568937}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec3fe221b455c36c89ae23c039be8957"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "892"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_T2XflYxrpxLLtTCl
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_T2XflYxrpxLLtTCl","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi-group","segregate":true,"created_at":1679568937}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec3fe221b455c36c89ae23c039be8957"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "888"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"185-199-222-16.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bca869113d81fc0901f92a0d7516e299"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "890"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Ntu5DTZickqN6c9T
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"185-199-222-16.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e885820193fa788a5a81f9194c9217d1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "881"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"185-199-222-110.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"988b8e487f5a90073bdfc45e4a28611c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "859"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><SystemDisks><Disk><Name>System</Name><Size>20</Size></Disk><Disk><Name>Data</Name><Size>10</Size></Disk><Disk><Name>Disk #3</Name><Size>10</Size></Disk></SystemDisks><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_Gl63yHUEkeELpdGm</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_Ntu5DTZickqN6c9T</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-custom-disks-ft3k6tpxc7yi-host</Hostname></Hostname><Name>tf-acc-test-custom-disks-ft3k6tpxc7yi</Name><Description>A web server.</Description><Group>vmgrp_T2XflYxrpxLLtTCl</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_TlMJOd8kO9D7T5R7","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_OdF7pOcyqAxes1ig","state":"pending"},"virtual_machine_build":{"id":"vmbuild_OdF7pOcyqAxes1ig","state":"pending"},"hostname":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c9199cb92f0762bfb34939ed1638594e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "856"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_OdF7pOcyqAxes1ig
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_OdF7pOcyqAxes1ig","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_pK9qsZGVIpeAZxVT"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_pK9qsZGVIpeAZxVT","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi","hostname":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host","fqdn":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679568946,"initial_root_password":"3FAaRl9n20YzGduS","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_T2XflYxrpxLLtTCl","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi-group","segregate":true,"created_at":1679568937},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_pK9qsZGVIpeAZxVT","allocation_type":"VirtualMachine"},{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110","reverse_dns":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.110/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_pK9qsZGVIpeAZxVT","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e8cbc17b34201f719c0e7ccd64352869"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "977"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_pK9qsZGVIpeAZxVT
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_pK9qsZGVIpeAZxVT","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi","hostname":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host","fqdn":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679568946,"initial_ro[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_pK9qsZGVIpeAZxVT
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_Tp32Ezz1qAMBOO6P","name":"Public
      Network on tf-acc-test-custom-disks-ft3k6tpxc7yi","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16"},{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c5e13592804f83d59b89f0e4d3ca175e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_Tp32Ezz1qAMBOO6P
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_Tp32Ezz1qAMBOO6P","virtual_machine":{"id":"vm_pK9qsZGVIpeAZxVT","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi"},"name":"Public
      Network on tf-acc-test-custom-disks-ft3k6tpxc7yi","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:37:9d:e1:37:ec","state":"attached","ip_addresses":[{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16"},{"id":"ip_Gl63yHUEkeELpdGm","address":"185.199.222.110"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c3cf5730d436f89a2ac2718124e3361"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Ntu5DTZickqN6c9T
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Ntu5DTZickqN6c9T","address":"185.199.222.16","reverse_dns":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.16/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_pK9qsZGVIpeAZxVT","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_pK9qsZGVIpeAZxVT","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4c3ddf8b387b00047122f7b7bfa45afd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_pK9qsZGVIpeAZxVT
    method: POST
  response:
    body: '{"task":{"id":"task_0l9kHn2AhAhw7mL2","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0213d44d8c582ca89cb586f257e23978"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "962"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_0l9kHn2AhAhw7mL2
    method: GET
  response:
    body: '{"task":{"id":"task_0l9kHn2AhAhw7mL2","name":"Stop virtual machine","status":"running","created_at":1679568975,"started_at":1679568976,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cff2c012cc536e7f1fad991ec7e80d4c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_pK9qsZGVIpeAZxVT
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_4O1NsFh7381ilC2s","keep_until":1679741781,"object_id":"vm_pK9qsZGVIpeAZxVT","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_pK9qsZGVIpeAZxVT","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi","hostname":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host","fqdn":"tf-acc-test-custom-disks-ft3k6tpxc7yi-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1679568946,"initial_root_password":"3FAaRl9n20YzGduS","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Gl63yHUEkeELpdGm
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "957"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Ntu5DTZickqN6c9T
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "956"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_4O1NsFh7381ilC2s
    method: DELETE
  response:
    body: '{"task":{"id":"task_5tNf7BeEyKa1BZdE","name":"Purge items from trash","status":"pending","created_at":1679568982,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"71f423e01556f91cc9eaa6178d08069c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_4O1NsFh7381ilC2s
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 404 Not Found
    code: 404
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_T2XflYxrpxLLtTCl
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_T2XflYxrpxLLtTCl","name":"tf-acc-test-custom-disks-ft3k6tpxc7yi-group","segregate":true,"created_at":1679568937}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ec3fe221b455c36c89ae23c039be8957"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_pK9qsZGVIpeAZxVT
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
