---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"185-53-57-76.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d28e19c5e6372344bb7faad560e866e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"185-53-57-76.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a9601770d5108e02231dca43d8026ad7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_fwiJuIDXpvrZoi2X</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-magnificent-purple-potato</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Q7cGHPDVQRkkXGEi","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_x0PQrggFevheRkdv","state":"pending"},"virtual_machine_build":{"id":"vmbuild_x0PQrggFevheRkdv","state":"pending"},"hostname":"tf-acc-test-magnificent-purple-potato"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b8a291b4bd91ef79f04eb03050512d51"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_x0PQrggFevheRkdv
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_x0PQrggFevheRkdv","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.76\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-magnificent-purple-potato\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers
      all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_eLKsJfGj6MyQbvsm","name":"tf-acc-test-magnificent-purple-potato","hostname":"tf-acc-test-magnificent-purple-potato","fqdn":"tf-acc-test-magnificent-purple-potato.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1614273850}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d410a647d875e0faa651c7182cc8135"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_eLKsJfGj6MyQbvsm
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_eLKsJfGj6MyQbvsm","name":"tf-acc-test-magnificent-purple-potato","hostname":"tf-acc-test-magnificent-purple-potato","fqdn":"tf-acc-test-magnificent-purple-potato.terraform-acc-test.katapult.cloud","description":null,"created_at":1614273851,"initial_root_password":"n7YmjinjDWDiNOEr","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"tf-acc-test-magnificent-purple-potato.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_eLKsJfGj6MyQbvsm","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9915c74b613adc12486c33849b899c38"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "163"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76","reverse_dns":"tf-acc-test-magnificent-purple-potato.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.76/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_eLKsJfGj6MyQbvsm","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_eLKsJfGj6MyQbvsm","name":"tf-acc-test-magnificent-purple-potato"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9ce843e765141a3323173051d092b25c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "160"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_66POcm9rz1ndXSjy
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_66POcm9rz1ndXSjy","address":"185.53.57.198","reverse_dns":"185-53-57-198.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.198/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20c89643675823790ba81535a4c5e067"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "153"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_eLKsJfGj6MyQbvsm
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_scCYfiJKdMvZloQz","name":"Public
      Network on tf-acc-test-magnificent-purple-potato","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0340299827f2ffa0e386928100b6fa9a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "150"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_scCYfiJKdMvZloQz"},"ip_address":{"id":"ip_66POcm9rz1ndXSjy"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_scCYfiJKdMvZloQz","virtual_machine":{"id":"vm_eLKsJfGj6MyQbvsm","name":"tf-acc-test-magnificent-purple-potato"},"name":"Public
      Network on tf-acc-test-magnificent-purple-potato","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:ee:8d:20:7c:92","state":"attached","ip_addresses":[{"id":"ip_fwiJuIDXpvrZoi2X","address":"185.53.57.76"},{"id":"ip_66POcm9rz1ndXSjy","address":"185.53.57.198"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d605d7d0a71903efc77e1247aeb35b3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "149"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_eLKsJfGj6MyQbvsm"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_eLKsJfGj6MyQbvsm","name":"tf-acc-test-magnificent-purple-potato","hostname":"tf-acc-test-magnificent-purple-potato","fqdn":"tf-acc-test-magnificent-purple-potato.terraform-acc-test.katapult.cloud","description":null,"created_at":1614273851,"initial_root_password":"n7YmjinjDWDiNOEr","state":"sta[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_66POcm9rz1ndXSjy
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_eLKsJfGj6MyQbvsm
    method: POST
  response:
    body: '{"task":{"id":"task_ncIUFppaMkjH982w","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70db71abe8195cf3061fe0e52f669de5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "124"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ncIUFppaMkjH982w
    method: GET
  response:
    body: '{"task":{"id":"task_ncIUFppaMkjH982w","name":"Stop virtual machine","status":"running","created_at":1614273880,"started_at":1614273880,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f00ae2586b9fe09912c443b1d6b079a2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "112"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_eLKsJfGj6MyQbvsm
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_BVsvejpW1CBbyRk2","keep_until":1614446686,"object_id":"vm_eLKsJfGj6MyQbvsm","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_eLKsJfGj6MyQbvsm","name":"tf-acc-test-magnificent-purple-potato","hostname":"tf-acc-test-magnificent-purple-potato","fqdn":"tf-acc-test-magnificent-purple-potato.terraform-acc-test.katapult.cloud","description":null,"created_at":1614273851,"initial_root_password":"n7YmjinjDWDiNOEr","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-l[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_fwiJuIDXpvrZoi2X
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "89"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_BVsvejpW1CBbyRk2
    method: DELETE
  response:
    body: '{"task":{"id":"task_lY22ysaOi7C4P4B8","name":"Purge items from trash","status":"pending","created_at":1614273887,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"39f0aefcc4cf660ac1a2f2e7029396f1"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "88"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_lY22ysaOi7C4P4B8
    method: GET
  response:
    body: '{"task":{"id":"task_lY22ysaOi7C4P4B8","name":"Purge items from trash","status":"running","created_at":1614273887,"started_at":1614273887,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d83476d4b09242fcab80e7f72a51fb4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "87"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_eLKsJfGj6MyQbvsm
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "69"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
