---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "973"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194","reverse_dns":"185-199-222-194.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"786d5374035b29433c7d68f31c618264"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_bNVeyLPKVqujq5xL
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194","reverse_dns":"185-199-222-194.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2f3ce063a8417469e1ef1750e98f47f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_bNVeyLPKVqujq5xL</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-tender-purring-leopard</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_W8jPxXkjp2l44LZz","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_E4MSY4SUue7TMVwe","state":"pending"},"virtual_machine_build":{"id":"vmbuild_E4MSY4SUue7TMVwe","state":"pending"},"hostname":"tf-acc-test-tender-purring-leopard"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b21308693518138e13355e751096862"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_E4MSY4SUue7TMVwe
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_E4MSY4SUue7TMVwe","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.194\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-tender-purring-leopard\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_1i31DTTOiHAmpfSm","name":"tf-acc-test-tender-purring-leopard","hostname":"tf-acc-test-tender-purring-leopard","fqdn":"tf-acc-test-tender-purring-leopard.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1679595075}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b166221a4f10c107224c26a5b13c2d4f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "916"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_1i31DTTOiHAmpfSm
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_1i31DTTOiHAmpfSm","name":"tf-acc-test-tender-purring-leopard","hostname":"tf-acc-test-tender-purring-leopard","fqdn":"tf-acc-test-tender-purring-leopard.terraform-acc-test.katapult.cloud","description":null,"created_at":1679595077,"initial_root_password":"uttzVGq7lnqwBzKk","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194","reverse_dns":"tf-acc-test-tender-purring-leopard.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_1i31DTTOiHAmpfSm","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8c53df8d8f98a448efe675d2efa6e853"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "899"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_1i31DTTOiHAmpfSm
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_f4FGlhuKmZRon9DU","name":"Public
      Network on tf-acc-test-tender-purring-leopard","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3d71288ba6f7895bef3e70fecd6b04f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "897"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_f4FGlhuKmZRon9DU
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_f4FGlhuKmZRon9DU","virtual_machine":{"id":"vm_1i31DTTOiHAmpfSm","name":"tf-acc-test-tender-purring-leopard"},"name":"Public
      Network on tf-acc-test-tender-purring-leopard","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:96:1d:0d:a1:ab","state":"attached","ip_addresses":[{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b9a97abb60a4aec1360f0d52e12ff857"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "896"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_bNVeyLPKVqujq5xL
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194","reverse_dns":"tf-acc-test-tender-purring-leopard.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_1i31DTTOiHAmpfSm","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_1i31DTTOiHAmpfSm","name":"tf-acc-test-tender-purring-leopard"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"916171f1b98479c096a221ae79510a3c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "894"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_z6ShjS7x8jv8GyKH
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_z6ShjS7x8jv8GyKH","address":"185.199.222.82","reverse_dns":"185-199-222-82.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.82/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cda0687c826fe99974a1eaa7b8a9c2d8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "870"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_1i31DTTOiHAmpfSm
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_f4FGlhuKmZRon9DU","name":"Public
      Network on tf-acc-test-tender-purring-leopard","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9f3bc09db8b8178c9c710971f6799dbd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "866"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_f4FGlhuKmZRon9DU"},"ip_address":{"id":"ip_z6ShjS7x8jv8GyKH"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_f4FGlhuKmZRon9DU","virtual_machine":{"id":"vm_1i31DTTOiHAmpfSm","name":"tf-acc-test-tender-purring-leopard"},"name":"Public
      Network on tf-acc-test-tender-purring-leopard","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:96:1d:0d:a1:ab","state":"attached","ip_addresses":[{"id":"ip_z6ShjS7x8jv8GyKH","address":"185.199.222.82"},{"id":"ip_bNVeyLPKVqujq5xL","address":"185.199.222.194"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2a44cd373ee8147d4ee4f4d6fca7f739"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "864"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_1i31DTTOiHAmpfSm"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_1i31DTTOiHAmpfSm","name":"tf-acc-test-tender-purring-leopard","hostname":"tf-acc-test-tender-purring-leopard","fqdn":"tf-acc-test-tender-purring-leopard.terraform-acc-test.katapult.cloud","description":null,"created_at":1679595077,"initial_root_password":"uttzVGq7lnqwBzKk","state":"started","zo[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_z6ShjS7x8jv8GyKH
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "843"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_1i31DTTOiHAmpfSm
    method: POST
  response:
    body: '{"task":{"id":"task_PvWCUDQiTk8fO7wc","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"94dea1183b4185f939de4243c95e26d6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "800"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_PvWCUDQiTk8fO7wc
    method: GET
  response:
    body: '{"task":{"id":"task_PvWCUDQiTk8fO7wc","name":"Stop virtual machine","status":"running","created_at":1679595102,"started_at":1679595103,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ebee70692024b1ce0dabfb4197bb7085"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "797"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_1i31DTTOiHAmpfSm
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_pWR2GxPWWWxNBVPD","keep_until":1679767910,"object_id":"vm_1i31DTTOiHAmpfSm","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_1i31DTTOiHAmpfSm","name":"tf-acc-test-tender-purring-leopard","hostname":"tf-acc-test-tender-purring-leopard","fqdn":"tf-acc-test-tender-purring-leopard.terraform-acc-test.katapult.cloud","description":null,"created_at":1679595077,"initial_root_password":"uttzVGq7lnqwBzKk","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","c[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_bNVeyLPKVqujq5xL
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "775"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_1i31DTTOiHAmpfSm
    method: DELETE
  response:
    body: '{"task":{"id":"task_dXDIOOlVxiHoBpji","name":"Purge items from trash","status":"pending","created_at":1679595110,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"321c53e74ca5010096b5f61863c3a701"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "773"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_1i31DTTOiHAmpfSm
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "965"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
