---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "169"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_EppNXhWKM7pWlcrW","address":"185.199.222.89","reverse_dns":"185-199-222-89.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.89/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e47caecc91f78c8b5ad1f1e48bb77507"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "168"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_EppNXhWKM7pWlcrW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_EppNXhWKM7pWlcrW","address":"185.199.222.89","reverse_dns":"185-199-222-89.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.89/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ce62a882b60e2eff3b6406c19450a229"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "167"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_EppNXhWKM7pWlcrW</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-resonant-ancient-apricot</Hostname></Hostname><Name>tf-acc-test-update_speed_profile-heksaeg0ec20</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_nPAbi9M70T4tLqF8","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_pqNbv1fdm3k5aHeE","state":"pending"},"virtual_machine_build":{"id":"vmbuild_pqNbv1fdm3k5aHeE","state":"pending"},"hostname":"tf-acc-test-resonant-ancient-apricot"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6def1ef8bf4d898c8b90706c98938df0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_pqNbv1fdm3k5aHeE
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_pqNbv1fdm3k5aHeE","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.89\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-resonant-ancient-apricot\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update_speed_profile-heksaeg0ec20\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_YToqUc4bxl8Vl5qF","name":"tf-acc-test-update_speed_profile-heksaeg0ec20","hostname":"tf-acc-test-resonant-ancient-apricot","fqdn":"tf-acc-test-resonant-ancient-apricot.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1622136871}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b843faf2f5b8b803afef570c303d5dd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_YToqUc4bxl8Vl5qF
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_YToqUc4bxl8Vl5qF","name":"tf-acc-test-update_speed_profile-heksaeg0ec20","hostname":"tf-acc-test-resonant-ancient-apricot","fqdn":"tf-acc-test-resonant-ancient-apricot.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136872,"initial_root_password":"7JHs70WlXxjNpObG","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_EppNXhWKM7pWlcrW","address":"185.199.222.89","reverse_dns":"tf-acc-test-resonant-ancient-apricot.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.89/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_YToqUc4bxl8Vl5qF","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1632a9bc8b0d8a88174cfba7e5e74387"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "161"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_YToqUc4bxl8Vl5qF
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_kJWmS4spAbQ3Xa8o","name":"Public
      Network on tf-acc-test-update_speed_profile-heksaeg0ec20","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_EppNXhWKM7pWlcrW","address":"185.199.222.89"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f8242421fafd81a52e9a3d996e814805"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_kJWmS4spAbQ3Xa8o
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_kJWmS4spAbQ3Xa8o","virtual_machine":{"id":"vm_YToqUc4bxl8Vl5qF","name":"tf-acc-test-update_speed_profile-heksaeg0ec20"},"name":"Public
      Network on tf-acc-test-update_speed_profile-heksaeg0ec20","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:07:b6:ec:8d:a9","state":"attached","ip_addresses":[{"id":"ip_EppNXhWKM7pWlcrW","address":"185.199.222.89"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"46262c46d4ddf9a743b41055523c7c9b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_EppNXhWKM7pWlcrW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_EppNXhWKM7pWlcrW","address":"185.199.222.89","reverse_dns":"tf-acc-test-resonant-ancient-apricot.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.89/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_YToqUc4bxl8Vl5qF","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_YToqUc4bxl8Vl5qF","name":"tf-acc-test-update_speed_profile-heksaeg0ec20"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"36336d8611a2971db15f446abf1282ae"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_YToqUc4bxl8Vl5qF
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_kJWmS4spAbQ3Xa8o","name":"Public
      Network on tf-acc-test-update_speed_profile-heksaeg0ec20","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_EppNXhWKM7pWlcrW","address":"185.199.222.89"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f08b51473bc0aa443594fae448fd8c51"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "139"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_kJWmS4spAbQ3Xa8o"},"speed_profile":{"permalink":"1gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_eHCzqwTDoNwjaJFT","name":"Change network interface
      speed profile","status":"pending","created_at":1622136894,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8fd563207a7afd26892769fd10bde8b5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_eHCzqwTDoNwjaJFT
    method: GET
  response:
    body: '{"task":{"id":"task_eHCzqwTDoNwjaJFT","name":"Change network interface
      speed profile","status":"running","created_at":1622136894,"started_at":1622136894,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fe0723efbd42b460cff2bbe9fb0a0849"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "137"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_YToqUc4bxl8Vl5qF"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_YToqUc4bxl8Vl5qF","name":"tf-acc-test-update_speed_profile-heksaeg0ec20","hostname":"tf-acc-test-resonant-ancient-apricot","fqdn":"tf-acc-test-resonant-ancient-apricot.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136872,"initial_root_password":"7JHs70WlXxjNpObG","state[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_YToqUc4bxl8Vl5qF
    method: POST
  response:
    body: '{"task":{"id":"task_PiLS2RgGBp5Q6JPj","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7d68b12d644bfcea144a4cb815324d88"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_PiLS2RgGBp5Q6JPj
    method: GET
  response:
    body: '{"task":{"id":"task_PiLS2RgGBp5Q6JPj","name":"Stop virtual machine","status":"running","created_at":1622136901,"started_at":1622136902,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e4b2fff0088a1878304f0c3590a6a46a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_YToqUc4bxl8Vl5qF
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_As0FWGgmBH8HQQBy","keep_until":1622309708,"object_id":"vm_YToqUc4bxl8Vl5qF","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_YToqUc4bxl8Vl5qF","name":"tf-acc-test-update_speed_profile-heksaeg0ec20","hostname":"tf-acc-test-resonant-ancient-apricot","fqdn":"tf-acc-test-resonant-ancient-apricot.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136872,"initial_root_password":"7JHs70WlXxjNpObG","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_EppNXhWKM7pWlcrW
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_As0FWGgmBH8HQQBy
    method: DELETE
  response:
    body: '{"task":{"id":"task_QoauJ3u7dWp9pkAw","name":"Purge items from trash","status":"pending","created_at":1622136909,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7fa3e4b1a3a657367cea520926dbdf4a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_QoauJ3u7dWp9pkAw
    method: GET
  response:
    body: '{"task":{"id":"task_QoauJ3u7dWp9pkAw","name":"Purge items from trash","status":"running","created_at":1622136909,"started_at":1622136909,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db3b7e5a56cd73ae053ba9925fdcbdea"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_YToqUc4bxl8Vl5qF
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
