---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update_group-kq690x4cfvn6","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_unGEpROyvkm4jKDl","name":"tf-acc-test-update_group-kq690x4cfvn6","segregate":true,"created_at":1622136917}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0efa254f290fa925b8ba9da938ee95b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_unGEpROyvkm4jKDl
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_unGEpROyvkm4jKDl","name":"tf-acc-test-update_group-kq690x4cfvn6","segregate":true,"created_at":1622136917}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0efa254f290fa925b8ba9da938ee95b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_yuNYJaqmQU9rk081","address":"185.199.222.93","reverse_dns":"185-199-222-93.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.93/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12d34628b84a161108763ed56ba5ec51"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_yuNYJaqmQU9rk081
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_yuNYJaqmQU9rk081","address":"185.199.222.93","reverse_dns":"185-199-222-93.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.93/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c60ba43de6f0a9f5f2bde3557fa331a3"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_yuNYJaqmQU9rk081</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-delicious-whispering-osprey</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_8larNVIHQy3346ZB","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_UjDUvrXkrUPfTf3A","state":"pending"},"virtual_machine_build":{"id":"vmbuild_UjDUvrXkrUPfTf3A","state":"pending"},"hostname":"tf-acc-test-delicious-whispering-osprey"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"eacc666a35ab8009a59016b7e7470d07"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "171"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_UjDUvrXkrUPfTf3A
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_UjDUvrXkrUPfTf3A","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.93\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-delicious-whispering-osprey\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_NenFmHQcqQBS0lOY","name":"tf-acc-test-delicious-whispering-osprey","hostname":"tf-acc-test-delicious-whispering-osprey","fqdn":"tf-acc-test-delicious-whispering-osprey.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1622136917}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"dcab1dedff75220dda54e1f8157fed88"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_NenFmHQcqQBS0lOY
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_NenFmHQcqQBS0lOY","name":"tf-acc-test-delicious-whispering-osprey","hostname":"tf-acc-test-delicious-whispering-osprey","fqdn":"tf-acc-test-delicious-whispering-osprey.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136918,"initial_root_password":"DnTPqnOMpC5t4P08","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_yuNYJaqmQU9rk081","address":"185.199.222.93","reverse_dns":"tf-acc-test-delicious-whispering-osprey.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.93/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_NenFmHQcqQBS0lOY","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"afd8869f9739438b66c284769a2d4b3f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "167"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_NenFmHQcqQBS0lOY
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_AVFkDYbVl7NCVb87","name":"Public
      Network on tf-acc-test-delicious-whispering-osprey","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_yuNYJaqmQU9rk081","address":"185.199.222.93"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49830053c0571bd07cc346bc183ce2fa"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_AVFkDYbVl7NCVb87
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_AVFkDYbVl7NCVb87","virtual_machine":{"id":"vm_NenFmHQcqQBS0lOY","name":"tf-acc-test-delicious-whispering-osprey"},"name":"Public
      Network on tf-acc-test-delicious-whispering-osprey","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:ca:03:ef:15:f4","state":"attached","ip_addresses":[{"id":"ip_yuNYJaqmQU9rk081","address":"185.199.222.93"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"45371c4ddedc5fe174fa367f1cb5ad21"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_yuNYJaqmQU9rk081
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_yuNYJaqmQU9rk081","address":"185.199.222.93","reverse_dns":"tf-acc-test-delicious-whispering-osprey.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.93/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_NenFmHQcqQBS0lOY","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_NenFmHQcqQBS0lOY","name":"tf-acc-test-delicious-whispering-osprey"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8913e060eaf592757bf8ded5723e8bf6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_NenFmHQcqQBS0lOY"},"properties":{"group":{"id":"vmgrp_unGEpROyvkm4jKDl"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_NenFmHQcqQBS0lOY","name":"tf-acc-test-delicious-whispering-osprey","hostname":"tf-acc-test-delicious-whispering-osprey","fqdn":"tf-acc-test-delicious-whispering-ospre[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_unGEpROyvkm4jKDl
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_unGEpROyvkm4jKDl","name":"tf-acc-test-update_group-kq690x4cfvn6","segregate":true,"created_at":1622136917}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e0efa254f290fa925b8ba9da938ee95b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "137"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_NenFmHQcqQBS0lOY
    method: POST
  response:
    body: '{"task":{"id":"task_FQkfLtOSvrciW820","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e74ebc90b05e17b04f0576512b3b4f5b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "126"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_FQkfLtOSvrciW820
    method: GET
  response:
    body: '{"task":{"id":"task_FQkfLtOSvrciW820","name":"Stop virtual machine","status":"pending","created_at":1622136944,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"37f9f0977bb865a2abf905baaafe8a74"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "125"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_NenFmHQcqQBS0lOY
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_jyYSkTsYH5xWkNcM","keep_until":1622309770,"object_id":"vm_NenFmHQcqQBS0lOY","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_NenFmHQcqQBS0lOY","name":"tf-acc-test-delicious-whispering-osprey","hostname":"tf-acc-test-delicious-whispering-osprey","fqdn":"tf-acc-test-delicious-whispering-osprey.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136918,"initial_root_password":"DnTPqnOMpC5t4P08","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_yuNYJaqmQU9rk081
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_jyYSkTsYH5xWkNcM
    method: DELETE
  response:
    body: '{"task":{"id":"task_MPko2XsJpleTgYQ9","name":"Purge items from trash","status":"pending","created_at":1622136971,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"89504f75518c389d40b513d7f9747b2c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_MPko2XsJpleTgYQ9
    method: GET
  response:
    body: '{"task":{"id":"task_MPko2XsJpleTgYQ9","name":"Purge items from trash","status":"running","created_at":1622136971,"started_at":1622136972,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e35797f7ab4650b99a62e9923d8b5547"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_NenFmHQcqQBS0lOY
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
