---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_aoRY8LL3qfe6YHAE","address":"185.199.222.136","reverse_dns":"185-199-222-136.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.136/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aaaf02d8c018c06de9b4c99a568b8105"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_aoRY8LL3qfe6YHAE
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_aoRY8LL3qfe6YHAE","address":"185.199.222.136","reverse_dns":"185-199-222-136.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.136/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44ea1a910ac497064b55996c7ddff7ed"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "186"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_aoRY8LL3qfe6YHAE</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-zh183eey4dea-host</Hostname></Hostname><Name>tf-acc-test-update-zh183eey4dea</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_arXi5NYd9LnwVS8b","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_rZlzOq0eDafJPOJz","state":"pending"},"virtual_machine_build":{"id":"vmbuild_rZlzOq0eDafJPOJz","state":"pending"},"hostname":"tf-acc-test-update-zh183eey4dea-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6b449386cfcf2faca51de5f6d1c4a33c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_rZlzOq0eDafJPOJz
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_rZlzOq0eDafJPOJz","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_jaQSV65RPBRbc7F1"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_jaQSV65RPBRbc7F1","name":"tf-acc-test-update-zh183eey4dea","hostname":"tf-acc-test-update-zh183eey4dea-host","fqdn":"tf-acc-test-update-zh183eey4dea-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137043,"initial_root_password":"9wv6hFOwvVwY49e5","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_aoRY8LL3qfe6YHAE","address":"185.199.222.136","reverse_dns":"tf-acc-test-update-zh183eey4dea-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.136/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_jaQSV65RPBRbc7F1","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b03c59ca63d75f7d6daa5aac24ef43b7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jaQSV65RPBRbc7F1
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_jaQSV65RPBRbc7F1","name":"tf-acc-test-update-zh183eey4dea","hostname":"tf-acc-test-update-zh183eey4dea-host","fqdn":"tf-acc-test-update-zh183eey4dea-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1622137043,"initial_root_password":"9wv6[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_jaQSV65RPBRbc7F1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ctceoDuyHPwierRs","name":"Public
      Network on tf-acc-test-update-zh183eey4dea","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_aoRY8LL3qfe6YHAE","address":"185.199.222.136"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ced37ede0b747a1a67cd834873ddfe0f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "177"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_ctceoDuyHPwierRs
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_ctceoDuyHPwierRs","virtual_machine":{"id":"vm_jaQSV65RPBRbc7F1","name":"tf-acc-test-update-zh183eey4dea"},"name":"Public
      Network on tf-acc-test-update-zh183eey4dea","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:a3:ff:fb:d7:fa","state":"attached","ip_addresses":[{"id":"ip_aoRY8LL3qfe6YHAE","address":"185.199.222.136"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3d97cb81ca4abd4f2693e6486175a2c7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_aoRY8LL3qfe6YHAE
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_aoRY8LL3qfe6YHAE","address":"185.199.222.136","reverse_dns":"tf-acc-test-update-zh183eey4dea-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.136/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_jaQSV65RPBRbc7F1","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_jaQSV65RPBRbc7F1","name":"tf-acc-test-update-zh183eey4dea"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"aaf63f51b9c8712880157aaef5fb3072"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_jaQSV65RPBRbc7F1
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ctceoDuyHPwierRs","name":"Public
      Network on tf-acc-test-update-zh183eey4dea","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_aoRY8LL3qfe6YHAE","address":"185.199.222.136"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"93ecf1ef0b8bf194e3da0143d5bfbea8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "166"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_ctceoDuyHPwierRs"},"speed_profile":{"permalink":"10gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_RKBx9EiW1q9egUA0","name":"Change network interface
      speed profile","status":"pending","created_at":1622137063,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"afb70d3a710e893df6350e63afdbaebb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "165"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_RKBx9EiW1q9egUA0
    method: GET
  response:
    body: '{"task":{"id":"task_RKBx9EiW1q9egUA0","name":"Change network interface
      speed profile","status":"running","created_at":1622137063,"started_at":1622137064,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8e6cc9d820689b18b775f729171b275c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_jaQSV65RPBRbc7F1
    method: POST
  response:
    body: '{"task":{"id":"task_KPcH3xaVWw28tBnv","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"86b7e9e3b77fd8849a4937b736a38704"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "152"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_KPcH3xaVWw28tBnv
    method: GET
  response:
    body: '{"task":{"id":"task_KPcH3xaVWw28tBnv","name":"Stop virtual machine","status":"pending","created_at":1622137071,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"df450e3c985e7cc23ab55047ade77f0d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "151"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jaQSV65RPBRbc7F1
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_aBDtDoBV81jsFTxb","keep_until":1622309887,"object_id":"vm_jaQSV65RPBRbc7F1","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_jaQSV65RPBRbc7F1","name":"tf-acc-test-update-zh183eey4dea-diff","hostname":"tf-acc-test-update-zh183eey4dea-host-diff","fqdn":"tf-acc-test-update-zh183eey4dea-host-diff.terraform-acc-test.katapult.cloud","description":"A
      app server.","created_at":1622137043,"initial_root_password":"9wv6hFOwvVwY49e5","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"L[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_aoRY8LL3qfe6YHAE
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_aBDtDoBV81jsFTxb
    method: DELETE
  response:
    body: '{"task":{"id":"task_JCdIV9uvczSbIT8d","name":"Purge items from trash","status":"pending","created_at":1622137089,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9bb7f5d48808b70c648ce38e3bcad6e6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_JCdIV9uvczSbIT8d
    method: GET
  response:
    body: '{"task":{"id":"task_JCdIV9uvczSbIT8d","name":"Purge items from trash","status":"running","created_at":1622137089,"started_at":1622137089,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f858ded4ab28043daabe8cc92b7b864"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_jaQSV65RPBRbc7F1
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
