---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194","reverse_dns":"185-53-57-194.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"49567c35c5d70c7a62b78a6bd8acc389"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_R6RasneEgI9TnlgT
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194","reverse_dns":"185-53-57-194.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8b5d14b1b7477dbb2cc7224b41f439b7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_R6RasneEgI9TnlgT</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-tender-proud-car</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_391nwj03kgB770GS","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_4Iguu9Kbs7LSAeGH","state":"pending"},"virtual_machine_build":{"id":"vmbuild_4Iguu9Kbs7LSAeGH","state":"pending"},"hostname":"tf-acc-test-tender-proud-car"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"db654cb53985eabf9c408e2f803a1136"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_4Iguu9Kbs7LSAeGH
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_4Iguu9Kbs7LSAeGH","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.194\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-tender-proud-car\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers
      all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_ywypUYI2pON7uH8p","name":"tf-acc-test-tender-proud-car","hostname":"tf-acc-test-tender-proud-car","fqdn":"tf-acc-test-tender-proud-car.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1617038252}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"930eca410f2b4ff6d905836f54492d25"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ywypUYI2pON7uH8p
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_ywypUYI2pON7uH8p","name":"tf-acc-test-tender-proud-car","hostname":"tf-acc-test-tender-proud-car","fqdn":"tf-acc-test-tender-proud-car.terraform-acc-test.katapult.cloud","description":null,"created_at":1617038253,"initial_root_password":"mHdiYpuM79BCNJHF","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194","reverse_dns":"tf-acc-test-tender-proud-car.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ywypUYI2pON7uH8p","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"692266a8c99438a77cbb8759bb7de1fd"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "190"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_ywypUYI2pON7uH8p
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_UVTe9xD25AG1ctM6","name":"Public
      Network on tf-acc-test-tender-proud-car","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"79cfa938340f16bef582045797754f1b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/vmnet_UVTe9xD25AG1ctM6
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_UVTe9xD25AG1ctM6","virtual_machine":{"id":"vm_ywypUYI2pON7uH8p","name":"tf-acc-test-tender-proud-car"},"name":"Public
      Network on tf-acc-test-tender-proud-car","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:fb:9c:26:59:bc","state":"attached","ip_addresses":[{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"78f0a029dca5d786ecc7c978466a7499"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_R6RasneEgI9TnlgT
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194","reverse_dns":"tf-acc-test-tender-proud-car.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.194/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_ywypUYI2pON7uH8p","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_ywypUYI2pON7uH8p","name":"tf-acc-test-tender-proud-car"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d8669468b5fee7e3f3291ac2792b2927"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ktDL12q14QUITsUq
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ktDL12q14QUITsUq","address":"185.53.57.133","reverse_dns":"185-53-57-133.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.133/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"33e181c03b0acdbc1b2337e134ce4e6e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "174"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_ywypUYI2pON7uH8p
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_UVTe9xD25AG1ctM6","name":"Public
      Network on tf-acc-test-tender-proud-car","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d921d6b37029fcea021c97cf6fc5428b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_UVTe9xD25AG1ctM6"},"ip_address":{"id":"ip_ktDL12q14QUITsUq"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_UVTe9xD25AG1ctM6","virtual_machine":{"id":"vm_ywypUYI2pON7uH8p","name":"tf-acc-test-tender-proud-car"},"name":"Public
      Network on tf-acc-test-tender-proud-car","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:fb:9c:26:59:bc","state":"attached","ip_addresses":[{"id":"ip_ktDL12q14QUITsUq","address":"185.53.57.133"},{"id":"ip_R6RasneEgI9TnlgT","address":"185.53.57.194"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e368e0e0ad63f3df6f5b9ed15d38680"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "170"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_ywypUYI2pON7uH8p"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_ywypUYI2pON7uH8p","name":"tf-acc-test-tender-proud-car","hostname":"tf-acc-test-tender-proud-car","fqdn":"tf-acc-test-tender-proud-car.terraform-acc-test.katapult.cloud","description":null,"created_at":1617038253,"initial_root_password":"mHdiYpuM79BCNJHF","state":"started","zone":{"id":"zone_7U[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ktDL12q14QUITsUq
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "151"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_ywypUYI2pON7uH8p
    method: POST
  response:
    body: '{"task":{"id":"task_NtNT4jb4I3yN96AX","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6c614b4103ad6ef806c058171c35e16c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_NtNT4jb4I3yN96AX
    method: GET
  response:
    body: '{"task":{"id":"task_NtNT4jb4I3yN96AX","name":"Stop virtual machine","status":"running","created_at":1617038278,"started_at":1617038278,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5d768f0ef486986e7c19ce674bac00a6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "137"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ywypUYI2pON7uH8p
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_iuSeJQA4MJjOgnrX","keep_until":1617211084,"object_id":"vm_ywypUYI2pON7uH8p","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_ywypUYI2pON7uH8p","name":"tf-acc-test-tender-proud-car","hostname":"tf-acc-test-tender-proud-car","fqdn":"tf-acc-test-tender-proud-car.terraform-acc-test.katapult.cloud","description":null,"created_at":1617038253,"initial_root_password":"mHdiYpuM79BCNJHF","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctr[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_R6RasneEgI9TnlgT
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_iuSeJQA4MJjOgnrX
    method: DELETE
  response:
    body: '{"task":{"id":"task_QTrQ9sWZkFLSmYW0","name":"Purge items from trash","status":"pending","created_at":1617038285,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c77df8ae447caa79a15d4ebd3e54d571"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_QTrQ9sWZkFLSmYW0
    method: GET
  response:
    body: '{"task":{"id":"task_QTrQ9sWZkFLSmYW0","name":"Purge items from trash","status":"running","created_at":1617038285,"started_at":1617038285,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ca321c9fce8bca5f3031e7b0e32d44c7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_ywypUYI2pON7uH8p
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "192"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
