---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Y1mpdmngnrGaqNde","address":"185.199.221.30","reverse_dns":"185-199-221-30.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.30/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"261e718304dce69017df6c7013909306"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Y1mpdmngnrGaqNde
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Y1mpdmngnrGaqNde","address":"185.199.221.30","reverse_dns":"185-199-221-30.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.30/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3e0cdf61916ce6a065c79b1247c7c14"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "997"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_Y1mpdmngnrGaqNde</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-faithful-polar-tungsten</Hostname></Hostname><Name>tf-acc-test-update-network-speed-profile-vh7nvao069pa</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_LVL3LQC8fmHzW6j2","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_zPZLKMdozINJIK3H","state":"pending"},"virtual_machine_build":{"id":"vmbuild_zPZLKMdozINJIK3H","state":"pending"},"hostname":"tf-acc-test-faithful-polar-tungsten"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8a872694e90a94e824895d1dc8830461"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_zPZLKMdozINJIK3H
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_zPZLKMdozINJIK3H","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.30\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-faithful-polar-tungsten\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-network-speed-profile-vh7nvao069pa\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_w22OsLLcl5vxlgX3","name":"tf-acc-test-update-network-speed-profile-vh7nvao069pa","hostname":"tf-acc-test-faithful-polar-tungsten","fqdn":"tf-acc-test-faithful-polar-tungsten.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1678291352}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f581235841920c9de939c9206f9588b4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_w22OsLLcl5vxlgX3
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_w22OsLLcl5vxlgX3","name":"tf-acc-test-update-network-speed-profile-vh7nvao069pa","hostname":"tf-acc-test-faithful-polar-tungsten","fqdn":"tf-acc-test-faithful-polar-tungsten.terraform-acc-test.katapult.cloud","description":null,"created_at":1678291354,"initial_root_password":"js0idTpxLFFIUz4y","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_Y1mpdmngnrGaqNde","address":"185.199.221.30","reverse_dns":"tf-acc-test-faithful-polar-tungsten.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.30/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_w22OsLLcl5vxlgX3","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7749467c8a22ac163a051737668d1ae6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_w22OsLLcl5vxlgX3
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_VxYSS2XmJwMbwryn","name":"Public
      Network on tf-acc-test-update-network-speed-profile-vh7nvao069pa","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_Y1mpdmngnrGaqNde","address":"185.199.221.30"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9f2ee7060ef11fafec50faa719639e30"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_VxYSS2XmJwMbwryn
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_VxYSS2XmJwMbwryn","virtual_machine":{"id":"vm_w22OsLLcl5vxlgX3","name":"tf-acc-test-update-network-speed-profile-vh7nvao069pa"},"name":"Public
      Network on tf-acc-test-update-network-speed-profile-vh7nvao069pa","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:c2:e0:d2:76:bd","state":"attached","ip_addresses":[{"id":"ip_Y1mpdmngnrGaqNde","address":"185.199.221.30"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"46d4faeb8a1eefa61782a2dbf9d820e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Y1mpdmngnrGaqNde
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Y1mpdmngnrGaqNde","address":"185.199.221.30","reverse_dns":"tf-acc-test-faithful-polar-tungsten.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.30/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_w22OsLLcl5vxlgX3","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_w22OsLLcl5vxlgX3","name":"tf-acc-test-update-network-speed-profile-vh7nvao069pa"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7c98884a7cfb307358293475725d99fb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_w22OsLLcl5vxlgX3
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_VxYSS2XmJwMbwryn","name":"Public
      Network on tf-acc-test-update-network-speed-profile-vh7nvao069pa","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_Y1mpdmngnrGaqNde","address":"185.199.221.30"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f6e9a94381f8b66d7a7a6980086faaf3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "969"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_VxYSS2XmJwMbwryn"},"speed_profile":{"permalink":"1gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_5wmP3XV4psMXACDg","name":"Change network interface
      speed profile","status":"pending","created_at":1678291374,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"08a9ea6d702aad755bfc4edbd131aeb3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_5wmP3XV4psMXACDg
    method: GET
  response:
    body: '{"task":{"id":"task_5wmP3XV4psMXACDg","name":"Change network interface
      speed profile","status":"running","created_at":1678291374,"started_at":1678291374,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b8bea92bdccc2de7e87bbc8dd499b3c6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_w22OsLLcl5vxlgX3"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_w22OsLLcl5vxlgX3","name":"tf-acc-test-update-network-speed-profile-vh7nvao069pa","hostname":"tf-acc-test-faithful-polar-tungsten","fqdn":"tf-acc-test-faithful-polar-tungsten.terraform-acc-test.katapult.cloud","description":null,"created_at":1678291354,"initial_root_password":"js0idTpxLFFIUz4y",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_w22OsLLcl5vxlgX3
    method: POST
  response:
    body: '{"task":{"id":"task_zO4wWeJyf1aP8Wkq","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1c8d665d0082c99bda38f82b6193ab3d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "988"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_zO4wWeJyf1aP8Wkq
    method: GET
  response:
    body: '{"task":{"id":"task_zO4wWeJyf1aP8Wkq","name":"Stop virtual machine","status":"running","created_at":1678291381,"started_at":1678291382,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3dc5eddb88cfb8ad8729247e885e6efa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_w22OsLLcl5vxlgX3
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_h20tKlYNJSQHGVCP","keep_until":1678464187,"object_id":"vm_w22OsLLcl5vxlgX3","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_w22OsLLcl5vxlgX3","name":"tf-acc-test-update-network-speed-profile-vh7nvao069pa","hostname":"tf-acc-test-faithful-polar-tungsten","fqdn":"tf-acc-test-faithful-polar-tungsten.terraform-acc-test.katapult.cloud","description":null,"created_at":1678291354,"initial_root_password":"js0idTpxLFFIUz4y","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","perm[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Y1mpdmngnrGaqNde
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_h20tKlYNJSQHGVCP
    method: DELETE
  response:
    body: '{"task":{"id":"task_wj9zIUXW9jROzsuW","name":"Purge items from trash","status":"pending","created_at":1678291388,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6390bb057af8bfc693652641989a3eb6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_wj9zIUXW9jROzsuW
    method: GET
  response:
    body: '{"task":{"id":"task_wj9zIUXW9jROzsuW","name":"Purge items from trash","status":"running","created_at":1678291388,"started_at":1678291388,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9945a67f7473c3550dc45c719c1cf1e0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "982"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_w22OsLLcl5vxlgX3
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
