---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "824"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-basic-aoa3htg7gjfe-group","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zcwZDZQcTvxvVOsv","name":"tf-acc-test-basic-aoa3htg7gjfe-group","segregate":true,"created_at":1676031224}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"725a1dd118c2e2780ca172dd675d906e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "824"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_zcwZDZQcTvxvVOsv
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zcwZDZQcTvxvVOsv","name":"tf-acc-test-basic-aoa3htg7gjfe-group","segregate":true,"created_at":1676031224}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"725a1dd118c2e2780ca172dd675d906e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "815"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"185-199-222-102.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"83ea4f34a8ce0d2edaa0f1a799893caa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "819"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Z5FLGs1qY5Mhtbwz
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"185-199-222-102.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"64dd313fd865984b592937218047f068"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "810"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_5KQyws2YivDGFxbC
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100","reverse_dns":"185-199-222-100.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.100/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"12dc4cdc9d6e7c7b049af2a17d0b0d85"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "806"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_Z5FLGs1qY5Mhtbwz</IPAddress></IPAddressAllocation><IPAddressAllocation type=\"existing\"><IPAddress>ip_5KQyws2YivDGFxbC</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-aoa3htg7gjfe-host</Hostname></Hostname><Name>tf-acc-test-basic-aoa3htg7gjfe</Name><Description>A web server.</Description><Group>vmgrp_zcwZDZQcTvxvVOsv</Group><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_VXrTCuYLYNKIJjef","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_iu9xrnDmZktd6Ipa","state":"pending"},"virtual_machine_build":{"id":"vmbuild_iu9xrnDmZktd6Ipa","state":"pending"},"hostname":"tf-acc-test-basic-aoa3htg7gjfe-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b894b60bdff00058e87e6f842fbe0ffd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "801"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_iu9xrnDmZktd6Ipa
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_iu9xrnDmZktd6Ipa","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_0WSdVP3qqmC4xZ6g"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_0WSdVP3qqmC4xZ6g","name":"tf-acc-test-basic-aoa3htg7gjfe","hostname":"tf-acc-test-basic-aoa3htg7gjfe-host","fqdn":"tf-acc-test-basic-aoa3htg7gjfe-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031226,"initial_root_password":"tS0FDrSXWFonWTBf","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":{"id":"vmgrp_zcwZDZQcTvxvVOsv","name":"tf-acc-test-basic-aoa3htg7gjfe-group","segregate":true,"created_at":1676031224},"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100","reverse_dns":"tf-acc-test-basic-aoa3htg7gjfe-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.100/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_0WSdVP3qqmC4xZ6g","allocation_type":"VirtualMachine"},{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"tf-acc-test-basic-aoa3htg7gjfe-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_0WSdVP3qqmC4xZ6g","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"540dd5b3e44bcbeb009963f896681b1b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "917"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_0WSdVP3qqmC4xZ6g
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_0WSdVP3qqmC4xZ6g","name":"tf-acc-test-basic-aoa3htg7gjfe","hostname":"tf-acc-test-basic-aoa3htg7gjfe-host","fqdn":"tf-acc-test-basic-aoa3htg7gjfe-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031226,"initial_root_password":"tS0FDrS[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_0WSdVP3qqmC4xZ6g
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_ewbT3uKsI4VXxYfe","name":"Public
      Network on tf-acc-test-basic-aoa3htg7gjfe","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100"},{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3ad572eb278699c9e51cacd6642227c7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "909"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_ewbT3uKsI4VXxYfe
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_ewbT3uKsI4VXxYfe","virtual_machine":{"id":"vm_0WSdVP3qqmC4xZ6g","name":"tf-acc-test-basic-aoa3htg7gjfe"},"name":"Public
      Network on tf-acc-test-basic-aoa3htg7gjfe","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:91:6a:e4:4e:68","state":"attached","ip_addresses":[{"id":"ip_5KQyws2YivDGFxbC","address":"185.199.222.100"},{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6794c9ec9753f775512a8969749bda0b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "907"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_Z5FLGs1qY5Mhtbwz
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_Z5FLGs1qY5Mhtbwz","address":"185.199.222.102","reverse_dns":"tf-acc-test-basic-aoa3htg7gjfe-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.102/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_0WSdVP3qqmC4xZ6g","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_0WSdVP3qqmC4xZ6g","name":"tf-acc-test-basic-aoa3htg7gjfe"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e1fd17349fca528248632e74ebbc9d3c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "900"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_0WSdVP3qqmC4xZ6g
    method: POST
  response:
    body: '{"task":{"id":"task_tAfEmJvRgifY7RGl","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc85cbef2b807995b8db1e6c20093074"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "887"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_tAfEmJvRgifY7RGl
    method: GET
  response:
    body: '{"task":{"id":"task_tAfEmJvRgifY7RGl","name":"Stop virtual machine","status":"pending","created_at":1676031255,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b47531f2318968a16c6cee9c079f0349"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "874"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_0WSdVP3qqmC4xZ6g
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_MNHApHwy3CIRq769","keep_until":1676204081,"object_id":"vm_0WSdVP3qqmC4xZ6g","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_0WSdVP3qqmC4xZ6g","name":"tf-acc-test-basic-aoa3htg7gjfe","hostname":"tf-acc-test-basic-aoa3htg7gjfe-host","fqdn":"tf-acc-test-basic-aoa3htg7gjfe-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1676031226,"initial_root_password":"tS0FDrSXWFonWTBf","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_Z5FLGs1qY5Mhtbwz
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "811"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_5KQyws2YivDGFxbC
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "809"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_MNHApHwy3CIRq769
    method: DELETE
  response:
    body: '{"task":{"id":"task_RlQsPMDSe4gXA9gS","name":"Purge items from trash","status":"pending","created_at":1676031282,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b726cb36d05e57f6edb0fd0e6ecc27ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "808"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_RlQsPMDSe4gXA9gS
    method: GET
  response:
    body: '{"task":{"id":"task_RlQsPMDSe4gXA9gS","name":"Purge items from trash","status":"pending","created_at":1676031282,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b726cb36d05e57f6edb0fd0e6ecc27ad"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "807"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_zcwZDZQcTvxvVOsv
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_zcwZDZQcTvxvVOsv","name":"tf-acc-test-basic-aoa3htg7gjfe-group","segregate":true,"created_at":1676031224}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"725a1dd118c2e2780ca172dd675d906e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_0WSdVP3qqmC4xZ6g
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
