---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15","reverse_dns":"185-199-222-15.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.15/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"671c6629399e190345c57ce41d5f1e12"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ShfQ4tcMdtJk2Ek8
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15","reverse_dns":"185-199-222-15.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.15/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"781f00caf5f8ea5e0a9d35558ff17e5d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "187"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_ShfQ4tcMdtJk2Ek8</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-worried-salty-jellyfish</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_9H7IFZ6rJSJLNrgy","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_dY4WHo4Qw5Z7vZ7F","state":"pending"},"virtual_machine_build":{"id":"vmbuild_dY4WHo4Qw5Z7vZ7F","state":"pending"},"hostname":"tf-acc-test-worried-salty-jellyfish"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9a37274874a7f7f4667878d690bb23f5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "185"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_dY4WHo4Qw5Z7vZ7F
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_dY4WHo4Qw5Z7vZ7F","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.15\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-worried-salty-jellyfish\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_Bm6nmNMiblU0RwdX","name":"tf-acc-test-worried-salty-jellyfish","hostname":"tf-acc-test-worried-salty-jellyfish","fqdn":"tf-acc-test-worried-salty-jellyfish.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1622136979}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e17cc4b0dc1243680a7d4c3950ab7ed5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "184"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Bm6nmNMiblU0RwdX
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Bm6nmNMiblU0RwdX","name":"tf-acc-test-worried-salty-jellyfish","hostname":"tf-acc-test-worried-salty-jellyfish","fqdn":"tf-acc-test-worried-salty-jellyfish.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136980,"initial_root_password":"e30qnFXtgEBuZuHq","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15","reverse_dns":"tf-acc-test-worried-salty-jellyfish.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.15/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Bm6nmNMiblU0RwdX","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1a46fb4ef3b00c3ac8d8f2d7fa7adef0"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_Bm6nmNMiblU0RwdX
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_RLoaU9rq3RRItXI1","name":"Public
      Network on tf-acc-test-worried-salty-jellyfish","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"616eb71621b10ede654993e2dd163024"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_RLoaU9rq3RRItXI1
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_RLoaU9rq3RRItXI1","virtual_machine":{"id":"vm_Bm6nmNMiblU0RwdX","name":"tf-acc-test-worried-salty-jellyfish"},"name":"Public
      Network on tf-acc-test-worried-salty-jellyfish","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:1d:0d:0b:24:bc","state":"attached","ip_addresses":[{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9025586715ee4a08d450ef4c1729fa72"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ShfQ4tcMdtJk2Ek8
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15","reverse_dns":"tf-acc-test-worried-salty-jellyfish.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.15/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Bm6nmNMiblU0RwdX","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Bm6nmNMiblU0RwdX","name":"tf-acc-test-worried-salty-jellyfish"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9af21d753b993209893a49f46d517ee4"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_mtIbEAcYTA3qZom5
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_mtIbEAcYTA3qZom5","address":"185.199.222.196","reverse_dns":"185-199-222-196.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.196/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"06c25e1463b05eac1352d73b5dbddfc9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "166"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_Bm6nmNMiblU0RwdX
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_RLoaU9rq3RRItXI1","name":"Public
      Network on tf-acc-test-worried-salty-jellyfish","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4e4b23c2e537399e1f9d0bfe197eb4b8"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "164"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_RLoaU9rq3RRItXI1"},"ip_address":{"id":"ip_mtIbEAcYTA3qZom5"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/allocate_ip
    method: POST
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_RLoaU9rq3RRItXI1","virtual_machine":{"id":"vm_Bm6nmNMiblU0RwdX","name":"tf-acc-test-worried-salty-jellyfish"},"name":"Public
      Network on tf-acc-test-worried-salty-jellyfish","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:1d:0d:0b:24:bc","state":"attached","ip_addresses":[{"id":"ip_ShfQ4tcMdtJk2Ek8","address":"185.199.222.15"},{"id":"ip_mtIbEAcYTA3qZom5","address":"185.199.222.196"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"78582bc4aa5168a5b33b4be742bbf683"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine":{"id":"vm_Bm6nmNMiblU0RwdX"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_Bm6nmNMiblU0RwdX","name":"tf-acc-test-worried-salty-jellyfish","hostname":"tf-acc-test-worried-salty-jellyfish","fqdn":"tf-acc-test-worried-salty-jellyfish.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136980,"initial_root_password":"e30qnFXtgEBuZuHq","state":"started",[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_mtIbEAcYTA3qZom5
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "145"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Bm6nmNMiblU0RwdX
    method: POST
  response:
    body: '{"task":{"id":"task_0oLaw86dGZN5AULn","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"faa21c16f1aa1820688c4570886a8b86"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "132"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_0oLaw86dGZN5AULn
    method: GET
  response:
    body: '{"task":{"id":"task_0oLaw86dGZN5AULn","name":"Stop virtual machine","status":"pending","created_at":1622137007,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"29041a70331c3e24cdedaf0f09269955"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "131"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Bm6nmNMiblU0RwdX
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_9fARNgOXMpEp5Y4F","keep_until":1622309833,"object_id":"vm_Bm6nmNMiblU0RwdX","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Bm6nmNMiblU0RwdX","name":"tf-acc-test-worried-salty-jellyfish","hostname":"tf-acc-test-worried-salty-jellyfish","fqdn":"tf-acc-test-worried-salty-jellyfish.terraform-acc-test.katapult.cloud","description":null,"created_at":1622136980,"initial_root_password":"e30qnFXtgEBuZuHq","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ShfQ4tcMdtJk2Ek8
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_9fARNgOXMpEp5Y4F
    method: DELETE
  response:
    body: '{"task":{"id":"task_q2IIXoDHCvYeOtgu","name":"Purge items from trash","status":"pending","created_at":1622137034,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6151e5e00817c3564d978944d9d8634d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "195"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_q2IIXoDHCvYeOtgu
    method: GET
  response:
    body: '{"task":{"id":"task_q2IIXoDHCvYeOtgu","name":"Purge items from trash","status":"running","created_at":1622137034,"started_at":1622137034,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"020f9dfa22fc7624dff2fbf355d6ffd2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Bm6nmNMiblU0RwdX
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "191"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
