---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55","reverse_dns":"185-44-254-55.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fc0226d5f20a8abdf68a6cfc018149dd"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ewais9hxfzjWUnPe
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55","reverse_dns":"185-44-254-55.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.254.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"175978a6e75e534effe59b86d5b6cc89"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "989"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><SpeedProfile by=\"permalink\">1gbps</SpeedProfile><IPAddressAllocation type=\"existing\"><IPAddress>ip_ewais9hxfzjWUnPe</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-update-w0tmzsvxwnrm-host</Hostname></Hostname><Name>tf-acc-test-update-w0tmzsvxwnrm</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_p938P8MONzUFdxpQ","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_LnOoZR1WhpKAyWbk","state":"pending"},"virtual_machine_build":{"id":"vmbuild_LnOoZR1WhpKAyWbk","state":"pending"},"hostname":"tf-acc-test-update-w0tmzsvxwnrm-host","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7333fc300fd0df18a86630655d6a29cb"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "987"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_LnOoZR1WhpKAyWbk
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_LnOoZR1WhpKAyWbk","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"[...]
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_31AM1CwiDMiz4dwd"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_31AM1CwiDMiz4dwd","name":"tf-acc-test-update-w0tmzsvxwnrm","hostname":"tf-acc-test-update-w0tmzsvxwnrm-host","fqdn":"tf-acc-test-update-w0tmzsvxwnrm-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738860024,"initial_root_password":"sG8D2pHpfTQpbKiw","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55","reverse_dns":"tf-acc-test-update-w0tmzsvxwnrm-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_31AM1CwiDMiz4dwd","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5ffd749d8fe7ae3c5f4cfd8c4deb43f6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "963"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_31AM1CwiDMiz4dwd
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_31AM1CwiDMiz4dwd","name":"tf-acc-test-update-w0tmzsvxwnrm","hostname":"tf-acc-test-update-w0tmzsvxwnrm-host","fqdn":"tf-acc-test-update-w0tmzsvxwnrm-host.terraform-acc-test.katapult.cloud","description":"A
      web server.","created_at":1738860024,"initial_root_password":"sG8D[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_31AM1CwiDMiz4dwd
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_n3YWwNc9eJRrkF0R","name":"Public
      Network on tf-acc-test-update-w0tmzsvxwnrm","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65d4f543c16d0faad3873e6b2f5682f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "953"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_n3YWwNc9eJRrkF0R
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_n3YWwNc9eJRrkF0R","virtual_machine":{"id":"vm_31AM1CwiDMiz4dwd","name":"tf-acc-test-update-w0tmzsvxwnrm"},"name":"Public
      Network on tf-acc-test-update-w0tmzsvxwnrm","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:4c:ab:d2:d6:88","state":"attached","ip_addresses":[{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bfd65552638ff94f7f39fd49455e28d4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "951"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_n3YWwNc9eJRrkF0R
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_n3YWwNc9eJRrkF0R","virtual_machine":{"id":"vm_31AM1CwiDMiz4dwd","name":"tf-acc-test-update-w0tmzsvxwnrm"},"name":"Public
      Network on tf-acc-test-update-w0tmzsvxwnrm","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:4c:ab:d2:d6:88","state":"attached","ip_addresses":[{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55"}],"speed_profile":{"id":"nsp_Y8YS65yTivlCAjIY","name":"1Gbps","permalink":"1gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"bfd65552638ff94f7f39fd49455e28d4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ewais9hxfzjWUnPe
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55","reverse_dns":"tf-acc-test-update-w0tmzsvxwnrm-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.254.55/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_31AM1CwiDMiz4dwd","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_31AM1CwiDMiz4dwd","name":"tf-acc-test-update-w0tmzsvxwnrm"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"babcfa9a17eceb8488eac313ca8a0477"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_31AM1CwiDMiz4dwd
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_n3YWwNc9eJRrkF0R","name":"Public
      Network on tf-acc-test-update-w0tmzsvxwnrm","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_ewais9hxfzjWUnPe","address":"185.44.254.55"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65d4f543c16d0faad3873e6b2f5682f2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_n3YWwNc9eJRrkF0R"},"speed_profile":{"permalink":"10gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_ftygpT9w5f8Gliew","name":"Change network interface
      speed profile","status":"pending","created_at":1738860056,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fd227ecd29f67218102d1d5cb16175e7"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_ftygpT9w5f8Gliew
    method: GET
  response:
    body: '{"task":{"id":"task_ftygpT9w5f8Gliew","name":"Change network interface
      speed profile","status":"running","created_at":1738860056,"started_at":1738860057,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9263fe4cba37351b712b891c2b7fb9db"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "909"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_31AM1CwiDMiz4dwd
    method: POST
  response:
    body: '{"task":{"id":"task_OVfuQE9bKyyH5K1M","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4a9e25f7a074b8413a7c77fc1da109bc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_OVfuQE9bKyyH5K1M
    method: GET
  response:
    body: '{"task":{"id":"task_OVfuQE9bKyyH5K1M","name":"Stop virtual machine","status":"running","created_at":1738860064,"started_at":1738860064,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"fac3dfc89aad6bf44af67864f6b981b0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "922"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_31AM1CwiDMiz4dwd
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_eXdvl8PAqMgsOgeM","keep_until":1739032871,"object_id":"vm_31AM1CwiDMiz4dwd","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_31AM1CwiDMiz4dwd","name":"tf-acc-test-update-w0tmzsvxwnrm-diff","hostname":"tf-acc-test-update-w0tmzsvxwnrm-host-diff","fqdn":"tf-acc-test-update-w0tmzsvxwnrm-host-diff.terraform-acc-test.katapult.cloud","description":"A
      app server.","created_at":1738860024,"initial_root_password":"sG8D2pHpfTQpbKiw","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"L[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ewais9hxfzjWUnPe
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "867"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_31AM1CwiDMiz4dwd
    method: DELETE
  response:
    body: '{"task":{"id":"task_bzFZMHv3RCyEQuAR","name":"Purge items from trash","status":"pending","created_at":1738860072,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e072de9db01c0b22d027ca8941e1903"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "865"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_31AM1CwiDMiz4dwd
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "851"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
