---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public
      Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New
      York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "183"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update_group-jk8vg9yi23em","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_OiFRV1kkivipCxoo","name":"tf-acc-test-update_group-jk8vg9yi23em","segregate":true,"created_at":1615224266}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44e3f9159e6d8435e1fba35cb56b7a20"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "182"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "181"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_OiFRV1kkivipCxoo
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_OiFRV1kkivipCxoo","name":"tf-acc-test-update_group-jk8vg9yi23em","segregate":true,"created_at":1615224266}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44e3f9159e6d8435e1fba35cb56b7a20"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_ZYBXwF42qm6wTrFW","address":"185.53.57.249","reverse_dns":"185-53-57-249.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.249/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5a5778f2b4f68270fb48f0a5867c0010"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "179"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ZYBXwF42qm6wTrFW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ZYBXwF42qm6wTrFW","address":"185.53.57.249","reverse_dns":"185-53-57-249.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.249/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"af0150dc59619c256cda556fb9e10e1b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "178"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_ZYBXwF42qm6wTrFW</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-fierce-magnificent-pineapple</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_ixyruje2RXV4tYBx","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_Xt388Q9qgjdPz3jf","state":"pending"},"virtual_machine_build":{"id":"vmbuild_Xt388Q9qgjdPz3jf","state":"pending"},"hostname":"tf-acc-test-fierce-magnificent-pineapple"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1136a3bf6bab7651bb865a2a5fa051fc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_Xt388Q9qgjdPz3jf
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_Xt388Q9qgjdPz3jf","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.249\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-fierce-magnificent-pineapple\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers
      all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_Tjzv5z5S6dSUFUPq","name":"tf-acc-test-fierce-magnificent-pineapple","hostname":"tf-acc-test-fierce-magnificent-pineapple","fqdn":"tf-acc-test-fierce-magnificent-pineapple.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1615224267}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e750fa7eef9dfb26e60a50e40ca193ac"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "175"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Tjzv5z5S6dSUFUPq
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Tjzv5z5S6dSUFUPq","name":"tf-acc-test-fierce-magnificent-pineapple","hostname":"tf-acc-test-fierce-magnificent-pineapple","fqdn":"tf-acc-test-fierce-magnificent-pineapple.terraform-acc-test.katapult.cloud","description":null,"created_at":1615224268,"initial_root_password":"BI3P7qbh35ZqagCj","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp
      House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V
      2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_ZYBXwF42qm6wTrFW","address":"185.53.57.249","reverse_dns":"tf-acc-test-fierce-magnificent-pineapple.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.249/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Tjzv5z5S6dSUFUPq","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3f3478dfb82ef5325bc709b45b2d330a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "172"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_ZYBXwF42qm6wTrFW
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_ZYBXwF42qm6wTrFW","address":"185.53.57.249","reverse_dns":"tf-acc-test-fierce-magnificent-pineapple.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.249/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Tjzv5z5S6dSUFUPq","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Tjzv5z5S6dSUFUPq","name":"tf-acc-test-fierce-magnificent-pineapple"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3da1bb575d794adef2a6103259e3c9dc"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "168"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_Tjzv5z5S6dSUFUPq"},"properties":{"group":{"id":"vmgrp_OiFRV1kkivipCxoo"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_Tjzv5z5S6dSUFUPq","name":"tf-acc-test-fierce-magnificent-pineapple","hostname":"tf-acc-test-fierce-magnificent-pineapple","fqdn":"tf-acc-test-fierce-magnificent-pinea[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_OiFRV1kkivipCxoo
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_OiFRV1kkivipCxoo","name":"tf-acc-test-update_group-jk8vg9yi23em","segregate":true,"created_at":1615224266}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44e3f9159e6d8435e1fba35cb56b7a20"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "154"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Tjzv5z5S6dSUFUPq
    method: POST
  response:
    body: '{"task":{"id":"task_kQ9Hp6sVoLsUW1r1","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"134f45099e85eb7f92a5b8ae2c63bf4c"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "147"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_kQ9Hp6sVoLsUW1r1
    method: GET
  response:
    body: '{"task":{"id":"task_kQ9Hp6sVoLsUW1r1","name":"Stop virtual machine","status":"running","created_at":1615224291,"started_at":1615224292,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4353b373378e4210247eeebf2f2caccb"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "146"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Tjzv5z5S6dSUFUPq
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_0tiOUeKlYB59GU3D","keep_until":1615397097,"object_id":"vm_Tjzv5z5S6dSUFUPq","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Tjzv5z5S6dSUFUPq","name":"tf-acc-test-fierce-magnificent-pineapple","hostname":"tf-acc-test-fierce-magnificent-pineapple","fqdn":"tf-acc-test-fierce-magnificent-pineapple.terraform-acc-test.katapult.cloud","description":null,"created_at":1615224268,"initial_root_password":"BI3P7qbh35ZqagCj","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permali[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_ZYBXwF42qm6wTrFW
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "143"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_0tiOUeKlYB59GU3D
    method: DELETE
  response:
    body: '{"task":{"id":"task_9p3uO1pnpNpYH8jq","name":"Purge items from trash","status":"pending","created_at":1615224298,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2e9ebde3adb28c6b323715b69106542a"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "142"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_9p3uO1pnpNpYH8jq
    method: GET
  response:
    body: '{"task":{"id":"task_9p3uO1pnpNpYH8jq","name":"Purge items from trash","status":"running","created_at":1615224298,"started_at":1615224298,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3d3001702286c27b701621f1743dd8d9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "141"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Tjzv5z5S6dSUFUPq
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual
      machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "197"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
