---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "826"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-group-gfupqqrpdvvx","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_kjF751zw4CdbTzzX","name":"tf-acc-test-update-group-gfupqqrpdvvx","segregate":true,"created_at":1679578489}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f18e658da5b1fbea2c5f71789cb2bc4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "826"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_kjF751zw4CdbTzzX
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_kjF751zw4CdbTzzX","name":"tf-acc-test-update-group-gfupqqrpdvvx","segregate":true,"created_at":1679578489}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f18e658da5b1fbea2c5f71789cb2bc4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "823"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"185-199-221-55.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"70ae5cda48cd0cdf599bd81704faa419"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "824"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_2bjWpH3KQBlrSjJ0
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"185-199-221-55.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7367639e17424126d908b7a96b17219f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "822"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_2bjWpH3KQBlrSjJ0</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-magnificent-hallowed-crocus</Hostname></Hostname><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_wouIkG0f4JPnpsDG","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_1NROd1gTICaIYQhN","state":"pending"},"virtual_machine_build":{"id":"vmbuild_1NROd1gTICaIYQhN","state":"pending"},"hostname":"tf-acc-test-magnificent-hallowed-crocus"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4902760a0559528d358f92de076d7d65"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "820"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_1NROd1gTICaIYQhN
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_1NROd1gTICaIYQhN","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.221.55\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-magnificent-hallowed-crocus\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1679578489}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1592222370483bc3c45c6dc67fb647ec"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "818"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Ibnu4CmtNwMCWbka
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_Ibnu4CmtNwMCWbka","name":"tf-acc-test-magnificent-hallowed-crocus","hostname":"tf-acc-test-magnificent-hallowed-crocus","fqdn":"tf-acc-test-magnificent-hallowed-crocus.terraform-acc-test.katapult.cloud","description":null,"created_at":1679578490,"initial_root_password":"bGLDHTzLoXsCOz1K","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"tf-acc-test-magnificent-hallowed-crocus.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Ibnu4CmtNwMCWbka","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5bfef0db5ebb4251d10841d19b87cb31"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_Ibnu4CmtNwMCWbka
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_RNlVwDJwkrWs5h3m","name":"Public
      Network on tf-acc-test-magnificent-hallowed-crocus","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2d6cbd1d40e245ba5c4bd584f8deff2a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_RNlVwDJwkrWs5h3m
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_RNlVwDJwkrWs5h3m","virtual_machine":{"id":"vm_Ibnu4CmtNwMCWbka","name":"tf-acc-test-magnificent-hallowed-crocus"},"name":"Public
      Network on tf-acc-test-magnificent-hallowed-crocus","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:8e:63:34:60:4b","state":"attached","ip_addresses":[{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cedae35da20bc866ab8f7337a8bb2b58"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "978"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_2bjWpH3KQBlrSjJ0
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_2bjWpH3KQBlrSjJ0","address":"185.199.221.55","reverse_dns":"tf-acc-test-magnificent-hallowed-crocus.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.221.55/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_Ibnu4CmtNwMCWbka","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_Ibnu4CmtNwMCWbka","name":"tf-acc-test-magnificent-hallowed-crocus"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ee1cb75cfa9ac90f2a912e5bda442387"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "972"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_Ibnu4CmtNwMCWbka"},"properties":{"group":{"id":"vmgrp_kjF751zw4CdbTzzX"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_Ibnu4CmtNwMCWbka","name":"tf-acc-test-magnificent-hallowed-crocus","hostname":"tf-acc-test-magnificent-hallowed-crocus","fqdn":"tf-acc-test-magnificent-hallowed-crocu[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_kjF751zw4CdbTzzX
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_kjF751zw4CdbTzzX","name":"tf-acc-test-update-group-gfupqqrpdvvx","segregate":true,"created_at":1679578489}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f18e658da5b1fbea2c5f71789cb2bc4e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_Ibnu4CmtNwMCWbka
    method: POST
  response:
    body: '{"task":{"id":"task_cpBWFmqeLE1M4EGX","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b7b36c693424ea374aad5d4042637b35"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "919"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_Ibnu4CmtNwMCWbka
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_ZphJ3N5N5u9zgX2N","keep_until":1679751339,"object_id":"vm_Ibnu4CmtNwMCWbka","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_Ibnu4CmtNwMCWbka","name":"tf-acc-test-magnificent-hallowed-crocus","hostname":"tf-acc-test-magnificent-hallowed-crocus","fqdn":"tf-acc-test-magnificent-hallowed-crocus.terraform-acc-test.katapult.cloud","description":null,"created_at":1679578490,"initial_root_password":"bGLDHTzLoXsCOz1K","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink"[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_2bjWpH3KQBlrSjJ0
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "882"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_ZphJ3N5N5u9zgX2N
    method: DELETE
  response:
    body: '{"task":{"id":"task_hH1XQScVmbitcI6a","name":"Purge items from trash","status":"pending","created_at":1679578542,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"11f0eff592db6c6d9674923d2c94b7dc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "881"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_ZphJ3N5N5u9zgX2N
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "879"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_Ibnu4CmtNwMCWbka
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "876"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
