---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d60d47b2ba0b179327bb89a97b1c0e77"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "998"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_3BDhWnR6wcxRtkfv","address":"185.199.222.216","reverse_dns":"185-199-222-216.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.216/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5392ee9f0c9d9fecfd13399b97019a7d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "996"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3BDhWnR6wcxRtkfv
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3BDhWnR6wcxRtkfv","address":"185.199.222.216","reverse_dns":"185-199-222-216.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.216/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c14477dd8b8d2d0e1dc18e3e514e0ad1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_3BDhWnR6wcxRtkfv</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-ashy-lunar-woodpecker</Hostname></Hostname><Name>tf-acc-test-update-network-speed-profile-gnj2p4sib0lk</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_Sn0LreXjDXC74Mnm","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_rjR8PtMf6c6nZls1","state":"pending"},"virtual_machine_build":{"id":"vmbuild_rjR8PtMf6c6nZls1","state":"pending"},"hostname":"tf-acc-test-ashy-lunar-woodpecker"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"5603d531486ffbb5b58b5ea591596b9d"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_rjR8PtMf6c6nZls1
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_rjR8PtMf6c6nZls1","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.199.222.216\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-ashy-lunar-woodpecker\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-network-speed-profile-gnj2p4sib0lk\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":{"id":"vm_GtdWxZwhN4dJ4J21","name":"tf-acc-test-update-network-speed-profile-gnj2p4sib0lk","hostname":"tf-acc-test-ashy-lunar-woodpecker","fqdn":"tf-acc-test-ashy-lunar-woodpecker.terraform-acc-test.katapult.cloud","state":"stopped"},"created_at":1679506699}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d54598eec320d4bdc0ee012d92a56f38"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "979"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_GtdWxZwhN4dJ4J21
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_GtdWxZwhN4dJ4J21","name":"tf-acc-test-update-network-speed-profile-gnj2p4sib0lk","hostname":"tf-acc-test-ashy-lunar-woodpecker","fqdn":"tf-acc-test-ashy-lunar-woodpecker.terraform-acc-test.katapult.cloud","description":null,"created_at":1679506700,"initial_root_password":"lbbwBOC710C5DfdH","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_3BDhWnR6wcxRtkfv","address":"185.199.222.216","reverse_dns":"tf-acc-test-ashy-lunar-woodpecker.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.216/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_GtdWxZwhN4dJ4J21","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"59d3313f48044c90db5a6f0282abb89b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&per_page=1&virtual_machine%5Bid%5D=vm_GtdWxZwhN4dJ4J21
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":1,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_e3KTVU08EIjFqCuN","name":"Public
      Network on tf-acc-test-update-network-speed-profile-gnj2p4sib0lk","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_3BDhWnR6wcxRtkfv","address":"185.199.222.216"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d59211dc265af79795b74e38dc63311a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_e3KTVU08EIjFqCuN
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_e3KTVU08EIjFqCuN","virtual_machine":{"id":"vm_GtdWxZwhN4dJ4J21","name":"tf-acc-test-update-network-speed-profile-gnj2p4sib0lk"},"name":"Public
      Network on tf-acc-test-update-network-speed-profile-gnj2p4sib0lk","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"mac_address":"3a:70:83:b8:00:49","state":"detached","ip_addresses":[{"id":"ip_3BDhWnR6wcxRtkfv","address":"185.199.222.216"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8afbc2b9a3e81c1fbef81cfe60693f97"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "949"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_3BDhWnR6wcxRtkfv
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_3BDhWnR6wcxRtkfv","address":"185.199.222.216","reverse_dns":"tf-acc-test-ashy-lunar-woodpecker.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.199.222.216/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_GtdWxZwhN4dJ4J21","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_GtdWxZwhN4dJ4J21","name":"tf-acc-test-update-network-speed-profile-gnj2p4sib0lk"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"82e66b226d29c4cc79f588a80e89e331"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "947"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_GtdWxZwhN4dJ4J21
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_e3KTVU08EIjFqCuN","name":"Public
      Network on tf-acc-test-update-network-speed-profile-gnj2p4sib0lk","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"ip_addresses":[{"id":"ip_3BDhWnR6wcxRtkfv","address":"185.199.222.216"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a1d84ddf75fbd59486b26e46256ced0c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_e3KTVU08EIjFqCuN"},"speed_profile":{"permalink":"1gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_PHKU4HpBWF22kYFY","name":"Change network interface
      speed profile","status":"pending","created_at":1679506721,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"56b6d0327863751f0e173bdc2080bace"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_PHKU4HpBWF22kYFY
    method: GET
  response:
    body: '{"task":{"id":"task_PHKU4HpBWF22kYFY","name":"Change network interface
      speed profile","status":"running","created_at":1679506721,"started_at":1679506722,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"55d807f7111805c9bd2392c8eef07cb4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "927"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_GtdWxZwhN4dJ4J21"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_GtdWxZwhN4dJ4J21","name":"tf-acc-test-update-network-speed-profile-gnj2p4sib0lk","hostname":"tf-acc-test-ashy-lunar-woodpecker","fqdn":"tf-acc-test-ashy-lunar-woodpecker.terraform-acc-test.katapult.cloud","description":null,"created_at":1679506700,"initial_root_password":"lbbwBOC710C5DfdH","sta[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_GtdWxZwhN4dJ4J21
    method: POST
  response:
    body: '{"task":{"id":"task_jWfLrcdlfoZi030j","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7f7aa6fe826db0c2d9422a85ed9f7bed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_jWfLrcdlfoZi030j
    method: GET
  response:
    body: '{"task":{"id":"task_jWfLrcdlfoZi030j","name":"Stop virtual machine","status":"pending","created_at":1679506728,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0d2dae7c4a33d549eea1dc39d0a612f4"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_GtdWxZwhN4dJ4J21
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_huvibuDYsguvMlaR","keep_until":1679679554,"object_id":"vm_GtdWxZwhN4dJ4J21","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_GtdWxZwhN4dJ4J21","name":"tf-acc-test-update-network-speed-profile-gnj2p4sib0lk","hostname":"tf-acc-test-ashy-lunar-woodpecker","fqdn":"tf-acc-test-ashy-lunar-woodpecker.terraform-acc-test.katapult.cloud","description":null,"created_at":1679506700,"initial_root_password":"lbbwBOC710C5DfdH","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalin[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_3BDhWnR6wcxRtkfv
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "928"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_huvibuDYsguvMlaR
    method: DELETE
  response:
    body: '{"task":{"id":"task_djBcErfRcrs3QHco","name":"Purge items from trash","status":"pending","created_at":1679506755,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8b44e15ace147615ff94ed83c70c1c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_huvibuDYsguvMlaR
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "918"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
