---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/_/available_networks?organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"networks":[{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}},{"id":"netw_q0lBvtutvOjujgyO","name":"Public Network - NYC","permalink":"us-nyc-01","data_center":{"id":"dc_TfDSMyVYoS3fJnSt","name":"New York","permalink":"us-nyc-01"}}],"virtual_networks":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"556a80fd56c052ba0c772f9d204cefad"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "196"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"472ac8fb76e85c650214cebfe1011d9e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "189"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_h7FLNa3jFAOAYWBB","address":"185.53.57.170","reverse_dns":"185-53-57-170.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.170/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1e80c8e1aacdad984bcd98d03169d82d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "188"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_h7FLNa3jFAOAYWBB
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_h7FLNa3jFAOAYWBB","address":"185.53.57.170","reverse_dns":"185-53-57-170.rdns.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.170/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d61683b835ffe97ca4b9704e4657551e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "180"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_h7FLNa3jFAOAYWBB</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-basic-llmj8f8sqgm8-host</Hostname></Hostname><Name>tf-acc-test-basic-llmj8f8sqgm8</Name><Description>A web server.</Description><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys><Tags><Tag>web</Tag><Tag>public</Tag></Tags></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_4CURIa5KwLsQWMxa","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_DCRuEJmZr361MvSD","state":"pending"},"virtual_machine_build":{"id":"vmbuild_DCRuEJmZr361MvSD","state":"pending"},"hostname":"tf-acc-test-basic-llmj8f8sqgm8-host"}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9f5a23d094498e007483ccaa7d490ac6"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "176"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/vmbuild_DCRuEJmZr361MvSD
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_DCRuEJmZr361MvSD","spec_xml":"\u003c?xml version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.53.57.170\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-basic-llmj8f8sqgm8-host\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-basic-llmj8f8sqgm8\u003c/Name\u003e\n  \u003cDescription\u003eA web server.\u003c/Description\u003e\n  \u003cAuthorizedKeys\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n  \u003cTags\u003e\n    \u003cTag\u003eweb\u003c/Tag\u003e\n    \u003cTag\u003epublic\u003c/Tag\u003e\n  \u003c/Tags\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1614083770}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ea07d1c1fa571ac065da5945c72e8959"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "173"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_9hYciEae64bdDmqV"},"properties":{"tag_names":["web","public"]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_9hYciEae64bdDmqV","name":"tf-acc-test-basic-llmj8f8sqgm8","hostname":"tf-acc-test-basic-llmj8f8sqgm8-host","fqdn":"tf-acc-test-basic-llmj8f8sqgm8-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1614083771,"initial_root_password":"fHppd2CyqDivddz3","state":"started","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","personal":false,"created_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"Kemp House","address2":"152 - 160 City Road","address3":"London","address4":null,"postcode":"EC1V 2NX","vat_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"privacy":"public","icon":null},"attached_iso":null,"tags":[{"id":"tag_NqAjIfOyzSMyuFPS","name":"web","color":"pastel_orange","created_at":1610021329},{"id":"tag_YuRGuWJE432q8wxT","name":"public","color":"pink","created_at":1610021329}],"tag_names":["web","public"],"ip_addresses":[{"id":"ip_h7FLNa3jFAOAYWBB","address":"185.53.57.170","reverse_dns":"tf-acc-test-basic-llmj8f8sqgm8-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.170/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_9hYciEae64bdDmqV","allocation_type":"VirtualMachine"}]}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c53e62e1e65e83446346aac6e00b1d89"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_9hYciEae64bdDmqV
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_9hYciEae64bdDmqV","name":"tf-acc-test-basic-llmj8f8sqgm8","hostname":"tf-acc-test-basic-llmj8f8sqgm8-host","fqdn":"tf-acc-test-basic-llmj8f8sqgm8-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1614083771,"initial_root_password":"fHppd2CyqDivd[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_h7FLNa3jFAOAYWBB
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_h7FLNa3jFAOAYWBB","address":"185.53.57.170","reverse_dns":"tf-acc-test-basic-llmj8f8sqgm8-host.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.53.57.170/24","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_9hYciEae64bdDmqV","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_9hYciEae64bdDmqV","name":"tf-acc-test-basic-llmj8f8sqgm8"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7803305108fc74ac3a2a3b2c711af854"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "141"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_9hYciEae64bdDmqV
    method: POST
  response:
    body: '{"task":{"id":"task_TxW8CLVAm6NGmTax","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3085dd27f85679122297b9528f0f2e5f"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "132"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_9hYciEae64bdDmqV
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_bGiPrhIxrDxub9sY","keep_until":1614256605,"object_id":"vm_9hYciEae64bdDmqV","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_9hYciEae64bdDmqV","name":"tf-acc-test-basic-llmj8f8sqgm8","hostname":"tf-acc-test-basic-llmj8f8sqgm8-host","fqdn":"tf-acc-test-basic-llmj8f8sqgm8-host.terraform-acc-test.katapult.cloud","description":"A web server.","created_at":1614083771,"initial_root_password":"fHppd2CyqDivddz3","state":"stopped","zone":{"id":"zone_7Uuz6wzE17ZShh8f","name":"LON-1","permalink":"lon-zone-1","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-l[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_h7FLNa3jFAOAYWBB
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "105"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bid%5D=trsh_bGiPrhIxrDxub9sY
    method: DELETE
  response:
    body: '{"task":{"id":"task_SqNwgo9Tq4fnJ7T3","name":"Purge items from trash","status":"pending","created_at":1614083807,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7bbc7d0aa767484aa275a4c8748384e9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "103"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_SqNwgo9Tq4fnJ7T3
    method: GET
  response:
    body: '{"task":{"id":"task_SqNwgo9Tq4fnJ7T3","name":"Purge items from trash","status":"pending","created_at":1614083807,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7bbc7d0aa767484aa275a4c8748384e9"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "96"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_9hYciEae64bdDmqV
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_not_found","description":"No virtual machine was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
