---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/data_centers/_/default_network?data_center%5Bpermalink%5D=uk-lon-01
    method: GET
  response:
    body: '{"network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c9b33d800419097f42e5eccf7b390c3"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "999"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"network":{"id":"netw_gVRkZdSKczfNg34P"},"version":"ipv4"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/ip_addresses
    method: POST
  response:
    body: '{"ip_address":{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113","reverse_dns":"185-44-253-113.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.113/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"6f3c4094b2995f0dd60c41a83d564d21"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_g5lU7r1UXaw9kcF0
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113","reverse_dns":"185-44-253-113.rdns.katapult.io","vip":false,"label":null,"address_with_mask":"185.44.253.113/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":null,"allocation_type":null},"allocation":null}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed756f7534ea083f21fb8c3b4dd7ba21"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "983"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"xml":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<VirtualMachineSpec><DataCenter by=\"permalink\">uk-lon-01</DataCenter><Resources><Package by=\"permalink\">rock-3</Package></Resources><DiskTemplate><DiskTemplate by=\"permalink\">templates/ubuntu-18-04</DiskTemplate><Option key=\"install_agent\">true</Option></DiskTemplate><NetworkInterfaces><NetworkInterface><Network>netw_gVRkZdSKczfNg34P</Network><IPAddressAllocation type=\"existing\"><IPAddress>ip_g5lU7r1UXaw9kcF0</IPAddress></IPAddressAllocation></NetworkInterface></NetworkInterfaces><Hostname><Hostname>tf-acc-test-thundering-modern-zinc</Hostname></Hostname><Name>tf-acc-test-update-network-speed-profile-tcebk7cewjce</Name><AuthorizedKeys><Users all=\"yes\"></Users><SSHKeys all=\"yes\"></SSHKeys></AuthorizedKeys></VirtualMachineSpec>"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machines/build_from_spec
    method: POST
  response:
    body: '{"task":{"id":"task_3JQFjH7RC1c5Qg9Y","name":"Build virtual machine","status":"pending"},"build":{"id":"vmbuild_nhrtVIs87oGOe0f6","state":"pending"},"virtual_machine_build":{"id":"vmbuild_nhrtVIs87oGOe0f6","state":"pending"},"hostname":"tf-acc-test-thundering-modern-zinc","annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e7e8e9a5ff755d0c14938407e6c9f0b2"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "981"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/builds/_?virtual_machine_build%5Bid%5D=vmbuild_nhrtVIs87oGOe0f6
    method: GET
  response:
    body: '{"virtual_machine_build":{"id":"vmbuild_nhrtVIs87oGOe0f6","spec_xml":"\u003c?xml
      version=\"1.0\"?\u003e\n\u003cVirtualMachineSpec\u003e\n  \u003cDataCenter\u003eloc_UUhPmoCbpic6UX0Y\u003c/DataCenter\u003e\n  \u003cResources\u003e\n    \u003cPackage
      by=\"permalink\"\u003erock-3\u003c/Package\u003e\n  \u003c/Resources\u003e\n  \u003cDiskTemplate\u003e\n    \u003cDiskTemplate
      by=\"permalink\"\u003etemplates/ubuntu-18-04\u003c/DiskTemplate\u003e\n    \u003cVersion
      by=\"number\"\u003e1\u003c/Version\u003e\n    \u003cOption key=\"install_agent\"\u003etrue\u003c/Option\u003e\n  \u003c/DiskTemplate\u003e\n  \u003cNetworkInterfaces\u003e\n    \u003cNetworkInterface\u003e\n      \u003cNetwork\u003enetw_gVRkZdSKczfNg34P\u003c/Network\u003e\n      \u003cIPAddressAllocation
      type=\"existing\"\u003e\n        \u003cIPAddress by=\"address\"\u003e185.44.253.113\u003c/IPAddress\u003e\n      \u003c/IPAddressAllocation\u003e\n    \u003c/NetworkInterface\u003e\n  \u003c/NetworkInterfaces\u003e\n  \u003cHostname\u003e\n    \u003cHostname\u003etf-acc-test-thundering-modern-zinc\u003c/Hostname\u003e\n  \u003c/Hostname\u003e\n  \u003cName\u003etf-acc-test-update-network-speed-profile-tcebk7cewjce\u003c/Name\u003e\n  \u003cAuthorizedKeys
      continuous_management=\"no\"\u003e\n    \u003cUsers all=\"yes\"/\u003e\n    \u003cSSHKeys
      all=\"yes\"/\u003e\n  \u003c/AuthorizedKeys\u003e\n\u003c/VirtualMachineSpec\u003e\n","state":"building","virtual_machine":null,"created_at":1738860019},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1d0c12242747ba72ad3a028ca85fb01f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_mrpZcFd2QQBGmjAP
    method: GET
  response:
    body: '{"virtual_machine":{"id":"vm_mrpZcFd2QQBGmjAP","name":"tf-acc-test-update-network-speed-profile-tcebk7cewjce","hostname":"tf-acc-test-thundering-modern-zinc","fqdn":"tf-acc-test-thundering-modern-zinc.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860028,"initial_root_password":"kCqVecHTUveJDcWj","state":"starting","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"organization":{"id":"org_eodfyqFF3YWb2OFC","name":"terraform-acc-test","sub_domain":"terraform-acc-test","infrastructure_domain":"terraform-acc-test.katapult.cloud","created_at":1605785692,"activated_at":1605785692,"suspended":false,"managed":false,"billing_name":"terraform-acc-test","address1":"42
      Barren Fields","address2":"Oxygen Farm","address3":"Seed Colony 1","address4":"Landing
      Site","postcode":"ZZ9 1LS","vat_number":null,"phone_number":null,"currency":{"id":"cur_zShCGgjgBz4EbnX1","name":"British
      Pound","iso_code":"GBP","symbol":"£"},"country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false},"country_state":null},"group":null,"package":{"id":"vmpkg_Eh5LYVKScVHpj7sM","name":"ROCK-3","permalink":"rock-3","cpu_cores":1,"ipv4_addresses":1,"memory_in_gb":3,"storage_in_gb":25,"monthly_bandwidth_allowance_in_gb":2048,"privacy":"public","icon":null,"use_dedicated_cpus":false,"group":{"id":"vmpkgrp_P5kCZvAtvXRC3sVl","name":"Standard
      vCPU"}},"attached_iso":null,"memory_in_gb":3,"cpu_cores":1,"use_dedicated_cpus":false,"gpu_type":null,"gpus":[],"tags":[],"tag_names":[],"ip_addresses":[{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113","reverse_dns":"tf-acc-test-thundering-modern-zinc.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.113/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_mrpZcFd2QQBGmjAP","allocation_type":"VirtualMachine"}]},"annotations":[]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f81547cd1ed48bc0dd2cbf20a6079e4c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "959"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/virtual_machine/network_interfaces?virtual_machine%5Bid%5D=vm_mrpZcFd2QQBGmjAP
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_VwwmmOoCPtpFUzLk","name":"Public
      Network on tf-acc-test-update-network-speed-profile-tcebk7cewjce","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f03e1c63219e991366a93239bed85bcc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "954"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/virtual_machine_network_interface?virtual_machine_network_interface%5Bid%5D=vmnet_VwwmmOoCPtpFUzLk
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_VwwmmOoCPtpFUzLk","virtual_machine":{"id":"vm_mrpZcFd2QQBGmjAP","name":"tf-acc-test-update-network-speed-profile-tcebk7cewjce"},"name":"Public
      Network on tf-acc-test-update-network-speed-profile-tcebk7cewjce","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:20:36:5f:69:15","state":"attached","ip_addresses":[{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8224eff0148c6378c0283019ce185f31"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "952"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_?virtual_machine_network_interface%5Bid%5D=vmnet_VwwmmOoCPtpFUzLk
    method: GET
  response:
    body: '{"virtual_machine_network_interface":{"id":"vmnet_VwwmmOoCPtpFUzLk","virtual_machine":{"id":"vm_mrpZcFd2QQBGmjAP","name":"tf-acc-test-update-network-speed-profile-tcebk7cewjce"},"name":"Public
      Network on tf-acc-test-update-network-speed-profile-tcebk7cewjce","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"mac_address":"3a:20:36:5f:69:15","state":"attached","ip_addresses":[{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113"}],"speed_profile":{"id":"nsp_FKZSFo5xhn9Pfr79","name":"10Gbps","permalink":"10gbps"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"8224eff0148c6378c0283019ce185f31"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "950"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_?ip_address%5Bid%5D=ip_g5lU7r1UXaw9kcF0
    method: GET
  response:
    body: '{"ip_address":{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113","reverse_dns":"tf-acc-test-thundering-modern-zinc.terraform-acc-test.katapult.cloud","vip":false,"label":null,"address_with_mask":"185.44.253.113/22","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network","permalink":"uk-lon-01-public","default":true,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}},"allocation_id":"vm_mrpZcFd2QQBGmjAP","allocation_type":"VirtualMachine"},"allocation":{"type":"VirtualMachine","value":{"id":"vm_mrpZcFd2QQBGmjAP","name":"tf-acc-test-update-network-speed-profile-tcebk7cewjce"}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"420be6a6bf4b6f095af205db93ba5130"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/network_interfaces?page=1&virtual_machine%5Bid%5D=vm_mrpZcFd2QQBGmjAP
    method: GET
  response:
    body: '{"pagination":{"current_page":1,"total_pages":1,"total":1,"per_page":30,"large_set":false},"virtual_machine_network_interfaces":[{"id":"vmnet_VwwmmOoCPtpFUzLk","name":"Public
      Network on tf-acc-test-update-network-speed-profile-tcebk7cewjce","network":{"id":"netw_gVRkZdSKczfNg34P","name":"Public
      Network"},"virtual_network":null,"ip_addresses":[{"id":"ip_g5lU7r1UXaw9kcF0","address":"185.44.253.113"}]}]}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f03e1c63219e991366a93239bed85bcc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "913"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: |
      {"virtual_machine_network_interface":{"id":"vmnet_VwwmmOoCPtpFUzLk"},"speed_profile":{"permalink":"1gbps"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_network_interfaces/_/update_speed_profile
    method: PATCH
  response:
    body: '{"task":{"id":"task_CAvu8Ak30cOeJQ4S","name":"Change network interface
      speed profile","status":"pending","created_at":1738860056,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"24ae024fc39a7517e5dc7c884ff87d42"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_CAvu8Ak30cOeJQ4S
    method: GET
  response:
    body: '{"task":{"id":"task_CAvu8Ak30cOeJQ4S","name":"Change network interface
      speed profile","status":"pending","created_at":1738860056,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"24ae024fc39a7517e5dc7c884ff87d42"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "908"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine":{"id":"vm_mrpZcFd2QQBGmjAP"},"properties":{}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machines/_
    method: PATCH
  response:
    body: '{"virtual_machine":{"id":"vm_mrpZcFd2QQBGmjAP","name":"tf-acc-test-update-network-speed-profile-tcebk7cewjce","hostname":"tf-acc-test-thundering-modern-zinc","fqdn":"tf-acc-test-thundering-modern-zinc.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860028,"initial_root_password":"kCqVecHTUveJDcWj","s[...]
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_/stop?virtual_machine%5Bid%5D=vm_mrpZcFd2QQBGmjAP
    method: POST
  response:
    body: '{"task":{"id":"task_rsMbkpuONEQjqxtv","name":"Stop virtual machine","status":"pending"}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"056f381c9eaaacd5025876d7bc465f94"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/tasks/task_rsMbkpuONEQjqxtv
    method: GET
  response:
    body: '{"task":{"id":"task_rsMbkpuONEQjqxtv","name":"Stop virtual machine","status":"running","created_at":1738860064,"started_at":1738860064,"finished_at":null,"progress":5}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d728c586d5bb3150ebb66826cbfa486a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "920"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machines/_?virtual_machine%5Bid%5D=vm_mrpZcFd2QQBGmjAP
    method: DELETE
  response:
    body: '{"trash_object":{"id":"trsh_yssnu8nLWJUC2A05","keep_until":1739032871,"object_id":"vm_mrpZcFd2QQBGmjAP","object_type":"VirtualMachine"},"virtual_machine":{"id":"vm_mrpZcFd2QQBGmjAP","name":"tf-acc-test-update-network-speed-profile-tcebk7cewjce","hostname":"tf-acc-test-thundering-modern-zinc","fqdn":"tf-acc-test-thundering-modern-zinc.terraform-acc-test.katapult.cloud","description":null,"created_at":1738860028,"initial_root_password":"kCqVecHTUveJDcWj","state":"stopped","zone":{"id":"zone_SIfjBnlL8Qox99oX","name":"LON-4","permalink":"lon-zone-4","data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permal[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/ip_addresses/_/unallocate?ip_address%5Bid%5D=ip_g5lU7r1UXaw9kcF0
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "866"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_mrpZcFd2QQBGmjAP
    method: DELETE
  response:
    body: '{"task":{"id":"task_jzmtLtwaTedM4v58","name":"Purge items from trash","status":"pending","created_at":1738860072,"started_at":null,"finished_at":null,"progress":0}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3e53105469c3ab01bff826a8eb772ae8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "864"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/trash_objects/_?trash_object%5Bobject_id%5D=vm_mrpZcFd2QQBGmjAP
    method: GET
  response:
    body: '{"error":{"code":"trash_object_not_found","description":"No trash object
      was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "842"
    status: 404 Not Found
    code: 404
    duration: ""
[...]
