---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-su6ux2f47cli","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KbOhMp4gl7AHcS2v","name":"tf-acc-test-minimal-su6ux2f47cli","segregate":true,"created_at":1679595206}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a16205e89224f5b8c37b139f4eac41ff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "930"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_KbOhMp4gl7AHcS2v
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KbOhMp4gl7AHcS2v","name":"tf-acc-test-minimal-su6ux2f47cli","segregate":true,"created_at":1679595206}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a16205e89224f5b8c37b139f4eac41ff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "929"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_KbOhMp4gl7AHcS2v
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KbOhMp4gl7AHcS2v","name":"tf-acc-test-minimal-su6ux2f47cli","segregate":true,"created_at":1679595206}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a16205e89224f5b8c37b139f4eac41ff"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_KbOhMp4gl7AHcS2v
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 404 Not Found
    code: 404
    duration: ""
