---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-segregated-spezi12xjwae","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_unOEUl35Gr2flFRk","name":"tf-acc-test-segregated-spezi12xjwae","segregate":true,"created_at":1676031308}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4515630c89d04d8d4d98979b56e87c3f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "938"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_unOEUl35Gr2flFRk
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_unOEUl35Gr2flFRk","name":"tf-acc-test-segregated-spezi12xjwae","segregate":true,"created_at":1676031308}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4515630c89d04d8d4d98979b56e87c3f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_unOEUl35Gr2flFRk
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_unOEUl35Gr2flFRk","name":"tf-acc-test-segregated-spezi12xjwae","segregate":true,"created_at":1676031308}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"4515630c89d04d8d4d98979b56e87c3f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "926"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_unOEUl35Gr2flFRk
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "925"
    status: 404 Not Found
    code: 404
    duration: ""
