---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-segregated-sah6b3rdlqt2","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ynn3T2cLJXum7Zde","name":"tf-acc-test-segregated-sah6b3rdlqt2","segregate":true,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a8facb1a79171e8d59469ad2f643284b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "159"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_Ynn3T2cLJXum7Zde
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ynn3T2cLJXum7Zde","name":"tf-acc-test-segregated-sah6b3rdlqt2","segregate":true,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a8facb1a79171e8d59469ad2f643284b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "155"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_Ynn3T2cLJXum7Zde
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_Ynn3T2cLJXum7Zde","name":"tf-acc-test-segregated-sah6b3rdlqt2","segregate":true,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a8facb1a79171e8d59469ad2f643284b"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "139"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_Ynn3T2cLJXum7Zde
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "136"
    status: 404 Not Found
    code: 404
    duration: ""
