---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-hrgcryoteb16","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2xJ6VVKocpSfuGW8","name":"tf-acc-test-minimal-hrgcryoteb16","segregate":true,"created_at":1622137200}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c8b476d107f10897afe73fb7f8f3a8d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "199"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_2xJ6VVKocpSfuGW8
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2xJ6VVKocpSfuGW8","name":"tf-acc-test-minimal-hrgcryoteb16","segregate":true,"created_at":1622137200}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c8b476d107f10897afe73fb7f8f3a8d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "198"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_2xJ6VVKocpSfuGW8
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_2xJ6VVKocpSfuGW8","name":"tf-acc-test-minimal-hrgcryoteb16","segregate":true,"created_at":1622137200}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2c8b476d107f10897afe73fb7f8f3a8d"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "194"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_2xJ6VVKocpSfuGW8
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "193"
    status: 404 Not Found
    code: 404
    duration: ""
