---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-not-segregated-wzxmeogcrb7b","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_NUHqy1GBoChmoMri","name":"tf-acc-test-not-segregated-wzxmeogcrb7b","segregate":false,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"615f039c118b292dc4d262fae623f544"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "160"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_NUHqy1GBoChmoMri
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_NUHqy1GBoChmoMri","name":"tf-acc-test-not-segregated-wzxmeogcrb7b","segregate":false,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"615f039c118b292dc4d262fae623f544"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "156"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_NUHqy1GBoChmoMri
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_NUHqy1GBoChmoMri","name":"tf-acc-test-not-segregated-wzxmeogcrb7b","segregate":false,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"615f039c118b292dc4d262fae623f544"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_NUHqy1GBoChmoMri
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "135"
    status: 404 Not Found
    code: 404
    duration: ""
