---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-segregated-g9c9urhpx3nl","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_MCIikq33uQBC056v","name":"tf-acc-test-segregated-g9c9urhpx3nl","segregate":true,"created_at":1679595204}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"53802f569f6ac776bfb390b6bc88dbba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "937"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_MCIikq33uQBC056v
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_MCIikq33uQBC056v","name":"tf-acc-test-segregated-g9c9urhpx3nl","segregate":true,"created_at":1679595204}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"53802f569f6ac776bfb390b6bc88dbba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "936"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_MCIikq33uQBC056v
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_MCIikq33uQBC056v","name":"tf-acc-test-segregated-g9c9urhpx3nl","segregate":true,"created_at":1679595204}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"53802f569f6ac776bfb390b6bc88dbba"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "932"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_MCIikq33uQBC056v
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "931"
    status: 404 Not Found
    code: 404
    duration: ""
