---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-not-segregated-wtrr26ewspfg","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KbpVZpFGb1HbP5Qa","name":"tf-acc-test-not-segregated-wtrr26ewspfg","segregate":false,"created_at":1679595203}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e279a40b8e20f9a7916b14018bf7df2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "944"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_KbpVZpFGb1HbP5Qa
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KbpVZpFGb1HbP5Qa","name":"tf-acc-test-not-segregated-wtrr26ewspfg","segregate":false,"created_at":1679595203}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e279a40b8e20f9a7916b14018bf7df2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "943"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_KbpVZpFGb1HbP5Qa
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_KbpVZpFGb1HbP5Qa","name":"tf-acc-test-not-segregated-wtrr26ewspfg","segregate":false,"created_at":1679595203}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e279a40b8e20f9a7916b14018bf7df2c"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_KbpVZpFGb1HbP5Qa
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "938"
    status: 404 Not Found
    code: 404
    duration: ""
