---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-sfpiam17par0","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_dkYeTGEi0uFV2oAj","name":"tf-acc-test-update-sfpiam17par0","segregate":true,"created_at":1676031304}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b58b86d776467abdb7c2e1ecf9bbacf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_dkYeTGEi0uFV2oAj
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_dkYeTGEi0uFV2oAj","name":"tf-acc-test-update-sfpiam17par0","segregate":true,"created_at":1676031304}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b58b86d776467abdb7c2e1ecf9bbacf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_group":{"id":"vmgrp_dkYeTGEi0uFV2oAj"},"properties":{"name":"tf-acc-test-update-sfpiam17par0 - updated","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_
    method: PATCH
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_dkYeTGEi0uFV2oAj","name":"tf-acc-test-update-sfpiam17par0
      - updated","segregate":false,"created_at":1676031304}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"980ab0f97bbdd1504b0eedafa413e92b"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "955"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_dkYeTGEi0uFV2oAj
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_dkYeTGEi0uFV2oAj","name":"tf-acc-test-update-sfpiam17par0","segregate":true,"created_at":1676031304}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2b58b86d776467abdb7c2e1ecf9bbacf"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "940"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_dkYeTGEi0uFV2oAj
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "939"
    status: 404 Not Found
    code: 404
    duration: ""
