---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-mdmrxcyotiz9","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EgXZHKgMO10shP1l","name":"tf-acc-test-update-mdmrxcyotiz9","segregate":true,"created_at":1622137190}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"30f67061ae299460639d8015ef77c8a7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_EgXZHKgMO10shP1l
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EgXZHKgMO10shP1l","name":"tf-acc-test-update-mdmrxcyotiz9","segregate":true,"created_at":1622137190}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"30f67061ae299460639d8015ef77c8a7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "161"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_group":{"id":"vmgrp_EgXZHKgMO10shP1l"},"properties":{"name":"tf-acc-test-update-mdmrxcyotiz9 - updated","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_
    method: PATCH
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EgXZHKgMO10shP1l","name":"tf-acc-test-update-mdmrxcyotiz9
      - updated","segregate":false,"created_at":1622137190}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"310f1d6eac609d4d41dca0027ce47388"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "157"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_EgXZHKgMO10shP1l
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_EgXZHKgMO10shP1l","name":"tf-acc-test-update-mdmrxcyotiz9","segregate":true,"created_at":1622137190}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"30f67061ae299460639d8015ef77c8a7"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "147"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_EgXZHKgMO10shP1l
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "146"
    status: 404 Not Found
    code: 404
    duration: ""
