---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-not-segregated-fak9iggsjtrb","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_hpa7mFjDbYQ6zvvY","name":"tf-acc-test-not-segregated-fak9iggsjtrb","segregate":false,"created_at":1622137195}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65719bbc262f7f7e0a19c3fd54497657"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "145"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_hpa7mFjDbYQ6zvvY
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_hpa7mFjDbYQ6zvvY","name":"tf-acc-test-not-segregated-fak9iggsjtrb","segregate":false,"created_at":1622137195}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65719bbc262f7f7e0a19c3fd54497657"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "144"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_hpa7mFjDbYQ6zvvY
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_hpa7mFjDbYQ6zvvY","name":"tf-acc-test-not-segregated-fak9iggsjtrb","segregate":false,"created_at":1622137195}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"65719bbc262f7f7e0a19c3fd54497657"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "141"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_hpa7mFjDbYQ6zvvY
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "140"
    status: 404 Not Found
    code: 404
    duration: ""
