---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-minimal-bpt4il4vmec9","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_piXlZfj2oEYqNW5y","name":"tf-acc-test-minimal-bpt4il4vmec9","segregate":true,"created_at":1676031309}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c136709ff8acfc60acd1bba76e1573ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "924"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_piXlZfj2oEYqNW5y
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_piXlZfj2oEYqNW5y","name":"tf-acc-test-minimal-bpt4il4vmec9","segregate":true,"created_at":1676031309}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c136709ff8acfc60acd1bba76e1573ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "923"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_piXlZfj2oEYqNW5y
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_piXlZfj2oEYqNW5y","name":"tf-acc-test-minimal-bpt4il4vmec9","segregate":true,"created_at":1676031309}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c136709ff8acfc60acd1bba76e1573ed"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "912"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_piXlZfj2oEYqNW5y
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "911"
    status: 404 Not Found
    code: 404
    duration: ""
