---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-4pgu4dzvpdof","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_8xmMYMkZOPcAqywr","name":"tf-acc-test-update-4pgu4dzvpdof","segregate":true,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b237950e0a961149bca42923528e1ca5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "162"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_8xmMYMkZOPcAqywr
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_8xmMYMkZOPcAqywr","name":"tf-acc-test-update-4pgu4dzvpdof","segregate":true,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b237950e0a961149bca42923528e1ca5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "158"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_group":{"id":"vmgrp_8xmMYMkZOPcAqywr"},"properties":{"name":"tf-acc-test-update-4pgu4dzvpdof - updated","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_
    method: PATCH
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_8xmMYMkZOPcAqywr","name":"tf-acc-test-update-4pgu4dzvpdof
      - updated","segregate":false,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"912e209e5a46c6cb3aa366af27884436"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "143"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_8xmMYMkZOPcAqywr
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_8xmMYMkZOPcAqywr","name":"tf-acc-test-update-4pgu4dzvpdof","segregate":true,"created_at":1615198843}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b237950e0a961149bca42923528e1ca5"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "127"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_8xmMYMkZOPcAqywr
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "126"
    status: 404 Not Found
    code: 404
    duration: ""
