---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-not-segregated-w9d9xt6q44hb","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4Z3LyGcjDhAmTNx1","name":"tf-acc-test-not-segregated-w9d9xt6q44hb","segregate":false,"created_at":1676031303}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3b8129f23d30df6006f660820dc5b3e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "975"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_4Z3LyGcjDhAmTNx1
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4Z3LyGcjDhAmTNx1","name":"tf-acc-test-not-segregated-w9d9xt6q44hb","segregate":false,"created_at":1676031303}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3b8129f23d30df6006f660820dc5b3e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "974"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_4Z3LyGcjDhAmTNx1
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_4Z3LyGcjDhAmTNx1","name":"tf-acc-test-not-segregated-w9d9xt6q44hb","segregate":false,"created_at":1676031303}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3b8129f23d30df6006f660820dc5b3e1"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_4Z3LyGcjDhAmTNx1
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 404 Not Found
    code: 404
    duration: ""
