---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-update-e2ac4z2l963l","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vYQh1viKaZsnvRw4","name":"tf-acc-test-update-e2ac4z2l963l","segregate":true,"created_at":1679595200}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8206dc57375c4129f96ffdb0da0018f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "967"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_vYQh1viKaZsnvRw4
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vYQh1viKaZsnvRw4","name":"tf-acc-test-update-e2ac4z2l963l","segregate":true,"created_at":1679595200}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8206dc57375c4129f96ffdb0da0018f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "966"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: |
      {"virtual_machine_group":{"id":"vmgrp_vYQh1viKaZsnvRw4"},"properties":{"name":"tf-acc-test-update-e2ac4z2l963l - updated","segregate":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_
    method: PATCH
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vYQh1viKaZsnvRw4","name":"tf-acc-test-update-e2ac4z2l963l
      - updated","segregate":false,"created_at":1679595200}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e579231b0fb145e8f7ab23df4868ecaa"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "961"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_vYQh1viKaZsnvRw4
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_vYQh1viKaZsnvRw4","name":"tf-acc-test-update-e2ac4z2l963l","segregate":true,"created_at":1679595200}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c8206dc57375c4129f96ffdb0da0018f"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "946"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_vYQh1viKaZsnvRw4
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "945"
    status: 404 Not Found
    code: 404
    duration: ""
