---
version: 1
interactions:
- request:
    body: |
      {"organization":{"sub_domain":"terraform-acc-test"},"properties":{"name":"tf-acc-test-segregated-2l3fzm798oy8","segregate":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/_/virtual_machine_groups
    method: POST
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GhezhN4MIfB68l5k","name":"tf-acc-test-segregated-2l3fzm798oy8","segregate":true,"created_at":1622137197}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a01d396d1a0a83c835dd281768eaabc2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "139"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_GhezhN4MIfB68l5k
    method: GET
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GhezhN4MIfB68l5k","name":"tf-acc-test-segregated-2l3fzm798oy8","segregate":true,"created_at":1622137197}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a01d396d1a0a83c835dd281768eaabc2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "138"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/_?virtual_machine_group%5Bid%5D=vmgrp_GhezhN4MIfB68l5k
    method: DELETE
  response:
    body: '{"virtual_machine_group":{"id":"vmgrp_GhezhN4MIfB68l5k","name":"tf-acc-test-segregated-2l3fzm798oy8","segregate":true,"created_at":1622137197}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a01d396d1a0a83c835dd281768eaabc2"
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "134"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/virtual_machine_groups/vmgrp_GhezhN4MIfB68l5k
    method: GET
  response:
    body: '{"error":{"code":"virtual_machine_group_not_found","description":"No virtual
      machine group was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "200"
      X-Ratelimit-Remaining:
      - "133"
    status: 404 Not Found
    code: 404
    duration: ""
