---
page_title: "Katapult Provider"
subcategory: ""
description: |-
  The Katapult provider provides resources to interact with the Katapult.io API
---

# Katapult Provider

The Katapult provider provides resources to interact with the Katapult.io API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

### Required

- **api_key** (String)
- **data_center_id** (String)
- **organization_id** (String)
