---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster?object_storage_cluster%5Bregion%5D=uk-lon-1&organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"object_storage_account":{"region":"uk-lon-1","created_at":1786439885,"provisioning_state":"provisioned","size":0,"bucket_count":0,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"212f1db54316f74277dc4bab6d3b3d46"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "995"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"all_buckets_read":false,"all_objects_read":false,"all_objects_write":false,"name":"tf-acc-test-buckets-bkagygqrypcn"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster/access_keys
    method: POST
  response:
    body: '{"object_storage_access_key":{"id":"objkey_GdhN4ZeTxhrFEstY","name":"tf-acc-test-buckets-bkagygqrypcn","created_at":1786439893,"region":"uk-lon-1","state":"pending","all_buckets_read":false,"all_objects_read":false,"all_objects_write":false,"read_buckets":[],"write_buckets":[],"server_url":null,"s3_access_key_id":null,"s3_secret_access_key":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"24abe0569ca0561320d6806d5b0c8300"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: '{"access_key":{"id":"objkey_GdhN4ZeTxhrFEstY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/access_keys/access_key/generate_credentials
    method: POST
  response:
    body: '{"error":{"code":"object_storage_provisioning_error","description":"Provisioning
      is in progress. Please try again later.","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 422 Unprocessable Entity
    code: 422
    duration: ""
[...]
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"access_control_list":{"all_keys_read":false,"all_keys_write":false,"public_list":false,"public_read":false,"read_key_ids":["objkey_GdhN4ZeTxhrFEstY"],"write_key_ids":["objkey_GdhN4ZeTxhrFEstY"]},"name":"tf-acc-test-buckets-bkagygqrypcn-bkt","serve_static_site":false,"static_site_error":"","static_site_index":""}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster/buckets
    method: POST
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-buckets-bkagygqrypcn-bkt","label":null,"created_at":1786439926,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":false,"static_site_index":null,"static_site_error":null,"cors_origins":[],"public_url":"https://tf-acc-test-buckets-bkagygqrypcn-bkt.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":false,"public_list":false,"all_keys_read":false,"all_keys_write":false,"read_key_ids":["objkey_GdhN4ZeTxhrFEstY"],"write_key_ids":["objkey_GdhN4ZeTxhrFEstY"]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a57ceeda99f839eb819f331eb3b1a20"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "986"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket?bucket%5Bname%5D=tf-acc-test-buckets-bkagygqrypcn-bkt&object_storage_cluster%5Bregion%5D=uk-lon-1
    method: GET
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-buckets-bkagygqrypcn-bkt","label":null,"created_at":1786439926,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":false,"static_site_index":null,"static_site_error":null,"cors_origins":[],"public_url":"https://tf-acc-test-buckets-bkagygqrypcn-bkt.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":false,"public_list":false,"all_keys_read":false,"all_keys_write":false,"read_key_ids":["objkey_GdhN4ZeTxhrFEstY"],"write_key_ids":["objkey_GdhN4ZeTxhrFEstY"]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3a57ceeda99f839eb819f331eb3b1a20"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/object_storage/access_keys/access_key?access_key%5Bid%5D=objkey_GdhN4ZeTxhrFEstY
    method: GET
  response:
    body: '{"object_storage_access_key":{"id":"objkey_GdhN4ZeTxhrFEstY","name":"tf-acc-test-buckets-bkagygqrypcn","created_at":1786439893,"region":"uk-lon-1","state":"pending","all_buckets_read":false,"all_objects_read":false,"all_objects_write":false,"read_buckets":["tf-acc-test-buckets-bkagygqrypcn-bkt"],"write_buckets":["tf-acc-test-buckets-bkagygqrypcn-bkt"],"server_url":"uk-lon-1.katapultobjects.com:443","s3_access_key_id":"b3d888fc80f74ab5a3700d1149c087a8","s3_secret_access_key":null}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20dee9a5c993b6bfacfa3676c0c03dca"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "984"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"bucket":{"name":"tf-acc-test-buckets-bkagygqrypcn-bkt"},"object_storage_cluster":{"region":"uk-lon-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c955e57777ec0d73639dca6748560d00"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"access_key":{"id":"objkey_GdhN4ZeTxhrFEstY"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/access_keys/access_key
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c955e57777ec0d73639dca6748560d00"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 200 OK
    code: 200
    duration: ""
[...]
