---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster?object_storage_cluster%5Bregion%5D=uk-lon-1&organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"object_storage_account":{"region":"uk-lon-1","created_at":1778600560,"provisioning_state":"provisioned","size":0,"bucket_count":0,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"295c5a6e23c68510edc2594abfbb47c0"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "991"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"access_control_list":{"all_keys_read":false,"all_keys_write":false,"public_list":true,"public_read":true,"read_key_ids":[],"write_key_ids":[]},"name":"tf-acc-test-static-site-snglmnva3akv","serve_static_site":true,"static_site_error":"error.html","static_site_index":"index.html"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster/buckets
    method: POST
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-static-site-snglmnva3akv","label":null,"created_at":1778600568,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":true,"static_site_index":"index.html","static_site_error":"error.html","public_url":"https://tf-acc-test-static-site-snglmnva3akv.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":true,"public_list":true,"all_keys_read":false,"all_keys_write":false,"read_key_ids":[],"write_key_ids":[]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b77bb3073273c442ae3db5285a4c62f8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "968"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket?bucket%5Bname%5D=tf-acc-test-static-site-snglmnva3akv&object_storage_cluster%5Bregion%5D=uk-lon-1
    method: GET
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-static-site-snglmnva3akv","label":null,"created_at":1778600568,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":true,"static_site_index":"index.html","static_site_error":"error.html","public_url":"https://tf-acc-test-static-site-snglmnva3akv.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":true,"public_list":true,"all_keys_read":false,"all_keys_write":false,"read_key_ids":[],"write_key_ids":[]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b77bb3073273c442ae3db5285a4c62f8"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "960"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"bucket":{"name":"tf-acc-test-static-site-snglmnva3akv"},"object_storage_cluster":{"region":"uk-lon-1"},"properties":{"access_control_list":{},"static_site_error":"404.html","static_site_index":"home.html"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket
    method: PATCH
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-static-site-snglmnva3akv","label":null,"created_at":1778600568,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":true,"static_site_index":"home.html","static_site_error":"404.html","public_url":"https://tf-acc-test-static-site-snglmnva3akv.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":true,"public_list":true,"all_keys_read":false,"all_keys_write":false,"read_key_ids":[],"write_key_ids":[]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"51d072cce4985f32b1e69b3bc9c9a28a"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "901"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"bucket":{"name":"tf-acc-test-static-site-snglmnva3akv"},"object_storage_cluster":{"region":"uk-lon-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c955e57777ec0d73639dca6748560d00"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "840"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket?bucket%5Bname%5D=tf-acc-test-static-site-snglmnva3akv&object_storage_cluster%5Bregion%5D=uk-lon-1
    method: GET
  response:
    body: '{"error":{"code":"object_storage_bucket_not_found","description":"No object
      storage bucket was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "838"
    status: 404 Not Found
    code: 404
    duration: ""
