---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster?object_storage_cluster%5Bregion%5D=uk-lon-1&organization%5Bsub_domain%5D=terraform-acc-test
    method: GET
  response:
    body: '{"object_storage_account":{"region":"uk-lon-1","created_at":1786460565,"provisioning_state":"provisioned","size":0,"bucket_count":0,"data_center":{"id":"loc_UUhPmoCbpic6UX0Y","name":"London","permalink":"uk-lon-01","country":{"id":"ctry_6AO9tYYugvTGnd5b","name":"United
      Kingdom","iso_code2":"GB","iso_code3":"GBR","time_zone":"Europe/London","eu":false}}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d6d56ce8753dda60ab294083c282bc34"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "994"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: '{"object_storage_cluster":{"region":"uk-lon-1"},"organization":{"sub_domain":"terraform-acc-test"},"properties":{"access_control_list":{"all_keys_read":false,"all_keys_write":false,"public_list":false,"public_read":false,"read_key_ids":[],"write_key_ids":[]},"label":"My
      Bucket","name":"tf-acc-test-update-label-o2vquqyrqjo6","serve_static_site":false,"static_site_error":"","static_site_index":""}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/organizations/organization/object_storage/object_storage_cluster/buckets
    method: POST
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-update-label-o2vquqyrqjo6","label":"My
      Bucket","created_at":1786460572,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":false,"static_site_index":null,"static_site_error":null,"cors_origins":[],"public_url":"https://tf-acc-test-update-label-o2vquqyrqjo6.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":false,"public_list":false,"all_keys_read":false,"all_keys_write":false,"read_key_ids":[],"write_key_ids":[]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f54617a4ed926bf6b0bc336ed47504e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "993"
    status: 201 Created
    code: 201
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket?bucket%5Bname%5D=tf-acc-test-update-label-o2vquqyrqjo6&object_storage_cluster%5Bregion%5D=uk-lon-1
    method: GET
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-update-label-o2vquqyrqjo6","label":"My
      Bucket","created_at":1786460572,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":false,"static_site_index":null,"static_site_error":null,"cors_origins":[],"public_url":"https://tf-acc-test-update-label-o2vquqyrqjo6.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":false,"public_list":false,"all_keys_read":false,"all_keys_write":false,"read_key_ids":[],"write_key_ids":[]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"f54617a4ed926bf6b0bc336ed47504e6"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "992"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"bucket":{"name":"tf-acc-test-update-label-o2vquqyrqjo6"},"object_storage_cluster":{"region":"uk-lon-1"},"properties":{"access_control_list":{},"label":"Updated
      Bucket Label"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket
    method: PATCH
  response:
    body: '{"object_storage_bucket":{"name":"tf-acc-test-update-label-o2vquqyrqjo6","label":"Updated
      Bucket Label","created_at":1786460572,"state":"pending","custom_domains":[],"object_count":0,"size":0,"serve_static_site":false,"static_site_index":null,"static_site_error":null,"cors_origins":[],"public_url":"https://tf-acc-test-update-label-o2vquqyrqjo6.uk-lon-1.katapultobjects.com/","access_control_list":{"public_read":false,"public_list":false,"all_keys_read":false,"all_keys_write":false,"read_key_ids":[],"write_key_ids":[]}}}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"920c0e6635b4c0cfdd58d9eebf5cd0cc"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "985"
    status: 200 OK
    code: 200
    duration: ""
[...]
- request:
    body: '{"bucket":{"name":"tf-acc-test-update-label-o2vquqyrqjo6"},"object_storage_cluster":{"region":"uk-lon-1"}}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket
    method: DELETE
  response:
    body: '{"success":true}'
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c955e57777ec0d73639dca6748560d00"
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "971"
    status: 200 OK
    code: 200
    duration: ""
- request:
    body: ""
    form: {}
    headers:
    url: https://api.katapult.io/core/v1/object_storage/object_storage_cluster/buckets/bucket?bucket%5Bname%5D=tf-acc-test-update-label-o2vquqyrqjo6&object_storage_cluster%5Bregion%5D=uk-lon-1
    method: GET
  response:
    body: '{"error":{"code":"object_storage_bucket_not_found","description":"No object
      storage bucket was found matching any of the criteria provided in the arguments","detail":{}}}'
    headers:
      Content-Type:
      - application/json
      X-Api-Schema:
      - json-error
      X-Ratelimit-Permitted:
      - "1000"
      X-Ratelimit-Remaining:
      - "970"
    status: 404 Not Found
    code: 404
    duration: ""
